.modal{id: "add-reminder-candidates" }
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
          ×
        %h4.modal-title
          %strong Add New Reminder
      .modal-body.no-padding
        = form_for Reminder.new , url:create_bulk_candidates_reminders_path,method: :post ,html:{ class:'form-horizontal',id: 'group-val'} do |f|
          %br
          = hidden_field_tag 'candidates_ids',value ='',{class: "candidates_ids"}
          .form-group
            %label.col-md-3.control-label
              Remind At
              %sup.text-danger *
            .col-md-8
              = f.text_field :remind_at ,required: true ,class:'form-control',id:"remind"
          -#.form-group
            %label.col-md-3.control-label
              Select Candidate
              %sup.text-danger *
            .col-md-8
              = select_tag 'candidate_ids[]', options_for_select( current_company.candidates.collect { |c| [c.first_name,c.id] } ),class: 'form-control select2',:multiple => true
          .form-group
            %label.col-md-3.control-label
              Memo
              %sup.text-danger *
            .col-md-8
              = f.text_area :title , required: true ,class:'form-control' ,placeholder: "Memo here"

          .modal-footer
            = f.button "submit".html_safe , class: 'btn btn-primary btn-sm' , data: {disable_with: ("Submitting...")} ,id: 'form_id'
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
              Cancel
        :css
          .select2{
            width: 389px;
            }


