#content
  .row
    .col-xs-12.col-sm-3.col-md-3.col-lg-3.pull-right
      = link_to 'New', new_role_path ,class: "btn btn-success btn-md pull-right header-btn", remote: true
  %section.margin-top-10
    / row
    .row
      / NEW WIDGET START
      %article.col-xs-12.col-sm-12.col-md-12.col-lg-12
        #wid-id-0.jarviswidget
          %header
            %span.widget-icon
              %i.fa.fa-table
            %h2 Roles
          %div
            .widget-body.no-padding
              %table#dt_basic.table.table-striped.table-bordered.table-hover
                %thead
                  %tr
                    %th{"data-hide" => "phone",:width => "2%"} ID
                    %th{"data-class" => "expand",:width => "10%"}
                      %i.fa.fa-fw.fa-user.text-muted.hidden-md.hidden-sm.hidden-xs
                      Name
                    %th{"data-hide" => "phone,tablet",:width => "40%"}Permisions
                    %th{"data-hide" => "phone,tablet",:width => "10%"}
                      %i.fa.fa-fw.fa-calendar.txt-color-blue.hidden-md.hidden-sm.hidden-xs
                      Date
                    %th{style:"width:20%"}
                      Actions
                %tbody
                  - @roles.each_with_index do |r , index|
                    %tr
                      %td= index+1
                      %td= r.name
                      %td
                        - r.permissions.each do |p|
                          %span.badge.bg-color-blue.margin-bottom-5
                            = p.name.titleize
                      %td= r.created_at.try(:strftime,'%B %d, %Y')
                      %td
                        = link_to raw("<i class='fa fa-pencil '></i>") , edit_role_path(r) , class: 'btn btn-xs btn-default btn-primary' , remote: true

  - content_for :scripts do
    :javascript
      // DO NOT REMOVE : GLOBAL FUNCTIONS!

      $(document).ready(function() {

        pageSetUp();
        var responsiveHelper_dt_basic = undefined;
        var responsiveHelper_datatable_fixed_column = undefined;
        var responsiveHelper_datatable_col_reorder = undefined;
        var responsiveHelper_datatable_tabletools = undefined;

        var breakpointDefinition = {
          tablet : 1024,
          phone : 480
        };

        $('#dt_basic').dataTable({
          "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+
          "t"+
          "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
          "autoWidth" : true,
          "oLanguage": {
            "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
          },
          "preDrawCallback" : function() {
            // Initialize the responsive datatables helper once.
            if (!responsiveHelper_dt_basic) {
              responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_basic'), breakpointDefinition);
            }
          },
          "rowCallback" : function(nRow) {
            responsiveHelper_dt_basic.createExpandIcon(nRow);
          },
          "drawCallback" : function(oSettings) {
            responsiveHelper_dt_basic.respond();
          }
        });

        /* END BASIC */

        /* COLUMN FILTER  */
        var otable = $('#datatable_fixed_column').DataTable({
          "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6 hidden-xs'f><'col-sm-6 col-xs-12 hidden-xs'<'toolbar'>>r>"+
          "t"+
          "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
          "autoWidth" : true,
          "oLanguage": {
            "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
          },
          "preDrawCallback" : function() {
            // Initialize the responsive datatables helper once.
            if (!responsiveHelper_datatable_fixed_column) {
              responsiveHelper_datatable_fixed_column = new ResponsiveDatatablesHelper($('#datatable_fixed_column'), breakpointDefinition);
            }
          },
          "rowCallback" : function(nRow) {
            responsiveHelper_datatable_fixed_column.createExpandIcon(nRow);
          },
          "drawCallback" : function(oSettings) {
            responsiveHelper_datatable_fixed_column.respond();
          }

        });
      });
