%div
  .element-wrapper.m-2
    .element-box
      .mt-3.mb-5{style: "margin-left: -21px;"}
        %ul.bootstrapWizard.form-wizard{style: 'display: flex; justify-content: space-evenly;'}
          %li{class: "w-100 #{"active"  if @tab.eql?("commission")}","data-target" => "#step2"}
            %a{"data-toggle" => "tab", :href => "#tab2"}
              %span.step 1
              %span.title Commision Cal
          %li{class: "w-100 #{"active" if @tab.eql?("calculate")}","data-target" => "#step3"}
            %a{"data-toggle" => "tab", :href => "#tab3"}
              %span.step 2
              %span.title Sal Calculate
          %li{class: "w-100 #{"active" if @tab.eql?("process")}","data-target" => "#step4"}
            %a{"data-toggle" => "tab", :href => "#tab4"}
              %span.step 3
              %span.title Salary Process
          %li{class: "w-100 #{"active"  if @tab.eql?("pay")}","data-target" => "#step5"}
            %a{"data-toggle" => "tab", :href => "#tab5"}
              %span.step 4
              %span.title Finalize & Pay
          %li{class: "w-100 #{"active" if @tab.eql?("clearing")}","data-target" => "#step6"}
            %a{"data-toggle" => "tab", :href => "#tab6"}
              %span.step 5
              %span.title Clearing        

      = form_with(url: salaries_path, method: :get, id: 'salaries') do |f|
        %ul.nav.nav-pills.smaller.d-md-flex{style: "justify-content: space-evenly;"}
          - (Date.today.beginning_of_year...Date.today.end_of_year).map(&:beginning_of_month).uniq.each_slice(2) do |months|
            %div
              - months.each do |month|
                %li.nav-item
                  %a{class:"nav-link cmc #{@cycle.to_s == month.to_s ? "active show" : 'show'}", "data-month" => "#{month}" ,"data-toggle" => "tab", :href => "#"}
                    = "#{month.strftime("%Y-%m")}(#{month.strftime("%d")}-#{month.end_of_month.strftime("%d")})"
            %br
        .d-flex{style: "flex-wrap: wrap;justify-content: space-between;"}
          %ul.nav.nav-pills.smaller.mt-3{style: "border-bottom: none;"}
            %li.nav-item.ml-3
              %a{class: " border_btn nav-link ss fd upcomming #{ "active" if @tab.eql?("upcomming") }","data-tab"=> 'upcomming', href:'#'} Upcomming
            %li.nav-item
              %a{class: "border_btn nav-link ss fd commission #{ "active" if @tab.eql?("commission") }","data-tab"=> 'commission',href:'#'} Commission Cal
            %li.nav-item
              %a{class: "border_btn nav-link ss fd calculate #{ "active" if @tab.eql?("calculate") }","data-tab"=> 'calculate', href:'#'} Sal Calculate
            %li.nav-item
              %a{class: "border_btn nav-link ss fd process #{ "active" if @tab.eql?("process") }","data-tab"=> 'process', href:'#'} Salary Process
            %li.nav-item
              %a{class: "border_btn nav-link ss fd pay #{ "active" if @tab.eql?("pay") }","data-tab"=> 'pay', href:'#'} Finalize & Pay
            %li.nav-item
              %a{class: "border_btn nav-link ss fd clearing #{ "active" if @tab.eql?("clearing") }","data-tab"=> 'clearing', href:'#'} Clearing

          %ul.nav.nav-pills.smaller.mt-3{:style => "border-bottom: none;float:right;margin-right:30px !important;"}
            %li.nav-item.ml-3
              %a.nav-link.ts.fd.upcomming_timesheets.border_btn{:href => "#"} Export
            %li.nav-item.ml-3
              %a.nav-link.ts.fd.submitted_timesheets.border_btn{:href => "#"} Print
        .divider_salaries
        .ts_header.mt-2
          .form-group.w-50.d-flex
            = f.text_field :start_date, class: 'p_date form-control m-1',placeholder: 'Select Start Data', value: @start_date,autocomplete: 'off'
            = f.text_field :end_date, class: 'p_date form-control m-1',placeholder: 'Select End Date', value: @end_date,autocomplete: 'off'
            = f.hidden_field :tab, id: 'ts_tag', value: "All"
            = f.hidden_field :cycle, id: 'ss_cycle'
    .element-box
      .salary-button_holder
        .buttons_wrap
          - if ["commission"].include?(@tab)
            =button_tag "Aggregate",type: "button", "data-link": aggregate_salary_salaries_path(format: :csv), class: 'btn btn-primary aggregate'
            =button_tag "Save & Next",type: "button","data-link": calculate_salary_commission_salaries_path, class: 'btn btn-primary aggregate'
            - @tab_ref =  calculate_salary_commission_salaries_path
          - if ["calculate"].include?(@tab)
            =button_tag "Aggregate",type: "button", "data-link": aggregate_salary_salaries_path(format: :csv), class: 'btn btn-primary aggregate'
            =button_tag "Save & Next",type: "button", "data-link": add_contract_expense_amount_salaries_path, class: 'btn btn-primary aggregate'
            - @tab_ref = add_contract_expense_amount_salaries_path
          - if  @tab.eql?("process")
            =link_to "Input from last time", '#', class: 'btn btn-primary mr-2'
            =link_to "Save Salary", '#', class: 'btn btn-primary cc_form_submitter'
            =link_to "Get Approval", '#', class: 'btn btn-primary'
            - @tab_ref = process_salary_expenses_salaries_path
          - if @tab.eql?("pay")
            =link_to "Share with payroll", '#', class: 'btn btn-primary'
          - if  @tab.eql?("clearing")
            =link_to "Copy from last time", '#', class: 'btn btn-primary'
            =link_to "Sattle company expenses per contract", '#', class: 'btn btn-primary cc_form_submitter'
            - @tab_ref = add_contract_addable_expense_amount_salaries_path
        .search_wrap
          .form-group
            = text_field_tag :search,nil, class: 'form-control', placeholder: "Search"
      = form_with url: @tab_ref, id: "cc_form" do |f|
        .table-responsive
          = render "company/salaries/partials/salary_#{@tab}", contract_cycles: @contract_cycles,tab: @tab

- content_for :scripts do
  :javascript
    $(document).ready(function() {
      default_active_nav('.ln-9');
    });