#content
  .row
  %section
#content
  .row
  %section
    .row
      %article.col-sm-12.col-md-12.col-lg-12
        #wid-id-0.jarviswidget{"data-widget-deletebutton" => "false", "data-widget-editbutton" => "false"}
          %header
            %span.widget-icon
              %i.fa.fa-check
            %h2 Salary Clear Cycles 
          %div.table-responsive
            %table.table.table-bordered.account_detail
              %thead
                %tr
                  %th
                    Start Date - End date
                  %th Payroll date
                  %th Calculation date
                  %th Process date
              %tbody
                - @dates.each do |x,y|
                  %tr
                    %td
                      = y[:start_date].to_s+'  - '+y[:end_date].to_s
                    %td
                      = y[:doc_date].inspect
                    %td
                      = y[:cal_date].inspect
                    %td
                      = y[:pro_date].inspect


#content
  .row
  %section
#content
  .row
  %section
    .row
      %article.col-sm-12.col-md-12.col-lg-12
        #wid-id-0.jarviswidget{"data-widget-deletebutton" => "false", "data-widget-editbutton" => "false"}
          %header
            %span.widget-icon
              %i.fa.fa-check
            %h2 Salary Clear Cycles 
          %div.table-responsive
            %table.table.table-bordered.account_detail
              %thead
                %tr
                  %th
                    Start Date - End date
                  %th Payroll date
                  %th Calculation date
                  %th Process date
              %tbody
                - Salary.all.order(id: :asc).each do |s|
                  %tr
                    %td
                      = s.start_date.to_s+'  - '+s.end_date.to_s
                    %td
                      = s.sclr_cycle.doc_date.inspect
                    %td
                      = s.sc_cycle.doc_date.inspect
                    %td
                      = s.sp_cycle.doc_date.inspect
