= render partial: 'company/companies/sub_menu_company'
#content
  %section#widget-grid
    .row
      %article.col-sm-12.col-md-12.col-lg-12
        #wid-id-0.jarviswidget
          %header
            %span.widget-icon
              %i.fa.fa-eye
            %h2 Payroll
          / widget div
          %div
            .jarviswidget-editbox
            .widget-body
              .row{style: "padding: 15px;"}
                = form_for @payroll,url: payroll_term_infos_path,method: :post do |f|
                  .row
                    .col-md-12
                      .form-group
         
                  .row
                    .col-md-4
                      %label.control-label
                        Payroll Frequency
                      .select
                        .plain-select
                          = f.select :payroll_type, Contract.time_sheet_frequencies.map { |key, value| [key.humanize, key] }, {selected: @payroll_detail&.payroll_type},{class: "form-control buy-sal-cal" }
                  

                              




                  .row
                    .col-md-4
                      %label.control-label
                        Payroll Calculation
                    .col-md-4
                      .b-sal-cal
                        %div{:class => "form-group daily #{f.object.payroll_type != 'daily' ? 'hidden' : ''}"}
                          %label.control-label
                            Select Time
                            = f.text_field :scal_day_time, class: "form-control con-time"
                        %div{:class => "form-group week #{f.object.payroll_type != 'weekly' ? 'hidden' : ''}"}
                          %label.control-label
                            Select day of week
                          .select
                            .plain-select
                              = f.select :scal_day_of_week, [["Every Monday", "mon"], ["Every Tuesday", "tue"], ["Every Wednesday", "wed"], ["Every Thursday", "thu"], ["Every Friday", "fri"], ["Every Saturday", "sat"], ["Every Sunday", "sun"]], {},{class: "form-control" }
                        %div{:class => "form-group month #{['twice a month', 'monthly'].include?(f.object.payroll_type) ? '' : 'hidden'}"}
                          %label.control-label
                            Select date
                          .select
                            = f.text_field :scal_date_1, class: "date_1 form-control", placeholder: "DD/MM/YYYY"
                        %div{:class => "form-group twice-month #{f.object.payroll_type != 'twice a month' ? 'hidden' : ''}"}
                          %label.control-label
                            Select second date
                          .select
                            = f.text_field :scal_date_2, class: "date_1 form-control", placeholder: "DD/MM/YYYY"
                        %span{:class => "form-group month #{['twice a month', 'monthly'].include?(f.object.payroll_type) ? '' : 'hidden'}"} OR
                        = f.check_box :scal_end_of_month, class: "month #{['twice a month', 'monthly'].include?(f.object.payroll_type) ? '' : 'hidden'}"
                        = f.label :scal_end_of_month, "End of month", class: "month #{['twice a month', 'monthly'].include?(f.object.payroll_type) ? '' : 'hidden'}"

                  .row
                    .col-md-12
                      .form-group
                        .row
                          .col-md-4
                            %label.control-label
                              Payroll Process

                          .col-md-4
                            .b-sal-cal
                              %div{:class => "form-group daily #{f.object.payroll_type != 'daily' ? 'hidden' : ''}"}
                                %label.control-label
                                  Select Time
                                  = f.text_field :sp_day_time, class: "form-control con-time"
                              %div{:class => "form-group week #{f.object.payroll_type != 'weekly' ? 'hidden' : ''}"}
                                %label.control-label
                                  Select day of week
                                .select
                                  .plain-select
                                    = f.select :sp_day_of_week, [["Every Monday", "mon"], ["Every Tuesday", "tue"], ["Every Wednesday", "wed"], ["Every Thursday", "thu"], ["Every Friday", "fri"], ["Every Saturday", "sat"], ["Every Sunday", "sun"]], {},{class: "form-control" }
                              %div{:class => "form-group month #{['twice a month', 'monthly'].include?(f.object.payroll_type) ? '' : 'hidden'}"}
                                %label.control-label
                                  Select date
                                .select
                                  = f.text_field :sp_date_1, class: "date_1 form-control", placeholder: "DD/MM/YYYY"
                              %div{:class => "form-group twice-month #{f.object.payroll_type != 'twice a month' ? 'hidden' : ''}"}
                                %label.control-label
                                  Select second date
                                .select
                                  = f.text_field :sp_date_2, class: "date_1 form-control", placeholder: "DD/MM/YYYY"
                              %span{:class => "form-group month #{['twice a month', 'monthly'].include?(f.object.payroll_type) ? '' : 'hidden'}"} OR
                              = f.check_box :sp_end_of_month, class: "month #{['twice a month', 'monthly'].include?(f.object.payroll_type) ? '' : 'hidden'}"
                              = f.label :sp_end_of_month, "End of month", class: "month #{['twice a month', 'monthly'].include?(f.object.payroll_type) ? '' : 'hidden'}"

                  .row
                    .col-md-12
                      .form-group
                        .row
                          .col-md-4
                            %label.control-label
                              Payroll Clear
                          .col-md-3
                            .b-sal-cal
                              %div{:class => "form-group daily #{f.object.payroll_type != 'daily' ? 'hidden' : ''}"}
                                %label.control-label
                                  Select Time
                                  = f.text_field :sclr_day_time, class: "form-control con-time"
                              %div{:class => "form-group week #{f.object.payroll_type != 'weekly' ? 'hidden' : ''}"}
                                %label.control-label
                                  Select day of week
                                .select
                                  .plain-select
                                    = f.select :sclr_day_of_week, [["Every Monday", "mon"], ["Every Tuesday", "tue"], ["Every Wednesday", "wed"], ["Every Thursday", "thu"], ["Every Friday", "fri"], ["Every Saturday", "sat"], ["Every Sunday", "sun"]], {},{class: "form-control" }
                              %div{:class => "form-group month #{['twice a month', 'monthly'].include?(f.object.payroll_type) ? '' : 'hidden'}"}
                                %label.control-label
                                  Select date
                                .select
                                  = f.text_field :sclr_date_1, class: "date_1 form-control", placeholder: "DD/MM/YYYY"
                              %div{:class => "form-group twice-month #{f.object.payroll_type != 'twice a month' ? 'hidden' : ''}"}
                                %label.control-label
                                  Select second date
                                .select
                                  = f.text_field :sclr_date_2, class: "date_1 form-control", placeholder: "DD/MM/YYYY"
                              %span{:class => "form-group month #{['twice a month', 'monthly'].include?(f.object.payroll_type) ? '' : 'hidden'}"} OR
                              = f.check_box :sclr_end_of_month, class: "month #{['twice a month', 'monthly'].include?(f.object.payroll_type) ? '' : 'hidden'}"
                              = f.label :sclr_end_of_month, "End of month", class: "month #{['twice a month', 'monthly'].include?(f.object.payroll_type) ? '' : 'hidden'}"
                          .col-md-2
                            .b-sal-cal.term-no
                              %div{:class => "month"}
                              %label.control-label
                                Select Term 1
                              .select.form-group
                                = f.select :term_no, options_for_select( (1..30).to_a+['End of month'],f.object.term_no), {}, {class: 'form-control'}
                              %div{:class => "form-group twice-month #{f.object.payroll_type != 'twice a month' ? 'hidden' : ''}"}
                                %label.control-label
                                  Select Term 2
                                .select
                                  = f.select :term_no_2, options_for_select( (1..30).to_a+['End of month'],f.object.term_no_2), {}, {class: 'form-control'}


                          .col-md-3
                            .b-sal-cal1
                              %div{:class => "month"}
                              %label.control-label
                                Select Payroll 1
                              .select.payrol
                                .plain-select.payroll-term

                            .b-sal-cal
                              %div{:class => "form-group twice-month #{f.object.payroll_type != 'twice a month' ? 'hidden' : ''}"}
                                %label.control-label
                                  Select Payroll 2
                                .select.payrol-2
                                  .plain-select.payroll-term-2


                    %hr
                    .row
                      .col-md-12
                        .form-group
                      %span.col-md-2    
                        %label.control-label Holiday Schedule
                        %i.fa.fa-info-circle
                      .col-md-10
                        .col-md-5
                          .form-group.mr-top-10
                            %label.radio-container
                              Payroll Before Holiday
                              = f.radio_button :weekend_sch, "Payroll Before Holiday", checked:!@payroll_detail.blank? ? @payroll_detail.weekend_sch == "Payroll Before Holiday" ? true :false : "", class: 'set-checkbox payroll-schedule-btn'
                              %span.radio-checkmark
                        .col-md-5 
                          .form-group.mr-top-10
                            %label.radio-container
                              Payroll After Holiday
                              = f.radio_button :weekend_sch, "Payroll After Holiday", checked:!@payroll_detail.blank? ? @payroll_detail.weekend_sch == "Payroll After Holiday" ? true :false : "", class: 'set-checkbox payroll-schedule-btn'
                              %span.radio-checkmark

                          
                    .row
                      .col-md-12.payroll_term_info_dtpicker
                        %div{id: "datepicker"}
                    %hr
                    .row.form-group
                      .col-lg-12.multi-field-wrapper
                        .form-group.candidate-association  
                          .multi-fields
                            .links
                            = f.fields_for :tax_infos, f.object.tax_infos do |b|
                              = render 'company/payroll_term_infos/tax_info_fields', f: b
                              %strong
                            = link_to_add_association '+ Add Tax', f, :tax_infos, class: 'btn btn-success', partial: 'company/payroll_term_infos/tax_info_fields'

                            / = link_to_add_fields 'company/payroll_term_infos/tax_info_fields', f, :tax_infos

            

                        .row
                          .col-lg-12
                            .form-group
                              %button.btn.btn-primary{:type => "submit"}
                                Save

                .row
                  .col-md-4
                    = link_to 'Generate Payroll Cycle', generate_payroll_dates_payroll_term_infos_path, class: 'btn btn-primary' if current_company&.payroll_infos&.first&.present?
- content_for :scripts do
  :javascript
    $(document).on("click",".remove-tax-fields", function(){
      $(this).closest('div.multi-field-container').remove();
    });
    $(document).ready(function() {

      $('.date_1').datepicker({
        dateFormat : 'dd/mm/yy'
      });


      if($('#payroll_info_payroll_type').val() == 'weekly' || $('#payroll_info_payroll_type').val() == 'biweekly' ){
        $(".b-sal-cal").find('.week').removeClass("hidden")
        $(".term-no").find('.select').addClass('hidden')
        $(".term-no").find('.control-label').addClass('hidden')
        $('.plain-select.payroll-term').html("<select class='form-control' name='payroll_info[payroll_term]' id='payroll_info_payroll_term'><option value='1'>1 Day</option> <option value='2'>2 Days</option> <option value='3'>3 Days</option> <option value='4'>4 Days</option> <option value='5'>5 Days</option> <option value='6'>6 Days</option> <option value='7'>7 Days</option> <option value='14'>14 Days</option></select>")

      } else if($('#payroll_info_payroll_type').val() == 'monthly'){
        $('.plain-select.payroll-term').html("<select class='form-control month-term' name='payroll_info[payroll_term]' id='payroll_info_payroll_term'><option value='0'>Current month</option> <option value='1'>1 previous month</option> <option value='2'>2 previous month</option></select>")
      }else if($('#payroll_info_payroll_type').val() == 'twice a month'){

        $('.plain-select.payroll-term').html("<select class='form-control month-term' name='payroll_info[payroll_term]' id='payroll_info_payroll_term'><option value='0'>Current month</option> <option value='1'>1 previous month</option> <option value='2'>2 previous month</option></select>")

        $('.plain-select.payroll-term-2').html("<select class='form-control month-term' name='payroll_info[payroll_term_2]' id='payroll_info_payroll_term_2'><option value='0'>Current month</option> <option value='1'>1 previous month</option> <option value='2'>2 previous month</option></select>")
      }else if($('#payroll_info_payroll_type').val() == 'daily'){
        $(".term-no").find('.select').addClass('hidden')
        $(".term-no").find('.control-label').addClass('hidden')
        $('.plain-select.payroll-term').html("<select class='form-control' name='payroll_info[payroll_term]' id='payroll_info_payroll_term'><option value='1'>1 Day</option> <option value='2'>2 Days</option> <option value='3'>3 Days</option> <option value='4'>4 Days</option> <option value='5'>5 Days</option> <option value='6'>6 Days</option> <option value='7'>7 Days</option> <option value='14'>14 Days</option></select>")
      }

      $('#payroll_info_payroll_term').val(#{@payroll_detail&.payroll_term})
      $('#payroll_info_payroll_term_2').val(#{@payroll_detail&.payroll_term_2})

      $(".buy-sal-cal").on("change", function(){
        $('.plain-select.payroll-term').find('.month-terms').remove();
        $(".b-sal-cal").children().addClass("hidden");
        if($(this).val() == "daily"){
          $(".b-sal-cal").find('.daily').removeClass("hidden");
        } else if($(this).val() == "weekly" || $(this).val() == "biweekly"){
          $(".b-sal-cal").find('.week').removeClass("hidden");
          $('.plain-select.payroll-term').html("<select class='form-control' name='payroll_info[payroll_term]' id='payroll_info_payroll_term'><option value='1'>1 Day</option> <option value='2'> Days</option> <option value='3'>3 Days</option> <option value='4'>4 Days</option> <option value='5'>5 Days</option> <option value='6'>6 Days</option> <option value='7'>7 Days</option> <option value='14'>14 Days</option></select>")
        } else if($(this).val() == "monthly"){
          $(".b-sal-cal").find('.month').removeClass("hidden");
          $(".term-no").find('.select').removeClass('hidden')
          $(".term-no").find('.control-label').removeClass('hidden')
          $('.plain-select.payroll-term').html("<select class='form-control month-term' name='payroll_info[payroll_term]' id='payroll_info_payroll_term'><option value='0'>Current month</option> <option value='1'>1 previous month</option> <option value='2'>2 previous month</option></select>")
        }else if($(this).val() == "twice a month"){
          $(".b-sal-cal").find('.twice-month, .month').removeClass("hidden");
          $(".term-no").find('.select').removeClass('hidden')
          $(".term-no").find('.control-label').removeClass('hidden')
          $('.plain-select.payroll-term').html("<select class='form-control month-term' name='payroll_info[payroll_term]' id='payroll_info_payroll_term'><option value='0'>Current month</option> <option value='1'>1 previous month</option> <option value='2'>2 previous month</option></select>")
          $('.plain-select.payroll-term-2').html("<select class='form-control month-term' name='payroll_info[payroll_term_2]' id='payroll_info_payroll_term_2'><option value='0'>Current month</option> <option value='1'>1 previous month</option> <option value='2'>2 previous month</option></select>")

        }
      });


    $(".payroll-schedule-btn").on("click", function(){
      if($(this).attr("id") == "payroll_info_weekend_sch_payroll_after_weekend"){
        $("#payroll_info_weekend_sch_payroll_before_weekend").removeAttr("checked", "checked");
      }else{
        $("#payroll_info_weekend_sch_payroll_after_weekend").removeAttr("checked", "checked");
      }
      $("#"+$(this).attr("id")).attr("checked", "checked");
    });

    
    $("#payroll_info_payroll_date").on("change", function(){
      var date_present = $(this).val();
      var date_present1 = $("#payroll_info_sal_cal_date").val();
        date = date_present.split("/");
        if(date_present1!='')
          date1 = date_present1.split("/");
        var arr = [];
          for (var i = 1; i <= 12; i++) {
            
            var new_date = new Date(i+'/'+date[1]+'/'+date[2]);
            var day = new_date.getDay();

            if( $("#payroll_info_weekend_sch_payroll_before_weekend").attr("checked")){
              if(day == 6){
                var saturday = parseInt(date[1]) -1
                arr.push(i+'/'+saturday+'/'+date[2]);
              }else if(day == 0){
                var sunday = parseInt(date[1]) -2
                arr.push(i+'/'+sunday+'/'+date[2]);
              }else{
                arr.push(i+'/'+date[1]+'/'+date[2]);
              }
            }else{
              if(day == 6){
                var saturday = parseInt(date[1]) +2
                arr.push(i+'/'+saturday+'/'+date[2]);
              }else if(day == 0){
                var sunday = parseInt(date[1]) +1
                arr.push(i+'/'+sunday+'/'+date[2]);
              }else{
                arr.push(i+'/'+date[1]+'/'+date[2]);
              }
            }
            
          }
          if(date_present1 != ''){
          for (var i = 1; i <= 12; i++) {
            arr.push(i+'/'+date1[1]+'/'+date1[2]);
          }
          }
      var today = new Date();
      var y = today.getFullYear();
      $('#datepicker').multiDatesPicker({
        disabled: true,
        addDates: arr,
        numberOfMonths: [3,4],
        minDate: new Date(2018, 0, 1),
        maxDate: new Date(2018, 11, 31),
        enableOnReadonly: false
      });

    });

      $('#payroll_info_sal_cal_date, #payroll_info_payroll_date').datepicker({
        dateFormat : 'mm/dd/yy',
        prevText : '<i class="fa fa-chevron-left"></i>',
        nextText : '<i class="fa fa-chevron-right"></i>'
      });
    });

