.content-i
  .content-box
    = render partial: 'company/companies/sub_menu_company'
    .row
      .col-sm-12
        .element-wrapper
          .element-box-tp
            .controls-above-table
              .row.mr-1.ml-1
                .col-sm-6
                  %a.btn.btn-sm.btn-secondary{ :href => "#{new_payroll_term_info_path}", :title => "New Payroll Info" } Add Payroll
                .col-sm-6
                  .form-inline.justify-content-sm-end
                    %input.form-control.form-control-sm.rounded.bright{placeholder: "Search", type: "text", type: 'search', id: 'payroll-datatable-search'}
            .table-responsive
              %table#payroll-datatable.table.text-center.table-bordered.table-lg.table-v2.table-striped.data-table-font
                %thead
                  %tr
                    %th Title
                    %th Type
                    %th created At
                    %th Updated At
                    %th Actions
                %tbody
                  - @payrolls.each do |payroll|
                    %tr
                      %td= payroll.title
                      %td= payroll.payroll_type
                      %td= payroll.created_at.strftime("%Y-%m-%d")
                      %td= payroll.updated_at.strftime("%Y-%m-%d")
                      %td= link_to content_tag(:i,nil,class: "fa fa-edit"), edit_payroll_term_info_path(payroll), class: "data-table-icons btn btn-link btn-sm"