<% count = 0 %> 
<% conversations.uniq{|c| c.opt_participant(current_user).full_name}.each do |con| %>
  <% messages = con.conversation_messages %>
   <% if messages.present?%>
      <% opt_usr = con.opt_participant(current_user) %>
      <% color = nil %>
      <% colors = %w[#fcba03 #fc0f33 #0ffc52] %>
      <% if opt_usr.group_name.include? "SC" %>
        <% color = colors[2] %>
      <% elsif opt_usr.group_name.include? "BC" %>
        <% color = colors[1] %>
      <% else %>
        <% color = colors[0] %>
      <% end %>
      <%# border = "4px solid #{color}" %>
      <% unread_messages = messages.where.not(userable_id: current_user).where(is_read: false).count || 0  %>
      <div id="convo_box"  class=" row user-list-item-style conversation_user_<%=  con.id  %>   <%= unread_messages.present? && unread_messages > 0 ? "unread-div-color" : "" %> <%= count.present? && count == 0 ? "active-div-color" : "" %>" data-conversation="<%= con.id %>" >
        <%= render 'company/conversations/conversation_list', con: con, usr: opt_usr, is_favourite: false %>
      </div>
      <% count += 1 %>
    <% end%>
<% end if conversations.present?  %>
<script>
    $(".user-list-item-style").on("click", function (){
        $(".user-list-item-style").removeClass('active-div-color')
    })
</script>