<style>
.bread-styles{
    display: block !important;
    background-color: white !important;
    height: 41px !important;
    width: 41px !important;
    border-radius: 50% !important;
    margin-right: 1% !important;;
    margin-left: 1% !important;;
}

 @media (min-width: 1024px) {
 .chat-logo-class {
    display: flex ;
    align-items: center;
  }
}
</style>
<% if @conversation.present? %>
  <% user = @conversation.chatable_type == "Group" ? @conversation.chatable : (@conversation.senderable == current_user ? @conversation.recipientable : @conversation.senderable) %>

  <div class="right-sidebar ">
    <div class="row collab-row" >
      <div onclick="backtochat()">
        <img class="left-arrow" src="/assets/left-arrow.png" style="margin-right: 10px; margin-top: 10px;"></img>
      </div>

      <span class="collab-text">Collaborators</span>
      <a href="#" class="add-to-conversation " data-conid=<%= @conversation.id %> data-cid=<%= user.id %> data-ctype=<%= user.class.to_s %>>
        <div class="icon-style-1">
          <%= image_tag "groups.png", title: "Breakout chat"%>
        </div>
      </a>
    </div>

    <div class="right-sidebar1" hidden>
      <!-- hide chat right wings -->
      <% if false %>
      <#% if @conversation.chatable_type == "Group" %>
        <% @conversation.chatable.groupables.each do |g| %>
          <% if current_company.id == @conversation.chatable.company_id && g.groupable != current_user %>

            <div class="flex flex-col  px-4">
              <div class="flex flex-row items-center justify-between text-xs">

              </div>
              <div class="flex flex-col space-y-1 mt-4 -mx-2  overflow-y-auto">
                <!--          A CHAT TEXT-->
                <button
                  class="flex flex-row items-center   hover:bg-gray-100 rounded-xl p-2"
                >

                  <a href="<%= company_user_profile_path(g.groupable.id) unless g.groupable.nil? %>" class='h-8 w-8 rounded-full'>
                    <!--              <img src="/assets/keanu.jpg">-->
                    <%= user_image(g.groupable, class: 'h-8 w-8 rounded-full', title: "#{g.groupable.full_name unless g.groupable.nil?}") %>
                  </a>

                  <div class="ml-2 text-sm font-semibold">  <%= do_ellipsis(g.groupable&.full_name&.capitalize, 14) %></div>

                  <div class=" col-sm-3 col-md-3 col-lg-3 pl-4">
                    <div class="row line-style">
                      <a href="<%= remove_from_group_groups_path(groupable: g.id, conversation: @conversation.id) %>">
                        <img src="/assets/image-line.png">
                      </a>
                    </div>
                  </div>
                </button>

                <!--          END CHAT TEXT-->

              </div>
          <%else %>

            <div class="flex flex-col  px-4">
              <div class="flex flex-row items-center justify-between text-xs">

              </div>
              <div class="flex flex-col space-y-1 mt-4 -mx-2  overflow-y-auto">
                <!--          A CHAT TEXT-->
                <button
                  class="flex flex-row items-center hover:bg-gray-100 rounded-xl p-2"
                >
<!--                  <div-->
<!--                    class="flex items-center justify-center h-8 w-8 bg-blue-200 rounded-full"-->
<!--                  >-->
<!--                    H-->
<!--                  </div>-->

                  <a href="<%= company_user_profile_path(g.groupable.id) unless g.groupable.nil? %>" class='h-8 w-8 rounded-full'>
                    <!--              <img src="/assets/keanu.jpg">-->
                    <%= user_image(g.groupable, class: 'h-8 w-8 rounded-full', title: "#{g.groupable.full_name unless g.groupable.nil?}") %>
                  </a>

                  <div class="ml-2 text-sm font-semibold">  <%= do_ellipsis(g.groupable&.full_name&.capitalize, 14) %></div>
                </button>

                <!--          END CHAT TEXT-->

              </div>



            </div>
          <% end %>
        <% end %>
      <% end %>
      <div class="row shared-files mt-4" style="margin-left: 10px;">
        <div class="shared-text">Shared Files</div>
        <img src="/assets/folder1.png" class=" file-icon">
        <img src="/assets/folder2.png" class="file-icon" style="margin-left: -17px; margin-top: 10px">
      </div>
    </div>
  </div>


<% end %>
<!--this is for natification -->
<!--    <div class="ci-header pl-1 display-flex">-->
<%# if ConversationMute.where(conversation: @conversation, mutable: current_user).present? %>
<%#= link_to "<i class='ti-bell'></i>".html_safe, unmute_company_conversation_path(@conversation), title: 'Unmute Conversation', 'data-toggle' => "tooltip", 'data-placement' => "top" %>
<%# else %>
<%#= link_to "<i class='fa fa-bell-slash-o' style='color: red;'></i>".html_safe, mute_company_conversation_path(@conversation), class: 'text-danger', title: 'Mute Conversation', 'data-toggle' => "tooltip", 'data-placement' => "top" %>
<%# end %>
<!--    </div>-->



<!--<div class="chat-info-section p-0 pb-3">-->

<!--  <div class="group-member">-->
<%# if @conversation.chatable_type == "Group" %>
<!--      <ul>-->
<%# @conversation.chatable.groupables.each do |g| %>
<%# if current_company.id == @conversation.chatable.company_id && g.groupable != current_user %>
<%# else %>
<!--            <li class="display-flex" style="border: none">-->
<!--              <a href="<%#= company_user_profile_path(g.groupable.id) %>">-->
<%#= user_image(g.groupable, style: 'width: 35px; height: 35px;', class: 'image-35 mr-1', title: "#{g.groupable.full_name}") %>
<!--              </a>-->
<%#if g.groupable&.photo.blank? %>
<%#=entity_image(g.groupable&.first_name,g.groupable&.last_name)%>
<%#else%>
<%#= user_image( g.groupable ,class: 'superbox-img',style: 'border-radius: 50%;width:30px !important;height:30px !important',alt: g.groupable&.full_name)%>
<%#end%>

<!--              <span class="align-self-center">-->
<%#= do_ellipsis(g.groupable&.full_name&.capitalize, 15) %>
<!--                </span>-->
<!--            </li>-->
<%# end %>
<%# end %>

<%# if current_company.id != @conversation.chatable.company_id %>
<!--          <li><%#= link_to "Leave Group", leave_group_groups_path(group: @conversation.chatable_id) %></li>-->
<%# end %>
<!--      </ul>-->
<%# else %>
<!--      <ul>-->
<!--        <li>-->
<%#= user.full_name %>
<!--        </li>-->
<!--      </ul>-->
<%# end %>
<!--  </div>-->
<!--</div>-->




<!--<div class="chat-info-section p-0 pt-4">-->
<%# if @conversation.topic == "JobApplication" %>
<!--    <div class="ci-header">-->
<!--      <i class="os-icon os-icon-documents-03"></i><span>Activity log</span>-->
<!--    </div>-->
<!--    <div class="timed-activities timed-activities_height compact pt-3">-->
<%# if job_application_activity_hash.present? %>
<!--        <div class="col-sm-12">-->
<!--          <div class="element-wrapper">-->
<!--            <div class="timed-activities compact">-->
<%# job_application_activity_hash.each do |key, value| %>
<!--                <div class="timed-activity">-->
<!--                  <div class="ta-date">-->
<!--                      <span>-->
<%#= key %>
<!--                      </span>-->
<!--                  </div>-->
<!--                  <div class="ta-record-w">-->
<%# value.each do |activity| %>
<%#= render_activity activity %>
<%# end %>
<!--                  </div>-->
<!--                </div>-->
<%# end %>
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<%# end %>
<!--    </div>-->
<%# end %>
<!--</div>-->