<% if @conversation.present? %>
  <% user = @conversation.chatable_type == "Group" ? @conversation.chatable : (@conversation.senderable == current_user ? @conversation.recipientable : @conversation.senderable) %>
  <!--<div class="user-intro">-->
  <!--<div class="avatar">-->
  <!--<%#= image_tag user.photo %>-->
  <!--</div>-->
  <!--<div class="user-intro-info">-->
  <!--<h5 class="user-name">-->
  <!--<%#= user.full_name %>-->
  <!--</h5>-->
  <!--</div>-->
  <!--</div>-->
  <div class="chat-info-section p-0 pb-3">
    <div class="ci-header pl-1">
<!--      <i class="icon-people"></i>-->
      <span>Chat Member</span>
      <a href="#" class="add-to-conversation ml-2" data-conid=<%= @conversation.id %> data-cid=<%= user.id %> data-ctype=<%= user.class.to_s %>>
        <i class="fa fa-plus"></i></a>
      <% if ConversationMute.where(conversation: @conversation, mutable: current_user).present? %>
        <%= link_to "<i class='ti-bell'></i>".html_safe, unmute_company_conversation_path(@conversation),title: 'Unmute Conversation','data-toggle'=>"tooltip" ,'data-placement'=>"top" %>
      <% else %>
        <%= link_to "<i class='fa fa-bell-slash-o' style='color: red;'></i>".html_safe, mute_company_conversation_path(@conversation),class:'text-danger',title: 'Mute Conversation','data-toggle'=>"tooltip" ,'data-placement'=>"top" %>
      <% end %>
    </div>
    <div class="group-member">
      <% if @conversation.chatable_type == "Group" %>
        <ul>
          <% @conversation.chatable.groupables.each do |g| %>
            <% if current_company.id == @conversation.chatable.company_id && g.groupable != current_user %>
              <li>
                <%= image_tag g.groupable.photo ,class: 'superbox-img',style: 'border-radius: 50%;width:30px !important;height:30px !important'%>
                <%= do_ellipsis(g.groupable.full_name.capitalize,15) %>
                <%= link_to "<i class='icon-feather-x'></i>".html_safe, remove_from_group_groups_path(groupable: g.id, conversation: @conversation.id) %>
              </li>
            <% else %>
              <li>
                <%= image_tag g.groupable.photo ,class: 'superbox-img',style: 'border-radius: 50%;width:30px !important;height:30px !important'%>
                <strong> <%= do_ellipsis(g.groupable.full_name.capitalize,15) %> </strong>
              </li>
            <% end %>
          <% end %>
          <% if current_company.id != @conversation.chatable.company_id %>
            <li><%= link_to "Leave Group", leave_group_groups_path(group: @conversation.chatable_id) %></li>
          <% end %>
        </ul>
      <% else %>
        <ul>
          <li>
            <%= user.full_name %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
  <div class="chat-info-section p-0 pt-4">
    <% if @conversation.topic == "JobApplication" %>
      <div class="ci-header">
        <i class="os-icon os-icon-documents-03"></i><span>Activity log</span>
      </div>
      <div class="timed-activities timed-activities_height compact pt-3">
        <% if job_application_activity_hash.present? %>
          <div class="col-sm-12">
            <div class="element-wrapper">
              <div class="timed-activities compact">
                <% job_application_activity_hash.each do |key, value| %>
                  <div class="timed-activity">
                    <div class="ta-date">
                      <span>
                        <%= key %>
                      </span>
                    </div>
                    <div class="ta-record-w">
                      <% value.each do |activity| %>
                        <%= render_activity activity %>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>