<% if @conversation.present? %>
  <% user = @conversation.chatable_type == "Group" ? @conversation.chatable : (@conversation.senderable == current_user ? @conversation.recipientable : @conversation.senderable) %>
  <!--<div class="user-intro">-->
  <!--<div class="avatar">-->
  <!--<%#= image_tag user.photo %>-->
  <!--</div>-->
  <!--<div class="user-intro-info">-->
  <!--<h5 class="user-name">-->
  <!--<%#= user.full_name %>-->
  <!--</h5>-->
  <!--</div>-->
  <!--</div>-->
  <div class="element-box element-box-show">
    <h5 class="form-header">Collaborators</h5>
    <% if @conversation.present? %>
      <div class="users-list-w">
        <% if @conversation.chatable_type == "Group" %>
          <% @conversation.chatable.groupables.each do |g| %>
            <div class="user-w with-status status-green">
              <div class="user-avatar-w">
                <div class="user-avatar">
                  <%=user_image(g.groupable, style: 'width: 35px; height: 35px;', class: 'data-table-image mr-1',title: "#{g&.groupable&.full_name}" )%>
                </div>
              </div>
              <div class="user-name">
                <h6 class="user-title"><%= g.groupable.full_name %></h6>
<!--                  <div class="user-role"><%#= g.groupable.type %></div>-->
              </div>
              <!-- <div class="user-action">
                <div class="os-icon os-icon-email-forward"></div>
              </div> -->
            </div>
          <% end %>
        <% else %>
          <div class="user-w with-status status-green">
            <div class="user-avatar-w">
              <div class="user-avatar">
                <img alt="" src="<%= current_user.photo %>">
              </div>
            </div>
            <div class="user-name">
              <h6 class="user-title"><%= "#{current_user.first_name} #{current_user.last_name}" %></h6>
              <div class="user-role"><%= current_user.type %></div>
            </div>
            <!-- <div class="user-action">
              <div class="os-icon os-icon-email-forward"></div>
            </div> -->
          </div>
        <% end %>
      </div>
    <% else %>
      <div><i>Currently, there is no collaborator. Create a conversation to add collaborators</i></div>
    <% end %>
    <div class="ci-header">
      <a href="#" class="w-100 btn btn-default btn-primary add-to-conversation" data-conid=<%= @conversation.id %> data-cid=<%= @conversation.chatable.id %> data-ctype=<%= @conversation.chatable.class.to_s %>>Add
        Collaborators</a>
    </div>
  </div>
<% end %>