<style>
.minus-buttonn{
  margin-top: 5px;
}
.new_but{
  background: none;
  border: none;
}
.new_size{
  padding-top: 10px;
  font-size: 25px;
}
.underline_actives{
  border-bottom: 3px solid #017bf8;
}
.form-class{
      margin-top: 0px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f1f1f1;
  min-width: 176px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
</style>
<div class="row branch-class-madia" style="height: 5vh; background: #eaf3fc;" >
  <div class="col-6 branchout-back">

    <div class="row branch-out" style="margin-left: 20px;">
      <i class="fa fa-arrow-circle-left" style="margin-right: 10px;font-size: 30px;color: #047BF8;" onclick="myFunction1()"></i>
      <i class="fa fa-arrow-circle-right" style="margin-left: 10px;font-size: 30px;color: #047BF8;" onclick="myFunction()"></i>
<!--      <img src="/assets/collabs.png" style="margin-left: 45px; height: 24px; width: 27px;" onclick="myFunction()"></img>-->
<!--      <span>Collaborators</span>-->
    </div>
  </div>
  <div class="col-sm-4 col-6 branchout-mobile" style="margin-left: 284px;background: #eaf3fc;">
    <div class="row branch-out dropdown" style="justify-content: flex-end">
      <div class="dropdown-content" style="margin-left: -70px;font-size: 12px;">
        <a href="#">Interview</a>
        <a href="#">Document Collection</a>
        <a href="#">Navigation</a>
      </div>
    </div>
  </div>


  <div class="col-8 col-sm-8 col-md-8 col-lg-8 py-2 px-0" >

    <div class="branch-out-content" style="justify-content: flex-start;display: flex; align-items: center;  height: 5vh; overflow: hidden;">
      <div>
        <button type="button" class="py-2 px-6 mr-2 bg-white rounded-t-lg " onclick="btnClick1()">Main</button>
      </div>


      <div id="myDIV" style="display:none; ">
        <% opt_obj = conversation.chatable_type == "Group" ? conversation.chatable : (conversation.senderable == current_user ? conversation.recipientable : conversation.senderable) if conversation.present? %>
        <%= form_tag update_company_conversation_title_company_conversations_path, class:"form-class", method: :post ,remote: :true do %>
          <div class="element-search autosuggest-search-activator">
            <input name="branch_array" class="input-field" placeholder="Title" type="text" id="branch-out-text" value="" maxlength="15">
            <%= hidden_field_tag 'group_id', opt_obj.id if opt_obj.present? %>
            <%= hidden_field_tag 'con_id', conversation.id if opt_obj.present? %>
          </div>
        <% end %>
      </div>


      <% if opt_obj.present?%>
        <%branch_new_array = opt_obj[:branch_array]%>
        <% if branch_new_array.size <= 3 %>
          <% branch_new_array.each do |key|%>
            <%key_value = eval(key)%>
            <%i =  key_value[:chat_title]%>
            <a style=" padding: 0px; margin:0px;">
              <div class="ml-2  p-1">
                <% if conversation.id == key_value[:sub_chats]%>
                  <div id="branchout-button" class=" underline_actives">
                    <div  class="button-text" ><button class="py-2 px-6 bg-white rounded-t-lg" id="underline_active" onclick="send_messages(<%=key_value[:sub_chats]%>)"><span style="color:black;"> <%= i.first(5) %></span></button></div>
                <% else %>
                  <div id="branchout-button" class="">
                    <div  class="button-text" ><button class="py-2 px-6 bg-white rounded-t-lg" id="underline_active" onclick="send_messages(<%=key_value[:sub_chats]%>)"><span style="color:black;"> <%= i.first(5) %></span></button></div>
                <% end %>
                </div>
                </div>
            </a>
          <% end %>

        <% else %>
          <% branch_new_array1 = branch_new_array.first(3) %>
          <% branch_new_array1.each do |key|%>
            <%key_value = eval(key)%>
            <%i =  key_value[:chat_title]%>
            <a style=" padding: 0px; margin:0px;">
              <div class="ml-2 mt-2 p-1" style="background:none; border-radius: 10px 10px 0px 0px; ">
                <% if conversation.id == key_value[:sub_chats]%>
                  <div id="branchout-button" class=" underline_actives">
                    <div  class="button-text" ><button class="new_but" id="underline_active" onclick="send_messages(<%=key_value[:sub_chats]%>)"><span style="color:black;"> <%= i.first(5) %></span></button></div>
                <% else %>
                  <div id="branchout-button" class="">
                    <div  class="button-text" ><button class="new_but" id="underline_active" onclick="send_messages(<%=key_value[:sub_chats]%>)"><span style="color:black;"> <%= i.first(5) %></span></button></div>
                <% end %>
                </div>
                </div>
            </a>
          <% end %>
          <div class="dropdown">
            <button class="new_but"><i class="fa fa-ellipsis-h new_size" aria-hidden="true"></i></button>
            <div class="dropdown-content" id="myDropdown">
<!--              <input type="text" placeholder="Search BO" id="myInput" onkeyup="filterFunction()">-->
              <% branch_new_array.each_with_index do |value,key|%>
                <% if key > 2 %>
                  <%key_value = eval(value)%>
                  <%i =  key_value[:chat_title]%>
                  <a style=" padding: 0px; margin:0px;">
                    <div class="ml-2 mt-2 p-1" style="background:none; border-radius: 10px 10px 0px 0px; ">
                      <% if conversation.id == key_value[:sub_chats]%>
                        <div id="branchout-button" class=" underline_actives">
                          <div  class="button-text" ><button class="new_but" id="underline_active" onclick="send_messages(<%=key_value[:sub_chats]%>)"><span style="color:black;"> <%= i %></span></button></div>
                      <% else %>
                        <div id="branchout-button" class="">
                          <div  class="button-text" ><button class="new_but" id="underline_active" onclick="send_messages(<%=key_value[:sub_chats]%>)"><span style="color:black;"> <%= i %></span></button></div>
                      <% end %>
                      </div>
                      </div>
                  </a>
                <% end %>
              <% end %>
            </div>
          </div>


        <% end %>

        <div class="dropdown">
<!--          <button class="new_but"><i class="fa fa-search new_size"></i></button>-->
          <div class="dropdown-content" id="myDropdown">
            <input type="text" placeholder="Search BO" id="myInput" onkeyup="filterFunction()">
            <%branch_new_array = opt_obj[:branch_array]%>
            <% branch_new_array.each do |key|%>
            <%key_value = eval(key)%>
            <%i =  key_value[:chat_title]%>
                    <a style=" padding: 0px; margin:0px;">
                      <div class="ml-2 mt-2 p-1" style="background:none; border-radius: 10px 10px 0px 0px; ">
                        <% if conversation.id == key_value[:sub_chats]%>
                          <div id="branchout-button" class=" underline_actives">
                          <div  class="button-text" ><button class="new_but" id="underline_active" onclick="send_messages(<%=key_value[:sub_chats]%>)"><span style="color:black;"> <%= i %></span></button><span style="color:black;"><i class="fa fa-times minus-buttonn" onclick="remove_branch(<%= opt_obj.id %>, '<%= key_value[:sub_chats] %>')"></i></span></div>
                        <% else %>
                          <div id="branchout-button" class="">
                          <div  class="button-text" ><button class="new_but" id="underline_active" onclick="send_messages(<%=key_value[:sub_chats]%>)"><span style="color:black;"> <%= i %></span></button><span style="color:black;"><i class="fa fa-times minus-buttonn" onclick="remove_branch(<%= opt_obj.id %>, '<%= key_value[:sub_chats] %>')"></i></span></div>
                        <% end %>
                        </div>
                      </div>
                    </a>
            <% end %>
          </div>
        </div>

      <% end %>

        <div class="row branch-out pl-4" style="justify-content: flex-end">
          <%if conversation.present? && conversation.sub_chats != true%>
            <button class="py-2 px-6 bg-white rounded-t-lg" id="clickon1" onclick="showClick()" ><i class="fa fa-plus"></i> BO</button>
          <%end%>
        </div>
    </div>

    <!-- component -->
<!--    <div style='border-bottom: 2px solid #eaeaea'>-->
<!--      <ul class='flex cursor-pointer'>-->
<!--        <li class='py-2 px-6 bg-white rounded-t-lg'>Personal</li>-->
<!--        <li class='py-2 px-6 bg-white rounded-t-lg text-gray-500 bg-gray-200'>Akun</li>-->
<!--        <li class='py-2 px-6 bg-white rounded-t-lg text-gray-500 bg-gray-200'>Pengaturan</li>-->
<!--      </ul>-->
<!--    </div>-->


  </div>



</div>
<% if conversation.present? && conversation.job_application_id.present? %>
<% pre_name = "A-#{conversation.job_application_id}-" %>
<% elsif conversation.present? && conversation.buy_contract_id.present? %>
<%  pre_name = "BC- " %>
<% elsif conversation.present? && conversation.sell_contract_id.present? %>
<%  pre_name = "SC- " %>
<% elsif conversation.present? && conversation.porposal_chat_id.present? %>
<%  pre_name = "P-#{conversation.porposal_chat_id}-" %>
<% else %>
<%  pre_name = "" %>
<% end %>

<div class="row chat-box responsive-chat-box" style="background-color: white; height: 82vh">
  <% opt_obj = conversation.chatable_type == "Group" ? conversation.chatable : (conversation.senderable == current_user ? conversation.recipientable : conversation.senderable) if conversation.present? %>
  <% link = get_conversation_link(opt_obj,conversation) %>
<!--  CHAT BOX HEADER-->

  <div class="px-5 py-2 flex justify-between items-center bg-white border-b-2 w-full"  style='<%= (conversation&.job_application.present? and nested_colap.present?) ? "height: 16vh;" : "height: 10vh;" %>'>
    <div class="font-semibold">

      <% if link.nil? %>
<!--                 <div class="div-chat-middle-etymeflow" ><span class=" row chat-middle-etymeflow" ><a class="d-inline" style="padding-left:10px;" href="#"><%##= pre_name %><%= opt_obj.group_name if opt_obj.present? %></a></span></div>-->
      <%else %>
        <a class="d-inline" style="padding-left:10px; color: #0b0b0b;" target="_blank" href="<%= link.nil? ? "#" : link %>"><%= pre_name %><%= opt_obj.group_name if opt_obj.present? %></a>

        <!--        <div class="div-chat-middle-etymeflow" ><span class=" row chat-middle-etymeflow" >-->
<!--          <a class="d-inline" style="padding-left:10px; color: #0b0b0b; font-size: 20px !important;" target="_blank" href="<%#= link.nil? ? "#" : link %>"><%#= pre_name %><%= opt_obj.group_name if opt_obj.present? %></a>-->
<!--        </span></div>-->
      <%end %>
    </div>
    <div class="w-1/2">
      <input
        type="text"
        name="search-specfic-text"
        id="search-specfic-text"
        onchange= "searchMessage(event, <%= conversation.id unless conversation.nil? %>)"
        placeholder="Search message"
        class="rounded-2xl bg-gray-100 py-2 px-5 w-1/2"
        />
    </div>
<!--    <div-->
<!--      class="h-12 w-12 p-2 bg-yellow-500 rounded-full text-white font-semibold flex items-center justify-center"-->
<!--    >-->
<!--      RA-->
<!--    </div>-->
  </div>
<!--  end here header first-->


<!-- CHAT BOX HEAD  -->
  <div class="responsive-chat-message" style="width: 100%;  border-bottom: 1px solid #F2F4F8;overflow-y: scroll; padding: 10px;overflow-x: hidden; <%= (conversation&.job_application.present? and nested_colap.present?) ? "height: 54vh;" : "height: 58vh;" %>">

    <div class="chat-content" id="conversation_<%= conversation.id if conversation.present? %>">
      <div id="all-infinite-scrolling-msg" style="display:none"></div>
      <%= hidden_field_tag "prev_date", nil %>
    </div>

    <div id="videobutton1" class="mobile-insidechat-icons">
      <div class="row send-icons" style="justify-content: center">
        <% if conversation.present? %>
        <%= button_tag type: "button", class: "btn p-0", style: "background: transparent;box-shadow: none;", onclick: "$('##{"chat-templates-#{conversation.id}"}').modal('show')" do %>
          <%= image_tag("/assets/docusign.png",size: "25x28") %>
        <% end %>
        <%#= render 'shared/file_attachement', f: f, attr_name: :file_url, name_selector: ".uploaded_file_name", cstm_class: "p-0", cstm_style: "background: transparent;box-shadow: none;width: 31px;", button_name: "<i class='os-icon os-icon-ui-51' style='font-size: 26px;'></i>".html_safe, name_selector: '#file-name_uploaded', required_field: false %>
          <div>
            <% candidate = conversation.chatable&.groupables.find_by_groupable_type(:Candidate).present? ? conversation.chatable&.groupables.find_by_groupable_type(:Candidate).groupable : "" %>
            <%= candidate.present? ? mini_chat_contact_widget(candidate.email, candidate.phone,candidate.id) : mini_chat_contact_widget(nil, nil,nil) %>
          </div>
        <% end %>
      </div>
    </div>

  </div>



<!--  New form -->
  <div class="flex flex-row items-center h-16 rounded-xl bg-white w-full px-4">
    <div><button id="showdiv1" onclick="btnClick()" class="buttonstyle2"><i class="fa fa-ellipsis-v option-mobile-style"></i></button></div>

    <% if @conversation.present? && @conversation.freeze_chats == false %>
    <%= form_for([conversation, ConversationMessage.new], :remote => true, :html => {:style => 'width:100%; margin: auto;',class: "flex flex-row items-center h-16 rounded-xl bg-white w-full px-4",id: "conversation_form_#{conversation.try(:id)}"}) do |f| %>

        <!--            icons-->
        <div class="row send-icons items-center justify-around" >
          <% if conversation.present? && @conversation.freeze_chats == false  %>
            <img src="https://img.favpng.com/11/10/5/docusign-electronic-signature-information-windows-phone-document-png-favpng-yGsuNDQysGXrPNUL7ayG0BLBu.jpg  "class="pr-2" height="26" width="26">
          <% end %>
          <div class="-mr-2 -mt-1">
            <%= render 'shared/file_attachement', f: f, attr_name: :file_url, name_selector: ".uploaded_file_name", cstm_class: "p-0 ", cstm_style: "background: transparent;box-shadow: none;width: 31px; color:#adadad;", button_name: "<i class='os-icon os-icon-ui-51' style='font-size: 26px;'></i>".html_safe, name_selector: '#file-name_uploaded', required_field: false %>
          </div>
          <div>
            <% candidate = conversation.chatable&.groupables.find_by_groupable_type(:Candidate).present? ? conversation.chatable&.groupables.find_by_groupable_type(:Candidate).groupable : "" %>
            <%= candidate.present? ? mini_chat_contact_widget(candidate.email, candidate.phone,candidate.id) : mini_chat_contact_widget(nil, nil,nil) %>

          </div>
        </div>

  <!--    New form Icons-->
    <div>
    </div>
    <!--  end New form Icons-->

    <!--          input-->
    <div class="flex-grow ml-4">
      <div class="relative w-full">
<!--        <input-->
<!--          type="text"-->
<!--          class="flex w-full border rounded-xl focus:outline-none focus:border-blue-300 pl-4 h-10"-->
<!--          />-->
        <%= f.text_field :body, class: 'flex w-full border rounded-xl focus:outline-none focus:border-blue-300 pl-4 h-10', autocomplete: "off", placeholder: 'Type your message here...', required: true, "data-cid" => conversation.id, id: "con-text-#{conversation.id}-#{current_user.class}-#{current_user.id}" %>

        <!--        send button -->
<!--        <button-->
<!--          class="absolute flex items-center justify-center h-full w-12 right-0 top-0 text-gray-400 hover:text-gray-600"-->
<!--        >-->
<!--          <svg-->
<!--            class="w-6 h-6"-->
<!--            fill="none"-->
<!--            stroke="currentColor"-->
<!--            viewBox="0 0 24 24"-->
<!--            xmlns="http://www.w3.org/2000/svg"-->
<!--          >-->
<!--            <path-->
<!--              stroke-linecap="round"-->
<!--              stroke-linejoin="round"-->
<!--              stroke-width="2"-->
<!--              d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"-->
<!--            ></path>-->
<!--          </svg>-->
<!--        </button>-->
      </div>
    </div>
    <!--      Send button-->
   <% if @conversation.present? && @conversation.freeze_chats == false %>
    <div class="ml-4">
      <button
        class="flex items-center justify-center bg-blue-500 hover:bg-blue-600 rounded-xl text-white px-4 py-1 flex-shrink-0"
      >
        <span>Send</span>
        <span class="ml-2">
                  <svg
                    class="w-4 h-4 transform rotate-45 -mt-px"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"
                    ></path>
                  </svg>
                </span>
      </button>
    </div>
   <% end %>

    <!--          end button-->
    <% end %>
    <% end %>
  </div>
<!--end new form-->





  </div>

<% content_for :modals do %>
  <%= render('shared/chat_document_templates', conversation: @conversation) if @conversation.present? %>
<% end %>

<% content_for :scripts do %>
  <script>



  function filterFunction() {
  var input, filter, ul, li, a, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  div = document.getElementById("myDropdown");
  a = div.getElementsByTagName("div");
  debugger;
  for (i = 0; i < a.length; i++) {
    txtValue = a[i].textContent || a[i].innerText;
    debugger;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      a[i].style.display = "";
    } else {
      a[i].style.display = "none";
    }
   }
  }




      function onCompanyFileUpload(event) {
          $('#file-name_uploaded').html("<span>" + event.fpfile.filename + "</span><hr/>");
      }

// /conversations/87/conversation_messages/messages?_=1631886091631
// /conversations/:conversation_id/conversation_messages/messages
      function searchMessage(e, id) {
         $.ajax({
              url: `/conversations/${id}/conversation_messages/messages`,
              type: "GET",
              dataType: "script",
              data: {
                search_message_query: e.target.value,
              },
              success: function (data) {
                // $("#div1").html(result);
                // conversation_
              }
          });

      }


      function send_message(id){
          $.ajax({
              url: `/company/conversations?conversation=${id}`,
              type: "POST",
              dataType: "script",
              success: function (data) {
              }
          });
      }
      function send_messages(id){
        // $("#underline_active").addClass('underline_actives');
          $.ajax({
              url: `/company/conversations?conversation=${id}`,
              type: "POST",
              dataType: "script",
              success: function (data) {

              }
          });
      }

      $(document).ready(function () {
          set_company_users_select('#select_sell_company_contacts', "Please Select Signers", "#sell_contract_company");
          <%# unless conversation&.job_application %>
          <% unless request.fullpath.include?("job_applications") %>
          $('.collapsible').css('padding', '6px 18px');
          $('#collapsible_job_application').removeClass('ml-2 mr-2')
          $('#collapsible_job_application').removeClass('mt-4')
          $('#collapsible_job_application').addClass('mt-2')
          <% end %>
          <%# end %>
          $.ajax({
              url: "<%= messages_conversation_conversation_messages_path(conversation||0) %>",
              type: "GET",
              dataType: "script",
              success: function (data) {
                  console.log(data);
                  $("#conversation_<%=conversation&.id||0 %>").parent().scrollTop($("#conversation_<%=conversation&.id||0 %>").parent()[0].scrollHeight);
              }
          });
      });

      // $("#btn1").on("click", function(){
      //     console.log('btn clciked')
      //     debugger
      //     $("#myDIV").toggle('show');
      // });


      // $("#clickon1").on("click", function(){
      //   debugger
      //     $("#myDIV").toggle('show');
      // });

      function showClick(){
          $("#myDIV").toggle('show');
      }
      // $("#showdiv").on("click", function(){
      //
      //     $("#videobutton").toggle('show');
      // });
      $("#showdiv1").on("click", function(){
          $("#videobutton1").toggle('show');
      });
      function btnClick(){
          $("#myDIV").toggle('show');
      }


      function open_chat(){

          var data_id = $(this).data("val");
          debugger
      }

      function btnClick1(){
          window.location.reload();
      }

      function showDivClick(){

          $("#videobutton").toggle('show');
      }
      $('.send-message_class').on('click', function(e){
          form_id = $(".chat_form").attr('id')
          $('#'+form_id).submit()
      });

      function remove_branch(group_id, conversation_id){
            $.ajax({
              data: {
                group_id: group_id,
                conversation_id: conversation_id,
              },
              url: "<%= delete_company_conversation_title_company_conversations_path %>",
              type: "POST",
              dataType: "script",
              success: function (data) {
              }
          });
          console.log("================================")
      }

  </script>
<% end %>
<style>
  .icon-side-bar{
      display: block !important;
  }
  .togglebtncontainerinbox1
  {
    display: block !important;
    position: absolute;
    cursor: pointer;
    z-index: 999999;
    height: 50px;
    width: 50px;
    color: #ffffff;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
  }
  .icon-button-style1{
    display: block !important;
    height: 45px;
    width: 45px;
    background-color: #047BF8;
    border-radius: 50px;
    margin: 5px;
  }
    .hamburger-icon{
      display: block !important;
      padding-top: 15px;
      padding-left: 13px;
    }
</style>

<%# opt_obj = conversation.chatable_type == "Group" ? conversation.chatable : (conversation.senderable == current_user ? conversation.recipientable : conversation.senderable) if conversation.present? %>
<!--<div>-->
<!--  <span>To:</span>-->
  <%# link = get_conversation_link(opt_obj) %>
  <%# if link.nil? %>
<!--    <text class="d-inline badge badge-primary"><%#= opt_obj.group_name if opt_obj.present? %></text>-->
  <%# else %>
<!--    <a class="d-inline badge badge-primary" target="_blank" href="<%#= link.nil? ? "#" : link %>"><%#= opt_obj.full_name if opt_obj.present? %></a>-->
  <%# end %>
<!--</div>-->

<!--</div>-->

<%# if conversation&.job_application and nested_colap %>

<!--  <div id="job_application_links">-->
    <%#= render 'company/job_applications/partials/collapse_able_job_application', conversation: conversation, job_application: conversation.job_application %>
<!--  </div>-->

<%# end %>

<!--</div>-->
<!--<div class="chat-content-w chat-content-scroll chat-content_height">-->
<!--  <div class="chat-content" id="conversation_<%#= conversation.id if conversation.present? %>">-->
<!--    <div id="all-infinite-scrolling-msg" style="display:none"></div>-->
    <%#= hidden_field_tag "prev_date", nil %>
<!--  </div>-->
<!--</div>-->
<!--<div class="chat-controls">-->
  <%#= form_for([conversation, ConversationMessage.new], :remote => true, :html => {id: "conversation_form_#{conversation.id}"}) do |f| %>
<!--    <div class="chat-input1 chat-input">-->
      <%#= f.text_field :body, class: 'form-control input-sm chat_input ', autocomplete: "off", placeholder: 'Type your message here...', required: true, "data-cid" => conversation.id, id: "con-text-#{conversation.id}-#{current_user.class}-#{current_user.id}" %>
<!--    </div>-->
<!--    <div id="file-name_uploaded">-->

<!--    </div>-->
<!--    <div class="chat-input-extra">-->
<!--      <div class="chat-extra-actions">-->
        <%#= button_tag type: "button", class: "btn p-0", style: "background: transparent;box-shadow: none;", onclick: "$('##{"chat-templates-#{conversation.id}"}').modal('show')" do %>
          <%#= image_tag("/docusign.png",size: "20x25") %>
        <%# end %>
        <%#= render 'shared/file_attachement', f: f, attr_name: :file_url, name_selector: ".uploaded_file_name", cstm_class: "p-0", cstm_style: "background: transparent;box-shadow: none;width: 31px;", button_name: "<i class='os-icon os-icon-ui-51' style='font-size: 26px;'></i>".html_safe, name_selector: '#file-name_uploaded', required_field: false %>
        <%# if conversation.present? and conversation.JobApplication? %>
<!--          <div>-->
            <%# candidate = conversation.chatable&.groupables.find_by_groupable_type(:Candidate).groupable %>
            <%#= mini_chat_contact_widget(candidate.email, candidate.phone,candidate.id) %>
<!--          </div>-->
        <%# end %>
<!--      </div>-->
<!--      <div class="chat-btn">-->
        <%#= button_tag(type: "submit", class: "btn p-0", style: "background: transparent;box-shadow: none;",id:"send-message", onclick: "send_message(#{conversation.id})") do %>
<!--          <i class="os-icon os-icon-mail-18" style='font-size: 26px; margin: 0px;'></i>-->
        <%# end %>
<!--      </div>-->
<!--    </div>-->
  <%# end if conversation.present? %>
<!--</div>-->
<%# if conversation&.job_application %>
<!--  <div id="job_application_status_links">-->
    <%#= render 'company/job_applications/partials/job_status_links', btn_size_class: 'btn-sm', app: @conversation.chatable%>
<!--  </div>-->
<%# end %>
<!--</div>-->

<%# content_for :modals do %>
  <%#= render('shared/chat_document_templates', conversation: @conversation) if @conversation.present? %>
<%# end %>

<%# content_for :scripts do %>
<!--  <script>-->
<!--      function onCompanyFileUpload(event) {-->
<!--          $('#file-name_uploaded').html("<span>" + event.fpfile.filename + "</span><hr/>");-->
<!--      }-->
<!--      function send_message(id){-->
<!--          $.ajax({-->
<!--              url: `/company/conversations?conversation=${id}`,-->
<!--              type: "POST",-->
<!--              dataType: "script",-->
<!--              success: function (data) {-->
<!--              }-->
<!--          });-->
<!--      }-->
<!--      $(document).ready(function () {-->
<!--          set_company_users_select('#select_sell_company_contacts', "Please Select Signers", "#sell_contract_company");-->
          <%# unless conversation&.job_application %>
          <%# unless request.fullpath.include?("job_applications") %>
<!--          $('.collapsible').css('padding', '6px 18px');-->
<!--          $('#collapsible_job_application').removeClass('ml-2 mr-2')-->
<!--          $('#collapsible_job_application').removeClass('mt-4')-->
<!--          $('#collapsible_job_application').addClass('mt-2')-->
          <%# end %>
          <%# end %>
<!--          $.ajax({-->
<!--              url: "<%= messages_conversation_conversation_messages_path(conversation||0) %>",-->
<!--              type: "GET",-->
<!--              dataType: "script",-->
<!--              success: function (data) {-->
<!--                  console.log(data);-->
<!--                  $("#conversation_<%=conversation&.id||0 %>").parent().scrollTop($("#conversation_<%=conversation&.id||0 %>").parent()[0].scrollHeight);-->
<!--              }-->
<!--          });-->
<!--      });-->
<!--  </script>-->
<%# end %>


