<div class="chat_box with_border wrap-chat-box" data-conversation-id="<%= conversation.id if conversation.present? %>" id="conversation-chat-box">
  <div class="chat-head" style="flex-direction: column; align-items: stretch;">
    <div class="flex-row w-100 chat-heat_justify">

      <% opt_obj = conversation.chatable_type == "Group" ? conversation.chatable : (conversation.senderable == current_user ? conversation.recipientable : conversation.senderable) if conversation.present? %>
      <div>
        <span>To:</span>
        <% contract = get_contract(opt_obj) %>
        <a class="d-inline badge badge-primary" target="_blank" href="<%= contract.nil? ? "#" : contract_path(contract) %>"><%= opt_obj.full_name if opt_obj.present? %></a>
      </div>

    </div>

    <% if conversation&.job_application and nested_colap %>

      <div id="job_application_links">
        <%= render 'company/job_applications/partials/collapse_able_job_application', conversation: conversation, job_application: conversation.job_application %>
      </div>

    <% end %>

  </div>
  <div class="chat-content-w chat-content-scroll chat-content_height">
    <div class="chat-content" id="conversation_<%= conversation.id if conversation.present? %>">
      <div id="all-infinite-scrolling-msg" style="display:none"></div>
      <%= hidden_field_tag "prev_date", nil %>
    </div>
  </div>
  <div class="chat-controls">
    <%= form_for([conversation, ConversationMessage.new], :remote => true, :html => {id: "conversation_form_#{conversation.id}"}) do |f| %>
      <div class="chat-input1 chat-input">
        <%= f.text_field :body, class: 'form-control input-sm chat_input ', autocomplete: "off", placeholder: 'Type your message here...', required: true, "data-cid" => conversation.id, id: "con-text-#{conversation.id}-#{current_user.class}-#{current_user.id}" %>
      </div>
      <div id="file-name_uploaded">

      </div>
      <div class="chat-input-extra">
        <div class="chat-extra-actions">
          <%= button_tag type: "button", class: "btn p-0", style: "background: transparent;box-shadow: none;", onclick: "$('##{"chat-templates-#{conversation.id}"}').modal('show')" do %>
            <%= image_tag("/docusign.png",size: "20x25") %>
          <% end %>
          <%= render 'shared/file_attachement', f: f, attr_name: :file_url, name_selector: ".uploaded_file_name", cstm_class: "p-0", cstm_style: "background: transparent;box-shadow: none;width: 31px;", button_name: "<i class='os-icon os-icon-ui-51' style='font-size: 26px;'></i>".html_safe, name_selector: '#file-name_uploaded' %>
          <% if conversation.present? and conversation.JobApplication? %>
            <div>
              <% candidate = conversation.chatable&.groupables.find_by_groupable_type(:Candidate).groupable %>
              <%= mini_chat_contact_widget(candidate.email, candidate.phone,candidate.id) %>
            </div>
          <% end %>
        </div>
          <div class="chat-btn">
              <%= button_tag(type: "submit", class: "btn p-0", style: "background: transparent;box-shadow: none;",id:"send-message", onclick: "send_message(#{conversation.id})") do %>
                <i class="os-icon os-icon-mail-18" style='font-size: 26px; margin: 0px;'></i>
               <% end %>
          </div>
        </div>
    <% end if conversation.present? %>
  </div>
  <% if conversation&.job_application %>
    <div id="job_application_status_links">
      <%#= render 'company/job_applications/partials/job_status_links', btn_size_class: 'btn-sm', app: @conversation.chatable%>
    </div>
  <% end %>
</div>

<% content_for :modals do %>
  <%= render('shared/chat_document_templates', conversation: @conversation) if @conversation.present? %>
<% end %>

<% content_for :scripts do %>
  <script>
      function onCompanyFileUpload(event) {
          $('#file-name_uploaded').html("<span>" + event.fpfile.filename + "</span><hr/>");
      }
      function send_message(id){
          $.ajax({
              url: `/company/conversations?conversation=${id}`,
              type: "POST",
              dataType: "script",
              success: function (data) {
              }
          });
      }
      $(document).ready(function () {
          set_company_users_select('#select_sell_company_contacts', "Please Select Signers", "#sell_contract_company");
          <%# unless conversation&.job_application %>
          <% unless request.fullpath.include?("job_applications") %>
          $('.collapsible').css('padding', '6px 18px');
          $('#collapsible_job_application').removeClass('ml-2 mr-2')
          $('#collapsible_job_application').removeClass('mt-4')
          $('#collapsible_job_application').addClass('mt-2')
          <% end %>
          <%# end %>
          $.ajax({
              url: "<%= messages_conversation_conversation_messages_path(conversation||0) %>",
              type: "GET",
              dataType: "script",
              success: function (data) {
                  console.log(data);
                  $("#conversation_<%=conversation&.id||0 %>").parent().scrollTop($("#conversation_<%=conversation&.id||0 %>").parent()[0].scrollHeight);
              }
          });
      });
  </script>
<% end %>
