<style>
.more_class{
margin-left: auto;
}
</style>

<div class="floated-chat-w active zero-bottom">
    <div class="floated-chat-i">
        <div class="chat-close display-flex">
            <a class="align-self-center rotate-45 no-hover new-class-margin" style="font-size: 15px;" href=<%= company_conversations_path(conversation: conversation.id) %> target="_blank">
                <i class="data-table-icons ti-arrows-horizontal"> </i>
            </a>
            <i class="os-icon os-icon-minus align-self-center"></i>
        </div>
        <div class="chat-head">
            <div class="flex-row w-100 chat-heat_justify">
                <div class=" d-flex w-100 align-items-center">
                    <% conversation.chatable.groupables.sample(4).each do |groupable| %>
                    <div class=" my_avatar">
                        <%= user_image_mini_chat(groupable.groupable, style: 'width: 45px; height: 45px; border-radius: 50%; ', class: '', title: "#{groupable.groupable&.full_name}") %>
                    </div>
                    <% end %>
                    <% if conversation.chatable.groupables.count > 4 %>
                    <div class="min_chat_more"><%= "+ #{(conversation.chatable.groupables.count - 4).abs}" %>More</div>
                    <% end %>
                    <div class="min_chat_more more_class"><%= (mini_chat_title(conversation)) %></div>
                </div>
            </div>
        </div>
        <%# if conversation.chatable.groupables.count > 1 %>
        <div class="chat-messages ps ps--theme_default" style="width:100%" data-ps-id="2f3100d8-938b-8535-97e8-f6f574450d91">
            <div class="chat-content-small chat-content-scroll chat-content_height scrool" style="overflow-x: hidden">
                <div class=" small-chat-heig" style="width:100%" id="conversation_<%= conversation.id %>">
                    <div id="all-infinite-scrolling-msg" style="display:none"></div>
                    <%= hidden_field_tag "prev_date", nil %>
                </div>
            </div>
        </div>
        <div class="chat-controls">
            <%= form_for([conversation, ConversationMessage.new], :remote => true, :html => {id: "conversation_form_#{conversation.id}"}) do |f| %>
            <div class="chat-input1 chat-input" style=" border-top: 1px solid rgba(0, 0, 0, 0.2);">
                <%= f.text_field :body, class: 'form-control input-sm chat_input ', autocomplete: "off", placeholder: 'Type your message here...', required: true, "data-cid" => conversation.id, id: "con-text-#{conversation.id}-#{current_user.class}-#{current_user.id}" %>
            </div>
            <div id="file-name_uploaded">

            </div>
            <div class="chat-input-extra d-flex pl-1 pr-1 justify-content-between">
                <div class="chat-extra-actions">
                    <%= button_tag type: "button", class: "btn p-0", style: "background: transparent;box-shadow: none;", onclick: "$('##{"chat-templates-#{conversation.id}"}').modal('show')" do %>
                    <%= image_tag("/assets/docusign.png", size: "25x25") %>

                    <% end %>
                    <%= render 'shared/file_attachement', f: f, attr_name: :file_url, name_selector: ".uploaded_file_name", cstm_class: "p-0", cstm_style: "background: transparent;box-shadow: none;width:30px;", button_name: "<i class='os-icon os-icon-ui-51' style='font-size: 26px;'></i>".html_safe, name_selector: '#file-name_uploaded', required_field: false %>
                    <%= mini_chat_contact_widget(conversation.chatable.group_emails, nil, nil, chat_link: chat_link(nil, conversation.id)) %>


                </div>

                <div class="chat-btn">

                    <%= button_tag(type: "submit", class: "btn p-0", style: "background: transparent;box-shadow: none;",id:"send-message", onclick: "send_message(#{@conversation.id})") do %>
                    <i class="os-icon os-icon-mail-18" style=' font-size: 26px; margin: 0px;'></i>
                    <% end %>

                </div>


            </div>
            <% end if conversation.present? %>
        </div>
        <%# else %>
        <!--      <div class="chat-messages ps ps--theme_default" data-ps-id="2f3100d8-938b-8535-97e8-f6f574450d91">-->
        <!--        <div class="chat-content-small chat-content-scroll chat-content_height">-->
        <!--          <div class="nochat-msg"> currently Group-->
        <!--            has <%#= pluralize(conversation.chatable.groupables.count, 'Member') %>-->
        <!--            <br><%#= link_to 'click here', company_conversations_path(conversation: conversation.id) %> to add-->
        <!--          </div>-->
        <!--there-->
        <!--        </div>-->
        <!--      </div>-->
        <!--      <div class="chat-controls">-->
        <%#= form_for([@conversation, ConversationMessage.new], :remote => true, :html => {id: "conversation_form_#{@conversation.id}"}) do |f| %>

        <!--          <div class="chat-input1 chat-input" style=" border-top: 1px solid rgba(0, 0, 0, 0.2);">-->
        <%#= f.text_field :body, class: 'form-control input-sm chat_input ', autocomplete: "off", placeholder: 'Type your message here...', required: true, "data-cid" => conversation.id, id: "con-text-#{conversation.id}-#{current_user.class}-#{current_user.id}" %>
        <!--          </div>-->
        <!--          <div id="file-name_uploaded">-->

        <!--          </div>-->
        <!--          <div class="chat-btn">-->
        <%#= button_tag(type: "submit", class: "btn p-0", style: "background: transparent;box-shadow: none;",id:"send-message", onclick: "send_message(#{@conversation.id})") do %>
        <!--              <i class="os-icon os-icon-mail-18" style='font-size: 26px; margin: 0px;'></i>-->
        <%# end %>
        <!--          </div>-->
        <%# end if conversation.present? %>
        <!--      </div>-->
        <%# end %>
    </div>
</div>

<script type="text/javascript" charset="utf-8">
    function send_message(id) {
        setTimeout(() => {
            $('.chat_input').val("");
            $(`#conversation_${id}`).empty();
            $.ajax({
                url: "<%= messages_conversation_conversation_messages_path(@conversation) %>",
                type: "GET",
                dataType: "script",
                success: function(data) {
                    $("#conversation_<%=conversation&.id||0 %>").parent().scrollTop($("#conversation_<%=conversation&.id||0 %>").parent()[0].scrollHeight);

                }
            });
        }, 500);
    }
    $('#logo-group').hide()
</script>