= form_for @consultant , html: {id: 'wizard-1' ,novalidate: "novalidate" } do |e|
  = e.fields_for :consultant_profile do |p|
    #bootstrap-wizard-1.col-sm-12
      .form-bootstrapWizard
        %ul.bootstrapWizard.form-wizard
          %li.active{"data-target" => "#step1"}
            %a{"data-toggle" => "tab", :href => "#tab1"}
              %span.step 1
              %span.title Basic information
          %li{"data-target" => "#step2"}
            %a{"data-toggle" => "tab", :href => "#tab2"}
              %span.step 2
              %span.title Employment Detail
          %li{"data-target" => "#step3"}
            %a{"data-toggle" => "tab", :href => "#tab3"}
              %span.step 3
              %span.title Documents & Verification
          %li{"data-target" => "#step4"}
            %a{"data-toggle" => "tab", :href => "#tab4"}
              %span.step 4
              %span.title Save Form
        .clearfix
      .tab-content
        #tab1.tab-pane.active
          %br/
          %h3
            %strong Step 1
            \- Basic Information
          = render partial: 'company/consultants/partials/basic_information' , locals: {e: e}
        #tab2.tab-pane
          %br/
          %h3
            %strong Step 2
            \- Employment Detail
          = render partial: 'company/consultants/partials/employment_details' , locals: {p: p}
        #tab3.tab-pane
          %br/
          %h3
            %strong Step 3
            \- Documents & Verification
          = render partial: 'company/consultants/partials/documents_and_verifications' , locals: {e: e}
        -##tab4.tab-pane
        -#  %br/
        -#  %h3
        -#    %strong Step 4
        -#    \- Save Form
        -#  %br/
        -#  %h1.text-center.text-success
        -#    %strong
        -#      %i.fa.fa-check.fa-lg
        -#      Complete
        -#  %h4.text-center Click next to finish
        -#  %br/
        -#  %br/
        #tab4.tab-pane
          %br/
          %h3
            %strong Step 4
            \- Custom Fields
          #custom_fields
            .col-sm-12
              = e.fields_for :custom_fields do |lt|
                = render 'shared/custom_fields', f: lt
          %strong
            .links.col-sm-12
              = link_to_add_association '+ Add Custom Field', e, :custom_fields, class: 'text-info pull-right', partial: 'shared/custom_fields'
              %br/
        .form-actions
          .row
            .col-sm-12
              %ul.pager.wizard.no-margin
                %li.previous.disabled
                  %a.btn.btn-lg.btn-default{:href => "javascript:void(0);"} Previous
                %li.next
                  %a.btn.btn-lg.txt-color-darken{:href => "javascript:void(0);"} Next
                %li.pull-right.finish{:style=>"di"}
                  %a.btn.btn-lg.btn-default{:href => "javascript:;"} Finish
- content_for :scripts do
  :javascript
      $( document ).ready(function() {
          $(".multi-select2-role").select2({placeholder: "Select a Role(s)"});
           $(".multi-select2-company-docs").select2({placeholder: "Select a Doc(s)"});
      });