#content.margin-top-0
  %body
    %section#widget-grid
      .row
        %article.col-xs-12.col-sm-12.col-md-12.col-lg-12.sortable-grid.ui-sortable
          #wid-id-1.jarviswidget.jarviswidget-color-blueDark.jarviswidget-sortable{"data-widget-editbutton" => "false", :role => "widget"}
            %header{:role => "heading"}
              %span.widget-icon
                %i.fa.fa-table
              %h2 Consultants
              %span.jarviswidget-loader
                %i.fa.fa-refresh.fa-spin
            / widget div
            %div{:role => "content"}
              .jarviswidget-editbox
              .widget-body.no-padding
                #datatable_fixed_column_wrapper.dataTables_wrapper.form-inline.dt-bootstrap.no-footer
                  .dt-toolbar
                    .col-xs-12.col-sm-6.hidden-xs
                      #datatable_fixed_column_filter.dataTables_filter
                        %label
                          %span.input-group-addon{style: "background-color:#eee;"}
                            %i.glyphicon.glyphicon-search
                          %input.form-control{"aria-controls" => "datatable_fixed_column", :placeholder => "", :type => "search"}/
                    .col-sm-6.col-xs-12.hidden-xs
                      .toolbar
                        .text-right
                          = link_to 'NEW' , new_consultant_path , class: 'btn btn-success btn-md pull-right header-btn '
                  %table#datatable_fixed_column.table.table-striped.table-bordered.dataTable.no-footer{"aria-describedby" => "datatable_fixed_column_info", :role => "grid", :style => "width: 100%;", :width => "100%"}
                    %thead
                      %tr{:role => "row"}
                        %th.hasinput{ :style => "width:5%"}
                          %input.form-control{:placeholder => "Pic", :type => "text"}/
                        %th.hasinput{ :style => "width:10%"}
                          .input-group
                            %input.form-control{:placeholder => "Name", :type => "text"}/
                        %th.hasinput{ :style => "width:7%"}
                          %input.form-control{:placeholder => "Email", :type => "text"}/
                        %th.hasinput{ :style => "width:7%"}
                          %input.form-control{:placeholder => "Phone", :type => "text"}/
                        %th.hasinput
                          %input.form-control{:placeholder => "Visa", :type => "text"}/
                        %th.hasinput{ :style => "width:5%"}
                          %input.form-control{:placeholder => "Roles", :type => "text"}/
                        %th.hasinput{ :style => "width:15%"}
                          %input.form-control{:placeholder => "Skills", :type => "text"}/
                        %th.hasinput{ :style => "width:15%"}
                          %input.form-control{:placeholder => "Last Login", :type => "text"}/
                        %th.hasinput
                          %input.form-control{:placeholder => "Last Reminder", :type => "text"}/
                        %th.hasinput{ :style => "width:15%"}
                          %input.form-control{:placeholder => "Actions", :type => "text"}/
                      %tr{:role => "row"}
                        %th Pic
                        %th{style: "width:10%"} Name
                        %th{style: "width:10%"} Email
                        %th{style: "width:10%"} Phone
                        %th{style: "width:5%"} Visa
                        %th{style: "width:15%"} Roles
                        %th{style: "width:20%"} Skills
                        %th{style: "width:10%"}  Last Login
                        %th{style: "width:10%"} Last Reminder
                        -#%th Groups
                        -#%th Salary
                        %th{style: "width:20%"}
                          Actions
                    %tbody
                      - @consultants.each_with_index do |consultant , index|
                        %tr.even{:role => "row"}
                          %td= image_tag consultant.photo, alt: '', width: '20'
                          %td= link_to consultant.try(:full_name) , company_user_profile_path(consultant) , target: '_blank'
                          %td= consultant.try(:email)
                          %td= consultant.try(:phone)
                          %td= consultant.try(:visa_status)
                          %td
                            - consultant.roles.each do |role|
                              %span.badge.bg-color-blue.margin-bottom-5
                                = role.try(:name).try(:titleize)
                          %td
                            - consultant.skills.each do |skill|
                              %span
                                .label-info.badge
                                  = skill.name
                          %td= consultant.try(:last_sign_in_at).try(:strftime,"%A, %d %b %Y %l:%M %p")
                          %td
                            - reminder = find_reminderable_last_reminder(consultant)
                            = reminder.present? ? reminder.try(:title).try(:titleize) : ''
                          -#%td= consultant.consultant_profile.salaried? ? "$#{consultant.consultant_profile.salary} / month"  : "$#{consultant.consultant_profile.salary} / hour"
                          -#%td
                            - consultant.groups.each do |group|
                              %span.badge.bg-color-blue
                                = group.try(:group_name).try(:titleize)
                          %td
                            = link_to 'Remind Me'     ,company_user_add_reminder_path(consultant)  ,class: 'btn btn-primary btn-xs margin-bottom-5', remote: :true
                            = link_to 'Activity'     ,company_activities_index_path(index: true), class: 'btn btn-xs btn-primary margin-bottom-5'
                            = link_to raw("<i class='fa fa-pencil '></i>") , edit_consultant_path(consultant,edit: true) , class: 'btn btn-xs btn-default btn-primary margin-bottom-5', title: "Edit #{consultant.full_name}"
                            = link_to raw("Assign Groups"), company_user_assign_groups_path(consultant) , remote:true,class: 'btn btn-xs btn-success margin-bottom-5'
                          -#= link_to raw("<i class='fa fa-times '></i>") , consultant_path(consultant) , method: :delete ,  class: 'btn btn-xs btn-default btn-danger' , title: "Delete #{consultant.full_name}",data: {confirm: "Are you sure you want to Delete this Consultants ?", verify: 'Confirm', verify_text: "Type 'Confirm' to Continue"}
                  - if @consultants.count >30
                    .dt-toolbar-footer
                      = digg_pagination(@consultants)
              -#.widget-body
                .col-md-12
                  = search_form_for @search , url: search_consultants_path , method: :get do |f|
                    %ul#internal-tab-1.nav.nav-tabs.tabs-pull-right
                      %br
                      .input-group.input-group-lg.hidden-mobile
                        = f.text_field :first_name_or_last_name_or_email_cont, class: "form-control input-lg", placeholder: "Search Consultant..."
                        .input-group-btn
                          = f.button raw("<i class='fa fa-fw fa-search fa-lg'></i>") , class: 'btn btn-default'
:css
  .form-control
  {
    background-color: white !important;
  }
  .digg_pagination
  {
    background-color: #fafafa !important;
  }

