#content
  .row
    .col-xs-12.col-sm-3.col-md-3.col-lg-3.pull-right
      = link_to 'NEW' , new_consultant_path , class: 'btn btn-success btn-lg pull-right header-btn hidden-mobile'
  %section.margin-top-10.padding-10
    .row
      #wid-id-5.no-border
        %div
          .widget-body
            .col-md-12
              = search_form_for @search , url: search_consultants_path , method: :get do |f|
                %ul#internal-tab-1.nav.nav-tabs.tabs-pull-right
                  %br
                  .input-group.input-group-lg.hidden-mobile
                    = f.text_field :first_name_or_last_name_or_email_cont, class: "form-control input-lg", placeholder: "Search Consultant..."
                    .input-group-btn
                      = f.button raw("<i class='fa fa-fw fa-search fa-lg'></i>") , class: 'btn btn-default'
              %br/
              %br/
              .table{:style => "width:100"}
                %table#resultTable.table.table-striped.table-bordered.table-hover
                  %thead
                    %tr
                      %th Pic
                      %th{style: "width:10%"} Name
                      %th{style: "width:10%"} Email
                      %th{style: "width:10%"} Phone
                      %th{style: "width:5%"} Visa
                      %th{style: "width:20%"} Roles
                      %th{style: "width:20%"} Skills
                      %th{style: "width:5%"}  Last Login
                      -#%th Groups
                      -#%th Salary
                      %th{style: "width:20%"}
                        Actions
                  %tbody
                    - @consultants.each_with_index do |consultant , index|
                      %tr
                        %td= image_tag consultant.photo, alt: '', width: '20'
                        %td= link_to consultant.try(:full_name) , company_user_profile_path(consultant) , target: '_blank'
                        %td= consultant.try(:email)
                        %td= consultant.try(:phone)
                        %td= consultant.try(:visa_status)
                        %td
                          - consultant.roles.each do |role|
                            %span.badge.bg-color-blue.margin-bottom-5
                              = role.try(:name).try(:titleize)
                        %td
                          - consultant.skills.each do |skill|
                            %span
                              .label-info.badge
                                = skill.name
                        %td= consultant.try(:last_sign_in_at).try(:strftime,"%A, %d %b %Y %l:%M %p")
                        -#%td= consultant.consultant_profile.salaried? ? "$#{consultant.consultant_profile.salary} / month"  : "$#{consultant.consultant_profile.salary} / hour"
                        -#%td
                          - consultant.groups.each do |group|
                            %span.badge.bg-color-blue
                              = group.try(:group_name).try(:titleize)
                        %td
                          = link_to 'Activity'     ,company_activities_index_path(index: true), class: 'btn btn-xs btn-primary'
                          = link_to raw("<i class='fa fa-pencil '></i>") , edit_consultant_path(consultant,edit: true) , class: 'btn btn-xs btn-default btn-primary', title: "Edit #{consultant.full_name}"
                          = link_to raw("Assign Groups"), company_user_assign_groups_path(consultant) , remote:true,class: 'btn btn-xs btn-success'
                          -#= link_to raw("<i class='fa fa-times '></i>") , consultant_path(consultant) , method: :delete ,  class: 'btn btn-xs btn-default btn-danger' , title: "Delete #{consultant.full_name}",data: {confirm: "Are you sure you want to Delete this Consultants ?", verify: 'Confirm', verify_text: "Type 'Confirm' to Continue"}
          = digg_pagination(@consultants)


