
.timeline-blockwrap.upcomming_timeline
  - @client_expenses.each do |ce|
    - cc = ce.contract_cycle
    / - cy = ContractCycle.find_by(contract_id: cc.contract_id, end_date: cc.end_date, candidate_id: cc.candidate_id)
    .timeline-block.m-1{style: "width: 300px"}
      = cc&.start_date&.utc&.strftime("%d %B %Y").to_s+' - '+cc&.end_date&.utc&.strftime("%d %B %Y").to_s
      %br
      %span.badge.status-badge.yellow-badge
        - if ['Salary clear', 'Salary process', 'Salary calculation'].include? cc.note
          = link_to cc.note, final_salary_salaries_path(cycle_id: cc.id, note: cc.note)
        - else
          = cc.cycle_type.tableize.singularize.split("_").join(" ").capitalize
      %span.due-txt
        #{cc&.doc_date&.strftime("%d %B %Y")}
      %br
      %br
      Contract ID - #{cc.contract.id} - Cycle ID #{cc.id}
      %p.mb-0.submitted-name
        %b= "Name: #{cc.cycle_of.company.full_name.capitalize}"
