#myModal.modal.fade{:role => "dialog"}
  .modal-dialog

    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Modal Header
      .modal-body
        %table#datatable_fixed_column.table.table-striped.table-bordered.dataTable
          %thead
            %tr
              %th Select
              %th Title
              %th Custome Name
              %th Expiry Date
              %th Attachments
          %tbody
            - docusign_company.company_legal_docs.each do |doc|
              %tr
                %td
                  = check_box_tag "ids[]", doc.id
                %td= doc.title
                %td= doc.custome_name
                %td= doc.exp_date
                %td
                  -if !doc.file.blank?
                    -index = 1
                    - doc.file.split(",").each do |file_path|
                      %br
                      %a{:download => "", :href => file_path, :target=>"_blank"}
                        = "File #{index}"
                        - index = index +1    
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
