#content.newsfeed
  %body
    %section#widget-grid.clearfix
      .newsfeed-left
        %left-side-header.d-flex.align-items-center
          %strong.left-side-header-left
            My Bench
          %div.left-side-header-right
            = link_to "My Jobs", company_console_jobs_path, class:"font-12 btn btn-primary"
            = link_to "+", new_company_candidate_path, class:"font-12 btn btn-primary", title: "Add New Bench"
        %hr{:style=>"margin: 0;"}
        %ul
          - if @candidates.empty?
            (No Bench Found)
          - @candidates.each do |hot_candidate|
            - candidate = hot_candidate.candidate
            -# if !(Time.parse(job.created_at.to_s) <= Time.parse(Time.now.to_s) && job.job_applications.blank?)
            %li
              = link_to company_console_candidate_path(candidate), remote: true do
                %div.public-job-list.clearfix
                  %span.pull-left
                    =candidate.candidate_title
                  %span.pull-right
                    %i.fa.fa-calendar-o
                    =candidate.created_at.strftime("%d/%m/%Y")
                %div.job-header.clearfix
                  = user_mini_avatar(candidate)
                  %p.job_title
                    = candidate.try(:full_name)
                  %p.job_title
                    - job_invitation = JobInvitation.find_by(recipient_id: candidate.id, company_id: hot_candidate.company&.id)
                    - if job_invitation
                      = job_invitation&.min_hourly_rate.to_s + "-" + job_invitation&.max_hourly_rate.to_s
                      %i.fa.fa-usd
                %div.public-job-other-info
                  %span
                    %i.fa.fa-map-marker
                    = candidate.try(:location)
                  %span
                    %i.fa.fa-user
                    = candidate.recruiter.try(:full_name)
      .newsfeed-right
        %div#matched-jobs
  .timesheet_pagination_wrap.pt-3.m-3
    .pagination_label
      = page_entries_info @candidates
    = will_paginate(@candidates, {previous_label: "Previous",next_label: "Next",inner_window: 2,class: 'public_job_des_pagination_links'}.merge(link_options: {'data-remote': true}))


-content_for :body_class, 'greybg'
- content_for :modals do
  #job_application

:css
  .left-side-header{
    width:100%;
    height:60px;
    overflow: hidden;
  }
  .left-side-header-left{
    margin: auto;
    float: left;
  }
  .left-side-header-right{
    margin: auto;
    float: right;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }

- content_for :scripts do
  :javascript
    $(document).ready(function() {
      default_active_nav('.ln-4');
    });
