.content-box
  .element-wrapper
    .element-box
      = render partial: 'company/companies/sub_menu_company'
      %body.bg_white
        .container-fluid.bg_white
          .row{style: "padding: 0px 15px 15px 15px;"}
            .form-group
              .multi-field-wrapper
                .multi-fields
                  = form_for current_company,url: "/company_legal_docs",method: :post do |f|
                    %br
                    %hr
                    .row
                      .col-md-12
                        %h4
                          %b Legal Document
                        %br
                        .form-group.candidate-association
                          = fields_for :company_legal_docs, @company_legal_docs do |b|
                            = render 'company/companies/company_legal_docs_fields', f: b
                            / %strong
                            / .links.pull-right
                            /   = link_to_add_association '+ Add Document', f, :company_legal_docs, class: 'btn btn-success', partial: 'company/companies/company_legal_docs_fields'
                    / .row
                    / .col-lg-12
                    /   %button.btn.btn-primary.pull-right{:type => "submit"}
                    /     Saved
          .row
            .col-md-12
              %section#widget-grid
                .row
                  %article.col-xs-12.col-sm-12.col-md-12.col-lg-12.sortable-grid.ui-sortable
                    #wid-id-1.jarviswidget.jarviswidget-color-blueDark.jarviswidget-sortable{"data-widget-editbutton" => "false", :role => "widget"}
                      %header{:role => "heading"}
                        %span.widget-icon
                          %i.fa.fa-table
                        %h2 Legal Documents
                        %span.jarviswidget-loader
                          %i.fa.fa-refresh.fa-spin
                      / widget div
                      %div{:role => "content"}
                        .jarviswidget-editbox
                        .widget-body.no-padding
                          #datatable_fixed_column_wrapper.dataTables_wrapper.form-inline.dt-bootstrap.no-footer
                            %table#datatable_fixed_column.table.table-striped.table-bordered.dataTable.no-footer{"aria-describedby" => "datatable_fixed_column_info", :role => "grid", :style => "width: 100%;", :width => "100%"}
                              %thead
                                %tr{:role => "row"}
                                  %th.hasinput{ :style => "width:2%"}
                                    / %input.form-control{type: "checkbox", :type => ""}/
                                    = check_box_tag "select_all[]", ""
                                  %th.hasinput{ :style => "width:17%"}
                                    %input.form-control{:placeholder => "Title", :type => "text"}/
                                  %th.hasinput{ :style => "width:18%"}
                                    %input.form-control{:placeholder => "Custome Name", :type => "text"}/
                                  %th.hasinput{ :style => "width:16%"}
                                    %input.form-control{:placeholder => "Expiry Date ", :type => "text"}/
                                  %th.hasinput{ :style => "width:17%"}
                                    %input.form-control{:placeholder => "Attachments", :type => "text"}/
                                  %th.hasinput{ :style => "width:16%"}
                                    %input.form-control{:placeholder => "Actions", :type => "text"}/
                                %tr{:role => "row"}
                                  %th Select
                                  %th.expand.sorting_asc Title
                                  %th Custome Name
                                  %th Expiry Date
                                  %th Attachments
                                  %th.sorting{} Actions
                              %tbody
                                - current_company.company_legal_docs.each do |doc|
                                  %tr.even{:role => "row"}
                                    %td
                                      = check_box_tag "ids[]", doc.id
                                    %td= doc.title
                                    %td= doc.custome_name
                                    %td= doc.exp_date
                                    %td
                                      -if !doc.file.blank?
                                        -index = 1
                                        - doc.file.split(",").each do |file_path|
                                          %br
                                          %a{:download => "", :href => file_path, :target=>"_blank"}
                                            = "File #{index}"
                                            - index = index +1
                                    %td.legal-document-file-upload-btn
                                      = link_to "", delete_company_legal_docs_path(:id=>doc.id), :title=>"Delete", class: "fa fa-trash-o fa-lg fa-fw delete_primary_doc", method: :delete, data: { confirm: 'Are you sure?', :style=>"float: right !important;" }
                                      = button_tag "" ,class: "video-file fa fa-paperclip fa-lg",type: "button", onclick:"fileUploadEvent(#{doc.id})", :button_text=>" "

    / .row
    /   .col-md-12
    /     - if current_company.company_legal_docs &&  current_company.company_legal_docs.count != 0
    /       %table.table.table-bordered
    /         %tr
    /           %th Title
    /           %th Custome Name
    /           %th Expiry Date
    /           %th Attachments
    /           %th Action
    /         - current_company.company_legal_docs.each do |doc|
    /           %tr
    /             %td= doc.title
    /             %td= doc.custome_name
    /             %td= doc.exp_date
    /             %td
    /               -if doc.file
    /                 %a.delete_icon{:download => "", :href => doc.file}
    /                   %i.fa.fa-paperclip  
    /             %td
    /               = link_to "", delete_company_legal_docs_path(:id=>doc.id), :title=>"Delete", class: "fa fa-trash-o fa-lg fa-fw delete_primary_doc", method: :delete, data: { confirm: 'Are you sure?' }                                   

- content_for :scripts do
  :javascript 
    $(document).ready(function() {
      $('.legal_doc_exp_date').datepicker({
       dateFormat: "yy-mm-dd"
      });  
    });

    $('.candidate-association').on('cocoon:after-insert', function(e, insertedItem) {
      $(".legal_doc_exp_date").datepicker({
        dateFormat : 'yy-mm-dd'
      });

      insertedItem.find('.filepicker-attach').each(function(i,e){
        filepicker.constructWidget(e);
        $(".filepicker-attach").on('click',function() {
          $('.fp__overlay').css({'z-index':'99999'})
        });
        $('.filepicker-attach').on('click',function() {
          //$(this).hide();
         });
      });
    });

    function fileUploadEvent(id) {
        upload_file_ajax(fileUpload,id);
     }

    function fileUpload(url,type,doc_id){
      file_url = url
      file_type= type
      $('.video-pic').html('');
      $.ajax({
       type: 'POST',
       dataType: 'json',
       url: "#{update_legal_docs_companies_path}",
       data: { file: file_url,authenticity_token: window._token, file_type: file_type, doc_id:doc_id },
       success: function (data) {
         location.reload();
       }
     });
    }
   
    $(document).ready(function() {

      // DO NOT REMOVE : GLOBAL FUNCTIONS!
      pageSetUp();

      // $( ".this_is" ).click(function() {
      //   var v = $(this).text();
      //   alert(v);
      // });
      // PAGE RELATED SCRIPTS

      /*
       * Fixed table height
       */

      //tableHeightSize()

      //$(window).resize(function() {
      //  tableHeightSize()
      //})

      function tableHeightSize() {

        if ($('body').hasClass('menu-on-top')) {
          var menuHeight = 68;
          // nav height

          var tableHeight = ($(window).height() - 224) - menuHeight;
          if (tableHeight < (320 - menuHeight)) {
            $('.table-wrap').css('height', (320 - menuHeight) + 'px');
          } else {
            $('.table-wrap').css('height', tableHeight + 'px');
          }

        } else {
          var tableHeight = $(window).height() - 224;
          if (tableHeight < 320) {
            $('.table-wrap').css('height', 320 + 'px');
          } else {
            $('.table-wrap').css('height', tableHeight + 'px');
          }

        }

      }

      /*
       * LOAD INBOX MESSAGES
       */

      $(".candidate_doc_exp_date").datepicker({
        dateFormat : 'yy-mm-dd'
      });



      var responsiveHelper_dt_basic = undefined;
      var responsiveHelper_datatable_fixed_column = undefined;
      var responsiveHelper_datatable_col_reorder = undefined;
      var responsiveHelper_datatable_tabletools = undefined;
      var otable = $('#datatable_fixed_column').DataTable({
            "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6 hidden-xs'f><'col-sm-6 col-xs-12 hidden-xs'<'toolbar'>>r>"+
                    "t"+
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
            "autoWidth" : true,
            "oLanguage": {
                "sSearch": '<span class="input-group-addon"><i class="icon-feather-search"></i></span>'
            }

        });

      // Apply the filter
      $("#datatable_fixed_column thead th input[type=text]").on( 'keyup change', function () {
        otable
            .column( $(this).parent().index()+':visible' )
            .search( this.value )
            .draw();

      } );


      

    });