.content-w
  .content-i
    .content-box.no_padding_bottom
      .full-chat-w.border_bottom
        .full-chat-i
          .full-chat-left
          .full-chat-middle
            .chat-head.no_border_bottom
              .user-info
                %a{:href => "#"}
                  =@conversation.senderable == current_user ? @conversation.recipientable.full_name : @conversation.senderable.full_name if @conversation.present?
              .user-actions
                %a{:href => "#"}
                  %i.os-icon.os-icon-mail-07
                %a{:href => "#"}
                  %i.os-icon.os-icon-phone-18
                %a{:href => "#"}
                  %i.os-icon.os-icon-phone-15
          .full-chat-right
            = link_to 'View Proposal', proposal_job_application_path(@job_application)

.content-w
  .content-i
    .content-box.no_padding_top
      .full-chat-w
        .full-chat-i
          .full-chat-left
            .chat-search
              .element-search
                %input{:placeholder => "Search users by name...", :id => "self-conversation-search", :type => "text"}/
            .users-list-w
              - @current_user_conversations.each do |conversation|
                -if conversation.conversation_messages&.last
                  .user-w#self-conversations{username: conversation.recipientable.full_name}
                    .user-avatar-w
                      .user-avatar
                        %img{:alt => "", :src => conversation.recipientable.photo}/
                    .user-name
                      %h6.user-title
                        = link_to conversation.recipientable.full_name, job_application_path(conversation.recipientable.job_applications.find_by_job_id(@job_application.job_id))
                        .date-message_sent
                          = conversation.created_at.strftime("%I:%M %p")
                      .user-role
                        = conversation.conversation_messages.last.body

          .full-chat-middle
            -#.chat-head
              -#.user-info
              -#  %span To:
              -#  %a{:href => "#"}
              -#    =@conversation.senderable == current_user ? @conversation.recipientable.full_name : @conversation.senderable.full_name if @conversation.present?
              -#.user-actions
              -#  %a{:href => "#"}
              -#    %i.os-icon.os-icon-mail-07
              -#  %a{:href => "#"}
              -#    %i.os-icon.os-icon-phone-18
              -#  %a{:href => "#"}
              -#    %i.os-icon.os-icon-phone-15
            .chat-content-w
              .chat-content
                %div{id: "conversation_#{@conversation.id}"}
                  - @conversation_messages.each do |msg|
                    -if msg.userable == current_user
                      .chat-message.self
                        .chat-message-content-w
                          .chat-message-content
                            = msg.body
                        .chat-message-date
                          = msg.created_at.strftime("%I:%M %p")
                        .chat-message-avatar
                          %img{:alt => "", :src => msg.userable.photo}/
                    -else
                      .chat-message
                        .chat-message-content-w
                          .chat-message-content
                            = msg.body
                        .chat-message-avatar
                          %img{:alt => "", :src => msg.userable.photo}/
                        .chat-message-date
                          = msg.created_at.strftime("%I:%M %p")

            .chat-controls
              = form_for([@conversation, @conversation_message], :remote => true, :html => {id: "conversation_form_#{@conversation.id}"}) do |f|
                .chat-input
                  = f.text_field :body ,placeholder: 'Type your message and hit enter' ,class: "chatboxtextarea", "data-cid" => @conversation.id, id: "conversation_#{@conversation.id}_#{current_user.id}"
                .chat-input-extra
                  .chat-extra-actions
                    %a{:href => "#"}
                      %i.os-icon.os-icon-mail-07
                    %a{:href => "#"}
                      %i.os-icon.os-icon-phone-18
                    %a{:href => "#"}
                      %i.os-icon.os-icon-phone-15
                .chat-btn
                = f.submit "Replay", class: "btn btn-primary btn-sm pull-right", hidden: true,id: "send-chat-message"
          .full-chat-right
            .element-wrapper
              .element-header
                %p.d-inline-block.mb-0 Team Members
                .d-inline-block
                = link_to content_tag(:i, '  Member', class: 'fa fa-plus') , '#', class: 'pull-right'
              .element-box-tp
                .users-list-w
                  .user-w
                    .user-avatar-w
                      .user-avatar
                        %img{:alt => "", :src => @conversation.senderable.photo}/
                    .user-name
                      %h6.user-title
                        =@conversation.senderable.full_name
                      .user-role
                        = @conversation.senderable&.type ? @conversation.senderable&.type : @conversation.senderable.class.to_s
                    .user-action
                      -#.os-icon.os-icon-email-forward
                -if @conversation.chatable
                  -@conversation.chatable.each do |group|
                    .user-w
                      .user-avatar-w
                        .user-avatar
                          %img{:alt => "", :src => group.groupable.photo}/
                      .user-name
                        %h6.user-title
                          = group.groupable.full_name
                        .user-role
                          = group.groupable&.type ? group.groupable&.type : group.groupable.class.to_s
                      .user-action
                        -#.os-icon.os-icon-email-forward



- content_for :links do
  -if @job_application.applicationable_type == 'Candidate'
    = link_to 'eTyme Resume',static_candidate_resume_path(@job_application.user),class: 'btn btn-primary pull-right',target: '_blank', style: 'margin-top: 20px;margin-right: 10px;'
  - if @job_application.applicant_resume
    = link_to 'Download Resume',"#{@job_application.applicant_resume}", class: 'btn btn-primary pull-right',style: 'margin-top: 20px;margin-right: 10px;',download:true
  - if @job_application.share_key
    = button_tag 'Share Application' ,class: 'btn btn-primary pull-right margin-top-20 margin-right-10' , "data-toggle": "modal" , "data-target":"#share_application_#{@job_application.id}"
= render partial: 'partials/job_application_show' ,locals: {job_application: @job_application}

- if @job_application.share_key
  = render 'company/job_applications/partials/share_application' , job_application: @job_application
- content_for :modals do
  #ajax-modal

#conversation-chat-box.chat_box{"data-conversation-id" => "#{@conversation.id if @conversation.present?}"}
  .chatboxhead
    .chatboxtitle
      %i.fa.fa-comments
      %h1
        = @conversation.senderable == current_user ? @conversation.recipientable.full_name : @conversation.senderable.full_name if @conversation.present?
    .chatboxoptions
      = link_to "<i class='fa  fa-minus'></i> ".html_safe, "#", class: "toggleChatBox", "data-cid" => @conversation.id
        
      \#{link_to "<i class='fa  fa-times'></i> ".html_safe, "#", class: "closeChat", "data-cid" => @conversation.id}
    %br{clear: "all"}/
  .tab-content.chatboxcontent{id: "conversation_#{@conversation.id if @conversation.present?}"}
    .keystroke_msgs_box
      - @conversation_messages.each do |msg|
        %div{class: "#{msg.userable == current_user ? 'send_message' : 'receive_message'}"}
          %span= msg.body
      -#-if @conversation_messages.present?
      .chatboxinput
        = form_for([@conversation, @conversation_message], :remote => true, :html => {id: "conversation_form_#{@conversation.id}"}) do |f|
          = f.text_area :body, class: "chatboxtextarea", "data-cid" => @conversation.id, id: "conversation_#{@conversation.id}_#{current_user.id}"
          = f.submit "Send", class: "btn btn-sm btn-success", id: "send-chat-message"