.content-i
  .content-box
    .row
      .col-sm-12
        .element-wrapper
          .element-box-tp
            .controls-above-table
              .row.mr-1.ml-1
                .col-sm-6
                .col-sm-6
                  .form-inline.justify-content-sm-end
                    %input.form-control.form-control-sm.rounded.bright{placeholder: "Search", type: "search", id: 'job_application-datatable-search'}
            .table-responsive
              %table#job_application_dataTable.table.text-center.table-bordered.table-lg.table-v2.table-striped.data-table-font
                %thead
                  %tr
                    %th
                      %input{ type:"checkbox", name:"select_all", id:"example-select-all"}
                      %th Name
                      %th NO
                      %th Job Title
                      %th Bench
                      %th Status
                      %th Source/Type
                      %th Actions
                %tbody
                  - @received_job_applications.each do |application|
                    %tr{"data-id" => "#{application.id}"}
                      %td
                        = check_box_tag "ids[]", application.id
                      %td.no-wrap
                        =user_image(application.applicationable, style: 'width: 35px; height: 35px;', class: 'data-table-image mr-1',title: "#{application.applicationable.full_name}" )
                        = link_to(do_ellipsis(application.applicationable.full_name,15), public_profile_static_candidates_path(application.applicationable), class: 'data-table-font')
                      %td.text-center
                        = application.id
                      %td.no-wrap
                        = link_to do_ellipsis(application.job.title.capitalize, 15),job_path(application.job.id),class: 'data-table-font'
                      %td.no-wrap.pr-3
                        = link_to image_tag(application.job.company.logo,class: 'data-table-image') , profile_company_path(application.job.company.id) if application.job.present? 
                        = application.applicationable.associated_company.is_freelancer? ? application.applicationable.associated_company&.name.capitalize : link_to(do_ellipsis(application.applicationable.associated_company&.name.capitalize, 10), profile_company_path(application.applicationable.associated_company&.id), class: "data-table-font")

                        
                      %td
                        = colorfull_text(application.status.capitalize,application.status=='applied' ? 'orange' : 'green')
                      %td
                        = application.job_invitation_id ? "Invited/#{application.application_type}" : "Direct/#{application.application_type}"
                      %td
                        - candidate = application.applicationable
                        = link_to(content_tag(:i, nil, class: 'fa fa-eye').html_safe, job_application_path(application), title: 'View Detail', class: 'data-table-icons')
                        = link_to(content_tag(:i, nil, class: 'fa fa-comment-o').html_safe, chat_link(candidate,application&.conversation&.id), title: 'chat', class: 'data-table-icons',remote: true)
                        = link_to(content_tag(:i, nil, class: 'picons-thin-icon-thin-0014_notebook_paper_todo').html_safe, candidate_add_reminder_path(application.applicationable_id), remote: :true, title: "Remind Me", class: 'data-table-icons')
                        = link_to(content_tag(:i, nil, class: 'picons-thin-icon-thin-0122_download_file_computer_drive').html_safe, application.applicant_resume, download: true, title: "Download Resume", class: 'data-table-icons')
                        = link_to(content_tag(:i, nil, class: 'icon-feather-user-plus').html_safe, make_company_candidate_path(application.applicationable), method: :post, title: 'Add to candidates', class: 'data-table-icons')


-content_for :scripts do
  :javascript
    $(document).ready(function(){
      $('#job_application-datatable-search').keyup(function(){
        $('#job_application_dataTable').DataTable().search( $(this).val() ).draw();
      });
      default_active_nav('.ln-6');
    })
