<div class="no-border" id="content">
  <div class="all-wrapper no-padding-content solid-bg-all">
    <div class="layout-w">
      <div class="content-w">
        <div class="content-i">
          <div class="content-box">
            <div class="full-chat-w">
              <div class="full-chat-i">
                <div class="full-chat-middle" id="conversation-section">

                  <div class="row mt-4 ml-2 mr-2">
                    <div class="col-sm-12">
                      <div class="element-wrapper">
                        <div class="element-content">
                          <div class="">
                            <h5 class="collapsible"><%= @job_application.job.title %></h5>
                            <div class="element-box w-100 text-justify job-application-collaps">
                              <div class="col-lg-12">
                                <%= render partial: 'partials/job_show', locals: {job: @job_application.job}%>
                              </div>
                            </div>
                          </div>
                          <div class="">
                            <h2 class="collapsible">Job Application</h2>
                            <div class="element-box w-100 text-justify chat-collaps">
                              <div class="row">
                                <div class="col-sm-12">
                                  <%= content_for :links do %>
                                    <% if @job_application.applicant_resume %>
                                      <%= link_to('Download Resume', "#{@job_application.applicant_resume}", class: 'btn btn-primary
                                      pull-right', download: true) %>
                                    <% end %>
                                    <% if @job_application.share_key %>
                                      <%= button_tag('Client Submission' ,class: 'btn btn-primary pull-right mr-1' , "data-toggle": "modal" , "data-target":"#share_application_#{@job_application.id}") %>
                                    <% end %>
                                  <% end %>
                                  <%= render partial: 'partials/job_application_show', locals: {job_application: @job_application}
                                  %>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div>
                            <h2 class="collapsible">Messages</h2>
                            <div class="element-box w-100 text-justify chat-collaps">
                              <%= render "company/conversations/job_conversation_box", job: @job_application.job %>
                              <%= job_application_top_links(@job_application,'btn-sm').html_safe %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="full-chat-right" id="conversation-r-section">
                  <%= render "company/conversations/conversation_right_side" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :scripts do %>
  <script>
    $(document).ready(function () {
      var coll = document.getElementsByClassName("collapsible");
      var i;
      for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
          this.classList.toggle("active");
          var content = this.nextElementSibling;
          if (content.style.display === "block") {
            content.style.display = "none";
          } else {
            content.style.display = "block";
          }
        });
      }
    });
  </script>
<% end %>