<div class="with-side-panel">
  <div class="content-i">
    <div class="content-box">
      <div class="row">
        <div class="col-sm-12">
          <div class="element-wrapper">
            <div class="element-header">
              Proposal details
            </div>
            <div class="element-content">
              <div class="row">
                <div class="element-box w-100 text-justify">
                  <h5 class="form-header">
                    Title
                  </h5>
                  <div class="element-box-content">
                    <div class="lead">
                      <%= @job_application.job.title %>
                    </div>
                  </div>
                </div>
                <div class="element-box w-100 text-justify">
                  <div class="row">
                    <div class="col-sm-12">
                      <h5 class="form-header">
                        Description
                      </h5>
                      <div class="element-box-content">
                        <div>
                          <%= @job_application.job.description %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="element-box w-100">
                  <div class="row">
                    <div class="col-sm-12">
                      <h5 class="form-header">
                        Category
                      </h5>
                      <div class="element-box-content">
                        <div class="lead">
                          <%= @job_application.job.job_category %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <h5 class="form-header">
                        Start Date - End Date
                      </h5>
                      <div class="element-box-content">
                        <div>
                          <%= @job_application.job.start_date %> -
                          <%= @job_application.job.end_date %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <h5 class="form-header">
                        Rate
                      </h5>
                      <div class="element-box-content">
                        <div>
                          <%= @job_application.job.price.to_s %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="element-box w-100">
                  <h5 class="form-header">
                    Cover Letter
                  </h5>
                  <div class="element-box-content">
                    <div class="lead">
                      <%= @job_application.cover_letter.html_safe %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-panel">
      <div class="element-box">
        <div class="element-wrapper">
          <h6 class="element-header">Candidate Profile</h6>
          <div class="users-list-w">
            <div class="user-w">
              <div class="user-avatar-w">
                <div class="user-avatar"><img alt="" src=<%= @job_application.user.photo %>></div>
              </div>
              <div class="user-name"><h6 class="user-title"><%= @job_application.user.full_name %></h6>
                <div class="user-role"><a href=<%= @job_application.applicant_resume %>> Download Resume </a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="element-wrapper">
          <h6 class="element-header">User Activity</h6>
          <div class="timed-activities compact">
            <div class="timed-activity">
              <div class="ta-date">
                <span>21st Jan, 2017</span>
              </div>
              <div class="ta-record-w">
                <div class="ta-record">
                  <div class="ta-timestamp">
                    <strong>11:55</strong> am
                  </div>
                  <div class="ta-activity">Created a post called <a href="#">Register new symbol</a> in Rogue</div>
                </div>
                <div class="ta-record">
                  <div class="ta-timestamp"><strong>2:34</strong> pm</div>
                  <div class="ta-activity">Commented on story <a href="#">How to be a leader</a> in
                    <a href="#">Financial</a> category
                  </div>
                </div>
                <div class="ta-record">
                  <div class="ta-timestamp"><strong>7:12</strong> pm</div>
                  <div class="ta-activity">Added <a href="#">John Silver</a> as a friend</div>
                </div>
              </div>
            </div>
            <div class="timed-activity">
              <div class="ta-date"><span>3rd Feb, 2017</span></div>
              <div class="ta-record-w">
                <div class="ta-record">
                  <div class="ta-timestamp"><strong>9:32</strong> pm</div>
                  <div class="ta-activity">Added <a href="#">John Silver</a> as a friend</div>
                </div>
                <div class="ta-record">
                  <div class="ta-timestamp"><strong>5:14</strong> pm</div>
                  <div class="ta-activity">Commented on story <a href="#">How to be a leader</a> in
                    <a href="#">Financial</a> category
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="no-border" id="content">
  <div class="all-wrapper no-padding-content solid-bg-all">
    <div class="layout-w">
      <div class="content-w">
        <div class="content-i">
          <div class="content-box">
            <div class="full-chat-w">
              <div class="full-chat-i">
                <div class="full-chat-left">
                  <div class="os-tabs-w">
                    <ul class="nav nav-tabs upper centered">
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#Company"><i class="os-icon os-icon-ui-93"></i><span>Chat</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#Favourites"><i class="os-icon os-icon-ui-02"></i><span>Favourite</span></a>
                      </li>
                    </ul>
                  </div>
                  <div class="tab-content user-list">
                    <div role="tabpanel" class="tab-pane active" id="Company">
                      <div class="chat-search">
                        <div class="element-search">
                          <input type="text" class="form-control" placeholder="Search Company/Candidates" id="conversation-users-search">
                        </div>
                      </div>
                      <ul class="nav flex-column nav-tabs" role="tablist" id="company-conversation-list">
                        <%= render 'company/conversations/conversation_users', users: @companies, candidates: @candidates, groups: @groups %>
                      </ul>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="Favourites">
                      <ul class="nav flex-column nav-tabs" role="tablist" id="favourite-conversation-list">
                        <%= render 'company/conversations/conversation_favourites', favourites: @favourites %>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="full-chat-middle" id="conversation-section">
                  <%= render "company/conversations/conversation" %>
                </div>

                <div class="full-chat-right" id="conversation-r-section">
                  <%= render "company/conversations/conversation_right_side" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :scripts do %>
  <script>
    $(document).ready(function () {
      $.ajax({
        url: "<%= messages_conversation_conversation_messages_path(@conversation||0) %>",
        type: "GET",
        dataType: "script",
        success: function (data) {
        }
      });
    });
  </script>
<% end %>
