.content-w
  /
    \------------------
    START - Top Bar
    \------------------
  .top-bar.color-scheme-transparent.d-none
    /
      \------------------
      START - Top Menu Controls
      \------------------
    .top-menu-controls
      .element-search.autosuggest-search-activator
        %input{:placeholder => "Start typing to search...", :type => "text"}/
      /
        \------------------
        START - Messages Link in secondary top menu
        \------------------
      .messages-notifications.os-dropdown-trigger.os-dropdown-position-left
        %i.os-icon.os-icon-mail-14
        .new-messages-count 12
        .os-dropdown.light.message-list
          %ul
            %li
              %a{:href => "#"}
                .user-avatar-w
                  %img{:alt => "", :src => "img/avatar1.jpg"}/
                .message-content
                  %h6.message-from John Mayers
                  %h6.message-title Account Update
            %li
              %a{:href => "#"}
                .user-avatar-w
                  %img{:alt => "", :src => "img/avatar2.jpg"}/
                .message-content
                  %h6.message-from Phil Jones
                  %h6.message-title Secutiry Updates
            %li
              %a{:href => "#"}
                .user-avatar-w
                  %img{:alt => "", :src => "img/avatar3.jpg"}/
                .message-content
                  %h6.message-from Bekky Simpson
                  %h6.message-title Vacation Rentals
            %li
              %a{:href => "#"}
                .user-avatar-w
                  %img{:alt => "", :src => "img/avatar4.jpg"}/
                .message-content
                  %h6.message-from Alice Priskon
                  %h6.message-title Payment Confirmation
      /
        \------------------
        END - Messages Link in secondary top menu
        \------------------
      /
        \------------------
        START - Settings Link in secondary top menu
        \------------------
      .top-icon.top-settings.os-dropdown-trigger.os-dropdown-position-left
        %i.os-icon.os-icon-ui-46
        .os-dropdown
          .icon-w
            %i.os-icon.os-icon-ui-46
          %ul
            %li
              %a{:href => "users_profile_small.html"}
                %i.os-icon.os-icon-ui-49
                %span Profile Settings
            %li
              %a{:href => "users_profile_small.html"}
                %i.os-icon.os-icon-grid-10
                %span Billing Info
            %li
              %a{:href => "users_profile_small.html"}
                %i.os-icon.os-icon-ui-44
                %span My Invoices
            %li
              %a{:href => "users_profile_small.html"}
                %i.os-icon.os-icon-ui-15
                %span Cancel Account
      /
        \------------------
        END - Settings Link in secondary top menu
        \------------------
      /
        \------------------
        START - User avatar and menu in secondary top menu
        \------------------
      .logged-user-w
        .logged-user-i
          .avatar-w
            %img{:alt => "", :src => "img/avatar1.jpg"}/
          .logged-user-menu.color-style-bright
            .logged-user-avatar-info
              .avatar-w
                %img{:alt => "", :src => "img/avatar1.jpg"}/
              .logged-user-info-w
                .logged-user-name Maria Gomez
                .logged-user-role Administrator
            .bg-icon
              %i.os-icon.os-icon-wallet-loaded
            %ul
              %li
                %a{:href => "apps_email.html"}
                  %i.os-icon.os-icon-mail-01
                  %span Incoming Mail
              %li
                %a{:href => "users_profile_big.html"}
                  %i.os-icon.os-icon-user-male-circle2
                  %span Profile Details
              %li
                %a{:href => "users_profile_small.html"}
                  %i.os-icon.os-icon-coins-4
                  %span Billing Details
              %li
                %a{:href => "#"}
                  %i.os-icon.os-icon-others-43
                  %span Notifications
              %li
                %a{:href => "#"}
                  %i.os-icon.os-icon-signs-11
                  %span Logout
      /
        \------------------
        END - User avatar and menu in secondary top menu
        \------------------
    /
      \------------------
      END - Top Menu Controls
      \------------------
  /
    \------------------
    END - Top Bar
    \------------------
  .content-i
    .content-box
      .full-chat-w
        .full-chat-i
          .full-chat-left
            .chat-search
              .element-search
                %input{:placeholder => "Search users by name...", :type => "text"}/
            .user-list
              - @current_user_conversations.each do |conversation|
                .user-w
                  .avatar.with-status.status-green
                    %img{:alt => "", :src => conversation.recipientable.photo}/
                  .user-info
                    .user-date
                      = conversation.created_at.strftime("%I:%M %p")
                    .user-name
                      = conversation.recipientable.full_name
                    .last-message
                      = conversation.conversation_messages.last.body
          .full-chat-middle
            .chat-head
              .user-info
                %span To:
                %a{:href => "#"}
                  = @job_application.applicationable.full_name
              .user-actions
                %a{:href => "#"}
                  %i.os-icon.os-icon-mail-07
                %a{:href => "#"}
                  %i.os-icon.os-icon-phone-18
                %a{:href => "#"}
                  %i.os-icon.os-icon-phone-15
            .chat-content-w
              .chat-content
                %div{id: "conversation_#{@conversation.id}"}
                  - @conversation_messages.each do |msg|
                    -if msg.userable == current_user
                      .chat-message.self
                        .chat-message-content-w
                          .chat-message-content
                            = msg.body
                        .chat-message-date
                          = msg.created_at.strftime("%I:%M %p")
                        .chat-message-avatar
                          %img{:alt => "", :src => msg.userable.photo}/
                    -else
                      .chat-message
                        .chat-message-content-w
                          .chat-message-content
                            = msg.body
                        .chat-message-avatar
                          %img{:alt => "", :src => msg.userable.photo}/
                        .chat-message-date
                          = msg.created_at.strftime("%I:%M %p")

            .chat-controls
              = form_for([@conversation, @conversation_message], :remote => true, :html => {id: "conversation_form_#{@conversation.id}"}) do |f|
                .chat-input
                  = f.text_field :body ,placeholder: 'Type your message here...' ,class: "", "data-cid" => @conversation.id, id: "conversation_#{@conversation.id}_#{current_user.id}"
                .chat-input-extra
                  .chat-extra-actions
                    %a{:href => "#"}
                      %i.os-icon.os-icon-mail-07
                    %a{:href => "#"}
                      %i.os-icon.os-icon-phone-18
                    %a{:href => "#"}
                      %i.os-icon.os-icon-phone-15
                .chat-btn
                = f.submit "Replay", class: "btn btn-primary btn-sm pull-right", id: "send-chat-message"
          .full-chat-right
            .user-intro
              .avatar
                %img{:alt => "", :src => @job_application.applicationable.photo}/
              .user-intro-info
                %h5.user-name
                  = @job_application.applicationable.full_name
                .user-sub San Francisco, CA
                .user-social
                  %a{:href => "#"}
                    %i.os-icon.os-icon-twitter
                  %a{:href => "#"}
                    %i.os-icon.os-icon-facebook
            .chat-info-section
              .ci-header
                %i.os-icon.os-icon-documents-03
                %span Shared Files
              .ci-content
                .ci-file-list
                  %ul
                    %li
                      %a{:href => "#"} Annual Revenue.pdf
                    %li
                      %a{:href => "#"} Expenses.xls
                    %li
                      %a{:href => "#"} Business Plan.doc
            .chat-info-section
              .ci-header
                %i.os-icon.os-icon-documents-07
                %span Shared Photos
              .ci-content
                .ci-photos-list
                  %img{:alt => "", :src => "img/portfolio9.jpg"}/
                  %img{:alt => "", :src => "img/portfolio2.jpg"}/
                  %img{:alt => "", :src => "img/portfolio12.jpg"}/
                  %img{:alt => "", :src => "img/portfolio14.jpg"}/

- content_for :links do
  -if @job_application.applicationable_type == 'Candidate'
    = link_to 'eTyme Resume',static_candidate_resume_path(@job_application.applicationable),class: 'btn btn-primary pull-right',target: '_blank', style: 'margin-top: 20px;margin-right: 10px;'
  - if @job_application.applicant_resume
    = link_to 'Download Resume',"#{@job_application.applicant_resume}", class: 'btn btn-primary pull-right',style: 'margin-top: 20px;margin-right: 10px;',download:true
  - if @job_application.share_key
    = button_tag 'Share Application' ,class: 'btn btn-primary pull-right margin-top-20 margin-right-10' , "data-toggle": "modal" , "data-target":"#share_application_#{@job_application.id}"
= render partial: 'partials/job_application_show' ,locals: {job_application: @job_application}

- if @job_application.share_key
  = render 'company/job_applications/partials/share_application' , job_application: @job_application
- content_for :modals do
  #ajax-modal

#conversation-chat-box.chat_box{"data-conversation-id" => "#{@conversation.id if @conversation.present?}"}
  .chatboxhead
    .chatboxtitle
      %i.fa.fa-comments
      %h1
        = @conversation.senderable == current_user ? @conversation.recipientable.full_name : @conversation.senderable.full_name if @conversation.present?
    .chatboxoptions
      = link_to "<i class='fa  fa-minus'></i> ".html_safe, "#", class: "toggleChatBox", "data-cid" => @conversation.id
        
      \#{link_to "<i class='fa  fa-times'></i> ".html_safe, "#", class: "closeChat", "data-cid" => @conversation.id}
    %br{clear: "all"}/
  .tab-content.chatboxcontent{id: "conversation_#{@conversation.id if @conversation.present?}"}
    .keystroke_msgs_box
      - @conversation_messages.each do |msg|
        %div{class: "#{msg.userable == current_user ? 'send_message' : 'receive_message'}"}
          %span= msg.body
      -#-if @conversation_messages.present?
      .chatboxinput
        = form_for([@conversation, @conversation_message], :remote => true, :html => {id: "conversation_form_#{@conversation.id}"}) do |f|
          = f.text_area :body, class: "chatboxtextarea", "data-cid" => @conversation.id, id: "conversation_#{@conversation.id}_#{current_user.id}"
          = f.submit "Send", class: "btn btn-sm btn-success", id: "send-chat-message"