.content-box
  .element-wrapper
    .element-box
      =form_tag(controller: 'company/job_applications', action: 'send_templates') do
        = hidden_field_tag 'id', @job_application.id
        .table-responsive
          %table#company-template-datatable.table.text-center.table-bordered.table-lg.table-v2.table-striped.data-table-font
            %thead
              %tr{:role => "row"}
                %th Select
                %th.expand.sorting_asc Title
                %th Type
                %th Document For
                %th Expiry Date
                %th Is Require
                %th Attachments
                %th Actions
              %tbody
                - current_company.company_candidate_docs.each do |doc|
                  %tr.even{:role => "row"}
                    %td
                      = check_box_tag "ids[]", doc.id
                    %td= doc.title
                    %td= doc.title_type
                    %td= doc.document_for
                    %td= doc.exp_date
                    %td= doc.is_require
                    %td
                      -if !doc.file.blank?
                        -index = 1
                        - doc.file.split(",").each do |file_path|
                          %br
                          %a{:download => "", :href => file_path, :target=>"_blank"}
                            = "File #{index}"
                            - index = index +1
                    %td.candidate-file-upload-btn
                      = link_to "", delete_company_candidate_docs_path(:id=>doc.id), :title=>"Delete", class: "fa fa-trash-o fa-lg fa-fw delete_primary_doc", method: :delete, data: { confirm: 'Are you sure?' }
                      = button_tag "" ,class: "video-file fa fa-paperclip fa-lg",type: "button", onclick:"fileUploadEvent(#{doc.id})", :button_text=>" "
        = button_tag 'submit', class: 'btn btn-sm btn-secondary'
