.content-box
  .element-wrapper
    .element-box
      .element-header Documents Templates
      =form_tag(controller: 'company/job_applications', action: 'send_templates') do
        = hidden_field_tag 'id', @job_application.id
        .table-responsive
          %table#company-template-datatable.table.text-center.table-bordered.table-lg.table-v2.table-striped.data-table-font
            %thead
              %tr{:role => "row"}
                %th Select
                %th.expand.sorting_asc Title
                %th Type
                %th Document For
                %th Expiry Date
                %th Is Require
                %th Attachments
              %tbody
                - current_company.company_candidate_docs.each do |doc|
                  %tr.even{:role => "row"}
                    %td
                      = check_box_tag "ids[]", doc.id
                    %td= doc.title
                    %td= doc.title_type
                    %td= doc.document_for
                    %td= doc.exp_date
                    %td= doc.is_require
                    %td
                      -if !doc.file.blank?
                        -index = 1
                        - doc.file.split(",").each do |file_path|
                          %br
                          %a{:download => "", :href => file_path, :target=>"_blank"}
                            = "#{index}: #{file_path.split('/').last}"
                            - index = index +1
        %br
        = button_tag 'submit', class: 'btn btn-sm btn-secondary pull-right'
        %br
    .element-wrapper
      .element-box
        .element-header Documents sent to candidate
        .table-responsive
          %table.table.text-center.table-bordered.table-lg.table-v2.table-striped.data-table-font
            %thead
              %tr{:role => "row"}
                %th Document Title
                %th Sent Date
                %th Status
                %th Envelope No
                %th Signed Document
            %tbody
              - @document_signs.each do |docusign|
                %tr
                  %td= docusign.documentable.title
                  %td= docusign.created_at
                  %td= docusign.is_sign_done ? "Signed" : "Pending"
                  %td= docusign.envelope_id.present? ? docusign.envelope_id : "Document Not Submitted"
                  %td= link_to content_tag(:i,'',class:'fa fa-paperclip fa-lg').html_safe, docusign.signed_file if docusign.is_sign_done