= form_tag sale_invoices_path(@tab), method: :get, id: "sale_invoices_form" do
  .mt-2
    .d-flex{style: 'justify-content: flex-end'}
      .form-group.d-flex
        %i.fa.fa-chevron-circle-left.mt-2
        = text_field_tag :start_date, params[:start_date], autofocus: false,class: "p_date form-control m-1",placeholder: 'To Date'
        
        = text_field_tag :end_date, params[:start_date], autofocus: false,class: "p_date form-control m-1",placeholder: 'To Date'
        %i.fa.fa-chevron-circle-right.mt-2

  .table_divider.mt-3
  .row
    .col-md-8
      .d-flex{style: ""}
        %ul.nav.nav-pills.smaller.mt-3{style: "border-bottom: none;"}
          %li.nav-item.ml-3
            %a{class: "invoice_table_filter nav-link ts fd upcomming_timesheets border_btn #{ "active" if @tab.eql?("pending") }", href: sale_invoices_path(:pending_invoice) } pending invoice
          %li.nav-item
            %a{class: "invoice_table_filter nav-link ts fd submitted_timesheets border_btn #{ "active" if @tab.eql?("open") }", href:  sale_invoices_path(:open) }  Open
          %li.nav-item
            %a{class: "invoice_table_filter nav-link ts fd approved_timesheets border_btn #{ "active" if @tab.eql?("submitted") }", href:  sale_invoices_path(:submitted) } Submitted
          %li.nav-item
            %a{class: "invoice_table_filter nav-link ts fd approved_timesheets border_btn #{ "active" if @tab.eql?("partically_paid") }", href:  sale_invoices_path(:partially_paid)} Partially Paid 
          %li.nav-item
            %a{class: "invoice_table_filter nav-link ts fd approved_timesheets border_btn #{ "active" if @tab.eql?("paid") }", href: sale_invoices_path(:paid) } Paid
          %li.nav-item
            %a{class: "invoice_table_filter nav-link ts fd approved_timesheets border_btn #{ "active" if @tab.eql?("cancel") }", href:  sale_invoices_path(:cancelled)} Cancel  
          %li.nav-item
            %a{class: "invoice_table_filter nav-link fd open_timesheets border_btn #{ "active" if @tab.nil? || @tab.eql?("all") }", href: sale_invoices_path} All
      
    .col-md-4
      / style: "border-bottom: none;float:right;margin-right:30px !important;"
      %ul.nav.nav-pills.smaller.mt-3.d-flex{style: 'justify-content: flex-end'}
        %li.nav-item.ml-3
          %a{class: "nav-link ts fd upcomming_timesheets border_btn #{ "active" if @tab.eql?("Upcomming") }", href:'#'} Export
        %li.nav-item.ml-3
          %a{class: "nav-link ts fd submitted_timesheets border_btn #{ "active" if @tab.eql?("Submitted") }",href:'#'} Print
  %br      
  .row.ml-2
    .col-sm-6{style: 'justify-content: flex-start'}
      %a.btn.btn-primary.btn_style.mt-3 New 
    .col-sm-6{style: 'justify-content: flex-end'}  
      .form-inline.justify-content-sm-end
        %input.form-control.form-control-sm.bright{placeholder: "Search", type: "text", type: 'search', id: 'my_bench_datatable-search'}
