.row.multi-field-container{style: "padding: 0px 15px 15px 15px;"}
  
  .row
    .col-md-2
      .form-group
        %p Title
        = f.text_field :title, placeholder: "Title",class: 'form-control  input'
       
    .col-md-2
      .form-group
        %p Title Type
        / = f.text_field :title_type, placeholder: "Title",class: 'form-control  input' 
        = f.select :title_type , [["Job", 'Job'], ["Training", 'Training'],["Product", 'Product'],["Service", 'Service'],["Contract", 'Contract'],["USACS", 'USACS']],{} ,:class => 'form-control company_type'  
    .col-md-2
      .form-group
        %p Document For
        / = f.text_field :title_type, placeholder: "Title",class: 'form-control  input' 
        = f.select :document_for , [["Candidate", 'Candidate'], ["Customer", 'Customer'],["Vendor", 'Vendor'],["Employee", 'Employee']],{} ,:class => 'form-control company_type'     
    / .col-md-3
    /   .form-group
    /     %p Input
    /     = f.text_field :custome_name, placeholder: "Custome Details",class: 'form-control  input'
           
    .col-md-2
      .form-group
        %p Expiry Date
        = f.text_field :exp_date, placeholder: "YYYY-MM-DD",class: 'form-control input candidate_doc_exp_date'    
    / .col-md-3    
    /   .form-group.mr-top-20
    /     %label.checkbox.col-md-8.control-label Is Required Signature
    /     .col-md-4.mr-top-10
    /       =f.check_box :is_required_signature

    .col-md-2{:style=>"margin-top: 25px;"}
      .form-group
        = f.filepicker_field :file, :button_text => " Upload Template", disable: true , class: 'file-pick btn btn-primary filepicker-attach filepicker-attach-doc fa fa-paperclip', :multiple => true
    

    .col-md-6    
      .col-md-3
        .form-group.mr-top-30
          %label.radio-container
            Require Signature(s)
            = f.radio_button :is_require, "signature", checked:true
            %span.radio-checkmark
      .col-md-3
        .form-group.mr-top-30
          %label.radio-container
            Require Document(s)
            = f.radio_button :is_require, "Document"
            %span.radio-checkmark   
      .col-md-3
        .form-group.mr-top-30
          %label.radio-container
            Website
            = f.radio_button :is_require, "Website"
            %span.radio-checkmark  
    .col-md-3           
      %button.btn.btn-primary.pull-right{:type => "submit", :style=>"margin-top: 30px;"}
        Save        
      
    
- content_for :scripts do
  :javascript  

    function select_visa_file(prev){
      prev.trigger("click");
    }  

    function uploadVisaDoc(event, file_el){
      document_url = event.fpfile.url
      $("#"+file_el.attr("id")).val(document_url)
    }      

    
         