.controls-above-table.mt-3
  .row.mr-1.ml-1
    .col-sm-12
      .form-inline.justify-content-sm-end
        %input.form-control.form-control-sm.rounded.bright{placeholder: "Search", type: "text", type: 'search', id: 'company_bench_datatable-search'}
  .table-responsive
    %table#company_bench_datatable.table.table-striped.table-bordered.table-v2.table-lg
      %thead
        %tr
          %th
            %input{ type:"checkbox", name:"select_all", id:"example-select-all"}
          %th Name
          %th Title
          %th Skills
          %th Location
          %th Visa
          %th Actions
      %tbody
        - @candidates.each do |c|
          %tr
            %td= check_box_tag "ids[]", c.candidate.id
            %td.no-wrap
              = user_image(c.candidate, class: 'data-table-image mr-1',title: "#{c.candidate.full_name}")
              = link_to  do_ellipsis(c.candidate.try(:full_name).try(:titleize),10),public_profile_static_candidates_path(c.candidate),class: "data-table-font pr-5"
            %td= c.candidate.candidate_title
            %td
              - c.candidate.skills.each do |skill|
                %span
                  .label-info.badge.margin-bottom-5.badge-info
                    = skill.name
            %td= c.candidate.try(:location)
            %td= c.candidate.candidate_visa
            %td= link_to raw("<i class='fa fa-file-text'></i>") , c.candidate.resume ,download: true , class: '',title: "#{c.candidate.full_name} Resume",'data-toggle'=>"tooltip" ,'data-placement'=>"top"