#content
  %body
    %section#widget-grid
      .row
        - if params[:status]=='all'
          .col-sm-12.col-md-12
            - if @data.present?
              .col-md-12.margin-bottom-20.col-sm-12
                %input.form-control#search-term.bg-color-white{placeholder: 'Search by Keywords ...',style: ''}
              .col-sm-12.col-md-12.col-md-offset-2#noData{style: "margin-left: -0.333333% !important;"}
              -#.col-sm-4.margin-bottom-20
                = select_tag "Select Type", options_for_select([ "Candidates", "Jobs" , "Contacts" ]), include_blank: "All",class: 'form-control bg-color-white' ,id: "show_type",style:''
              %br
              .col-sm-12.col-md-9#companies{style: "width: 100%;"}

                - @data.each do |d|
                  -if current_company!=d
                    = render "company/prefer_vendors/partials/show" ,data: d
            -else
              .who.clearfix.bg-color-white
                .text
                  .font-md.text-center
                    No Company Other than you registered on Etyme now.
        -else

          %article.col-xs-12.col-sm-12.col-md-12.col-lg-12.sortable-grid.ui-sortable
            #wid-id-1.jarviswidget.jarviswidget-color-blueDark.jarviswidget-sortable{"data-widget-editbutton" => "false", :role => "widget"}
              %header{:role => "heading"}
                %span.widget-icon
                  %i.fa.fa-table
                %h2 Contacts
              / widget div
              %div{:role => "content"}
                .widget-body.no-padding
                  #datatable_fixed_column_wrapper.dataTables_wrapper.form-inline.dt-bootstrap.no-footer
                    %table#datatable_fixed_column.table.table-striped.table-bordered.dataTable.no-footer{"aria-describedby" => "datatable_fixed_column_info", :role => "grid", :style => "width: 100%;", :width => "100%"}
                      %thead
                        %tr{:role => "row"}
                          %th.hasinput{ :style => "width:2%"}
                            %input.form-control{:placeholder => "Select", :type => ""}/
                          %th.hasinput{ :style => "width:10%"}
                            %input.form-control{:placeholder => "Pic", :type => "text"}/
                          %th.hasinput{:style => "width:10%"}
                            .input-group
                              %input.form-control{:placeholder => "Name", :type => "text"}/
                          %th.hasinput{:style => "width:10%"}
                            %input.form-control{:placeholder => "Company", :type => "text"}/
                          %th.hasinput{:style => "width:10%"}
                            %input.form-control{:placeholder => "Email", :type => "text"}/
                          %th.hasinput{:style => "width:10%"}
                            %input.form-control{:placeholder => "Phone", :type => "text"}/
                          %th.hasinput{:style => "width:10%"}
                            %input.form-control{:placeholder => "Groups", :type => "text"}/
                          %th.hasinput{:style => "width:10%"}
                            %input.form-control{:placeholder => "Last Reminder", :type => "text"}/
                          %th.hasinput
                            %input.form-control{ :placeholder => "Note ", :type => "text"}/
                          %th.hasinput{:style => "width:10%"}
                            %input.form-control{:placeholder => "Actions", :type => "text"}/
                        %tr{:role => "row"}
                          %th Select
                          %th Pic
                          %th Name
                          %th Company
                          -#%th Owner
                          -#%th Owner Email
                          %th Email
                          %th Phone
                          %th Groups
                          %th Last Reminder
                          %th Note
                          %th Actions
                      %tbody
                        -@invited_companies.each do |d|
                          %tr
                            %td
                              = check_box_tag "ids[]", d.invited_company.id
                            %td= image_tag show_recipient_picture(d.invited_company.logo) , alt: '', width: '40'
                            %td= link_to d.invited_company.try(:company_contacts).try(:first).try(:full_name) ,"#"
                            -#%td= d.invited_company.try(:company_contact).try(:full_name)  rescue "  --"
                            -#%td= d.invited_company.company_contact.try(:email)
                            %td= link_to d.try(:invited_company).try(:name) ,profile_company_path(d.try(:invited_company))
                            %td= d.invited_company.try(:company_contacts).try(:first).try(:email)
                            %td=  d.invited_company.try(:company_contacts).try(:first).try(:phone)
                            %td
                              - d.groups.each do |group|
                                %span.badge.bg-color-blue.margin-bottom-5
                                  = group.try(:group_name).try(:titleize)
                            %td
                              - reminder = find_reminderable_last_reminder( d.try(:invited_company))
                              = reminder.present? ? reminder.try(:title).try(:titleize) : ''
                            %td
                              - if d.try(:invited_company).try(:statuses).present?
                                %span
                                  .label-info.badge
                                    = d.try(:invited_company).try(:statuses).try(:last).try(:status_type)
                                %br
                                  = d.try(:invited_company).try(:statuses).try(:last).try(:note)
                            %td
                              = link_to raw("<i class='fa fa-sticky-note '></i>")  ,company_statuses_path(id: d.invited_company,type: 'Company' )   ,class: 'btn btn-default  btn-xs margin-bottom-5 ',title: "Status Log",'data-toggle'=>"tooltip" ,'data-placement'=>"top"

                              = link_to raw("<i class='fa fa-sticky-note '></i>")    ,company_assign_status_path(d.invited_company) ,class: 'btn  btn-default btn-xs margin-bottom-5', remote: :true,title:"Assign Status",'data-toggle'=>"tooltip" ,'data-placement'=>"top"
                              = link_to raw("<i class='fa fa-bell '></i>")    ,company_company_add_reminder_path(d.invited_company)   ,class: 'btn btn-default  btn-xs margin-bottom-5', remote: :true ,title:"Remind Me",'data-toggle'=>"tooltip" ,'data-placement'=>"top"
                              -#= link_to "Contacts" ,company_contacts_path(d.try(:invited_company)), class: 'btn btn-xs btn-default btn-primary'
                              = link_to raw("<i class='fa fa-edit '></i>") , edit_company_path(d.invited_company) , class: 'btn btn-xs btn-default  margin-bottom-5',remote: :true ,title:"Edit #{d.invited_company.name}",'data-toggle'=>"tooltip" ,'data-placement'=>"top"
                              = link_to raw("<i class='fa fa-users '></i>"), company_company_assign_groups_path(d.invited_company) , remote:true,class: 'btn btn-xs btn-default margin-bottom-5' ,title:"Assign Groups",'data-toggle'=>"tooltip" ,'data-placement'=>"top"
                              -#= link_to raw("<i class='fa fa-times '></i>") , company_path(d.invited_company) ,method: :delete, class: 'btn btn-xs btn-default btn-danger' ,title:"Delete #{d.invited_company.name}",data: {confirm: "Are you sure you want to Delete this Company ?", verify: 'Confirm', verify_text: "Type 'Confirm' to Continue"}
                    - if @invited_companies.count>10
                      .dt-toolbar-footer
                        = digg_pagination(@invited_companies)

- if params[:status]!='all'
  - content_for :modals do
    #job_invitation
      = render 'company/companies/partials/new_company'
      = render 'company/reminders/partials/bulk_reminder_companies_form'
      = render 'company/statuses/partials/assign_bulk_companies'
      = render 'company/groups/partial/assign_bulk_companies'
:css
  .form-control
  {
    background-color: white !important;
  }
  .digg_pagination
    {
      background-color: #fafafa !important;
    }
-content_for :scripts do
  :javascript
    $("#remind").datepicker({dateFormat: "yy-mm-dd"  });
     $("#search-term").on("keypress", function (e) {
        if (e.keyCode == 13) {
           var sval = $('#search-term').val();
           $.get('/companies?status=all&search_by='+sval);
        }
    });
    $(document).ready(function() {
     pageSetUp();
      var responsiveHelper_dt_basic = undefined;
      var responsiveHelper_datatable_fixed_column = undefined;
      var responsiveHelper_datatable_col_reorder = undefined;
      var responsiveHelper_datatable_tabletools = undefined;
      var table = $('#example').DataTable();
      var otable = $('#datatable_fixed_column').DataTable({
            "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6 hidden-xs'f><'col-sm-6 col-xs-12 hidden-xs'<'toolbar'>>r>"+
                    "t"+
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
            "autoWidth" : true,
            "oLanguage": {
                "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
            }

        });

      $("div.toolbar").html('<div class="text-right">#{ button_tag 'NEW' ,class: 'btn btn-success btn-md pull-right header-btn ' , "data-toggle": "modal" , "data-target":"#new-contract-company"} <a href="#"  data-toggle= "modal"  data-target= "#add-reminder-companies" class = "btn btn-success bulk btn-md pull-right margin-right-5 header-btn margin-top-5 "><i class="fa fa-bell">  </i></a> <a href="#"  data-toggle= "modal"  data-target= "#assign-status-companies" class = "btn btn-success bulk btn-md pull-right margin-right-5 header-btn margin-top-5 "><i class="fa fa-sticky-note">  </i></a><a href="#"  data-toggle= "modal"  data-target= "#assign-bulk-group-companies" class = "btn bulk btn-success btn-md pull-right margin-right-5 header-btn margin-top-5 "><i class="fa fa-users"> </i></a></div>');
      // $("div.toolbar").html(#{ button_tag 'NEW' ,class: 'btn btn-success btn-md pull-right header-btn margin-top-5' , "data-toggle": "modal" , "data-target":"#new-job"}'</div>');

      // Apply the filter
      $("#datatable_fixed_column thead th input[type=text]").on( 'keyup change', function () {
        otable
            .column( $(this).parent().index()+':visible' )
            .search( this.value )
            .draw();

      } );
     // share hide and show on base of checked checkboxes
      $('.bulk').hide();
      $( "input[type=checkbox]" ).on( "click", function() {
         if($( "input:checked" ).length> 0)
          {
            $('.bulk').show();
          }else
          {
            $('.bulk').hide();
          }
       });
      // for share of checked rows
      var checkedRows = new Array();
        $(".bulk" ).on( "click", function() {
          $('input:checkbox:checked').each(function(){
          checkedRows.push($(this).val());
          });
          if(checkedRows.length>0)
          {
            $('.company_ids').val(checkedRows);

          }
      });

    });

