#content
  .row
    .col-xs-12.col-sm-3.col-md-3.col-lg-3.pull-right
      = button_tag 'NEW' ,class: 'btn btn-success btn-lg pull-right header-btn hidden-mobile' , "data-toggle": "modal" , "data-target":"#new-contract-company"
  %section.margin-top-10
    .row
      #wid-id-5.no-border
        %div
          .widget-body
            .col-md-12
              = search_form_for @search , url: search_companies_path , method: :get do |f|
                %ul#internal-tab-1.nav.nav-tabs.tabs-pull-right
                  %br
                  .input-group.input-group-lg.hidden-mobile
                    = f.text_field :invited_company_name_cont, class: "form-control input-lg", placeholder: "Search Company..."
                    .input-group-btn
                      = f.button raw("<i class='fa fa-fw fa-search fa-lg'></i>") , class: 'btn btn-default'
              %br 
              %table#dt_basic.table.table-striped.table-bordered.table-hover{:width => "100%"}
                %thead
                  %tr
                    %th{"data-hide" => "phone"} Pic
                    %th Name
                    %th Owner
                    %th Owner Email
                %tbody
                  -@invited_companies.each do |d|
                    %tr
                      %td= image_tag show_recipient_picture(d.invited_company.logo) , alt: '', width: '40'
                      %td= link_to d.invited_company.name , 'javascript:void(0);'
                      %td= d.invited_company.owner.full_name  rescue "  --"
                      %td= d.invited_company.owner.email
            = digg_pagination(@invited_companies)

- content_for :modals do
  #job_invitation
  = render 'company/companies/partials/new_company'