
.content-box
  .element-wrapper
    .element-box
      = render 'shared/alert_message'
      = render partial: 'shared/errors', locals: {object: @company}

      = bootstrap_form_for [:company, @company], inline_errors: false, html: { class: 'form-horizontal', data: { domain_checker_form: true, default_error_message: 'Something went wrong', url: domain_suggestion_path }} do |f|
        - if @company.new_record?
          = f.fields_for :invited_by do |i|
            = i.hidden_field :user_id, value: current_user.id
            = i.hidden_field :invited_by_company_id, value: current_company.id

        .row
          .col-md-6
            - f.object.company_contacts.build unless f.object.company_contacts.last&.new_record?
            = f.fields_for :company_contacts do |contact|
              .nested-fields
              = contact.email_field :email ,  placeholder: 'Email' , required: true, data: { email_field: true }, onblur: 'validate_email();'
              .row
                .col-md-6
                  = contact.text_field :first_name ,  placeholder: "First Name"
                .col-md-6
                  = contact.text_field :last_name , placeholder: "Last Name"
              = contact.text_field :title ,  placeholder: 'Title '
              = contact.text_field :phone , type: 'tel', class: 'form-control phone_field', label: 'Phone Number', id: 'phone' , placeholder: "Phone Number", data: {phone_field: true}
              -# = render 'company/companies/partials/company_contact_fields', f: contact
            %br/
            .col-md-12
              = link_to_add_association '+ Add Contact', f, :company_contacts, partial: 'company/companies/partials/company_contact_fields', class: 'text-info pull-right'
              %br/
          .col-md-6
            - if @company.new_record?
              = f.text_field :name, placeholder: 'Company Name', data: {name_field: true}

              .row
                .col-md-6= f.text_field :website, placeholder: 'Website', required: true, data: { website_field: true }
                .col-md-6= f.text_field :domain, placeholder: 'https://address.com', required: true, minlength: '3', data: { domain_field: true }

              = f.select :company_type, [["Staffing/Training/Vendors", 'vendor'], ["Client/Implementation Patner", 'hiring_manager']], {include_blank: '-- Select Type --'}, :class => 'company_type select-height', style: "height: 45px;padding: 0px;", required: true, label: "Select type", data: {company_type_field: true}
              = f.text_field :phone , type: 'tel', class: 'form-control phone_field', label: 'Office', id: 'phone' , placeholder: "Office Number", data: {phone_field: true}
              = f.fields_for :custom_fields do |lt|
                = render 'shared/custom_fields', f: lt

              %br/

        .form-actions
          .row
            .col-md-12
              -# = button_tag 'Cancel', class: 'btn btn-default', "data-dismiss" => "modal"
              = link_to 'Cancel', :back , class: 'btn btn-default'
              = f.button "Submit".html_safe, data: {disable_with: disable_spinning("Saving...")}, class: 'btn btn-primary'
      - content_for :scripts do
        = javascript_include_tag 'shared/domain_checker'
