%div{class: "#{@slick_pop_up} popup-backgroud"}
%div{class: "#{@slick_pop_up} popup-container"}
  -#@slick_pop_up
  #slideshow.sliders.mt-4

    .active-slide.slide.mb-5
      .slick_header.container.d-flex
        %h5 Import Customers
        %span.os-icon.os-icon-close.close_slick{style: 'left:190px !important;'}
      .slider-data-text
        .container
          = button_tag "Import List" , class: 'm-0 resume btn btn-primary btn-lg', onclick: "company_customer_file()"

          .data_on_slick_customer.scrole
            = render 'company/customer_vendor/partials/import_list',customer_list:@customers_list


    .slide
      .slick_header.container.d-flex.mb-2
        %h5 Import Vendors
        %span.os-icon.os-icon-close.close_slick{style: 'left:200px !important;'}
      .slider-data-text
        .container
          = button_tag "Import List" , class: 'm-0 resume btn btn-primary btn-lg', onclick: "company_vendor_file()"

          .data_on_slick_vendor.scrole
            = render 'company/customer_vendor/partials/import_list',customer_list: @vendors_list
.content-box
  .element-wrapper
    .element-box
      = render partial: 'company/companies/sub_menu_company'
      #content
        .row
          .col-sm-12.col-md-12.col-lg-3
            .panel{style: 'background: #FFF!important;border: 1px solid #ccc;display: flex;align-items: center;flex-direction: column;'}
              -if(current_company.logo.present?)
                = image_tag current_company.logo,  style:"width:100px;height:100px;border-radius: 50%;", fit: 'clip',:class =>"profile-pic   "
              -else
                = image_tag image_path('default-lcom-ogo.png'),  style: "width:100px;height:100px;border-radius: 50%;", fit: 'clip',:class =>"profile-pic circle_img"

              .d-inline
                %i.fa.fa-user.fa-2x.text-muted{style: 'font-size:20px;'}
                  5
                %i.fa.fa-file-pdf-o.fa-2x.text-muted{style: 'font-size:20px;'}
                  5
                %i.fa.fa-user.fa-2x.text-muted{style: 'font-size:20px;'}
                  5

            %br
            .panel-body.status.profile-margin
            %br
            .panel.pl-2.pt-2{style: 'background: #FFF!important;border: 1px solid #ccc;'}
              %h6.text-center Company Videos
              - current_company.company_videos.each do |data|
                -if data.video_type.include?('video')
                  %video.mr-left-20{:controls => "", :width => "50", :height=> "50"}
                    %source{src: "#{data.video}",type:"#{current_company.company_videos.first.video_type}"}
            = button_tag "Upload Media", fit: 'clip',:class =>"mb-4 video-pic img1 btn btn-xl btn-primary",style: 'width:100%;'

            %br
            .panel.pl-2.pt-2{style: 'background: #FFF!important;border: 1px solid #ccc;'}
              %h6.text-center Company Images
              - current_company.company_videos.each do |data|
                -if data.video_type.include?('image')
                  = image_tag image_path(data.video),  style: "", fit: 'clip',:class =>" circle_img"
            = button_tag "Upload Media", fit: 'clip',:class =>"video-pic img1 btn btn-xl btn-primary",style: 'width:100%;'

          .col-sm-12.col-md-12.col-lg-9
            #wid-id-7.jarviswidget{"data-widget-attstyle" => "jarviswidget-color-teal", "data-widget-custombutton" => "false", "data-widget-editbutton" => "false", "data-widget-fullscreenbutton" => "false", "data-widget-sortable" => "false", :role => "widget", :style => ""}

              %div{:role => "content",style: 'border:2px solid #dde2ec !important;'}
                .jarviswidget-editbox

                .widget-body
                  .tab-content

                    #hr1.tab-pane.active
                      .tabbable.tabs-below
                      = render partial: 'company/companies/partials/company_form_html'

    #embedModal.modal{:role => "dialog"}
      .modal-dialog
        / Modal content
        .modal-content
          .modal-body
            .card
              .card-body
                .card-subtitle
                  Copy and paste the following code snippets inside the <code>&lt;head&gt;&lt;/head&gt;</code> at the bottom:
                .p-4.border
                  %code
                    &lt;script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/4.0.4/iframeResizer.min.js" crossorigin="anonymous"&gt;&lt;/script&gt;
                    &lt;script src="https://demoetyme.com/static/js/etyme.embeddable.min.js" type="text/javascript"&gt;&lt;/script&gt;
                .card-subtitle.mt-4
                  Copy and paste the following code snippets where you want to display the job board:
                .p-4.border
                  %code
                    &lt;div id="job-board"&gt;&lt;/div&gt;
                    %br
                    &lt;script type="text/javascript"&gt;
                    %br
                    &nbsp;$(function() {
                    %br
                    &nbsp;&nbsp;etyme("job-board",#{current_company.id});
                    %br
                    &nbsp;})
                    %br
                    &lt;/script&gt;


#myModal.modal{:role => "dialog"}
  .modal-dialog
    / Modal content
    .modal-content
      .modal-body
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        .row
        .col-md-8
          %p
            %b Are You business Owner or Application Admin?
        .col-md-2
          .form-group
            %label.radio-container
              Yes
              = radio_button_tag :is_owner, "true"
              %span.radio-checkmark
        .col-md-2
          .form-group
            %label.radio-container
              No
              = radio_button_tag :is_owner, "false", checked:true
              %span.radio-checkmark
        / .col-md-2
        /   .form-group
        /     = radio_button_tag 'is_owner', 'true', false
        /     = label_tag 'is_owner', 'Yes'
        / .col-md-2
        /   .form-group
        /     = radio_button_tag 'is_owner', 'false', true
        /     = label_tag 'is_owner', 'No'
        .not_owner
          = form_for @admin,as: "admin",method: :post, remote: true do |f|
            .row
              .col-md-12
                .form-group
                  = f.text_field :first_name,:placeholder => "First Name",class: "form-control"
            .row
              .col-md-12
                .form-group
                  = f.text_field :last_name,:placeholder => "Last Name",class: "form-control"
            .row
              .col-md-12
                .form-group
                  = f.email_field :email,:placeholder => "Email",class: "form-control"
            .row
              .col-md-12
                .form-group
                  = f.text_field :phone,:placeholder => "Phone Number",class: "form-control"
            .row
              .col-lg-12
                %button.btn.btn-primary{:type => "submit"}
                  Saved
        .row.owner_doc
          .col-lg-12
            .form-group{ style: "margin: 0"}
            / = filepicker_field_tag "" ,class: "hidden domain_file", onchange:"uploadDomainfile(event)"
            / = link_to "Upload File" ,"#",class: 'col-lg-12 domain btn btn-md btn-primary', style: "margin-bottom: 10px"
            / %a{:href => "#{Rails.root}/assets/verify.html"} Click here to download

            %p
              Steps To verify your Domain
            %p
              1) Please click Download button.
            .col-lg-12.mr-bottom-10
              = link_to "Download File" , company_company_download_template_path(:company_id=>current_company.id), class: 'col-lg-3 btn btn-md btn-primary mr-bottom-10'
              / %a{:download => "", :href => "http://cloudepa.etymedev.com:3000/assets/verify.html", class: 'col-lg-3 btn btn-md btn-primary'} Download File
            %p.mr-top-10
              2) Put the downloded file to your hosted site public folder.


            = form_for current_company,url: "/company/companies/#{current_company.id}/verify_website",method: :post do |f|

              %p
              3) Add your site name in input box.

              .row
                .col-md-12.mr-bottom-10
                  .form-group
                    = text_field_tag :url, current_company.website , :placeholder => "https://www.etyme.com",class: "form-control mr-top-10"
              %p
                4) Press Verify button.

              -if current_company.owner_verified == false
                .row
                  .col-lg-12
                    %button.btn.btn-primary{:type => "submit"}
                      Verify Your Domain
              - else
                .row
                  .col-lg-12
                    .btn.btn-primary{:type => "submit"}
                      Your Domain is already verified


              / = link_to "Verify", company_company_verify_website_path




- content_for :scripts do
  :javascript
    $(document).ready(function() {
         $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
          // localStorage.setItem('activeTab', $(e.target).attr('href'));
          var id = $(e.target).attr("href").substr(1);
          window.location.hash = id;
        });
        var hash = window.location.hash;
        $('#myTab a[href="' + hash + '"]').tab('show');

      $( ".profile-pic,.domain" ).click(function()
      {
              upload_file_ajax(companyLogoUpload);
        // $( ".file" ).trigger( "click" );
        // $('.fp__overlay').css({'z-index':'99999'});
      });
      $(".domain").click(function(){
       $( ".domain_file" ).trigger( "click" );
        $('.fp__overlay').css({'z-index':'99999'});
      })
      $( ".video-pic" ).click(function()
      {
              upload_file_ajax(videoUpload);

        // $( ".video-file" ).trigger( "click" );
      });
      $(".best_in_place").best_in_place();
      $(".best_in_place").on('change', function(event) {
          flash_success('Change Saved!');
      });
      $('input:radio[name="same_billing_addr"]').change(function() {
        if ($(this).val() == "true") {
           $(".billing_info").hide();
           $(".b_address").val($(".a_address").val());
           $(".b_city").val($(".a_city").val());
           $(".b_country").val($(".a_country").val());
           $(".b_zip").val($(".a_zip").val());
          }
        else {
           $(".billing_info").show();
           $(".b_address").val('');
           $(".b_city").val('');
           $(".b_country").val('');
           $(".b_zip").val('');
          }
      });
      $('input:radio[name="is_owner"]').change(function() {
        if ($(this).val() == "false") {
           $(".owner_doc").hide();
           $(".not_owner").show();
          }
        else {
           $(".owner_doc").show();
           $(".not_owner").hide();
          }
      });
      $('#myModal').on('shown.bs.modal', function() {
          if ($('input:radio[name="is_owner"]').val() == "true") {
             $(".owner_doc").hide();
             $(".not_owner").show();
            }
          else {
             $(".owner_doc").show();
             $(".not_owner").hide();
            }
      });
    });
    function companyLogoUpload(url,type){
      photo_url = url
      $('.profile-pic').html('');
      $.ajax({
       type: 'POST',
       dataType: 'json',
       url: "#{update_logo_companies_path}",
       data: { photo: photo_url,authenticity_token: window._token },
       success: function (data) {
        $('.text img').attr("src",photo_url);
         location.reload();
       }
     });
    }
    function uploadDomainfile(event){
      file_url = event.fpfile.url
      $('.domain_file').html('');
      $.ajax({
       type: 'POST',
       url: "#{update_file_companies_path}",
       data: { file: file_url,authenticity_token: window._token },
       success: function (data) {
        $("#myModal").modal("hide");
       }
     });
    }
    function videoUpload(url,type){
      video_url = url
      video_type= type
      $('.video-pic').html('');
      $.ajax({
       type: 'POST',
       dataType: 'json',
       url: "#{update_video_companies_path}",
       data: { video: video_url,authenticity_token: window._token, video_type: video_type },
       success: function (data) {
         location.reload();
       }
     });
    }
    $(".edit_in_line").css("display","none");
    $('td').on('mouseover mouseout',function(){
    $(this).find('.editprofile-pic_in_line').toggle();
    });