.table-responsive
  %table#timesheet_datatable.table.table-striped.table-bordered
    %thead
      %tr
        %td Ts ID
        %td Ts Type
        %td Contract ID & Title - Client
        %td Client
        %td From & To Date
        %td Plan. Hr
        %td Act. Hr
    %tbody
      - timesheets.each do |ts|
        %tr
          %td= ts.id
          %td= ts.contract_cycle.cycle_frequency.capitalize
          %td= ts.contract.title
          %td= image_tag(ts.contract.client.photo, class: 'data-table-image mr-1', title: ts.contract.client.full_name) if ts.contract.client.present?
          %td= "#{ts.start_date} - #{ts.end_date}"
          %td= ts.contract_cycle.cycle_of.get_rate(ts.start_date)&.working_hrs
          %td= ts.total_time
