.ta-record.bg_white.pt-2.pl-2
  .ta-timestamp
    %strong #{a.try(:created_at).strftime('%I:%M %P')}
  .ta-activity
    #{a.owner.name.titleize}   created candidate
    = link_to a.trackable.try(:full_name).try(:titleize), static_candidate_resume_path( a.trackable), class: 'font-md' if a.blank?


-#- if params[:index]
-#  %li.well.margin-bottom-10
-#    .smart-timeline-icon
-#      - if a.owner.logo.present?
-#        = image_tag a.owner.logo,class:'',alt: "Company"
-#      -else
-#        = image_tag 'can.png',class:'',alt: "Company"
-#    .smart-timeline-time
-#      %small
-#      =  time_ago_in_words(a.try(:created_at).try(:localtime))+" ago"
-#    .smart-timeline-content
-#      %p.font-md.strong
-#        #{a.owner.name.titleize}   created candidate
-#        = link_to a.trackable.try(:full_name).try(:titleize), static_candidate_resume_path( a.trackable), class: 'font-md'
-#-else
-#  %span.name.font-sm.well.margin-bottom-10
-#    %span.text-muted
-#      = link_to a.owner.try(:name).try(:titleize) , class: 'font-md'
-#    %b
-#      %span.pull-right.font-xs.text-muted
-#        %i= time_ago_in_words(a.try(:created_at).try(:localtime))+" ago"
-#      %span.name.font-sm
-#        %b
-#    Created Candidate
-#    = link_to a.trackable.try(:full_name).try(:titleize), static_candidate_resume_path( a.trackable), class: 'font-md'
-#




-#<div class="element-wrapper">
-#  <div class="element-box">
-#    <h6 class="element-header">
-#      User Activity
-#    </h6>
-#
-#    <div class="timed-activities compact">
-#
-#      <% prev_date = nil %>
-#      <% @activities.where("activities.owner_id = #{current_company.id} or activities.recipient_id = #{current_company.id} ").each do |activity| %>
-#        <% if prev_date.nil? || prev_date != activity.created_at.strftime("%d %b, %Y") %>
-#          <% if prev_date != activity.created_at.strftime("%d %b, %Y") %>
-#              </div>
-#            </div>
-#          <% end %>
-#
-#          <% prev_date = activity.created_at.strftime("%d %b, %Y") %>
-#          <div class="timed-activity">
-#            <div class="ta-date">
-#              <span><%= prev_date %></span>
-#            </div>
-#            <div class="ta-record-w">
-#        <% end %>
-#          <%= render_activity activity ,index: params[:index] %>
-#    </div>
-#  </div>
-#</div>
