
<!--new html-->
<% chat_user_data = set_company_chat_user_data(con, usr) %>
<%= link_to  candidate_conversations_path(conversation: con.id), class: "user-w full-width-style", remote: true, method: :post do %>
  <div class="row conversation-list-style align-items-center" >
    <div class="col-sm-2 col-md-2 col-lg-2 div-usergroup-style" >
      <div class="row padding-10">
        <%#= image_tag("/assets/active_group_icon.png",  class: "data-table-image  img-icon-size data-table-image")
        %>
        <svg width="45" viewBox="0 0 45 28" class="svg-image-style" fill="#047BF8" xmlns="http://www.w3.org/2000/svg">
          <path d="M38.0751 12.2997C39.3643 11.3938 40.218 9.88681 40.218 8.1882C40.218 5.40944 37.9706 3.16204 35.1918 3.16204C32.4131 3.16204 30.1657 5.40944 30.1657 8.1882C30.1657 9.88681 31.0106 11.3938 32.3085 12.2997C31.2023 12.683 30.1918 13.2753 29.3381 14.0419C28.1622 13.0401 26.7771 12.2736 25.2615 11.8206C27.0994 10.7056 28.3364 8.676 28.3364 6.36763C28.3364 2.84845 25.4879 0 21.9688 0C18.4496 0 15.6011 2.85716 15.6011 6.36763C15.6011 8.676 16.8294 10.7056 18.6761 11.8206C17.1778 12.2736 15.8102 13.0314 14.6429 14.0158C13.7893 13.2666 12.7962 12.683 11.7074 12.3084C12.9966 11.4025 13.8502 9.89552 13.8502 8.19691C13.8502 5.41815 11.6028 3.17075 8.82409 3.17075C6.04533 3.17075 3.79793 5.41815 3.79793 8.19691C3.79793 9.89552 4.64288 11.4025 5.9408 12.3084C2.48259 13.5018 0 16.7858 0 20.6447V21.2196C0 21.237 0.0174217 21.2545 0.0348434 21.2545H10.6882C10.6272 21.7336 10.5924 22.2301 10.5924 22.7266V23.3189C10.5924 25.8799 12.6656 27.9531 15.2266 27.9531H28.7284C31.2894 27.9531 33.3625 25.8799 33.3625 23.3189V22.7266C33.3625 22.2301 33.3277 21.7336 33.2667 21.2545H43.9898C44.0072 21.2545 44.0246 21.237 44.0246 21.2196V20.6447C44.0072 16.7771 41.5333 13.4931 38.0751 12.2997ZM31.5594 8.17948C31.5594 6.17599 33.1883 4.54706 35.1918 4.54706C37.1953 4.54706 38.8242 6.17599 38.8242 8.17948C38.8242 10.1568 37.2302 11.7684 35.2615 11.8119C35.2354 11.8119 35.218 11.8119 35.1918 11.8119C35.1657 11.8119 35.1483 11.8119 35.1221 11.8119C33.1448 11.7771 31.5594 10.1656 31.5594 8.17948ZM16.9774 6.36763C16.9774 3.62371 19.2074 1.39374 21.9513 1.39374C24.6953 1.39374 26.9252 3.62371 26.9252 6.36763C26.9252 9.01573 24.8433 11.1847 22.2388 11.3328C22.143 11.3328 22.0472 11.3328 21.9513 11.3328C21.8555 11.3328 21.7597 11.3328 21.6639 11.3328C19.0593 11.1847 16.9774 9.01573 16.9774 6.36763ZM5.16553 8.17948C5.16553 6.17599 6.79446 4.54706 8.79796 4.54706C10.8015 4.54706 12.4304 6.17599 12.4304 8.17948C12.4304 10.1568 10.8363 11.7684 8.86764 11.8119C8.84151 11.8119 8.82409 11.8119 8.79796 11.8119C8.77182 11.8119 8.7544 11.8119 8.72827 11.8119C6.75962 11.7771 5.16553 10.1656 5.16553 8.17948ZM10.9321 19.852H1.41116C1.80315 16.1412 4.93905 13.2318 8.74569 13.2056C8.76311 13.2056 8.78053 13.2056 8.79796 13.2056C8.81538 13.2056 8.8328 13.2056 8.85022 13.2056C10.6621 13.2144 12.3171 13.8851 13.5976 14.9739C12.3433 16.3328 11.4112 18.0053 10.9321 19.852ZM31.9514 23.3189C31.9514 25.1047 30.4967 26.5594 28.711 26.5594H15.2091C13.4234 26.5594 11.9687 25.1047 11.9687 23.3189V22.7266C11.9687 17.3172 16.2893 12.8921 21.6639 12.7353C21.7597 12.744 21.8642 12.744 21.96 12.744C22.0559 12.744 22.1604 12.744 22.2562 12.7353C27.6308 12.8921 31.9514 17.3172 31.9514 22.7266V23.3189ZM32.988 19.852C32.5089 18.014 31.5942 16.3677 30.3486 15.0088C31.6378 13.8938 33.3103 13.2231 35.1396 13.2056C35.157 13.2056 35.1744 13.2056 35.1918 13.2056C35.2092 13.2056 35.2267 13.2056 35.2441 13.2056C39.0507 13.2318 42.1866 16.1412 42.5786 19.852H32.988Z" fill="#047BF8"/>
        </svg>

        <%#= user_image(usr, style: 'width: 35px; height: 35px;', class: 'data-table-image mr-2',title: "#{usr.full_name}" ) %>
      </div>
    </div>
    <div class="col-sm-10 col-md-10 col-lg-10 div-usermessage-style">
      <% contract = get_contract(usr) %>
      <div class="row name_and_date_style" >
        <% messages = con.conversation_messages.where.not(userable_id: current_candidate) %>
        <div class=" col-sm-9 col-md-9 col-lg-9" ><div class="row chat-user-name-style"  ><%= usr.full_name.truncate(20) %></div> </div>
        <div class="col-sm-3 col-md-3 col-lg-3 mobile_chat_subtitle"><div class="row chat-user-date-style" ><%= messages.present? && (messages.last.created_at  < DateTime.now - 24.hours) ? messages.last.created_at.strftime("%H:%M %p") : messages.present? && (messages.last.created_at  > DateTime.now - 24.hours) ? distance_of_time_in_words(Time.now,messages.last.created_at) : "" %></div></div>
      </div>
      <div>
        <div class="margin-top-5 name_and_message_style" >
          <span class="chat-user-client-name-style" ><%= messages.present?  ? "#{messages.last.userable.first_name}:" : "" %></span>
          <span class="chat-user-message-style" ><%= messages.present? ? messages.last.try(:body).truncate(35) : "" %></span>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%# if current_user.favourables.where(favourabled_id: usr.id, favourabled_type: usr.class.to_s).present? %>
<!--    <a class="fav-btn fa fa-star"></a>-->
<%# else %>
<%#= link_to "", add_to_favourite_company_conversations_path(favourabled_id: usr.id, favourabled_type: usr.class.to_s), class: "fav-btn fa fa-star-o", remote: true %>
<%# end %>

<!--old html-->
<%# chat_user_data = set_company_chat_user_data(con, usr) %>
<%#= link_to  candidate_conversations_path(conversation: con.id), class: "user-w", remote: true, method: :post do %>
<!--  <div class="avatar with-status status-green">-->
<%#= user_image(usr, style: 'width: 35px; height: 35px;', class: 'data-table-image mr-2',title: "#{usr.full_name}" )%>
<!--  </div>-->
<!--  <div class="user-info">-->
<!--    <div class="user-date"><%#= chat_user_data[:last_msg_time] %></div>-->
<!--    <div class="user-name"><%#= usr.full_name %></div>-->
<!--    <div class="last-message"><%#= chat_user_data[:last_msg] %></div>-->
<!--  </div>-->
<%# end %>

<%# if current_candidate.favourables.where(favourabled_id: usr.id, favourabled_type: usr.class.to_s).present? %>
<!--  <a class="fav-btn fa fa-star"></a>-->
<%# else %>
<%#= link_to "", add_to_favourite_candidate_conversations_path(favourabled_id: usr.id, favourabled_type: usr.class.to_s), class: "fav-btn fa fa-star-o", remote: true %>
<%# end %>
<script>

    // $(".full-width-style").on("click",function (){
    //     if($(window).width() < 768) {
    //         $(".candidate-left-chat-bar").hide()
    //         $("#conversation-section").show()
    //     }

    // })
    $(".full-width-style").on("click",function (){
        if($(window).width() < 768) {
            $(".candidate-left-chat-bar").hide()
            $("#conversation-section").show()
        }
    })
</script>