<% users.each do |usr| %>
  <!--<%# chat_user_data = set_candidate_chat_user_data(@current_chat, usr) %>-->
  <!--<li class="nav-item" class="<%#= chat_user_data[:class_name]  %>"  id="chat-user<%#= usr.id %>">-->
    <!--<%#= link_to candidate_conversations_path(user_id: usr.id, user_type: usr.class.to_s), class: "nav-link", remote: true, method: :post do %>-->
      <!--<div class="user_ds">-->
        <!--<%#= image_tag usr.photo, class: "img-fluid" %>-->
        <!--<h5><%#= usr.full_name %></h5>-->
        <!--<p><%#= chat_user_data[:last_msg]  %> <%#= chat_user_data[:last_msg_time]  %> <%#= chat_user_data[:unread_count]  %></p>-->
      <!--</div>-->
    <!--<%# end %>-->
  <!--</li>-->

    <% chat_user_data = set_candidate_chat_user_data(@current_chat, usr) %>
    <div class="user-w" id="chat-user<%= usr.id %>">
      <%= link_to  candidate_conversations_path(user_id: usr.id, user_type: usr.class.to_s), class: "nav-link", remote: true, method: :post do %>
          <div class="avatar with-status status-green">
            <%= image_tag usr.photo %>
          </div>
          <div class="user-info">
            <div class="user-date">
              <%= chat_user_data[:last_msg_time]  %>
            </div>
            <div class="user-name">
              <%= usr.full_name %>
            </div>
            <div class="last-message">
              <%= chat_user_data[:last_msg]  %>
            </div>
          </div>
      <% end %>
    </div>

<% end if users.present?  %>