<!--<div class="chat_box" data-conversation-id="<%#= @conversation.id if @conversation.present?%>" id="conversation-chat-box">-->
<!--<div class="key_mgs_box">-->
<!--<div class="keys_head">-->
<!--<h5><%#= @conversation.senderable == current_candidate ? @conversation.recipientable.full_name : @conversation.senderable.full_name if @conversation.present? %></h5>-->
<!--</div>-->
<!--</div>-->
<!--<div class="tab-content">-->
<!--<div class="tab-pane active" id="home" role="tabpanel">-->
<!--<div class="keystroke_msgs_box" id="conversation_<%#= @conversation.id if @conversation.present? %>">-->
<!--<%# @messages.each do |msg| %>-->
<!--<div class="<%#= msg.userable == current_candidate ? 'send_message' : 'receive_message' %>">-->
<!--<span><%#= msg.body %></span>-->
<!--</div>-->
<!--<%# end if @messages.present? %>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="panel-footer">-->
<!--<%#= form_tag candidate_conversation_conversation_messages_path(@conversation||=0), remote: true ,method: :post do %>-->
<!--<div class="input-group">-->
<%#= text_field_tag 'conversation_message[body]', nil, class: 'form-control input-sm chat_input ',autocomplete: "off",
                           placeholder: 'Type your message here...', required: true, id: "conversation_#{@conversation.id}_#{current_candidate.class.to_s}_#{current_candidate.id}" %>
<!--<span class="input-group-btn">-->
<!--<%#= submit_tag "Send", class: 'btn btn-primary btn-sm', id: "btn-chat" %>-->
<!--</span>-->
<!--</div>-->
<!--<%# end if @conversation.present?  %>-->
<!--</div>-->
<!--</div>-->



<div class="chat_box" data-conversation-id="<%= @conversation.id if @conversation.present? %>" id="conversation-chat-box">
  <div class="chat-head" style="flex-direction: column; align-items: stretch;">
    <div class="flex-row w-100" style="justify-content: space-between;">
      <% opt_obj = @conversation.chatable_type == "Group" ? @conversation.chatable : (@conversation.senderable == current_candidate ? @conversation.recipientable : @conversation.senderable) if @conversation.present? %>
      <div>
        <span>To:</span>
        <a class="d-inline" href="#"><%= opt_obj.full_name if opt_obj.present? %></a>
      </div>
      <% if @conversation.present? %>
        <div class="candidate-icon_widget">
          <%= contact_widget(current_candidate.email, current_candidate.phone) %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="chat-content-w chat-content-scroll">
    <div class="chat-content" id="conversation_<%= @conversation.id if @conversation.present? %>">
      <!--<%# prev_date = nil %>-->
      <!--<%# @messages.each do |msg| %>-->
      <!--<%# if prev_date != msg.created_at.strftime('%d %b, %Y') %>-->
      <!--<%# prev_date = msg.created_at.strftime('%d %b, %Y') %>-->
      <!--<div class="chat-date-separator">-->
      <!--<span>-->
      <!--<%# if Date.parse(prev_date) == Date.today %>-->
      <!--Today-->
      <!--<%# elsif Date.parse(prev_date) == Date.yesterday %>-->
      <!--Yesterday-->
      <!--<%# else %>-->
      <!--<%#= prev_date %>-->
      <!--<%# end %>-->
      <!--</span>-->
      <!--</div>-->
      <!--<%# end %>-->

      <!--<%# if msg.userable == current_candidate %>-->
      <!--<div class="chat-message self">-->
      <!--<div class="chat-message-content-w">-->
      <!--<div class="chat-message-content">-->
      <!--<%#= msg.body %>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="chat-message-date">-->
      <!--<%#= msg.created_at.strftime("%l:%M%P") %>-->
      <!--</div>-->
      <!--<div class="chat-message-avatar">-->
      <!--<%#= image_tag msg.userable.photo %>-->
      <!--</div>-->
      <!--</div>-->
      <!--<%# else %>-->
      <!--<div class="chat-message">-->
      <!--<div class="chat-message-content-w">-->
      <!--<div class="chat-message-content">-->
      <!--<%#= msg.body %>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="chat-message-avatar">-->
      <!--<%#= image_tag msg.userable.photo %>-->
      <!--</div>-->
      <!--<div class="chat-message-date">-->
      <!--<%#= msg.created_at.strftime("%l:%M%P") %>-->
      <!--</div>-->
      <!--</div>-->
      <!--<%# end %>-->
      <!--<%# end if @messages.present? %>-->

      <div id="all-infinite-scrolling-msg" style="display:none"></div>
      <%= hidden_field_tag "prev_date", nil %>

    </div>
  </div>
  <div class="chat-controls">
    <%= form_for([@conversation, ConversationMessage.new], :remote => true, :html => {id: "conversation_form_#{@conversation.id}"}) do |f| %>
      <div class="chat-input1 chat-input">
        <%= f.text_field :body, class: 'form-control input-sm chat_input ', autocomplete: "off", required: true, placeholder: 'Type your message here...', "data-cid" => @conversation.id, id: "con-text-#{@conversation.id}-#{current_candidate.class}-#{current_candidate.id}" %>
      </div>
      <div id="file-name_uploaded">

      </div>
      <div class="chat-input-extra">
        <div class="chat-extra-actions">
          <%= f.filepicker_field :file_url, onchange: 'onFileUpload(event)' %>
        </div>
        <div class="chat-btn">
          <%= f.submit "Send", class: "btn btn-primary btn-sm float-right", id: "send-chat-message" %>
          <!--<a class="btn btn-primary btn-sm" href="#">Reply</a>-->
        </div>
      </div>
    <% end if @conversation.present? %>
  </div>
</div>

<script>
  function onFileUpload (event) {
    $('#file-name_uploaded').html("<span>" + event.fpfile.filename + "</span><hr/>");
  }
</script>