$("#conversation-section").html("<%= j render 'candidate/conversations/conversation' %>");
$("#conversation-r-section").html("<%= j render 'candidate/conversations/conversation_right_side' %>");
$(".chat-content-scroll").data('ajaxready', true);
$.ajax({
    url: "<%= messages_conversation_conversation_messages_path(@conversation) %>",
    type: "GET",
    dataType: "script",
    success:function(data){}
});
listenForScrollEvent($(".chat-content-scroll"));
$("#unread-msg-<%= current_candidate.id %>").html("<%= @unread_message_count.to_i > 0 ? @unread_message_count : '' %>");
if ($("#conversation_<%= @conversation.id %>")[0]) {
    $("#conversation_<%= @conversation.id %>").scrollTop($("#conversation_<%= @conversation.id %>")[0].scrollHeight);
}

<% opt_usr = @conversation.opt_participant(current_candidate) %>
$("#company-conversation-list .conversation_user_<%= @conversation.id  %>").remove();
$("#company-conversation-list").prepend("<div class='row user-list-item-style-candidate  active-div-color conversation_user_<%=  @conversation.id  %>'> <%= j render 'conversation_list', con: @conversation, usr: opt_usr, is_favourite: false %> </div>")




$("#unread-msg-<%= current_candidate.id %>").html("<%= @unread_message_count.to_i > 0 ? @unread_message_count : '' %>");
$('.messages_bs .chat_box .keystroke_msgs_box').slimScroll({
    height: '540px'
});

//$( ".req-file-pick" ).on('click',function() {
//  $(".fp__overlay").css({'z-index':'99999'});
//});