<div class="webflow-profile row">
  <div class="webflow-profile-left col-12 col-xl-4">
    <div class="webflow-profile-inner">
      <div class="profile-available">
        <i class="fa fa-circle" aria-hidden="true"></i>
        Available
      </div>
      <div class="profile-avatar">
        <%= image_tag "#{@candidate&.photo&.blank? ? asset_path('avatars/male.png') : @candidate.photo }", alt: "#{@candidate.full_name}" %>
      </div>
      <div class="profile-name">
        <%= @candidate.full_name %>
        <span class="profile-location"> USA </span>
      </div>
      <div class="profile-title">
        Web Developer
      </div>
      <div class="profile-rating">
        <div class="profile-rating-stars">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <span class="profile-rating-number">4.5</span>
        </div>
      </div>
      <div class="profile-reviews-links">
        <span class="profile-reviews-link">24 Reviews</span>
        <span class="profile-reviews-link">Read Reviews</span>
        <span class="profile-reviews-link">Add a Review</span>
      </div>
      <div class="profile-stats">
        <div class="profile-stats-container">
          <div class="profile-stats-number">
            122
          </div>
          <div class="profile-stats-label">
            Days of Experience
          </div>
        </div>
        <div class="profile-stats-container">
          <div class="profile-stats-number">
            4
          </div>
          <div class="profile-stats-label">
            Clients
          </div>
        </div>
      </div>
      <div class="mb-4">
        <div class="profile-contact">
          <i class="fa fa-phone" aria-hidden="true"></i>
          (777) 7777-7777
        </div>
        <div class="profile-contact">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          john@doe.com
          <span class="profile-contact-verified">Verified</span>
        </div>
      </div>
      <div class="mb-5">
        <div class="profile-information">
          <div class="information-label">
            Location
          </div>
          <div class="information-value">
            Denver, CO
          </div>
        </div>
        <div class="profile-information">
          <div class="information-label">
            Visa Status
          </div>
          <div class="information-value">
            Unknown
          </div>
        </div>
        <div class="profile-information">
          <div class="information-label">
            SSN
          </div>
          <div class="information-value">
            No
          </div>
        </div>
        <div class="profile-information">
          <div class="information-label">
            Linked ID
          </div>
          <div class="information-value">
            Unknown
          </div>
        </div>
      </div>
      <div class="profile-rate-value">
        $75-$80/hr
      </div>
      <div class="profile-rate-label">
        Hourly rate
      </div>
      <div class="profile-buttons">
        <a href="#" class="profile-button-add">
          Add as Candidate
        </a>
        <a href="#" class="profile-button-chat">
          <i class="fa fa-commenting mr-2" aria-hidden="true"></i> Chat
        </a>
      </div>
      <div class="profile-links">
        <a href="#" class="profile-link-share">
          Share Profile <i class="fa fa-share-alt ml-1" aria-hidden="true"></i>
        </a>
        <a href="#" class="profile-link-download">
          Download Resume
        </a>
      </div>
      <div class="profile-section">
        <div class="profile-section-header">
          <div class="profile-section-title">Skills</div>
          <div class="profile-section-line"></div>
        </div>
        <ul class="profile-skills-tags">
          <li>lorem ipsum</li>
          <li>lorem</li>
          <li>lorem</li>
          <li>lorem</li>
        </ul>
      </div>
      <div class="profile-section">
        <div class="profile-section-header">
          <div class="profile-section-title">Education</div>
          <div class="profile-section-line"></div>
        </div>
        <div class="profile-section-content-label">
          Degree Name
        </div>
        <div class="profile-section-content-value">
          University Name, Lorem ipsum olor sit amet, 2006-2011
        </div>
      </div>
      <div class="profile-section">
        <div class="profile-section-header">
          <div class="profile-section-title">Languages</div>
          <div class="profile-section-line"></div>
        </div>
        <div class="row">
          <div class="profile-section-content-label col-4">
            English
          </div>
          <div class="profile-section-content-value col-8">
            Native
          </div>
        </div>
      </div>
      <div class="profile-section">
        <div class="profile-section-header">
          <div class="profile-section-title">Certifications</div>
          <div class="profile-section-line"></div>
        </div>
        <div class="profile-section-content-label">
          Certificate Name
        </div>
        <div class="profile-section-content-value">
          University Name, Lorem ipsum olor sit amet, 2006-2011
        </div>
        <div class="profile-section-content-label">
          Certificate Name
        </div>
        <div class="profile-section-content-value">
          University Name, Lorem ipsum olor sit amet, 2006-2011
        </div>
      </div>
      <div class="profile-section">
        <div class="profile-section-header">
          <div class="profile-section-title">Projects History</div>
          <div class="profile-section-line"></div>
        </div>
        <div class="profile-section-content-value">
          No projects
        </div>
      </div>
    </div>
  </div>

  <div class="webflow-profile-right col-12 col-xl-8">
    <!-- Portfolio -->
    <div class="webflow-profile-inner">
      <div class="d-flex justify-content-between mb-20">
        <div class="f-16 w-500 l-19 c-80">John's Portfolio</div>
      </div>
      <div class="row">
        <div class="col-12 col-xl-6 mb-5 mb-xl-0">
          <div class="webflow-thumbnail-340-210 mb-16">
            <%= image_tag 'demo/s1.jpg' %>
          </div>
          <div class="f-14 l-17 c-100">
            Project Title
          </div>
        </div>
        <div class="col-12 col-xl-6 mb-5 mb-xl-0">
          <div class="webflow-thumbnail-340-210 mb-16">
            <%= image_tag 'demo/s2.jpg' %>
          </div>
          <div class="f-14 l-17 c-100">
            Project Title
          </div>
        </div>
        
      </div>
    </div>

    <!-- Project Experience -->
    <div class="webflow-profile-inner">
      <div class="d-flex justify-content-between mb-30">
        <div class="f-16 w-500 l-19 c-80">Experience</div>
      </div>
      <div class="mb-20">
        <div class="f-14 l-17 c-80 mb-2">
          Project Name
        </div>
        <div class="d-flex f-12 l-14">
          <div class="c-50 mr-12">
            Company Name
          </div>
          <div class="c-35">
            From Jan 19 - May 20
          </div>
        </div>
      </div>
      <div class="">
        <div class="f-14 l-17 c-80 mb-2">
          Project Name
        </div>
        <div class="d-flex f-12 l-14">
          <div class="c-50 mr-12">
            Company Name
          </div>
          <div class="c-35">
            From Jan 19 - May 20
          </div>
        </div>
      </div>
    </div>

    <!-- Reviews -->
    <div class="webflow-profile-inner webflow-comments col-12">
      <div class="webflow-comments-header d-flex justify-content-between">
        <div class="webflow-comments-title">Reviews <span>(24)</span></div>
        <div class="webflow-comments-sort">Most Recent <i class="fa fa-angle-down" aria-hidden="true"></i></div>
      </div>
      <div>
        <div class="webflow-comments-card d-flex">
          <div class="webflow-comments-card-image">
            <%= image_tag 'demo/s1.jpg' %>
          </div>
          <div class="pl-3">
            <div class="webflow-comments-card-author">
              John Doe <span class="webflow-comments-card-stars ml-2"><i class="fa fa-star" aria-hidden="true"></i> 4.2</span>
            </div>
            <div class="webflow-comments-card-company">
              Company Name 
            </div>
            <div class="webflow-comments-card-text">
              Cras vel tincidunt mi, nec auctor lorem. Quisque euismod, elit sed condimentum hendrerit. Cras vel tincidunt mi, nec auctor lorem. Quisque euismod, elit sed condimentum hendrerit. Cras vel tincidunt mi, nec auctor lorem. Quisque euismod, elit sed condimentum hendrerit. 
            </div>
            <div class="webflow-comments-card-footer">
              <span class="webflow-comments-card-time ml-0">Published 2 days ago</span>
            </div>
          </div>
        </div>
        <div class="webflow-comments-card d-flex">
          <div class="webflow-comments-card-image">
            <%= image_tag 'demo/s1.jpg' %>
          </div>
          <div class="pl-3">
            <div class="webflow-comments-card-author">
              John Doe <span class="webflow-comments-card-stars ml-2"><i class="fa fa-star" aria-hidden="true"></i> 4.2</span>
            </div>
            <div class="webflow-comments-card-company">
              Company Name 
            </div>
            <div class="webflow-comments-card-text">
              Cras vel tincidunt mi, nec auctor lorem. Quisque euismod, elit sed condimentum hendrerit. Cras vel tincidunt mi, nec auctor lorem. Quisque euismod, elit sed condimentum hendrerit. Cras vel tincidunt mi, nec auctor lorem. Quisque euismod, elit sed condimentum hendrerit. 
            </div>
            <div class="webflow-comments-card-footer">
              <span class="webflow-comments-card-time ml-0">Published 2 days ago</span>
            </div>
          </div>
        </div>
      </div>
      <div class="webflow-comments-load-more d-flex justify-content-center">
        <a href="#">Load more</a>
      </div>
    </div>
  </div>
</div>
