<%= stylesheet_link_tag "mycompany" %>
<style>
.bot_styles{
        background: none  !important;
        border: none !important;
        margin: 0px;
        padding: 0px;
}
.bot_styles:hover {
    outline: none !important;
}
.bot_styles:focus {
    outline: none !important;
}
</style>

<div class="webflow-profile row">
  <div class="webflow-profile-left col-12 col-xl-4">
    <div class="webflow-profile-inner" id="print-screen">
      <div class="profile-available">
        <i class="fa fa-circle" aria-hidden="true"></i>
        Available
      </div>
      <div class="profile-avatar">
        <%= image_tag "#{candidate&.photo&.blank? ? asset_path('avatars/male.png') : candidate.photo }", alt: "#{candidate.full_name}" %>
      </div>
      <div class="profile-name">
        <%= candidate.full_name %>
        <span class="profile-location"> USA </span>
      </div>
      <div class="profile-title">
        <%= candidate.candidate_title %>
      </div>

      <div class="profile-rating">
        <%= rating_starts(candidate_company.rating&.average || 0) %>
      </div>
      <div class="profile-reviews-links">
        <span class="profile-reviews-link"><%= pluralize(candidate_company.rating&.total, 'Review') %></span>

      <%if can_review %>
        <span class="profile-reviews-link" onclick="showReviewModal();">Add a Review</span>
      <%end%>
      </div>
      <div class="profile-stats">
        <div class="profile-stats-container">
          <div class="profile-stats-number">
            <%= candidate&.experiences.count %>
          </div>
          <div class="profile-stats-label">
            Years of Experience
          </div>
        </div>
        <div class="profile-stats-container">
          <div class="profile-stats-number">
           <%= candidate&.clients.count %>
          </div>
          <div class="profile-stats-label">
            Clients
          </div>
        </div>
      </div>
      <div class="mb-4">
        <% if candidate&.phone %>
        <div class="profile-contact">
          <i class="fa fa-phone" aria-hidden="true"></i>
          <%= mask(candidate&.phone, 4, "*") %>
        </div>
        <% end %>
        <div class="profile-contact">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <%= mask(candidate&.email, 4, "*") %>
          <span class="profile-contact-verified">Verified</span>
        </div>
      </div>
      <div class="mb-5">
        <div class="profile-information">
          <div class="information-label">
            Age
          </div>
          <div class="information-value">
            <%= pluralize((Date.today.to_s(:number).to_i - candidate.dob.to_s(:number).to_i) / 10000,'year') rescue 'N/A'%>
          </div>
        </div>
        <div class="profile-information">
          <div class="information-label">
            Location
          </div>
          <div class="information-value">
            <%= Candidate.last.criminal_check.last&.address&.split(",")&.drop(1)&.join(",") %>
          </div>
        </div>
        <div class="profile-information">
          <div class="information-label">
            Visa Status
          </div>
          <div class="information-value">
            <% if candidate.visas.last %>
              <%= candidate.visas.last&.status%>
            <% else %>
              Unknown
            <% end %>
          </div>
        </div>
        <div class="profile-information">
          <div class="information-label">
            SSN(YES / NO)
          </div>
          <div class="information-value">
            <% if candidate.ssn %>
              <%= candidate.ssn.present? ? 'Yes' : 'No' %>
            <% else %>
              Unknown
            <% end %>
          </div>
        </div>

        <div class="profile-information">
          <div class="information-label">
            Relocation
          </div>
          <div class="information-value">
            <% if candidate.relocation %>
              <%= candidate.relocation ? 'Yes' : 'No' %>
            <% else %>
              Unknown
            <% end %>
          </div>
        </div>

        <div class="d-flex justify-content-between flex-wrap w-100">

          <% if candidate.twitter_url.present? %>
            <div class="os-progress-bar primary w-50 d-flex justify-content-center">
              <div class="bar-labels">
                <div class="bar-label-left font-weight-bold d-flex align-items-center">
                  <i class="fi-social-skype"></i>
                  <span class="ml-2"><%=do_ellipsis(candidate.skypeid, 15)%></span>
                </div>
              </div>
            </div>
          <% end %>

          <% if candidate.facebook_url.present? %>
            <div class="os-progress-bar primary w-50 d-flex justify-content-center">
              <div class="bar-labels">
                <a href="<%= candidate.facebook_url%>" target="_blank">
                  <div class="bar-label-left font-weight-bold d-flex align-items-center">
                    <i class="fi-social-facebook"></i>
                    <span class="ml-2">Facebook</span>
                  </div>
                </a>
              </div>
            </div>
          <% end %>

          <% if candidate.gtalk_url.present? %>
            <div class="os-progress-bar primary w-50 d-flex justify-content-center">
              <div class="bar-labels">
                <a href="<%= candidate.gtalk_url%>" target="_blank">
                  <div class="bar-label-left font-weight-bold d-flex align-items-center">
                    <i class="fi-social-google-plus"></i>
                    <span class="ml-2">Google</span>
                  </div>
                </a>
              </div>
            </div>
          <% end %>

          <% if candidate.twitter_url.present? %>
            <div class="os-progress-bar primary w-50 d-flex justify-content-center">
              <div class="bar-labels">
                <a href="<%= candidate.twitter_url%>" target="_blank">
                  <div class="bar-label-left font-weight-bold d-flex align-items-center">
                    <i class="fi-social-google-plus"></i>
                    <span class="ml-2">Twitter</span>
                  </div>
                </a>
              </div>
            </div>
          <% end %>

          <% if candidate.linkedin_url.present? %>
            <div class="os-progress-bar primary w-50 d-flex justify-content-center">
              <div class="bar-labels">
                <a href="<%= candidate.linkedin_url %>" target="_blank">
                  <div class="bar-label-left font-weight-bold d-flex align-items-center">
                    <i class="fi-social-linkedin"></i>
                    <span class="ml-2">Linkedin</span>
                  </div>
                </a>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="profile-rate-value">
        <div class="profile-buttons">
          <!--        <a href="#" class="profile-button-add">-->
          <!--          Add as Candidate-->
          <!--        </a>-->
          <%c_candidate_obj = Candidate.find_by(id: @candidate)%>
          <% c_recruiter = User.find_by(id: c_candidate_obj&.recruiter_id)%>

          <div class="logged-user-role d-block">
            <%if c_recruiter.present? && current_user != c_recruiter%>
              <button onclick="recruiter_button(<%= c_recruiter.id %>)" class="bot_styles"><div class='profile-button-chat'>
                <div class="logged-user-role d-block ">
                    <%= chat_recruiter_link_image(c_recruiter) %>
                </div>
                 <span class="pl-2">Chat </span>
              </div></button>
            <%else%>
              <button onclick="candidate_button(<%= c_candidate_obj.id %>)" class="bot_styles"><div class='profile-button-chat'> <i class='fa fa-commenting mr-2' aria-hidden='true'></i> Chat </div></button>
            <%end%>
          </div>
        </div>
        <% job_invitation = candidate.try(:job_invitations).try(:last) %>
        $<%= job_invitation.present? ? job_invitation.min_hourly_rate : "NA" %>
        -
        <%= job_invitation.present? ? job_invitation.max_hourly_rate : "NA" %>
        /hr
      </div>

      <div class="profile-links">
        <a href="#" class="profile-link-share">
          Share Profile <i class="fa fa-share-alt ml-1" aria-hidden="true"></i>
        </a>
        <%if candidate.candidates_resumes&.last.present? %>
          <% file = candidate.candidates_resumes&.last.resume %>
          <% if file.blank? %>
           <a href="#" class="pl-4 profile-link-download" > Resume Missing</a>
          <% elsif File.extname(URI.parse(file).path) == '.pdf' %>
            <a href="<%=candidate.candidates_resumes&.last.resume %>" id="print-doc" class="profile-link-download" target="_blank" >
              Print Resume
            </a>
          <% else %>
            <a href="<%=candidate.candidates_resumes&.last.resume %>" id="print-doc" download class="profile-link-download" target="_blank" >
              Download Resume </a>
          <% end %>


        <% else %>
          <%= "No Ressume Available" %>
        <% end %>

<!--        <a  href="#"   class="pl-4 profile-link-download"  >-->
<!--          </a>-->
        <button id="print-page" onclick="Popup()" > Print Page </button>
      </div>
      <div class="profile-section">
        <div class="profile-section-header">
          <div class="profile-section-title">Skills</div>
          <div class="profile-section-line"></div>
        </div>
        <ul class="profile-skills-tags">
          <% candidate.skills.each do |skill| %>
            <li><%= skill %></li>
          <% end %>
        </ul>
      </div>
      <div class="profile-section">
        <div class="profile-section-header">
          <div class="profile-section-title">Education</div>
          <div class="profile-section-line"></div>
        </div>
        <% if candidate.educations.blank? %>
          Unknown
        <% end %>
        <% candidate.educations.each do |education| %>
          <div class="profile-section-content-label">
            <%= "#{education.degree_title&.capitalize} - #{education.institute&.capitalize}" %>
          </div>
          <div class="profile-section-content-value pb-2">
            <%= [education.degree_level, education.completion_year && ", Graduated #{education.completion_year.year}"].join %>
          </div>
        <% end %>
      </div>
      <div class="profile-section">
        <div class="profile-section-header">
          <div class="profile-section-title">Languages</div>
          <div class="profile-section-line"></div>
        </div>
        <div class="row">
          <div class="profile-section-content-label col-4">
            English (Lorem)
          </div>
          <div class="profile-section-content-value col-8">
            Native (Lorem)
          </div>
        </div>
      </div>
      <div class="profile-section">
        <div class="profile-section-header">
          <div class="profile-section-title">Certifications</div>
          <div class="profile-section-line"></div>
        </div>
        <% if candidate.certificates.blank? %>
          Unknown
        <% end %>
        <% candidate.certificates.each do |certificate| %>
        <div class="profile-section-content-label">
          <%= certificate.title %>
        </div>
        <div class="profile-section-content-value pb-2">
          <%= certificate.institute %>, <%= certificate.start_date&.year %>-<%= certificate.end_date&.year %>
        </div>
        <% end %>
      </div>
      <div class="profile-section">
        <div class="profile-section-header">
          <div class="profile-section-title">Projects History</div>
          <div class="profile-section-line"></div>
        </div>
        <% if candidate.portfolios.blank? %>
          No Projects
        <% end %>
        <% candidate.portfolios.each do |portfolio| %>
        <div class="profile-section-content-label">
          <%= portfolio.name %>
        </div>
        <div class="profile-section-content-value pb-2">
          <%= portfolio.description %>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="webflow-profile-right col-12 col-xl-8">

    <!-- Portfolio -->
    <div class="webflow-profile-inner" id="print-screen">
      <div class="d-flex justify-content-between mb-20">
        <div class="f-16 w-500 l-19 c-80">Portfolio</div>
      </div>
        <% if candidate.full_portfolios.empty? %>
          No Portfolio
        <% else %>
          <div class="row d-flex justify-content-center">
            <div class="portfolio-slick">
              <% candidate.full_portfolios.each do |portfolio| %>
                <% if url_image?(portfolio.cover_photo) %>
                  <div class="slide-container">
                    <img src="<%= portfolio.cover_photo %>"/>
                  </div>
                <% end %>
                <% if url_video?(portfolio.cover_photo) %>
                  <div class="slide-container">
                    <video controls="<%= true %>">
                      <source src="<%= portfolio.cover_photo %>"></source>
                    </video>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
    </div>

    <!-- Project Experience -->
    <div class="webflow-profile-inner">
      <div class="d-flex justify-content-between mb-30">
        <div class="f-16 w-500 l-19 c-80">Work History</div>
      </div>
      <% if candidate.full_experiences.empty? %>
        There is no work Experience
      <% end %>

      <% candidate.designations.with_no_client.each do |designation| %>
        <div class="element-info">
          <div class="element-info-text">
            <div class="mb-2">
              <div>
                <h5 class="mb-1 text-primary"><%= designation.comp_name %></h5>
                <span class="mb-1 h6 d-block text-secondary">
                  <%= "As #{designation.company_role}" if designation.company_role.present? %>
                </span>
                <strong class="font-weight-bold font-sm text-capitalize">
                  <%= "#{designation.formatted_date}" %>
                </strong>
                <% if designation.recruiter_name.present? %>
                  <div>
                    <strong>Recruiter</strong>
                    <div class="element-inner-desc">
                      <strong>
                        <%= designation.recruiter_name %>
                      </strong>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <%end%>
      <% candidate.clients.each do |client| %>
        <div class="element-info">
          <div class="element-info-text">
            <div class="mb-2">
              <div>
                <h5 class="mb-1 text-primary"><%= client.name %></h5>
                <span class="mb-1 h6 d-block text-secondary">
                  <%= "At #{client.industry}" if client.industry.present? %>
                </span>
                <strong class="font-weight-bold font-sm text-capitalize">
                  <%= client.formatted_date %>
                </strong>
              </div>
              <div class="element-inner-desc">
                <P class="m-0">
                  <strong>Industry</strong>
                  <%= client.industry %>
                </P>
              </div>
              <div class="element-inner-desc">
                <P class="m-0">
                  <strong>Project Description</strong>
                  <%= client.project_description %>
                </P>
              </div>
              <div class="element-inner-desc">
                <P>
                  <strong>Role(s)</strong>
                  <%= client.role %>
                </P>
              </div>
              <strong>Reference</strong>
              <div class="element-inner-desc pl-2">
                <p class="m-0">
                  <strong>
                    <%= client&.refrence_name&.capitalize %>
                  </strong>
                </p>
              </div>
              <div class="element-inner-desc pl-2">
                <p class="m-0">
                  <strong>
                    <%= client&.refrence_two_name&.capitalize %>
                  </strong>
                </p>
              </div>
              <% if client.designation.present? %>
                <div class="element-inner-desc pl-2">
                  <p class="m-0">
                    <strong>
                      <%= "Recruiter: #{client&.designation&.recruiter_name&.capitalize}" %>
                    </strong>
                  </p>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <%# <!-- Project Experience --> %>
    <%# <div class="webflow-profile-inner"> %>
    <%#   <div class="d-flex justify-content-between mb-30"> %>
    <%#     <div class="f-16 w-500 l-19 c-80">Experience</div> %>
    <%#   </div> %>
    <%#   <% if candidate.experiences.blank? %1> %>
    <%#     No Experience %>
    <%#   <% end %1> %>
    <%#   <% candidate.experiences.each do |experience| %1> %>
    <%#   <div class="mb-20"> %>
    <%#     <div class="f-14 l-17 c-80 mb-2"> %>
    <%#       <%= experience.experience_title %1> %>
    <%#     </div> %>
    <%#     <div class="d-flex f-12 l-14"> %>
    <%#       <div class="c-50 mr-12"> %>
    <%#         <%= experience.institute %1> %>
    <%#       </div> %>
    <%#       <div class="c-35"> %>
    <%#         From <%= experience.start_date %1> to <%= experience.end_date %1> %>
    <%#       </div> %>
    <%#     </div> %>
    <%#   </div> %>
    <%#   <% end %1> %>
    <%# </div> %>

    <!-- Reviews -->
    <div class="webflow-profile-inner webflow-comments col-12">
      <%= render 'static/candidates/webflow_candidate_reviews', candidate_company: candidate_company %>
    </div>
  </div>
</div>
<%= render 'static/candidates/webflow_candidate_add_review', candidate: candidate, rating_categories: @rating_categories %>

<!--<script type="text/javascript" src="" charset="utf-8" >-->
    // $('#print-page').click(function(e) {
    //     var restorepage = $('body').html();
    //     var printcontent = $('#print-screen').clone();
    //     $('body').empty().html(printcontent);
    //     window.print();
    //     $('body').html(restorepage);
    // })
<!--</script>-->



 <script>

        // $('#print-page').click(function(e) {
        //     let printElement = document.getElementById("print-screen");
        //     var printWindow = window.open('', 'PRINT');
        //     printWindow.document.write(document.documentElement.innerHTML);
        //         printWindow.document.body.style.margin = '0 0';
        //         printWindow.document.body.innerHTML = printElement.outerHTML;
        //
        // })


        function Popup() {
            var mywindow = window.open('', 'new div');
            mywindow.document.write('<html><head><title></title>');
            mywindow.document.write('<%= stylesheet_link_tag "kulkakit", media: 'all' %>');
            mywindow.document.write('<%= stylesheet_link_tag 'webflow', media: "all" %>');
            mywindow.document.write('</head><body >');
            mywindow.document.write($('#print-screen').html());
            mywindow.document.write('</body></html>');
            mywindow.document.close();
            mywindow.focus();
            setTimeout(function(){mywindow.print();},3000);

        }

 </script>

<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<% content_for :head do %>
  <link href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.css" rel="stylesheet" type="text/css"></link>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick-theme.min.css" rel="stylesheet" type="text/css"></link>
<% end %>

<% content_for :scripts do %>
  <script>
    function showReviewModal() {
      $('#add-review').modal('show');
    }

    $('.portfolio-slick').slick({
      infinite: true,
      slidesToShow: 1,
      dots:true,
      arrows: true,
      speed: 500,
      fade: true,
    });
  </script>
<% end %>

<script>
    $(".openbtn").click(function() {
        $(".side-wrapper").toggleClass("side-active")
    });
    function recruiter_button(recruiter){
          $.ajax({
              url: `/company/conversations/mini_chat`,
              type: "GET",
              dataType: "script",
              data: {recruiter:recruiter},
              success: function (data) {
              }
          });
    }

    function candidate_button(candidate){
          $.ajax({
              url: `/company/conversations/mini_chat`,
              type: "GET",
              dataType: "script",
              data: {candidate: candidate},
              success: function (data) {
                  
              }
          });
    }
</script>

