<div class="webflow-profile row">
  <div class="webflow-profile-left col-12 col-xl-4">
    <div class="webflow-profile-inner">
      <div class="profile-available">
        <i class="fa fa-circle" aria-hidden="true"></i>
        Available
      </div>
      <div class="profile-avatar">
        <%= image_tag "#{@candidate&.photo&.blank? ? asset_path('avatars/male.png') : @candidate.photo }", alt: "#{@candidate.full_name}" %>
      </div>
      <div class="profile-name">
        <%= @candidate.full_name %>
        <span class="profile-location"> USA </span>
      </div>
      <div class="profile-title">
        <%= @candidate.candidate_title %>
      </div>
      <div class="profile-rating">
        <div class="profile-rating-stars">
          <% candidate_rating = @candidate.candidate_rating.round %>
          <% (1..candidate_rating).each do |i| %>
            <i class="fa fa-star" aria-hidden="true"></i>
          <% end %>
          <% empty_star = 5 - candidate_rating %>
          <% (1..empty_star).each do |i| %>
            <i class="fa fa-star empty-star" aria-hidden="true"></i>
          <% end %>
          <span class="profile-rating-number"><%= candidate_rating %></span>
        </div>
      </div>
      <div class="profile-reviews-links">
        <span class="profile-reviews-link"><%= @candidate.candidate_reviews.count %> Reviews</span>
        <span class="profile-reviews-link">Add a Review</span>
      </div>
      <div class="profile-stats">
        <div class="profile-stats-container">
          <div class="profile-stats-number">
            <%= @candidate.total_experince %>
          </div>
          <div class="profile-stats-label">
            Years of Experience
          </div>
        </div>
        <div class="profile-stats-container">
          <div class="profile-stats-number">
            4
          </div>
          <div class="profile-stats-label">
            Clients
          </div>
        </div>
      </div>
      <div class="mb-4">
        <% if @candidate&.phone %>
        <div class="profile-contact">
          <i class="fa fa-phone" aria-hidden="true"></i>
          <%= do_ellipsis(@candidate.phone,2) %>
        </div>
        <% end %>
        <div class="profile-contact">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <%= do_ellipsis(@candidate.email,2) %>
          <span class="profile-contact-verified">Verified</span>
        </div>
      </div>
      <div class="mb-5">
        <div class="profile-information">
          <div class="information-label">
            Location
          </div>
          <div class="information-value">
            <%= @candidate&.location %>
          </div>
        </div>
        <div class="profile-information">
          <div class="information-label">
            Visa Status
          </div>
          <div class="information-value">
            <% if @candidate.candidate_visa %>
              <%= @candidate.candidate_visa %>
            <% else %>
              Unknown
            <% end %>
          </div>
        </div>
        <div class="profile-information">
          <div class="information-label">
            SSN
          </div>
          <div class="information-value">
            <% if @candidate.ssn %>
              <%= @candidate.ssn %>
            <% else %>
              Unknown
            <% end %>
          </div>
        </div>
        <div class="profile-information">
          <div class="information-label">
            Facebook
          </div>
          <div class="information-value">
            <% if @candidate.facebook_url %>
              <%= link_to raw("<i class='fa fa-facebook-square fa-2x'></i>"), @candidate.facebook_url %>
            <% else %>
              <i class='fa fa-facebook-square fa-2x'></i>
            <% end %>
          </div>
        </div>
        <div class="profile-information">
          <div class="information-label">
            Twitter
          </div>
          <div class="information-value">
            <% if @candidate.twitter_url %>
              <%= link_to raw("<i class='fa fa-twitter-square fa-2x'></i>"), @candidate.twitter_url %>
            <% else %>
              <i class='fa fa-twitter-square fa-2x'></i>
            <% end %>
          </div>
        </div>
        <div class="profile-information">
          <div class="information-label">
            Linked ID
          </div>
          <div class="information-value">
            <% if @candidate.linkedin_url %>
              <%= link_to raw("<i class='fa fa-linkedin fa-2x'></i>"), @candidate.linkedin_url %>
            <% else %>
              <i class='fa fa-linkedin fa-2x'></i>
            <% end %>
          </div>
        </div>
        <div class="profile-information">
          <div class="information-label">
            G talk
          </div>
          <div class="information-value">
            <% if @candidate.gtalk_url %>
              <%= link_to raw("<i class='fa fa-microphone fa-2x'></i>"), @candidate.gtalk_url %>
            <% else %>
              <i class='fa fa-microphone fa-2x'></i>
            <% end %>
          </div>
        </div>
        <div class="profile-information">
          <div class="information-label">
            Skype
          </div>
          <div class="information-value">
            <% if @candidate.skypeid %>
              <%= link_to raw("<i class='fa fa-skype fa-2x'></i>"), @candidate.skypeid %>
            <% else %>
              <i class='fa fa-skype fa-2x'></i>
            <% end %>
          </div>
        </div>
      </div>
      <div class="profile-rate-value">
        <% job_invitation = @candidate.try(:job_invitations).try(:last) %>
        $<%= job_invitation.present? ? job_invitation.min_hourly_rate : "NA" %>
        -
        <%= job_invitation.present? ? job_invitation.max_hourly_rate : "NA" %>       
        /hr
      </div>
      <div class="profile-rate-label">
        Hourly rate
      </div>
      <div class="profile-buttons">
        <a href="#" class="profile-button-add">
          Add as Candidate
        </a>
        <a href="#" class="profile-button-chat">
          <i class="fa fa-commenting mr-2" aria-hidden="true"></i> Chat
        </a>
      </div>
      <div class="profile-links">
        <a href="#" class="profile-link-share">
          Share Profile <i class="fa fa-share-alt ml-1" aria-hidden="true"></i>
        </a>
        <a href="#" class="profile-link-download">
          Download Resume
        </a>
      </div>
      <div class="profile-section">
        <div class="profile-section-header">
          <div class="profile-section-title">Skills</div>
          <div class="profile-section-line"></div>
        </div>
        <ul class="profile-skills-tags">
          <% @candidate.skills.each do |skill| %>
            <li><%= skill %></li>
          <% end %>
        </ul>
      </div>
      <div class="profile-section">
        <div class="profile-section-header">
          <div class="profile-section-title">Education</div>
          <div class="profile-section-line"></div>
        </div>
        <% if @candidate.educations.blank? %>
          Unknown
        <% end %>
        <% @candidate.educations.each do |education| %>
          <div class="profile-section-content-label">
            <%= education.degree_title %>
          </div>
          <div class="profile-section-content-value pb-2">
            <%= education.institute %>, <%= education.description %>, <%= education.start_year&.year %>-<%= education.completion_year&.year %>
          </div>
        <% end %>
      </div>
      <div class="profile-section">
        <div class="profile-section-header">
          <div class="profile-section-title">Languages</div>
          <div class="profile-section-line"></div>
        </div>
        <div class="row">
          <div class="profile-section-content-label col-4">
            English (Lorem)
          </div>
          <div class="profile-section-content-value col-8">
            Native (Lorem)
          </div>
        </div>
      </div>
      <div class="profile-section">
        <div class="profile-section-header">
          <div class="profile-section-title">Certifications</div>
          <div class="profile-section-line"></div>
        </div>
        <% if @candidate.certificates.blank? %>
          Unknown
        <% end %>
        <% @candidate.certificates.each do |certificate| %>
        <div class="profile-section-content-label">
          <%= certificate.title %>
        </div>
        <div class="profile-section-content-value pb-2">
          <%= certificate.institute %>, <%= certificate.start_date&.year %>-<%= certificate.end_date&.year %>
        </div>
        <% end %>
      </div>
      <div class="profile-section">
        <div class="profile-section-header">
          <div class="profile-section-title">Projects History</div>
          <div class="profile-section-line"></div>
        </div>
        <% if @candidate.portfolios.blank? %>
          No Projects
        <% end %>
        <% @candidate.portfolios.each do |portfolio| %>
        <div class="profile-section-content-label">
          <%= portfolio.name %>
        </div>
        <div class="profile-section-content-value pb-2">
          <%= portfolio.description %>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="webflow-profile-right col-12 col-xl-8">
    <!-- Portfolio -->
    <div class="webflow-profile-inner">
      <div class="d-flex justify-content-between mb-20">
        <div class="f-16 w-500 l-19 c-80">John's Portfolio</div>
      </div>
        <% if @candidate.portfolios.blank? %>
          No Projects
        <% end %>
      <div class="row">
        <% if @candidate.portfolios[-1] %>
        <div class="col-12 col-xl-6 mb-5 mb-xl-0">
          <div class="webflow-thumbnail-340-210 mb-16">
            <%= image_tag @candidate.portfolios[-1].cover_photo %>
          </div>
          <div class="f-14 l-17 c-100">
            <%= @candidate.portfolios[-1].name %>
          </div>
        </div>
        <% end %>
        <% if @candidate.portfolios[-2] %>
        <div class="col-12 col-xl-6 mb-5 mb-xl-0">
          <div class="webflow-thumbnail-340-210 mb-16">
            <%= image_tag @candidate.portfolios[-2].cover_photo %>
          </div>
          <div class="f-14 l-17 c-100">
            <%= @candidate.portfolios[-2].name %>
          </div>
        </div>
        <% end %>
      </div>
    </div>

    <!-- Project Experience -->
    <div class="webflow-profile-inner">
      <div class="d-flex justify-content-between mb-30">
        <div class="f-16 w-500 l-19 c-80">Experience</div>
      </div>
      <% if @candidate.experiences.blank? %>
        No Experience
      <% end %>
      <% @candidate.experiences.each do |experience| %>
      <div class="mb-20">
        <div class="f-14 l-17 c-80 mb-2">
          <%= experience.experience_title %>
        </div>
        <div class="d-flex f-12 l-14">
          <div class="c-50 mr-12">
            <%= experience.institute %>
          </div>
          <div class="c-35">
            From <%= experience.start_date %> to <%= experience.end_date %>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <!-- Reviews -->
    <div class="webflow-profile-inner webflow-comments col-12">
      <%= render 'static/candidates/partials/webflow_candidate_ratings' %>
    </div>
  </div>
</div>
