<section class="content-wrapper">
  <div class="container">
    <div class="row">
      <div class="header pt-md-4">
        <div class="col-12">
          <div class="header-items bor-btm pt-3 pt-md-0">
            <div class="row align-items-center">
              <div class="col-12 col-md-4 col-lg-6 mb-2 mb-md-0">
                <div class="search-main position-relative d-flex align-items-center justify-content-between">
                  <div class="d-inline-block position-relative">
                    <input type="text" placeholder="Search" class="search-style f-14 f-mon-med txt-dark">
                      <div class="btn-search">
                        <button class="btn border-0">
                            <%= image_tag(image_path('search.svg'), class: "img-fluid") %>
                        </button>
                      </div>
                  </div>
                </div>
                <div class="d-inline-block text-right">
                  <span class="openbtn txt-dark d-md-none">
                    <i class="fa fa-bars f-20" aria-hidden="true"></i>
                  </span>
                </div>

              </div>
              <%= render 'kulkakit/shared/header' %>
            </div>
          </div>
        </div>
      </div>
    
      <div class="col-12 content-main">
        <div class="row mt-3">
          <div class="col-12 col-lg-8">
            <div class="row">
              <div class="col-12 col-lg-4 text-center">
                <%= image_tag "#{@candidate&.photo.blank? ? asset_path('avatars/m_sunny_big.png') : @candidate.photo }" ,class: "img-fluid w-100 br-20", alt: "cover" %>
              </div>
              <div class="col-12 col-lg-8">
                <div class="row">
                  <div class="col-8 mt-3">
                    <h3 class="txt-black"><%= @candidate.full_name %></h3>
                    <p><%= "#{user_age(@candidate.dob)} Years Age" if @candidate.dob.present? %> <%= ", " if @candidate.dob.present? && @candidate&.gender.present? %><%= @candidate&.gender.present? ? @candidate&.gender.to_s == "0" ? "Male" : @candidate&.gender.to_s == "1" ? "Female" : "-" : "" %></p>
                  </div>
                  <div class="col-4 text-right mt-3">
                    <h4><span class="badge badge-success fs-22">Available</span></h4>
                    <!-- <h4><span class="badge badge-danger fs-22">Not Available</span></h4> -->
                  </div>
                  <div class="col-12 text-left mt-3">
                    <% if @candidate&.candidate_title.present? %>
                      <span class="bg-lig-gry align-items-center justify-content-center px-3 py-2 br-20 f-12 f-mon-sembol" title="<%= @candidate.candidate_title %>"><span class="fa fa-briefcase"></span> <%= do_ellipsis(@candidate&.candidate_title,20) %></span>
                    <% end %>
                    <p class="f-14 f-mon-med txt-black mt-3"><span class="fa fa-map-marker"></span> <b>Location</b> : <%= @candidate.try(:location).present? ? @candidate.try(:location) : "-" %></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row feed-main">
              <div class="col-12 mt-4">
                <div class="feed-block bg-white p-3">
                  <p class="f-20 font-weight-bold">Skills</p>
                  <% if @candidate.skills.present? %>
                    <% @candidate.skills.each do |skill| %>
                      <span class="badge badge-secondary"><%= skill.name %></span>
                    <% end %>
                  <% else %>
                    -
                  <% end %>
                </div>
              </div>
              <div class="col-12 mt-4">
                <div class="feed-block bg-white p-3">
                  <p class="f-20 font-weight-bold">Education</p>
                  <p><%= @candidate.educations.present? ? @candidate.educations.pluck(:degree_title).join(", ") : "-" %></p>
                </div>
              </div>
              <div class="col-12 mt-4">
                <div class="feed-block bg-white p-3">
                  <p class="f-20 font-weight-bold">Certification</p>
                  <p><%= @candidate.certificates.present? ? @candidate.certificates.pluck(:title).join(", ") : "-" %></p>
                </div>
              </div>
              <div class="col-12">
                <div class="row feed-main">
                  <div class="col-12 mt-3">
                    <div class="feed-block bg-white p-3">
                      <p class="mb-4 f-20 font-weight-bold">Project History</p>
                      <div class="m-0">
                        <% if @candidate.designations.present? || (@candidate.ever_worked_with_company && @candidate.clients.present?) %>
                          <% @candidate.designations.each do |c| %>
                            <% unless c.comp_name && c.company_role %>
                              <h4><%= "#{c.comp_name}" %></h4>
                              <span><%=  "As #{c.company_role}" if c.company_role.present? %></span>
                              <strong><%= "#{c.start_date&.strftime('%B-%Y')} #{"-" if c.start_date.present? and c.end_date.present?}  #{c.end_date&.strftime('%B-%Y')}" %></strong>
                            <% end %>
                          <% end %>
                          <hr>
                          <% @candidate.clients.each do |c| %>
                            <h5><%= "#{c.name}" %></h5>
                            <span><%=  "At #{c.industry}" if c.industry.present? %></span>
                            <strong><%= "#{c.start_date&.strftime('%B-%Y')} #{"-" if c.start_date.present? and c.end_date.present?} #{c.end_date&.strftime('%B-%Y')}" %></strong>
                            <div><strong>Project Description</strong> <%= c.project_description.present? ? c.project_description : "-" %></div>
                            <div><strong> Role(s) </strong> <%= c.role.present? ? c.role : "-" %></div><div>
                              <strong> Reference </strong>
                              <% if c.candidate == current_candidate and !c.refrence_one.present? %>
                              <% else %>
                                <%= "<strong>#{c&.refrence_name&.capitalize}</strong> endorse <strong>#{c.candidate.full_name}</strong> and their roles and responsibilities for the PROJECT".html_safe %>
                              <% end %>
                            </div>
                          <% end %>
                        <% else %>
                          <p>No Project History</p>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <div class="row" style="border-left: 1px solid #ccc;">
              <div class="col-6 text-center">
                <%= @candidate.candidate_exp_words.html_safe %>
              </div>
              <div class="col-6 text-center" style="border-left: 1px solid #ccc;">
                <h2><%= @candidate.clients.present? ? @candidate.clients.count : "0" %></h2>
                <p>Clients</p>
              </div>
              <div class="col-12 mt-4 mb-4 text-left  pt-4" style="border-top: 1px solid #ccc;">
                <p><b>Contact : </b> 
                  <% if @candidate.phone.present? %>
                    <a href="callto:<%= @candidate.phone %>"><%= @candidate.phone %></a>
                  <% else %>
                    -
                  <% end %>
                </p>
                <p><b>Email : </b><a href="mailto:<%= @candidate&.email.downcase %>"><%= @candidate&.email.downcase %></a> <span class="text-success"><%= is_verify(!!@candidate.confirmed_at) %></span></p>
                <p><b>Visa Status : </b><%= @candidate.visas.present? ? @candidate.visas.order(:created_at)&.last&.status : "-" %></p>
                <p><b>SSN : </b><%= @candidate.ssn.present? ? 'Yes' : 'No'%></p>
                <p><b>Skype ID : </b><%= @candidate.skypeid.present? ? @candidate.skypeid : "-" %></p>
                <p><b>Linked ID : </b><%= @candidate.linkedin_url.present? ? @candidate.linkedin_url : "-" %></p>
              </div>
              <div class="col-12 text-center pt-4" style="border-top: 1px solid #ccc;">
                <% @c_job_invitation = @candidate.job_invitations.first %>
                <h2><%= @c_job_invitation.present? && @c_job_invitation.min_hourly_rate.present? && @c_job_invitation.max_hourly_rate.present? ? "$ #{@c_job_invitation.min_hourly_rate} - $ #{@c_job_invitation.max_hourly_rate}" : "-" %></h2>
                <p>Hourly Rate</p>
              </div>
              <div class="col-12 mt-4 mb-4 text-center" style="border-top: 1px solid #ccc;">
                <span class="bg-blue d-inline-block px-3 py-2 br-20 f-10 f-mon-sembol text-white mt-4"><%= image_tag 'microphone.svg' ,class: "img-fluid mr-2", alt: "microphone" %>Schedule Interview</span>
                <span class="bg-blue d-inline-block px-3 py-2 br-20 f-10 f-mon-sembol text-white mt-4 chat_img">
                  <% if current_user.present? %>
                    <%= link_to company_conversations_path do %>
                      <%= image_tag 'chat.svg' ,class: "img-fluid mr-2", alt: "chat" %>Chat
                    <% end %>
                  <% elsif current_candidate.present? %>
                    <%= link_to public_profile_static_candidates_path(is_chat_candidate: "true") do %>
                      <%= image_tag 'chat.svg' ,class: "img-fluid mr-2", alt: "chat" %>Chat
                    <% end %>
                  <% else %>
                    <%= link_to request.subdomain.present? ? new_user_session_path(allow_chat: "true") : signin_path(allow_chat: "true") do %>
                      <%= image_tag 'chat.svg' ,class: "img-fluid mr-2", alt: "chat" %>Chat
                    <% end %>
                  <% end %>
                </span>
              </div>
              <div class="col-12 feed-block  p-3 text-center">
                <p class="f-20 font-weight-bold">Share Candidate</p>
                <div class="sharethis-inline-share-buttons" data-url="<%= public_profile_static_candidates_url(@candidate).to_s %>" style="z-index: auto"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%= javascript_include_tag 'shared/hide_show_toggler'%>
<script>
    var selected_categories = [];
    $(document).ready(function () {
      $(".openbtn").click(function () {
          $(".side-wrapper").addClass("side-active")
      });

      $(".closebtn").click(function () {
          $(".side-wrapper").removeClass("side-active")
          $(".side-wrapper").removeClass("inactive")
      });
    });
</script>
<style type="text/css">
  .bg-transparent{
    background: transparent !important;
    box-shadow: none !important;
  }
  .txt-black a{
    color: #2A2C34 !important;
  }

  .f-mon-bol a{
    color: #fff !important;
  }
  .media .circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 15px;
    color: #fff;
    padding: 5px;
    text-align: center;
    background: gray;
    display: inline-block;
  }

  .log-prof .circle {
    width: 50px;
    height: 37px;
    border-radius: 50%;
    font-size: 20px;
    color: gray;
    padding: 5px;
    text-align: center;
    display: inline-block;
  }
  .chat_img a {
    color: #fff!important;
  }
</style>
