#container
  .row
    .col-sm-12
      #cv.instaFade
        .mainDetails
          #headshot.quickFade
            = image_tag @candidate.photo
          #name
            %h1.quickFade.delayTwo= @candidate.try(:full_name).try(:titleize)
            -#%h2.quickFade.delayThree Job Title
          #contactDetails.quickFade.delayFour
            %ul
              %li
                Email:
                %a{:href => "mailto:joe@bloggs.com", :target => "_blank"}= @candidate.email
              %li Phone: #{ @candidate.phone}

          .clear
        #mainArea.quickFade.delayFive
          %section
            %article
              .sectionTitle
                %h1 Personal Profile
              .sectionContent
                %p= @candidate.description
            .clear
          -if @candidate.experiences.present?
            %section
              .sectionTitle
                %h1 Work Experience
              .sectionContent
                - @candidate.experiences.each do |experience|
                  %article
                    %h2= experience.experience_title
                    %p.subDetails= experience.start_date.to_s + "-" + experience.end_date.to_s
                    %p= raw(experience.description)
              .clear
          -if @candidate.skills.present?
            %section
              .sectionTitle
                %h1 Skills
              .sectionContent
                %ul.keySkills
                  - @candidate.try(:skills).each do |skill|
                    %li
                      %span
                        .label-info.badge
                          = skill.name
              .clear
          -if @candidate.educations.present?
            %section
              .sectionTitle
                %h1 Education
              .sectionContent
                - @candidate.educations.each do |edu|
                  %article
                    %h2= edu.institute.titleize
                    %p.subDetails= edu.degree_title
                    %p= raw(edu.description)
              .clear
-content_for :scripts do
  :javascript




-content_for :head do
  = stylesheet_link_tag 'static/resume'
  %link{:href => "http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300", :rel => "stylesheet", :type => "text/css"}/
