.ta-record.bg_white.pt-2.pl-2
  .ta-timestamp
    %strong
      = a.try(:created_at).strftime('%I:%M %P')
  .ta-activity
    = "#{a.owner.full_name} has updated the #{link_to('Job Application', job_application_path(a.trackable))} status to <strong>#{a.additional_data ? eval(a.additional_data)[:status] : a.trackable.status.camelcase}</strong>".html_safe