= simple_form_for [@consultant , @consultant_leave] ,html:{ class:'form-horizontal'} do |f|
  %fieldset
    -#%legend New Leave

    .form-group
      %label.col-md-2.control-label
        Leave Type
        %sup.text-danger *
      .col-md-10
        = select_tag 'leave[leave_type]', options_for_select(["Select One", 'Sick','Casual','personal','other'],@consultant_leave.leave_type) , class: 'form-control'  , required: true
    .form-group
      %label.col-md-2.control-label
        Start Date
        %sup.text-danger *
      .col-md-10
        = f.text_field :from_date , class: 'form-control' , placeholder: 'From' , required: true
    .form-group
      %label.col-md-2.control-label
        Till Date
        %sup.text-danger *
      .col-md-10
        = f.text_field :till_date , class: 'form-control' , placeholder: 'Till Date' , required: true
    .form-group
      %label.col-md-2.control-label
        Reason
        %sup.text-danger
      .col-md-10
        = f.text_field  :reason , class: 'form-control' , placeholder: 'Reason'
  .form-actions
    .row
      .col-md-12
        %button.btn.btn-default{:type => "submit"}
          Cancel
        = f.submit "Submit", class: 'btn btn-primary'

- content_for :scripts do
  :javascript
    // DO NOT REMOVE : GLOBAL FUNCTIONS!
    $(document).ready(function() {
      pageSetUp();
      // Job End Date
      $('#leave_from_date , #leave_till_date').datepicker({
        dateFormat : 'dd/mm/yy'

      });
    });
