-jobs.each do |job|
  .row
    .col-sm-12.animated.fadeInLeftBig
      %section.panel.text-center
        %header.panel-heading.equal-height.job-panel
          %span.h3.cjob-span
            = link_to job.title,candidate_job_path(job)
            = link_to  "Apply",apply_candidate_job_path(job), method: :post , remote: true ,  class: " btn btn-success pull-right #{current_candidate.is_already_applied?(job.id)  ? "disabled" : ""} "
          %h4
            = link_to job.company.name.titleize,"#"

        %ul.list-group
          %li.list-group-item.less-desc.cjob-list-li
            = truncate(strip_tags(job.description),length:200)
            %br
            %br
            %a.pull-right.mt-20{:href => "#", :onclick => "showMore(this);return false" } Show More
          %li.list-group-item.hidden.complete-desc
            = raw (job.description)
            %a.pull-right.mt-20{:href => "#", :onclick => "showLess(this);return false"} Show less
            %b.p-bt
              - job.tags.each do |tag|
                %span.label.badge
                  = tag.name


- content_for :scripts do
  :javascript

    (function($) {
        $.fn.equalHeights = function() {
            var maxHeight = 0,
                    $this = $(this);

            $this.each( function() {
                var height = $(this).innerHeight();

                if ( height > maxHeight ) { maxHeight = height; }
            });

            return $this.css('height', maxHeight);
        };

        // auto-initialize plugin
        $('[data-equal]').each(function(){
            var $this = $(this),
                    target = $this.data('equal');
            $this.find(target).equalHeights();
        });

    })(jQuery);
    $(document).ready(function() {
        $('.equal-height').equalHeights();
        $('.equal-height2').equalHeights();
      //        $('.equal-height3').equalHeights();
    });

    function showMore(caller){
      $(caller).parent().addClass('hidden');
      $(caller).parent().parent().find('.complete-desc').removeClass('hidden');
    }

    function showLess(caller){
      $(caller).parent().addClass('hidden');
      $(caller).parent().parent().find('.less-desc').removeClass('hidden');
    }




-#