-jobs.each do |job|
  .row
    .col-sm-12.animated.fadeInLeftBig
      %section.panel.text-center
        %header.panel-heading.equal-height{:style => "display: table; width: 100%; text-align: left;border-bottom:1px solid #e4e4e4;"}
          %span.h3{:style => "vertical-align: middle;text-align: left;font-weight:300;"}
            = link_to job.title,candidate_job_path(job)
            = link_to  "Apply",apply_candidate_job_path(job), method: :post , remote: true ,  class: 'btn btn-success pull-right'
          %h4
            = link_to job.company.name.titleize,"#"

        %ul.list-group
          %li.list-group-item.less-desc{:style => "text-align:justify;font-size:14px"}
            = truncate(strip_tags(job.description),length:200)
            %br
            %br
            %a.pull-right{:href => "#", :onclick => "showMore(this);return false",:style => "margin-top: -20px;"} Show More
          %li.list-group-item.hidden.complete-desc
            = raw (job.description)
            %a.pull-right{:href => "#", :onclick => "showLess(this);return false", :style => "margin-top: -20px;"} Show less
            %b{style:"font-size:16px;padding-top:5px; padding-bottom:5px;"}
              - job.tags.each do |tag|
                %span.label.badge
                  = tag.name


-#- jobs.each_with_index do |job , index|
-#  %tr
-#    %td
-#      =link_to job.title,candidate_job_path(job)
-#    %td= job.end_date
-#    %td= job.location.name  rescue "  --"
-#    %td= job.created_by.full_name  rescue "  --"
-#    %td
-#      -#= link_to raw("<i class='fa fa-pencil '></i>") , edit_job_path(job) , class: 'btn btn-xs btn-default btn-primary'
-#      -#= link_to raw("<i class='fa fa-times '></i>") , job_path(job) , method: :delete ,  class: 'btn btn-xs btn-default btn-danger'


- content_for :scripts do
  :javascript

    (function($) {
        $.fn.equalHeights = function() {
            var maxHeight = 0,
                    $this = $(this);

            $this.each( function() {
                var height = $(this).innerHeight();

                if ( height > maxHeight ) { maxHeight = height; }
            });

            return $this.css('height', maxHeight);
        };

        // auto-initialize plugin
        $('[data-equal]').each(function(){
            var $this = $(this),
                    target = $this.data('equal');
            $this.find(target).equalHeights();
        });

    })(jQuery);
    $(document).ready(function() {
        $('.equal-height').equalHeights();
        $('.equal-height2').equalHeights();
      //        $('.equal-height3').equalHeights();
    });

    function showMore(caller){
      $(caller).parent().addClass('hidden');
      $(caller).parent().parent().find('.complete-desc').removeClass('hidden');
    }

    function showLess(caller){
      $(caller).parent().addClass('hidden');
      $(caller).parent().parent().find('.less-desc').removeClass('hidden');
    }




-#