%h2= @job.title
%p= raw(@job.description)
%table.table.table-striped
  %tbody
    %tr
      %th Start Date
      %td= @job.start_date
    %tr
      %th End Date
      %td= @job.end_date
    %tr
      %th Company
      %td= @job.company.name
    %tr
      %th Location
      %td= @job.location.name

