<div class="top-bar color-scheme-transparent" style="z-index: 1000;">
  <div class="top-menu-controls w-100" style="display: flex; justify-content: flex-end;">
    <div class="element-search autosuggest-search-activator os-dropdown-position-left">
      <input placeholder="Find reports and more" type="text">
    </div>
    <div class="messages-notifications os-dropdown-trigger os-dropdown-position-left">
      <a href="<%= notify_notifications_company_users_path(status: "unread", notification_type: "all_notifications") %>"><i class="ti-bell"></i></a>
      <% if current_user.notifications.unread.count > 0 %>
        <div class="new-messages-count"><%= current_user.notifications.unread.count %></div>
      <% end %>
    </div>
    <div class="messages-notifications os-dropdown-trigger os-dropdown-position-left">
      <a href="<%= company_conversations_path %>" target="_blank"><i class="os-icon os-icon-mail-14"></i></a>
    </div>

    <!-- Network Start---->
    <div class="top-icon top-settings os-dropdown-trigger os-dropdown-position-left">
      <div class="logged-user-w" style="padding-left: 0px; padding-right: 0px;">
        <div class="logged-user-i">
          <i class="ti-world"></i>
          <div class="os-dropdown">
            <div class="icon-w">
              <i class="os-icon os-icon-ui-46"></i>
            </div>
            <ul>
              <li>
                <a href="<%= groups_path %>" class="l2 side-bar_links nested_tab boarder_bottom">Groups</a>
              </li>
              <li>
                <a href="<%= directories_path %>" class=" l2 side-bar_links nested_tab boarder_bottom">My Directory</a>
              </li>
              <li>
                <a href="<%= candidates_path %>" class="l2 side-bar_links nested_tab boarder_bottom">Candidates</a>
              </li>
              <% if has_permission?('manage_company') %>
                <li>
                  <a href="<%= companies_path %>" class="l2 side-bar_links nested_tab boarder_bottom">Companies</a>
                </li>
              <% end %>
              <li>
                <a href="<%= company_contacts_company_companies_path %>" class="l2 side-bar_links nested_tab boarder_bottom">Contacts</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Network End---->



    <div class="top-icon btn-header transparent pull-right open" id="quick-add">
      <i class="ti-plus"></i>
      <ul class="dropdown-menu project-dropdown" id="links_block" style="right: 120px !important; left: initial;">
        <%=render('company/shared/links_block') %>
      </ul>
    </div>

    <!--------------------END - Features Link in secondary top menu-------------------->
    <!--------------------START - User Link in secondary top menu-------------------->
    <div class="top-icon top-settings os-dropdown-trigger os-dropdown-position-left">
      <div class="logged-user-w" style="padding-left: 0px; padding-right: 0px;">
        <div class="logged-user-i">
          <div class="avatar-w">
            <%= user_image(current_user,{}) %>
          </div>
          <div class="os-dropdown">
            <div class="icon-w">
              <i class="os-icon os-icon-ui-46"></i>
            </div>
            <ul>
              <li>
                <a href="<%= company_user_profile_page_companies_path %>">
                  <i class="icon-user"></i>
                  <span>My Profile</span>
                </a>
              </li>
              <li>
                <a href="<%= company_phone_page_companies_path(:company_id => current_company.id) %>">
                  <i class="icon-screen-smartphone"></i>
                  <span>Verify Number</span>
                </a>
              </li>
              <li>
                <a href="<%= company_path(current_company) %>">
                  <i class="picons-thin-icon-thin-0398_presentation_powerpoint_keynote_meeting"></i>
                  <span>Company Setting</span>
                </a>
              </li>
              <li>
                <a href="<%= company_path(current_company,onboarding: true) %>">
                  <i class="picons-thin-icon-thin-0398_presentation_powerpoint_keynote_meeting"></i>
                  <span>Company Onboarding</span>
                </a>
              </li>
              <li>
                <a href="<%= company_user_path(current_user) %>">
                  <i class="icon-user-female"></i>
                  <span>Profile Setting</span>
                </a>
              </li>
              <li>
                <a href="<%= company_import_job_path %>">
                  <i class="dripicons-list"></i>
                  <span>Import Data</span>
                </a>
              </li>
              <li>
                <a href="<%= feed_feeds_path %>">
                  <i class="icon-directions"></i>
                  <span>Integrations</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="os-icon os-icon-grid-10"></i>
                  <span>Billing Info</span>
                </a>
              </li>
              <li>
                <%= link_to "", destroy_user_session_path, method: :delete, class: 'hidden', id: 'logout-hidden' %>
                <%= link_to(destroy_user_session_path, title: 'Sign Out', data: {action: 'userLogout', 'logout-msg' => 'You can improve your security further after logging out by closing this opened browser'}) do %>
                  <i class="os-icon os-icon-signs-11"></i>
                  <span>Logout</span>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--------------------END - User Link in secondary top menu-------------------->
  </div>
  <!--------------------END - Top Menu Controls-------------------->
</div>
