<div class="top-bar color-scheme-transparent" style="z-index: 10000;">
  <!--------------------START - Top Menu Controls-------------------->
  <div class="top-menu-controls">
    <div class="element-search autosuggest-search-activator">
      <input placeholder="Find reports and more" type="text">
    </div>
    <!--------------------START - Messages Link in secondary top menu-------------------->
    <div class="messages-notifications os-dropdown-trigger os-dropdown-position-left">
      <i class="os-icon os-icon-mail-14"></i>
      <!-- Below is message count icon. Uncomment to add back in. -->
      <!--div class="new-messages-count">1</div-->
      <div class="os-dropdown light message-list">
        <ul>
          <li>
            <a href="#">
              <div class="user-avatar-w">
                <%= image_tag "avatars/m_sunny_big.png" %>
              </div>
              <div class="message-content">
                <h6 class="message-from">John Mayers</h6>
                <h6 class="message-title">Sample Message</h6>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!--------------------END - Messages Link in secondary top menu-------------------->
    <!--------------------START - Features Link in secondary top menu-------------------->
    <div class="top-icon top-settings os-dropdown-trigger os-dropdown-position-left">
      <i class="fa fa-plus"></i>
      <div class="os-dropdown" style="width: 600px;">
        <div class="icon-w">
          <i class="os-icon os-icon-ui-46"></i>
        </div>
        <ul style="display: inline-block; vertical-align: top; width: 180px;">
          <li class="sub-header"><h5>Master</h5></li>
          <li>
            <a href="<%= new_company_candidate_path %>">
              <span>Add Candidates</span>
            </a>
          </li>
          <li>
            <a href="<%= new_company_company_path %>">
              <span>Add Companies</span>
            </a>
          </li>
          <li>
            <a href="<%= new_company_company_path %>">
              <span>Add Contacts</span>
            </a>
          </li>
          <li>
            <a href="<%= new_group_path %>">
              <span>Add Groups</span>
            </a>
          </li>
          <br/>
          <li class="sub-header"><h5>Payments</h5></li>
          <li>
            <a href="<%= nil %>">
              <span>Vendor Bills</span>
            </a>
          </li>
          <li>
            <a href="<%= nil %>">
              <span>Pay Vendor</span>
            </a>
          </li>
          <li>
            <a href="<%= nil %>">
              <span>Salary Settlement</span>
            </a>
          </li>
          <li>
            <a href="<%= nil %>">
              <span>Salary Processing</span>
            </a>
          </li>
          <li>
            <a href="<%= nil %>">
              <span>Salary Clearing</span>
            </a>
          </li>
        </ul>
        <ul style="display: inline-block; vertical-align: top; width: 180px;">
          <li class="sub-header"><h5>Offerings</h5></li>
          <li>
            <a href="<%= new_job_path %>">
              <span>Jobs</span>
            </a>
          </li>
          <li>
            <a href="<%= nil %>">
              <span>Products</span>
            </a>
          </li>
          <li>
            <a href="<%= nil %>">
              <span>Services</span>
            </a>
          </li>
          <li>
            <a href="<%= nil %>">
              <span>Trainings</span>
            </a>
          </li>
          <li>
            <a href="<%= nil %>">
              <span>Blogs</span>
            </a>
          </li>
          <li>
            <a href="<%= nil %>">
              <span>Book an Event</span>
            </a>
          </li>
          <li>
            <a href="<%= nil %>">
              <span>Survey</span>
            </a>
          </li>
          <br/>
          <li class="sub-header"><h5>Receivables</h5></li>
          <li>
            <a href="<%= invoices_path %>">
              <span>Invoices</span>
            </a>
          </li>
          <li>
            <a href="<%= nil %>">
              <span>Received Payments</span>
            </a>
          </li>
          <li>
            <a href="<%= client_expense_invoices_expenses_path %>">
              <span>Client Expense Invoices</span>
            </a>
          </li>
        </ul>
        <ul style="display: inline-block; vertical-align: top; width: 180px;">
          <li class="sub-header"><h5>Orders</h5></li>
          <li>
            <a href="<%= new_contract_path %>">
              <span>Add Contracts</span>
            </a>
          </li>
          <li>
            <a href="<%= candidate_timesheets_path %>">
              <span>Submit Timesheets</span>
            </a>
          </li>
          <li>
            <a href="<%= timesheets_path %>">
              <span>Approve Timesheets</span>
            </a>
          </li>
          <br/>
          <li class="sub-header"><h5>Expenses</h5></li>
          <li>
            <a href="<%= bank_reconciliation_bank_details_path %>">
              <span>Bank Reconcilliation</span>
            </a>
          </li>
          <li>
            <a href="<%= new_expense_path %>">
              <span>Request Expenses</span>
            </a>
          </li>
          <li>
            <a href="<%= pay_expense_expenses_path %>">
              <span>Pay: Salary Advance</span>
            </a>
          </li>
          <li>
            <a href="<%= pay_expense_expenses_path %>">
              <span>Pay: Company Expense</span>
            </a>
          </li>
          <li>
            <a href="<%= candidate_client_expenses_path %>">
              <span>Submit Client Expenses</span>
            </a>
          </li>
          <li>
            <a href="<%= client_expenses_path %>">
              <span>Approve Client Expenses</span>
            </a>
          </li>
          <li>
            <a href="<%= client_expense_bill_expenses_path %>">
              <span>Create Bill - Client Expenses</span>
            </a>
          </li>
          <li>
            <a href="<%= pay_expense_expenses_path %>">
              <span>Pay Client Expense</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!--------------------END - Features Link in secondary top menu-------------------->
    <!--------------------START - User Link in secondary top menu-------------------->
    <div class="top-icon top-settings os-dropdown-trigger os-dropdown-position-left">
      <div class="logged-user-w" style="padding-left: 0px; padding-right: 0px;">
        <div class="logged-user-i">
          <div class="avatar-w">
            <%= image_tag "avatars/m_sunny_big.png" %>
          </div>
          <div class="os-dropdown">
            <div class="icon-w">
              <i class="os-icon os-icon-ui-46"></i>
            </div>
            <ul>
              <li>
                <a href="<%= company_phone_page_companies_path(:company_id=>current_company.id) %>">
                  <i class="icon-screen-smartphone"></i>
                  <span>Verify Number</span>
                </a>
              </li>
              <li>
                <a href="<%= company_path(current_company) %>">
                  <i class="picons-thin-icon-thin-0398_presentation_powerpoint_keynote_meeting"></i>
                  <span>Company Info</span>
                </a>
              </li>
              <li>
                <a href="<%= company_user_path(current_user) %>">
                  <i class="icon-user-female"></i>
                  <span>Personal Info</span>
                </a>
              </li>
              <li>
                <a href="<%= groups_path %>">
                  <i class="icon-people"></i>
                  <span>Groups</span>
                </a>
              </li>
              <li>
                <a href="<%= company_import_job_path %>">
                  <i class="dripicons-list"></i>
                  <span>Import Data</span>
                </a>
              </li>
              <li>
                <a href="<%= feed_feeds_path %>">
                  <i class="dripicons-list"></i>
                  <span>Feed</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="os-icon os-icon-grid-10"></i>
                  <span>Billing Info</span>
                </a>
              </li>
              <li>
                <%= link_to "",destroy_user_session_path, method: :delete , class: 'hidden' , id: 'logout-hidden' %>
                <%= link_to(destroy_user_session_path, title: 'Sign Out', data: {action: 'userLogout', 'logout-msg' => 'You can improve your security further after logging out by closing this opened browser'}) do %>
                  <i class="os-icon os-icon-signs-11"></i>
                  <span>Logout</span>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--------------------END - User Link in secondary top menu-------------------->
  </div>
  <!--------------------END - Top Menu Controls-------------------->
</div>