<style>
@media (min-width: 1025px) {
  .fixed-side{
    position: fixed;
    width: 224px;
  }
  .margin_class{
    margin-left: 224px !important;
  }
}
/* @media (min-width: 730px) */
</style>
<div  id="side-bar" class="icon-side-bar mobile-icon-side-bar" style="display: none; position: absolute; height:12vh; padding-left: 10px;">
<div style="display: flex !important;">

    <div class=" logged-user-i" style="display: flex !important; align-items:center">
      <div class="avatar-w">
        <%= link_to image_tag(current_company.logo, alt: 'me', class: 'img-icon-size', style: 'height: 41px !important; width: 41px !important; border-radius: 50%;'), company_profile_page_companies_path %>
      </div>
      <div class="logged-user-info-w">
        <div class="logged-user-name">
          <%= link_to content_tag(:span, current_company.full_name, class: "lead"), company_profile_page_companies_path, class: "side-bar_links" %>
        </div>
      </div>
  </div>
  <div class=" icon-button-style" style="justify-content: flex-end">
    <div id="togglebutton" onclick="toglleMenu()" class="<%= is_inbox_path ? 'togglebtncontainerinbox' : 'togglebtncontainer' %>">
      <div class="os-icon os-icon-hamburger-menu-1"></div>
    </div>
  </div>
</div>
</div>
<script>
    function toglleMenu() {
        var menu = document.querySelector('#toggledmenubar').classList.toggle("displayblock");
        document.querySelector('#togglebutton').classList.toggle('rightChanged');
        $('.lpm').hide();
        $("#side-bar").removeClass('icon-side-bar');
        $("#togglebutton1").addClass('togglebtncontainerinbox1');
        debugger
        $(".cont-comany").addClass('margin_class');
        console.log("add class")

    }
    function toglleMenu1() {
        var menu = document.querySelector('#toggledmenubar').classList.toggle("displayblock");
        document.querySelector('#togglebutton').classList.toggle('rightChanged');
        $('.lpm').hide();
        $("#side-bar").addClass('icon-side-bar');
        $("#togglebutton1").removeClass('togglebtncontainerinbox1');
        $(".cont-comany").removeClass('margin_class');
        console.log("remove class")
    }



</script>
<div id="toggledmenubar" style="<%= "display: none; height: 100vh;" if is_inbox_path %>" class="fixed-side menu-w color-scheme-light color-style-default menu-position-side menu-side-left menu-layout-compact sub-menu-style-flyout sub-menu-color-light selected-menu-color-light menu-activated-on-hover menu-has-selected-link">
  <div class="logged-user-w avatar-inline p-1 m-1" style="height: 5vh;">
    <div class="logged-user-i">
      <div class="avatar-w">
        <%= link_to image_tag(current_company.logo, alt: 'me', class: 'img-icon-size'), company_profile_page_companies_path %>
      </div>
      <div class="logged-user-info-w">
        <div class="logged-user-name">
          <%= link_to content_tag(:span, current_company.full_name, class: "lead"), company_profile_page_companies_path, class: "side-bar_links" %>
        </div>
      </div>
<!--      <div class="icon-button-style1" style="display: none;" >-->
<!--        <div id="togglebutton" onclick="toglleMenu1()" class="<%#= is_inbox_path ? 'togglebtncontainerinbox1' : 'togglebtncontainer' %>" style="display: none;">-->
<!--          <div class="os-icon os-icon-hamburger-menu-1 hamburger-icon" style="display: none;"></div>-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </div>
  <div class="logged-user-w avatar-inline pl-4 pt-0 pr-0" style="height: 90vh;">
    <div id="side-bar-nav" class="side-bar_nav w-100 pr-2" style="height: calc(100vh - 177.5px);overflow-y: auto;">
      <a href="/dashboard" class="ln-1 side-bar_tab side-bar_links">
        <div class="icon-w">
          <i class="ti-home"></i>
        </div>
        <span>Home</span>
      </a>
      <a class="ln-3 sidebar_collapsible side-bar_tab">
        <div class="icon-w">
          <i class="ti-world"></i>
        </div>
        <span>Network</span>
      </a>
      <div class="pl-4 w-100 l2 text-justify nav-sidebar-collaps">
        <a href="<%= groups_path %>" class=" side-bar_links nested_tab boarder_bottom">Groups</a>
        <a href="<%= directories_path %>" class=" side-bar_links nested_tab boarder_bottom">My Directory</a>
        <a href="<%= candidates_path %>" class=" side-bar_links nested_tab boarder_bottom">Candidates</a>
        <% if has_permission?('manage_company') %>
          <%= link_to 'Tp-subscriptions', companies_path, class: 'side-bar_links nested_tab boarder_bottom' %>
        <% end %>
        <a href="<%= company_contacts_company_companies_path %>" class=" side-bar_links nested_tab boarder_bottom">Contacts</a>
      </div>
      <a class="ln-4 sidebar_collapsible side-bar_tab">
        <div class="icon-w">
          <i class="ti-bar-chart"></i>
        </div>
        <span>Talent Hub</span>
      </a>
      <div class="pl-4 w-100 l2 text-justify nav-sidebar-collaps">
        <a href="<%= marketplace_path(company: 'on', 'search_by[term]': '', 'search_scope': '') %>" class=" side-bar_links nested_tab boarder_bottom">Marketplace</a>
        <a href="<%= prefer_vendors_path %>" class=" side-bar_links nested_tab boarder_bottom">Network Requests</a>
        <% if has_permission?('manage_vendors') %>
          <a href="<%= network_path %>" class=" side-bar_links nested_tab boarder_bottom">Clients / Vendors</a>
        <% end %>
        <a href="<%= vendor_activity_prefer_vendors_path %>" class=" side-bar_links nested_tab boarder_bottom">Vendor Activity</a>
      </div>
      <a class="ln-5 sidebar_collapsible side-bar_tab">
        <div class="icon-w">
          <i class="ti-bar-chart"></i>
        </div> 
        <span>Talent Pool</span>
      </a>
      <div class="pl-4 w-100 l2 text-justify nav-sidebar-collaps">
        <a href="<%= company_bench_jobs_path %>" class=" side-bar_links nested_tab boarder_bottom">My Bench</a>
        <a href="<%= company_job_receives_path %>" class=" side-bar_links nested_tab boarder_bottom">Received</a>
        <a href="<%= company_public_jobs_path %>" class=" side-bar_links nested_tab boarder_bottom">Public</a>
        <a href="<%= company_owen_jobs_path %>" class=" side-bar_links nested_tab boarder_bottom">Bench Jobs</a>
      </div>
      <a class="ln-6 sidebar_collapsible side-bar_tab">
        <div class="icon-w">
          <i class="icon-people"></i>
        </div>
        <span>Offers</span>
      </a>
      <div class="pl-4 w-100 text-justify nav-sidebar-collaps">
        <% if has_permission?('manage_jobs') %>
          <a href="<%= jobs_path(type: "Job") %>" class=" l2 side-bar_links nested_tab boarder_bottom">Listings</a>
        <% end %>
        <% if has_permission?('manage_job_invitations') %>
          <a href="<%= job_invitations_path %>" class="l2 side-bar_links nested_tab boarder_bottom">Invitations</a>
        <% end %>
        <% if has_permission?('manage_job_applications') %>
          <a href="<%= job_applications_path %>" class="l2 side-bar_links nested_tab boarder_bottom">Applicants</a>
        <% end %>
      </div>
      <% if has_permission?('manage_contracts') %>
        <a class="ln-7 sidebar_collapsible side-bar_tab">
          <div class="icon-w">
            <i class="os-icon os-icon-hierarchy-structure-2"></i>
          </div>
          <span>HR</span>
        </a>
        <div class="pl-4 w-100 text-justify nav-sidebar-collaps">
          <a class="l2 side-bar_links nested_tab boarder_bottom" href="<%= contracts_path %>">Contracts</a>
          <a class="l2 side-bar_links nested_tab boarder_bottom" href="<%= company_sell_contracts_path %>">Customers</a>
          <a class="l2 side-bar_links nested_tab boarder_bottom" href="<%= company_buy_contracts_path %>">Consultants</a>
          <a class="l2 side-bar_links nested_tab boarder_bottom" href="<%= timeline_contracts_path %>">Timeline</a>
        </div>
      <% end %>
      <% if has_permission?('manage_timesheets') %>
        <a class="ln-8 sidebar_collapsible side-bar_tab">
          <div class="icon-w">
            <i class="ti-timer"></i>
          </div>
          <span>Timers</span>
        </a>
        <div class="pl-4 w-100 text-justify nav-sidebar-collaps">
          <a href="<%= timesheets_path %>" class=" l2 side-bar_links nested_tab boarder_bottom">Timesheets</a>
          <a href="<%= client_timesheets_timesheets_path %>" class=" l2 side-bar_links nested_tab boarder_bottom">Appointments</a>
          <a href="<%= client_expenses_path %>" class="l2 side-bar_links nested_tab boarder_bottom">Client Expenses</a>
        </div>
      <% end %>
      <a class="ln-9 sidebar_collapsible side-bar_tab" id="accounting_tab">
        <div class="icon-w" >
          <i class="picons-thin-icon-thin-0417_calculator" ></i>
        </div>
        <span>Accounting</span>
      </a>
      <div class="pl-4 w-100 text-justify nav-sidebar-collaps">
        <a class="l2 side-bar_links nested_tab boarder_bottom" href="#">Banking</a>
        <a class="l2 side-bar_links nested_tab boarder_bottom" href="<%= sale_invoices_path %>">Sales</a>
        <a class="l2 side-bar_links nested_tab boarder_bottom" href="<%= purchase_invoices_path %>">Purchases</a>
        <a class="l2 side-bar_links nested_tab boarder_bottom" href="<%= pay_expense_expenses_path() %>">Expenses</a>
        <a class="l2 side-bar_links nested_tab boarder_bottom" href="<%= salaries_path %>">Salaries</a>
      </div>

      <a class="ln-7 sidebar_collapsible side-bar_tab">
        <div class="icon-w">
          <i class="os-icon os-icon-hierarchy-structure-2"></i>
        </div>
        <span>Sites</span>
      </a>
      <div class="pl-4 w-100 text-justify nav-sidebar-collaps">
        <a class="l2 side-bar_links nested_tab boarder_bottom" href="<%=sites_jobs_iframe_path%>">Iframe</a>
        <a class="l2 side-bar_links nested_tab boarder_bottom" href="<%= sites_jobs_preview_path %>">Preview</a>
      </div>
    </div>
  </div>
  <div style="color: lightgrey; height: 5vh;" class="pl-4"> 
      <p><i>Powered by  <%= image_tag 'etyme-logo-dark.png', class: "img-responsive", width:"76" ,height:"30" %></i></p>
   </div>
</div>

