<style type="text/css">
@media (min-width: 1025px) {
  .fixed-side{
    position: fixed;
    width: 224px;
  }
  .margin_class{
    margin-left: 224px !important;
  }
}
.new-add-class{
 display: flex;
 flex: auto;
}
.avatar-w{
    margin-top: -20px !important;
}
.logged-user-i{
    padding-left: 0 !important;
}
.home_links:hover{
    color:#5555A5!important;
    font-weight: 450;
}
/*.lead {*/
/*    font-size: 12px !important;*/
/*}*/

/* @media (min-width: 730px) */
</style>
<%
=begin%>
 <div  id="side-bar" class="icon-side-bar mobile-icon-side-bar" style="display: none; position: absolute; height:12vh; padding-left: 10px;">
  <div style="display: flex !important; margin-bottom: 10px !important;">
      <div class="col-sm-10 col-md-10 col-lg-10 logged-user-i" style="display: inline-flex !important; align-items:center; padding-left: 0.7rem; margin-top: 10px;">
        <div class="avatar-w" style="padding: 4px; border-radius: 50% !important; overflow: hidden; display: inline-block;">
          <%= link_to image_tag(current_company.logo, alt: 'me', class: 'img-icon-size'), company_profile_page_companies_path %>
        </div>
        <div class="logged-user-info-w" style="padding-left: 15px;">
          <div class="logged-user-name">
            <%= link_to content_tag(:span, current_company.full_name, class: "lead hello"), company_profile_page_companies_path, class: "side-bar_links" %>
          </div>
        </div>
      </div>
    <div id='toggle1' class="col-sm-2 col-md-2 col-lg-2 toggleshow" style="margin-top: 9px !important; padding-left: 14px;">
      <div class="icon-button-style" style="justify-content: flex-end">
        <div id="togglebutton" onclick="toglleMenu()" class="<%= is_inbox_path ? 'togglebtncontainerinbox' : 'togglebtncontainer' %>">
          <div class="os-icon os-icon-hamburger-menu-1"></div>
        </div>
      </div>
    </div>
    <div id='toggle2' class="col-sm-2 col-md-2 col-lg-2 togglehide" style="margin-top: 9px !important; padding-left: 14px;">
      <div class="icon-button-style" style="justify-content: flex-end">
        <div id="togglebutton" onclick="toglleMenu1()" class="<%= is_inbox_path ? 'togglebtncontainerinbox' : 'togglebtncontainer' %>">
          <div class="os-icon os-icon-hamburger-menu-1"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<%
=end%>
<script>
      
    function toglleMenu() {
        $("#remove-logo-ham-id").css("display", "none")
        var menu = document.querySelector('#toggledmenubar').classList.toggle("displayblock");
        document.querySelector('#togglebutton').classList.toggle('rightChanged');
        $('.lpm').hide();
        $("#toggle1").removeClass('toggleshow');
        $("#toggle1").addClass('togglehide');
        $("#click-id").addClass('.click-class');
        $("#toggle2").removeClass('togglehide');
        $(".cont-comany").addClass('margin_class');
        console.log("add class")

    }
    function toglleMenu1() {
        $("#remove-logo-ham-id").css("display", "flex");
        $("#remove-logo-ham-id").css("flex", "auto");
        var menu = document.querySelector('#toggledmenubar').classList.toggle("displayblock");
        document.querySelector('#togglebutton').classList.toggle('rightChanged');
        $('.lpm').hide();
        $("#toggle1").removeClass('togglehide');
        $("#toggle1").addClass('toggleshow');
        $("#toggle2").addClass('togglehide');
        $("#click-id").removeClass('.click-class');
        $("#toggledmenubar").addClass('togglehide');
        $(".cont-comany").removeClass('margin_class');
        console.log("remove class")
    }



</script>
<div id="toggledmenubar" style="<%= "display: none; height: 100vh; z-index:1000;" if is_inbox_path %>" class="fixed-side menu-w color-scheme-light color-style-default menu-position-side menu-side-left menu-layout-compact sub-menu-style-flyout sub-menu-color-light selected-menu-color-light menu-activated-on-hover menu-has-selected-link">
  <div class="logged-user-w avatar-inline p-1 m-1" style="height: 5vh; margin-top: 18px !important;">
    <div class="logged-user-i">
      <div class="avatar-w">
        <%= link_to image_tag(current_company.logo, alt: 'me', class: 'img-icon-size'), company_profile_page_companies_path %>
      </div>
      <div class="logged-user-info-w">
        <div class="logged-user-name">
          <%= link_to content_tag(:span, current_company.full_name, class: "lead"), company_profile_page_companies_path, class: "side-bar_links" %>
        </div>
      </div>
      <div class="bread-style bread-styles" style="margin-left:30px !important; background: none !important;" onclick="toglleMenu1()">
            <div class="os-icon os-icon-hamburger-menu-1 bread-style1" style="background: none !important;" ></div>
      </div>
<!--      <div class="icon-button-style1" style="display: none;" >-->
<!--        <div id="togglebutton" onclick="toglleMenu1()" class="<%#= is_inbox_path ? 'togglebtncontainerinbox1' : 'togglebtncontainer' %>" style="display: none;">-->
<!--          <div class="os-icon os-icon-hamburger-menu-1 hamburger-icon" style="display: none;"></div>-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </div>
  <div class="logged-user-w avatar-inline pl-4 pt-0 pr-0" >
    <div id="side-bar-nav" class="side-bar_nav w-100 pr-2" style="height: calc(100vh - 127.5px);overflow-y: auto;">
      <a href="/dashboard" class="home_links ln-1 side-bar_tab side-bar_links">
        <div class="icon-w">
          <i class="ti-home"></i>
        </div>
        <span>Dashboard</span>
      </a>
      <a class="ln-3 sidebar_collapsible side-bar_tab home_links">
        <div class="icon-w">
          <i class="ti-world"></i>
        </div>
        <span>Network</span>
      </a>
      <div class="pl-4 w-100 l2 text-justify nav-sidebar-collaps">
        <a href="<%= candidates_path %>" class=" side-bar_links nested_tab boarder_bottom home_links">Candidates</a>
        <a href="<%= company_contacts_company_companies_path %>" class=" side-bar_links nested_tab boarder_bottom home_links">Contacts</a>
        <% if has_permission?('manage_company') %>
          <%= link_to 'Companies', companies_path, class: 'side-bar_links nested_tab boarder_bottom home_links' %>
        <% end %>
        <a href="<%= directories_path %>" class=" side-bar_links nested_tab boarder_bottom home_links">My Directory</a>
        <a href="<%= groups_path %>" class=" side-bar_links nested_tab boarder_bottom home_links">Groups</a>


      </div>
      <a class="ln-4 sidebar_collapsible side-bar_tab home_links">
        <div class="icon-w">
          <i class="ti-bar-chart"></i>
        </div>
        <span>The Hub</span>
      </a>
      <div class="pl-4 w-100 l2 text-justify nav-sidebar-collaps">
        <% if has_permission?('manage_job_applications') %>
          <a href="<%= company_console_jobs_path %>" class=" side-bar_links nested_tab boarder_bottom home_links">Console</a>
        <% end %>
        <%# <a href="<%= marketplace_path(market_place_field_radio: 'company', 'search_by[term]': '', 'search_scope': '') %>
        <%# " class=" side-bar_links nested_tab boarder_bottom home_links">Marketplace</a> %>
        <a href="<%= prefer_vendors_path %>" class=" side-bar_links nested_tab boarder_bottom home_links">Network Requests</a>
        <% if has_permission?('manage_vendors') %>
          <a href="<%= network_path %>" class=" side-bar_links nested_tab boarder_bottom home_links">Clients / Vendors</a>
        <% end %>
        <a href="<%= vendor_activity_prefer_vendors_path %>" class=" side-bar_links nested_tab boarder_bottom home_links">Vendor Activity</a>
        <a href="<%= company_console_job_applications_path %>" class=" side-bar_links nested_tab boarder_bottom home_links">Console Applications</a>
      </div>
      <a class="ln-5 sidebar_collapsible side-bar_tab home_links">
        <div class="icon-w">
          <i class="ti-bar-chart"></i>
        </div>
        <span>Talent Room</span>
      </a>
      <div class="pl-4 w-100 l2 text-justify nav-sidebar-collaps">
        <a href="<%= company_bench_jobs_path %>" class=" side-bar_links nested_tab boarder_bottom home_links">My Bench</a>
        <a href="<%= company_job_receives_path %>" class=" side-bar_links nested_tab boarder_bottom home_links">Received</a>
        <a href="<%= company_owen_jobs_path %>" class=" side-bar_links nested_tab boarder_bottom home_links">Bench Jobs</a>
        <a href="<%= job_applications_path+"?type=Bench" %>" class="l2 side-bar_links nested_tab boarder_bottom home_links">Bench Applications</a>
      </div>
      <a class="ln-6 sidebar_collapsible side-bar_tab home_links">
        <div class="icon-w">
          <i class="icon-people"></i>
        </div>
        <span>Offers</span>
      </a>
      <div class="pl-4 w-100 text-justify nav-sidebar-collaps">
        <% if has_permission?('manage_jobs') %>
          <a href="<%= jobs_path(type: "Job") %>" class=" l2 side-bar_links nested_tab boarder_bottom home_links">Listings</a>
        <% end %>
        <% if has_permission?('manage_job_invitations') %>
          <a href="<%= job_invitations_path %>" class="l2 side-bar_links nested_tab boarder_bottom home_links">Invitations</a>
        <% end %>
        <% if has_permission?('manage_job_applications') %>
          <a href="<%= job_applications_path %>" class="l2 side-bar_links nested_tab boarder_bottom home_links">Applications</a>
        <% end %>
      </div>
      <% if has_permission?('manage_contracts') %>
        <a class="ln-7 sidebar_collapsible side-bar_tab home_links">
          <div class="icon-w">
            <i class="os-icon os-icon-hierarchy-structure-2"></i>
          </div>
          <span>HR</span>
        </a>
        <div class="pl-4 w-100 text-justify nav-sidebar-collaps">
          <a class="l2 side-bar_links nested_tab boarder_bottom home_links" href="<%= contracts_path %>">Contracts</a>
          <a class="l2 side-bar_links nested_tab boarder_bottom home_links" href="<%= company_sell_contracts_path %>">Customers</a>
          <a class="l2 side-bar_links nested_tab boarder_bottom home_links" href="<%= company_buy_contracts_path %>">Consultants</a>
          <a class="l2 side-bar_links nested_tab boarder_bottom home_links" href="<%= timeline_contracts_path %>">Timeline</a>
        </div>
      <% end %>
      <% if has_permission?('manage_timesheets') %>
        <a class="ln-8 sidebar_collapsible side-bar_tab home_links">
          <div class="icon-w">
            <i class="ti-timer"></i>
          </div>
          <span>Timers</span>
        </a>
        <div class="pl-4 w-100 text-justify nav-sidebar-collaps">
          <a href="<%= timesheets_path %>" class=" l2 side-bar_links nested_tab boarder_bottom home_links">Timesheets</a>
          <a href="<%= client_timesheets_timesheets_path %>" class=" l2 side-bar_links nested_tab boarder_bottom home_links">Appointments</a>
          <a href="<%= client_expenses_path %>" class="l2 side-bar_links nested_tab boarder_bottom home_links">Client Expenses</a>
        </div>
      <% end %>
      <a class="ln-9 sidebar_collapsible side-bar_tab home_links" id="accounting_tab">
        <div class="icon-w" >
          <i class="picons-thin-icon-thin-0417_calculator" ></i>
        </div>
        <span>Accounting</span>
      </a>
      <div class="pl-4 w-100 text-justify nav-sidebar-collaps">
        <a class="l2 side-bar_links nested_tab boarder_bottom home_links" href="#">Banking</a>
        <a class="l2 side-bar_links nested_tab boarder_bottom home_links" href="<%= sale_invoices_path %>">Sales</a>
        <a class="l2 side-bar_links nested_tab boarder_bottom home_links" href="<%= purchase_invoices_path %>">Purchases</a>
        <a class="l2 side-bar_links nested_tab boarder_bottom home_links" href="<%= pay_expense_expenses_path() %>">Expenses</a>
        <a class="l2 side-bar_links nested_tab boarder_bottom home_links" href="<%= salaries_path %>">Salaries</a>
      </div>

      <a class="ln-7 sidebar_collapsible side-bar_tab home_links">
        <div class="icon-w">
          <i class="os-icon os-icon-hierarchy-structure-2"></i>
        </div>
        <span>Sites</span>
      </a>
      <div class="pl-4 w-100 text-justify nav-sidebar-collaps">
        <a class="l2 side-bar_links nested_tab boarder_bottom home_links" href="<%=sites_jobs_iframe_path%>">Iframe</a>
        <a class="l2 side-bar_links nested_tab boarder_bottom home_links" href="<%= sites_jobs_preview_path %>">Preview</a>
      </div>
    </div>
  </div>
  
  <div style="color: lightgrey; height: 5vh;" class="pl-4">
      <p><i>Powered by  <%= image_tag 'etyme-logo-dark.png', class: "img-responsive", width:"76" ,height:"30" %></i></p>
   </div>
</div>
