<div id="togglebutton" onclick="toglleMenu()" class="togglebtncontainer">
  <div class="os-icon os-icon-hamburger-menu-1"></div>
</div>

<div id="toggledmenubar1" class="menu-mobile menu-activated-on-click color-scheme-dark">

  <div class="mm-logo-buttons-w"><a class="mm-logo" href="index.html">
    <img src="img/logo.png"><span>Clean Admin</span></a>
    <div class="mm-buttons">
      <div class="content-panel-open">
        <div class="os-icon os-icon-grid-circles"></div>
      </div>
      <div class="mobile-menu-trigger">
        <div class="os-icon os-icon-hamburger-menu-1"></div>
      </div>
    </div>
  </div>
  <div class="menu-and-user">
    <div class="logged-user-w">
      <div class="avatar-w">
        <img alt="" src="img/avatar1.jpg"></div>
      <div class="logged-user-info-w">
        <div class="logged-user-name">Maria Gomez</div>
        <div class="logged-user-role">Administrator</div>
      </div>
    </div>

  </div>
</div>
<script>
  function toglleMenu () {
    var menu = document.querySelector('#toggledmenubar').classList.toggle("displayblock");
    document.querySelector('#togglebutton').classList.toggle('leftChanged')
  }

</script>
<div id="toggledmenubar" class="menu-w color-scheme-light fixed-height color-style-default menu-position-side menu-side-left menu-layout-compact sub-menu-style-flyout sub-menu-color-light selected-menu-color-light menu-activated-on-hover menu-has-selected-link">
  <div class="logged-user-w avatar-inline p-1 m-1">
    <div class="logged-user-i">
      <div class="avatar-w">
        <%= link_to image_tag(current_company.logo, alt: 'me'), company_profile_page_companies_path %>
      </div>
      <div class="logged-user-info-w">
        <div class="logged-user-name">
          <%= link_to content_tag(:span, current_company.full_name, class: "lead"), company_profile_page_companies_path, class: "side-bar_links" %>
        </div>
        <!--div class="logged-user-role">My Team</div-->
      </div>
    </div>
  </div>
  <div class="logged-user-w avatar-inline pl-4 pt-0 pr-0">
    <!--    <div class="side-bar_nav w-100" style="height: 450px;overflow-y: auto;">-->
    <div class="side-bar_nav w-100 pr-2" style="height: calc(100vh - 136px);overflow-y: auto;">
      <a href="/dashboard" class="side-bar_tab side-bar_links">
        <div class="icon-w">
          <i class="ti-home"></i>
        </div>
        <span>Home</span>
      </a>
      <a href="<%= company_conversations_path %>" class="side-bar_tab side-bar_links">
        <div class="icon-w">
          <i class="os-icon os-icon-mail"></i>
        </div>
        <span>Inbox</span>
      </a>
      <a class="sidebar_collapsible side-bar_tab">
        <div class="icon-w">
          <i class="ti-world"></i>
        </div>
        <span>Network</span>
      </a>
      <div class="pl-4 w-100 text-justify nav-sidebar-collaps">
        <a href="<%= groups_path %>" class="l2 side-bar_links nested_tab boarder_bottom">Groups</a>
        <a href="<%= directories_path %>" class=" l2 side-bar_links nested_tab boarder_bottom">My Directory</a>
        <a href="<%= candidates_path %>" class="l2 side-bar_links nested_tab boarder_bottom">Candidates</a>
        <% if has_permission?('manage_company') %>
          <a href="<%= companies_path %>" class="l2 side-bar_links nested_tab boarder_bottom">Companies</a>
        <% end %>
        <a href="<%= company_contacts_company_companies_path %>" class="l2 side-bar_links nested_tab boarder_bottom">Contacts</a>
        <a class="sidebar_collapsible nested_tab">
          <div class="icon-w">
            <i class="ti-bar-chart"></i>
          </div>
          <span>Supplier</span>
        </a>
        <div class="pl-4 w-100 l3 text-justify nav-sidebar-collaps">
          <a href="<%= companies_path(status: 'all') %>" class=" side-bar_links nested_tab boarder_bottom">All
            Companies</a>
          <a href="<%= prefer_vendors_path %>" class=" side-bar_links nested_tab boarder_bottom">Network Requests</a>
          <% if has_permission?('manage_vendors') %>
            <a href="<%= network_path %>" class=" side-bar_links nested_tab boarder_bottom">Clients / Vendors</a>
          <% end %>
        </div>
        <a class="sidebar_collapsible nested_tab">
          <div class="icon-w">
            <i class="ti-bar-chart"></i>
          </div>
          <span>Bench</span>
        </a>
        <div class="pl-4 w-100 l3 text-justify nav-sidebar-collaps">
          <a href="<%= company_bench_jobs_path %>" class=" side-bar_links nested_tab boarder_bottom">My Bench</a>
          <a href="<%= company_job_receives_path %>" class=" side-bar_links nested_tab boarder_bottom">Received</a>
          <a href="<%= company_public_jobs_path %>" class=" side-bar_links nested_tab boarder_bottom">Public</a>
          <a href="<%= company_owen_jobs_path %>" class=" side-bar_links nested_tab boarder_bottom">Bench Jobs</a>
        </div>
      </div>

      <a class="sidebar_collapsible side-bar_tab">
        <div class="icon-w">
          <i class="icon-people"></i>
        </div>
        <span>Jobs / Offers</span>
      </a>
      <div class="pl-4 w-100 text-justify nav-sidebar-collaps">
        <% if has_permission?('manage_jobs') %>
          <a href="<%= jobs_path %>" class=" l2 side-bar_links nested_tab boarder_bottom">All Posted Jobs</a>
        <% end %>
        <% if has_permission?('manage_job_invitations') %>
          <a href="<%= job_invitations_path %>" class="l2 side-bar_links nested_tab boarder_bottom">Invitations</a>
        <% end %>
        <% if has_permission?('manage_job_applications') %>
          <a href="<%= job_applications_path %>" class="l2 side-bar_links nested_tab boarder_bottom">Applicants</a>
        <% end %>
      </div>
      <% if has_permission?('manage_contracts') %>

        <a class="sidebar_collapsible side-bar_tab">
          <div class="icon-w">
            <i class="os-icon os-icon-hierarchy-structure-2"></i>
          </div>
          <span>HR</span>
        </a>
        <div class="pl-4 w-100 text-justify nav-sidebar-collaps">
          <a class="side-bar_links nested_tab boarder_bottom" href="<%= contracts_path %>">Contracts</a>
          <a class="l2 side-bar_links nested_tab boarder_bottom" href="<%= company_sell_contracts_path %>">Sell</a>
          <a class="l2 side-bar_links nested_tab boarder_bottom" href="<%= company_buy_contracts_path %>">Buy</a>
          <a class="l2 side-bar_links nested_tab boarder_bottom" href="<%= timeline_contracts_path %>">Timeline</a>
        </div>
      <% end %>
      <% if has_permission?('manage_timesheets') %>
        <a class="sidebar_collapsible side-bar_tab">
          <div class="icon-w">
            <i class="ti-timer"></i>
          </div>
          <span>Timesheet(s)</span>
        </a>
        <div class="pl-4 w-100 text-justify nav-sidebar-collaps">
          <a href="<%= timesheets_path %>" class=" l2 side-bar_links nested_tab boarder_bottom">Submitted</a>
          <a href="<%= approved_timesheets_path %>" class="l2 side-bar_links nested_tab boarder_bottom"> Approved</a>
          <a href="<%= job_applications_path %>" class="l2 side-bar_links nested_tab boarder_bottom">Applicants</a>
        </div>
      <% end %>
      <a class="sidebar_collapsible side-bar_tab">
        <div class="icon-w">
          <i class="picons-thin-icon-thin-0417_calculator"></i>
        </div>
        <span>Accounting</span>
      </a>
      <div class="pl-4 w-100 text-justify nav-sidebar-collaps">
        <a class="sidebar_collapsible nested_tab">
          <div class="icon-w">
            <i class="icon-handbag"></i>
          </div>
          <span>Sales</span>
        </a>
        <div class="pl-4 w-100 text-justify l3 nav-sidebar-collaps">
          <% if has_permission?('show_invoices') || has_permission?('manage_contracts') %>
            <a href="<%= invoices_path %>" class="side-bar_links nested_tab boarder_bottom">Open Invoices</a>
            <a href="<%= cleared_invoice_invoices_path %>" class="side-bar_links nested_tab boarder_bottom">Cleared
              Invoices</a>
          <% end %>
          <a href="<%= recieved_payment_company_accountings_path %>" class="side-bar_links nested_tab boarder_bottom">Payments</a>
        </div>
        <a class="sidebar_collapsible nested_tab">
          <div class="icon-w">
            <i class="ti-shopping-cart"></i>
          </div>
          <span>Purchasing</span>
        </a>
        <div class="pl-4 w-100 l3 text-justify nav-sidebar-collaps">
          <a href="<%= bill_to_pay_company_accountings_path %>" class="side-bar_links nested_tab boarder_bottom">Open
            Bills</a>
          <a href="<%= bill_received_company_accountings_path %>" class="side-bar_links nested_tab boarder_bottom">Vendor
            Bills</a>
          <a href="<%= bill_pay_company_accountings_path %>" class="side-bar_links nested_tab boarder_bottom">Bill
            Pay</a>
        </div>
        <a class="sidebar_collapsible nested_tab">
          <div class="icon-w">
            <i class="picons-thin-icon-thin-0420_money_cash_coins_payment_dollars"></i>
          </div>
          <span>Salaries</span>
        </a>
        <div class="pl-4 w-100 l3 text-justify nav-sidebar-collaps">
          <a href="<%= salary_to_pay_company_accountings_path %>" class="side-bar_links nested_tab boarder_bottom">Salary
            to Pay</a>
          <a href="<%= salary_list_salaries_path %>" class="side-bar_links nested_tab boarder_bottom">Salary Advance</a>
          <a href="<%= report_salaries_path %>" class="side-bar_links nested_tab boarder_bottom">Salary Calculations</a>
          <a href="#" class="side-bar_links nested_tab boarder_bottom">Salary Payments</a>
        </div>
        <a class="sidebar_collapsible nested_tab">
          <div class="icon-w">
            <i class="icon-plane"></i>
          </div>
          <span>Expenses</span>
        </a>
        <div class="pl-4 w-100 l3 text-justify nav-sidebar-collaps">
          <a href="#" class="side-bar_links nested_tab boarder_bottom">Open Bills</a>
          <a href="#" class="side-bar_links nested_tab boarder_bottom">Bill Payments</a>
          <a href="#" class="side-bar_links nested_tab boarder_bottom">Expense Payments</a>
        </div>
      </div>

    </div>
    <!--    <div class="side-bar_icons buttons-stickky">-->
    <div class="side-bar_icons">
      <a class="">
        <div class="icon-w">
          <i class="os-icon os-icon-search"></i>
        </div>
      </a>
      <a class="">
        <div class="icon-w">
          <i class="ti-world"></i>
        </div>
      </a>
      <a class="">
        <div class="icon-w">
          <i class="ti-settings"></i>
        </div>
      </a>
    </div>
  </div>
</div>