#shortcut
  %ul
    %li
      = link_to company_user_path(current_user), class: 'jarvismetro-tile big-cubes bg-color-blueDark' do
        %span.iconbox
          %i.fa.fa-user.fa-4x
          %span
            Profile
    %li
      = link_to companies_path, class: 'jarvismetro-tile big-cubes bg-color-blueDark' do
        %span.iconbox
          %i.fa.fa-black-tie.fa-4x
          %span
            Preferred-Vendors
            %span.label.pull-right.bg-color-darken
              = current_company.invited_companies.count
    %li
      = link_to groups_path, class: 'jarvismetro-tile big-cubes bg-color-blueDark' do
        %span.iconbox
          %i.fa.fa-wechat.fa-4x
          %span Groups
          %span.label.pull-right.bg-color-darken
            = current_company.groups.count
    %li
      = link_to admins_path, class: 'jarvismetro-tile big-cubes bg-color-blueDark' do
        %span.iconbox
          %i.fa.fa-lock.fa-4x
          %span Admins
    %li
      = link_to attachments_path, class: 'jarvismetro-tile big-cubes bg-color-blueDark' do
        %span.iconbox
          %i.fa.fa-book.fa-4x
          %span
            Documents
    -#%li
    -#  = link_to company_path(current_company), class: 'jarvismetro-tile big-cubes bg-color-blueDark' do
    -#    %span.iconbox
    -#      %i.fa.fa-gears.fa-4x
    -#      %span Settings
    %li
      = link_to roles_path , class: 'jarvismetro-tile big-cubes bg-color-blueDark' do
        %span.iconbox
          %i.fa.fa-key.fa-4x
          %span Roles/Permissions
    %li
      = link_to company_path(current_company), class: 'jarvismetro-tile big-cubes selected bg-color-blueDark' do
        %span.iconbox
          %i.fa.fa-building.fa-4x
          %span Company Profile
