= form_for group,html:{ class:'form-horizontal',id: 'group-val'} do |f|

  .form-group
    %label.col-md-3.control-label#group_name_lbl
      Group Name/Email
      %sup.text-danger *
    .col-md-12
      =f.text_field :group_name , required: true ,class:'form-control'
  .form-group
    %label.col-md-3.control-label
      Select Type
      %sup.text-danger *
    .col-md-12
      = f.radio_button :member_type, "Candidate", class: "set-checkbox", :checked => true
      = f.label :member_type, "Candidate", :value => "Candidate", style: "margin-right:30px;"
      = f.radio_button :member_type, "Contact", class: "set-checkbox"
      = f.label :member_type, "Contact", :value => "Contact", style: "margin-right:30px;"
      = f.radio_button :member_type, "Directory", class: "set-checkbox"
      = f.label :member_type, "Directory", :value => "Directory", style: "margin-right:30px;"
      = f.radio_button :member_type, "Google Group Email", class: "set-checkbox"
      = f.label :member_type, "Google Group Email", :value => "Google Group", style: "margin-right:10px;"
      = f.radio_button :member_type, "Facebook Group Email", class: "set-checkbox"
      = f.label :member_type, "Facebook Group Email", :value => "Facebook Group"
      =# f.select :candidate_ids, current_company.candidates.collect { |c| [c.first_name,c.id] },{},class: 'form-control select2',:multiple => true
  .modal-footer
    = f.button "submit".html_safe , class: 'btn btn-primary' , data: {disable_with: ("Submitting...")} ,id: 'form_id'
    %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
      Cancel
:css
  .select2{
    width: 389px;
    }


