%h2= @company_job.title
%p= @company_job.description
%table.table.table-striped
  %tbody
    %tr
      %th Start Date
      %td= @company_job.start_date
    %tr
      %th End Date
      %td= @company_job.end_date
    %tr
      %th Company
      %td= @company_job.company.name
    %tr
      %th Location
      %td= @company_job.location.name

