<table id="jobs_datatable" class="table table-lightborder table-striped dataTable" data-class="Scaffolding::Thing">
  <thead>
  <tr>
    <th>Name</th>
    <th>Skills</th>
    <th>Location</th>
    <th>Visa</th>
    <th>Recruiter</th>
  </tr>
  </thead>
  <tbody>
    <% @job_applications.each do |application| %>
      <tr data-id="<%= application.id %>">
        <td>
          <%if application.user.photo.nil?%>
            <%=entity_image(application.user.first_name,application.user.last_name,'circle','circle_img')%>
          <%else%>
            <%= link_to application.user.try(:full_name).try(:titleize), job_application_path(application.id), "data-content" => "<p class= 'text-center' ><image style='border-radius:50%;' src=#{image_url(application.user.photo)}/></br><div class='well well-sm'>#{application.user.full_name}</br>Email : #{application.user.email} </div></p>", "data-placement" => "top", :rel => "hover" %>
          <%end%>
        </td>
        <td>
          <% application.user.skills.each do |skill| %>
            <span class="badge-success badge"><%= skill.name %></span>
          <% end %>
        </td>
        <td><%= application.user.try(:location) %></td>
        <td><%= application.user.visa %></td>
        <td>
          <% application.user.companies.each do |company| %>
            <span class="badge-info badge mb-5"><%= company.name %></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
