.modal.fade.in{ id: "job-invite-#{job.id}","aria-hidden": "true", "aria-labelledby": "myModalLabel", :role => "dialog", :style => "display: none;", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
          ×
        %h2#myModalLabel.modal-title
          %strong Job Invitation - #{job.title}
      .modal-body
        = form_for [job,job.job_invitations.new] , remote: true do |f|
          = f.hidden_field :job_id , value: params[:job_id]
          = f.hidden_field :recipient_type , value: 'User'
          .row
            .col-md-12
              .form-group
                = select_tag 'vendor_company', options_for_select(companies.collect { |company|[company.name.titleize, company.id] }) ,prompt: "Select something" ,class: 'form-control' , required: true
                -#= select_tag :country_id, options_for_select(preferred_vendors.collect { |vendor|[vendor.company.name.titleize, vendor.company.id] }, 1), {}, { id: 'countries_select' }
                -#= select_tag "company_id" ,preferred_vendors.map{|vendor| [vendor.company.name,vendor.id] } ,{include_blank: 'Select a Vendor'},class: "form-control" , required: 'required', placeholder: "Select something"
          .row
            .col-md-12
              .form-group
                = f.select :recipient_id,{} ,{include_blank: 'Select a Employee'},id: 'user_select' , class: "form-control" , required: 'required', placeholder: "Select something"
          .row
            .col-md-12
              .form-group
                = f.text_field :expiry ,class: "form-control" , required: 'required', placeholder: "Invitation Expire Date"
          .row
            .col-md-12
              .form-group
                = f.text_area :message ,class: "form-control" ,row: '3' , required: 'required', placeholder: "Enter Description"
          .modal-footer
            -#= button_tag 'Cancel' , class: 'btn btn-default' , data: {"dismiss": "modal"}
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
              Cancel
            = f.submit 'Send' , class: 'btn btn-primary'
  :javascript
    // DO NOT REMOVE : GLOBAL FUNCTIONS!
    $(document).ready(function() {
      $( "#vendor_company" ).change(function() {
        $.post("#{get_admins_list_companies_path}" , { id: $("#vendor_company option:selected").val() } , function(data){

        });
      });

      $('#job_invitation_expiry').datepicker({
          dateFormat : 'dd/mm/yy'
      });

    });