.modal.fade.in{ id: "job-invite-#{job.id}","aria-hidden": "true", "aria-labelledby": "myModalLabel", :role => "dialog", :style => "display: none;", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
          ×
        %h4#myModalLabel.modal-title Job Invitation - #{job.title}
      .modal-body
        = form_for [job,job.job_invitations.new] , remote: true do |f|
          = f.hidden_field :job_id , value: params[:job_id]
          = f.hidden_field :recipient_type , value: 'User'
          .row
            .col-md-12
              .form-group
                = f.select :recipient_id ,preferred_vendors.map{|vendor| [vendor.full_name,vendor.id] } ,{include_blank: 'Select a Vendor'},class: "form-control" , required: 'required', placeholder: "Select something"
          .row
            .col-md-12
              .form-group
                = f.text_field :expiry ,class: "form-control" , required: 'required', placeholder: "Invitation Expire Date"
          .row
            .col-md-12
              .form-group
                = f.text_area :description ,class: "form-control" ,row: '3' , required: 'required', placeholder: "Enter Description"
          .row
            .col-md-12
              .form-group
                =f.fields_for :custom_fields do |custom_field|
                  = render 'shared/custom_fields', f: custom_field
              %strong
                .links.col-sm-12
                  = link_to_add_association '+ Add Custom Field', f, :custom_fields, class: 'text-info pull-right', partial: 'shared/custom_fields'
                  %br/
          .modal-footer
            -#= button_tag 'Cancel' , class: 'btn btn-default' , data: {"dismiss": "modal"}
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
              Cancel
            = f.submit 'Send' , class: 'btn btn-primary'
  :javascript
    // DO NOT REMOVE : GLOBAL FUNCTIONS!
    $(document).ready(function() {
      $('#job_invitation_expiry').datepicker({
        dateFormat : 'dd/mm/yy'

      });
    });