.modal.fade.in{ id: "job-invite-#{job.id}","aria-hidden": "true", "aria-labelledby": "myModalLabel", :role => "dialog", :style => "display: none;", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
          ×
        %h2#myModalLabel.modal-title
          %strong Job Invitation - #{job.title}
      .modal-body
        %header{:role => "heading"}
          %ul.nav.nav-tabs.pull-left.in
            %li.active
              %a{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#hr1"}
                %span.hidden-mobile.hidden-tablet Vendor
            %li
              %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#hr2"}
                %span.hidden-mobile.hidden-tablet
                  Candidate
            %li
              %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#hr3"}
                %span.hidden-mobile.hidden-tablet
                  Direct Email
          .widget-body
            .tab-content
              #hr1.tab-pane.active
                .tabbable.tabs-below
                  .tab-content.padding-10
                    %section#widget-grid{}
                      = render partial: 'company/jobs/partials/vendor_invitation',locals: {job: job ,companies: companies}

                      -#=render partial: 'company/leaves/partials/leave_show',locals:{leaves: @consultant_leaves.accepted}
              #hr2.tab-pane
                .tabbable.tabs-below
                  .tab-content.padding-10
                    %section#widget-grid{style: 'margin-top: 10px;'}
                      = render partial: 'company/jobs/partials/send_candidate_invitation',locals: {job: job ,candidates: candidates}
                      -#=render partial: 'company/leaves/partials/leave_show',locals:{leaves: @consultant_leaves.rejected}

              #hr3.tab-pane
                .tabbable.tabs-below
                  .tab-content.padding-10
                    %section#widget-grid{style: 'margin-top: 10px;'}
                      = render partial: 'candidate/candidates/partials/form',locals:{job: job}


  :javascript
    // DO NOT REMOVE : GLOBAL FUNCTIONS!
    $(document).ready(function() {
      $( "#vendor_company" ).change(function() {
        $.post("#{get_admins_list_companies_path}" , { id: $("#vendor_company option:selected").val() } , function(data){

        });
      });

      $('#job_invitation_expiry,#candidate_expiry,#vendor_expiry').datepicker({
          dateFormat : 'dd/mm/yy'
      });

    });