%table.table.table-striped.table-bordered.table-v2.table-lg
  %thead
    %tr
      %th= "<input type='checkbox' name='select_all' id='ts_select_all'>".html_safe
      %th Emp
      %th Contract ID & Title
      %th Sal Cy ID
      %th
      %th Hr
      %th Timesheet
      %th Sal Advances
      %th Perdium/Expenses
      %th Commission
      %th Total
      %th Paid
      %th Actions
  %tbody
    - contract_cycles.each do |cc|

      %tr
        %td{:rowspan => 4}= "<input type='checkbox' id='ts_ids' name='ids[]' value='#{cc.cyclable.id}'>".html_safe if cc.cyclable.calculated?
        %td.emp{:rowspan => 4}
          - user = cc.contract.candidate
          =user_image(user, style: 'width: 60px; height: 60px;', class: 'data-table-image mr-1',title: "#{user.full_name}" )
        %td{:rowspan => 4}= cc.contract.title
        %td{:rowspan => 4}= cc.id

        %td= "Calculation"
        %td= cc.cyclable.total_approve_time
        %td= cc.cyclable.approved_amount
        %td
        %td
        %td= cc.cyclable.commission_amount
        %td= cc.cyclable.total_amount
        %td
        %td

      %tr
        %td= "Process"
        %td= cc.cyclable.total_approve_time
        %td= cc.cyclable.approved_amount
        %td= cc.cyclable.calculate_advance
        %td
        %td= cc.cyclable.commission_amount
        %td= cc.cyclable.total_amount
        %td{id:"#{cc.cyclable.id}"}= cc.cyclable.billing_amount
        %td= link_to "Pay", salary_pay_path(cc.cyclable), remote: true if cc.cyclable.calculated?


      %tr.disabled-row
        %td= "Send"
        %td
        %td
        %td
        %td
        %td
        %td
        %td
        %td

      %tr.disabled-row
        %td= "Settlement"
        %td
        %td
        %td
        %td
        %td
        %td
        %td
        %td