%div{:role => "content"}
  .jarviswidget-editbox
  .widget-body.no-padding
    #datatable_fixed_column_wrapper.dataTables_wrapper.form-inline.dt-bootstrap.no-footer
      %table#datatable_fixed_column.table.table-striped.table-bordered.dataTable.no-footer{"aria-describedby" => "datatable_fixed_column_info", :role => "grid", :style => "width: 100%;", :width => "100%"}
        %thead
          %tr{:role => "row"}
            %th id
            %th Contract
            %th Start Date
            %th End Date
            %th Status
            %th Time
            %th Amount
        %tbody
          -  @timesheets.each_with_index do |tms , index|
            %tr
              %td= index+1
              %td= tms.contract.title.humanize
              %td= tms.start_date
              %td= tms.end_date
              %td= tms.status.humanize
              %td= tms.total_time
              %td= tms.total_time * tms.contract.buy_contracts.first.payrate.to_i