#content
  %body
    %section#widget-grid
      .row
        %article.col-xs-12.col-sm-12.col-md-12.col-lg-12.sortable-grid.ui-sortable
          #wid-id-1.jarviswidget.jarviswidget-color-blueDark.jarviswidget-sortable{"data-widget-editbutton" => "false", :role => "widget"}
            %header{:role => "heading"}
              %span.widget-icon
                %i.fa.fa-table
              %h2.text-white Open Bill (Salary)
            / widget div
            %div{:role => "content"}
              .jarviswidget-editbox
              .widget-body.no-padding
                #datatable_fixed_column_wrapper.dataTables_wrapper.form-inline.dt-bootstrap.no-footer
                  .dt-toolbar
                    .col-xs-12.col-sm-6.hidden-xs
                      #datatable_fixed_column_filter.dataTables_filter
                        %label
                          %span.input-group-addon{style: "background-color:#eee;"}
                            %i.glyphicon.glyphicon-search
                          %input.form-control{"aria-controls" => "datatable_fixed_column", :placeholder => "", :type => "search"}/
                    .col-sm-6.col-xs-12.hidden-xs
                      .toolbar
                        .text-right
                  -#= button_tag 'NEW' ,class: 'btn btn-success btn-md pull-right header-btn margin-top-5' , "data-toggle": "modal" , "data-target":"#new-job"
                  %table#datatable_fixed_column.table.table-striped.table-bordered.dataTable.no-footer{"aria-describedby" => "datatable_fixed_column_info", :role => "grid", :style => "width: 100%;", :width => "100%"}
                    %thead
                      -#%tr{:role => "row"}
                      -#  %th.hasinput{ :style => "width:10%"}
                      -#    %input.form-control{:placeholder => "id", :type => "text"}/
                      -#  %th.hasinput{ :style => "width:10%"}
                      -#    %input.form-control{:placeholder => "Contract", :type => "text"}/
                      -#  %th.hasinput{ :style => "width:10%"}
                      -#    %input.form-control{:placeholder => "Start Date", :type => "text"}/
                      -#  %th.hasinput{ :style => "width:10%"}
                      -#    %input.form-control{:placeholder => "End Date", :type => "text"}/
                      -#  %th.hasinput{ :style => "width:10%"}
                      -#    %input.form-control{:placeholder => "Hours", :type => "text"}/
                      -#  %th.hasinput{ :style => "width:10%"}
                      -#    %input.form-control{:placeholder => "Rate", :type => "text"}/
                      -#  %th.hasinput{ :style => "width:10%"}
                      -#    %input.form-control{:placeholder => "Status", :type => "text"}/
                      -#  %th.hasinput{ :style => "width:10%"}
                      -#    %input.form-control{:placeholder => "Actions", :type => "text"}/
                      %tr{:role => "row"}
                        %th id
                        %th Contract
                        %th Customer
                        %th Salary Calculation Cycle
                        %th Hours
                        %th Rate
                        %th Total
                        %th Attachment
                        %th Status
                        %th Actions
                    %tbody
                      -  @salaries.each_with_index do |salary , index|
                        %tr
                          %td= salary.id
                          %td
                            = link_to "#"+salary.contract.id.to_s, contract_path(salary. contract)
                            %br
                            = "-"+salary.contract.title[0..10]
                            %br
                            = "-"+salary.contract.client.full_name[0..10]
                            %br
                            = "-"+salary.contract.buy_contract.contract_type
                            %br
                            = "-"+salary.contract.buy_contract.candidate.full_name[0..10]
                          %td= salary.contract.sell_contract.company.full_name
                          %td= salary.start_date.to_s + " - " + salary.end_date.to_s
                          %td= salary.total_approve_time
                          %td= salary.rate
                          %td= salary.total_approve_time.to_i *  salary.rate.to_i
                          %td
                          %td= salary.status.humanize
                          %td
                            = link_to raw("<i class='fa fa-eye'></i>"), check_salary_company_accountings_path(id: salary.id), remote: true, class: 'btn btn-md btn-default btn-primary',title: "Details"
                            =# link_to raw("<i class='fa fa-fax'></i>"), accept_salary_contract_salary_path(salary.contract, salary), class: 'btn btn-md btn-default btn-primary',title: "Submit salary", method: "POST", data: {confirm:  'Are you sure?'} if salary.pending_salary?
                            =# link_to raw("<i class='fa fa-dollar'></i>"), new_salary_receive_payment_path(salary), class: 'btn btn-md btn-default btn-primary',title: "Paid salary", data: {confirm:  'Are you sure?'} if salary.open?
                            =# link_to raw("<i class='fa  fa-camera'></i>"), edit_salary_path( salary), class: 'btn btn-md btn-default btn-primary',title: "Change end date" if salary.open?
                            =# link_to raw("<i class='fa fa-calendar'></i>"), edit_salary_path( salary), class: 'btn btn-md btn-default btn-primary',title: "Change end date" if salary.pending_salary?
                            =# link_to raw("<i class='fa fa-fax'></i>") , timesheet_check_salary_path(salary), target: '_blank', class: 'btn btn-md btn-default btn-primary',title: "Submit salary"

.modal{id: "salary-confirmation-model"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
          ×
        %h4.modal-title
          %strong Salary Details
      #salary-confirmation-model-body.modal-body


:css
  .form-control
  {
    background-color: white !important;
  }

- content_for :scripts do
  :javascript
    $(document).ready(function() {
      $(".best_in_place").best_in_place();
      $(".best_in_place").bind("ajax:success", function(){ location.reload() });
    });