.modal.fade.in#share-candidates
  .modal-dialog.modal-md
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
          ×
        %h2#myModalLabel.modal-title
          %strong Share Hot Candidates
          %hr
          %p.muted Share your hot candidates with external users
          and you can also attach a custom message along with.

      .modal-body
        = form_for Candidate.new, url: share_hot_candidates_candidates_path, html: {class: 'form-horizontal'},method: :get do |f|
          = hidden_field_tag 'candidates_ids',value ='',{class: "candidates_ids"}
          %fieldset
            .form-group
              %label.col-md-2.control-label
                Email
                %sup.text-danger
              .col-md-10
                = text_field_tag "emails" ,nil ,class: "tagsinput form-control" ,"data-role" => "tagsinput", placeholder: "Enter Emails To Share with comma seperated" , required: true ,"data-role" => "tagsinput"
            .form-group
              %label.col-md-2.control-label
                Message
                %sup.text-danger
              .col-md-10
                = text_area_tag "message" ,nil ,class: "form-control" , placeholder: "Message " , required: true

          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
              Cancel
            = f.button "Save".html_safe , class: 'btn btn-primary' , data: {disable_with: disable_spinning('Saving...')}

:css
  .select2{
    width: 470px;
    }