:css
  .chardin_box {
    display: inline-block;
    padding: 0 3px;
  }
  .span3 {
    width: 220px;
  }
  [class*="span"]{
    float: left;
    min-height: 1px;
    margin-left: 20px;
  }
#content
  #wid-id-5.no-border.jarviswidget
    .col-xs-12.col-sm-9.col-md-9.col-lg-9.pull-left{style: 'border-bottom-color: #fff !important;'}
      -#.well
      -#  %form#filterrific_filter.new_filterrific{"accept-charset" => "UTF-8", :action => "/students", :method => "get"}
      -#    %div{:style => "margin:0;padding:0;display:inline"}
      -#      %input{:name => "utf8", :type => "hidden", :value => "✓"}/
      -#    .row
      -#      .span3.chardin_box{"data-intro" => "Search by first name, last name, or email.", "data-position" => "top"}
      -#        %label Search
      -#        %input#filterrific_search_query.filterrific-periodically-observed{:name => "filterrific[search_query]", :size => "30", :type => "text"}/
      -#      .span3.chardin_box{"data-intro" => "Filter by country.", "data-position" => "top"}
      -#        %label Country
      -#        %select#filterrific_with_country_id{:name => "filterrific[with_country_id]"}
      -#          %option{:value => ""} - Any -
      -#          %option{:value => "19"} Australia
      -#          %option{:value => "18"} Canada
      -#          %option{:value => "23"} Ireland
      -#          %option{:value => "21"} New Zealand
      -#          %option{:value => "22"} Puerto Rico
      -#          %option{:value => "20"} South Africa
      -#          %option{:value => "24"} United Kingdom
      -#          %option{:value => "17"} United States
      -#      .span2.chardin_box{"data-intro" => "Filter by registration date.", "data-position" => "top"}
      -#        %label Registered after
      -#        %input#filterrific_with_created_at_gte.js-datepicker.span2{:name => "filterrific[with_created_at_gte]", :size => "30", :type => "text"}/
      -#      .span3.chardin_box{"data-intro" => "Change the sorting.", "data-position" => "top"}
      -#        %label Sorted by
      -#        %select#filterrific_sorted_by{:name => "filterrific[sorted_by]"}
      -#          %option{:value => "name_asc"} Name (a-z)
      -#          %option{:value => "created_at_desc"} Registration date (newest first)
      -#          %option{:value => "created_at_asc"} Registration date (oldest first)
      -#          %option{:selected => "selected", :value => "country_name_asc"} Country (a-z)

      = search_form_for @search , url: search_timesheets_path , method: :get do |f|
        %ul#internal-tab-1.nav.nav-tabs.tabs-pull-right.sub-tab
          %br
          .input-group.input-group-lg.hidden-mobile
            .input-group-btn.select
              = f.select :status_eq , Timesheet.statuses.map { |key, value| [key.humanize, value] }.push(['All', '']).reverse.to_h, {} , {class: "btn btn-default dropdown-toggle" ,  onChange: "this.form.submit();"}
            = f.text_field :job_title_cont, class: "form-control input-lg bg-white", placeholder: "Search Timesheets..."
            .input-group-btn
              = f.button raw("<i class='fa fa-fw fa-search fa-lg'></i>") , class: 'btn btn-default'
    %div
      .jarviswidget-editbox
      .widget-body
        %ul#myTab1.nav.nav-tabs.bordered
          %li.active
            %a{"data-toggle" => "tab", :href => "#tab-r1"}
              %span.badge.bg-color-blue.txt-color-white= @timesheets.count
              Sent Timesheets
          %li
            %a{"data-toggle" => "tab", :href => "#tab-r2"}
              %span.badge.bg-color-blueDark.txt-color-white= @received_timesheets.count
              Received Timesheets
        .col-md-12
          .tab-content
            #tab-r1.tab-pane.active
              .tab-pane.active.fade.in.padding-10
                = render'company/timesheets/partials/sent_timesheets' , data: @timesheets

            #tab-r2.tab-pane
              .tab-pane.fade.in.padding-10
                = render'company/timesheets/partials/received_timesheets' , data: @received_timesheets
- content_for :modals do
  #ajax-modal
- content_for :scripts do
  :javascript
    // DO NOT REMOVE : GLOBAL FUNCTIONS!

    $(document).ready(function() {

    $('#myTab1 a[href="' + localStorage.getItem('mainActiveTab') + '"]').tab('show');

    $('.sub-tab a[href="' + localStorage.getItem('subActiveTab') + '"]').tab('show');
    pageSetUp();

    });
    $('#myTab1').on('show.bs.tab', function(e) {
      localStorage.setItem('mainActiveTab', $(e.target).attr('href'));
    });

    $('.sub-tab').on('show.bs.tab', function(e) {
      localStorage.setItem('subActiveTab', $(e.target).attr('href'));
    });

