.row.multi-field-container.nested-fields
  .col-sm-4
    .form-group
      %label Title
      = f.text_field :title, placeholder: "Title",class: 'form-control input'

  .col-sm-4
    .form-group
      %label Expiry Date
      = f.text_field :exp_date,placeholder: "YYYY-MM-DD",class: 'form-control p_date education_doc_expiry_date input'

  .col-sm-2
    .form-group
      %label Select Document
      = f.text_field :file, class: 'hidden file_education_document'
      = filepicker_field_tag "" , class: " hidden can-filepicker-attach education_file filepicker-attach", onchange:"uploadEducationDoc(event, $(this).prev())"
      = link_to "Select Document" ,"#",class: 'col-lg-12 education_doc btn btn-md btn-primary', style: "margin-bottom: 10px", onclick:"select_file($(this).prev())"
  .col-sm-2
    .form-group
      %label Remove
      = link_to_remove_association "X", f , wrapper_class: "nested-fields"


-#- content_for :scripts do
-#  :javascript
-#
-#    function select_file(prev){
-#      prev.trigger("click");
-#    }
-#
-#    function uploadEducationDoc(event, file_el){
-#      document_url = event.fpfile.url
-#      $("#"+file_el.attr("id")).val(document_url)
-#    }
