.nested-fields4
  .row
    .col-sm-3
      .form-group
        %label Certificate Title
        = f.text_field :title,placeholder: "Certificate Title",class: 'form-control input'

    .col-sm-3
      .form-group
        %label Institute
        = f.text_field :institute, class: 'form-control input'

    .col-sm-3
      .form-group
        %label Start Date
        = f.text_field :start_date,placeholder: "YYYY-MM-DD",class: 'form-control p_date cer_start_date input'

    .col-sm-3
      .form-group
        %label End Date
        = f.text_field :end_date,placeholder:"YYYY-MM-DD",class: 'form-control p_date cer_end_date input'
  .row
    .col-md-12
      .form-group
        = f.fields_for :candidate_certificate_documents do |b|
          = render 'candidate/candidates/candidate_certificate_document_fields', f: b
        .links.education_links
          = link_to_add_association '+ Add Document', f, :candidate_certificate_documents, class: 'btn btn-success add_education_btn', partial: 'candidate/candidates/candidate_certificate_document_fields'
  .row
    .col-md-12
      = link_to_remove_association f , wrapper_class: "nested-fields4", class: "bttn btn-add pull-right delete_icon" do
        %i.fa.fa-trash

-#- content_for :scripts do
-#  :javascript
-#
-#    $(document).ready(function() {
-#      $('.cer_start_date, .cer_end_date').datepicker({
-#       dateFormat: "yy-mm-dd"
-#      });
-#    });