.multi-field-container.nested-fields5
  .row
    .col-sm-4
      .form-group
        %label Name
        = f.text_field :name,placeholder: "Client Name",class: 'form-control input'
  .row
    .col-sm-4
      .form-group
        %label Industry
        = f.text_field :industry, placeholder: "Industry",class: 'form-control input'
        -#= f.select :industry, industry_list,{},{class: 'form-control input'}
    .col-sm-4
      .form-group
        %label Start Date
        = f.text_field :start_date,placeholder: "YYYY-MM-DD",class: 'form-control p_date cl_start_year input'
    .col-sm-4
      .form-group
        %label End Date
        = f.text_field :end_date,placeholder:"YYYY-MM-DD",class: 'form-control p_date cl_end_year input'
  .row
    .col-sm-4
      .form-group
        %label Manager name
        = f.text_field :refrence_name,placeholder: "Jhon Doe",class: 'form-control input'
    .col-sm-4
      .form-group
        %label  Phone
        = f.text_field :refrence_phone, class: 'form-control input'
    %div{class: f.object.refrence_one ? "col-sm-3" : "col-sm-4"}
      .form-group
        %label  Email
        = f.text_field :refrence_email,placeholder: "example@domain.com",class: 'form-control input',title: f.object.refrence_one ? 'Verified' :'Not Verified Yet'
    - if f.object.refrence_one
      .col-sm-1
        %h3.text-success.mt-4
          -#%strong
          %i.fa.fa-check
  .row
    .col-sm-4
      .form-group
        %label Manager name
        = f.text_field :refrence_two_name,placeholder: "Jhon Doe",class: 'form-control input'
    .col-sm-4
      .form-group
        %label  Phone
        = f.text_field :refrence_two_phone, class: 'form-control input'
    %div{class: f.object.refrence_two ? "col-sm-3" : "col-sm-4"}
      .form-group
        %label  Email
        = f.text_field :refrence_two_email,placeholder: "example@domain.com",class: 'form-control input',title: f.object.refrence_two ? 'Verified' :'Not Verified Yet'
    - if f.object.refrence_two
      .col-sm-1
        %h3.text-success.mt-4
          -#%strong
          %i.fa.fa-check
  .row
    .col-md-6
      .form-group
        %label Project Description
        = f.text_area :project_description,placeholder: "Project Description",class: 'form-control input'
    .col-md-6
      .form-group
        %label Role
        = f.text_area :role,placeholder: "My Role",class: 'form-control input'
  .row
    .col-md-12
      - unless f.object.new_record?
        .pl-4{id: "employer_#{f.object.id}", class: "#{'display-none' unless f.object.designation.present?}"}
          %h4.element-header
            Client Employer
          = f.fields_for :designation, f.object.designation.present? ?  f.object.designation : f.object.build_designation do |employer|
            = render 'candidate/candidates/partials/skill_designation_fields',f: employer
  .row
    .col-md-12
      = link_to_remove_association f , wrapper_class: "nested-fields5", class: "bttn btn-add pull-right delete_icon" do
        %i.fa.fa-trash

- content_for :scripts do
  :javascript
    function radio_change(e){
      if(e.value == "employer"){
        $('#link_'+e.id).show()
      }else{
      $('#link_'+e.id).hide()
      }
    }

