.multi-field-container
  .row
    .col-md-6
      .form-group
        %label Company Name
        = f.text_field :comp_name, placeholder: "Company Name",class: 'form-control  input'
    .col-md-6
      .form-group
        %label Company Role
        = f.text_field :company_role, placeholder: "Company Role",class: 'form-control  input'
    .col-md-6
      .form-group
        %label Recruiter Name
        = f.text_field :recruiter_name, placeholder: "Recruiter Name",class: 'form-control  input'
    .col-md-3
      .form-group
        %label Recruiter Email
        = f.text_field :recruiter_email, placeholder: "Recruiter Email",class: 'form-control  input'
    .col-md-3
      .form-group
        %label Recruiter Phone
        = f.text_field :recruiter_phone, placeholder: "Recruiter Phone",class: 'form-control  input'



  .row
    .col-md-12
      %a.bttn.btn-add.remove-multi-fields.pull-right.delete_icon
        %i.fa.fa-trash
:javascript
  //$('.education_start_year, .education_completion_year').datepicker({
  // autoclose: true,
  // todayHighlight: true,
  // format: "mm-dd-yy"
  //});        