.nested-fields7.multi-field-container
  .row
    .col-md-12
      = render 'candidate/candidates/partials/gallery_form', f: f, reference: 'designation'
  .row
    .col-md-6
      .form-group
        %label Company Name
        = f.text_field :comp_name, placeholder: "Company Name",class: 'form-control  input'
    .col-md-6
      .form-group
        %label Company Designation
        = f.text_field :company_role, placeholder: "Designation",class: 'form-control  input'
    .col-md-6
      .form-group
        %label Start Date
        = f.text_field :start_date, placeholder: "Start Date",class: 'form-control p_date input'
    .col-md-6
      .form-group
        %label End Date
        = f.text_field :end_date, placeholder: "End Date",class: 'form-control p_date input'
    .col-md-6
      .form-group
        %label Recruiter Name
        = f.text_field :recruiter_name, placeholder: "HR/Recruiter Name",class: 'form-control  input'
    .col-md-3
      .form-group
        %label Recruiter Email
        = f.text_field :recruiter_email, placeholder: "Recruiter Email",class: 'form-control  input'
    .col-md-3{style: 'display: flex; align-items: center;'}
      .form-group
        %label Recruiter Phone
        = f.text_field :recruiter_phone, placeholder: "Recruiter Phone",class: 'form-control  input'
      %button{style: 'height: 37px;border-radius: 0;', class: 'mt-2 btn btn-sm btn-primary'} verify

  .row
    .col-md-12
      = link_to_remove_association f , wrapper_class: "nested-fields7", class: "bttn btn-add pull-right delete_icon" do
        %i.fa.fa-trash

  -#.row
  -#  .col-md-12
  -#    %a.bttn.btn-add.remove-multi-fields.pull-right.delete_icon
  -#      %i.fa.fa-trash
:javascript
  //$('.education_start_year, .education_completion_year').datepicker({
  // autoclose: true,
  // todayHighlight: true,
  // format: "mm-dd-yy"
  //});
