.row.multi-field-container{style: "padding: 15px;"}
  .row
    .col-md-6
      .form-group
        = f.text_field :degree_level,placeholder: "Degree level",class: 'form-control'
    .col-md-6
      .form-group
        = f.select :institute, industry_list,{},{class: 'form-control',style: "width:100% !important"}
  .row
    .col-md-6
      .form-group
        = f.text_field :degree_title,placeholder: "Degree Title",class: 'form-control'
    .col-md-6
      .row
        .col-md-4
          .form-group
            = f.text_field :degree_title,placeholder: "CGPA",class: 'form-control'
        .col-md-4
          .form-group
            = f.text_field :start_year,placeholder: "MM-DD-YY",class: 'form-control education_start_year'
        .col-md-4
          .form-group
            = f.text_field :completion_year,placeholder:"MM-DD-YY",class: 'form-control education_completion_year'
  .row
    .col-md-12
      %a.bttn.btn-add.btn.remove-multi-fields.pull-right
        %i.fa.fa-trash