.multi-field-container.nested-fields9
  .row
    .col-sm-4
      .form-group
        %label Title
        = f.text_field :title, placeholder: "Title",class: 'form-control '
    .col-sm-4
      .form-group
        %label Document Number
        = f.text_field :document_number, placeholder: "57634-xy",class: 'form-control p-location input'

    .col-sm-4
      .form-group
        %label Start Date
        = f.text_field :start_date,placeholder: "YYYY-MM-DD",class: 'form-control p_date input'
    .col-sm-6
      .form-group
        %label Expiry Date
        = f.text_field :exp_date,placeholder: "YYYY-MM-DD",class: 'form-control visa_exp_date input'

        / = filepicker_field_tag "" ,class: "resume_file", onchange:"uploadResume(event)"
    .col-sm-6
      %label.d-block Select Document
      .file_selector{style: "display: flex;"}
        .form-group.d-inline-block
          = render 'shared/file_attachement',f:f,attr_name: :file,button_name: "Document", name_selector: ".uploaded_file_name",cstm_style: "border-radius: 0; height:38px;", required_field: false
        %p.d-inline-block.uploaded_file_name No File Selected
      -#.form-group
      -#  %label Select Document
      -#  = render 'shared/file_attachement',f:f,attr_name: :file,cstm_style: "border-radius: 0; height:38px;", button_name: 'Select Document'
        -#= f.text_field :file, class: 'hidden'
        -#= filepicker_field_tag "" , class: "hidden legal_can-filepicker-attach document_file filepicker-attach", onchange:"uploadFileDoc(event, $(this).prev())"
        -#= link_to "Select Document" ,"#",class: 'col-lg-12 legal_document_doc btn btn-md btn-primary', style: "margin-bottom: 10px", onclick:"select_file($(this).prev())"

  .row
    .col-md-12
      = link_to_remove_association f , wrapper_class: "nested-fields9", class: "bttn btn-add pull-right delete_icon" do
        %i.fa.fa-trash


  / .row
  /   .col-md-12
  /     %a.bttn.btn-add.remove-multi-fields.pull-right.delete_icon
  /       %i.fa.fa-trash
-#- content_for :scripts do
-#  :javascript
-#
-#    function select_legal_file(prev){
-#      prev.trigger("click");
-#    }
-#
-#    function uploadLegalDoc(event, file_el){
-#      document_url = event.fpfile.url
-#      $("#"+file_el.attr("id")).val(document_url)
-#    }