- unless own
  #navbar.text-right
    = yield :statuses
.content-i
  .content-box
    .row
      .col-sm-4
        .user-profile.compact
          .up-head-w{:style => "background-image:url(#{candidate.photo.blank? ? asset_path('avatars/m_sunny_big.png') : candidate.photo})"}
            - if own
              = link_to '#', class: 'profile--link', onclick: "upload_file_ajax(candidateLogoUpload)" do
                .up-main-info
                  %h2.up-header
                    %i.icon-feather-camera
                  %h2.up-header
                    = candidate.full_name
                  %h6.up-sub-header
                    = candidate.associated_company.name.capitalize if candidate.associated_company.present?
            -else
              .up-main-info
                %h2.up-header
                  = candidate.full_name
                %h6.up-sub-header
                  = candidate.associated_company.name.capitalize if candidate.associated_company.present?

            %svg.decor{:height => "219px", :preserveaspectratio => "xMaxYMax meet", :version => "1.1", :viewbox => "0 0 10 219", :width => "842px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %g{:fill => "#FFFFFF", :transform => "translate(-381.000000, -362.000000)"}
                %path.decor-path{:d => "M1223,362 L1223,581 L381,581 C868.912802,575.666667 1149.57947,502.666667 1223,362 Z"}
          .up-controls
            .row
              .col-sm-6{style: "display: flex;justify-content: space-evenly;"}
                - if current_user.present?
                  = contact_widget(candidate.email,candidate.phone,nil,color: '#3b75e3 !important',chat_link: chat_link(candidate))
                - else
                  = contact_widget(candidate.email,candidate.phone,nil,color: '#3b75e3 !important',chat_link: register_path,remote_false: true)
              .col-sm-6.text-right
                - if candidate.candidates_resumes.present?
                  -#%a.btn.btn-primary.btn-sm{:href => ""}
                  = link_to candidate.candidates_resumes.primary_resume.resume, class: "btn btn-primary btn-sm", target: "_blank" do
                    %i.os-icon.os-icon-arrow-down6
                    %span Resume
                - elsif own
                  %a.btn.btn-primary.btn-sm{:href => "/onboarding_profile?tag=verify-phone"}
                    %i.os-icon.os-icon-arrow-up6
                    %span Resume

          .up-contents
            .m-b
              .row.m-b
                .col-sm-6.b-r.b-b
                  .el-tablo.centered.padded-v
                    = candidate.exp_words.html_safe
                .col-sm-6.b-b
                  .el-tablo.centered.padded-v
                    .value
                      = candidate.clients.count
                    .label
                      Clients
              .padded
                .os-progress-bar.primary
                  .bar-labels
                    .bar-label-left
                      %span Full Name
                    .bar-label-right
                      %span=do_ellipsis(candidate.full_name,15)
                      %span.text-success
                .os-progress-bar.primary
                  .bar-labels
                    .bar-label-left
                      %span Contact Info
                    .bar-label-right
                      %span=do_ellipsis(candidate.phone,15)
                      %span.text-success
                  .os-progress-bar.primary
                    .bar-labels
                      .bar-label-left
                        %span Email
                      .bar-label-right
                        %span=do_ellipsis(candidate.email,15)
                        %span.text-success
                          = is_verify(!!candidate.confirmed_at)
                .os-progress-bar.primary
                  .bar-labels
                    .bar-label-left
                      %span Date of Birth
                    .bar-label-right
                      %span=do_ellipsis(candidate.dob,15)
                      %span.text-success
                .os-progress-bar.primary
                  .bar-labels
                    .bar-label-left
                      %span Visa Status
                    .bar-label-right
                      %span=do_ellipsis(candidate.visa,15)
                .os-progress-bar.primary
                  .bar-labels
                    .bar-label-left
                      %span Current Location
                    .bar-label-right
                      %span=do_ellipsis(candidate.location,15)
                .os-progress-bar.primary
                  .bar-labels
                    .bar-label-left
                      %span Skyp ID
                    .bar-label-right
                      %span=do_ellipsis(candidate.skypeid,15)
                .os-progress-bar.primary
                  .bar-labels
                    .bar-label-left
                      %span Linkdin
                    .bar-label-right
                      %span=do_ellipsis(candidate.linkedin_url,15)
                .os-progress-bar.primary
                  .bar-labels
                    .bar-label-left
                      %span SSN(YES / NO)
                    .bar-label-right
                      %span=do_ellipsis(candidate.ssn,15)

        .element-wrapper
          .element-box
            %h4.element-header
              Education
            .padded
              - candidate.educations.each do |edu|
                .os-progress-bar.primary
                  .bar-labels
                    .bar-label-left
                      %span=edu.degree_level
                    .bar-label-right
                      %span=edu.degree_title

        .element-wrapper
          .element-box
            %h4.element-header
              Certification
            .padded
              - candidate.certificates.each do |cert|
                .os-progress-bar.primary
                  .bar-labels
                    .bar-label-left
                      %span=cert.title
                    .bar-label-right
                      %span=cert.institute
        .element-wrapper
          .element-box
            %h4.element-header
              Skills
            .element-info.border-0
              .element-info-text
                - candidate.skill_list.each do |sl|
                  .badge.badge-primary.p-2.mb-1
                    =sl
      .col-sm-8
        .col-sm-12
          .element-wrapper
            .element-box
              .element-info
                .element-info-with-icon
                  .element-info-icon
                    %i.icon-badge
                  .element-info-text
                    %h4.element-inner-header
                      Work Experience
              - if candidate.designations.present? || (candidate.ever_worked_with_company && candidate.clients.present?)
                - candidate.designations.each do |c|
                  - unless c.comp_name && c.company_role
                    .element-info
                      .element-info-text
                        .mb-2
                          %div
                            %h5.mb-1.text-primary #{c.comp_name}
                            %span.mb-1.h6.d-block.text-secondary=  "As #{c.company_role}" if c.company_role.present?
                            %strong.font-weight-bold.font-sm.text-capitalize
                              ="#{c.start_date&.strftime('%B-%Y')} #{"-" if c.start_date.present? and c.end_date.present?}  #{c.end_date&.strftime('%B-%Y')}"
                - candidate.clients.each do |c|
                  .element-info
                    .element-info-text
                      .mb-2
                        %div
                          %h5.mb-1.text-primary #{c.name}
                          %span.mb-1.h6.d-block.text-secondary=  "At #{c.industry}" if c.industry.present?
                          %strong.font-weight-bold.font-sm.text-capitalize
                            = "#{c.start_date&.strftime('%B-%Y')} #{"-" if c.start_date.present? and c.end_date.present?} #{c.end_date&.strftime('%B-%Y')}"
                        .element-inner-desc
                          %P
                            #{c.project_description}
              - else
                .element-info
                  .element-info-text
                    .mb-2
                      %div
                        %span.mb-1.h6.d-block.text-secondary There is no work Experience
                      .element-inner-desc
                        -if own
                          %P
                            = link_to "Add New One", '/onboarding_profile?tag=skill'


:javascript
  window.onscroll = function() {myFunction()};
  var navbar = document.getElementById("navbar");
  var sticky = navbar.offsetTop;
  function myFunction() {
    if (window.pageYOffset >= sticky) {
      navbar.classList.add("sticky")
    } else {
      navbar.classList.remove("sticky");
    }
  }
  function candidateLogoUpload(url,type){
    photo_url = url
    $('.profile-pic').html('');
    $.ajax({
     type: 'POST',
     dataType: 'json',
     url: "#{ candidate_update_photo_path }",
     data: { photo: photo_url,authenticity_token: window._token },
     success: function (data) {
      $('.img_pic').removeClass('hidden').attr("src",photo_url);
      $('.img_pic_r').remove();
      location.reload();
     }
   });
  }