- unless own
  #navbar.text-right
    = yield :statuses
.content-i
  .content-box
    .row
      .col-sm-4
        .user-profile.compact
          .up-head-w{:style => "background-image:url(#{candidate.photo})"}
            - if own
              = link_to '#', class: 'profile--link', onclick: "upload_file_ajax(candidateLogoUpload)" do
                .up-main-info
                  %h2.up-header
                    %i.icon-feather-camera
                  %h2.up-header
                    = candidate.full_name
                  %h6.up-sub-header
                    = candidate.associated_company.name.capitalize if candidate.associated_company.present?
            -else
              .up-main-info
                %h2.up-header
                  = candidate.full_name
                %h6.up-sub-header
                  = candidate.associated_company.name.capitalize if candidate.associated_company.present?

            %svg.decor{:height => "219px", :preserveaspectratio => "xMaxYMax meet", :version => "1.1", :viewbox => "0 0 842 219", :width => "842px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %g{:fill => "#FFFFFF", :transform => "translate(-381.000000, -362.000000)"}
                %path.decor-path{:d => "M1223,362 L1223,581 L381,581 C868.912802,575.666667 1149.57947,502.666667 1223,362 Z"}
          .up-controls
            .row
              .col-sm-6{style: "display: flex;justify-content: space-evenly;"}
                = contact_widget(candidate.email,candidate.phone,nil,color: '#3b75e3 !important')
              .col-sm-6.text-right
                - if candidate.candidates_resumes.present?
                  -#%a.btn.btn-primary.btn-sm{:href => ""}
                  = link_to candidate.candidates_resumes.primary_resume.resume, class: "btn btn-primary btn-sm", target: "_blank" do
                    %i.os-icon.os-icon-arrow-down6
                    %span Resume
                - elsif own
                  %a.btn.btn-primary.btn-sm{:href => "/onboarding_profile?tag=verify-phone"}
                    %i.os-icon.os-icon-arrow-up6
                    %span Resume

          .up-contents
            .m-b
              .row.m-b
                .col-sm-6.b-r.b-b
                  .el-tablo.centered.padded-v
                    = candidate.exp_words.html_safe
                .col-sm-6.b-b
                  .el-tablo.centered.padded-v
                    .value
                      = candidate.clients.count
                    .label
                      Clients
              .padded
                .os-progress-bar.primary
                  .bar-labels
                    .bar-label-left
                      %span Email
                    .bar-label-right
                      %span.text-success
                        = is_verify(!!candidate.confirmed_at)
                .os-progress-bar.primary
                  .bar-labels
                    .bar-label-left
                      %span Phone
                    .bar-label-right
                      %span.text-success
                        = is_verify(candidate.is_number_verify)
                .os-progress-bar.primary
                  .bar-labels
                    .bar-label-left
                      %span Visa
                    .bar-label-right
                      %span.text-success verified
                .os-progress-bar.primary
                  .bar-labels
                    .bar-label-left
                      %span Identity
                    .bar-label-right
                      %span.text-success verified

        .element-wrapper
          .element-box
            %h4.element-header
              Education
            .element-info.border-0
              .element-info-text
                - candidate.educations.each do |edu|
                  .mb-2
                    %h6.element-inner-header.m-0
                      =edu.degree_level
                    .element-inner-desc
                      =edu.degree_title
            %h4.element-header
              Certification
            .element-info.border-0
              .element-info-text
                - candidate.certificates.each do |cert|
                  .mb-2
                    %h6.element-inner-header.m-0
                      =cert.title
                    .element-inner-desc
                      =cert.institute
            %h4.element-header
              Skills
            .element-info.border-0
              .element-info-text
                - candidate.skill_list.each do |sl|
                  .badge.badge-primary.p-2.mb-1
                    =sl
      .col-sm-8
        .col-sm-12
          .element-wrapper
            .element-box
              .element-info
                .element-info-with-icon
                  .element-info-icon
                    %i.icon-badge
                  .element-info-text
                    %h4.element-inner-header
                      Work Experience
              - if candidate.designations.present? || (candidate.ever_worked_with_company && candidate.clients.present?)
                - candidate.designations.each do |c|
                  .element-info
                    .element-info-text
                      .mb-2
                        %div
                          %h5.mb-1.text-primary #{c.comp_name}
                          %span.mb-1.h6.d-block.text-secondary as #{c.company_role}
                          %strong.font-weight-bold.font-sm.text-capitalize
                            #{c.start_date&.strftime('%B-%Y')} - #{c.end_date&.strftime('%B-%Y')}
                - candidate.clients.each do |c|
                  .element-info
                    .element-info-text
                      .mb-2
                        %div
                          %h5.mb-1.text-primary #{c.name}
                          %span.mb-1.h6.d-block.text-secondary at #{c.industry}
                          %strong.font-weight-bold.font-sm.text-capitalize
                            #{c.start_date&.strftime('%B-%Y')} - #{c.end_date&.strftime('%B-%Y')}
                        .element-inner-desc
                          %P
                            #{c.project_description}
              - else
                .element-info
                  .element-info-text
                    .mb-2
                      %div
                        %span.mb-1.h6.d-block.text-secondary There is no work Experience
                      .element-inner-desc
                        -if own
                          %P
                            = link_to "Add New One", '/onboarding_profile?tag=skill'

          -#.element-wrapper
          -#  .element-box
          -#    .element-info
          -#      .element-info-with-icon
          -#        .element-info-icon
          -#          %i.icon-badge
          -#        .element-info-text
          -#          %h4.element-inner-header
          -#            Company history
          -#    - unless candidate.designations.empty?
          -#      - candidate.designations.each do |c|
          -#        .element-info
          -#          .element-info-text
          -#            .mb-2
          -#              %div
          -#                %h5.mb-1.text-primary #{c.comp_name}
          -#                %span.mb-1.h6.d-block.text-secondary as #{c.company_role}
          -#                %strong.font-weight-bold.font-sm.text-capitalize
          -#                  #{c.start_date&.strftime('%B-%Y')} - #{c.end_date&.strftime('%B-%Y')}
          -#              -#.element-inner-desc
          -#              -#  %P
          -#              -#    #{c.project_description}
          -#    - else
          -#      .element-info
          -#        .element-info-text
          -#          .mb-2
          -#            %div
          -#              %span.mb-1.h6.d-block.text-secondary There is no Company history
          -#            .element-inner-desc
          -#              -if own
          -#                %P
          -#                  = link_to "Add New One", '/onboarding_profile?tag=designate'


:javascript
  window.onscroll = function() {myFunction()};
  var navbar = document.getElementById("navbar");
  var sticky = navbar.offsetTop;
  function myFunction() {
    if (window.pageYOffset >= sticky) {
      navbar.classList.add("sticky")
    } else {
      navbar.classList.remove("sticky");
    }
  }
  function candidateLogoUpload(url,type){
    photo_url = url
    $('.profile-pic').html('');
    $.ajax({
     type: 'POST',
     dataType: 'json',
     url: "#{ candidate_update_photo_path }",
     data: { photo: photo_url,authenticity_token: window._token },
     success: function (data) {
      $('.img_pic').removeClass('hidden').attr("src",photo_url);
      $('.img_pic_r').remove();
      location.reload();
     }
   });
  }