.row.add_experience
  .col-md-12
    .multi-field-container.nested-fields5.client-fields
      %h4.element-header{style: "padding-top: 10px;"}
        Project History
      .row
        .col-sm-12
          .form-group
            %label Client Name
            = f.text_field :name, placeholder: "Company Name", class: 'form-control input'
      .row
        .col-sm-4
          .form-group
            %label Industry
            = f.text_field :industry, placeholder: "Industry",class: 'form-control input'
        .col-sm-4
          .form-group
            %label Start Date
            = f.text_field :start_date, placeholder: "YYYY-MM-DD",class: 'form-control p_date cl_start_year input'
        .col-sm-4
          .form-group
            %label End Date
            = f.text_field :end_date, placeholder:"YYYY-MM-DD",class: 'form-control p_date cl_end_year input'
      .row
        .col-sm-12
          %strong Main Reference
      .row
        .col-sm-4
          .form-group
            %label Name
            = f.text_field :refrence_name, placeholder: "John Doe",class: 'form-control input'
        .col-sm-4
          .form-group
            %label  Phone
            .row
              .col-sm-4
                = f.text_field :refrence_phone_country_code, placeholder: '+00', class: 'form-control input'
              .col
                = f.text_field :refrence_phone, placeholder: '555-5555', class: 'form-control input'
        %div{class: f.object.refrence_one ? "col-sm-3" : "col-sm-4"}
          .form-group
            %label  Email
            = f.text_field :refrence_email, placeholder: "example@domain.com",class: 'form-control input',title: f.object.refrence_one ? 'Verified' :'Not Verified Yet'
        - if f.object.refrence_one
          .col-sm-1
            %h3.text-success.mt-4
              -#%strong
              %i.fa.fa-check
      .row
        .col-sm-12
          %strong Second Reference
      .row
        .col-sm-4
          .form-group
            %label Name
            = f.text_field :refrence_two_name, placeholder: "John Doe",class: 'form-control input'
        .col-sm-4
          .form-group
            %label  Phone
            .row
              .col-sm-4
                = f.text_field :refrence_two_phone_country_code, placeholder: '+00', class: 'form-control input'
              .col
                = f.text_field :refrence_two_phone, placeholder: '555-5555', class: 'form-control input'
        %div{class: f.object.refrence_two ? "col-sm-3" : "col-sm-4"}
          .form-group
            %label  Email
            = f.text_field :refrence_two_email, placeholder: "example@domain.com",class: 'form-control input',title: f.object.refrence_two ? 'Verified' :'Not Verified Yet'
        - if f.object.refrence_two
          .col-sm-1
            %h3.text-success.mt-4
              -#%strong
              %i.fa.fa-check
      .row
        .col-md-12
          .form-group
            %label Project Description
            = f.trix_editor :project_description, class: 'form-control input'
        .col-md-12
          .form-group
            %label Job Description
            = f.trix_editor :role, class: 'form-control input'

- content_for :scripts do
  :javascript
      $(() => {
        $(document).on("click", ".is_client_employer_Yes", function() {
          $(this).closest(".col-md-12").find(".employer_form").show();
          $(this).closest(".col-md-12").find(".employer_form .destroy_client_employer").val("false");
        });

        $(document).on("click", ".is_client_employer_No", function() {
          $(this).closest(".col-md-12").find(".employer_form input:visible").val("");
          $(this).closest(".col-md-12").find(".employer_form .destroy_client_employer").val("true");
          $(this).closest(".col-md-12").find(".employer_form").hide();
        });
      });
