/ = javascript_include_tag 'libs/jquery-2.1.1.min.js'
.content-i
  .content-box
    .row
      .col-sm-4
        .user-profile.compact
          .up-head-w{:style => "background-image:url(img/profile_bg1.jpg)"}
            .up-social
              %a{:href => "#"}
                %i.os-icon.os-icon-twitter
              %a{:href => "#"}
                %i.os-icon.os-icon-facebook
            .up-main-info
              %h2.up-header
                John Mayers
              %h6.up-sub-header
                Product Designer at Facebook
            %svg.decor{:height => "219px", :preserveaspectratio => "xMaxYMax meet", :version => "1.1", :viewbox => "0 0 842 219", :width => "842px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %g{:fill => "#FFFFFF", :transform => "translate(-381.000000, -362.000000)"}
                %path.decor-path{:d => "M1223,362 L1223,581 L381,581 C868.912802,575.666667 1149.57947,502.666667 1223,362 Z"}
          .up-controls
            .row
              .col-sm-6
                .value-pair
                  .label
                    Status:
                  .value.badge.badge-pill.badge-success
                    Online
              .col-sm-6.text-right
                %a.btn.btn-primary.btn-sm{:href => ""}
                  %i.os-icon.os-icon-arrow-down6
                  %span Download Resume
          .up-contents
            .m-b
              .row.m-b
                .col-sm-6.b-r.b-b
                  .el-tablo.centered.padded-v
                    .value
                      25
                    .label
                      Products Sold
                .col-sm-6.b-b
                  .el-tablo.centered.padded-v
                    .value
                      315
                    .label
                      Friends
              .padded
                .os-progress-bar.primary
                  .bar-labels
                    .bar-label-left
                      %span Email
                    .bar-label-right
                      %span.text-success verified
                .os-progress-bar.primary
                  .bar-labels
                    .bar-label-left
                      %span Phone
                    .bar-label-right
                      %span.text-success verified
                .os-progress-bar.primary
                  .bar-labels
                    .bar-label-left
                      %span Visa
                    .bar-label-right
                      %span.text-success verified
                .os-progress-bar.primary
                  .bar-labels
                    .bar-label-left
                      %span Identity
                    .bar-label-right
                      %span.text-success verified

        .element-wrapper
          .element-box
            %h4.element-header
              Education
            .element-info.border-0
              .element-info-text
                .mb-2
                  %h6.element-inner-header.m-0
                    M.D. - master of computer applications mca
                  .element-inner-desc
                    uka tarsadia university, India, Graduated 2013
                .mb-2
                  %h6.element-inner-header.m-0
                    M.D. - master of computer applications mca
                  .element-inner-desc
                    uka tarsadia university, India, Graduated 2013
                .mb-2
                  %h6.element-inner-header.m-0
                    M.D. - master of computer applications mca
                  .element-inner-desc
                    uka tarsadia university, India, Graduated 2013
            %h4.element-header
              Certification
            .element-info.border-0
              .element-info-text
                .mb-2
                  %h6.element-inner-header.m-0
                    M.D. - master of computer applications mca
                  .element-inner-desc
                    uka tarsadia university, India, Graduated 2013
                .mb-2
                  %h6.element-inner-header.m-0
                    M.D. - master of computer applications mca
                  .element-inner-desc
                    uka tarsadia university, India, Graduated 2013
                .mb-2
                  %h6.element-inner-header.m-0
                    M.D. - master of computer applications mca
                  .element-inner-desc
                    uka tarsadia university, India, Graduated 2013
            %h4.element-header
              Skills
            .element-info.border-0
              .element-info-text
                .badge.badge-primary.p-2.mb-1
                  RUby on rails
                .badge.badge-primary.p-2.mb-1
                  java
                .badge.badge-primary.p-2.mb-1
                  C++
                .badge.badge-primary.p-2.mb-1
                  Android
                .badge.badge-primary.p-2.mb-1
                  IOs
                .badge.badge-primary.p-2.mb-1
                  Nodejs
      .col-sm-8
        .element-wrapper
          .element-box
            .element-info
              .element-info-with-icon
                .element-info-icon
                  .os-icon.os-icon-wallet-loaded
                .element-info-text
                  %h4.element-inner-header
                    Work history
                  .element-inner-desc
                    Validation of the form is made possible using powerful validator plugin for bootstrap.
            .element-info
              .element-info-text
                .mb-2
                  %div
                    %h5.mb-1.text-primary Senior Frontend Developer
                    %span.mb-1.h6.d-block.text-secondary at Google - SF, US
                    %strong.font-weight-bold.font-sm.text-capitalize
                      march-2017 - april 2017
                  .element-inner-desc
                    %P
                      It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
            .element-info
              .element-info-text
                .mb-2
                  %div
                    %h5.mb-1.text-primary Senior Frontend Developer
                    %span.mb-1.h6.d-block.text-secondary at Google - SF, US
                    %strong.font-weight-bold.font-sm.text-capitalize
                      march-2017 - april 2017
                  .element-inner-desc
                    %P
                      It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
            .element-info
              .element-info-text
                .mb-2
                  %div
                    %h5.mb-1.text-primary Junior Frontend Developer
                    %span.mb-1.h6.d-block.text-secondary at Slack Inc - London, UK
                    %strong.font-weight-bold.font-sm.text-capitalize
                      march-2017 - april 2017
                  .element-inner-desc
                    %P.m-0
                      It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
            .element-info
              .element-info-text
                .mb-2
                  %div
                    %h5.mb-1.text-primary IT business manager
                    %span.mb-1.h6.d-block.text-secondary at Google - London, UK
                    %strong.font-weight-bold.font-sm.text-capitalize
                      march-2017 - april 2017
                  .element-inner-desc
                    %P.m-0
                      It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
            .element-info
              .element-info-text
                .mb-2
                  %div
                    %h5.mb-1.text-primary Senior Frontend Developer
                    %span.mb-1.h6.d-block.text-secondary at Google - SF, US
                    %strong.font-weight-bold.font-sm.text-capitalize
                      march-2017 - april 2017
                  .element-inner-desc
                    %P.m-0
                      It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).



#content.newsfeed
  %body
    %section#widget-grid.clearfix
      .newsfeed-left
        %ul
          - @jobs.each do |job|
            -# if !(Time.parse(job.created_at.to_s) <= Time.parse(Time.now.to_s) && job.job_applications.blank?)
            %li
              = link_to job_candidate_public_job_path(job), remote: true do
                %div.public-job-list.clearfix
                  %span.pull-left
                    =job.id
                  %span.pull-right
                    %i.fa.fa-calendar-o
                    =job.created_at.strftime("%d/%m/%Y")
                %div.job-header.clearfix
                  = image_tag job.company.logo,  style:"width:50px;height:50px", fit: 'clip'
                  %p.job_title
                    = truncate(job.title,length: 50)
                  %p.job_title
                    %i.fa.fa-usd
                    =job.price
                %div.public-job-other-info
                  %span
                    %i.fa.fa-map-marker
                    =job.location
                  %span
                    %i.fa.fa-user
                    =job.created_by.full_name
        = digg_pagination(@jobs)
      .newsfeed-right
        %div#public-job-description

-content_for :body_class, 'greybg'
- content_for :modals do
  #job_application



/ #content
/   .row
/     .col-sm-12.col-md-12.col-lg-3
/       .panel-body.status.profile-margin
/         .text
/           %div.profile-hover
/             %p.imgDescription.col-sm-offset-4 Change Image
/             %div.pictureContainer.col-md-offset-2
/               = filepicker_field_tag "" ,class: "hidden file", onchange:"employeeLogoUpload(event)","data-fp-crop-ratio" => "2/2",mimetypes: "image/*"
/               -if(current_candidate.photo.present?)
/                 = image_tag current_candidate.photo,  style:"width:100px;height:100px", fit: 'clip',:class =>"profile-pic image-setting"

/               -else
/                 = image_tag image_path('default_user.png'),  style: "width:100px;height:100px", fit: 'clip',:class =>"profile-pic image-setting"

/         %ul.links.hidden-sm.hidden-xs
/           %li
/             = filepicker_field_tag "" ,class: "hidden resume_file", onchange:"uploadResume(event)"
/             - if !current_candidate.resume.present?
/               = link_to "Upload CV" ,"#",class: 'resume btn btn-md btn-primary'
/             - else
/               = link_to "Change CV","#",class: 'resume btn btn-md btn-primary'

/           %li
/             %a{:href => "javascript:void(0);"}

/           %li
/             %a{:href => "javascript:void(0);"}



/     .col-sm-12.col-md-12.col-lg-9
/       #wid-id-7.jarviswidget.jarviswidget-color-teal{"data-widget-attstyle" => "jarviswidget-color-teal", "data-widget-custombutton" => "false", "data-widget-editbutton" => "false", "data-widget-fullscreenbutton" => "false", "data-widget-sortable" => "false", :role => "widget", :style => ""}
/         %header{:role => "heading"}
/           %ul.nav.nav-tabs.pull-left.in#myTab
/             %li.active
/               %a{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#hr1"}
/                 %i.fa.fa-lg.fa-info-circle
/                 %span.hidden-mobile.hidden-tablet Basic Info
/             %li
/               %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#hr2"}
/                 %i.fa.fa-lg.fa-location-arrow
/                 %span.hidden-mobile.hidden-tablet
/                   Address
/             %li
/               %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#hr3"}
/                 %i.fa.fa-lg.fa-graduation-cap
/                 %span.hidden-mobile.hidden-tablet
/                   Educations
/             %li
/               %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#hr4"}
/                 %i.fa.fa-black-tie.fa-lg
/                 %span.hidden-mobile.hidden-tablet
/                   Experience
/             %li
/               %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#hr5"}
/                 %i.fa.fa-briefcase.fa-lg
/                 %span.hidden-mobile.hidden-tablet
/                   Portfolio
/           %span.jarviswidget-loader
/             %i.fa.fa-refresh.fa-spin
/         / widget div
/         %div{:role => "content"}
/           .jarviswidget-editbox

/           .widget-body
/             .tab-content
/               -## Basic Info form TAB
/               #hr1.tab-pane.active
/                 = link_to 'Add Skills' ,"#",class:'btn btn-primary pull-right margin-bottom-5 margin-right-10',"data-target" => "#skills", "data-toggle" => "modal"
/                 .tabbable.tabs-below
/                   =render partial: 'candidate/candidates/partials/basic_info',locals: {candidate: current_candidate}
/                 = render partial: 'candidate/candidates/partials/skills_modal'

/               -# Locations form TAB
/               #hr2.tab-pane
/                 -#%button.btn.btn-primary{"data-target" => "#myModal", "data-toggle" => "modal"}
/                 -#  Add Location
/                   =#render partial: 'candidate/candidates/partials/location',locals:{address: current_candidate.addresses}

/               #hr3.tab-pane
/                 %button.btn.btn-primary.pull-right.margin-bottom-5.margin-right-10{"data-target" => "#education", "data-toggle" => "modal"}
/                   New
/                 .tabbable.tabs-below
/                   = render partial: 'candidate/educations/partials/education_detail',locals: {user: current_candidate}
/                 = render partial: 'candidate/educations/partials/form' ,locals: {user: current_candidate}
/               #hr4.tab-pane
/                 %button.btn.btn-primary.pull-right.margin-bottom-5.margin-right-10{"data-target" => "#experience", "data-toggle" => "modal"}
/                   New
/                 .tabbable.tabs-below
/                   = render partial: 'candidate/experiences/partials/experience_detail',locals: {user: current_candidate}
/                 = render partial: 'candidate/experiences/partials/form' ,locals: {user: current_candidate}
/               #hr5.tab-pane
/                 %button.btn.btn-primary.pull-right.margin-bottom-5.margin-right-10{"data-target" => "#add-portfolio", "data-toggle" => "modal"}
/                   New
/                 .tabbable.tabs-below
/                   = render partial: 'candidate/portfolios/partials/portfolio',locals: {user: current_candidate}
/ - content_for :modals do
/   = render partial: 'candidate/portfolios/partials/form_modal'




/ - content_for :scripts do
/   :javascript

/     $(document).ready(function() {

/       $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
/             // localStorage.setItem('activeTab', $(e.target).attr('href'));
/             var id = $(e.target).attr("href").substr(1);
/             window.location.hash = id;
/           });
/         var hash = window.location.hash;
/         $('#myTab a[href="' + hash + '"]').tab('show');

/       $( ".profile-pic" ).click(function()
/       {
/         $( ".file" ).trigger( "click" );
/       });

/       $('.resume').on("click",function(){

/           $(".resume_file").trigger("click");

/       });
/       $( '.file-portfolio' ).on('click',function() {
/         $('.fp__overlay').css({'z-index':'99999'});

/      });


/        $(".best_in_place").best_in_place();
/        $(".best_in_place").on('change', function(event) {
/           flash_success('Change Saved!');
/       });
/       $('#education_start_year').datepicker({
/         dateFormat : 'dd/mm/yy'
/       });
/       $('#education_completion_year').datepicker({
/         dateFormat : 'dd/mm/yy'
/       });
/       $('#experience_start_date').datepicker({
/         dateFormat : 'dd/mm/yy'
/       });
/       $('#experience_end_date').datepicker({
/         dateFormat : 'dd/mm/yy'
/       });

/     });
/     function employeeLogoUpload(event){
/       photo_url = event.fpfile.url
/       $('.profile-pic').html('');
/       $.ajax({
/        type: 'POST',
/        dataType: 'json',
/        url: "#{candidate_update_photo_path}",
/        data: { photo: photo_url,authenticity_token: window._token },
/        success: function (data) {
/         $('.text img').attr("src",photo_url);
/        }
/      });
/     }
/     function uploadResume(event){
/       resume_url = event.fpfile.url
/       $.ajax({
/        type: 'POST',
/        dataType: 'json',
/        url: "#{upload_resume_candidates_path}",
/        data: { resume: resume_url,authenticity_token: window._token },
/        // success: function (data) {
/        // }
/      });
/     }
/     $.datepicker.setDefaults({
/         changeYear: true,
/         yearRange: "1900:2017",
/         showMonthAfterYear: true,
/         showButtonPanel: true,
/         showAnim: "fold",
/         selectOtherMonths: true,
/         autoSize: true,
/         dateFormat: "yy-mm-dd"

/       });
/     $(".edit_in_line").css("display","none");
/     $('td').on('mouseover mouseout',function(){
/     $(this).find('.editprofile-pic_in_line').toggle();

/     });

    


