.popup-backgroud
.popup-container
  #slideshow.sliders.mt-4

    .active-slide.slide
      .slick_header.container.d-flex
        %h5 Edit First & Last Name
        %span.icon-feather-x-circle.close_slick
      .slider-data-text
        .container
          = form_for current_candidate, url: candidate_candidate_path(current_candidate.id, tab: "fln_basic_info"),method: :put, remote: true do |f|
            .row
              .col-sm-12
                %label First Name
                .form-group
                  = f.text_field :first_name  ,:placeholder => "Enter First Name",class:'form-control input'
              .col-sm-12
                %label Last Name
                .form-group
                  = f.text_field :last_name  ,:placeholder => "Enter last Name",class:'form-control input'
                =f.submit :submit, :class => "btn btn-primary btn-xs"

    .slide
      .slick_header.container.d-flex
        %h5 Candidate Resumes
        %span.icon-feather-x-circle.close_slick
      .slider-data-text
        .container
          .row
            .col-sm-12.col-md-12.col-lg-2
              %div.profile-hover
                %div.pictureContainer
                  = button_tag "Upload CV" , class: 'm-0 resume btn btn-primary btn-rounded btn-lg', onclick: "upload_resume_file()"
                  -#= link_to "Upload CV" ,"#",class: 'm-0 resume btn btn-primary btn-rounded btn-lg', style: "margin-bottom: 10px"
          #resume_on_slick
            = render 'candidate/candidates/partials/resumes_on_slick'

.with-side-panel
  .content-i
    .content-box
      .row
        .element-wrapper.w-100
          %h6.element-header
            Dashboard
          .row.mb-4{style: "justify-content: flex-end;"}
            %ul.nav.nav-tabs.smaller.float-right{style: "border-bottom: none;"}
              %li.nav-item
                %a{class: "nav-link active fd year", href: candidate_filter_cards_data_path("year"),"data-toggle" => "tab", "data-remote" => "true"} year
              %li.nav-item
                %a{class: "nav-link fd quarter ", href: candidate_filter_cards_data_path("quarter"),"data-toggle" => "tab", "data-remote" => "true"} Quarter
              %li.nav-item
                %a{class: "nav-link fd month", href: candidate_filter_cards_data_path("month"),"data-toggle" => "tab", "data-remote" => "true"} Month
              %li.nav-item
                %input{class: 'pull-right nav-link', id: 'custom_range', plceholder: 'Custom Rage Search', "data-date-format" => "DD/MM/YYYY"}
          .element-content#dashboard_cards
            =render 'candidate/candidates/partials/dashboard_cards', cards: @cards
      .row
        -activities = candidate_activity_hash
        - if activities.present?
          .col-sm-12
            .element-wrapper
              %h6.element-header
                User Activity
              .timed-activities.compact
                -activities.each do |key,value|
                  .timed-activity
                    .ta-date
                      %span
                        = key
                    .ta-record-w
                      - value.each do |activity|
                        = render_activity activity
    .content-panel
      .content-panel-close
        %i.os-icon.os-icon-close
      .element-wrapper
        %h6.element-header
          Quick Links
        .element-box-tp
          .el-buttons-list.full-width
            %a.btn.btn-white.btn-sm{:href => "/onboarding_profile?tag=verify-phone"}
              %i.os-icon.os-icon-arrow-up6
              %span Upload Resume

.dashboard_jobs
  =render 'candidate/candidates/partials/jobs',jobs: @jobs unless @jobs.blank?


- content_for :modals do
  #job_application
- content_for :scripts do
  :javascript

