.content-i
  .content-box
    .row
      .col-sm-12
        .element-wrapper
          .element-box-tp
            .controls-above-table
              .row.mr-1.ml-1
                .col-sm-12
                  .form-inline.justify-content-sm-end
                    %input.form-control.form-control-sm.rounded.bright{placeholder: "Search", type: "text", type: 'search', id: "candidate_expenses_datatable-search"}
            .table-responsive
              %table.table.table-striped.table-bordered.table-hover.table-lg{id: "candidate_expenses_datatable"}
                %thead
                  %tr
                    %th CONTRACT
                    %th STATUS
                    %th DUE DATE
                    %th EXPENSE TYPE
                    %th OPEN BALANCE
                    %th PAYMENT MADE
                %tbody
                  -@expense_accounts.each do |ea|
                    %tr
                      %td=ea.expense.contract.project_name
                      %td= ea.status.capitalize
                      %td= ea.expense.due_date
                      %td= ea.expense_type.name
                      %td= ea.amount
                      %td= ea.payment.to_f

- content_for :scripts do
  :javascript
    $(document).ready(function() {
      default_active_nav('.ln-6');
    });