.content-i
  .content-box
    .row
      .col-sm-4
        .user-profile.compact
          .up-head-w{:style => "background-image:url(#{current_candidate.photo})"}
            .up-social
              %a{:href => current_candidate.twitter_url, target: "_blank"}
                %i.os-icon.os-icon-twitter
              %a{:href => current_candidate.facebook_url, target: "_blank"}
                %i.os-icon.os-icon-facebook
            .up-main-info
              %h2.up-header
                = current_candidate.full_name
              %h6.up-sub-header
                Product Designer at Facebook
            %svg.decor{:height => "219px", :preserveaspectratio => "xMaxYMax meet", :version => "1.1", :viewbox => "0 0 842 219", :width => "842px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %g{:fill => "#FFFFFF", :transform => "translate(-381.000000, -362.000000)"}
                %path.decor-path{:d => "M1223,362 L1223,581 L381,581 C868.912802,575.666667 1149.57947,502.666667 1223,362 Z"}
          .up-controls
            .row
              .col-sm-6{style: "display: flex;justify-content: space-evenly;"}
                = contact_widget(current_candidate.email,current_candidate.phone)
              .col-sm-6.text-right
                - if current_candidate.candidates_resumes.present?
                  -#%a.btn.btn-primary.btn-sm{:href => ""}
                  = link_to current_candidate.candidates_resumes.primary_resume.resume, class: "btn btn-primary btn-sm", target: "_blank" do
                    %i.os-icon.os-icon-arrow-down6
                    %span Resume
                - else
                  %a.btn.btn-primary.btn-sm{:href => "/onboarding_profile?tag=verify-phone"}
                    %i.os-icon.os-icon-arrow-up6
                    %span Resume

          .up-contents
            .m-b
              .row.m-b
                .col-sm-6.b-r.b-b
                  .el-tablo.centered.padded-v
                    .value
                      25
                    .label
                      Products Sold
                .col-sm-6.b-b
                  .el-tablo.centered.padded-v
                    .value
                      315
                    .label
                      Friends
              .padded
                .os-progress-bar.primary
                  .bar-labels
                    .bar-label-left
                      %span Email
                    .bar-label-right
                      %span.text-success
                        = is_verify(!!current_candidate.confirmed_at)
                .os-progress-bar.primary
                  .bar-labels
                    .bar-label-left
                      %span Phone
                    .bar-label-right
                      %span.text-success
                        = is_verify(current_candidate.is_number_verify)
                .os-progress-bar.primary
                  .bar-labels
                    .bar-label-left
                      %span Visa
                    .bar-label-right
                      %span.text-success verified
                .os-progress-bar.primary
                  .bar-labels
                    .bar-label-left
                      %span Identity
                    .bar-label-right
                      %span.text-success verified

        .element-wrapper
          .element-box
            %h4.element-header
              Education
            .element-info.border-0
              .element-info-text
                - current_candidate.educations.each do |edu|
                  .mb-2
                    %h6.element-inner-header.m-0
                      =edu.degree_level
                    .element-inner-desc
                      =edu.degree_title
            %h4.element-header
              Certification
            .element-info.border-0
              .element-info-text
                - current_candidate.certificates.each do |cert|
                  .mb-2
                    %h6.element-inner-header.m-0
                      =cert.title
                    .element-inner-desc
                      =cert.institute
            %h4.element-header
              Skills
            .element-info.border-0
              .element-info-text
                - current_candidate.skill_list.each do |sl|
                  .badge.badge-primary.p-2.mb-1
                    =sl
      .col-sm-8
        .element-wrapper
          .element-box
            .element-info
              .element-info-with-icon
                .element-info-icon
                  %i.icon-badge
                .element-info-text
                  %h4.element-inner-header
                    Work history
            - if current_candidate.ever_worked_with_company && current_candidate.clients.present?
              - current_candidate.clients.each do |c|
                .element-info
                  .element-info-text
                    .mb-2
                      %div
                        %h5.mb-1.text-primary #{c.name}
                        %span.mb-1.h6.d-block.text-secondary at #{c.industry}
                        %strong.font-weight-bold.font-sm.text-capitalize
                          #{c.start_date&.strftime('%B-%Y')} - #{c.end_date&.strftime('%B-%Y')}
                      .element-inner-desc
                        %P
                          #{c.project_description}
            - else
              .element-info
                .element-info-text
                  .mb-2
                    %div
                      %span.mb-1.h6.d-block.text-secondary There is no work history
                    .element-inner-desc
                      %P
                        = link_to "Add New One", '/onboarding_profile?tag=skill'