<div class="content-w">
  <div class="content-i">
    <div class="content-box">
      <!-- Example single danger button -->


      <div class="support-index">
        <div class="support-tickets">
          <div class="support-tickets-header">
            <!--            <div class="tickets-control"><h5>Notifications</h5>-->
            <!--              <div class="element-search"><input placeholder="Type to filter tickets..." type="text"></div>-->
            <!--            </div>-->
            <div class="tickets-filter">
              <div class="form-group mr-3">
                <label class="d-none d-md-inline-block mr-2">Status</label>
                <div class="btn-group">
                  <button type="button" class="btn btn-primary dropdown-toggle" id="status">
                    <%= snake_to_words(params[:status]) %>
                  </button>
                  <div class="custom_drop" id="status-menue">
                    <% Notification.statuses.keys.append("all_notifications").each do |name| %>
                      <%= link_to(snake_to_words(name), notify_notifications_candidates_path(status: name, notification_type: params[:notification_type]), class: "dropdown-item") %>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="form-group mr-1">
                <label class="d-none d-md-inline-block mr-2">Type</label>
                <div class="btn-group">
                  <button type="button" class="btn btn-primary dropdown-toggle" id="type">
                    <%= snake_to_words(params[:notification_type]) %>
                  </button>
                  <div id="type-menu" class='custom_drop'>
                    <% Notification.notification_types.keys.append("all_notifications").each do |name| %>
                      <%= link_to(snake_to_words(name), notify_notifications_candidates_path(status: params[:status], notification_type: name), class: "dropdown-item") %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%= render 'candidate/candidates/partials/notification_cards', notifications: @notifications %>
          <div class="m-4">
            <%= will_paginate @notifications %>
          </div>
        </div>
        <% unless @notifications.empty? %>
          <div class="support-ticket-content-w">
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
