%script{:src => "https://sdk.accountkit.com/en_US/sdk.js"}
%script{:src => "https://sdk.accountkit.com/en_EN/sdk.js"}
%script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyD_faX-g1fbUqz_ecgZ0nXuw_Z6T1rBuSU"}

%body
  .content-box
    .element-wrapper
      .element-box
        %div#wizard-1{:novalidate => "novalidate"}
          #bootstrap-wizard-1.col-sm-12
            .form-bootstrapWizard.mb-5
              %ul.bootstrapWizard.form-wizard
                %li{"data-target" => "#step1", :id=>"wiz_tab1", class: @tab.blank? ? "active" : ""}
                  %a{"data-toggle" => "tab", :href => "#tab1"}
                    %span.step 1
                    %span.title Veryfy Number
                %li{"data-target" => "#step2" , :id=>"wiz_tab2", class: @tab == "verify-phone" ? "active" : ""}
                  %a{"data-toggle" => "tab", :href => "#tab2"}
                    %span.step 2
                    %span.title Personal information
                %li{"data-target" => "#step3" , :id=>"wiz_tab3", class: @tab == "basic_info" ? "active" : ""}
                  %a{"data-toggle" => "tab", :href => "#tab3"}
                    %span.step 3
                    %span.title Social Media
                %li{"data-target" => "#step4" , :id=>"wiz_tab4", class: @tab == "basic_info1" ? "active" : ""}
                  %a{"data-toggle" => "tab", :href => "#tab4"}
                    %span.step 4
                    %span.title Update Education
                %li{"data-target" => "#step5" , :id=>"wiz_tab5", class: @tab == "edu" ? "active" : ""}
                  %a{"data-toggle" => "tab", :href => "#tab5"}
                    %span.step 5
                    %span.title Update Skills
                %li{"data-target" => "#step6" , :id=>"wiz_tab6", class: @tab == "skill" ? "active" : ""}
                  %a{"data-toggle" => "tab", :href => "#tab6"}
                    %span.step 6
                    %span.title Client Information
                %li{"data-target" => "#step7" , :id=>"wiz_tab7", class: @tab == "client" ? "active" : ""}
                  %a{"data-toggle" => "tab", :href => "#tab7"}
                    %span.step 7
                    %span.title Employer Information
                %li{"data-target" => "#step8" , :id=>"wiz_tab8", class: @tab == "des" ? "active" : ""}
                  %a{"data-toggle" => "tab", :href => "#tab8"}
                    %span.step 8
                    %span.title Background Check
                %li{"data-target" => "#step9" , :id=>"wiz_tab9", class: @tab == "designate" ? "active" : ""}
                  %a{"data-toggle" => "tab", :href => "#tab9"}
                    %span.step 9
                    %span.title Save Form
              .clearfix
            .tab-content
              #tab1.tab-pane{class: @tab.blank? ? "active" : "" }
                %br/
                %h4.element-header
                  Verify phone number
                .row
                  .col-sm-12
                    .row
                      .col-sm-1
                        .form-group
                          %input#country_code.form-control.input-lg{:name => "country_code", :type => "text", :value=>"+91"}/

                      .col-sm-6
                        .form-group
                          .input-group
                            .input-group-prepend
                              .input-group-text
                                %i.fa.fa-mobile-phone.fa-lg.fa-fw
                            %input#phone_no.form-control.input-lg{:name => "phone_no", :placeholder => "Enter Phone number", :type => "text", :value=>current_candidate.phone}/

                      .col-sm-4
                        .form-group
                          .input-group
                            %a.btn.btn-primary.btn-lg{:href => "javascript:void(0);", :onclick => "smsLogin();"} Send OTP

              #tab2.tab-pane{class: @tab == "verify-phone" ? "active" : "" }
                %br/
                %h4.element-header
                  Personal Information
                .row
                  .col-4.col-sm-3.col-xxl-2
                    .profile-tile.profile-tile-inlined
                      .profile-tile-box.faded
                        .pt-new-icon
                          %i.os-icon.os-icon-plus
                        .pt-user-name
                          Add
                          %br/
                          Profile Picture
                  .col-sm-12.col-md-12.col-lg-2
                    .panel-body.status.profile-margin
                      .text
                        %div.profile-hover
                          %div.pictureContainer
                            = filepicker_field_tag "" ,class: "hidden candi-logo", onchange:"candidateLogoUpload(event)","data-fp-crop-ratio" => "2/2",mimetypes: "image/*"
                            -if(current_candidate.photo.present?)
                              = image_tag current_candidate.photo,  style:"width:100px;height:100px", fit: 'clip',:class =>"candi-profile-pic img_pic"
                            -else
                              = image_tag image_path('avatars/m_sunny_big.png'),  style: "width:100px;height:100px", fit: 'clip', class: "img_pic"
                  .col-sm-12.col-md-12.col-lg-10
                    .panel-body.status.profile-margin
                      .text
                        %div.profile-hover
                          %div.pictureContainer.col-md-offset-2
                            = filepicker_field_tag "" ,class: "hidden file", onchange:"employeevideoUpload(event)","data-fp-crop-ratio" => "2/2",mimetypes: "video/*"
                            -if(current_candidate.video.present?)
                              %video{:controls => "", :width => "100", :height=> "100"}
                                %source{:src => current_candidate.video, :type => "#{current_candidate.video_type}"}
                            -else
                              = image_tag image_path('avatars/m_sunny_big.png'),  style: "width:100px;height:100px", fit: 'clip',:class =>"video-pic"
                .row{style: "padding: 15px;"}

                =render partial: 'candidate/candidates/partials/basic_info_form',locals: {candidate: current_candidate}

              #tab3.tab-pane{class: @tab == "basic_info" ? "active" : "" }
                %br/
                %h3
                  %strong Step 3
                  \- Social Media
              #tab4.tab-pane{class: @tab == "basic_info1" ? "active" : "" }
                %br/
                %h5.element-header
                  Education Details
                .row
                  .col-sm-12.col-md-12.col-lg-12
                    =render partial: 'candidate/candidates/partials/education_form',locals:{education: current_candidate.educations}

              #tab5.tab-pane{class: @tab == "edu" ? "active" : "" }
                %br/
                %h4.element-header
                  Update Skills
                = render partial: 'candidate/candidates/partials/skill_form',locals: {user: current_candidate}

              #tab6.tab-pane{class: @tab == "skill" ? "active" : "" }
                %br/
                %h4.element-header
                  Client Information
                .row
                  .col-sm-12.col-md-12.col-lg-12
                    = render partial: 'candidate/candidates/partials/client_form',locals: {user: current_candidate}

              #tab7.tab-pane{class: @tab == "client" ? "active" : "" }
                %br/
                %h4.element-header
                  Employer Information
                .row
                  .col-sm-12.col-md-12.col-lg-12
                    = render partial: 'candidate/candidates/partials/designate_form',locals: {user: current_candidate}

              #tab8.tab-pane{class: @tab == "des" ? "active" : "" }
                %br/
                .row
                  .col-sm-12.col-md-12.col-lg-12
                    = render partial: 'candidate/candidates/partials/submit_doc_form',locals: {user: current_candidate}

              #tab9.tab-pane{class: @tab == "designate" ? "active" : "" }
                %br/
                %h4.element-header
                  Save Form
                %br/
                %h1.text-center.text-success
                  %strong
                    %i.fa.fa-check.fa-lg
                    Complete
                %h4.text-center Click next to finish
                %br/
                %br/
              .form-actions.wizard-action
                .row
                  .col-sm-12
                    %ul.pager.wizard.no-margin.clearfix.p-0
                      %li.previous.disabled.pull-left
                        %a{:href => "javascript:void(0);"} Previous
                      %li.next.pull-right
                        %a{:href => "javascript:void(0);"} Next


- content_for :scripts do
  :javascript
    // Facebook Account Kit
    $(document).ready(function() {
      // initialize Account Kit with CSRF protection
      AccountKit_OnInteractive = function(){
        AccountKit.init(
          {
            appId:"1209424855859249",
            state:"fgh521fgh",
            version:"v1.1",
            fbAppEventsEnabled:true
            //redirect:"/"
          }
        );
      };
     
    }); 

    function loginCallback(response) {
      if (response.status === "PARTIALLY_AUTHENTICATED") {
        var code = response.code;
        var csrf = response.state;
        //Click on next after Authenticate
        var phoneNumber = document.getElementById("phone_no").value;

        $.ajax({
         url: '/candidate/update_mobile_number',
         type: "POST",
         contentType:"application/json",
         data: JSON.stringify({phone_number:phoneNumber, id:"#{current_candidate.id}"}),
         success:function(data){
            $(".next a").click();
         }
        });

      }
      else if (response.status === "NOT_AUTHENTICATED") {
      }
      else if (response.status === "BAD_PARAMS") {
      }
    }

    function smsLogin() {
      var countryCode = document.getElementById("country_code").value;
      var phoneNumber = document.getElementById("phone_no").value;
      AccountKit.login(
        'PHONE', 
        {countryCode: countryCode, phoneNumber: phoneNumber}, // will use default values if not specified
        loginCallback
      );
    }

    //Bootstrap Wizard
    $(document).ready(function() {
      //Bootstrap Wizard Validations

        $('#bootstrap-wizard-1').bootstrapWizard({
          'tabClass': 'form-wizard',
          'onNext': function (tab, navigation, index) {
              $('#bootstrap-wizard-1').find('.form-wizard').children('li').eq(index - 1).addClass(
                'complete');
              $('#bootstrap-wizard-1').find('.form-wizard').children('li').eq(index - 1).find('.step')
              .html('<i class="fa fa-check"></i>');
          }
        });


      // fuelux wizard
        $("ul.wizard li.previous").on("click", function() {
          $(this).closest('.tab-content').find('.tab-pane.active form').submit();
        });

        $("ul.wizard li.next").on("click", function() {
          $(this).closest('.tab-content').find('.tab-pane.active form').submit();
        });

        var wizard = $('.wizard').wizard();
        
        wizard.on('finished', function (e, data) {
          //$("#fuelux-wizard").submit();
          $.smallBox({
            title: "Congratulations! Your form was submitted",
            content: "<i class='fa fa-clock-o'></i> <i>1 seconds ago...</i>",
            color: "#5F895F",
            iconSmall: "fa fa-check bounce animated",
            timeout: 4000
          });
        });
    })
