#content.candidate-profile
  .row
    .col-sm-12.col-md-12.col-lg-3
      .panel-body.status.profile-margin
        .text
          %div.profile-hover
            %p.imgDescription.col-sm-offset-4 Change Image
            %div.pictureContainer.col-md-offset-2
              = filepicker_field_tag "" ,class: "hidden candi-logo", onchange:"candidateLogoUpload(event)","data-fp-crop-ratio" => "2/2",mimetypes: "image/*"
              -if(current_candidate.photo.present?)
                = image_tag current_candidate.photo,  style:"width:100px;height:100px", fit: 'clip',:class =>"candi-profile-pic img_pic"

              -else
                = image_tag image_path('default_user.png'),  style: "width:100px;height:100px", fit: 'clip', class: "img_pic"
        %p.text-center Upload Your Picture

        .panel-body.status.profile-margin
          .text
            %div.profile-hover
              %p.imgDescription.col-sm-offset-4 Upload Video
              %div.pictureContainer.col-md-offset-2
                = filepicker_field_tag "" ,class: "hidden file", onchange:"employeevideoUpload(event)","data-fp-crop-ratio" => "2/2",mimetypes: "video/*"
                -if(current_candidate.video.present?)
                  %video{:controls => "", :width => "200", :height=> "200"}
                    %source{:src => current_candidate.video, :type => "#{current_candidate.video_type}"}
                -else
                  = image_tag image_path('default_user.png'),  style: "width:100px;height:100px", fit: 'clip',:class =>"video-pic"
                = button_tag "Upload Video", fit: 'clip',:class =>"video-pic img1"
    .col-sm-12.col-md-12.col-lg-9
      #wid-id-7.jarviswidget.jarviswidget-color-teal{"data-widget-attstyle" => "jarviswidget-color-teal", "data-widget-custombutton" => "false", "data-widget-editbutton" => "false", "data-widget-fullscreenbutton" => "false", "data-widget-sortable" => "false", :role => "widget", :style => ""}
        %header{:role => "heading"}
          %ul.nav.nav-tabs.pull-left.in#myTab
            %li{class: ("active" if params[:tab] == 'basic_info' || params[:tab].nil?)}
              %a{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#hr1"}
                %span.hidden-mobile.hidden-tablet Basic Information
          %span.jarviswidget-loader
            %i.fa.fa-refresh.fa-spin
        / widget div
        %div{:role => "content"}
          .jarviswidget-editbox

          .widget-body
            .tab-content
              #hr1.tab-pane{class: ("active" if params[:tab] == 'basic_info' || !params[:tab].present?)}
                .tabbable.tabs-below
                  =render partial: 'candidate/candidates/partials/basic_info_form',locals: {candidate: current_candidate}

- content_for :head do
  %script{:src => "http://maps.google.com/maps/api/js?key=AIzaSyDk4kWlA522W3T4oGwdug5nKPXYMhU6rCE&sensor=false&libraries=places"}

-content_for :scripts do
  :javascript
    $(document).ready(function() {
      $(".select2").select2({placeholder: "Select a User(s)"});
      $(".file_select").select2({placeholder: "Select Company Document"});
      $('.fileUpload').on("click",function(){
        $(".file").trigger("click");
        $('.fp__overlay').css({'z-index':'99999'});
      });
      var chatBody = $('#chat-body') ;
      chatBody.scrollTop(5000000000);
       $('.resume').on("click",function(){
          $(".resume_file").trigger("click");
      });
     $( ".video-pic" ).click(function() {
      $( ".file" ).trigger( "click" );
     });
      $( ".candi-profile-pic" ).click(function()
      {
        $( ".candi-logo" ).trigger( "click" );
      });
     $('.education_start_year, .education_completion_year, .start_date, .end_date').datepicker({
       autoclose: true,
       todayHighlight: true,
       format: "mm-dd-yy"
      });
      $('#myTab a').click(function(e) {
        e.preventDefault();
        $(this).tab('show');
      });
      $("ul.nav-tabs > li > a").on("shown.bs.tab", function(e) {
        var id = $(e.target).attr("href").substr(1);
        window.location.hash = id;
      });

      var hash = window.location.hash;
      $('#myTab a[href="' + hash + '"]').tab('show');

    });
    function uploadResume(event){
      resume_url = event.fpfile.url
      $.ajax({
       type: 'POST',
       dataType: 'json',
       url: " #{ upload_resume_candidates_path } ",
       data: { resume: resume_url,authenticity_token: window._token },
       success: function (data) {  }
     });
    }
    function candidateLogoUpload(event){
      photo_url = event.fpfile.url
      $('.profile-pic').html('');
      $.ajax({
       type: 'POST',
       dataType: 'json',
       url: "#{ candidate_update_photo_path }",
       data: { photo: photo_url,authenticity_token: window._token },
       success: function (data) {
        $('.text.img_pic').attr("src",photo_url);
        location.reload();
       }
     });
    }
    function employeevideoUpload(event){
      video_url = event.fpfile.url
      video_type=event.fpfile.mimetype
      $('.video-pic').html('');
      $.ajax({
       type: 'POST',
       dataType: 'json',
       url: "#{ update_video_candidates_path }",
       data: { video: video_url,authenticity_token: window._token, video_type: video_type },
       success: function (data) {
        $('.text img1').attr("src",video_url);
        location.reload();
       }
     });
    }
    google.maps.event.addDomListener(window, 'load', function () {
      var places = new google.maps.places.Autocomplete(document.getElementById('candidate_address_attributes_address_1'));
      google.maps.event.addListener(places, 'place_changed', function () {
        var place = places.getPlace();
      });
    });

    var input = document.getElementById('candidate_address_attributes_address_1');
    google.maps.event.addDomListener(input, 'keydown', function(event) {
      if (event.keyCode === 13) {
        event.preventDefault();
      }
    });
