%h1= job.try(:title)
- job.tags.each do |tag|
  %span.h4.badge
    =tag.name
%div.sharethis-inline-share-buttons
%ul.ul-s
  %li.list-group-item.list-p-15
    %span.text-muted Detail
    = raw(job.description)
    .row
      .col-lg-3.col-md-3
        %span.text-muted.fs-13 Location
        = job.try(:location).try(:titleize)
      .col-lg-3.col-md-3
        %span.text-muted.fs-13 Catagory
        - job.tags.each do |tag|
          %span.h4.badge
            =tag.name
      .col-lg-3.col-md-3
        %span.text-muted.fs-13 Date
        = job.start_date.to_s + " - "
        = job.end_date.to_s
      .col-lg-3.col-md-3
        %span.text-muted.fs-13 Company
        = job.company.name.titleize