.modal.fade.in{ id: "job-apply-#{job.id}"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
          ×
        %h2#myModalLabel.modal-title
          %strong Job Application - #{truncate(job.title,length: 30)}

      .modal-body
        = form_for [:static , job,job_application], html: {class: 'form-horizontal'} do |f|
          = hidden_field_tag 'candidate_id', candidate_id if local_assigns[:candidate_id].present?
          = hidden_field_tag 'is_candidate', is_candidate if local_assigns[:is_candidate].present?
          %fieldset
            .form-group
              %label.col-md-2.control-label Cover Letter
              .col-md-10
                =  f.text_area :cover_letter , class: "form-control tinymce", rows: 8, cols: 25, placeholder: 'Cover Letter'
                =  tinymce :default
            .form-group
              %label.col-md-2.control-label Resume
              .col-md-10
                = f.filepicker_field :applicant_resume , class: 'btn btn-primary file-pick'  , id: 'accept-filepiker' ,"data-fp-extensions" => ".pdf,.doc,.docx,.txt"
            .form-group
              %label.col-md-2.control-label Message (optional)
              .col-md-10
                = f.text_area :message, class: "form-control", rows: "2" ,placeholder: 'Write tour message'
            .nested-fields
              - job.job_requirements.each do |r|
                = f.fields_for :job_applicant_reqs do |ja|
                  = ja.hidden_field :job_requirement_id,value: r.id
                  .form-group
                    %label.col-md-12.control-label #{r.questions}
                    .col-md-12
                      - if r.ans_type == "Free Text"
                        = ja.text_field  :applicant_ans,class: "form-control",required: r.ans_mandatroy
                      - elsif r.ans_type == "Multiple Answer"
                        - s=r.multiple_option
                        - s.gsub!('mytext=', ' ').gsub!('&','')
                        - opt_array = s.split(" ")
                        - if r.multiple_ans
                          -opt_array.each do |a|
                            = ja.check_box :app_multi_ans, {:multiple => true, class: 'set-checkbox'},"#{CGI.unescape(a)}"
                            = ja.label :app_multi_ans, :value => "#{CGI.unescape(a)}"
                            %br/
                        - else
                          -opt_array.each do |a|
                            = ja.radio_button :applicant_ans, "#{CGI.unescape(a)}",{class: 'set-checkbox'}
                            = ja.label :applicant_ans, :value => "#{CGI.unescape(a)}"
                            %br/
                      - else
                        = ja.filepicker_field :applicant_ans , class: 'btn btn-primary req-file-pick',required: r.ans_mandatroy, id: 'req-accept-filepiker'
            .nested-fields
              = f.fields_for :custom_fields do |custom|
                .form-group
                  %label.col-md-2.control-label #{custom.object.name}
                  .col-md-10
                    = custom.hidden_field  :name , value: custom.object.name
                    = custom.text_field  :value, class: "form-control", placeholder: custom.object.name, required: custom.object.required
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
              Cancel
            = f.button "Save".html_safe , class: 'btn btn-primary' , data: {disable_with: disable_spinning('Saving...')}



