.row
  .col-sm-12
    %br/
    %br/
    %br/
    %br/
    .row
      .col-md-6.col-sm-12
        .row
          .col-md-11.col-sm-12
            .well
              %h2 Change Your Password
              = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put,id: 'resetPassword', class: '' }) do |f|
                = f.hidden_field :reset_password_token
                %fieldset
                  .form-group
                    %label New password
                    = f.password_field :password, autofocus: true, autocomplete: "off",class:'form-control',id:"password"
                    - if @minimum_password_length
                      %em
                        (#{@minimum_password_length} characters minimum)
                      %br/
                  .form-group
                    %label Confirm new password
                    = f.password_field :password_confirmation, autocomplete: "off",class:'form-control',id:"confirmPassword"
                %footer
                  %button.btn.btn-primary{:type => "submit",value: "Validate!"}
                    Change my password
-#-content_for :scripts do
-#  :javascript
-#    $(document).ready(function() {
-#    function () {
-#    $( "#resetPassword" ).validate({
-#        rules: {
-#          password: "required",
-#          confirmPassword: {
-#            equalTo: "#password"
-#          }
-#        }
-#    });
-#     }
-#
-#
-#    });
