.row
  .col-sm-12
    %br/
    %br/
    %br/
    %br/
    .row
      .col-md-6.col-sm-12
        .row
          .col-md-11.col-sm-12
            .well
              %h2 Change Your Password
              = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put,id: 'login-form', class: 'smart-form client-form' }) do |f|
                = f.hidden_field :reset_password_token
                %fieldset
                  .form-group
                    %label New password
                    = f.password_field :password, autofocus: true, autocomplete: "off",class:'form-control' ,id:"password", required: true ,minlength:6
                    - if @minimum_password_length
                      %em
                        (#{@minimum_password_length} characters minimum)
                      %br/
                  .form-group
                    %label Confirm new password
                    = f.password_field :password_confirmation, autocomplete: "off",class:'form-control',id:"cPassword",required: true, "data-rule-equalTo": "#password",minlength:6
                %footer
                  %button.btn.btn-primary{:type => "submit"}
                    Change my password