.row{style: "padding: 15px;"}
  = form_for @user,url: candidate_candidate_path(@user.id, tab: "basic_info"),method: :put do |f|
    .row
      .col-md-6
        .form-group
          = f.text_field :first_name  ,:placeholder => "Enter First Name", required: true,class:'form-control'
      .col-lg-6
        .form-group
          = f.text_field :last_name  ,:placeholder => "Enter last Name", required: true,class:'form-control'
    .row
      .col-sm-12.col-md-12.col-lg-10
      .panel-body.status.profile-margin
        .text
          %div.profile-hover
            %div.pictureContainer.col-md-offset-2
              = filepicker_field_tag "" ,class: "hidden resume_file", onchange:"uploadResume(event)"

              = link_to "Upload CV" ,"#",class: 'col-lg-12 resume btn btn-md btn-primary', style: "margin-bottom: 10px"

    .form-group.candidate-association
      =f.fields_for :addresses do |custom_field|
        = render 'candidate/candidates/partials/address_fields', f: custom_field
      %strong
        .links
          = link_to_add_association '+ Add Addresses', f, :addresses, class: 'bttn text-info pull-left doc-fields', partial: 'candidate/candidates/partials/address_fields'
          %br/
      .row
        .col-lg-12
          %button.btn.pull-left{:type => "button"}
            Back
          %button.btn.btn-primary.pull-right{:type => "button", style: "margin-left: 20px"}
            Next
          %button.btn.btn-primary.pull-right{:type => "submit"}
            Saved