.row{style: "padding: 15px;"}
  = form_for @user,url: candidate_candidate_path(@user.id, tab: "basic_info"),method: :put do |f|
    .row
      / .col-md-6
      /   .form-group
      /     %label.control-label  Work location
      /     .contract-fild
      /       = f.text_field :first_name, class: "form-control", placeholder: "Contract Work location", :id=>"contract_work_location"
      .col-sm-6
        .form-group
          / .input-group
          /   %span.input-group-addon
          /     %i.fa.fa-mobile-phone.fa-lg.fa-fw
          = f.text_field :first_name  ,:placeholder => "Enter First Name",class:'form-control input'
      .col-sm-6
        .form-group
          / .input-group
          /   %span.input-group-addon
          /     %i.fa.fa-mobile-phone.fa-lg.fa-fw
          = f.text_field :last_name  ,:placeholder => "Enter last Name",class:'form-control input'
      
      / .col-md-6
      /   .form-group
      /     = f.text_field :first_name  ,:placeholder => "Enter First Name", required: true,class:'form-control'
      / .col-lg-6
      /   .form-group
      /     = f.text_field :last_name  ,:placeholder => "Enter last Name", required: true,class:'form-control'
    
    .form-group.candidate-association
      =f.fields_for :addresses do |custom_field|
        = render 'candidate/candidates/partials/address_fields', f: custom_field
      %strong.pull-right
        .links.pull-right
          = link_to_add_association '+ Add Addresses', f, :addresses, class: 'btn btn-success', partial: 'candidate/candidates/partials/address_fields'
          %br/
      
    .row
      .col-sm-12.col-md-12.col-lg-2
        %div.profile-hover
          %div.pictureContainer
            = filepicker_field_tag "" ,class: "hidden resume_file", onchange:"uploadResume(event)"
            = link_to "Upload CV" ,"#",class: 'col-lg-12 resume btn btn-md btn-primary', style: "margin-bottom: 10px"

    -if(current_candidate.candidates_resumes)
      -index = 1
      -current_candidate.candidates_resumes.order(:created_at).each do |resume|
        .row
          .col-sm-2
            .form-group.resume_div
              .input-group
                %span.input-group-addon
                  %i.fa.fa-file-text-o.fa-lg.fa-fw 
                  = "Resume #{index}"
          -if resume.is_primary        
            .col-sm-1.primary_doc
              %i.fa.fa-check-circle-o.fa-lg.fa-fw{:title=>"Primary Resume"}
              = link_to "", candidate_delete_resume_path(:id=>resume.id), :title=>"Delete", class: "fa fa-trash-o fa-lg fa-fw delete_primary_doc", method: :delete, data: { confirm: 'Are you sure?' } 
          -else
            .col-sm-1
              = link_to "", candidate_make_primary_resume_path(:id=>resume.id), :title=>"Make This to Primary Resume", class: "fa fa-check-circle-o fa-lg fa-fw make_primary_doc", data: { confirm: 'Are you sure?' }
              = link_to "", candidate_delete_resume_path(:id=>resume.id), :title=>"Delete", class: "fa fa-trash-o fa-lg fa-fw delete_primary_doc", method: :delete, data: { confirm: 'Are you sure?' }
                  
        - index = index + 1          
                  
    .row
      .col-lg-12
        / %button.btn.pull-left{:type => "button"}
        /   Back
        / %button.btn.btn-primary.pull-right{:type => "button", style: "margin-left: 20px"}
        /   Next
        %button.btn.btn-primary.pull-right{:type => "submit"}
          Saved          
        
%script{:src => "https://maps.google.com/maps/api/js?key=AIzaSyDk4kWlA522W3T4oGwdug5nKPXYMhU6rCE&sensor=false&libraries=places"}
- content_for :scripts do
  :javascript        


    $(document).ready(function() {
      $(".select2").select2({placeholder: "Select a User(s)"});
      $(".file_select").select2({placeholder: "Select Company Document"});
      $('.fileUpload').on("click",function(){
        $(".file").trigger("click");
        $('.fp__overlay').css({'z-index':'99999'});
      });
      var chatBody = $('#chat-body') ;
      chatBody.scrollTop(5000000000);
      
      $('.resume').on("click",function(){
          $(".resume_file").trigger("click");
      });
      
      $( ".video-pic" ).click(function() {
        $( ".file" ).trigger( "click" );
      });
      
      $( ".candi-profile-pic" ).click(function()
      {
        $( ".candi-logo" ).trigger( "click" );
      });

      // $('.education_start_year, .education_completion_year, .start_date, .end_date').datepicker({
      //  autoclose: true,
      //  todayHighlight: true,
      //  format: "mm-dd-yy"
      // });
      $('#myTab a').click(function(e) {
        e.preventDefault();
        $(this).tab('show');
      });
      $("ul.nav-tabs > li > a").on("shown.bs.tab", function(e) {
        var id = $(e.target).attr("href").substr(1);
        window.location.hash = id;
      });

      var hash = window.location.hash;
      $('#myTab a[href="' + hash + '"]').tab('show');

    });

    function uploadResume(event){
      resume_url = event.fpfile.url
      $.ajax({
       type: 'POST',
       dataType: 'json',
       url: " #{ upload_resume_candidates_path } ",
       data: { resume: resume_url,authenticity_token: window._token },
       success: function (data) {  }
     });
    }
    function candidateLogoUpload(event){
      photo_url = event.fpfile.url
      $('.profile-pic').html('');
      $.ajax({
       type: 'POST',
       dataType: 'json',
       url: "#{ candidate_update_photo_path }",
       data: { photo: photo_url,authenticity_token: window._token },
       success: function (data) {
        $('.text.img_pic').attr("src",photo_url);
        location.reload();
       }
     });
    }
    function employeevideoUpload(event){
      video_url = event.fpfile.url
      video_type=event.fpfile.mimetype
      $('.video-pic').html('');
      $.ajax({
       type: 'POST',
       dataType: 'json',
       url: "#{ update_video_candidates_path }",
       data: { video: video_url,authenticity_token: window._token, video_type: video_type },
       success: function (data) {
        $('.text img1').attr("src",video_url);
        location.reload();
       }
     });
    }

    $(document).ready(function () {
      addressLookup();
    });

    function addressLookup() {
      var address = document.getElementsByClassName('p-location');

      for(var i=0; i< address.length; i++){
        new google.maps.places.Autocomplete(address[i]);

        google.maps.event.addDomListener(address[i], 'keydown', function(event) {
          if (event.keyCode === 13) {
            event.preventDefault();
          }
        });
      }
    }

    $('.candidate-association').on('cocoon:after-insert', function(e, insertedItem) {
      addressLookup();

     $(".ba_info_start_date, .ba_info_end_date").datepicker({
        dateFormat : 'yy-mm-dd'
      });
    });