.row
  .col-sm-4.col-xxxl-4.col-4.col-md-4
    %a.element-box.el-tablo{:href => "#"}
      .label
        Bench
      .value
        27
      .trending.trending-up-basic
        %span 12%
        %i.os-icon.os-icon-arrow-up2
  .col-sm-4.col-xxxl-4.col-4.col-md-4
    %a.element-box.el-tablo{:href => "#"}
      .label
        Application
      .value
        = cards["APPLICATION"]
      .trending.trending-up-basic
        %span 12%
        %i.os-icon.os-icon-arrow-up2
  .col-sm-4.col-xxxl-4.col-4.col-md-4
    %a.element-box.el-tablo{:href => "#"}
      .label Prescreen
      .value
        = cards["STATUS"].where(status: :prescreen).present? ? cards["STATUS"].where(status: :prescreen).first.count : 0
      .trending.trending-up-basic
        %span 12%
        %i.os-icon.os-icon-arrow-up2
  .col-sm-4.col-xxxl-4.col-4.col-md-4
    %a.element-box.el-tablo{:href => "#"}
      .label Rate Confirmation
      .value
        = cards["STATUS"].where(status: :rate_confirmation).present? ? cards["STATUS"].where(status: :rate_confirmation).first.count : 0
      .trending.trending-up-basic
        %span 12%
        %i.os-icon.os-icon-arrow-up2
  .col-sm-4.col-xxxl-4.col-4.col-md-4
    %a.element-box.el-tablo{:href => "#"}
      .label Client Submission
      .value
        = cards["STATUS"].where(status: :client_submission).present? ? cards["STATUS"].where(status: :client_submission).first.count : 0
      .trending.trending-up-basic
        %span 12%
        %i.os-icon.os-icon-arrow-up2
  .col-sm-4.col-xxxl-4.col-4.col-md-4
    %a.element-box.el-tablo{:href => "#"}
      .label Interviewing
      .value
        = cards["STATUS"].where(status: :interviewing).present? ? cards["STATUS"].where(status: :interviewing).first.count : 0
      .trending.trending-up-basic
        %span 12%
        %i.os-icon.os-icon-arrow-up2
  .col-sm-4.col-xxxl-4.col-4.col-md-4
    %a.element-box.el-tablo{:href => "#"}
      .label Hired
      .value
        = cards["STATUS"].where(status: :hired).present? ? cards["STATUS"].where(status: :hired).first.count : 0
      .trending.trending-up-basic
        %span 12%
        %i.os-icon.os-icon-arrow-up2

