- current_candidate.designations.build unless current_candidate.designations.present?
= form_for current_candidate,url: candidate_candidate_path(current_candidate.id, tab: "designate"),method: :put, remote: true do |f|
  .row
    .col-md-12
      .form-group
        %p Designates
        = f.text_field :designate_list,placeholder: "Add Designates Comma seperated", class: 'form-control start_date input', 'data-role'=>'tagsinput',value: current_candidate.designate_list.join(", ")
  %hr
  .row
    .col-md-12
      .form-group
        %h5
          %b What is your current status ?
          %label.radio-container
            Self Employed
            = f.radio_button :designation_status, "Self Employee", checked:true
            %span.radio-checkmark
          %label.radio-container
            Employee
            = f.radio_button :designation_status, "Employee"
            %span.radio-checkmark
  .candidate-association
    = f.fields_for :designations, f.object.designations do |b|
      = render 'candidate/candidates/designations_fields', f: b
    .links.education_links.pull-right
      = link_to_add_association '+ Add Designations', f, :designations, class: 'btn btn-success', partial: 'candidate/candidates/designations_fields'
  -#.row
  -#.col-lg-12
  -#  %button.btn.btn-primary.pull-right{:type => "submit"}
  -#    Saved