.row{style: "padding: 15px;"}
  .form-group
    .multi-field-wrapper
      .multi-fields
        = form_for @user,url: candidate_candidate_path(@user.id, tab: "edu"),method: :put do |f|
          %h2{style: "margin: 15px 0"}
            %b Update Education
          = f.fields_for :educations, f.object.educations do |b|
            = render 'candidate/candidates/education_fields', f: b
          = link_to_add_fields 'candidate/candidates/education_fields', f, :educations
          = f.fields_for :certificates, f.object.certificates do |b|
            = render 'candidate/candidates/certificate_fields', f: b
          = link_to_add_fields 'candidate/candidates/certificate_fields', f, :certificates
          .row
          .col-lg-12
            %button.btn.pull-left{:type => "button"}
              Back
            %button.btn.btn-primary.pull-right{:type => "button", style: "margin-left: 20px"}
              Next
            %button.btn.btn-primary.pull-right{:type => "submit"}
              Saved