.form-group
  .multi-field-wrapper
    .multi-fields.mt-4
      %h5.element-header
        Portfolio
    .wrapper
      .d-flex.w-100{ class: "gallery-wrapper-#{local_assigns[:reference]}" }
      .form-group.d-flex
        = f.fields_for :portfolios do |b|
          = render 'candidate/candidates/partials/gallery_fields', f: b
      .links.pull-right
        = link_to_add_association '+ Add', f, :portfolios, :class => 'btn btn-primary add_fields', :partial => 'candidate/candidates/partials/gallery_fields', data: {"association-insertion-node" =>  ".gallery-wrapper-#{local_assigns[:reference]}", "association-insertion-method" => 'append'}
