-if(current_candidate.candidates_resumes)
  -index = 1
  -current_candidate.candidates_resumes.order(:created_at).each do |resume|
    .row
      .col-sm-6
        .document-display
          .d-flex.align-items-center
            .u-ver-divider.pr-3.mr-3
              %i.fa.fa-file-text-o.fa-lg.fa-fw
              = "Resume #{index}"
              -if resume.is_primary
                .primary_doc
                  %i.fa.fa-check-circle-o.fa-lg.fa-fw{:title=>"Primary Resume"}
                  = link_to "", candidate_delete_resume_path(:id=>resume.id), :title=>"Delete", class: "fa fa-trash-o fa-lg fa-fw delete_primary_doc", remote: true, method: :delete, data: { confirm: 'Are you sure?' }
              -else
                .col-sm-1
                  = link_to "", candidate_make_primary_resume_path(:id=>resume.id), :title=>"Make This to Primary Resume", class: "fa fa-check-circle-o fa-lg fa-fw make_primary_doc", remote: true, data: { confirm: 'Are you sure?' }
                  = link_to "", candidate_delete_resume_path(:id=>resume.id), :title=>"Delete", class: "fa fa-trash-o fa-lg fa-fw delete_primary_doc", remote: true, method: :delete, data: { confirm: 'Are you sure?' }
    - index = index + 1