.row{style: "padding: 0px 15px 15px 15px;"}
  .form-group
    = form_for @user,url: candidate_candidate_path(@user.id, tab: "skill"),method: :put do |f|
      .row
        .col-sm-6
          .form-group
            =f.select :category, WORK_CATEGORIES.keys,{include_blank: "Select Category"},{class: "form-control p-location input-lg", required: true }
        .col-sm-6
          .form-group
            =f.select :subcategory, '', {include_blank: "Select Category"},{class: "form-control p-location input-lg", required: true }
      .row
        .col-sm-6
          .form-group
            = f.text_field :skill_list,placeholder: "Add Skills Comma seperated",class: 'form-control p-location input-lg', 'data-role'=>'tagsinput',value: current_candidate.skill_list.join(", ")
        .col-sm-6
          .form-group
            = text_field_tag :subcat,'',placeholder: "Subcategory",class: 'form-control p-location input-lg'

      .row
        .col-sm-6
          .form-group
            %p Department
            = f.select :dept_name, department_list, {include_blank: "Select Department"},{class: "form-control p-location input-lg", required: true}
        .col-sm-6
          .form-group
            %p Industry
            = f.select :industry_name, industry_list, {include_blank: "Select Industry"},{class: "form-control p-location input-lg", required: true}
      .row
        .col-lg-12
          %button.btn.btn-primary.pull-right{:type => "submit"}
            Saved


-content_for :scripts do
  :javascript
    setcategories($("#candidate_category").val());
    $(document).on("change","#candidate_category", function(){
      setcategories($(this).val());
    });
    function setcategories(cat){
        $.ajax({
          type: 'POST',
          dataType: "json",
          data: {category: cat},
          url: "#{get_sub_category_candidates_path}",
          success: function(data){
            $('#candidate_subcategory').empty();
            $.each(data, function(i, value) {
              $('#candidate_subcategory').append($('<option>').text(value).attr('value', value));
          });

          }
        });
    }