= form_for current_candidate, url: candidate_candidate_path(current_candidate.id, tab: "social"),method: :put, remote: true, id: "social-form" do |f|
  %br/
  %h4.element-header
    Verify phone number
  .row
    .col-sm-12
      .row
        .col-sm-1
          .form-group
            = f.text_field :phone_country_code, {:placeholder => "+00", :type => "text", :class => "country_code form-control input-lg", :id => "country_code"}

        .col-sm-6
          .form-group
            .input-group
              .input-group-prepend
                .input-group-text
                  %i.fa.fa-mobile-phone.fa-lg.fa-fw
              = f.text_field :phone, {:placeholder => "Enter Phone number", :type => "text", :class => "form-control input-lg", :id => "phone_no"}

        .col-sm-4
          .form-group
            .input-group
              %a.btn.btn-primary.disabled.btn-lg{:href => "javascript:void(0);", :onclick => "smsLogin();", "area-disabled" =>  "true"} Send OTP
  %h4.element-header
    Verify Email
  .row
    .col-sm-12
      .col-sm-4
        .os-progress-bar.primary.font-size-email
          .bar-labels
            .bar-label-left
              %span
                =current_candidate.email
            .bar-label-right
              %span.text-success
                = is_verify(!!current_candidate.confirmed_at)

  %h5.element-header
    Social Media
  .row
    .col-sm-12.col-md-12.col-lg-12
      .row
        .col-sm-6
          .form-group
            %label Facebook
            = f.text_field :facebook_url  ,:placeholder => "Enter facebook profile url",class:'form-control input'
        .col-sm-6
          .form-group
            %label Twitter
            = f.text_field :twitter_url  ,:placeholder => "Enter twitter profile url",class:'form-control input'
      .row
        .col-sm-6
          .form-group
            %label LinkedIn
            = f.text_field :linkedin_url  ,:placeholder => "Enter linkedin profile url",class:'form-control input'
        .col-sm-6
          .form-group
            %label G talk
            = f.text_field :gtalk_url  ,:placeholder => "Enter gtalk profile url",class:'form-control input'
      .row
        .col-sm-12
          .form-group
            %label Skype
            = f.text_field :skypeid  ,:placeholder => "Enter skype id",class:'form-control input'
