- content_for :html_id, "extr-page"
- content_for :body_class, "animated fadeInDown"
#main{:role => "main"}
  / MAIN CONTENT
  #content.container
    %section
      / row
      .row
        %article.col-sm-12.col-md-12.col-lg-12
          / Widget ID (each widget will need unique ID)
          #wid-id-2.jarviswidget{"data-widget-deletebutton" => "false", "data-widget-editbutton" => "false"}
            %header
              %h2 Consultant Onboarding
            %div
              .jarviswidget-editbox
              .widget-body.fuelux
                .wizard
                  %ul.steps
                    %li.active{"data-target" => "#step1"}
                      %span.badge.badge-info> 1
                      Step 1
                      %span.chevron
                    %li{"data-target" => "#step2"}
                      %span.badge> 2
                      Step 2
                      %span.chevron
                    %li{"data-target" => "#step3"}
                      %span.badge> 3
                      Step 3
                      %span.chevron
                    - if resource.company_docs.present?
                      %li{"data-target" => "#step4"}
                        %span.badge> 4
                        Step 4
                        %span.chevron
                    - if resource.custom_fields.present?
                      %li{"data-target" => "#step5"}
                        %span.badge> 5
                        Step 5
                        %span.chevron
                    %li{"data-target" => "#step6"}
                      %span.badge> 6
                      Step 6
                      %span.chevron
                    %li{"data-target" => "#step7"}
                      %span.badge> 7
                      Step 7
                      %span.chevron
                  .actions
                    %button.btn.btn-sm.btn-primary.btn-prev{:type => "button"}
                      %i.fa.fa-arrow-left>
                      Prev
                    %button.btn.btn-sm.btn-success.btn-next{"data-last" => "Finish", :type => "button"}
                      Next
                      %i.fa.fa-arrow-right
                .step-content
                  = simple_form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put , class: 'form-horizontal' , id: 'wizard-1 fuelux-wizard' ,novalidate: "novalidate"} do |e|
                    = e.hidden_field :invitation_token
                    = e.simple_fields_for :consultant_profile do |p|
                      #step1.step-pane.active
                        %h3
                          %strong Step 1
                          \- Set New Password
                        / wizard form starts here
                        = render partial: 'company/invitations/partials/set_password' , locals: {e: e}
                      #step2.step-pane
                        %h3
                          %strong Step 2
                          \- Basic Information
                        = render partial: 'company/invitations/partials/basic_information' , locals: {e: e}
                      #step3.step-pane
                        %h3
                          %strong Step 3
                          \- Address
                        = e.fields_for :address do |a|
                          = render partial: 'company/invitations/partials/address' , locals: {a: a}
                      - if resource.company_docs.present?
                        #step4.step-pane
                          %h3
                            %strong Step 4
                            \- Company Documents
                          = render partial: 'company/invitations/partials/docs' , locals: {f: e}
                      - if resource.custom_fields.present?
                        #step5.step-pane
                          %h3
                            %strong Step 5
                            \- Custom Fields
                          = render partial: 'company/invitations/partials/custom_fields' , locals: {f: e}
                      #step6.step-pane
                        %h3
                          %strong Step 6
                          \- Signature
                        = render partial: 'company/invitations/partials/signature_pad' , locals: {f: e}
                      #step7.step-pane
                        %h3
                          %strong Step 7
                          \- Finished!
                        %br/
                        %br/
                        %h1.text-center.text-success
                          %i.fa.fa-check
                          Congratulations!
                          %br/
                          %small Click finish to end wizard
                        %br/
                        %br/
                        %br/
                        %br/
  - content_for :scripts do
    :javascript
      // DO NOT REMOVE : GLOBAL FUNCTIONS!

      $(document).ready(function() {



        pageSetUp();

        // Joining Date
          $('#user_dob').datepicker({
            dateFormat : 'dd.mm.yy',
            prevText : '<i class="fa fa-chevron-left"></i>',
            nextText : '<i class="fa fa-chevron-right"></i>',
            onSelect : function(selectedDate) {
              $('#user_dob').datepicker('option', 'minDate', selectedDate);
            }
          });


        //Bootstrap Wizard Validations

        var $validator = $("#wizard-1").validate({

          rules: {
            email: {
              required: true,
              email: "Your email address must be in the format of name@domain.com"
            },
            fname: {
              required: true
            },
            lname: {
              required: true
            },
            country: {
              required: true
            },
            city: {
              required: true
            },
            postal: {
              required: true,
              minlength: 4
            },
            wphone: {
              required: true,
              minlength: 10
            },
            hphone: {
              required: true,
              minlength: 10
            }
          },

          messages: {
            fname: "Please specify your First name",
            lname: "Please specify your Last name",
            email: {
              required: "We need your email address to contact you",
              email: "Your email address must be in the format of name@domain.com"
            }
          },

          highlight: function (element) {
            $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
          },
          unhighlight: function (element) {
            $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
          },
          errorElement: 'span',
          errorClass: 'help-block',
          errorPlacement: function (error, element) {
            if (element.parent('.input-group').length) {
              error.insertAfter(element.parent());
            } else {
              error.insertAfter(element);
            }
          }
        });

        //$('#bootstrap-wizard-1').Wizard({
        //  'tabClass': 'form-wizard',
        //  'onNext': function (tab, navigation, index) {
        //
        //    var $total = navigation.find('li').length;
        //    var $current = index+1;
        //    wizard_set_finish_button($current , $total );
        //    var $valid = $("#wizard-1").valid();
        //    if (!$valid) {
        //      $validator.focusInvalid();
        //      return false;
        //    }else {
        //      $('#bootstrap-wizard-1').find('.form-wizard').children('li').eq(index - 1).addClass(
        //        'complete');
        //      $('#bootstrap-wizard-1').find('.form-wizard').children('li').eq(index - 1).find('.step')
        //        .html('<i class="fa fa-check"></i>');
        //    }
        //  },'onPrevious': function(tab, navigation, index){
        //
        //      var $total = navigation.find('li').length;
        //      var $current = index+1;
        //      wizard_set_finish_button($current , $total );
        //  }
        //});
        //
        // $('.finish').click(function(){
        //    console.log('finish');
        //    if ($("#wizard-1").valid()) {
        //       console.log('submit');
        //      $('#wizard-1').submit();
        //    }else{
        //      error('Fields are Empty');
        //    }
        //    return false;
        //});
        //
        //function wizard_set_finish_button(current , total )
        //{
        //      if(current >= total) {
        //          $('#bootstrap-wizard-1').find('.pager .next').hide();
        //          $('#bootstrap-wizard-1').find('.pager .finish').show();
        //          $('#bootstrap-wizard-1').find('.pager .finish').removeClass('disabled');
        //        } else {
        //          $('#bootstrap-wizard-1').find('.pager .next').show();
        //          $('#bootstrap-wizard-1').find('.pager .finish').hide();
        //      }
        //}
        //
        //
        //// fuelux wizard
        var wizard = $('.wizard').wizard()


        wizard.on('finished', function (e, data) {

          $(".form-horizontal").submit();
          console.log("submitted!");

        });

        ///////////////////////////////////////




      });