.modal{ id: "candidate-bench_invite","aria-hidden": "true", "aria-labelledby": "myModalLabel", :role => "dialog", :style => "display: none;", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h1 Add Candidate To Bench
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
          ×
      = form_for JobInvitation.new , url: bench_candidate_invitation_job_invitations_path, html:{ class:'form-horizontal',id: 'candidate-val'} do |f|
        .modal-body
          = f.hidden_field :recipient_type , value: 'Candidate'
          = f.hidden_field :invitation_type , value: 'candidate'
          = f.hidden_field :invitation_purpose , value: 'bench'
          %br
          .form-group
            %label.col-md-3.control-label
              Select Candidate
              %sup.text-danger *
            .col-md-10
              = f.select :recipient_id, options_for_select(current_company.candidates.map {|p| [ p.full_name, p.id ] }), { include_blank: true }
          .form-group
            %label.col-md-3.control-label
              Expiry Date
              %sup.text-danger *
            .col-md-10
              = f.text_field :expiry ,class: "form-control end_date" , required: 'required', placeholder: "Expire Date"
          .form-group
            %label.col-md-3.control-label
              Message
              %sup.text-danger
            .col-md-10
              = f.text_area :message ,class: "form-control" ,row: '3' , placeholder: "Enter Description"
          .modal-footer
            -#= button_tag 'Cancel' , class: 'btn btn-default' , data: {"dismiss": "modal"}
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
              Cancel
            = f.button "Send".html_safe, data: {disable_with: disable_spinning("Sending...")} , class: 'btn btn-primary btn-sm'


-content_for :scripts do
  :javascript
    $('.end_date').datepicker({dateFormat : 'dd/mm/yy'});
