.modal{ id: "edit_job_invitation","aria-hidden": "true", "aria-labelledby": "myModalLabel", :role => "dialog", :style => "display: none;", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content.some{:style => "margin-left:120px; width: 73%;"}
      .modal-header.some{:style=>  "padding-top: 1rem;padding-left: 1rem; padding-right: 1rem; padding-bottom:0px"}
        %h1 Add Candidate To Bench
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
          ×
      = form_for job_invitation , url: update_job_invitation_company_bench_jobs_path, html:{ class:'form-horizontal',id: 'edit-candidate-val'} do |f|
        .modal-body.some{:style=>  "padding-top: 0px; padding-bottom:0px"}
          = f.hidden_field :recipient_type , value: 'Candidate'
          = f.hidden_field :invitation_type , value: 'candidate'
          = f.hidden_field :invitation_purpose , value: 'bench'
          = hidden_field_tag 'company_id', job_invitation&.company_id
          %br
          .form-group
            %label.col-md-3.control-label
              Select Candidate
              %sup.text-danger *
            .col-md-12
              = f.select :recipient_id, options_for_select(current_company.candidates.uniq.map {|p| [ p.full_name, p.id ] }, job_invitation&.recipient_id), { include_blank: true }, {style: "height:37px;", :required => true}
          .form-group
            .row
              .col-md-6
                %label.col-md-12.control-label
                  Min Hourly Rate
                  %sup.text-danger *
                .col-md-12
                  = f.text_field :min_hourly_rate, type: "number", min: "0",class: "form-control min_hourly_rate" , required: 'required',style: "height:37px;", placeholder: "Min Hourly Rate", id: 'edit_min_hourly_rate'
              .col-md-6
                %label.col-md-12.control-label
                  Max Hourly Rate
                  %sup.text-danger *
                .col-md-12
                  = f.text_field :max_hourly_rate, type: "number", min: "0", class: "form-control max_hourly_rate" , required: 'required',style: "height:37px;", placeholder: "Max Hourly Rate", id: "edit_max_hourly_rate"
          .form-group
            %label.col-md-3.control-label
              Expiry Date
              %sup.text-danger *
            .col-md-12
              = f.text_field :expiry ,class: "form-control end_date_edit" , required: 'required',style: "height:37px;", placeholder: "Expire Date", id:"job_expire_edit"
          .form-group
            %label.col-md-3.control-label
              Message
              %sup.text-danger
            .col-md-12
              = f.text_area :message ,class: "form-control" ,row: '3' , placeholder: "Enter Description"
          .modal-footer.some{:style => "padding-top:0px;padding-bottom: 1rem;"}
            -#= button_tag 'Cancel' , class: 'btn btn-default' , data: {"dismiss": "modal"}
            %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
              Cancel
            = f.button "Send".html_safe, data: {disable_with: disable_spinning("Sending...")} , class: 'btn btn-primary'
