.content-i
  .content-box
    .row
      .col-sm-12
        .element-wrapper
          .element-box-tp
            .controls-above-table
              .row.mr-1.ml-1
                .col-sm-6
                  %a.btn.btn-sm.btn-secondary{ :href => "#", :title => "Share Candidate" } Share
                  = link_to "New", "#candidate-bench_invite", :class => "btn btn-sm btn-secondary", "data-toggle" => "modal"
                  -#%a.btn.btn-sm.btn-secondary{ :href => "#{company_new_candidate_to_bench_path}", :title => "New Candidate" } New
                .col-sm-6
                  .form-inline.justify-content-sm-end
                    %input.form-control.form-control-sm.rounded.bright{placeholder: "Search", type: "text", type: 'search', id: 'my_bench_datatable-search'}
            .table-responsive
              %table#my_bench_datatable.table.text-center.table-bordered.table-lg.table-v2.table-striped.data-table-font.no-footer{"aria-describedby" => "datatable_fixed_column_info", :role => "grid", :style => "width: 100%;", :width => "100%"}
                %thead
                  %tr
                    %th
                      %input{ type:"checkbox", name:"select_all", id:"example-select-all"}
                    %th Name
                    %th Role/Title
                    %th Skills
                    %th Location
                    %th Visa
                    %th Recuiter Name
                    %th Actions
                %tbody
                  - @candidates.each_with_index do |c , index|
                    %tr
                      %td
                        = check_box_tag "ids[]", c.candidate.id
                      %td
                        = link_to c.candidate.try(:full_name).try(:titleize),public_profile_static_candidates_path(c.candidate),"data-content" => "<p class= 'text-center' ><image style='border-radius:50%;' src=#{image_url(c.candidate.photo)}/></br><div class='well well-sm'>#{c.candidate.full_name}</br>Email : #{c.candidate.email} </div></p>", "data-placement" => "top",:rel => "hover"
                      %td
                        - if c.candidate.try(:roles).present?
                          - c.candidate.try(:roles).each do |role|
                            %span
                              .label-info.badge
                                = role.try(:name)
                        = c.candidate.candidate_title
                      %td
                        - c.candidate.skills.each do |skill|
                          %span
                            .label-info.badge.margin-bottom-5.badge-info
                              = skill.name
                      %td
                        = c.candidate.try(:location)
                      %td
                        = c.candidate.candidate_visa
                      %td
                        %span
                          .label-info.badge.margin-bottom-5.badge-info
                            = c.candidate.invited_by_user.full_name if c.candidate.invited_by_user.present?
                      %td
                        = link_to raw("<i class='fa fa-comment '></i>"), "#", class: "start-conversation",title: "Chat",
                                  "data-sid" => current_company.id, "data-rid" => c.candidate.id,
                                  "data-stype" => current_company.class, "data-rtype" => c.candidate.class.to_s, "data-chattopic" => "OneToOne"
                        = link_to raw("<i class='fa fa-file-text'></i>") , c.candidate.resume ,download: true , class: '',title: "#{c.candidate.full_name} Resume",'data-toggle'=>"tooltip" ,'data-placement'=>"top"
                        = link_to raw("<i class='fa fa-eye'></i>") , static_candidate_resume_path(c.candidate) , class: '',title: "Detail Show" ,target: "_blank",'data-toggle'=>"tooltip" ,'data-placement'=>"top"
                        = link_to raw("<i class='fa fa-users'></i>"), candidate_manage_groups_path(c.candidate) , remote:true,class: '',title: "Assign Groups",'data-toggle'=>"tooltip" ,'data-placement'=>"top"
                        = link_to raw("<i class='fa fa-fire'></i>"), candidate_make_normal_path(c.candidate) , remote:true,method: :post,class: '',title: "Make Normal", data: {confirm: " Do you want to make #{c.candidate.full_name} Normal?", commit: 'Continue', cancell: 'Cancell'},'data-toggle'=>"tooltip" ,'data-placement'=>"top"
                        = link_to raw("<i class='fa fa-times '></i>") , candidate_remove_from_comapny_path(c.candidate) ,remote:true, method: :post ,  class: '',title: "Delete  ",'data-toggle'=>"tooltip" ,'data-placement'=>"top"
                        = link_to raw("<i class='fa fa-pencil '></i>") , edit_company_candidate_path(c.candidate) , class: '', title: "Edit #{c.candidate.full_name}"

:css
  .form-control
  {
    background-color: white !important;
  }

- content_for :modals do
  = render 'company/candidates/partials/add_to_my_network'
  = render 'company/candidates/partials/share_hot_candidates'
  = render 'company/bench_jobs/candidate_bench_invite_modal'

- content_for :scripts do
  :javascript

     $(document).ready(function(){
      $('#my_bench_datatable-search').keyup(function(){
        $('#my_bench_datatable').DataTable().search( $(this).val() ).draw();
      })
    })

    if ("#{flash[:already_exist]}"){
        $('#add-network').modal('toggle');
    }
    tinymce.init({
      selector: '.tinymce',
      menubar: false ,
      plugins: 'image table link paste contextmenu textpattern autolink',
      insert_toolbar: 'quicktable',
      selection_toolbar: 'bold italic | quicklink h2 h3 blockquote'
    });

    $('#emailbody').summernote({
        height: 250,
        focus: false,
        tabsize: 2
    });

    $('#share-candidates').on('shown.bs.modal', function() {
      $(".select2").select2({
        placeholder: "Groups/Contact/Email",
        tags: true
      });
    });

    $(document).ready(function() {
     pageSetUp();
      var responsiveHelper_dt_basic = undefined;
      var responsiveHelper_datatable_fixed_column = undefined;
      var responsiveHelper_datatable_col_reorder = undefined;
      var responsiveHelper_datatable_tabletools = undefined;
      var table = $('#example').DataTable();
      var otable = $('#datatable_fixed_column').DataTable({
            "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6 hidden-xs'f><'col-sm-6 col-xs-12 hidden-xs'<'toolbar'>>r>"+
                    "t"+
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
            "autoWidth" : true,
            "oLanguage": {
                "sSearch": '<span class="input-group-addon"><i class="icon-feather-search"></i></span>'
            }

        });

    $("div.toolbar").html("<div class='text-right'><a href=#{company_new_candidate_to_bench_path} class = 'btn btn-success btn-md pull-right header-btn margin-top-5 mr-left-10' rel='tooltip' data-placement='top' title='New Candidate'><i class='fa fa-user-plus'></i> New </a><a href='#' class= 'btn btn-success share btn-md pull-right header-btn margin-top-5'><i class='fa fa-share-alt'></i> Share</a></div>");
      $("#datatable_fixed_column thead th input[type=text]").on( 'keyup change', function () {
        otable
          .column( $(this).parent().index()+':visible' )
          .search( this.value )
          .draw();
    } );


    // share hide and show on base of checked checkboxes
    // $('.share').hide();
    $( "input[type=checkbox]" ).on( "click", function() {
        //if($( "input:checked" ).length> 0)
        //{
        //  $('.share').show();
        //}else
        //{
         // $('.share').hide();
        //}
     });

     // for share of checked rows
    var checkedRows = new Array();
      $(".share" ).on( "click", function() {
        $("input[name='ids[]']:checked").each(function(){
        checkedRows.push($(this).val());
        });
        if(checkedRows.length>0)
        {
          $('#candidates_ids').val(checkedRows);
          $('#share-candidates').modal('toggle');
        }
        else{
          alert("Please select atleast one candidate to proceed before.");
        }
      });

      $("#select_all_" ).on( "click", function() {
        $("input[name='ids[]']").prop('checked', this.checked);
      });

      // for popover on link
      $('a[rel=hover]').popover({
        html: true,
        trigger: 'hover',
        placement: 'top',

      });

    });

