- sh_date = start_date
.table
  %table.table.table-bordred
    %thead
      %th{:width => "3%"}=check_box_tag "", nil, nil, class: "all-select"
      %th{:width => "20%"} Contract Id-Desc
      %th.text-titles{:width => "20%"} Candidate
      - while sh_date <= end_date
        %th{:width => "5%"}#{sh_date.strftime('%a %d')}
        - sh_date += 1.day
      %th{:width => "13%"} Status
      %th Action
    %tbody
  - @timesheets.each do |ts|
    - s_date = start_date
    = form_for [:candidate, ts], html:{ class:'form-horizontal', remote: true} do |f|
      .table-responsive
        %table.table.table-bordred
          %thead
            %th{:width => "3%"}
            %th{:width => "20%"}
            %th{:width => "20%"}
            %th{:width => "5%"}
            %th{:width => "5%"}
            %th{:width => "5%"}
            %th{:width => "5%"}
            %th{:width => "5%"}
            %th{:width => "5%"}
            %th{:width => "5%"}
            %th{:width => "13%"}
            %th
          %tbody
            %tr
              %td{:width => "3%"}=check_box_tag "sin_select", nil, nil, class: "sin-select"
              %td{:width => "20%"}
                = ts.contract.number+"-" + ts.contract.title[0..14]
              %td.text-boxes{:width => "20%"}
                .candiate-name
                  = f.text_field :candidate_name
              - while s_date <= end_date
                %td.dyno{:style => "width: 5%"}
                  = text_field_tag "timesheet[days][#{s_date.strftime("%m/%d/%Y")}]", 0, :required => "required", :type => "text", :disabled => !(ts.start_date <= s_date && ts.end_date >= s_date), class: 'form-control'
                  -#%input.form-control{:name => "timesheet[days][#{s_date.strftime("%m/%d/%Y")}]", :required => "required", :type => "text", :value => "0", :disabled => "#{ts.start_date <= s_date && ts.end_date >= s_date }"}/
                - s_date += 1.day
              %td{:width => "13%"} Not submitted
              %td
                = f.filepicker_field :timesheet_attachment, :button_text => "<i class='fa fa-file-pdf-o'> </i>".html_safe, disable: true , class: 'file-pick timesheet-filepicker-attachment'
                = button_tag( :class => "button_green", :type => "submit") do
                  %i.fa.fa-save

  %tfoot
    %td{colspan: 10}=button_tag "Save All", class: "save-all-btn"