.row.mb-4.w-100
  %ul.nav.nav-tabs.w-100.mt-3{style: "border-bottom: none;"}
    %li{class: "nav-item #{ "active" if @tab.eql?("upcomming_timesheets") }"}
      %a{class: "nav-link fd upcomming_timesheets ", href:'#', onclick: "time_line_filter('upcomming_timesheets','.select-time-cycle','.select-contract.active')","data-toggle" => "tab"} Upcomming
    %li{class: "nav-item #{ "active" if @tab.eql?("submitted_timesheets") }"}
      %a{class: "nav-link fd submitted_timesheets ",href:'#', onclick: "time_line_filter('submitted_timesheets','.select-time-cycle','.select-contract.active')","data-toggle" => "tab"} Submitted
    %li{class: "nav-item #{ "active" if @tab.eql?("approved_timesheets") }"}
      %a{class: "nav-link fd approved_timesheets ", href:'#', onclick: "time_line_filter('approved_timesheets','.select-time-cycle','.select-contract.active')","data-toggle" => "tab"} Approved
    %li{class: "nav-item #{ "active" if @tab.eql?("open_timesheets") }"}
      %a{class: "nav-link fd open_timesheets", href:'#', onclick: "time_line_filter('open_timesheets','.select-time-cycle','.select-contract.active')","data-toggle" => "tab"} Calendar
    %li.nav-item.mt-2{style: "margin-left: auto;"}
      %select.select-time-cycle.form-control.bright.form-control-sm{disabled:"disabled"}
        %option{value: 'all'} Select Cycle
      -#%select.cycle-type.form-control-sm
      -#  %option{value: false} Select Cycle Type
      -#  %option{value: 'weekly'} Weekly
      -#  %option{value: 'daily'} Daily
      -#  %option{value: 'monthly'} Monthly
      -#  %option{value: 'twice a month'} Twice A Month
      -#  %option{value: 'biweekly'} Twice A Week


.row
  .col-sm-12.submit_ts_hidden.hidden
    .col-sm-5.float-right
      .file_selector{style: "display: flex;"}
        .form-group.d-inline-block
          = link_to 'Submit TimeSheet','#',class:'btn btn-primary submit_link', style: "border-radius: 0; height:38px; padding:10px 8px;"
        %p.d-inline-block.uploaded_file_name= "dd/mm/yyyy - dd/mm/yyyy"


.row
  .col-sm-5
    .content-box
      %select.form-control.bright.form-control-sm{onchange: 'select_contract(this)', id: 'select_contract'}
        %option{value: false} Select Contract
        - @contracts.each do |c|
          %option{value: c.id}  #{truncate(c.project_name,length: 30) + " - " + c.created_by&.full_name }

          -# - @contracts.each_with_index do |contract,index|
          -#   = link_to '#',id: contract.id, class:"select-contract job_ticket" do
          -#     .st-body
          -#       .avatar
          -#         = image_tag contract.company.logo
          -#       .ticket-content
          -#         %h6.ticket-title
          -#           = truncate(contract.project_name,length: 30)
          -#     .st-foot
          -#       %span.label Created by:
          -#       %span.value.with-avatar{:href => "#"}
          -#         %span
          -#           =contract.created_by&.full_name
          -#       %span.label Created at:
          -#       %span.value
          -#         =contract.created_at.strftime("%d/%m/%Y")

  .col-sm-7
    #timesheet_calendar.p-4
    .timesheet_table.margin-auto.p-4




= render 'candidate/timesheets/time_sheet_submit_modal'



-events = []
-@timesheets.each{|ts|  ts.transactions.each{|tt| events << {allDay: true,status: ts.status ,description: 'timesheet transaction23',title: "Transaction-#{tt.id}",id: tt.id, total_time: tt.total_time, timesheet_id:tt.timesheet_id, start: tt.start_time.strftime("%Y-%m-%d")} }}

- content_for :scripts do
  :javascript
    function select_contract(e){
        $.get(`/api/candidate/candidates/contract_cycles.json?contract_type=BuyContract&contract_id=${e.value}`).then(function(data) {
          $('.select-time-cycle').empty().append($("<option>").val("all").text("Select Cycle"));
          data.forEach(function(cycle) {
            $('.select-time-cycle').append($("<option>").val(cycle.id).text(cycle.range))
          });
          $('.select-time-cycle').removeAttr('disabled');
        })
        $('.job_ticket.active').removeClass('active')
        $(this).addClass('active')
        // e.preventDefault();
    }
    function time_line_filter(tab,cycle_selector,contract_selector){
      let cycle = $(cycle_selector).val();
      let contract = $(contract_selector)[0] ? $(contract_selector)[0].id : "all";
      $.get(`/candidate/timesheets.js?cycle_id=${cycle}&&contract_id=${contract}&&tab=${tab}`);
    }
    function show_popup(event){

      let transaction_id = event.getAttribute('data-transaction');
      let timesheet_id = event.getAttribute('data-timesheet');
      let time = event.getAttribute('data-time');
      let memo = event.getAttribute('data-memo');
      $('#transaction_id').val(transaction_id);
      $('#timesheet_id').val(timesheet_id);
      $('#t_total_time').val(time);
      $('#t_memo').val(memo);
      $('#timesheet_submit_modal').modal('show');
    }

    $(document).ready(function() {
      pageSetUp();
      default_active_nav('.ln-6');
      var e=JSON.parse("#{ escape_javascript(render(inline: events.to_json))}");
      let startCelandar = "#{ j render(inline: (@timesheets.first.present? ? @timesheets.first&.start_date.to_s : DateTime.now.beginning_of_month.strftime('%Y-%m-%d'))) }";
      let endCelandar = "#{ j render(inline: (@timesheets.last.present? ? @timesheets.last&.end_date.to_s : DateTime.now.end_of_month.strftime('%Y-%m-%d'))) }";
      $('#timesheet_calendar').fullCalendar({
        dayNamesShort: ['S', 'M', 'T', 'W', 'T', 'F', 'S'],
        selectable: false,
        header: {center: 'dayGridMonth,timeGridWeek'}, // buttons for switching between views
        views: {
          dayGridMonth: { // name of view
            titleFormat: {year: 'numeric', month: '2-digit'}
                  // other view-specific options here
          }
        },
        events: e,
        eventRender: function (info, event, el, view) {
          event[0].removeChild(event[0].firstChild);
          let inputDisabled = `<input name='${info.title}' data-transaction='${info.id}'  data-timesheet='${info.timesheet_id}'  onchange="handle_input(this,'candidate')" value='+' disabled='disabled' style='width: -moz-available;width: -webkit-fill-available;' />`
          let input = `<input name='${info.title}' data-transaction='${info.id}' data-memo='${info.memo}' data-time="${info.total_time}"  data-timesheet='${info.timesheet_id}' onclick="show_popup(this)" value='+' style='width: -moz-available;width: -webkit-fill-available;' />`
          let today = moment();
          let transactionDay = moment(info.start);
          if(today < transactionDay || [ "submitted", "approved", "partially_approved", "rejected", "invoiced"].includes(info.status)){
            event.append(inputDisabled)
          }else{
            event.append(input)
          }
        },
        selectConstraint: {
          start: $.fullCalendar.moment(startCelandar),
          end: $.fullCalendar.moment(endCelandar)
        }
      });
      flash_success('Celandar Rendered Successfully');
      $('.cycle-type').change(function(){
        $.get(`/candidate/timesheets.js?cycle_id=${false}&&contract_id=${false}&&tab=open_timesheets&&cycle_frequency=${$(this).val()}`);
      });
      $('.select-contract').click(function() {
        $.get(`/api/candidate/candidates/contract_cycles.json?contract_type=BuyContract&contract_id=${this.id}`).then(function(data) {
          $('.select-time-cycle').empty().append($("<option>").val("all").text("Select Cycle"));
          data.forEach(function(cycle) {
            $('.select-time-cycle').append($("<option>").val(cycle.id).text(cycle.range))
          });
          $('.select-time-cycle').removeAttr('disabled');
        })
        $('.job_ticket.active').removeClass('active')
        $(this).addClass('active')
        // e.preventDefault();
      });

      $('.select-time-cycle').change(function(){
        let cycle = $(this).val();
        // let contract = $('.select-contract.active')[0].id;
        let contract = $('#select_contract').val();
        $.get(`/candidate/timesheets.js?cycle_id=${cycle}&&contract_id=${contract}&&tab=open_timesheets`);
      });

      $(".all-select").on("change", function(){
        $( '.sin-select' ).prop('checked', this.checked)
      });

      $(".save-all-btn").on("click", function(){
        $('input[name=sin_select]:checked').each(function(){
          $(this).closest('form').submit();
        });
      })
    });
