.timesheet
  .row
    .col-md-12
      %h2 Submit Timesheets
      .timesheet-select-date
        %select.select-time-cycle
          -@time_cycle.each do |t|
            %option=t

    .clearfix
    .table-responsive
      %table.table.table-bordred
        %thead
          %th{:width => "3%"}=check_box_tag "", nil, nil, class: "all-select"
          %th{:width => "20%"} Contract Id-Desc
          %th.text-titles{:width => "20%"} Candidate
          %th{:width => "13%"} Status
          %th Action
        %tbody
      - @contracts.each do |con|
        = form_for @timesheet, url: candidate_timesheets_path, html:{ class:'form-horizontal', method: :post, remote: true} do |f|
          = f.hidden_field :start_date, class: "time-start"
          = f.hidden_field :end_date, class: "time-end"
          .table-responsive
            %table.table.table-bordred
              %thead
                %th{:width => "3%"}
                %th{:width => "20%"}
                %th{:width => "20%"}
                %th{:width => "5%"}
                %th{:width => "5%"}
                %th{:width => "5%"}
                %th{:width => "5%"}
                %th{:width => "5%"}
                %th{:width => "5%"}
                %th{:width => "5%"}
                %th{:width => "13%"}
                %th
              %tbody
                %tr
                  %td{:width => "3%"}=check_box_tag "sin_select", nil, nil, class: "sin-select"
                  %td{:width => "20%"}
                    = con.display_number+"-" + con.title[0..14]
                    = f.hidden_field :contract_id, value: con.id
                  %td.text-boxes{:width => "20%"}
                    .candiate-name
                      = f.text_field :candidate_name, value: current_candidate.full_name
                  %td{:width => "13%"} Not submitted
                  %td
                    = f.filepicker_field :timesheet_attachment, :button_text => "<i class='fa fa-file-pdf-o'> </i>".html_safe, disable: true , class: 'file-pick timesheet-filepicker-attachment'
                    = button_tag( :class => "button_green", :type => "submit") do
                      %i.fa.fa-save

      %tfoot
        %td{colspan: 10}=button_tag "Save All", class: "save-all-btn"
- content_for :scripts do
  :javascript
    $(document).ready(function() {
      pageSetUp();

      set_dates()
      $('.select-time-cycle').on("change", function(){
        set_dates()
      });

      $(".all-select").on("change", function(){
        $( '.sin-select' ).prop('checked', this.checked)
      });

      $(".save-all-btn").on("click", function(){
        $('input[name=sin_select]:checked').each(function(){
          $(this).closest('form').submit();
        });
      })

      function set_dates(){
        var weekday = new Array(7);
        weekday[0] = "Sun";
        weekday[1] = "Mon";
        weekday[2] = "Tue";
        weekday[3] = "Wed";
        weekday[4] = "Thu";
        weekday[5] = "Fri";
        weekday[6] = "Sat";

        dates = $('.select-time-cycle').val();
        //$("#timesheet_dates").empty();
        //$("#time-start").val(dates.split(" - ")[0]);
        //$("#time-end").val(dates.split(" - ")[1]);

        var start = new Date(dates.split(" - ")[0]);
        var end = new Date(dates.split(" - ")[1]);
        var loop = new Date(start);
        var strTextTitle = ""
        var strTextBox = ""

        $(".time-start").val(start.getDate()+"/"+(start.getMonth() + 1)+"/"+start.getFullYear());
        $(".time-end").val(end.getDate()+"/"+(end.getMonth() + 1)+"/"+end.getFullYear());

        $('.dyno').remove()
        while(loop <= end){
          key_name = loop.getDate()+"/"+(loop.getMonth() + 1)+"/"+loop.getFullYear()
          strTextTitle += "<th class='dyno' style='width: 5%'>" + weekday[loop.getDay()] +" "+ loop.getDate() + "</th>"
          strTextBox += "<td class='dyno' style='width: 5%'> <input required='required' value='0' class='form-control' name='timesheet[days]["+key_name+"]' type='text'> </td>"
          var newDate = loop.setDate(loop.getDate() + 1);
          loop = new Date(newDate);
        }
        $(".text-titles").after(strTextTitle);
        $(".text-boxes").after(strTextBox);
      }
    });


