.modal{ id: "chat-templates-#{conversation.id}"}
  .w-75.pt-2{style: "margin: auto"}
    .modal-content
      .modal-header
        %h2#PageTitle.modal-title
          %strong Document Submission Request
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
          ×
      %div
        = link_to 'Add Document', '/attachments', class: 'btn btn-primary pull-right mr-3', target: '_blank'
      =form_tag(company_conversation_chat_docusign_path(conversation)) do
        .modal-body#rate-confirmation-modal-body
          = hidden_field_tag 'conversation_id', conversation.id
          .table-responsive
            %table#company-template-datatable.table.text-center.table-bordered.table-lg.table-v2.table-striped.data-table-font
              %thead
                %tr{:role => "row"}
                  %th Select
                  %th.expand.sorting_asc Title
                  %th Type
                  %th Document For
                  %th Expiry Date
                  %th Is Require
                  %th Attachments
                %tbody{"data-for": "Candidate", "data-require": "signature", "data-type": "Job"}
                  - current_company.candidate_job_templates.each do |doc|
                    %tr.even{:role => "row"}
                      %td
                        = check_box_tag "ids[]", doc.id
                      %td= doc.title
                      %td= doc.title_type
                      %td= doc.document_for
                      %td= doc.exp_date
                      %td= doc.is_require
                      %td
                        -if !doc.file.blank?
                          -index = 1
                          - doc.file.split(",").each do |file_path|
                            %br
                            %a{:download => "", :href => file_path, :target=>"_blank"}
                              = "#{index}: #{file_path.split('/').last}"
                              - index = index +1
          %br
          #toggle_signers{class: current_company.candidate_job_templates.present? ? 'w-100 ': 'w-100 d-none'}
            = select_tag 'signers[]', nil, id: "select_sell_company_contacts", class: "mb-2", style: "width: 100%"
          %br
        .modal-footer
          = button_tag 'submit', class: 'btn btn-sm btn-secondary pull-right mt-2'
          %button.btn.btn-sm.btn-secondary.pull-right.mt-2{"data-dismiss"=>"modal", "type"=>"button"} Cancel
