-#- if notice
-#  .alert.alert-success.fade.in
-#    %button.close{"data-dismiss" => "alert"}
-#      ×
-#    %i.fa-fw.fa.fa-check
-#    = notice
-#  - if alert
-#    .alert.alert-warning.fade.in
-#      %button.close{"data-dismiss" => "alert"}
-#        ×
-#      %i.fa-fw.fa.fa-warning
-#      = alert
:javascript

  function flash_alert(color , msg){
        $.smallBox({
          title : msg,
          //content : "<i class='fa fa-clock-o'></i> <i>2 seconds ago...</i>",
          color : color,
          iconSmall : "fa fa-thumbs-up bounce animated",
          timeout : 4000
        });
  }
  function flash_error(msg)
  {
    var $error    = '#D04B2B';
    flash_alert($error,msg);
  }
  function flash_success(msg)
  {
   var $success  = '#739E73';
    flash_alert($success,msg);
  }
  function flash_info(msg)
  {
    var $info     = '#35A4DA';
    flash_alert($info,msg);
  }
  function flash_notice(msg)
  {
   var $notice   = '#80C14B';
    flash_alert($notice,msg);
  }
  function alert_alert(msg)
  {
    var $alert    = '#FFC333';
    flash_alert($alert,msg);
  }
- if flash[:alert].present? || flash[:toastr].present? || flash[:error].present? || flash[:errors].present? || flash[:success].present? || flash[:notice].present? || flash[:info].present?
  - if flash[:alert].present?
    :javascript
      flash_alert("#{flash[:alert]}");
  - if flash[:error].present?
    :javascript
      flash_error("#{flash[:error]}");
  - if flash[:errors].present?
    - flash[:errors].each do |e|
      :javascript
        flash_error("#{e}");
  - if flash[:success].present?
    :javascript
      flash_success("#{flash[:success]}");
  - if flash[:notice].present?
    :javascript
      flash_notice("#{flash[:notice]}");
  - if flash[:info].present?
    :javascript
      flash_info("#{flash[:info]}");

