.modal{ id: "show-candidate-#{job_application.applicationable_id}"}
  .modal-dialog
    .modal-content
      .modal-header
        %h2#PageTitle.modal-title
          %strong Pre-Screen Candidate
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
          ×
      .modal-body#prescreen-modal-body
        .divider.pb-3.mb-2
          .big-links_widget
            - candidate = job_application.applicationable
            = contact_widget(candidate.email, candidate.phone, candidate, remote_false: 'toggle_big_chat',color: '#3E4B5B; !important')
        %ul.tasks-list
          - current_user.reminders.where(reminderable: candidate).order(created_at: :desc).each do |reminder|
            %li.draggable-task.danger
              .todo-task
                %span{:contenteditable => "true"}= reminder.title

      .modal-footer
        = link_to("Take Note", candidate_add_reminder_path(job_application.applicationable_id), remote: :true, class: "btn btn-md  btn-primary mt-12 margin-right-40")
        = link_to('Accept', prescreen_job_application_path(job_application, conversation_id: conversation.id), method: :post, class: "btn btn-md  btn-primary mt-12 margin-right-5")
        = link_to('Reject', reject_job_application_path(job_application, conversation_id: conversation.id), method: :post, class: "btn btn-md  btn-danger mt-12 margin-right-5")
        -#%button.btn.mt-12.margin-right-5.btn-primary{"data-dismiss"=>"modal", "type"=>"button"} Cancel

:css
  .modal-footer > :not(:last-child) {
   margin-right: 16.25rem;
  }