<% @job_all.each do |job| %>
  <!-- Feed Blocks Start -->
  <div class="feed-article col-12 px-0">
      <div class="d-flex">
        <div class="width-100 mx-0 mx-sm-3">
          <div class="thumb-100 thumb-xs-80" >
            <% if job&.files.present? %>
              <%= image_tag(job.files) %>
            <% elsif job.created_by&.photo.present? %>
              <%= image_tag(job.created_by&.photo) %>
            <% else %>
              <%= image_tag 'static-job.png'%>
            <% end %>
          </div>
        </div>
        <div class="pl-1 pr-3 d-flex flex-column justify-content-between flex-fill">
          <div class="row justify-content-between">
            <div class="col-12 col-md-6 col-lg-7 text-md-left d-flex align-self-center">
              <h3 class="feed-article-title"><%= link_to truncate(job.title,length: 50) ,static_job_path(job)%></h3>
            </div>
            <% if job.job_category.present? %>
              <div class="hidden-xs col-12 col-md-6 col-lg-5 text-center text-md-right">
                <div class="col-12 p-0">
                  <ul class="list-unstyled m-0">
                    <li class="d-inline-block">
                      <span class="feed-article-category">
                        <%= job&.job_category %>
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
            <% end %>
          </div>
          <div class="row justify-content-between">
            <div class="col-12 col-md-6 col-lg-4 my-2 my-md-0">
              <ul class="list-unstyled m-0 p-0">
                <li class="d-block">
                  <p class="feed-article-website">
                    <%= image_tag 'globalization.svg' ,class: "img-fluid w-15 mr-2", alt: "globe" %>
                    <%= job&.company&.website %>
                  </p>
                </li>
                <% if job.location.present? %>
                  <li class="d-block">
                    <p class="feed-article-location">
                      <%= image_tag 'placeholder.svg' ,class: "img-fluid w-15 mr-2", alt: "placeholder" %>
                      <%= job&.location %>
                    </p>
                  </li>
                <% end %>
                <li class="d-block">
                  <p class="feed-article-time">
                    <%= image_tag 'clock.svg' ,class: "img-fluid w-15 mr-2", alt: "clock" %>
                    <%= "#{time_ago_in_words(job.created_at)} ago" %>
                  </p>
                </li>
              </ul>
            </div>
            <div class="col-12 col-lg-8 d-flex">
              <div class="col-12 text-lg-right align-self-end p-0">
                <div class="d-flex align-items-center">
                  <ul class="list-unstyled ml-auto mb-0">
                    <li class="d-none d-md-inline-block mb-0 mr-2">
                      <span class="feed-article-btn-share">
                        <%= image_tag 'share.svg', alt: "share" %>
                      </span>
                    </li>
                    <li class="d-none d-md-inline-block mb-0 mr-2">
                      <span class="feed-article-btn-share">
                        <%= image_tag 'like.svg', alt: "save" %>
                      </span>
                    </li>
                    <li class="d-inline-block mb-0">
                      <% if job&.listing_type.present? && job&.listing_type == "Training" %>
                      <span class="feed-article-btn-apply">
                        <%= link_to "View",static_job_apply_path(job,status: candidate_signed_in?), method: :post , remote: true, data: { trigger_modal: true }%>
                      </span>
                      <% elsif job&.listing_type.present? && job&.listing_type == "Service" %>
                      <span class="feed-article-btn-apply">
                        <%= link_to "View",static_job_apply_path(job,status: candidate_signed_in?), method: :post , remote: true, data: { trigger_modal: true }%>
                      </span>
                      <% elsif job&.listing_type.present? && job&.listing_type == "Product" %>
                      <span class="feed-article-btn-apply">
                        <%= link_to "Buy",static_job_apply_path(job,status: candidate_signed_in?), method: :post , remote: true, data: { trigger_modal: true }%>
                      </span>
                      <% else %>
                      <span class="feed-article-btn-apply">
                        <% if current_candidate.present? && current_candidate.already_applied?(job.id) %>
                          Applied
                        <% else %>
                          <%= link_to "Apply Now",static_job_apply_path(job,status: candidate_signed_in?), method: :post , remote: true, data: { trigger_modal: true }%>
                        <% end %>
                      </span>
                      <% end %>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <!-- Feed Blocks End -->
<% end %>
