<% if company_jobs.present? %>
  <% company_jobs.each do |job| %>
    <% if job&.listing_type.present? && job&.listing_type == "Blog" %>
      <!-- Profile Block-->
      <div class="feed-article feed-blog-item col-12 px-0">
          <div class="row align-items-start">
            <div class="col-12 col-lg-2 px-0 text-center" >
              <% if job.files.present? %>
                <% img_url = job.files.split(',') %>
                <%= image_tag img_url[0] ,class: "feed-article-image", alt: "photo" %>
              <% else %>
                <%= image_tag asset_path('avatars/no_photo.jpg') ,class: "feed-article-image", alt: "photo" %>
              <% end %>
            </div>
            <div class="col-12 col-lg-10 pl-1 pr-3">
              <div class="col-12 px-0">
                <h5 class="feed-article-title"><%= link_to truncate(job.title, lenght: 50), static_job_path(job) %></h5>
                <div class="feed-article-description pb-2">
                  <%= job.description.html_safe if job.description.present? %>
                </div>

                <div class="row align-items-center">
                  <div class="col-12 mb-2 mb-xl-0">
                    <div class="row align-items-center no-gutters">
                      <div class="col-7">
                        <div class="media">
                          <div class="media-body align-self-center">
                            <h5 class="feed-article-author">
                              by <%= job.created_by&.full_name %></h5>
                          </div>
                        </div>
                      </div>
                      <div class="feed-article-date col-5 gavel-block text-right">
                        <small><%= job.created_at.strftime("%d %b, %Y") %></small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    <% elsif job&.listing_type.present? && (job&.listing_type == "Training" || job&.listing_type == "Service" || job&.listing_type == "Product" ) %>
      <!-- Feed Blocks Start -->
      <div class="feed-article col-12 px-0">
          <div class="row d-flex">
            <div class="col-12 col-lg-2 px-0 text-center align-items-start" >
              <% if job&.files.present? %>
                <%= image_tag(job.files, class: "feed-article-image") %>
              <% elsif job.created_by&.photo.present? %>
                <%= image_tag(job.created_by&.photo, class: "feed-article-image") %>
              <% else %>
                <%= image_tag 'static-job.png' ,class: "feed-article-image"%>
              <% end %>
              <%#= image_tag 'kulkakit.svg' ,class: "img-fluid mr-3", alt: "kulka kit" %>
            </div>
            <div class="col-12 col-lg-10 pl-1 pr-3 d-flex flex-column justify-content-between align-self-strech">
              <div class="row justify-content-between">
                <div class="col-12 col-md-6 col-lg-7 text-center text-md-left d-flex align-self-center">
                  <h3 class="feed-article-title"><%= link_to truncate(job.title,length: 50) ,static_job_path(job)%></h3>
                </div>
                <% if job.job_category.present? %>
                  <div class="col-12 col-md-6 col-lg-5 text-center text-md-right">
                    <div class="col-12 p-0">
                      <ul class="list-unstyled m-0">
                        <li class="d-inline-block">
                          <span class="feed-article-category">
                            <%= job&.job_category %>
                          </span>
                        </li>
                      </ul>
                    </div>
                  </div>
                <% end %>
              </div>
              <div class="row justify-content-between">
                <div class="col-12 col-md-6 col-lg-4 my-2 my-md-0">
                  <ul class="list-unstyled m-0 p-0">
                    <li class="d-block">
                      <p class="feed-article-website">
                        <%= image_tag 'globalization.svg' ,class: "img-fluid w-15 mr-2", alt: "globe" %>
                        <%= job&.company&.website %>
                      </p>
                    </li>
                    <% if job.location.present? %>
                      <li class="d-block">
                        <p class="feed-article-location">
                          <%= image_tag 'placeholder.svg' ,class: "img-fluid w-15 mr-2", alt: "placeholder" %>
                          <%= job&.location%>
                        </p>
                      </li>
                    <% end %>
                    <li class="d-block">
                      <p class="feed-article-time">
                        <%= image_tag 'clock.svg' ,class: "img-fluid w-15 mr-2", alt: "clock" %>
                        <%= "#{time_ago_in_words(job.created_at)} ago" %>
                      </p>
                    </li>
                  </ul>
                </div>
                <div class="col-12 col-lg-8 d-flex">
                  <div class="col-12 text-lg-right align-self-end p-0">
                    <div class="d-flex align-items-center">
                      <ul class="list-unstyled ml-auto mb-0">
                        <li class="d-inline-block mb-0 mr-2">
                          <span class="feed-article-btn-share">
                            <%= image_tag 'share.svg' ,class: "img-fluid ml-2", alt: "share" %>
                          </span>
                        </li>
                        <li class="d-inline-block mb-0 mr-2">
                          <span class="feed-article-btn-share">
                            <%= image_tag 'like.svg' ,class: "img-fluid ml-2", alt: "save" %>
                          </span>
                        </li>
                        <li class="d-inline-block mb-0">
                          <% if job&.listing_type.present? && job&.listing_type == "Training" %>
                          <span class="feed-article-btn-apply">
                            <%= link_to "View",static_job_apply_path(job,status: candidate_signed_in?), method: :post , remote: true, data: { trigger_modal: true }%>
                          </span>
                          <% elsif job&.listing_type.present? && job&.listing_type == "Service" %>
                          <span class="feed-article-btn-apply">
                            <%= link_to "View",static_job_apply_path(job,status: candidate_signed_in?), method: :post , remote: true, data: { trigger_modal: true }%>
                          </span>
                          <% elsif job&.listing_type.present? && job&.listing_type == "Product" %>
                          <span class="feed-article-btn-apply">
                            <%= link_to "Buy",static_job_apply_path(job,status: candidate_signed_in?), method: :post , remote: true, data: { trigger_modal: true }%>
                          </span>
                          <% else %>
                          <span class="feed-article-btn-apply">
                            <% if current_candidate.present? && current_candidate.already_applied?(job.id) %>
                              Applied
                            <% else %>
                              <%= link_to "Apply Now",static_job_apply_path(job,status: candidate_signed_in?), method: :post , remote: true, data: { trigger_modal: true }%>
                            <% end %>
                          </span>
                          <% end %>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <!-- Feed Blocks End -->
    <% end %>
  <% end %>
<% else %>
   No data available
<% end %>

<% if company_jobs.present? %>
  <div class="mt-3">
    <%= digg_pagination(company_jobs,class: "pagination ")%>
  </div>
<% end %>
