<!-- Product Details -->
<div class="webflow-content-inner webflow-blog webflow-product-single col-12">
  <!-- Back to Listings -->
  <div class="product-single-back">
    <a href="#"><i class="fa fa-arrow-left mr-1" aria-hidden="true"></i> Back to Listings</a>
  </div>

  <!-- Header: Title, updated, share, save and buy -->
  <div class="product-single-header">
    <div>
      <h1><%= @job.title %></h1>  
      <span><i class="fa fa-clock-o mr-1" aria-hidden="true"></i> <%= "Created On #{@job.created_at.strftime('%B %e, %Y')}" %></span>
      <a href="#" >Share this <i class="fa fa-share-alt ml-1" aria-hidden="true"></i></a>
      <a href="#" >Save this <i class="fa fa-heart ml-1" aria-hidden="true"></i></a>
    </div>
    <a href="#" class="product-single-buy">Apply Now</a>
  </div>

  <!-- Thumbnails -->
  <% unless @job.files.size.zero? %>
    <div class="product-single-thumbnails">
      <% @job.files.split(',').each do |job_file| %>
        <%= image_tag job_file %>
      <% end %>
    </div>
  <% end %>

  <!-- Description -->
  <div class="product-single-subsection-title">
    Description
  </div>
  <div class="product-single-subsection-content">
    <%= @job.description.html_safe %>
  </div>

  <!-- About Company -->
  <div class="product-single-subsection-title">
    About Company 
  </div>
  <div class="product-single-company-card">
    <div class="company-card-image">
      <%= image_tag @job.company.logo %>
    </div>
    <div class="pl-3 align-self-center">
      <div class="company-card-title">
        <%= @job.company.name %>
      </div>
      <% if @job.company.website.present? %>
      <div class="company-card-site">
        <a href="<%= @job.company.website %>" class="company-card-website"><i class="fa fa-globe mr-2" aria-hidden="true"></i> <%= @job.company.website %></a>
      </div>
      <% end %>
    </div>
  </div>
</div>

<%= render 'webflow_job_comments' %>
