<!-- Product Details -->
<div class="webflow-content-inner webflow-blog webflow-product-single col-12 p-4">
  <!-- Back to Listings -->
  <div class="product-single-back pt-3 pb-3">
    <a href="#"><i class="fa fa-arrow-left mr-1" aria-hidden="true"></i> Back to Listings</a>
  </div>

  <!-- Header: Title, updated, share, save and buy -->
  <div class="product-single-header row pb-3">
    <div class="col-8 col-md-10 feed-title">
      <div class="sharethis-inline-share-buttons float-right" data-title="<%= @job.title %>" data-url="<%= static_job_url(@job).to_s %>" %> style="z-index: auto"></div>
      <h1 class="font-500 font-size-24"><%= @job.title %></h1>
    </div>
    <div class="col-12">
      <span><i class="fa fa-clock-o mr-1" aria-hidden="true"></i> <%= "Created On #{@job.created_at.strftime('%B %e, %Y')}" %></span>
      <%= render 'show_details_job_info', is_job: is_job %>
    </div>
  </div>

  <!-- Thumbnails -->
  <% unless @job.files.size.zero? %>
    <div class="product-single-thumbnails">
      <% @job.files.split(',').each do |job_file| %>
        <%= image_tag job_file %>
      <% end %>
    </div>
  <% end %>

  <!-- Description -->
  <div class="product-single-subsection-title pb-3">
    <h5 class="font-500 font-size-24">Description</h5>
  </div>
  <div class="product-single-subsection-content pb-3">
    <%= @job.description.html_safe %>
  </div>

  <!-- About Company -->
  <div class="product-single-subsection-title pb-3">
    <h7>About Company</h7>
  </div>
  <div class="btn btn-primary col-md-4 float-right" style="background-color: #5555A5;border-color: #5555A5;">
    <%= link_to "Apply Now", static_job_apply_path(@job, status: candidate_signed_in?), method: :post , remote: true, data: { trigger_modal: true }, style: 'color: white;font-size: x-large;' %>
  </div>
  <div class="product-single-company-card d-flex pb-3">
    <div class="company-card-image">
      <%= image_tag @job.company.logo %>
    </div>
    <div class="pl-3 mt-3 align-self-center">
      <div class="company-card-title">
        <%= @job.company.name %>
      </div>
      <% if @job.company.website.present? %>
      <div class="company-card-site">
        <a href="<%= @job.company.website %>" class="company-card-website"><i class="fa fa-globe mr-2" aria-hidden="true"></i> <%= @job.company.website %></a>
      </div>
      <% end %>
    </div>
  </div>
</div>

<%= render 'webflow_job_comments' %>
