<!-- webflow_feed_article_question -->
<div class="feed-article feed-blog-item col-12 px-0">
    <div class="d-flex align-items-start">
      <div class="width-100 mx-0 mx-sm-2">
        <div class="thumb-100 thumb-xs-80" >
          <% if job&.files.present? %>
            <%= image_tag(job.files) %>
          <% elsif job.created_by&.photo.present? %>
            <%= image_tag(job.created_by&.photo) %>
          <% else %>
            <div class="feed-blank-thumb-100">&nbsp;</div>
          <% end %>
        </div>
      </div>
      <div class="pl-1 pr-1 flex-fill">
        <div class="col-12 px-0">
          <h5 class="feed-article-title"><%= link_to truncate(job.title, lenght: 50), static_job_path(job, type: 'feed') %></h5>
          <div class="feed-article-description pb-2">
            <%= truncate(strip_tags(job.description), length: 200) if job.description.present? %>
          </div>

          <div class="row align-items-center">
            <div class="col-12 mb-2 mb-xl-0">
              <div class="row align-items-center no-gutters">
                <div class="col-12">
                  <div class="media">
                    <div class="media-body align-self-center">
                      <h5 class="feed-article-author">by <%= job.created_by_candidate&.full_name || job.created_by&.full_name %></h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row align-items-center no-gutters">
                <div class="col-5">
                  <small><%= link_to "#{job.comments.size} comments", static_job_path(job, type: 'feed') %></small>
                </div>
                <div class="col-7 d-flex justify-content-end">
                  <% if current_company.owner == current_user %>
                    <small class="mr-2"><%= link_to 'Delete', job, method: 'delete', class: 'text-danger' %></small>
                  <% end %>
                  <small><%= job.created_at.strftime("%d %b, %Y") %></small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<!-- ./webflow_feed_article_question -->
