
.row
  -#.col-lg-12
    = link_to 'Company Signup', register_path, class: 'btn btn-primary pull-right'
    -#= link_to 'Candidate Signup', new_registration_path(:candidate), class: 'btn btn-primary pull-right', style: 'margin-right: 5px;'
  .col-lg-12
    - @jobs.each do |job|
      .col-sm-3.animated.fadeInLeftBig
        .panel
          %section.panel.b-light.text-center{style:"border-color:thistle height: 100%"}
            %header.panel-heading.bg-color-white{:style => "display: table; width: 100%; height: 100%;"}
              %h3.equal-height.margin-bottom-20
                = job.title
                %br
                %span.h4.text-muted
                  = job.job_category
              %ul.list-group
                %li.list-group-item
                  %p.h4
                    = job.company.name.titleize
                %li.list-group-item.text-muted.text-center{:style => "text-align: justify; font-size: 14px; height: 140px;"}
                  = truncate(strip_tags(job.description),length: 200)
              .pannel-footer.b-light.links{:style => ""}
                = link_to 'Apply',candidate_signed_in? ? static_job_apply_path(job,status:true)  : static_job_apply_path(job,status: false) ,method: :post,remote: true ,class: "btn btn-primary size #{current_candidate.present? ?  (current_candidate.is_already_applied?(job.id) ? 'disabled' : " ") :''  } "
                = link_to 'View Detail',static_job_path(job),class: 'btn btn-primary size'


-content_for :scripts do

  :javascript
    $(document).ready(function() {
        $('.equal-height').equalHeights();
    });
