- content_for :search_bar do
  .jumbotron.home-tron-search.well
    .container
      = search_form_for @search , url: search_static_jobs_path , method: :get do |f|
        .row
          .col-sm-12
            .home-tron-search-inner
              .row
                .col-sm-8.col-xs-9{:style => "text-align: center"}
                  .row
                    .col-sm-12.col-sm-offset-1
                      .input-group
                        %span.input-group-addon.input-group-addon-text.hidden-xs Search Jobs
                        = f.text_field :title_or_job_category_cont, class: "form-control input-md ", placeholder: "Search Jobs..."
                        .input-group-addon.hidden-xs
                          .btn-group
                            = f.select :job_category_eq , WORK_CATEGORIES.each { |key, value| [key.humanize, value] }, {} , {class: "btn btn-default btn-md dropdown-toggle" , style:'width: 140px;height:45px ', onChange: "this.form.submit(); "}

                .col-sm-4.col-xs-3{:style => "text-align: center"}
                  .row
                    .col-sm-11.pull-right
                      %button.btn.btn-primary.search-btn
                        %i.icon-search>
                            Search
.row
  .col-sm-4.hidden-xs
    .sidebar
      %br/
      .row
        .col-sm-11
          .panel.panel-default
            .panel-heading Filters
            .panel-body
              %form.form-inline.mini{:style => "margin-bottom: 0px;"}
                %fieldset
                  = search_form_for @search , url: search_static_jobs_path , method: :get do |f|
                    .row.filter-row
                      .col-sm-12
                        %label Search jobs by title , category
                        %br/

                      .col-md-12
                        .input-group
                          = f.text_field :title_or_job_category_cont, class: "form-control input-md ", placeholder: "Search Jobs...", style: "width: 115%;padding:17px"
                    .row.filter-row
                      .col-sm-2.pull-right{:style => "margin-top: 10px;"}
                        = f.submit "Search",class: "button btn btn-primary pull-right"

  .col-sm-8.pull-right.listings
    .row.listing-row{:style => "margin-top: -10px;"}
      .pull-left
        %strong= Date.today.strftime("Today , %d  %B ,%Y ")
    - @jobs.each do |job|
      .row.premium.listing-row
        .col-sm-12
          %h3
            %a{:href => static_job_path(job)}
              = job.title+"-"
              %strong= job.company.name.humanize
          %p.muted
            Located in
            %strong= job.location
          %p.muted
            = job.start_date.strftime("Posted on %B %d ,%Y") + " to"
            %a.underline{:href => "#"}= job.job_category
          %p= truncate(strip_tags(job.description),length: 200)
          %p.ad-description
            %strong= "Last date to apply  " + job.end_date.to_s
            -#|
            -#%strong 98,000 mil
          %p
            %span.classified_links.pull-right
              = link_to 'Details' , static_job_path(job) , class: "underline link-info"
               
              -#%a.link-info.underline{:href => "#"} Contact

      %div
        = will_paginate @posts ,class:'pagination pull-right '


-content_for :scripts do

  :javascript
    $(document).ready(function() {
        $('.equal-height').equalHeights();
    });