<section class="content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <%= render 'header_webflow' %>
      <div class="col-12 content-main">
        <div class="tab-content">
          <!-- FEED -->
          <div class="tab-pane fade show active" >
            <div class="row">
              <div class="col-12 col-xl-9 feed-main">
                <div class="feed-top">
                <div class="row">
                  <div class="col-12">
                    <div class="feed-slider-banners">
                    </div>
                  </div>
                </div>
                <div class="col-12 px-0 category-list">
                  <div class="dropdown dropdown-container">
                    <button class="dropdown-toggle dropdown-button" id="dropdownMenuFilters" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      <span>Filters</span><%= image_tag "login-drop-arrow.svg", class: "pr-2" %>
                    </button>
                    <ul class="list-unstyled dropdown-menu dropdown-content" id="main_feed_id" aria-labelledby="dropdownMenuFilters">
                      <% @job_categories.each do |category| %>
                        <label class="check-main">
                          <input type="checkbox" class="selected_category" id="<%= category %>" checked><%= category %>
                          <%#= check_box_tag 'category', 'yes', true, class: 'checkmark' %>
                          <span class="checkmark">
                          </span>
                        </label>
                      <% end %>
                    </ul>
                  </div>
                  <div class="dropdown dropdown-container">
                    <button class="dropdown-toggle dropdown-button" id="dropdownMenuSort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      <span>Sort</span><%= image_tag "login-drop-arrow.svg", class: "pr-2" %>
                    </button>
                    <ul class="list-unstyled dropdown-menu dropdown-content" id="main_feed_id" aria-labelledby="dropdownMenuSort">
                      Under Construction
                    </ul>
                  </div>
                </div>
                </div>

                <div class="ask-a-question-wrapper">
                  <button class="btn btn-ask-a-question">
                    + Ask a Question
                  </button>
                </div>

                <div id="static_feeds" class="static-feeds">
                  <%= render partial: 'load_jobs' %>
                </div>
              </div>
              <%= render 'sidebar_webflow_right' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style type="text/css">
  .media .img-icon-size {
    border-radius: 50%;
  }

  .feed_image {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }

  .common-blue-btn a {
    color: #fff !important;
  }

  .inactive-feed a {
    color: #AEB4C9 !important;
  }

  .txt-black a {
    color: #2A2C34 !important;
  }

  .txt-blue a {
    color: #5555A5 !important;
  }

  img.align-self-center {
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }

</style>
