<section class="content-wrapper">
  <%= stylesheet_link_tag "mycompany" %>
  <%= javascript_include_tag "cable" %>
  <style>
    .bot_style{
      background: none  !important;
      border: none !important;
      margin: 0px;
      padding: 0px;
    }
    .bot_style:hover {
      outline: none !important;
    }
    .bot_style:focus {
      outline: none !important;
    }
    .imag_css{
      height: 17px;
      width: 17px;
      margin-right: 5px;
      border-radius: 50%;
    }
    .imag_css_for_pic{
      margin-left:7px
    }
    .scrool::-webkit-scrollbar {
      width: 8px;
      margin: 3px;
    }
    /* Track */
    .scrool::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px white;
      border-radius: 5px;
    }

    /* Handle */
    .scrool::-webkit-scrollbar-thumb {
      background: #047bf8;
      border-radius: 10px;
    }

    /* Handle on hover */
    .scrool::-webkit-scrollbar-thumb:hover {
      background: #047bf8;
    }


  </style>
  <div class="container-fluid">
    <div class="row">
      <%= render 'static/shared/webflow_header' %>
      <div class="col-12 content-main">
        <div class="tab-content">
          <div class="tab-pane fade show active">
            <div class="row">
              <div class="col-12 col-xl-9 feed-main">
                <div class="search-bar-mobile m-2">
                  <input type="text" placeholder="<%="Search #{@current_company.name}..."%>" class="search-style f-14 f-mon-med txt-dark w-100">
                  <div class="btn-search">
                    <button class="btn border-0">
                      <%= image_tag(image_path('search.png'), class: "img-fluid") %>
                    </button>
                  </div>
                </div>
                <div class="row mx-1 align-items-stretch mt-3">
                  <% if @candidates.present? %>
                    <% @candidates.each_with_index do |c , index| %>
                      <% @c_bench_job = JobInvitation.find_by(recipient_id: c&.candidate&.id, company_id: c&.company&.id) %>
                      <div class="col-12 col-xl-4 mb-4">
                        <div class="card card-profile">
                          <div class="card-body text-center">
                            <%# <img src= "=c.try(:candidate).try(:photo)" alt="Profile Picture" class="mb-3"> %>
                            <img src="https://via.placeholder.com/100" alt="Profile Picture" class="mb-3">
                            <h5 class="card-title">
                              <%if c&.candidate&.display_name.present? %>
                                <%= link_to c&.candidate&.display_name, public_profile_static_candidates_url(c&.candidate, subdomain: c&.company&.slug), target: "_blank", style: 'color: black;' %>
                              <%else%>
                                <%= link_to c&.candidate&.first_name + " "+c&.candidate&.last_name[0] ,  public_profile_static_candidates_url(c&.candidate, subdomain: c&.company&.slug), target: "_blank", style: 'color: black;' %>
                              <%end%>
                            </h5>
                            <p class="card-text">
                                <% if c&.candidate&.candidate_title.present? %>
                                  <%= c&.candidate&.candidate_title %>
                                <% else %>
                                  <p></p>
                                <% end %>
                            </p>
                            <div class= "skills mb-3">
                              <% if c&.candidate&.skills.any? %>
                                <% c.candidate.skills.each do |skill| %>
                                  <span class="badge badge-secondary"><%= skill.name %></span>
                                <% end %>
                              <% end %>
                            </div>
                            <div class="row mb-3">
                              <div class="col">
                                <p class="mb-0"><strong>Rate</strong></p>
                                <% if @c_bench_job.present? && @c_bench_job&.min_hourly_rate.present? && @c_bench_job&.max_hourly_rate.present? %>
                                  <p><%= "$" + @c_bench_job&.min_hourly_rate.to_s + "-" + @c_bench_job&.max_hourly_rate.to_s + "/hr"%></p>
                                <% else %>
                                  <p>-</p>
                                <% end %>
                              </div>
                              <div class="col">
                                <p class="mb-0"><strong>Location</strong></p>
                                <p><%= c.try(:candidate).try(:location) || "-" %></p>
                              </div>
                              <div class="col">
                                <p class="mb-0"><strong>Rating</strong></p>
                                <% if c.try(:rating).try(:total).to_f.positive? %>
                                  <p><%= (c.try(:rating).try(:average).to_i || 0) / (c.try(:rating).try(:total)) %></p>
                                <% else %>
                                  <p>-</p>
                                <% end %>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-6 mt-1">
                                <%= c.try(:company).try(:name)%>
                              </div>

                              <div class="col-6 contact mb-3">
                                <img src="https://via.placeholder.com/30" alt="Contact Person">
                                <p class="mb-0"><%= c.try(:company).try(:owner).try(:first_name) %></p>
                              </div>
                            </div>
                            <div class="d-flex align-items-center mb-2">
                              <a href="<%= public_profile_static_candidates_url(c&.candidate, subdomain: c&.company&.slug) %>" class="btn btn-outline-primary btn-block" style="color: black !important; background-color: black !important; border-color: black;" target="_blank"><i class="ti-user"></i><span style="color: white;">See profile</span></a>
                            </div>
                            <a class="btn btn-outline-secondary btn-block" onclick="recruiter_button(<%= User.find_by(id: c&.candidate&.recruiter_id).try(:id) %>)"><i class="ti-themify-favicon" style="color: black;"></i>Chat with Hr Managers</a>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  <% else %>
                    <div>No People Available</div>
                  <% end %>
                </div>
                <% if @candidates.present? %>
                  <div class="mt-3">
                      <%= digg_pagination(@candidates ,class: "pagination ")%>
                  </div>
                <% end %>
              </div>
              <%= render 'static/shared/webflow_sidebar_right' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css"></link>
<link href="/jqcloud/jqcloud.css" media="screen" rel="stylesheet" type="text/css"></link>
<script src="/jqcloud/jqcloud-1.0.4.js" type="text/javascript"></script>
<%= javascript_include_tag 'shared/hide_show_toggler'%>
<script>
    $(".openbtn").click(function() {
        $(".side-wrapper").toggleClass("side-active")
    });
    function recruiter_button(recruiter){
          $.ajax({
              url: `/company/conversations/mini_chat`,
              type: "GET",
              dataType: "script",
              data: {recruiter:recruiter},
              success: function (data) {
              }
          });
    }

    function candidate_button(candidate){
          $.ajax({
              url: `/company/conversations/mini_chat`,
              type: "GET",
              dataType: "script",
              data: {candidate: candidate},
              success: function (data) {
                  
              }
          });
    };
</script>
<script>
    var word_array = [
          {text: "Lorem", weight: 15},
          {text: "Ipsum", weight: 9, link: "http://jquery.com/"},
          {text: "Dolor", weight: 6, html: {title: "I can haz any html attribute"}},
          {text: "Sit", weight: 7},
          {text: "Amet", weight: 5}
          // ...as many words as you want
      ];
    $("#search_query").change(function () {
        const urlParams = new URLSearchParams(window.location.search);
        let goto_url = ''
        urlParams.set('input_search', $('#search_query').val() );
        goto_url = '<%= static_people_path %>' + '?' + urlParams.toString();
        window.location = goto_url;
    });
    
    $(document).ready(function() {    
      (function( $ ) {
        "use strict";
        $.fn.jQCloud = function(word_array, options) {
          // Reference to the container element
          var $this = this;
          // Namespace word ids to avoid collisions between multiple clouds
          var cloud_namespace = $this.attr('id') || Math.floor((Math.random()*1000000)).toString(36);

          // Default options value
          var default_options = {
            width: $this.width(),
            height: $this.height(),
            center: {
              x: ((options && options.width) ? options.width : $this.width()) / 2.0,
              y: ((options && options.height) ? options.height : $this.height()) / 2.0
            },
            delayedMode: word_array.length > 50,
            shape: false, // It defaults to elliptic shape
            encodeURI: true,
            removeOverflowing: true
          };

          options = $.extend(default_options, options || {});

          // Add the "jqcloud" class to the container for easy CSS styling, set container width/height
          $this.addClass("jqcloud").width(options.width).height(options.height);

          // Container's CSS position cannot be 'static'
          if ($this.css("position") === "static") {
            $this.css("position", "relative");
          }

          var drawWordCloud = function() {
            // Helper function to test if an element overlaps others
            var hitTest = function(elem, other_elems) {
              // Pairwise overlap detection
              var overlapping = function(a, b) {
                if (Math.abs(2.0*a.offsetLeft + a.offsetWidth - 2.0*b.offsetLeft - b.offsetWidth) < a.offsetWidth + b.offsetWidth) {
                  if (Math.abs(2.0*a.offsetTop + a.offsetHeight - 2.0*b.offsetTop - b.offsetHeight) < a.offsetHeight + b.offsetHeight) {
                    return true;
                  }
                }
                return false;
              };
              var i = 0;
              // Check elements for overlap one by one, stop and return false as soon as an overlap is found
              for(i = 0; i < other_elems.length; i++) {
                if (overlapping(elem, other_elems[i])) {
                  return true;
                }
              }
              return false;
            };

            // Make sure every weight is a number before sorting
            for (var i = 0; i < word_array.length; i++) {
              word_array[i].weight = parseFloat(word_array[i].weight, 10);
            }

            // Sort word_array from the word with the highest weight to the one with the lowest
            word_array.sort(function(a, b) { if (a.weight < b.weight) {return 1;} else if (a.weight > b.weight) {return -1;} else {return 0;} });

            var step = (options.shape === "rectangular") ? 18.0 : 2.0,
                already_placed_words = [],
                aspect_ratio = options.width / options.height;

            // Function to draw a word, by moving it in spiral until it finds a suitable empty place. This will be iterated on each word.
            var drawOneWord = function(index, word) {
              // Define the ID attribute of the span that will wrap the word, and the associated jQuery selector string
              var word_id = cloud_namespace + "_word_" + index,
                  word_selector = "#" + word_id,
                  angle = 6.28 * Math.random(),
                  radius = 0.0,

                  // Only used if option.shape == 'rectangular'
                  steps_in_direction = 0.0,
                  quarter_turns = 0.0,

                  weight = 5,
                  custom_class = "",
                  inner_html = "",
                  word_span;

              // Extend word html options with defaults
              word.html = $.extend(word.html, {id: word_id});

              // If custom class was specified, put them into a variable and remove it from html attrs, to avoid overwriting classes set by jQCloud
              if (word.html && word.html["class"]) {
                custom_class = word.html["class"];
                delete word.html["class"];
              }

              // Check if min(weight) > max(weight) otherwise use default
              if (word_array[0].weight > word_array[word_array.length - 1].weight) {
                // Linearly map the original weight to a discrete scale from 1 to 10
                weight = Math.round((word.weight - word_array[word_array.length - 1].weight) /
                                    (word_array[0].weight - word_array[word_array.length - 1].weight) * 9.0) + 1;
              }
              word_span = $('<span>').attr(word.html).addClass('w' + weight + " " + custom_class);

              // Append link if word.url attribute was set
              if (word.link) {
                // If link is a string, then use it as the link href
                if (typeof word.link === "string") {
                  word.link = {href: word.link};
                }

                // Extend link html options with defaults
                if ( options.encodeURI ) {
                  word.link = $.extend(word.link, { href: encodeURI(word.link.href).replace(/'/g, "%27") });
                }

                inner_html = $('<a>').attr(word.link).text(word.text);
              } else {
                inner_html = word.text;
              }
              word_span.append(inner_html);

              // Bind handlers to words
              if (!!word.handlers) {
                for (var prop in word.handlers) {
                  if (word.handlers.hasOwnProperty(prop) && typeof word.handlers[prop] === 'function') {
                    $(word_span).bind(prop, word.handlers[prop]);
                  }
                }
              }

              $this.append(word_span);

              var width = word_span.width(),
                  height = word_span.height(),
                  left = options.center.x - width / 2.0,
                  top = options.center.y - height / 2.0;

              // Save a reference to the style property, for better performance
              var word_style = word_span[0].style;
              word_style.position = "absolute";
              word_style.left = left + "px";
              word_style.top = top + "px";

              while(hitTest(word_span[0], already_placed_words)) {
                // option shape is 'rectangular' so move the word in a rectangular spiral
                if (options.shape === "rectangular") {
                  steps_in_direction++;
                  if (steps_in_direction * step > (1 + Math.floor(quarter_turns / 2.0)) * step * ((quarter_turns % 4 % 2) === 0 ? 1 : aspect_ratio)) {
                    steps_in_direction = 0.0;
                    quarter_turns++;
                  }
                  switch(quarter_turns % 4) {
                    case 1:
                      left += step * aspect_ratio + Math.random() * 2.0;
                      break;
                    case 2:
                      top -= step + Math.random() * 2.0;
                      break;
                    case 3:
                      left -= step * aspect_ratio + Math.random() * 2.0;
                      break;
                    case 0:
                      top += step + Math.random() * 2.0;
                      break;
                  }
                } else { // Default settings: elliptic spiral shape
                  radius += step;
                  angle += (index % 2 === 0 ? 1 : -1)*step;

                  left = options.center.x - (width / 2.0) + (radius*Math.cos(angle)) * aspect_ratio;
                  top = options.center.y + radius*Math.sin(angle) - (height / 2.0);
                }
                word_style.left = left + "px";
                word_style.top = top + "px";
              }

              // Don't render word if part of it would be outside the container
              if (options.removeOverflowing && (left < 0 || top < 0 || (left + width) > options.width || (top + height) > options.height)) {
                word_span.remove()
                return;
              }


              already_placed_words.push(word_span[0]);

              // Invoke callback if existing
              if ($.isFunction(word.afterWordRender)) {
                word.afterWordRender.call(word_span);
              }
            };

            var drawOneWordDelayed = function(index) {
              index = index || 0;
              if (!$this.is(':visible')) { // if not visible then do not attempt to draw
                setTimeout(function(){drawOneWordDelayed(index);},10);
                return;
              }
              if (index < word_array.length) {
                drawOneWord(index, word_array[index]);
                setTimeout(function(){drawOneWordDelayed(index + 1);}, 10);
              } else {
                if ($.isFunction(options.afterCloudRender)) {
                  options.afterCloudRender.call($this);
                }
              }
            };

            // Iterate drawOneWord on every word. The way the iteration is done depends on the drawing mode (delayedMode is true or false)
            if (options.delayedMode){
              drawOneWordDelayed();
            }
            else {
              $.each(word_array, drawOneWord);
              if ($.isFunction(options.afterCloudRender)) {
                options.afterCloudRender.call($this);
              }
            }
          };

          // Delay execution so that the browser can render the page before the computatively intensive word cloud drawing
          setTimeout(function(){drawWordCloud();}, 10);
          return $this;
        };
      })(jQuery);
      generateTags();
    });
  
    function generateTags() {
      $(".cover-img").each(function() {
        tags        = []
        str         = $(this).attr("data-value");
        tags_collection = JSON.parse(str);
        $.each(tags_collection, function( index, value ) {
          tags.push({"text":value ,"weight": 8+index});
        });
        tag_id      = $(this).attr("tag-value");
        console.log(tag_id)
        $("#"+tag_id).empty().jQCloud(tags);
      });
    }
</script>
<style type="text/css">
    .bg-transparent {
        background: transparent !important;
        box-shadow: none !important;
    }
    .skills{
      background-color: white;
      text-align: left;
      padding: 15px;
      margin-top: 30;
    }
    .skills ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    .skills ul li{
      border: 1px solid #F9F9F9;
      border-radius: 20px;
      display: inline-block;
      margin: 0 4px 4px 0;
      padding: 4px;
      background: #F9F9F9;
      font-size: 12px;
    }
    .skill-list::-webkit-scrollbar-thumb{
      background-color: rgb(116, 124, 142);
    }
    .skill-list{
      max-height:150px;
      overflow-y:auto;
      color: rgb(116, 124, 142);
    }
    .slider {
      background: #d3d3d3;
    }
    .txt-black a {
        color: #2A2C34 !important;
    }
    .candidate-name{
     margin: auto;
     text-align: center;
     font-weight: bold;
    }

    .f-mon-bol a {
        color: #fff !important;
    }

    .media .circle {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        font-size: 15px;
        color: #fff;
        padding: 5px;
        text-align: center;
        background: gray;
        display: inline-block;
    }

    .log-prof .circle {
        width: 50px;
        height: 37px;
        border-radius: 50%;
        font-size: 20px;
        color: gray;
        padding: 5px;
        text-align: center;
        display: inline-block;
    }

    .chat_img a {
        color: #fff !important;
    }
</style>
