<section class="content-wrapper">
  <div class="container">
    <div class="row">
      <div class="header pt-md-4">
        <div class="col-12">
          <div class="header-items bor-btm pt-3 pt-md-0 pb-3">
            <div class="row align-items-center">
              <div class="col-12 col-md-4 col-lg-6 mb-2 mb-md-0">
                <div class="search-main position-relative d-flex align-items-center justify-content-between">
                  <div class="d-inline-block position-relative">
                    <input type="text" placeholder="Search" class="search-style f-14 f-mon-med txt-dark">
                      <div class="btn-search">
                        <button class="btn border-0">
                            <%= image_tag(image_path('search.svg'), class: "img-fluid") %>
                        </button>
                      </div>
                  </div>
                </div>
                <div class="d-inline-block text-right">
                  <span class="openbtn txt-dark d-md-none">
                    <i class="fa fa-bars f-20" aria-hidden="true"></i>
                  </span>
                </div>

              </div>
              <%= render 'kulkakit/shared/header' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 content-main">
      <div class="tab-content pt-4">
        <div class="tab-pane fade show active">
          <div class="row">
            <div class="col-12 col-xl-10">
              <div class="row">
                <% if @candidates.present? %>
                  <% @candidates.each_with_index do |c , index| %>
                    <div class="col-12 col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-5">
                      <div class="people-card bg-white pb-3">
                        <div class="cover-img">
                          <% @c_bench_job = JobInvitation.find_by(recipient_id: c&.candidate&.id, company_id: c&.company&.id) %>
                          <%= image_tag "#{c&.candidate&.photo.blank? ? asset_path('avatars/no-image.jpg') : c.candidate.photo }" ,class: "img-fluid cover-bg w-100", alt: "cover" %>
                          <div class="love">
                            <%= image_tag 'love.svg' ,class: "img-fluid", alt: "like" %>
                          </div>
                          <% if c&.candidate&.candidate_title.present? %>
                            <div class="designation" title="<%= c.candidate.candidate_title %>">
                              <span class="bg-white d-flex align-items-center justify-content-center px-3 py-2 br-20 f-12 f-mon-sembol">
                                <%= image_tag 'black-suitcase.svg' ,class: "img-fluid mr-2", alt: "share" %><%= do_ellipsis(c&.candidate&.candidate_title,20) %></span>
                            </div>
                          <% end %>
                        </div>

                        <div class="col-12 pt-3">
                          <div class="media">
                             <%#= image_tag 'follower-user.png' ,class: "mr-3", alt: "user" %>
                             <%= link_to user_image(c.candidate, style: 'width: 35px; height: 35px;', class: 'data-table-image mr-2',title: "#{c.candidate.full_name}" ),public_profile_static_candidates_path(c.candidate), class: "mr-3" %>
                            <div class="media-body ">
                              <h5 class="mt-0 f-14 f-mon-sembol txt-black"><%= c.candidate.try(:full_name).try(:titleize) %>
                                <%= image_tag 'verified.svg' ,class: "img-fluid ml-2", alt: "verified" %>
                              </h5>
                              <p class="m-0 f-12 f-mon-sembol txt-light"><%= c.candidate.try(:location) %></p>
                              <% if @c_bench_job.present? && @c_bench_job&.min_hourly_rate.present? && @c_bench_job&.max_hourly_rate.present? %>
                              <p class="d-inline-block f-18 f-mon-sembol txt-dark">
                                  <%= "$#{@c_bench_job.present? && @c_bench_job&.min_hourly_rate.present? ? number_with_precision(@c_bench_job&.min_hourly_rate, precision: 2) : ""}/hr" %></p>
                              <p class="d-inline-block pl-1 f-14 f-mon-sembol txt-light">
                                  <del><%= "$#{@c_bench_job.present? && @c_bench_job&.max_hourly_rate.present? ? number_with_precision(@c_bench_job&.max_hourly_rate, precision: 2) : ""}/hr" %></del>
                              </p>
                              <% else %>
                                <p class="d-inline-block f-14 f-mon-sembol txt-dark">
                                  Chat for Pricing
                                </p>
                              <% end %>
                              <p class="m-0 f-14 f-mon-sembol txt-dark" title="<%= c.candidate.skills.pluck(:name).join(", ") if c.candidate.skills.present? %>">
                                <%= do_ellipsis(c.candidate.skills.pluck(:name).join(", "),45) if c.candidate.skills.present? %>
                              <p>
                              </p>
                            </div>
                          </div>

                          <div class="col-12 p-0 d-flex justify-content-between">
                            <span class="bg-blue d-inline-block px-3 py-2 br-20 f-10 f-mon-sembol text-white">
                              <%= image_tag 'microphone.svg' ,class: "img-fluid mr-2", alt: "microphone" %>Schedule Interview</span>
                            <span class="bg-blue d-inline-block px-3 py-2 br-20 f-10 f-mon-sembol text-white chat_img">
                              <% if current_user.present? %>
                                <%= link_to company_conversations_path do %>
                                  <%= image_tag 'chat.svg' ,class: "img-fluid mr-2", alt: "chat" %>Chat
                                <% end %>
                              <% elsif current_candidate.present? %>
                                <%= link_to static_people_path(is_chat_candidate: "true") do %>
                                  <%= image_tag 'chat.svg' ,class: "img-fluid mr-2", alt: "chat" %>Chat
                                <% end %>
                              <% else %>
                                <%= link_to request.subdomain.present? ? new_user_session_path(allow_chat: "true") : signin_path(allow_chat: "true") do %>
                                  <%= image_tag 'chat.svg' ,class: "img-fluid mr-2", alt: "chat" %>Chat
                                <% end %>
                              <% end %>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% else %>
                  <div>No People Available</div>
                <% end %>
              </div>
              <% if @candidates.present? %>
                <div class="mt-3">
                  <%= digg_pagination(@candidates,class: "pagination ")%>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<%= javascript_include_tag 'shared/hide_show_toggler'%>
<script>
    var selected_categories = [];
    $(document).ready(function () {
      $(".openbtn").click(function () {
          $(".side-wrapper").addClass("side-active")
      });

      $(".closebtn").click(function () {
          $(".side-wrapper").removeClass("side-active")
          $(".side-wrapper").removeClass("inactive")
      });
    });
</script>
<style type="text/css">
  .bg-transparent{
    background: transparent !important;
    box-shadow: none !important;
  }
  .txt-black a{
    color: #2A2C34 !important;
  }

  .f-mon-bol a{
    color: #fff !important;
  }
  .media .circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 15px;
    color: #fff;
    padding: 5px;
    text-align: center;
    background: gray;
    display: inline-block;
  }

  .log-prof .circle {
    width: 50px;
    height: 37px;
    border-radius: 50%;
    font-size: 20px;
    color: gray;
    padding: 5px;
    text-align: center;
    display: inline-block;
  }
  .chat_img a {
    color: #fff!important;
  }
</style>
