<section class="content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <%= render 'static/shared/webflow_header' %>
            <div class="col-12 content-main">
                <div class="tab-content pt-4">
                    <div class="tab-pane fade show active">
                        <div class="row">
                            <div class="col-12 col-xl-9 feed-main">
                                <div class="row mx-1 align-items-stretch">
                                    <% if @candidates.present? %>
                                    <% @candidates.each_with_index do |c , index| %>
                                    <div class="col-12 col-xl-4 mb-4">
                                        <div class="people-card d-flex flex-column h-100">
                                            <% @c_bench_job = JobInvitation.find_by(recipient_id: c&.candidate&.id, company_id: c&.company&.id) %>

                                            <div class="cover-img">
                                                <%= link_to (image_tag "#{c&.candidate&.photo.blank? ? asset_path('avatars/no-image.jpg') : c&.candidate&.photo }", alt: "cover"), public_profile_static_candidates_path(c&.candidate), target: "_blank"  %>
                                            </div>

                                            <div class="people-card-header d-flex justify-content-between">
                                                <div class="media">
                                                    <%= link_to user_avatar(c&.candidate), public_profile_static_candidates_path(c&.candidate), target: "_blank" %>
                                                    <%= link_to c&.candidate&.full_name, public_profile_static_candidates_path(c&.candidate), target: "_blank" %>
                                                </div>
                                                <div>
                                                    <%# <p class="m-0 f-12 f-mon-sembol txt-light"><%= c&.candidate&.location&.country %1></p> %>
                                                </div>
                                            </div>

                                            <div class="people-card-content flex-fill">
                                                <% if c&.candidate&.candidate_title.present? %>
                                                <%= c&.candidate&.candidate_title %>
                                                <% end %>
                                            </div>

                                            <div class="people-card-footer d-flex justify-content-between mb-3">
                                                <div class="card-footer-icons d-flex">
                                                    <%# 
                                                        @c_candidate = c&.candidate_id
                                                         %>
                                                    <%# 
                                                        @c_candidate_obj = Candidate.find_by(id: @c_candidate)
                                                         %>
                                                    <%# @c_recruiter = User.find_by(id: @c_candidate_obj&.recruiter_id)%>

                                                    <%
=begin%>
                                                    <div class="logged-user-role d-block">

                                                        <%#= contact_widget_recuirter(@c_recruiter.email, @c_recruiter.phone,@c_recruiter,chat_link: chat_link(@c_recruiter),color: '#3E4B5B; !important') if @c_recruiter.present? %>
                                                    </div>
                                                    <%
=end%>
                                                    <!-- Like Icon -->
                                                    <div class="card-footer-like mr-2">
                                                        <%= image_tag 'hearth.svg', class: "img-fluid", alt: "Like" %>
                                                    </div>
                                                    <!-- Chat Icon -->
                                                    <div class="card-footer-chat">
                                                        <% if current_user.present? %>
                                                        <%= link_to company_conversations_path do %>
                                                        <%= image_tag 'reply.svg', class: "img-fluid mr-2", alt: "Chat" %>
                                                        <% end %>
                                                        <% elsif current_candidate.present? %>
                                                        <%= link_to static_people_path(is_chat_candidate: "true") do %>
                                                        <%= image_tag 'reply.svg', class: "img-fluid mr-2", alt: "chat" %>
                                                        <% end %>
                                                        <% else %>
                                                        <%= link_to request.subdomain.present? ? new_user_session_path(allow_chat: "true") : signin_path(allow_chat: "true") do %>
                                                        <%= image_tag 'reply.svg', class: "img-fluid mr-2", alt: "chat" %>
                                                        <% end %>
                                                        <% end %>
                                                    </div>
                                                </div>
                                                <!-- Price -->
                                                <% if @c_bench_job.present? && @c_bench_job&.min_hourly_rate.present? && @c_bench_job&.max_hourly_rate.present? %>
                                                <div>
                                                    <p class="d-inline-block card-people-footer-max-rate mb-0 mr-1">
                                                        <del>
                                                            <%= "$#{@c_bench_job.present? && @c_bench_job&.max_hourly_rate.present? ? number_with_precision(@c_bench_job&.max_hourly_rate, precision: 2) : ""}/hr" %>
                                                        </del>
                                                    </p>
                                                    <p class="d-inline-block card-people-footer-min-rate mb-0">
                                                        <%= "$#{@c_bench_job.present? && @c_bench_job&.min_hourly_rate.present? ? number_with_precision(@c_bench_job&.min_hourly_rate, precision: 2) : ""}/hr" %>
                                                    </p>
                                                </div>
                                                <% end %>
                                            </div>
                                        </div>
                                    </div>
                                    <% end %>
                                    <% else %>
                                    <div>No People Available</div>
                                    <% end %>
                                </div>
                                <% if @candidates.present? %>
                                <div class="mt-3">
                                    <%= digg_pagination(@candidates ,class: "pagination ")%>
                                </div>
                                <% end %>
                            </div>
                            <%= render 'static/shared/webflow_sidebar_right' %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%= javascript_include_tag 'shared/hide_show_toggler'%>
<script>
    $(".openbtn").click(function() {
        $(".side-wrapper").toggleClass("side-active")
    });
</script>
<style type="text/css">
    .bg-transparent {
        background: transparent !important;
        box-shadow: none !important;
    }

    .txt-black a {
        color: #2A2C34 !important;
    }

    .f-mon-bol a {
        color: #fff !important;
    }

    .media .circle {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        font-size: 15px;
        color: #fff;
        padding: 5px;
        text-align: center;
        background: gray;
        display: inline-block;
    }

    .log-prof .circle {
        width: 50px;
        height: 37px;
        border-radius: 50%;
        font-size: 20px;
        color: gray;
        padding: 5px;
        text-align: center;
        display: inline-block;
    }

    .chat_img a {
        color: #fff !important;
    }
</style>