<% content_for :head do %>
  <meta content="<%= candidate_job_url(@job&.id) %>" property="og:url"/>
  <meta content="<%= @job&.company&.name %>" property="og:title"/>
  <meta content="summary" name="twitter:card"/>
  <meta content="<%= @job&.title %>" name="twitter:title"/>
  <meta content=" " property="fb:app_id"/>
  <meta content="<%= @job&.description %>" property="og:description"/>
  <meta content="article" property="og:type"/>
<% end %>

<section class="content-wrapper"> <!-- Section Content Wrapper -->
  <div class="container-fluid"> <!-- Div Container Fluid -->
    <div class="row"> <!-- Div Row -->
      <%= render 'static/shared/webflow_header' %>
      <div class="content-main col-12 col-xl-9"> <!-- Div Content Main -->
          <% if @job.listing_type == "Blog" %>
            <%= render 'show_details_blog' %>
          <% elsif @job.listing_type == "Question" %>
            <%= render 'show_details_question' %>
          <% elsif @job.listing_type == "Product" %>
            <%= render 'show_details_product' %>
          <% elsif @job.listing_type == "Service" %>
            <%= render 'show_details_product' %>
          <% elsif @job.listing_type == "Training" %>
            <%= render 'show_details_product' %>
          <% elsif @job.listing_type == "Job" %>
            <%= render 'show_details_product' %>
          <% end %>
      </div> <!-- Div Content Main -->
      <%= render 'static/shared/webflow_sidebar_right' %>
    </div> <!-- Div Row -->
  </div> <!-- Div Container Fluid -->
</section> <!-- Content Wrapper -->


<script type="application/1d+json">
{
"@context": "http://schema.org",
"@type": "JobPosting",
"title": "<%= @job.title %>",
"description": "<%= @job.description %>",
"datePosted": "<%= @job.created_at.strftime("%Y-%m-%d") %>",
"hiringOrganization": {
  "@type": "Organization",
  "name": "<%= @job.company.name %>",
  "sameAs": "<%= @job.company.website %>",
  "logo": "<%= @job.company.logo %>"
}
}
</script>
<%= javascript_include_tag 'shared/hide_show_toggler'%>





<script>
    var selected_categories = [];
    $(document).ready(function () {
      $(".openbtn").click(function () {
          $(".side-wrapper").addClass("side-active")
      });

      $(".closebtn").click(function () {
          $(".side-wrapper").removeClass("side-active")
          $(".side-wrapper").removeClass("inactive")
      });
    });
</script>
