-#= render  'static/jobs/partials/header'
.container
  .col-sm-12.animated.fadeInRightBig
    %section.panel.mt-20s
      %header.panel-heading
        -#%a.pull-right.btn.btn-primary.right.mt-12{href:"#",}  Apply Now
        - if @job.is_active?
          = link_to 'Apply Now' ,candidate_signed_in? ? static_job_apply_path(@job,status:true)  : static_job_apply_path(@job,status: false) , method: :post , remote: true ,  class: "btn btn-md  btn-success pull-right #{current_candidate.present? ? (current_candidate.is_already_applied?(@job.id) ? "disabled " : "" ) : "" } "
        %h1= @job.title
        - @job.tags.each do |tag|
          %span.h4.badge
            =tag.name
      %ul.ul-s
        %li.list-group-item.list-p-15
          %span.text-muted Detail
          =raw(@job.description)
          .row
            .col-lg-3.col-md-3
              %span.text-muted.fs-13 Location
              %b
                = @job.location.titleize if @job.location.present?
            .col-lg-3.col-md-3
              %span.text-muted.fs-13 Category
              %b
                = @job.job_category
            .col-lg-3.col-md-3
              %span.text-muted.fs-13 Date / End
              %b
                = @job.start_date.to_s + "   /   "
                = @job.end_date.to_s
            .col-lg-3.col-md-3
              %span.text-muted.fs-13 Company
              %b
                = @job.company.name
- content_for :modals do
  #job_application