<section class="content-wrapper">
  <div class="container">
    <div class="row">
      <div class="header pt-md-4">
        <div class="col-12">
          <div class="header-items bor-btm pt-3 pt-md-0">
            <div class="row align-items-center">
              <div class="col-12 col-md-4 col-lg-6 mb-2 mb-md-0">
                <div class="search-main position-relative d-flex align-items-center justify-content-between">
                  <div class="d-inline-block position-relative">
                    <input type="text" placeholder="Search" class="search-style f-14 f-mon-med txt-dark">
                      <div class="btn-search">
                        <button class="btn border-0">
                            <%= image_tag(image_path('search.svg'), class: "img-fluid") %>
                        </button>
                      </div>
                  </div>
                  <div class="d-inline-block text-right">
                    <span class="openbtn txt-dark d-md-none">
                      <i class="fa fa-bars f-20" aria-hidden="true"></i>
                    </span>
                  </div>
                </div>

              </div>
              <%= render 'kulkakit/shared/header' %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 content-main">
        <div class="tab-content pt-4">
          <!-- FEED -->
          <div class="tab-pane fade show active" >
            <div class="row">
              <div class="col-12 col-xl-9 feed-main">
                <div class="col-12 p-0 category-list">
                  <ul class="list-unstyled mt-3" id="main_feed_id">

                    <label class="check-main mr-2">
                      <input type="checkbox" class="selected_feed_category" id="Blog" checked>Blog
                      <%#= check_box_tag 'category', 'yes', true, class: 'checkmark' %>
                      <span class="checkmark">
                        <!-- <input type="checkbox" value="Bike"> -->
                      </span>
                    </label>

                    <label class="check-main mr-2">
                      <input type="checkbox" class="selected_feed_category" id= "Product" checked>Product
                      <%#= check_box_tag 'category', 'yes', true, class: 'checkmark' %>
                      <span class="checkmark">
                        <!-- <input type="checkbox" value="Bike"> -->
                      </span>
                    </label>

                    <label class="check-main mr-2">
                      <input type="checkbox" class="selected_feed_category" id= "Service" checked>Service
                      <%#= check_box_tag 'category', 'yes', true, class: 'checkmark' %>
                      <span class="checkmark">
                        <!-- <input type="checkbox" value="Bike"> -->
                      </span>
                    </label>

                    <label class="check-main mr-2">
                      <input type="checkbox" class="selected_feed_category" id= "Training" checked>Training
                      <%#= check_box_tag 'category', 'yes', true, class: 'checkmark' %>
                      <span class="checkmark">
                        <!-- <input type="checkbox" value="Bike"> -->
                      </span>
                    </label>

                  </ul>
                </div>
                <div id="static_feeds">
                  <%= render partial: 'load_feed_jobs', locals: {company_jobs: @company_jobs} %>
                </div>
              </div>

              <div class="col-xl-3 d-block align-right">
                <div class="mb-3">
                  <div class="row align-items-center justify-content-between">
                    <div class="col-8">
                      <p class="m-0 f-18 f-mon-sembol txt-black">Current Bench</p>
                    </div>
                    <div class="col text-right">
                      <p class="m-0 f-12 f-mon-sembol txt-blue"><a href="<%= static_people_path %>">View All</a></p>
                    </div>
                  </div>
                  <% if @candidates.present? %>
                    <div class="col-12 p-0 follower-list">
                      <ul class="list-unstyled mt-3">
                        <% @candidates.each do |c| %>
                         <li class="d-block mb-3">
                            <div class="media p-3 follower-block">
                              <%#= image_tag 'follower-user.png' ,class: "mr-3 align-self-center", alt: "user" %>
                              <%= image_tag "#{c&.candidate&.photo.blank? ? asset_path('avatars/male.png') : c.candidate.photo }" ,class: "mr-3 align-self-center", alt: "user" %>
                              <div class="media-body ">
                                <h5 class="mt-0 f-14 f-mon-sembol txt-black"><%= "#{c.candidate.full_name}" %>
                                  <% if is_verify(!!c.candidate.confirmed_at) == "verified" %>
                                    <%= image_tag 'verified.svg' ,class: "img-fluid ml-2", alt: "verified" %></h5>
                                  <% end %>
                                <% if c&.candidate&.candidate_title.present? %>
                                  <p class="m-0 f-12 f-mon-sembol"  title="<%= c.candidate.candidate_title %>"><%= image_tag 'black-suitcase.svg' ,class: "img-fluid mr-2", alt: "suitcase" %><%= do_ellipsis(c&.candidate&.candidate_title,20) %></p>
                                <% end %>
                              </div>
                            </div>
                          </li>
                        <% end %>
                      </ul>
                    </div>
                  <% end %>
                </div>

                <div class="mb-3">
                  <div class="row align-items-center justify-content-between">
                    <div class="col-8">
                      <p class="m-0 f-18 f-mon-sembol txt-black">Current Jobs</p>
                    </div>
                    <div class="col text-right">
                      <p class="m-0 f-12 f-mon-sembol txt-blue"><a href="<%= static_jobs_path %>">View All</a></p>
                    </div>
                  </div>
                  <% if @job_all.present? %>
                    <div class="col-12 p-0 follower-list">
                      <ul class="list-unstyled mt-3">
                        <% @job_all.each do |c_job| %>
                          <li class="d-block mb-3">
                            <div class="media p-3 follower-block">
                              <% if c_job&.files.present? %>
                                <%= image_tag(c_job.files, class: "mr-3 align-self-center") %>
                              <% elsif c_job&.created_by&.photo.present? %>
                                <%= image_tag(c_job&.created_by&.photo, class: "mr-3 align-self-center") %>
                              <% else %>
                                <%= image_tag 'static-job.png' ,class: "mr-3 align-self-center"%>
                              <% end %>
                              <%#= image_tag 'follower-user.png' ,class: "mr-3 align-self-center", alt: "user" %>
                              <div class="media-body ">
                                <h5 class="mt-0 f-14 f-mon-sembol txt-black" title="<%= c_job.title %>"><%= link_to do_ellipsis(c_job.title,20),static_job_path(c_job)%>
                                  <%#= image_tag 'verified.svg' ,class: "img-fluid ml-2", alt: "verified" %>
                                </h5>
                                <% if c_job.job_category.present? %>
                                  <p class="m-0 f-12 f-mon-sembol"><%= image_tag 'black-suitcase.svg' ,class: "img-fluid mr-2", alt: "suitcase" %><%= c_job&.job_category %></p>
                                <% end %>
                              </div>
                            </div>
                          </li>
                        <% end %>
                      </ul>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style type="text/css">
  .media .img-icon-size {
    border-radius: 50%;
  }

  .feed_image {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }

  .common-blue-btn a {
    color: #fff !important;
  }

  .inactive-feed a {
    color: #AEB4C9 !important;
  }

  .txt-black a {
    color: #2A2C34 !important;
  }

  .txt-blue a {
    color: #5555A5 !important;
  }

  img.align-self-center {
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }

</style>
<%= javascript_include_tag 'shared/hide_show_toggler'%>
<script>
    var selected_categories = [];
    $(document).ready(function () {
      var selected_feeds = '<%= params[:selected_categories] %>'
      if (selected_feeds != "" || window.location.search.includes('selected_categories') ) {
        selected_categories = selected_feeds.split(',')
      }else{
        $("#main_feed_id").find("input").each(function(){ selected_categories.push(this.id); });
      }

      // Blog
      if(selected_categories.includes('Blog')){
        $("#Blog").attr("checked","checked");
      }else{
        $("#Blog").removeAttr("checked");
      }

      // Product
      if(selected_categories.includes('Product')){
        $("#Product").attr("checked","checked");
      }else{
        $("#Product").removeAttr("checked");
      }

      // Service
      if(selected_categories.includes('Service')){
        $("#Service").attr("checked","checked");
      }else{
        $("#Service").removeAttr("checked");
      }

      // Training
      if(selected_categories.includes('Training')){
        $("#Training").attr("checked","checked");
      }else{
        $("#Training").removeAttr("checked");
      }

      $(".openbtn").click(function () {
          $(".side-wrapper").addClass("side-active")
      });

      $(".closebtn").click(function () {
          $(".side-wrapper").removeClass("side-active")
          $(".side-wrapper").removeClass("inactive")
      });
      $(".selected_feed_category").click(function () {
          cat = this.id
          selected_categories = selected_categories.filter(Boolean);
          if($(this).is(':checked')){
            selected_categories.push(cat)
          }else{
            if(selected_categories.includes(cat)){
              i = selected_categories.indexOf(cat)

              if ( ~i ) selected_categories.splice(i, 1);
            }
          }
        var goto_url = '<%= root_static_feeds_path %>'+'?selected_categories='+selected_categories
        window.location = goto_url;
      });
    });
</script>