<section class="content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <%= render 'static/shared/webflow_header' %>
      <div class="col-12 content-main">
        <div class="tab-content">
          <!-- FEED -->
          <div class="tab-pane fade show active" >
            <div class="row">
              <div class="col-12 col-xl-9 feed-main">

                <!-- .webflow_feed_header -->
                <%= render '/static/shared/webflow_feed_header' %>
                <!-- /.webflow_feed_header -->


                <div id="static_feeds" class="static-feeds">
                  <%= render partial: 'load_feed_jobs', locals: { company_jobs: @company_jobs } %>
                </div>
              </div>
              <%= render 'static/shared/webflow_sidebar_right' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Script to filter the categories -->
<script>
    var selected_categories = [];
    $(document).ready(function () {
      var selected_feeds = '<%= params[:selected_categories] %>'
      if (selected_feeds != "" || window.location.search.includes('selected_categories') ) {
        selected_categories = selected_feeds.split(',')
      }else{
        $("#main_feed_id").find("input").each(function(){ selected_categories.push(this.id); });
      }

      // Blog
      if(selected_categories.includes('Blog')){
        $("#Blog").attr("checked","checked");
      }else{
        $("#Blog").removeAttr("checked");
      }

      // Product
      if(selected_categories.includes('Product')){
        $("#Product").attr("checked","checked");
      }else{
        $("#Product").removeAttr("checked");
      }

      // Service
      if(selected_categories.includes('Service')){
        $("#Service").attr("checked","checked");
      }else{
        $("#Service").removeAttr("checked");
      }

      // Training
      if(selected_categories.includes('Training')){
        $("#Training").attr("checked","checked");
      }else{
        $("#Training").removeAttr("checked");
      }

      $(".selected_feed_category").click(function () {
          cat = this.id
          selected_categories = selected_categories.filter(Boolean);
          if($(this).is(':checked')){
            selected_categories.push(cat)
          }else{
            if(selected_categories.includes(cat)){
              i = selected_categories.indexOf(cat)

              if ( ~i ) selected_categories.splice(i, 1);
            }
          }
        var goto_url = '<%= root_static_feeds_path %>'+'?selected_categories='+selected_categories
        window.location = goto_url;
      });
    });
</script>
