<section class="content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <%= render 'header_webflow' %>
      <div class="col-12 content-main">
        <div class="tab-content">
          <!-- FEED -->
          <div class="tab-pane fade show active" >
            <div class="row">
              <div class="col-12 col-xl-9 feed-main">
                <div class="feed-top">
                <div class="row">
                  <div class="col-12">
                    <div class="feed-slider-banners">
                    </div>
                  </div>
                </div>
                <div class="col-12 px-0 category-list">
                  <div class="dropdown dropdown-container">
                    <button class="dropdown-toggle dropdown-button" id="dropdownMenuFilters" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      <span>Filters</span><%= image_tag "login-drop-arrow.svg", class: "pr-2" %>
                    </button>
                    <ul class="list-unstyled dropdown-menu dropdown-content" id="main_feed_id" aria-labelledby="dropdownMenuFilters">
                      <label class="check-main mr-2">
                        <input type="checkbox" class="selected_feed_category" id="Blog" checked>Blog
                        <%#= check_box_tag 'category', 'yes', true, class: 'checkmark' %>
                        <span class="checkmark">
                          <!-- <input type="checkbox" value="Bike"> -->
                        </span>
                      </label>
                      <label class="check-main mr-2">
                        <input type="checkbox" class="selected_feed_category" id= "Product" checked>Product
                        <%#= check_box_tag 'category', 'yes', true, class: 'checkmark' %>
                        <span class="checkmark">
                          <!-- <input type="checkbox" value="Bike"> -->
                        </span>
                      </label>
                      <label class="check-main mr-2">
                        <input type="checkbox" class="selected_feed_category" id= "Service" checked>Service
                        <%#= check_box_tag 'category', 'yes', true, class: 'checkmark' %>
                        <span class="checkmark">
                          <!-- <input type="checkbox" value="Bike"> -->
                        </span>
                      </label>
                      <label class="check-main mr-2">
                        <input type="checkbox" class="selected_feed_category" id= "Training" checked>Training
                        <%#= check_box_tag 'category', 'yes', true, class: 'checkmark' %>
                        <span class="checkmark">
                          <!-- <input type="checkbox" value="Bike"> -->
                        </span>
                      </label>
                    </ul>
                  </div>
                  <div class="dropdown dropdown-container">
                    <button class="dropdown-toggle dropdown-button" id="dropdownMenuSort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      <span>Sort</span><%= image_tag "login-drop-arrow.svg", class: "pr-2" %>
                    </button>
                    <ul class="list-unstyled dropdown-menu dropdown-content" id="main_feed_id" aria-labelledby="dropdownMenuSort">
                      Under Construction
                    </ul>
                  </div>
                </div>
                </div>

                <div class="ask-a-question-wrapper">
                  <button class="btn btn-ask-a-question">
                    + Ask a Question
                  </button>
                </div>

                <div id="static_feeds" class="static-feeds">
                  <%= render partial: 'load_feed_jobs', locals: {company_jobs: @company_jobs} %>
                </div>
              </div>
              <%= render 'sidebar_webflow_right' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style type="text/css">
  .media .img-icon-size {
    border-radius: 50%;
  }

  .feed_image {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }

  .common-blue-btn a {
    color: #fff !important;
  }

  .inactive-feed a {
    color: #AEB4C9 !important;
  }

  .txt-black a {
    color: #2A2C34 !important;
  }

  .txt-blue a {
    color: #5555A5 !important;
  }

  img.align-self-center {
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }

</style>
<%= javascript_include_tag 'shared/hide_show_toggler'%>
<script>
    var selected_categories = [];
    $(document).ready(function () {
      var selected_feeds = '<%= params[:selected_categories] %>'
      if (selected_feeds != "" || window.location.search.includes('selected_categories') ) {
        selected_categories = selected_feeds.split(',')
      }else{
        $("#main_feed_id").find("input").each(function(){ selected_categories.push(this.id); });
      }

      // Blog
      if(selected_categories.includes('Blog')){
        $("#Blog").attr("checked","checked");
      }else{
        $("#Blog").removeAttr("checked");
      }

      // Product
      if(selected_categories.includes('Product')){
        $("#Product").attr("checked","checked");
      }else{
        $("#Product").removeAttr("checked");
      }

      // Service
      if(selected_categories.includes('Service')){
        $("#Service").attr("checked","checked");
      }else{
        $("#Service").removeAttr("checked");
      }

      // Training
      if(selected_categories.includes('Training')){
        $("#Training").attr("checked","checked");
      }else{
        $("#Training").removeAttr("checked");
      }

      $(".openbtn").click(function () {
          $(".side-wrapper").addClass("side-active")
      });

      $(".closebtn").click(function () {
          $(".side-wrapper").removeClass("side-active")
          $(".side-wrapper").removeClass("inactive")
      });
      $(".selected_feed_category").click(function () {
          cat = this.id
          selected_categories = selected_categories.filter(Boolean);
          if($(this).is(':checked')){
            selected_categories.push(cat)
          }else{
            if(selected_categories.includes(cat)){
              i = selected_categories.indexOf(cat)

              if ( ~i ) selected_categories.splice(i, 1);
            }
          }
        var goto_url = '<%= root_static_feeds_path %>'+'?selected_categories='+selected_categories
        window.location = goto_url;
      });
    });
</script>
