#content.no-border.well.well-sm
  #wid-id-5.no-border.jarviswidget{"data-widget-colorbutton" => "false", "data-widget-custombutton" => "false", "data-widget-editbutton" => "false", "data-widget-fullscreenbutton" => "false", "data-widget-sortable" => "false"}
    %div
      .jarviswidget-editbox
      .widget-body
        .tabs-left.row
          %ul#demo-pill-nav.nav.nav-tabs.tabs-left
            %li.active
              %a{"data-toggle" => "tab", :href => "#tab-r1"}
                %span.badge.bg-color-blue.txt-color-white= @job_invitations.pending.count
                Send Invitations
            %li
              %a{"data-toggle" => "tab", :href => "#tab-r2"}
                %span.badge.bg-color-blueDark.txt-color-white 3
                Receive Invitations
          .col-md-10
            .tab-content
              #tab-r1.tab-pane.active
                #hb2.tab-pane.active
                  %ul#internal-tab-1.nav.nav-tabs.tabs-pull-right
                    %li
                      %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#is4"} Rejected
                    %li
                      %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#is1"} Accepted
                    %li
                      %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#is2"} Pending
                    %li.active
                      %a{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#is3"} All
                  .tab-content.padding-10
                    #is4.tab-pane
                      = render partial: 'company/job_invitations/partials/invitation_table' , locals: {data: @job_invitations.rejected}
                    #is1.tab-pane
                      = render partial: 'company/job_invitations/partials/invitation_table' , locals: {data: @job_invitations.accepted}
                    #is2.tab-pane.fade
                      = render partial: 'company/job_invitations/partials/invitation_table' , locals: {data: @job_invitations.pending}
                    #is3.tab-pane.fade.active.in
                      = render partial: 'company/job_invitations/partials/invitation_table' , locals: {data: @job_invitations}

              #tab-r2.tab-pane
                #hb22.tab-pane.active
                %ul#internal-tab-2.nav.nav-tabs.tabs-pull-right
                  %li
                    %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#is-4"} Rejected
                  %li
                    %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#is-1"} Accepted
                  %li
                    %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#is-2"} Pending
                  %li.active
                    %a{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#is-3"} All
                .tab-content.padding-10
                  #is-4.tab-pane
                    = render partial: 'company/job_invitations/partials/receive_invitation_table' , locals: {data: @job_invitations_received.rejected}
                  #is-1.tab-pane
                    = render partial: 'company/job_invitations/partials/receive_invitation_table' , locals: {data: @job_invitations_received.accepted}
                  #is-2.tab-pane.fade
                    = render partial: 'company/job_invitations/partials/receive_invitation_table' , locals: {data: @job_invitations_received.pending}
                  #is-3.tab-pane.fade.active.in
                    = render partial: 'company/job_invitations/partials/receive_invitation_table' , locals: {data: @job_invitations_received}



-#======================================================================================================================

-##content
  #wid-id-7#content.jarviswidget.jarviswidget-color-teal{"data-widget-attstyle" => "jarviswidget-color-teal", "data-widget-custombutton" => "false", "data-widget-editbutton" => "false", "data-widget-fullscreenbutton" => "false", "data-widget-sortable" => "false", :role => "widget", :style => ""}
    %header{:role => "heading"}
      %ul.nav.nav-tabs.pull-left.in
        %li.active
          %a{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#hr1"}
            %i.fa.fa-lg.fa-arrow-circle-o-down
            %span.hidden-mobile.hidden-tablet Accepted
        %li
          %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#hr2"}
            %i.fa.fa-lg.fa-arrow-circle-o-up
            %span.hidden-mobile.hidden-tablet
              Rejected
        %li
          %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#hr3"}
            %i.fa.fa-lg.fa-arrow-circle-o-up
            %span.hidden-mobile.hidden-tablet
              Pending

      %span.jarviswidget-loader
        %i.fa.fa-refresh.fa-spin
    / widget div
    %div{:role => "content"}
      .jarviswidget-editbox

      .widget-body
        .tab-content
          #hr1.tab-pane.active
            .tabbable.tabs-below
              .tab-content.padding-10
                %section#widget-grid{style: 'margin-top: 10px;'}
                  .row
                    %article.col-xs-12.col-sm-12.col-md-12.col-lg-12
                      #wid-id-0.jarviswidget.jarviswidget-color-darken{"data-widget-editbutton" => "false"}
                        %header
                          %span.widget-icon
                            %i.fa.fa-table
                          %h2 Job Invitations
                        %div
                          .jarviswidget-editbox
                          .widget-body.no-padding
                            %table#dt_basic.table.table-striped.table-bordered.table-hover{ width: "100%" }
                              %thead
                                %tr
                                  %th{"data-hide" => "phone"} Job
                                  %th{"data-class" => "expand"}
                                    %i.fa.fa-fw.fa-calendar.txt-color-blue.hidden-md.hidden-sm.hidden-xs
                                    Last-Date
                                  %th Location
                                  %th Posted By
                                  %th Status
                              %tbody
                                - @job_invitations.accepted.each_with_index do |invitation , index|
                                  %tr
                                    %td= link_to invitation.job.title , job_path(invitation.job)
                                    %td= invitation.job.end_date
                                    %td= invitation.job.location.name  rescue "  --"
                                    %td= invitation.job.company.name  rescue "  --"
                                    %td= invitation.status

          #hr2.tab-pane
            .tabbable.tabs-below
              .tab-content.padding-10
                %section#widget-grid{style: 'margin-top: 10px;'}
                  .row
                    %article.col-xs-12.col-sm-12.col-md-12.col-lg-12
                      #wid-id-0.jarviswidget.jarviswidget-color-darken{"data-widget-editbutton" => "false"}
                        %header
                          %span.widget-icon
                            %i.fa.fa-table
                          %h2 Job Invitations
                        %div
                          .jarviswidget-editbox
                          .widget-body.no-padding
                            %table#dt_basic.table.table-striped.table-bordered.table-hover{ width: "100%" }
                              %thead
                                %tr
                                  %th{"data-hide" => "phone"} Job
                                  %th{"data-class" => "expand"}
                                    %i.fa.fa-fw.fa-calendar.txt-color-blue.hidden-md.hidden-sm.hidden-xs
                                    Last-Date
                                  %th Location
                                  %th Posted By
                                  %th Status
                              %tbody
                                - @job_invitations.rejected.each_with_index do |invitation , index|
                                  %tr
                                    %td= link_to invitation.job.title , job_path(invitation.job)
                                    %td= invitation.job.end_date
                                    %td= invitation.job.location.name  rescue "  --"
                                    %td= invitation.job.company.name  rescue "  --"
                                    %td= invitation.status

          #hr3.tab-pane
            .tabbable.tabs-below
              .tab-content.padding-10
                %section#widget-grid{style: 'margin-top: 10px;'}
                  .row
                    %article.col-xs-12.col-sm-12.col-md-12.col-lg-12
                      #wid-id-0.jarviswidget.jarviswidget-color-darken{"data-widget-editbutton" => "false"}
                        %header
                          %span.widget-icon
                            %i.fa.fa-table
                          %h2 Job Invitations
                        %div
                          .jarviswidget-editbox
                          .widget-body.no-padding
                            %table#dt_basic.table.table-striped.table-bordered.table-hover{ width: "100%" }
                              %thead
                                %tr
                                  %th{"data-hide" => "phone"} Job
                                  %th{"data-class" => "expand"}
                                    %i.fa.fa-fw.fa-calendar.txt-color-blue.hidden-md.hidden-sm.hidden-xs
                                    Last-Date
                                  %th Location
                                  %th Posted By
                                  %th Status
                                  %th{"data-hide" => "phone,tablet"}
                                    Actions
                              %tbody
                                - @job_invitations.pending.each_with_index do |invitation , index|
                                  %tr
                                    %td= link_to invitation.job.title , job_path(invitation.job)
                                    %td= invitation.job.end_date
                                    %td= invitation.job.location.name  rescue "  --"
                                    %td= invitation.job.company.name  rescue "  --"
                                    %td= invitation.status
                                    %td
                                      -#- if current_user.is_vendor?
                                      = link_to 'Accept' , accept_job_invitation_job_job_invitation_path(invitation.job , invitation) , method: :post , remote: true , class: 'btn btn-xs btn-default'
                                      = link_to 'Reject' , reject_job_invitation_job_job_invitation_path(invitation.job , invitation) , method: :post , remote: true ,  class: 'btn btn-xs btn-default'
- content_for :modals do
  #job_invitation
- content_for :scripts do
  :javascript
    // DO NOT REMOVE : GLOBAL FUNCTIONS!

    $(document).ready(function() {

      pageSetUp();

      /* // DOM Position key index //

       l - Length changing (dropdown)
       f - Filtering input (search)
       t - The Table! (datatable)
       i - Information (records)
       p - Pagination (paging)
       r - pRocessing
       < and > - div elements
       <"#id" and > - div with an id
       <"class" and > - div with a class
       <"#id.class" and > - div with an id and class

       Also see: http://legacy.datatables.net/usage/features
       */

      /* BASIC ;*/
      var responsiveHelper_dt_basic = undefined;
      var responsiveHelper_datatable_fixed_column = undefined;
      var responsiveHelper_datatable_col_reorder = undefined;
      var responsiveHelper_datatable_tabletools = undefined;

      var breakpointDefinition = {
        tablet : 1024,
        phone : 480
      };

      $('#dt_basic').dataTable({
        "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+
        "t"+
        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
        "autoWidth" : true,
        "oLanguage": {
          "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
        },
        "preDrawCallback" : function() {
          // Initialize the responsive datatables helper once.
          if (!responsiveHelper_dt_basic) {
            responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_basic'), breakpointDefinition);
          }
        },
        "rowCallback" : function(nRow) {
          responsiveHelper_dt_basic.createExpandIcon(nRow);
        },
        "drawCallback" : function(oSettings) {
          responsiveHelper_dt_basic.respond();
        }
      });

      /* END BASIC */

      /* COLUMN FILTER  */
      var otable = $('#datatable_fixed_column').DataTable({
        //"bFilter": false,
        //"bInfo": false,
        //"bLengthChange": false
        //"bAutoWidth": false,
        //"bPaginate": false,
        //"bStateSave": true // saves sort state using localStorage
        "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6 hidden-xs'f><'col-sm-6 col-xs-12 hidden-xs'<'toolbar'>>r>"+
        "t"+
        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
        "autoWidth" : true,
        "oLanguage": {
          "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
        },
        "preDrawCallback" : function() {
          // Initialize the responsive datatables helper once.
          if (!responsiveHelper_datatable_fixed_column) {
            responsiveHelper_datatable_fixed_column = new ResponsiveDatatablesHelper($('#datatable_fixed_column'), breakpointDefinition);
          }
        },
        "rowCallback" : function(nRow) {
          responsiveHelper_datatable_fixed_column.createExpandIcon(nRow);
        },
        "drawCallback" : function(oSettings) {
          responsiveHelper_datatable_fixed_column.respond();
        }

      });
    })
