.col-sm-12.animated.fadeInRightBig

  %section.panel.margin-top-20
    - if @job_invitation.pending? && !@job_invitation.is_sent?(current_company) && @job_invitation.is_active?
      .btn-group.pull-right
        =# button_tag 'Reject' , class: 'btn btn-success btn-default margin-right-5' , disabled: @contract.signature_required_docs? , onclick: 'openAccept();'
    - if @job_invitation.pending?
      -if has_permission?("manage_job_invitations")
        = button_tag 'Accept' ,  class: 'btn btn-default margin-right-5' , "data-toggle": "modal" , "data-target":"#job-invite-#{@job_invitation.id}"
        = link_to 'Accept' , accept_job_job_invitation_path(@job_invitation.job , @job_invitation) , method: :post , remote: true , class: 'btn btn-xs btn-default pull-right'
        = link_to 'Reject' , reject_job_job_invitation_path(@job_invitation.job , @job_invitation) , method: :post , remote: true ,  class: 'btn btn-xs btn-default pull-right'
    %header.panel-heading
      -#%a.pull-right.btn.btn-primary.right.mt-12{href:"#",}  Apply Now
      %h1= @company_job.title
      - @company_job.tags.each do |tag|
        %span.h4.badge
          =tag.name
    %ul.ul-s
      %li.list-group-item.list-p-15
        %span.text-muted Detail
        =raw(@company_job.description)
        .row
          .col-lg-3.col-md-3
            %span.text-muted.fs-13 Location
            %b
              = @company_job.location.titleize if @company_job.location.present?
          .col-lg-3.col-md-3
            %span.text-muted.fs-13 Category
            %b
              = @company_job.job_category
          .col-lg-3.col-md-3
            %span.text-muted.fs-13 Date / End
            %b
              = @company_job.start_date.to_s + "   /   "
              = @company_job.end_date.to_s
          .col-lg-3.col-md-3
            %span.text-muted.fs-13 Company
            %b
              = @company_job.company.name
- content_for :scripts do
  #job_invitation
- if @job_invitation.pending? && !@job_invitation.is_sent?(current_company) && @job_invitation.is_active?
  = render('company/job_invitations/partials/accept_job_invitation_modal' , job: @job_invitation.job , job_application: @job_application , accept_state: true , job_invitation: @job_invitation)


