.modal.fade.in{ id: "contract-#{status}-#{contract.id}","aria-hidden": "true", "aria-labelledby": "myModalLabel", :role => "dialog", :style => "display: none;", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
          ×
        %h1
          - job_application = contract.job_application
          %span.semi-bold Contract -
          %i.ultra-light #{job_application.company.try(:name)}
          - if job_application.job_invitation.present?
            (#{link_to job_application.job_invitation.try(:recipient).full_name ,  '#' , target: '_blank'})
          -#%sup.badge.bg-color-red.bounceIn.animated v 2.0
          %br/
          %small.text-danger.slideInRight.fast.animated
            %strong Job - #{contract.job.title}
      .modal-body
        = form_for [contract.job,contract] , url: update_contract_response_job_contract_path(contract.job,contract , status: status) ,  method: :post , html: {class: 'form-horizontal'} , remote: true do |f|
          %fieldset
            - if status == 'accept'
              .form-group
                %label.col-md-2.control-label Assign To
                .col-md-10
                  = select_tag 'contract[assignee_id]', options_for_select(current_company.consultants.collect { |c|[c.full_name, c.id] })  , class: "form-control"
              = render 'company/contracts/partials/commission' , f: f
              -#- if contract.attachable_docs?
                .nested-fields
                  = f.fields_for :attachable_docs do |ed|
                    - if ed.object.company_doc.is_required_signature?
                      = ed.hidden_field :file,  class: "attachment-file-upload-field-#{ed.object.id}"
                      = ed.hidden_field :id
            .form-group
              %label.col-md-2.control-label Message (optional)
              .col-md-10
                = f.text_area :response_from_vendor, value: '' , class: "form-control", rows: "2" ,placeholder: 'Write tour message'
            - if status == 'accept'
              .form-group
                = render partial: 'company/contracts/partials/received_by_signarture_pad',locals: {f: f}
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
              Cancel
            = f.submit status.titleize , class: 'btn btn-primary' , data: {confirm: 'Are you sure?', verify: status.titleize, verify_text: "Type '#{status.titleize}' to confirm"}
- if status == 'accept'
  - content_for :scripts do
    :javascript
      $(document).ready(function(){
        $('.sigPad').signaturePad({drawOnly:true});
        toggleFields();
        $(".multi-select2-company-docs").select2({placeholder: "Select a Doc(s)"});
        $('#contract_start_date').datepicker({
          dateFormat : 'dd/mm/yy'
        });
        $('#contract_end_date').datepicker({
          dateFormat : 'dd/mm/yy'
        });
      });