.modal.fade.in{ id: "contract-#{contract.id}","aria-hidden": "true", "aria-labelledby": "myModalLabel", :role => "dialog", :style => "display: none;", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
          ×
        %h1
          - job_application = contract.job_application
          %span.semi-bold Contract -
          %i.ultra-light #{job_application.company.try(:name)}
          - if job_application.job_invitation.present?
            (#{link_to job_application.job_invitation.try(:recipient).full_name ,  '#' , target: '_blank'})
          -#%sup.badge.bg-color-red.bounceIn.animated v 2.0
          %br/
          %small.text-danger.slideInRight.fast.animated
            %strong Job - #{job.title}
        %p
          = raw job.description


      .modal-body
        = form_for [job,contract] , url: update_contract_response_job_contract_path(job,contract , status: status) ,  method: :post , html: {class: 'form-horizontal'} , remote: true do |f|
          %fieldset
            -#.form-group
            -#  %label.col-md-2.control-label Start Date
            -#  .col-md-4
            -#    = f.text_field :start_date ,class: "form-control" , required: 'required', placeholder: "Contract Start Date"
            -#  %label.col-md-2.control-label End Date
            -#  .col-md-4
            -#    = f.text_field :end_date ,class: "form-control" , required: 'required', placeholder: "Contract End Date"
            -#.form-group
            -#  %label.col-md-2.control-label Company Docs
            -#  .col-md-10
            -#    = select_tag "contract[company_doc_ids]", options_from_collection_for_select(current_company.company_docs, "id", "name"), prompt: "Select something" , class:"form-control input-lg multi-select2-company-docs",multiple: true
            -#.form-group
            -#  %label.col-md-2.control-label Terms & Conditions
            -#  .col-md-10
            -#    =  f.text_area :terms_conditions , class: 'form-control',:class => "tinymce", rows: 6, cols: 30, placeholder: 'Enter Contract Terms & conditions'
            -#    = tinymce :default
            -#.form-group
            -#  %label.col-md-2.control-label Billing Frequency
            -#  .col-md-4
            -#    = select_tag 'contract[binding_frequency]', options_for_select(BILLING_FREQUENCY.collect{ |type| [type[0], type[1]] })  , class: "form-control"
            -#  %label.col-md-2.control-label Time Sheet Frequency
            -#  .col-md-4
            -#    = select_tag 'contract[time_sheet_frequency]', options_for_select(BILLING_FREQUENCY.collect{ |type| [type[0], type[1]] }) , class: "form-control"
            %hr
            .form-group
              %label.col-md-2.control-label Message (optional)
              .col-md-10
                = f.text_area :response_from_vendor, class: "form-control", rows: "2" ,placeholder: 'Write tour message'
          .modal-footer
            -#= button_tag 'Cancel' , class: 'btn btn-default' , data: {"dismiss": "modal"}
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
              Cancel
            = f.submit status.titleize , class: 'btn btn-primary' , data: {confirm: 'Are you sure?', verify: status.titleize, verify_text: "Type '#{status.titleize}' to confirm"}
:javascript
    $( document ).ready(function() {
         //$(".multi-select2-company-docs").select2({placeholder: "Select a Doc(s)"});
         $('#contract_start_date').datepicker({
            dateFormat : 'dd/mm/yy'

          });
         $('#contract_end_date').datepicker({
          dateFormat : 'dd/mm/yy'

        });
    });