.modal.fade.in{ id: "contract-#{contract.id}","aria-hidden": "true", "aria-labelledby": "myModalLabel", :role => "dialog", :style => "display: none;", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
          ×
        %h1
          - job_application = contract.job_application
          %span.semi-bold Contract -
          %i.ultra-light #{job_application.company.try(:name)}
          - if job_application.job_invitation.present?
            (#{link_to job_application.job_invitation.try(:recipient).full_name ,  '#' , target: '_blank'})
          -#%sup.badge.bg-color-red.bounceIn.animated v 2.0
          %br/
          %small.text-danger.slideInRight.fast.animated
            %strong Job - #{contract.job.title}
      .modal-body
        %p
          = raw contract.job.description
        %p
          = raw contract.terms_and_conditions
        %table.table.table-striped
          %tbody
            %tr
              %th Start Date
              %td= contract.start_date
            %tr
              %th End Date
              %td= contract.end_date
            %tr
              %th Company
              %td= contract.job.company.name
            %tr
              %th Location
              %td= contract.job.location.name
            %tr
              %th Per Hour
              %td$#{contract.rate}
              %tr
                %th Note
                %td= contract.note

        = form_for [contract.job,contract] , url: update_contract_response_job_contract_path(contract.job,contract , status: status) ,  method: :post , html: {class: 'form-horizontal'} , remote: true do |f|
          %fieldset
            %hr
            .form-group
              %label.col-md-2.control-label Assign To
              .col-md-10
                = select_tag 'contract[assignee_id]', options_for_select(current_company.consultants.collect { |c|[c.full_name, c.id] })  , class: "form-control"
            .form-group
              %label.col-md-2.control-label Message (optional)
              .col-md-10
                = f.text_area :response_from_vendor, value: '' , class: "form-control", rows: "2" ,placeholder: 'Write tour message'
          .modal-footer
            -#= button_tag 'Cancel' , class: 'btn btn-default' , data: {"dismiss": "modal"}
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
              Cancel
            = f.submit status.titleize , class: 'btn btn-primary' , data: {confirm: 'Are you sure?', verify: status.titleize, verify_text: "Type '#{status.titleize}' to confirm"}
:javascript
    $( document ).ready(function() {
         //$(".multi-select2-company-docs").select2({placeholder: "Select a Doc(s)"});
         $('#contract_start_date').datepicker({
            dateFormat : 'dd/mm/yy'

          });
         $('#contract_end_date').datepicker({
          dateFormat : 'dd/mm/yy'

        });
    });