.individual_contracts_headers
  - if @contract.buy_contract&.present?
    %h3= "Buy-  #{@contract.buy_contract.number}"
    - if local_assigns[:editable] and editable
      .text-right
        =link_to 'Add', '#', class: 'btn btn-primary'
        =link_to 'Remove', '#', class: 'btn btn-danger'
- if @contract.buy_contract.present?
  %h3.contract_sub_heading
    Vendor Details
  .sell-side.box
    .contract-customer-details
      .row
        .col-sm-6.pr-0.customer_detail
          .w-100
            %strong.pull-left= "Name: "
            .pull-left= do_ellipsis(@contract.candidate.full_name,15)
          .w-100
            %strong.pull-left= "Contract Type: "
            .pull-left{title: @contract.buy_contract.get_contract_type_label}= @contract.buy_contract.contract_type
          .w-100
            %strong.pull-left= "Address: "
            .pull-left= do_ellipsis(@contract.candidate.addresses.first&.address_1,15)
        .col-sm-6.pr-0.pl-0
          .rate_info.text-center.d-inline-block.p-0
            %strong.rate_label{title: "Freelancer Rate"} Fre. Rate
            %span
              %br
              =  number_to_currency(@contract.buy_contract.today_rate.try(:rate)||0)
              %br
              - if local_assigns[:editable] and editable
                %span.btn.btn-primary.sell-change-rate{"data-toggle": "modal","data-target": "#freelancer_rate_change"} Add Rate
          .rate_info.text-center.d-inline-block.p-0
            %strong.rate_label USICS
            %span
              %br
              =  number_to_currency(@contract.buy_contract.today_rate.try(:uscis)||0)
              %br
              - if local_assigns[:editable] and editable
                %span.btn.btn-primary.sell-change-rate{"data-toggle": "modal","data-target": "#freelancer_rate_change"} Add Rate
        =render 'company/contracts/partials/freelancer_rate_modal'
      .table-responsive.pt-3.line-bottom
        %table.table.text-center.table-bordered.table-lg.table-v2.table-striped.data-table-font
          %thead
            %tr{:role => "row"}
              %th Rate
              %th Expected Hrs
              %th Rate Type
              %th USCIS
              %th From
              %th To
          %tbody
            - @contract.buy_contract.change_rates.each do |change_rate|
              - if change_rate.persisted?
                %tr
                  %td= change_rate.rate
                  %td= change_rate.working_hrs
                  %td= colorfull_text(change_rate.rate_type.upcase,'#1AAE9F')
                  %td= change_rate.uscis
                  %td= colorfull_text(change_rate.from_date,'orange')
                  %td= colorfull_text(change_rate.to_date,'red')
      %div
        .w-100
          %strong.pull-left Business Contacts
          - if @contract.buy_contract.company.present?
            %pull-right= @contract.buy_contract.company.full_name
        .contract_users_team
          - user = @contract.candidate
          .logged-user-w.no_border_bottom{style: "width: 120px;"}
            .avatar-w
              =user_image(user, style: 'width: 35px; height: 35px;', class: 'data-table-image mr-1',title: "#{user.full_name}" )
            .logged-user-name.no-wrap= do_ellipsis(user.full_name,12)
            .logged-user-role= contact_widget(user.email, user.phone,user,chat_link: chat_link(user),color: '#BFBFC7')
          - if @contract.buy_contract.company.present?
            - user = @contract.company.owner
            .logged-user-w.no_border_bottom{style: "width: 120px;"}
              .avatar-w
                %img{:alt => "", :src => user.photo}/
              .logged-user-name= do_ellipsis(user.full_name,12)
              .logged-user-role= user.roles.first.try(:name).try(:capitalize)
              .logged-user-role= contact_widget(user.email, user.phone,user,chat_link: chat_link(user),color: '#BFBFC7')
  %div
    %h3.mt-2.mb-2
      Accounting & Work hours terms
    .contract-custome-details.box
      .row
        .col-sm-4.col-md-4.col-lg-4.p-1
          .rate_info.text-center
            %small
              Submit Timesheet
            %small.lead
              =@contract.buy_contract&.time_sheet&.capitalize
            %p
              =buy_contract_time_sheet('time_sheet', @contract.buy_contract&.time_sheet)
        .col-sm-4.col-md-4.col-lg-4.p-1
          .rate_info.text-center
            %small
              Approve Timesheet
            %small.lead
              =@contract.buy_contract&.ts_approve&.capitalize
            %p
              =buy_contract_time_sheet('ts_approve',@contract.buy_contract&.ts_approve)
        .col-sm-4.col-md-4.col-lg-4.p-1
          .rate_info.text-center
            %small
              =@contract&.buy_contract&.contract_type == 'C2C' ? 'Vendor Bill' : 'Salary Calculation'
            %small.lead
              =@contract.buy_contract&.salary_calculation&.capitalize
            %p
              =buy_contract_time_sheet('salary_calculation', @contract.buy_contract&.salary_calculation)
      .row
        .col-sm-4.col-md-4.col-lg-4.p-1
          .rate_info.text-center
            %small Salary Process
            %br
            %small.lead
              =@contract.buy_contract&.salary_calculation&.capitalize
            %p
              =buy_contract_time_sheet('salary_process', @contract.buy_contract&.salary_calculation)
        .col-sm-4.col-md-4.col-lg-4.p-1
          .rate_info.text-center.p-0
            %strong.rate_label{title: "Freelancer Rate"} Freelancer Rate
            %span
              %br
              =  number_to_currency(@contract.buy_contract.today_rate.try(:rate)||0)
              %br
              - if local_assigns[:editable] and editable
                %span.btn.btn-primary.sell-change-rate{"data-toggle": "modal","data-target": "#freelancer_rate_change"} Add Rate
        .col-sm-4.col-md-4.col-lg-4.p-1
          .rate_info.text-center.p-0
            %strong USICS
            %span
              %br
              =  number_to_currency(@contract.buy_contract.today_rate.try(:uscis)||0)
              %br
              - if local_assigns[:editable] and editable
                %span.btn.btn-primary.sell-change-rate{"data-toggle": "modal","data-target": "#freelancer_rate_change"} Add Rate
      - if @contract&.buy_contract&.contract_type == 'C2C'
        .row
          .col-sm-4.col-md-4.col-lg-4.p-1
            .rate_info.text-center
              %small
                Vendor Payment
              %small.lead
                =@contract.buy_contract&.invoice_recepit&.capitalize
              %p
                =buy_contract_time_sheet('invoice_recepit', @contract.buy_contract&.invoice_recepit)
      .row
        .col-sm-12.col-md-12.col-lg-12
          %span
            %b
              = "Salary Date: #{@contract&.company&.payroll_infos&.first&.sal_cal_date.try(:strftime, '%d')} of each month"
  %div
    %h3.mt-2.mb-2
      Documents
    .contract-custome-details.box
      .row
        .col-md-12.contract-attachment
          %ul#myTab2.nav.nav-tabs.smaller{style: "border-bottom: 0px; font-size: 0.60rem !important"}
            %li.nav-item.active.primary-nav.mr-0
              %a{"data-toggle" => "tab", :href => "#buy_send_documents", class: "nav-link cumstom_nav-tab"}
                %span.badge.bg-color-blue.txt-color-white
                Submit Documents
            %li.nav-item.primary-nav.mr-0
              %a{"data-toggle" => "tab", :href => "#buy_emp_req_docs", class: "nav-link cumstom_nav-tab"}
                %span.badge.bg-color-blue.txt-color-white
                Request Documents
            - if @contract.buy_contract.company.present?
              %li.nav-item.primary-nav.mr-0
                %a{"data-toggle" => "tab", :href => "#buy_ven_req_docs", class: "nav-link cumstom_nav-tab"}
                  %span.badge.bg-color-blue.txt-color-white
                  Vendor Req. Documents
          .col-md-12.pl-0
            .tab-content
              #buy_send_documents.tab-pane.padding-top-15.active.in
                .row
                  .col-md-12
                    .form-group
                      .table-responsive
                        %table.table.text-center.table-bordered.table-lg.table-v2.table-striped.data-table-font
                          %thead
                            %tr{:role => "row"}
                              %th Title
                              %th Sent at
                              %th Status
                              %th Signers
                              %th Envelope No
                              %th Signed Doc.
                          %tbody#buy_send_documents_table
                            - @candidate_signature_documents.each do |docusign|
                              %tr
                                %td= do_ellipsis(docusign.documentable.title,6)
                                %td.no-wrap= docusign.created_at.strftime("%Y-%m-%d")
                                %td= docusign.is_sign_done ? colorfull_text("Signed",'orange') : colorfull_text("Pending",'red')
                                %td.d-flex.pr-5.no-wrap
                                  =show_users(docusign)
                                %td.no-wrap
                                  = do_ellipsis(docusign.envelope_id.present? ? docusign.envelope_id : "Document Not Submitted",10)
                                %td= link_to content_tag(:i,'',class:'fa fa-paperclip fa-lg').html_safe, docusign.signed_file if docusign.is_sign_done

                                  
              #buy_emp_req_docs.tab-pane.padding-top-15
                .row
                  .col-md-12
                    .form-group
                      .table-responsive
                        %table.table.text-center.table-bordered.table-lg.table-v2.table-striped.data-table-font
                          %thead
                            %tr{:role => "row"}
                              %th Title
                              %th Sent at
                              %th Status
                              %th Submitted Doc.
                          %tbody#buy_emp_req_docs_table
                            - @candidate_request_documents.each do |docusign|
                              %tr
                                %td= docusign.documentable.title
                                %td= docusign.created_at.strftime("%Y-%m-%d")
                                %td= docusign.envelope_id.present? ? "Submitted" : "Document Not Submitted"
                                %td= link_to content_tag(:i,'',class:'fa fa-paperclip fa-lg').html_safe, docusign.signed_file if docusign.signed_file.present?
              #buy_ven_req_docs.tab-pane.padding-top-15
                .row
                  .col-md-12
                    .form-group
                      .table-responsive
                        %table.table.text-center.table-bordered.table-lg.table-v2.table-striped.data-table-font
                          %thead
                            %tr{:role => "row"}
                              %th Title
                              %th Sent at
                              %th Status
                              %th Signers
                              %th Envelope No
                              %th Signed Doc.
                          %tbody#buy_ven_req_docs_table
                            - @vendor_signature_documents.each do |docusign|
                              %tr
                                %td= docusign.documentable.title
                                %td= docusign.created_at.strftime("%Y-%m-%d")
                                %td= docusign.is_sign_done ? "Signed" : "Pending"
                                %td.d-flex= show_users(docusign)
                                %td= docusign.envelope_id.present? ? docusign.envelope_id : "Document Not Submitted"
                                %td= link_to content_tag(:i,'',class:'fa fa-paperclip fa-lg').html_safe, docusign.signed_file if docusign.is_sign_done

  %div
    %h3.mt-2.mb-2
      Commission
    %div.contract-custome-details.box
      .table-responsive
        %table.table.table-bordered
          %thead
            %tr
              %th Name
              %th Rate
              %th Frequency
              %th Limit
            -@contract.buy_contract.contract_sale_commisions.each do |csc|
              %tr
                %td
                  =csc.csc_accounts.map{ |a|  a.accountable.full_name}.join(', ')
                %td
                  =csc.rate
                %td
                  =csc.frequency
                %td
                  =csc.limit
      %div.contract-custome-details
        %strong
          Payroll date:
        %span
          = @contract.buy_contract.payroll_date&.try(:strftime, '%e').to_s+' of each month'
      %div.contract-custome-details
        %strong
          Comissiom Payment terms:
        %span
          = @contract.buy_contract.commission_payment_term