.col-sm-12.col-lg-12
  / your contents here
  .panel.panel-default
    .panel-body.status
      -#.who.clearfix
      -#  %img.online{:alt => "img", :src => "img/avatars/5.png"}/
      -#  %span.name
      -#    %b Karrigan Mean
      -#    shared a photo
      -#  %span.from
      -#    %b 1 days ago
      -#    via Mobile, Sydney, Australia
      -#.image
      -#  %img{:alt => "img", :src => "img/realestate/6.png"}/
      %ul.links
      %ul.comments
        - application.comments.each do |comment|
          = render 'company/comments/partials/comment_li' , comment: comment
        %li.message
          = image_tag current_user.photo , class: 'online'
          %span.message-text
            = simple_form_for Comment.new do |c|
              = c.text_field :body , class: 'form-control' , placeholder: "Post your comment..."
              = c.hidden_field :commentable_type , value: 'JobApplication'
              = c.hidden_field :commentable_id , value: application.id