%fieldset
  .form-group
    %label.col-md-2.control-label
      Start Date
      %sup.text-danger *
    .col-md-4
      = f.text_field :start_date ,class: "form-control" , required: 'required', placeholder: "Contract Start Date"
    %label.col-md-2.control-label
      End Date
      %sup.text-danger *
    .col-md-4
      = f.text_field :end_date ,class: "form-control" , required: 'required', placeholder: "Contract End Date"
  .form-group
    %label.col-md-2.control-label
      Type
      %sup.text-danger *
    .col-md-10.select
      = f.select :contract_type , Contract.contract_types.map { |key, value| [key.titleize, key] }, {include_blank: '-- Select Contract Type --'} , {class: "form-control" , required: true}
  .form-group
    %label.col-md-2.control-label Invoicing Frequency
    .col-md-4.select
      = f.select :billing_frequency , Contract.billing_frequencies.map { |key, value| [key.humanize, key] }, {} , {class: "form-control" }
    -#= select_tag 'contract[billing_frequency]', Contract.billing_frequency.map { |key, value| [key.humanize, key] }  , class: "form-control"
    %label.col-md-2.control-label Time Sheet Frequency
    .col-md-4.select
      = f.select :time_sheet_frequency , Contract.time_sheet_frequencies.map { |key, value| [key.humanize, key] }, {},{class: "form-control" }
  -#= select_tag 'contract[time_sheet_frequency]', options_for_select(BILLING_FREQUENCY.collect{ |type| [type[0], type[1]] }) , class: "form-control"
  = f.fields_for :contract_terms do |c|
    = c.hidden_field :created_by , value: current_user.id.to_i
    .form-group
      %label.col-md-2.control-label
        Rate
        %sup.text-danger *
      .col-md-10
        = c.text_field :rate ,class: "form-control" , placeholder: "", required: 'required'
    .form-group
      %label.col-md-2.control-label Terms & Conditions
      .col-md-10
        =  c.text_area :terms_condition , class: 'form-control tinymce', rows: 6, placeholder: 'Enter Contract Terms & conditions'
        = tinymce :default
    -#.form-group
    -#  %label.col-md-2.control-label Terms & Conditions
    -#  .col-md-10
    -#    =  c.text_area :terms_condition , class: 'form-control tinymce', rows: 6, placeholder: 'Enter Contract Terms & conditions'
    -#    = tinymce :default