= form_for  @contract, remote: true, method: :put ,html: {id: 'wizard-1' , class: 'form-horizontal new_contract', style: "width: 100%;", novalidate: "novalidate" } do |f|
  =f.hidden_field :contractable_type , value: "Company"
  =f.hidden_field :status, value: "draft"
  =hidden_field_tag :tab, "3"
  - if params.has_key?('id')
    =f.hidden_field :parent_contract_id , value: params[:id]
  - if @contract.sell_contract&.persisted?
    %fieldset
      =f.fields_for :sell_contract do |sc|
        = sc.hidden_field :id
        .contract-fields_wrapper.mt-4
          .row
            .col-md-6
              .form-group
                %label.control-label  Customer Company
                .contract-fild
                  = text_field_tag :customer_company, @contract.sell_contract.company.name.capitalize, disabled: "disabled"
            .col-md-6
              .form-group
                %h3.control-label.pull-right.text-muted
                  = @contract.sell_contract.number
                  - if @contract&.sell_contract&.conversation.present?
                    .floated-chat-btn
                      %i.os-icon.os-icon-mail-07
                      %span
                      = link_to 'Conversation', mini_chat_company_conversations_path(conversation_id: @contract.sell_contract.conversation.id),id: 'ChatBtn', remote: true
          - headers =  %w(domain name contact role(s) reminder action(s))
          .table-responsive
            %table.table.text-center.table-bordered.table-lg.table-v2.table-striped.data-table-font#contract_admins_table
              %thead
                %tr
                - headers.each do |header|
                  %th= header.capitalize
              %tbody.hr_reporting_admins_table_body
                = render 'company/contracts/partials/add_manager', business_detail_objs: @contract.sell_contract.contract_sell_business_details
                


        %label.control-label.font-weight-bold.mt-2 Accounting
        .contract-fields_wrapper.mt-2
          %div
            .widget-body#sell_con_tab
              %ul#myTab1.nav.nav-tabs.smaller{style: "border-bottom: 0px;"}
                %li.nav-item.active.cumstom_nav-tab
                  %a{"data-toggle" => "tab", :href => "#tab-sell-pri", class: "nav-link cumstom_nav-tab"}
                    %span.badge.bg-color-blue.txt-color-white
                    Pricing
                %li.nav-item.cumstom_nav-tab
                  %a{"data-toggle" => "tab", :href => "#tab-sell-ts",class: "nav-link cumstom_nav-tab"}
                    %span.badge.bg-color-blue.txt-color-white
                    Timesheet Submit
                %li.nav-item.cumstom_nav-tab
                  %a{"data-toggle" => "tab", :href => "#tab-sell-ta",class: "nav-link cumstom_nav-tab"}
                    %span.badge.bg-color-blue.txt-color-white
                    Timesheet Approve
                %li.nav-item.cumstom_nav-tab
                  %a{"data-toggle" => "tab", :href => "#tab-sell-bi",class: "nav-link cumstom_nav-tab"}
                    %span.badge.bg-color-blueDark.txt-color-white
                    Invoice
                %li.nav-item.cumstom_nav-tab
                  %a{"data-toggle" => "tab", :href => "#tab-sell-pr",class: "nav-link cumstom_nav-tab"}
                    %span.badge.bg-color-blueDark.txt-color-white
                    Payment Receive
                %li.nav-item.cumstom_nav-tab
                  %a{"data-toggle" => "tab", :href => "#payment-received",class: "nav-link cumstom_nav-tab"}
                    %span.badge.bg-color-blueDark.txt-color-white
                    Payment Receive
                %li.nav-item.cumstom_nav-tab
                  %a{"data-toggle" => "tab", :href => "#integration",class: "nav-link cumstom_nav-tab"}
                    %span.badge.bg-color-blueDark.txt-color-white
                    Integration
              .col-md-12.pl-0
                .tab-content.p-4{style: 'border: 1px solid #b6bcbf;'}
                  #tab-sell-pri.tab-pane.padding-top-15.active.in
                    .row
                      = sc.fields_for :change_rates , sc.object.change_rates.build do |cr|
                        =cr.hidden_field :rateable_type, value: sc.object.class.to_s
                        =cr.hidden_field :rateable_id, value: sc.object.id
                        .col-md-12.display-flex
                          =render 'company/contracts/partials/rate_fields', f: cr, usics: false
                    - if sc.object.change_rates.present?
                      .row
                        %table.table.text-center.table-bordered.table-lg.table-v2.table-striped.data-table-font
                          %thead
                            %tr{:role => "row"}
                              %th Rate
                              %th Expected Hrs
                              %th Rate Type
                              %th From
                              %th To
                          %tbody
                            - sc.object.change_rates.each do |change_rate|
                              %tr 
                                =if change_rate.persisted?
                                  %td= change_rate.rate
                                  %td= change_rate.working_hrs
                                  %td= change_rate.rate_type 
                                  %td= change_rate.from_date
                                  %td= change_rate.to_date
                  #tab-sell-ts.tab-pane.padding-top-15
                    .row
                      .col-md-12
                        .form-group
                          .select
                            .row
                              .col-md-4
                                %label.control-label
                                  Time sheet
                                .plain-select
                                  = sc.select :time_sheet, Contract.time_sheet_frequencies.map { |key, value| [key.humanize, key] }, {},{class: "form-control sell-time-sheet height-45" }
                              .col-md-4
                                .s-ts-set
                                  - sc.object.time_sheet = sc.object.time_sheet || 'daily'
                                  %div{:class => "form-group daily #{sc.object.time_sheet != 'daily' ? 'hidden' : ''}"}
                                    %label.control-label.w-100
                                      Select Time
                                      = sc.text_field :ts_day_time, class: "form-contro con-time time-input"
                                  %div{:class => "form-group week #{sc.object.time_sheet != 'weekly' && sc.object.time_sheet != 'biweekly' ? 'hidden' : ''}"}
                                    %label.control-label
                                      Select day of week for submission
                                    .select
                                      .plain-select
                                        = sc.select :ts_day_of_week, [["Every Monday", "mon"], ["Every Tuesday", "tue"], ["Every Wednesday", "wed"], ["Every Thursday", "thu"], ["Every Friday", "fri"], ["Every Saturday", "sat"], ["Every Sunday", "sun"]], {},{class: "form-contro" }
                                  %div{:class => "form-group biweek #{sc.object.time_sheet != 'biweekly' ? 'hidden' : ''}"}
                                    %label.control-label
                                      Select Second day of week for submission
                                    .select
                                      .plain-select
                                        = sc.select :ts_2day_of_week, [["Every Monday", "mon"], ["Every Tuesday", "tue"], ["Every Wednesday", "wed"], ["Every Thursday", "thu"], ["Every Friday", "fri"], ["Every Saturday", "sat"], ["Every Sunday", "sun"]], {},{class: "form-contro" }
                                  %div{:class => "form-group month #{['twice a month', 'monthly'].include?(sc.object.time_sheet) ? '' : 'hidden'}"}
                                    %label.control-label
                                      Select date
                                    .select
                                      = sc.text_field :ts_date_1, class: "date_1", placeholder: "DD/MM/YYYY"
                                  %div{:class => "form-group twice-month #{sc.object.time_sheet != 'twice a month' ? 'hidden' : ''}"}
                                    %label.control-label
                                      Select second date
                                    .select
                                      = sc.text_field :ts_date_2, class: "date_1", placeholder: "DD/MM/YYYY"
                                  %span{:class => "form-group month #{['twice a month', 'monthly'].include?(sc.object.time_sheet) ? '' : 'hidden'}"}
                              .col-md-4
                                %label.control-label
                                  Collaborators
                                .row
                                  .col-md-12.d-flex
                                    #collaborators
                                      = render 'company/contracts/partials/approval', approvals: @contract.sell_contract.approvals.where(approvable_type: 'timesheet')
                                    %a.fa.fa-plus.fa-3x.pull-right.add_contacts{"data-toggle": "modal", "data-target":"#collaborator_modal", id: 'timesheet'}
                            .row
                              .col-md-4
                                = sc.check_box :is_client_expense
                                %label
                                  Client Expenses ?
                            .row.client_expense
                              .col-md-4
                                %label.control-label
                                .plain-select
                                  = sc.select :client_expense, Contract.time_sheet_frequencies.map { |key, value| [key.humanize, key] }, {},{class: "form-control sell-client-expense height-45" }
                              .col-md-6
                                .s-ce-set
                                  %div{:class => "form-group daily #{sc.object.client_expense != 'daily' ? 'hidden' : ''}"}
                                    %label.control-label.w-100
                                      Select Time
                                      = sc.text_field :ce_day_time, class: "form-contro con-time time-input"
                                  %div{:class => "form-group week #{sc.object.client_expense != 'weekly' && sc.object.client_expense != 'biweekly' ? 'hidden' : ''}"}
                                    %label.control-label
                                      Select day of week
                                    .select
                                      .plain-select
                                        = sc.select :ce_day_of_week, [["Every Monday", "mon"], ["Every Tuesday", "tue"], ["Every Wednesday", "wed"], ["Every Thursday", "thu"], ["Every Friday", "fri"], ["Every Saturday", "sat"], ["Every Sunday", "sun"]], {},{class: "form-contro" }
                                  %div{:class => "form-group biweek #{sc.object.client_expense != 'biweekly' ? 'hidden' : ''}"}
                                    %label.control-label
                                      Select Second day of week for submission
                                    .select
                                      .plain-select
                                        = sc.select :ce_2day_of_week, [["Every Monday", "mon"], ["Every Tuesday", "tue"], ["Every Wednesday", "wed"], ["Every Thursday", "thu"], ["Every Friday", "fri"], ["Every Saturday", "sat"], ["Every Sunday", "sun"]], {},{class: "form-contro" }
                                  %div{:class => "form-group month #{['twice a month', 'monthly'].include?(sc.object.client_expense) ? '' : 'hidden'}"}
                                    %label.control-label
                                      Select date
                                    .select
                                      = sc.text_field :ce_date_1, class: "date_1", placeholder: "DD/MM/YYYY"
                                  %div{:class => "form-group twice-month #{sc.object.client_expense != 'twice a month' ? 'hidden' : ''}"}
                                    %label.control-label
                                      Select second date
                                    .select
                                      = sc.text_field :ce_date_2, class: "date_1", placeholder: "DD/MM/YYYY"
                            .row.client_expense
                              .col-md-4
                                %label.control-label
                                  Client Expenses Approve
                                .plain-select
                                  = sc.select :ce_approve, Contract.time_sheet_frequencies.map { |key, value| [key.humanize, key] }, {},{class: "form-control sell-client-expense-approve height-45" }
                              .col-md-4
                                .s-ce-ap-set
                                  %div{:class => "form-group daily #{sc.object.ce_approve != 'daily' ? 'hidden' : ''}"}
                                    %label.control-label.w-100
                                      Select Time
                                      = sc.text_field :ce_ap_day_time, class: "form-contro con-time time-input"
                                  %div{:class => "form-group week #{sc.object.ce_approve != 'weekly' && sc.object.ce_approve != 'biweekly' ? 'hidden' : ''}"}
                                    %label.control-label
                                      Select day of week
                                    .select
                                      .plain-select
                                        = sc.select :ce_ap_day_of_week, [["Every Monday", "mon"], ["Every Tuesday", "tue"], ["Every Wednesday", "wed"], ["Every Thursday", "thu"], ["Every Friday", "fri"], ["Every Saturday", "sat"], ["Every Sunday", "sun"]], {},{class: "form-contro" }
                                  %div{:class => "form-group biweek #{sc.object.ce_approve != 'biweekly' ? 'hidden' : ''}"}
                                    %label.control-label
                                      Select Second day of week for submission
                                    .select
                                      .plain-select
                                        = sc.select :ce_ap_2day_of_week, [["Every Monday", "mon"], ["Every Tuesday", "tue"], ["Every Wednesday", "wed"], ["Every Thursday", "thu"], ["Every Friday", "fri"], ["Every Saturday", "sat"], ["Every Sunday", "sun"]], {},{class: "form-contro" }
                                  %div{:class => "form-group month #{['twice a month', 'monthly'].include?(sc.object.ce_approve) ? '' : 'hidden'}"}
                                    %label.control-label
                                      Select date
                                    .select
                                      = sc.text_field :ce_ap_date_1, class: "date_1", placeholder: "DD/MM/YYYY"
                                  %div{:class => "form-group twice-month #{sc.object.ce_approve != 'twice a month' ? 'hidden' : ''}"}
                                    %label.control-label
                                      Select second date
                                    .select
                                      = sc.text_field :ce_ap_date_2, class: "date_1", placeholder: "DD/MM/YYYY"
                              .col-md-4
                                %label.control-label
                                  Collaborators
                                .row
                                  .col-md-12.d-flex
                                    #expanse_approve
                                      = render 'company/contracts/partials/approval', approvals: @contract.sell_contract.approvals.where(approvable_type: 'expanse_approve')
                                    %a.fa.fa-plus.fa-3x.pull-right.add_contacts{"data-toggle": "modal", "data-target":"#collaborator_modal", id: 'expanse_approve'}

                            .row.client_expense
                              .col-md-4
                                %label.control-label
                                  Client Expenses Invoice
                                .plain-select
                                  = sc.select :ce_invoice, Contract.time_sheet_frequencies.map { |key, value| [key.humanize, key] }, {},{class: "form-control sell-client-expense-invoice height-45" }
                              .col-md-4
                                .s-ce-in-set
                                  %div{:class => "form-group daily #{sc.object.ce_invoice != 'daily' ? 'hidden' : ''}"}
                                    %label.control-label.w-100
                                      Select Time
                                      = sc.text_field :ce_in_day_time, class: "form-contro con-time time-input"
                                  %div{:class => "form-group week #{sc.object.ce_invoice != 'weekly' && sc.object.ce_invoice != 'biweekly' ? 'hidden' : ''}"}
                                    %label.control-label
                                      Select day of week
                                    .select
                                      .plain-select
                                        = sc.select :ce_in_day_of_week, [["Every Monday", "mon"], ["Every Tuesday", "tue"], ["Every Wednesday", "wed"], ["Every Thursday", "thu"], ["Every Friday", "fri"], ["Every Saturday", "sat"], ["Every Sunday", "sun"]], {},{class: "form-contro" }
                                  %div{:class => "form-group biweek #{sc.object.ce_invoice != 'biweekly' ? 'hidden' : ''}"}
                                    %label.control-label
                                      Select Second day of week for submission
                                    .select
                                      .plain-select
                                        = sc.select :ce_in_2day_of_week, [["Every Monday", "mon"], ["Every Tuesday", "tue"], ["Every Wednesday", "wed"], ["Every Thursday", "thu"], ["Every Friday", "fri"], ["Every Saturday", "sat"], ["Every Sunday", "sun"]], {},{class: "form-contro" }
                                  %div{:class => "form-group month #{['twice a month', 'monthly'].include?(sc.object.ce_invoice) ? '' : 'hidden'}"}
                                    %label.control-label
                                      Select date
                                    .select
                                      = sc.text_field :ce_in_date_1, class: "date_1", placeholder: "DD/MM/YYYY"
                                  %div{:class => "form-group twice-month #{sc.object.ce_invoice != 'twice a month' ? 'hidden' : ''}"}
                                    %label.control-label
                                      Select second date
                                    .select
                                      = sc.text_field :ce_in_date_2, class: "date_1", placeholder: "DD/MM/YYYY"
                              .col-md-4
                                %label.control-label
                                  Collaborators
                                .row
                                  .col-md-12.d-flex
                                    #expanse_invoice
                                      = render 'company/contracts/partials/approval', approvals: @contract.sell_contract.approvals.where(approvable_type: 'expanse_invoice')
                                    %a.fa.fa-plus.fa-3x.pull-right.add_contacts{"data-toggle": "modal", "data-target":"#collaborator_modal", id: 'expanse_invoice'}
                            .row
                              .col-md-4
                                = sc.check_box :is_performance_review
                                %label
                                  Performance review ?
                            .row.performance_review
                              .col-md-4
                                %label.control-label
                                .plain-select
                                  = sc.select :performance_review, Contract.time_sheet_frequencies.map { |key, value| [key.humanize, key] }, {},{class: "form-control sell-performance-review height-45" }
                              .col-md-6
                                .s-pr-set
                                  %div{:class => "form-group daily #{sc.object.performance_review != 'daily' ? 'hidden' : ''}"}
                                    %label.control-label.w-100
                                      Select Time
                                      = sc.text_field :pr_day_time, class: "form-contro con-time time-input"
                                  %div{:class => "form-group week #{sc.object.performance_review != 'weekly' && sc.object.performance_review != 'biweekly' ? 'hidden' : ''}"}
                                    %label.control-label
                                      Select day of week
                                    .select
                                      .plain-select
                                        = sc.select :pr_day_of_week, [["Every Monday", "mon"], ["Every Tuesday", "tue"], ["Every Wednesday", "wed"], ["Every Thursday", "thu"], ["Every Friday", "fri"], ["Every Saturday", "sat"], ["Every Sunday", "sun"]], {},{class: "form-contro" }
                                  %div{:class => "form-group biweek #{sc.object.performance_review != 'biweekly' ? 'hidden' : ''}"}
                                    %label.control-label
                                      Select Second day of week for submission
                                    .select
                                      .plain-select
                                        = sc.select :pr_2day_of_week, [["Every Monday", "mon"], ["Every Tuesday", "tue"], ["Every Wednesday", "wed"], ["Every Thursday", "thu"], ["Every Friday", "fri"], ["Every Saturday", "sat"], ["Every Sunday", "sun"]], {},{class: "form-contro" }
                                  %div{:class => "form-group month #{['twice a month', 'monthly'].include?(sc.object.performance_review) ? '' : 'hidden'}"}
                                    %label.control-label
                                      Select date
                                    .select
                                      = sc.text_field :pr_date_1, class: "date_1", placeholder: "DD/MM/YYYY"
                                  %div{:class => "form-group twice-month #{sc.object.performance_review != 'twice a month' ? 'hidden' : ''}"}
                                    %label.control-label
                                      Select second date
                                    .select
                                      = sc.text_field :pr_date_2, class: "date_1", placeholder: "DD/MM/YYYY"
                  #tab-sell-ta.tab-pane.padding-top-15
                    .row
                      .col-md-12
                        .form-group
                          .select
                            .row
                              .col-md-4
                                %label.control-label
                                  Timesheet Approve
                                .plain-select
                                  - sc.object.ts_approve = sc.object.ts_approve || 'daily'
                                  = sc.select :ts_approve, Contract.time_sheet_frequencies.map { |key, value| [key.humanize, key] }, {},{class: "form-control sell-time-sheet-approve height-45" }
                              .col-md-4
                                .s-ts-apv-set
                                  %div{:class => "form-group daily #{sc.object.ts_approve != 'daily' ? 'hidden' : ''}"}
                                    %label.control-label.w-100
                                      Select Time
                                      = sc.text_field :ta_day_time, class: "form-contro con-time time-input"
                                  %div{:class => "form-group week #{sc.object.ts_approve != 'weekly' && sc.object.ts_approve != 'biweekly' ? 'hidden' : ''}"}
                                    %label.control-label
                                      Select day of week for submission
                                    .select
                                      .plain-select
                                        = sc.select :ta_day_of_week, [["Every Monday", "mon"], ["Every Tuesday", "tue"], ["Every Wednesday", "wed"], ["Every Thursday", "thu"], ["Every Friday", "fri"], ["Every Saturday", "sat"], ["Every Sunday", "sun"]], {},{class: "form-contro" }
                                  %div{:class => "form-group biweek #{sc.object.ts_approve != 'biweekly' ? 'hidden' : ''}"}
                                    %label.control-label
                                      Select Second day of week for submission
                                    .select
                                      .plain-select
                                        = sc.select :ta_2day_of_week, [["Every Monday", "mon"], ["Every Tuesday", "tue"], ["Every Wednesday", "wed"], ["Every Thursday", "thu"], ["Every Friday", "fri"], ["Every Saturday", "sat"], ["Every Sunday", "sun"]], {},{class: "form-contro" }
                                  %div{:class => "form-group month #{['twice a month', 'monthly'].include?(sc.object.ts_approve) ? '' : 'hidden'}"}
                                    %label.control-label
                                      Select date
                                    .select
                                      = sc.text_field :ta_date_1, class: "date_1", placeholder: "DD/MM/YYYY"
                                  %div{:class => "form-group twice-month #{sc.object.ts_approve != 'twice a month' ? 'hidden' : ''}"}
                                    %label.control-label
                                      Select second date
                                    .select
                                      = sc.text_field :ta_date_2, class: "date_1", placeholder: "DD/MM/YYYY"
                                  %span{:class => "form-group month #{['twice a month', 'monthly'].include?(sc.object.ts_approve) ? '' : 'hidden'}"}
                              .col-md-4
                                %label.control-label
                                  Collaborators
                                .row
                                  .col-md-12.d-flex
                                    #ts_approver
                                      = render 'company/contracts/partials/approval', approvals: @contract.sell_contract.approvals.where(approvable_type: 'timesheet_approve')
                                    %a.fa.fa-plus.fa-3x.pull-right.add_contacts{"data-toggle": "modal", "data-target":"#collaborator_modal", id: 'timesheet_approve'}
                  #tab-sell-bi.tab-pane.padding-top-15
                    .row
                      .col-md-4
                        .form-group
                          %label.control-label
                            Invoice Terms
                          .select
                            .plain-select
                              = sc.select :invoice_terms_period, Contract.time_sheet_frequencies.map { |key, value| [key.humanize, key] }, {},{class: "form-control sell-invoice height-45" }
                      .col-md-4
                        .sell-invoice-setting
                          -sc.object.invoice_terms_period = sc.object.invoice_terms_period || 'daily'
                          %div{:class => "form-group daily #{sc.object.invoice_terms_period != 'daily' ? 'hidden' : ''}"}
                            %label.control-label.w-100
                              Select Time
                              = sc.text_field :invoice_day_time, class: "form-contro con-time time-input"
                          %div{:class => "form-group week #{sc.object.invoice_terms_period != 'weekly' && sc.object.invoice_terms_period != 'biweekly' ? 'hidden' : ''}"}
                            %label.control-label
                              Select day of week for submission
                            .select
                              .plain-select
                                = sc.select :invoice_day_of_week, [["Every Monday", "mon"], ["Every Tuesday", "tue"], ["Every Wednesday", "wed"], ["Every Thursday", "thu"], ["Every Friday", "fri"], ["Every Saturday", "sat"], ["Every Sunday", "sun"]], {},{class: "form-contro height-45" }
                          %div{:class => "form-group biweek #{sc.object.invoice_terms_period != 'biweekly' ? 'hidden' : ''}"}
                            %label.control-label
                              Select Second day of week for submission
                            .select
                              .plain-select
                                = sc.select :invoice_2day_of_week, [["Every Monday", "mon"], ["Every Tuesday", "tue"], ["Every Wednesday", "wed"], ["Every Thursday", "thu"], ["Every Friday", "fri"], ["Every Saturday", "sat"], ["Every Sunday", "sun"]], {},{class: "form-contro" }
                          %div{:class => "form-group month #{['twice a month', 'monthly'].include?(sc.object.invoice_terms_period) ? '' : 'hidden'}"}
                            %label.control-label
                              Select date
                            .select
                              = sc.text_field :invoice_date_1, class: "date_1", placeholder: "DD/MM/YYYY"
                          %div{:class => "form-group twice-month #{sc.object.invoice_terms_period != 'twice a month' ? 'hidden' : ''}"}
                            %label.control-label
                              Select second date
                            .select
                              = sc.text_field :invoice_date_2, class: "date_1", placeholder: "DD/MM/YYYY"
                          %span{:class => "form-group month #{['twice a month', 'monthly'].include?(sc.object.invoice_terms_period) ? '' : 'hidden'}"}
                      .col-md-4
                        %label.control-label
                          Collaborators
                        .row
                          .col-md-12.d-flex
                            #invoice
                              = render 'company/contracts/partials/approval', approvals: @contract.sell_contract.approvals.where(approvable_type: 'invoice')
                            %a.fa.fa-plus.fa-3x.pull-right.add_contacts{"data-toggle": "modal", "data-target":"#collaborator_modal", id: 'invoice'}
                  #tab-sell-pr.tab-pane.padding-top-15
                    .row
                      .col-md-6
                        .form-group
                          %label.control-label
                            Payment Terms
                          .select
                            = sc.number_field :payment_term , class: "form-control", min: 0, max: 365
                  #payment-received.tab-pane.padding-top-15
                    .row
                      .col-md-6
                        %label.control-label.w-100
                          Payment Terms
                        = number_field_tag :payment_terms, class: 'form-control'
                      .col-md-6
                        %label.control-label.w-100
                          Collaborators
                        = select_tag 'assign_to', options_from_collection_for_select(current_company&.company_contacts, "id", 'full_name'), include_blank: 'Please select',class: 'form-control height-45'
                  #integration.tab-pane.padding-top-15
                    .row.integration
                      .col-md-6
                        %label.control-label.w-100
                          Transaction Reference
                        = select_tag 'assign_to', options_from_collection_for_select(current_company&.company_contacts, "id", 'full_name'), include_blank: 'Please select',class: 'form-control height-45'
                      .col-md-6.button_main
                        %a.btn.btn-sm.btn-secondary.float-right{href: '#', title: 'Add More'} Add More
        %label.control-label.font-weight-bold.mt-2 Document Management
        .contract-fields_wrapper.mt-2
          .row
            .col-md-12.contract-attachment
              %ul#myTab2.nav.nav-tabs.smaller{style: "border-bottom: 0px;"}
                %li.nav-item.active.mr-0.primary-nav
                  %a{"data-toggle" => "tab", :href => "#doc-request", class: "nav-link cumstom_nav-tab"}
                    %span.badge.bg-color-blue.txt-color-white
                    Request documents
                %li.nav-item.mr-0.primary-nav
                  %a{"data-toggle" => "tab", :href => "#doc-submit", class: "nav-link cumstom_nav-tab"}
                    %span.badge.bg-color-blue.txt-color-white
                    Submit Documents
              .col-md-12.pl-0
                .tab-content
                  #doc-request.tab-pane.padding-top-15.active.in
                    .row
                      .col-md-12
                        .form-group
                          .table-responsive
                            %a.btn.btn-sm.btn-primary.float-right.margin-bottom-10{"data-toggle": "modal", "data-target":"#request_document", style: "color: #fff;"} Create Checklist
                            %table.table.text-center.table-bordered.table-lg.table-v2.table-striped.data-table-font
                              %thead
                                %tr{:role => "row"}
                                  %th Document Title
                                  %th Sent Date
                                  %th Status
                                  %th Submitted Document
                              %tbody#request_doc
                                - @request_documents.each do |docusign|
                                  %tr
                                    %td= docusign.documentable.title
                                    %td= docusign.created_at.strftime("%Y-%m-%d")
                                    %td= docusign.envelope_id.present? ? "Submitted" : "Document Not Submitted"
                                    %td= link_to content_tag(:i,'',class:'fa fa-paperclip fa-lg').html_safe, docusign.signed_file if docusign.signed_file.present?
                  #doc-submit.tab-pane.padding-top-15
                    .row
                      .col-md-12
                        .form-group
                          .table-responsive
                            %a.btn.btn-sm.btn-primary.float-right.margin-bottom-10{"data-toggle": "modal", "data-target":"#submit_document", style: "color: #fff;"} Create Checklist
                            %table.table.text-center.table-bordered.table-lg.table-v2.table-striped.data-table-font
                              %thead
                                %tr{:role => "row"}
                                  %th Document Title
                                  %th Sent Date
                                  %th Status
                                  %th Signers
                                  %th Envelope No
                                  %th Signed Document
                              %tbody#submit_doc
                                - @signature_documents.each do |docusign|
                                  %tr
                                    %td= docusign.documentable.title
                                    %td= docusign.created_at.strftime("%Y-%m-%d")
                                    %td= docusign.is_sign_done ? "Signed" : "Pending"
                                    %td.d-flex
                                      = image_tag(docusign&.signable&.photo, class: 'data-table-image mr-1') if docusign&.signable.present?
                                      - docusign.signers&.each do |signer|
                                        =image_tag(signer.photo, class: 'data-table-image mr-1')
                                    %td= docusign.envelope_id.present? ? docusign.envelope_id : "Document Not Submitted"
                                    %td= link_to content_tag(:i,'',class:'fa fa-paperclip fa-lg').html_safe, docusign.signed_file if docusign.is_sign_done
  - else
    .div.w-75.margin-auto
      %p.contract_warning_text= "You haven't onboarded the customer to this contract. You can always #{link_to "GoBack",new_contract_path(contract_id: @contract.id)} to onboard a customer. Incase it's entended, Please click 'Save and Continue' to proceed as it is.".html_safe

- if @contract and @contract&.sell_contract&.persisted?
  = render 'company/contracts/request_document_modal', contract: @contract
  = render 'company/contracts/submit_document_modal', contract: @contract
  = render 'company/contracts/partials/collaborator_modal',contract: @contract, contractable_type: @contract.sell_contract.class.name, contractable_id: @contract.sell_contract.id


:javascript
   $('.contract-attachment').on('cocoon:after-insert', function(e, insertedItem) {
      insertedItem.find('.filepicker-attach').each(function(i,e){
        $(".filepicker-attach").on('click',function() {
          $('.fp__overlay').css({'z-index':'99999'})
        });
        $('.filepicker-attach').on('click',function() {
          //$(this).hide();
         });
      });

     $(".exp_date").datepicker({
        dateFormat : 'dd/mm/yy'
     });

     $(".exp_date_buy").datepicker({
        dateFormat : 'dd/mm/yy'
     });

     $(".exp_date_emp_buy").datepicker({
        dateFormat : 'dd/mm/yy'
     });

     $(".exp_date_ven_buy").datepicker({
        dateFormat : 'dd/mm/yy'
     });
     set_user_select(".whois_sign:not([class*='added']", "Select User who is sign document");
     $(".whois_sign:not([class*='added']").addClass('added');
   });