
%body
  %section#widget-grid
    .row
      %article.col-xs-12.col-sm-12.col-md-12.col-lg-12.sortable-grid.ui-sortable
        #wid-id-1.jarviswidget.jarviswidget-color-blueDark.jarviswidget-sortable{"data-widget-editbutton" => "false", :role => "widget"}
          %header{:role => "heading"}
            %span.widget-icon
              %i.fa.fa-table
            %h2 Contracts
          / widget div
          %div{:role => "content"}
            .jarviswidget-editbox
            .widget-body.no-padding
              #datatable_fixed_column_wrapper.dataTables_wrapper.form-inline.dt-bootstrap.no-footer
                .dt-toolbar
                  .col-xs-12.col-sm-6.hidden-xs
                    #datatable_fixed_column_filter.dataTables_filter
                      %label
                        %span.input-group-addon{style: "background-color:#eee;"}
                          %i.glyphicon.glyphicon-search
                        %input.form-control{"aria-controls" => "datatable_fixed_column", :placeholder => "", :type => "search"}/
                  .col-sm-6.col-xs-12.hidden-xs
                    .toolbar
                      .text-right
                        = link_to 'NEW',new_contract_path ,class: 'btn btn-success btn-md pull-right header-btn '
                %table#datatable_fixed_column.table.table-striped.table-bordered.dataTable.no-footer{"aria-describedby" => "datatable_fixed_column_info", :role => "grid", :style => "width: 100%;", :width => "100%"}
                  %thead
                    -#%tr{:role => "row"}
                      %th.hasinput{ :style => "width:10%"}
                        %input.form-control{:placeholder => "Pic", :type => "text"}/
                      %th.hasinput{ :style => "width:10%"}
                        .input-group
                          %input.form-control{:placeholder => "Title", :type => "text"}/
                      %th.hasinput{ :style => "width:10%"}
                        %input.form-control{:placeholder => "Company/Candidate", :type => "text"}/
                      %th.hasinput{ :style => "width:10%"}
                        %input.form-control{:placeholder => "Created By", :type => "text"}/
                      %th.hasinput{ :style => "width:10%"}
                        %input.form-control{:placeholder => "Expiry", :type => "text"}/
                      %th.hasinput{ :style => "width:10%"}
                        %input.form-control{:placeholder => "Invoice", :type => "text"}/
                      %th.hasinput{ :style => "width:10%"}
                        %input.form-control{:placeholder => "Status", :type => "text"}/
                    %tr{:role => "row"}
                      %th Id
                      %th Title
                      %th Client
                      %th Candidate
                      %th Created By
                      %th Start date
                      %th Sell Contract
                      %th Buy Contract
                      %th Invoice
                      %th Status
                      %th Action
                  %tbody
                    - data.each do |contract|
                      %tr{class: "#{set_background_status_color(contract.status)}"}
                        %td=link_to contract.try(:number) ,contract_path(contract)
                        %td=contract.try(:title)
                        %td
                          = contract.client.try(:full_name)
                          = link_to "Chat", "#", class: "btn btn-success btn-md start-conversation", "data-sid" => current_company.id, "data-rid" => contract.client.users.first.id, "data-stype" => current_company.class, "data-rtype" => contract.client.users.first.class.to_s
                        %td= contract.candidate.try(:full_name)
                        %td= link_to contract.created_by.full_name , '#'
                        %td= (contract.start_date)
                        %td
                          = link_to contract.sell_contracts.first.try(:number), company_sell_contract_path(contract.sell_contracts.first.try(:number))
                          %br
                          =contract.sell_contracts.first.try(:customer_rate)
                          %br
                          =contract.sell_contracts.first.try(:time_sheet)
                          %br
                          =contract.sell_contracts.first.try(:invoice_terms_period)
                          %br
                          =contract.sell_contracts.first.try(:show_accounting_to_employee)
                        %td
                          = link_to contract.buy_contracts.first.try(:number), company_buy_contract_path(contract.buy_contracts.first.try(:number))
                          %br
                          =contract.buy_contracts.first.try(:contract_type)
                          %br
                          =contract.buy_contracts.first.try(:payrate)
                          %br
                          =contract.buy_contracts.first.try(:time_sheet)
                          %br
                          =contract.buy_contracts.first.try(:payment_term)
                        %td
                          =link_to "Invoice",contract_invoices_path(contract)
                        %td
                          = label_status_color(contract.status)
                        %td

= digg_pagination(data)

:css
  .form-control
  {
    background-color: white !important;
  }
