.modal.fade.in{ id: "contract-#{job.id}","aria-hidden": "true", "aria-labelledby": "myModalLabel", :role => "dialog"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
          ×
        %h1
          %span.semi-bold Creating New Contract
          %i.ultra-light #{job_application.company.try(:name)}
          %br/
          %small.text-muted
            %strong #{link_to job_application.try(:user).full_name ,  '#' , target: '_blank'} - #{job.title}
        -#%p
          = raw job.description
      .modal-body
        = form_for [job,contract] , html: {class: 'form-horizontal'} , remote: true do |f|
          = f.hidden_field :job_application_id , value: job_application.id
          %fieldset
            .form-group
              %label.col-md-2.control-label Start Date
              .col-md-4
                = f.text_field :start_date ,class: "form-control" , required: 'required', placeholder: "Contract Start Date"
              %label.col-md-2.control-label End Date
              .col-md-4
                = f.text_field :end_date ,class: "form-control" , required: 'required', placeholder: "Contract End Date"
            .form-group
              %label.col-md-2.control-label Company Docs
              .col-md-10.select
                = f.select :commission_for_id , options_for_select(current_company.admins.collect { |admin|[admin.full_name.titleize, admin.id] }),{} ,prompt: "Select User" , class: "form-control input-lg"
            .form-group
              %label.col-md-2.control-label Billing Frequency
              .col-md-4.select
                = f.select :billing_frequency , Contract.billing_frequencies.map { |key, value| [key.humanize, key] }, {} , {class: "form-control" }
                -#= select_tag 'contract[billing_frequency]', Contract.billing_frequency.map { |key, value| [key.humanize, key] }  , class: "form-control"
              %label.col-md-2.control-label Time Sheet Frequency
              .col-md-4.select
                = f.select :time_sheet_frequency , Contract.billing_frequencies.map { |key, value| [key.humanize, value] }, {},{class: "form-control" }
                -#= select_tag 'contract[time_sheet_frequency]', options_for_select(BILLING_FREQUENCY.collect{ |type| [type[0], type[1]] }) , class: "form-control"
            = f.fields_for :contract_terms do |c|
              = c.hidden_field :created_by , value: current_user.id.to_i
              .form-group
                %label.col-md-2.control-label Rate
                .col-md-10
                  = c.text_field :rate ,class: "form-control" , placeholder: ""
              .form-group
                %label.col-md-2.control-label Terms & Conditions
                .col-md-10
                  =  c.text_area :terms_condition , class: 'form-control tinymce', rows: 6, placeholder: 'Enter Contract Terms & conditions'
                  = tinymce :default
            .form-group
              %label.col-md-2.control-label Are you paying any commission for this contract ?
              .col-md-10.select
                = f.select :is_commission , [["No", false] , ["Yes" , true]], {} , {class: "form-control" }
            #contract-commision
              .form-group
                %label.col-md-2.control-label Commission Type
                .col-md-4.select
                  = f.select :commission_type , Contract.commission_types.map { |key, value| [key.humanize, key] }, {} , {class: "form-control" }
                %label.col-md-2.control-label Commission For
                .col-md-4.select
                  = f.select :commission_for_id , options_for_select(current_company.admins.collect { |admin|[admin.full_name.titleize, admin.id] }) ,prompt: "Select Admin" ,html: {class: "form-control"}
              .form-group
                %label.col-md-2.control-label Commission Amount
                .col-md-4.select
                  = f.text_field :commission_amount , class: "form-control" , placeholder: ""
                %label.col-md-2.control-label Max Commission
                .col-md-4.select
                  = f.text_field :max_commission , class: "form-control" , placeholder: ""
            -#.form-group
            -#  %label.col-md-2.control-label Note (optional)
            -#  .col-md-10
            -#    = f.text_area :note, class: "form-control", rows: "2" ,placeholder: 'Write your note'
            %hr
            .form-group#contract-attachment
              .col-md-10
                = f.fields_for :attachments do |attachment|
                  = render 'company/contracts/attachment_fields', f: attachment
                .links
                  = link_to_add_association 'Add Attachment', f, :attachments,partial:'company/contracts/attachment_fields',class:"btn btn-primary pull-right"
          .modal-footer
            -#= button_tag 'Cancel' , class: 'btn btn-default' , data: {"dismiss": "modal"}
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
              Cancel
            = f.submit 'Save' , class: 'btn btn-primary'

:javascript
  function toggleFields() {
    if ($('#contract_is_commission').val() == "true")
      $("#contract-commision").show();
    else
      $("#contract-commision").hide();
  };
  $( document ).ready(function() {
     toggleFields();
     //$(".multi-select2-company-docs").select2({placeholder: "Select a Doc(s)"});
     $('#contract_start_date').datepicker({
        dateFormat : 'dd/mm/yy'

      });
     $('#contract_end_date').datepicker({
      dateFormat : 'dd/mm/yy'
     });
     $("#contract_is_commission").change(function () {
      toggleFields();
     });

    });


  $('#contract-attachment').on('cocoon:after-insert', function(e, insertedItem) {
        insertedItem.find('.filepicker-attachment').each(function(i,e){
          filepicker.constructWidget(e);

        $(".filepicker-attachment").on('click',function() {
        $('.fp__overlay').css({'z-index':'99999'})
        });

        $('.filepicker-attachment').on('click',function() {
          $(this).hide();
         });

        });
    });