.modal.fade.in{ id: "contract-#{job.id}","aria-hidden": "true", "aria-labelledby": "myModalLabel", :role => "dialog"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
          ×
        %h1
          %span.semi-bold Creating #{job.is_child? ? 'Sub' : 'New' } Contract
          -#%i.ultra-light #{job_application.company.try(:name)}
          %br/
          %small.text-muted
            -if job_application.present?
              %strong #{link_to job_application.try(:user).full_name ,  '#' , target: '_blank'} - #{job.title}
            -else
              %strong #{link_to job.title , job_path(job), target: '_blank'}
        -#%p
          = raw job.description
      .modal-body
        = form_for [job,contract] , html: {class: 'form-horizontal'} , remote: false do |f|
          -if job_application.present?
            = f.hidden_field :job_application_id , value: job_application.id
            -  if is_applicant_is_consultant?(job_application)
              = f.hidden_field :assignee_id , value: current_company.consultants.where(candidate_id: job_application.applicationable_id).first.id
          %fieldset
            - if job.is_child?
              = f.hidden_field :contractable_type , value: 'Company'
              = f.hidden_field :parent_contract_id
              .form-group
                %label.col-md-2.control-label
                  Company
                .col-md-10.select
                  = select_tag 'contract[contractable_id]', options_for_select(current_company.invited_companies.collect { |c|[c.invited_company.name, c.invited_company.id] })  , class: "form-control"
            .form-group
              %label.col-md-2.control-label
                Start Date
                %sup.text-danger *
              .col-md-4
                = f.text_field :start_date ,class: "form-control" , required: 'required', placeholder: "Contract Start Date"
              %label.col-md-2.control-label
                End Date
                %sup.text-danger *
              .col-md-4
                = f.text_field :end_date ,class: "form-control" , required: 'required', placeholder: "Contract End Date"

            .form-group
              %label.col-md-2.control-label
                Company Docs
              .col-md-10.select
                = f.select :company_doc_ids , options_for_select(current_company.company_docs.collect { |doc|[doc.name, doc.id] }),{}  , class: "form-control multi-select2" , multiple: true
            .form-group
              %label.col-md-2.control-label
                Type
                %sup.text-danger *
              .col-md-10.select
                = f.select :contract_type , Contract.contract_types.map { |key, value| [key.titleize, key] }, {include_blank: '-- Select Contract Type --'} , {class: "form-control" , required: true}
            .form-group
              %label.col-md-2.control-label Invoicing Frequency
              .col-md-4.select
                = f.select :billing_frequency , Contract.billing_frequencies.map { |key, value| [key.humanize, key] }, {include_blank: '-- Select Billing Frequency --'} , {class: "form-control" , required: true }

              %label.col-md-2.control-label Time Sheet Frequency
              .col-md-4.select
                = f.select :time_sheet_frequency , Contract.time_sheet_frequencies.map { |key, value| [key.humanize, key] }, {include_blank: '-- Select Timesheet Frequency --'} ,{class: "form-control" }

            - if is_applicant_is_consultant?(job_application)
              = render 'company/contracts/partials/commission' , f: f
            = f.fields_for :contract_terms do |c|
              = c.hidden_field :created_by , value: current_user.id.to_i
              .form-group
                %label.col-md-2.control-label
                  Rate $
                  %sup.text-danger *
                .col-md-10
                  = c.text_field :rate ,class: "form-control" , placeholder: "Rate $"
              .form-group
                %label.col-md-2.control-label Terms & Conditions
                .col-md-10
                  =  c.text_area :terms_condition , class: 'form-control tinymce', rows: 6, placeholder: 'Enter Contract Terms & conditions'
                  = tinymce :default

            -#.form-group
            -#  %label.col-md-2.control-label Note (optional)
            -#  .col-md-10
            -#    = f.text_area :note, class: "form-control", rows: "2" ,placeholder: 'Write your note'

            %hr
            .form-group#contract-attachment
              .col-md-12
                = f.fields_for :attachments do |attachment|
                  = render 'company/contracts/attachment_fields', f: attachment
                .links
                  = link_to_add_association 'Add Attachment', f, :attachments,partial:'company/contracts/attachment_fields',class:"btn btn-primary pull-right"
            %hr
            .form-group
              = render partial: 'company/contracts/partials/sent_by_signature_pad',locals: {f: f}
          .modal-footer
            -#= button_tag 'Cancel' , class: 'btn btn-default' , data: {"dismiss": "modal"}
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
              Cancel
            = f.button "Send".html_safe, data: {disable_with: disable_spinning("Sending...")} , class: 'btn btn-primary btn-sm'
:javascript
  $( document ).ready(function() {
      toggleFields();
      $("#contract_is_commission , #contract_commission_type").change(function () {
         toggleFields();
      });
     $('#contract_start_date').datepicker({
        dateFormat : 'dd/mm/yy'
      });
     $('#contract_end_date').datepicker({
      dateFormat : 'dd/mm/yy'
     });
  });
   // $(".multi-select2").select2({placeholder: "Select Doc's"});
  $('#contract-attachment').on('cocoon:after-insert', function(e, insertedItem) {
        insertedItem.find('.filepicker-attachment').each(function(i,e){
          filepicker.constructWidget(e);

        $(".filepicker-attachment").on('click',function() {
        $('.fp__overlay').css({'z-index':'99999'})
        });

        $('.filepicker-attachment').on('click',function() {
          $(this).hide();
         });

        });
    });

