%fieldset
  =f.fields_for :sell_contracts do |sc|
    .form-group
      %label.col-md-2.control-label  Company
      .col-md-10
        = sc.select :company_id, {}, {}, id: "sell_contract_company", required: true
        -#= hidden_field :company_id,
        =# select_tag 'contract[contractable_id]', options_for_select(current_company.invited_companies.collect { |c|[c.invited_company.name, c.invited_company.id] })  , class: "form-control"

    .row
      .col-md-12
        .form-group
          =sc.fields_for :contract_sell_business_details do |custom_field|
            = render 'company/contracts/contract_sell_business_details_fields', f: custom_field
        %strong
          .links.col-sm-12
            = link_to_add_association '+ Add Business Details', sc, :contract_sell_business_details, class: 'text-info pull-right', partial: 'company/contracts/contract_sell_business_details_fields'
            %br/

    .row
      Customer Documents
      .col-md-12.contract-attachment
        .form-group
          =sc.fields_for :sell_send_documents do |custom_field|
            = render 'company/contracts/contract_documents_fields', f: custom_field
        %strong
          .links.col-sm-6
            = link_to_add_association '+ Add Send documents', sc, :sell_send_documents, class: 'text-info pull-right doc-fields', partial: 'company/contracts/contract_documents_fields'
            %br/
        .form-group
          =sc.fields_for :sell_request_documents do |custom_field|
            = render 'company/contracts/contract_documents_fields', f: custom_field
        %strong
          .links.col-sm-6
            = link_to_add_association '+ Add Request documents', sc, :sell_request_documents, class: 'text-info pull-right doc-fields', partial: 'company/contracts/contract_documents_fields'
            %br/

    .form-group
      %label.col-md-2.control-label
        Customer Rate $
      .col-md-10.select
        = sc.number_field :customer_rate, class: "form-control"
        = sc.select :customer_rate_type, ["hourly", "daily", "weekly", "monthly"], class: "form-control"
    .form-group
      %label.col-md-2.control-label
        Time sheet
      .col-md-10.select
        = sc.select :time_sheet, ["hourly", "daily", "weekly", "monthly"].map { |key, value| [key.humanize, key] }, {},{class: "form-control" }

    .form-group
      %label.col-md-2.control-label
        Invoice Terms
      .col-md-10.select
        = sc.select :invoice_terms_period , (0..60).map{|a| ["Net " + a.to_s + " days",a]}, {},{class: "form-control" }

    .form-group
      %label.col-md-2.control-label
      .col-md-10.select
        = sc.check_box :show_accounting_to_employee
        %span
          Show Accounting term to employee ?

- content_for :scripts do
  :javascript
     $('.contract-attachment123').on('cocoon:after-insert', function(e, insertedItem) {
        insertedItem.find('.filepicker-attach').each(function(i,e){
          filepicker.constructWidget(e);
          $(".filepicker-attach").on('click',function() {
            $('.fp__overlay').css({'z-index':'99999'})
          });
          $('.filepicker-attach').on('click',function() {
            //$(this).hide();
           });
        });

       $(".exp_date").datepicker({
          dateFormat : 'dd/mm/yy'
       });
       set_user_select(".whois_sign:not([class*='added']", "Select User who is sign document");
       $(".whois_sign:not([class*='added']").addClass('added');
     });