= form_for  @contract , remote: true, method: :put, html: {id: 'wizard-1' , class: 'form-horizontal new_contract', style: "width: 100%;", novalidate: "novalidate" } do |f|
  =f.hidden_field :contractable_type , value: "Company"
  =f.hidden_field :status, value: "pending"
  =hidden_field_tag :tab, "4"
  - if params.has_key?('id')
    =f.hidden_field :parent_contract_id , value: params[:id]
  %fieldset
    =f.fields_for :buy_contract do |bc|
      = bc.hidden_field :id
      .contract-fields_wrapper.mt-4
        - if @contract.buy_contract.company.present?
          .row
            .col-md-12
              .form-group
                %h3.control-label.pull-right.text-muted
                  = @contract.buy_contract.number
        .row
          .col-md-6
            .form-group
              %label.control-label  Consultant
              .contract-fild
                = text_field_tag :consultant_name, @contract.candidate.full_name.capitalize, disabled: "disabled"
          .col-md-6
            .form-group
              - if @contract.buy_contract.company.present?
                %label.control-label  Employer
                .contract-fild
                  = text_field_tag :employeer_name, @contract.buy_contract.company.name.capitalize, disabled: "disabled"
              - else
                %h3.control-label.pull-right.text-muted
                  = @contract.buy_contract.number

            -#.col-md-6
            -#.row.c2c-type.hidden
            -#  .col-md-12
            -#    .form-group
            -#      %label.control-label  Add Vendor Company
            -#      .contract-fild
            -#        .plain-select
            -#          = bc.select :company_id, {}, {}, id: "buy_contract_company"
            -#    .form-group.company_contacts
            -#      -bc.object.contract_buy_business_details.build
            -#      =bc.fields_for :contract_buy_business_details do |csbd|
            -#        = link_to_add_fields 'available_tour_fields', bc, :contract_buy_business_details, {partial: 'company/contracts/contract_sell_business_details_fields'}, {class: 'link-company-contacts hidden'}
            -#      = select_tag 'contract[job_1_id]', nil, id: "select_buy_company_contacts", class: "form-control select_company_contacts"

      -#.row
      -#  .col-md-8
      -#    .form-group
      -#      %label.control-label
      -#        %b Contract Type :
      -#      %span.contract-type-radio
      -#        = bc.radio_button :contract_type, "W2"
      -#        %label W2 (Fulltime)
      -#        = bc.radio_button :contract_type, "1099"
      -#        %labe 1099 (Freelancers)
      -#        = bc.radio_button :contract_type, "C2C"
      -#        %label Corp-Corp (Third Party)


          -#  = bc.fields_for :contract_buy_business_details do |custom_field|
          -#    = render 'company/contracts/contract_sell_business_details_fields', bc: custom_field
          -#%strong
          -#  .links
          -#    = link_to_add_association '+ Add Business Details', bc, :contract_buy_business_details, class: 'bttn text-info pull-left', partial: 'company/contracts/contract_sell_business_details_fields'
          -#    %br/
      .contract-fields_wrapper.mt-4
        %div
          .widget-body
            %ul#myTab1.nav.nav-tabs.smaller{style: "border-bottom: 0px;"}
              %li.nav-item.active.cumstom_nav-tab
                %a{"data-toggle" => "tab", :href => "#tab-buy-ct", class: "nav-link cumstom_nav-tab"}
                  %span.badge.bg-color-blue.txt-color-white
                  Costing
              %li.nav-item.cumstom_nav-tab
                %a{"data-toggle" => "tab", :href => "#tab-buy-ts", class: "nav-link cumstom_nav-tab"}
                  %span.badge.bg-color-blue.txt-color-white
                  Timesheet Submit
              %li.nav-item.cumstom_nav-tab
                %a{"data-toggle" => "tab", :href => "#tab-buy-ta", class: "nav-link cumstom_nav-tab"}
                  %span.badge.bg-color-blue.txt-color-white
                  Timesheet Approve
              %li.nav-item.cumstom_nav-tab.salary-calculation
                %a{"data-toggle" => "tab", :href => "#tab-buy-sc", class: "nav-link cumstom_nav-tab"}
                  %span.badge.bg-color-blueDark.txt-color-white
                  %span.corp-corp Salary Calculation
              %li.nav-item.cumstom_nav-tab
                %a{"data-toggle" => "tab", :href => "#tab-buy-cc", class: "nav-link cumstom_nav-tab"}
                  %span.badge.bg-color-blue.txt-color-white
                  Commission Calculation
              %li.nav-item.cumstom_nav-tab
                %a{"data-toggle" => "tab", :href => "#tab-buy-integration", class: "nav-link cumstom_nav-tab"}
                  %span.badge.bg-color-blue.txt-color-white
                  Integration
              / %li
              /   %a{"data-toggle" => "tab", :href => "#tab-buy-cp"}
              /     %span.badge.bg-color-blueDark.txt-color-white
              /     Commission Payment
            .col-md-12.pl-0
              .tab-content.p-4{style: 'border: 1px solid #b6bcbf;'}
                #tab-buy-ct.tab-pane.padding-top-15.active.in
                  .row
                    .col-md-12
                      .form-group
                        %label.control-label
                          PayRate
                          %sup.text-danger *
                        .select
                          .row
                            .col-md-6
                              = bc.number_field :payrate, class: "form-control"
                            .col-md-6
                              .plain-select
                                = bc.select :payrate_type, ["hourly", "daily", "weekly", "monthly"], class: "form-control"
                  .row
                    .col-md-12
                      .form-groupc
                        %label.control-label
                          USCIS Rate
                          %sup.text-danger *
                        .select
                          .row
                            .col-md-6
                              = bc.number_field :uscis_rate, class: "form-control"
                #tab-buy-ts.tab-pane.padding-top-15
                  .row
                    .col-md-12
                      .form-group
                        .row
                          .col-md-4
                            %label.control-label
                              Time sheet
                            .select
                              .plain-select
                                = bc.text_field :time_sheet, value: bc.object.contract.sell_contract.time_sheet, class: 'form-control', disabled: true
                                = bc.hidden_field :time_sheet, value: bc.object.contract.sell_contract.time_sheet
                          .col-md-4
                            .b-ts-set
                              %div{:class => "form-group daily #{bc.object.contract.sell_contract.time_sheet != 'daily' ? 'hidden' : ''}"}
                                %label.control-label.w-100
                                  Select Time
                                  = bc.text_field :ts_day_time, class: "form-control con-time time-input", value: bc.object.contract.sell_contract.ts_day_time, readonly: true
                              %div{:class => "form-group week #{bc.object.contract.sell_contract.time_sheet != 'weekly' || bc.object.time_sheet != 'biweekly' ? 'hidden' : ''}"}
                                %label.control-label
                                  Select day of week
                                .select
                                  .plain-select
                                    = bc.select :ts_day_of_week,{"Sunday": 'sun',
                                    "Monday": "mon",
                                    "Tuesday": "tue",
                                    "Wednesday": "wed",
                                    "Thursday": "thu",
                                    "Friday": "fri",
                                    "Saturday": "sat"}, {selected: bc.object.contract.sell_contract.ts_day_of_week},{disabled: true}
                                    = bc.hidden_field :ts_day_of_week, value: bc.object.contract.sell_contract.ts_day_of_week
                              %div{:class => "form-group month #{['twice a month', 'monthly'].include?(bc.object.contract.sell_contract.time_sheet) ? '' : 'hidden'}"}
                                %label.control-label.w-100
                                  Select date
                                  = bc.text_field :ts_date_1, class: "form-control time-input", readonly: true, value: bc.object.contract.sell_contract.ts_date_1
                              %div{:class => "form-group twice-month #{bc.object.contract.sell_contract.time_sheet != 'twice a month' ? 'hidden' : ''}"}
                                %label.control-label
                                  Select second date
                                .select
                                  = bc.text_field :ts_date_2, class: "form-control", readonly: true, value: bc.object.contract.sell_contract.ts_date_2

                          .col-md-4
                            %label.control-label
                              Assign to
                            = select_tag 'assign_to', options_from_collection_for_select(current_company&.company_contacts, "id", 'full_name'), include_blank: 'Please select',class: 'form-control height-45'
                #tab-buy-ta.tab-pane.padding-top-15
                  .row
                    .col-md-12
                      .form-group
                        .row
                          .col-md-4
                            %label.control-label
                              Timesheet Approve
                            .select
                              .plain-select
                                = bc.text_field :ts_approve, value: bc.object.contract.sell_contract.ts_approve, class: 'form-control', readonly: true
                          .col-md-4
                            .b-ts-apv-set
                              %div{:class => "form-group daily #{bc.object.ts_approve != 'daily' ? 'hidden' : ''}"}
                                %label.control-label.w-100
                                  Select Time
                                  = bc.text_field :ta_day_time, class: "form-contro con-time time-input", readonly: true, value: bc.object.contract.sell_contract.ta_day_time
                                  =bc.hidden_field :ta_day_time, value: bc.object.contract.sell_contract.ta_day_time
                              %div{:class => "form-group week #{bc.object.ts_approve != 'weekly' ? 'hidden' : ''}"}
                                %label.control-label
                                  Select day of week
                                .select
                                  .plain-select
                                    = bc.select :ta_day_of_week, [["Every Monday", "mon"], ["Every Tuesday", "tue"], ["Every Wednesday", "wed"], ["Every Thursday", "thu"], ["Every Friday", "fri"], ["Every Saturday", "sat"], ["Every Sunday", "sun"]], {selected: bc.object.contract.sell_contract.ta_day_of_week, value: bc.object.contract.sell_contract.ta_day_of_week},{class: "form-contro", disabled: true }
                                    =bc.hidden_field :ta_day_of_week, value: bc.object.contract.sell_contract.ta_day_of_week
                              %div{:class => "form-group month #{['twice a month', 'monthly'].include?(bc.object.ts_approve) ? '' : 'hidden'}"}
                                %label.control-label
                                  Select date
                                .select
                                  = bc.text_field :ta_date_1, class: "form-control", readonly: true
                                  = bc.hidden_field :ta_date_1, value: bc.object.contract.sell_contract.ta_date_1
                              %div{:class => "form-group twice-month #{bc.object.ts_approve != 'twice a month' ? 'hidden' : ''}"}
                                %label.control-label
                                  Select second date
                                .select
                                  = bc.text_field :ta_date_2, class: "form-control", readonly: true
                                  = bc.hidden_field :ta_date_2, value: bc.object.contract.sell_contract.ta_date_2
                              %span{:class => "form-group month #{['twice a month', 'monthly'].include?(bc.object.ts_approve) ? '' : 'hidden'}"}
                          .col-md-4
                            %label.control-label
                              Assign to
                            = select_tag 'assign_to', options_from_collection_for_select(current_company&.company_contacts, "id", 'full_name'), include_blank: 'Please select',class: 'form-control height-45'
                #tab-buy-sc.tab-pane.padding-top-15
                  .row
                    .col-md-12
                      .form-group
                        .row
                          .col-md-4
                            %label.control-label.corp-corp-frequency
                              Salary Frequency
                            .select
                              .plain-select
                                = bc.select :salary_calculation, Contract.time_sheet_frequencies.map { |key, value| [key.humanize, key] }, {selected: current_company&.payroll_infos&.first&.payroll_type},{class: "form-control buy-sal-cal" }

                        .row
                          .col-md-4
                            %label.control-label.corp-corp-bill
                              Salary Calculation
                          .col-md-4
                            .b-sal-cal
                              %div{:class => "form-group daily #{bc.object.salary_calculation != 'daily' ? 'hidden' : ''}"}
                                %label.control-label.w-100
                                  Select Time
                                  = bc.text_field :sc_day_time, class: "form-contro con-time time-input"
                              %div{:class => "form-group week #{bc.object.salary_calculation != 'weekly' ? 'hidden' : ''}"}
                                %label.control-label
                                  Select day of week
                                .select
                                  .plain-select
                                    = bc.select :sc_day_of_week, [["Every Monday", "mon"], ["Every Tuesday", "tue"], ["Every Wednesday", "wed"], ["Every Thursday", "thu"], ["Every Friday", "fri"], ["Every Saturday", "sat"], ["Every Sunday", "sun"]], {selected: current_company&.payroll_infos&.first&.scal_day_of_week},{class: "form-contro" }
                              %div{:class => "form-group month #{['twice a month', 'monthly'].include?(bc.object.salary_calculation) ? '' : 'hidden'}"}
                                %label.control-label
                                  Select date
                                .select
                                  = bc.text_field :sc_date_1, class: "date_1", placeholder: "DD/MM/YYYY", value: current_company&.payroll_infos&.first&.scal_date_1
                              %div{:class => "form-group twice-month #{bc.object.salary_calculation != 'twice a month' ? 'hidden' : ''}"}
                                %label.control-label
                                  Select second date
                                .select
                                  = bc.text_field :sc_date_2, class: "date_1", placeholder: "DD/MM/YYYY", value: current_company&.payroll_infos&.first&.scal_date_2
                              %span{:class => "form-group month #{['twice a month', 'monthly'].include?(bc.object.salary_calculation) ? '' : 'hidden'}"}
                          .col-md-4
                            %label.control-label
                              Assign to
                            = select_tag 'assign_to', options_from_collection_for_select(current_company&.company_contacts, "id", 'full_name'), include_blank: 'Please select',class: 'form-control height-45'

                  .row
                    .col-md-12
                      .form-group
                        .row
                          .col-md-4
                            %label.control-label.corp-corp-payment
                              Salary Process
                            = bc.hidden_field :salary_process, value: bc.object.salary_calculation
                          .col-md-4
                            .b-sal-cal
                              %div{:class => "form-group daily #{bc.object.salary_calculation != 'daily' ? 'hidden' : ''}"}
                                %label.control-label.w-100
                                  Select Time
                                  = bc.text_field :sp_day_time, class: "form-contro con-time time-input"
                              %div{:class => "form-group week #{bc.object.salary_calculation != 'weekly' ? 'hidden' : ''}"}
                                %label.control-label
                                  Select day of week
                                .select
                                  .plain-select
                                    = bc.select :sp_day_of_week, [["Every Monday", "mon"], ["Every Tuesday", "tue"], ["Every Wednesday", "wed"], ["Every Thursday", "thu"], ["Every Friday", "fri"], ["Every Saturday", "sat"], ["Every Sunday", "sun"]], {},{class: "form-contro" }
                              %div{:class => "form-group month #{['twice a month', 'monthly'].include?(bc.object.salary_calculation) ? '' : 'hidden'}"}
                                %label.control-label
                                  Select date
                                .select
                                  = bc.text_field :sp_date_1, class: "date_1", placeholder: "DD/MM/YYYY", value: current_company&.payroll_infos&.first&.sp_date_1
                              %div{:class => "form-group twice-month #{bc.object.salary_calculation != 'twice a month' ? 'hidden' : ''}"}
                                %label.control-label
                                  Select second date
                                .select
                                  = bc.text_field :sp_date_2, class: "date_1", placeholder: "DD/MM/YYYY", value: current_company&.payroll_infos&.first&.sp_date_2
                              %span{:class => "form-group month #{['twice a month', 'monthly'].include?(bc.object.salary_calculation) ? '' : 'hidden'}"}
                          .col-md-4
                            %label.control-label
                              Assign to
                            = select_tag 'assign_to', options_from_collection_for_select(current_company&.company_contacts, "id", 'full_name'), include_blank: 'Please select',class: 'form-control height-45'

                  .row
                    .col-md-12
                      .form-group
                        .row
                          .col-md-4
                            %label.control-label.corp-corp-clear
                              Salary Clear
                            = bc.hidden_field :salary_process, value: bc.object.salary_calculation
                          .col-md-3
                            .b-sal-cal
                              %div{:class => "form-group daily #{bc.object.salary_calculation != 'daily' ? 'hidden' : ''}"}
                                %label.control-label.w-100
                                  Select Time
                                  = bc.text_field :sclr_day_time, class: "form-contro con-time time-input"
                              %div{:class => "form-group week #{bc.object.salary_calculation != 'weekly' ? 'hidden' : ''}"}
                                %label.control-label
                                  Select day of week
                                .select
                                  .plain-select
                                    = bc.select :sclr_day_of_week, [["Every Monday", "mon"], ["Every Tuesday", "tue"], ["Every Wednesday", "wed"], ["Every Thursday", "thu"], ["Every Friday", "fri"], ["Every Saturday", "sat"], ["Every Sunday", "sun"]], {},{class: "form-contro height-45" }
                              %div{:class => "form-group month #{['twice a month', 'monthly'].include?(bc.object.salary_calculation) ? '' : 'hidden'}"}
                                %label.control-label
                                  Select date
                                .select
                                  = bc.text_field :sclr_date_1, class: "date_1", placeholder: "DD/MM/YYYY", value: current_company&.payroll_infos&.first&.sclr_date_1
                              %div{:class => "form-group twice-month #{bc.object.salary_calculation != 'twice a month' ? 'hidden' : ''}"}
                                %label.control-label
                                  Select second date
                                .select
                                  = bc.text_field :sclr_date_2, class: "date_1", placeholder: "DD/MM/YYYY", value: current_company&.payroll_infos&.first&.sclr_date_2
                              %span{:class => "form-group month #{['twice a month', 'monthly'].include?(bc.object.salary_calculation) ? '' : 'hidden'}"}
                          .col-md-2
                            .term-no
                              %div{:class => "form-group month"}
                              %label.control-label
                                Select Term
                              .select
                                = bc.select :term_no, options_for_select( (1..30).to_a+['End of month'],current_company&.payroll_infos&.first&.term_no), {}, {class: 'form-control height-45'}
                              .b-sal-cal
                                %div{:class => "form-group twice-month #{bc.object.salary_calculation != 'twice a month' ? 'hidden' : ''}"}
                                  %label.control-label
                                    Select Term 2
                                  .select
                                    = bc.select :term_no_2, options_for_select( (1..30).to_a+['End of month'],current_company&.payroll_infos&.first&.term_no_2), {}, {class: 'form-control height-45'}

                          .col-md-3
                            .b-sal-cal1
                              %div{:class => "form-group week"}
                              %div{:class => "form-group month"}
                              %label.control-label
                                Select Payroll
                              .select.payroll
                                .plain-select.payroll-term
                                  - #TODO: change the below select
                                  = bc.select :term_no_2, options_for_select( (1..30).to_a+['End of month'],current_company&.payroll_infos&.first&.term_no_2), {}, {class: 'form-control height-45'}
                            .b-sal-cal
                              %div{:class => "form-group twice-month #{bc.object.salary_calculation != 'twice a month' ? 'hidden' : ''}"}
                                %label.control-label
                                  Select Payroll 2
                                .select.payrol-2
                                  .plain-select.payroll-term-2
                                    - #TODO: change the below select
                                    = bc.select :term_no_2, options_for_select( (1..30).to_a+['End of month'],current_company&.payroll_infos&.first&.term_no_2), {}, {class: 'form-control height-45'}
                #tab-buy-cc.tab-pane.padding-top-15
                  .contract-fields_wrapper.mt-4
                    %div
                      .widget-body
                        .col-md-4
                          .form-group
                            %label.control-label
                              Payroll Date
                              %sup.text-danger *
                            .select
                              .row
                                = bc.text_field :payroll_date, value: current_company&.payroll_infos&.first&.payroll_date, class: "date_1"
                  .row
                    .col-md-12
                      .form-group
                        =bc.nested_fields_for :contract_sale_commisions do |custom_field|
                          = render 'company/contracts/contract_sale_commisions_fields', f: custom_field
                        .links
                          = link_to_add_association '+ Add Sale Comission', bc, :contract_sale_commisions, class: 'btn btn-sm btn-secondary float-right margin-bottom-10', partial: 'company/contracts/contract_sale_commisions_fields'
                #tab-buy-integration.tab-pane.padding-top-15
                  .row.integration
                    .col-md-6
                      %label.control-label.w-100
                        Transaction Reference
                      = select_tag 'assign_to', options_from_collection_for_select(current_company&.company_contacts, "id", 'full_name'), include_blank: 'Please select',class: 'form-control height-45'
                    .col-md-6.button_main
                      %a.btn.btn-sm.btn-secondary.float-right{href: '#', title: 'Add More'} Add More

      .contract-fields_wrapper.mt-4
        .row
          %label.control-label  Employye/Vender Documents
          .col-md-12.contract-attachment
            %ul#myTab2.nav.nav-tabs.smaller{style: "border-bottom: 0px;"}
              %li.nav-item.active.cumstom_nav-tab
                %a{"data-toggle" => "tab", :href => "#buy_send_documents", class: "nav-link cumstom_nav-tab"}
                  %span.badge.bg-color-blue.txt-color-white
                  Employee Submit Documents
              %li.nav-item.cumstom_nav-tab
                %a{"data-toggle" => "tab", :href => "#buy_emp_req_docs", class: "nav-link cumstom_nav-tab"}
                  %span.badge.bg-color-blue.txt-color-white
                  Employee Request Documents
              - if @contract.buy_contract.company.present?
                %li.nav-item.cumstom_nav-tab
                  %a{"data-toggle" => "tab", :href => "#buy_ven_req_docs", class: "nav-link cumstom_nav-tab"}
                    %span.badge.bg-color-blue.txt-color-white
                    Vendor Request Documents
            .col-md-12.pl-0
              .tab-content{style: 'border: 1px solid #b6bcbf;'}
                #buy_send_documents.tab-pane.padding-top-15.active.in
                  .row
                    .col-md-12
                      .form-group
                        .table-responsive.p-4
                          %a.btn.btn-sm.btn-secondary.float-right.margin-bottom-10{"data-toggle": "modal", "data-target":"#buy_send_documents_modal", style: "color: #fff;"} Create Checklist
                          %table.table.text-center.table-bordered.table-lg.table-v2.table-striped.data-table-font
                            %thead
                              %tr{:role => "row"}
                                %th Document Title
                                %th Sent Date
                                %th Status
                                %th Envelope No
                                %th Signed Document
                            %tbody#buy_send_documents_table
                              - @candidate_signature_documents.each do |docusign|
                                %tr
                                  %td= docusign.documentable.title
                                  %td= docusign.created_at.strftime("%Y-%m-%d")
                                  %td= docusign.is_sign_done ? "Signed" : "Pending"
                                  %td= docusign.envelope_id.present? ? docusign.envelope_id : "Document Not Submitted"
                                  %td= link_to content_tag(:i,'',class:'fa fa-paperclip fa-lg').html_safe, docusign.signed_file if docusign.is_sign_done
                #buy_emp_req_docs.tab-pane.padding-top-15
                  .row
                    .col-md-12
                      .form-group
                        .table-responsive.p-4
                          %a.btn.btn-sm.btn-secondary.float-right.margin-bottom-10{"data-toggle": "modal", "data-target":"#buy_emp_req_docs_modal", style: "color: #fff;"} Create Checklist
                          %table.table.text-center.table-bordered.table-lg.table-v2.table-striped.data-table-font
                            %thead
                              %tr{:role => "row"}
                                %th Document Title
                                %th Sent Date
                                %th Status
                                %th Submitted Document
                            %tbody#buy_emp_req_docs_table
                              - @candidate_request_documents.each do |docusign|
                                %tr
                                  %td= docusign.documentable.title
                                  %td= docusign.created_at.strftime("%Y-%m-%d")
                                  %td= docusign.envelope_id.present? ? "Submitted" : "Document Not Submitted"
                                  %td= link_to content_tag(:i,'',class:'fa fa-paperclip fa-lg').html_safe, docusign.signed_file if docusign.signed_file.present?
                #buy_ven_req_docs.tab-pane.padding-top-15
                  .row
                    .col-md-12
                      .form-group
                        .table-responsive.p-4
                          %a.btn.btn-sm.btn-secondary.float-right.margin-bottom-10{"data-toggle": "modal", "data-target":"#buy_ven_req_docs_modal", style: "color: #fff;"} Create Checklist
                          %table.table.text-center.table-bordered.table-lg.table-v2.table-striped.data-table-font
                            %thead
                              %tr{:role => "row"}
                                %th Document Title
                                %th Sent Date
                                %th Status
                                %th Envelope No
                                %th Signed Document
                            %tbody#buy_ven_req_docs_table
                              - @vendor_signature_documents.each do |docusign|
                                %tr
                                  %td= docusign.documentable.title
                                  %td= docusign.created_at.strftime("%Y-%m-%d")
                                  %td= docusign.is_sign_done ? "Signed" : "Pending"
                                  %td= docusign.envelope_id.present? ? docusign.envelope_id : "Document Not Submitted"
                                  %td= link_to content_tag(:i,'',class:'fa fa-paperclip fa-lg').html_safe, docusign.signed_file if docusign.is_sign_done

= render 'company/contracts/buy_send_documents_modal', contract: @contract
= render 'company/contracts/buy_emp_req_docs_modal', contract: @contract
= render 'company/contracts/partials/buy_ven_req_docs_modal', contract: @contract
-#.row
-#  %label.control-label  Employye/Vender Documents
-#  .col-md-12.contract-attachment
-#    .form-group
-#      =bc.fields_for :buy_send_documents do |custom_field|
-#        = render 'company/contracts/contract_documents_fields', f: custom_field
-#      = link_to_add_association '+ Add Send documents', bc, :buy_send_documents, class: 'bttn text-info pull-left', partial: 'company/contracts/contract_documents_fields'
-#  .col-md-12.contract-attachment
-#    .form-group
-#      =bc.fields_for :buy_emp_req_docs do |custom_field|
-#        = render 'company/contracts/contract_documents_fields', f: custom_field
-#      = link_to_add_association '+ Add Employee Request documents', bc, :buy_emp_req_docs, class: 'bttn text-info pull-left', partial: 'company/contracts/contract_documents_fields'
-#  .col-md-12.contract-attachment
-#    .form-group
-#      =bc.fields_for :buy_ven_req_docs do |custom_field|
-#        = render 'company/contracts/contract_documents_fields', f: custom_field
-#      = link_to_add_association '+ Add Vender Request documents', bc, :buy_ven_req_docs, class: 'bttn text-info pull-left', partial: 'company/contracts/contract_documents_fields'

- content_for :scripts do
  :javascript
    $(document).ready(function() {
      $(".exp_date").datepicker({
          dateFormat : 'dd/mm/yy'
       });

       $(".exp_date_buy").datepicker({
          dateFormat : 'dd/mm/yy'
       });

       $(".exp_date_emp_buy").datepicker({
          dateFormat : 'dd/mm/yy'
       });

       $(".exp_date_ven_buy").datepicker({
          dateFormat : 'dd/mm/yy'
       });
    });
    $('#bc_timesheet').val($('#contract_buy_contracts_attributes_0_time_sheet').val());
    $('.add-commission').on('cocoon:after-insert', function(e, insertedItem) {
      set_commission_user_select(".commission-user:not([class*='added']", "Select Commssion User");
      $(".commission-user:not([class*='added']").addClass('added');
    });


    if($('#contract_buy_contracts_attributes_0_salary_calculation').val() == 'weekly'){
      $('.plain-select.payroll-term').html("<select class='form-control' name='contract[buy_contracts_attributes][0][payment_term]' id='contract_buy_contracts_attributes_0_payment_term'><option value='1'>1 Day</option> <option value='2'>1 Days</option> <option value='3'>3 Days</option> <option value='4'>4 Days</option> <option value='5'>5 Days</option> <option value='6'>6 Days</option> <option value='7'>7 Days</option> <option value='14'>14 Days</option></select>")

    } else if($('#contract_buy_contracts_attributes_0_salary_calculation').val() == 'monthly'){
      $('.plain-select.payroll-term').html("<select class='form-control month-term' name='contract[buy_contracts_attributes][0][payment_term]' id='contract_buy_contracts_attributes_0_payment_term'><option value='0'>Current month</option> <option value='1'>1 previous month</option> <option value='2'>2 previous month</option></select>")
    }else if($('#contract_buy_contracts_attributes_0_salary_calculation').val() == 'twice a month'){

      $('.plain-select.payroll-term').html("<select class='form-control month-term' name='contract[buy_contracts_attributes][0][payment_term]' id='contract_buy_contracts_attributes_0_payment_term'><option value='0'>Current month</option> <option value='1'>1 previous month</option> <option value='2'>2 previous month</option></select>")

      $('.plain-select.payroll-term-2').html("<select class='form-control month-term' name='contract[buy_contracts_attributes][0][payment_term_2]' id='contract_buy_contracts_attributes_0_payment_term_2'><option value='0'>Current month</option> <option value='1'>1 previous month</option> <option value='2'>2 previous month</option></select>")

    }

    $('#contract_buy_contracts_attributes_0_payment_term').val(#{current_company&.payroll_infos&.first&.payroll_term})

    $('#contract_buy_contracts_attributes_0_payment_term_2').val(#{current_company&.payroll_infos&.first&.payroll_term_2})

    $(".buy-sal-cal").on("change", function(){
      $('.plain-select.payroll-term').find('.month-terms').remove();
      $(".b-sal-cal").children().addClass("hidden");
      if($(this).val() == "daily"){
        $(".b-sal-cal").find('.daily').removeClass("hidden");
      } else if($(this).val() == "weekly" || $(this).val() == "biweekly"){
        $(".b-sal-cal").find('.week').removeClass("hidden");
        $('.plain-select.payroll-term').html("<select class='form-control' name='contract[buy_contracts_attributes][0][payment_term]' id='contract_buy_contracts_attributes_0_payment_term'><option value='1'>1 Day</option> <option value='2'>1 Days</option> <option value='3'>3 Days</option> <option value='4'>4 Days</option> <option value='5'>5 Days</option> <option value='6'>6 Days</option> <option value='7'>7 Days</option> <option value='14'>14 Days</option></select>")
      } else if($(this).val() == "twice a month"){
      } else if($(this).val() == "monthly" || $(this).val() == "twice a month"){
        $(".b-sal-cal").find('.twice-month, .month').removeClass("hidden");
        $(".term-no").find('.select').removeClass('hidden')
        $(".term-no").find('.control-label').removeClass('hidden')
        $('.plain-select.payroll-term').html("<select class='form-control month-term' name='contract[buy_contracts_attributes][0][payment_term]' id='contract_buy_contracts_attributes_0_payment_term'><option value='0'>Current month</option> <option value='1'>1 previous month</option> <option value='2'>2 previous month</option></select>")
      }
    });
