%fieldset
  =f.fields_for :buy_contracts do |bc|
    .row
      .col-md-6
        .form-group
          %label.control-label  Candidate
          .contract-fild
            .plain-select
              = bc.select :candidate_id, {}, {}, id: "buy_contract_candidate", required: true
      / .col-md-6
      /   .form-group
      /     %label.control-label  SSN
      /     .contract-fild
      /       / = bc.password_field :ssn, class: "form-control", placeholder: "SNN"
    .row
      .col-md-8
        .form-group
          %label.control-label
            %b Contract Type :     
          %span.contract-type-radio
            %label W2 (Fulltime)
            = bc.radio_button :contract_type, "W2" 
            %labe 1099 (Freelancers)
            = bc.radio_button :contract_type, "1099"  
            %label Corp-Corp (Third Party)
            = bc.radio_button :contract_type, "C2C"
            
    .row.c2c-type.hidden
      .col-md-12
        .form-group
          %label.control-label  Add Vendor Company
          .contract-fild
            .plain-select
              = bc.select :company_id, {}, {}, id: "buy_contract_company"
        .form-group.company_contacts
          -bc.object.contract_buy_business_details.build
          =bc.fields_for :contract_buy_business_details do |csbd|
            = link_to_add_fields 'available_tour_fields', bc, :contract_buy_business_details, {partial: 'company/contracts/contract_sell_business_details_fields'}, {class: 'link-company-contacts hidden'}
          = select_tag 'contract[job_1_id]', nil, id: "select_buy_company_contacts", class: "form-control select_company_contacts"

        -#  = bc.fields_for :contract_buy_business_details do |custom_field|
        -#    = render 'company/contracts/contract_sell_business_details_fields', bc: custom_field
        -#%strong
        -#  .links
        -#    = link_to_add_association '+ Add Business Details', bc, :contract_buy_business_details, class: 'bttn text-info pull-left', partial: 'company/contracts/contract_sell_business_details_fields'
        -#    %br/
    .row
      .col-md-12.contract-attachment
        %label.control-label  Employye/Vender Documents
        .form-group
          =bc.fields_for :buy_send_documents do |custom_field|
            = render 'company/contracts/contract_documents_fields', f: custom_field
        %strong
          .links
            = link_to_add_association '+ Add Send documents', bc, :buy_send_documents, class: 'bttn text-info pull-left', partial: 'company/contracts/contract_documents_fields'
            %br/
        .form-group
          =bc.fields_for :buy_emp_req_docs do |custom_field|
            = render 'company/contracts/contract_documents_fields', f: custom_field
        %strong
          .links
            = link_to_add_association '+ Add Employee Request documents', bc, :buy_emp_req_docs, class: 'bttn text-info pull-left', partial: 'company/contracts/contract_documents_fields'
            %br/
        .form-group
          =bc.fields_for :buy_ven_req_docs do |custom_field|
            = render 'company/contracts/contract_documents_fields', f: custom_field
        %strong
          .links
            = link_to_add_association '+ Add Vender Request documents', bc, :buy_ven_req_docs, class: 'bttn text-info pull-left', partial: 'company/contracts/contract_documents_fields'
            %br/
    %div
      .widget-body
        %ul#myTab1.nav.nav-tabs.no-border
          %li.active
            %a{"data-toggle" => "tab", :href => "#tab-buy-ct"}
              %span.badge.bg-color-blue.txt-color-white
              Costing
          %li
            %a{"data-toggle" => "tab", :href => "#tab-buy-ts"}
              %span.badge.bg-color-blue.txt-color-white
              Timesheet Submit
          %li
            %a{"data-toggle" => "tab", :href => "#tab-buy-ta"}
              %span.badge.bg-color-blue.txt-color-white
              Timesheet Approve
          %li.c2c-type.hidden
            %a{"data-toggle" => "tab", :href => "#tab-buy-ir"}
              %span.badge.bg-color-blueDark.txt-color-white
              Vendor Payment
          %li.c2c-type.hidden
            %a{"data-toggle" => "tab", :href => "#tab-buy-vb"}
              %span.badge.bg-color-blueDark.txt-color-white
              Vendor Bill
          %li.c2c-type.hidden
            %a{"data-toggle" => "tab", :href => "#tab-buy-cp"}
              %span.badge.bg-color-blueDark.txt-color-white
              Client Payment
          %li.c2c-type.hidden
            %a{"data-toggle" => "tab", :href => "#tab-buy-cb"}
              %span.badge.bg-color-blueDark.txt-color-white
              Client Bill
          %li.salary-calculation
            %a{"data-toggle" => "tab", :href => "#tab-buy-sc"}
              %span.badge.bg-color-blueDark.txt-color-white
              %span.corp-corp Salary Calculation
          %li
            %a{"data-toggle" => "tab", :href => "#tab-buy-cc"}
              %span.badge.bg-color-blue.txt-color-white
              Commission Calculation
          / %li
          /   %a{"data-toggle" => "tab", :href => "#tab-buy-cp"}
          /     %span.badge.bg-color-blueDark.txt-color-white
          /     Commission Payment
        .col-md-12
          .tab-content
            #tab-buy-ct.tab-pane.padding-top-15.active.in
              .row
                .col-md-12
                  .form-group
                    %label.control-label
                      PayRate
                      %sup.text-danger *
                    .select
                      .row
                        .col-md-6
                          = bc.number_field :payrate, class: "form-control"
                        .col-md-6
                          .plain-select
                            = bc.select :payrate_type, ["hourly", "daily", "weekly", "monthly"], class: "form-control"
              .row
                .col-md-6
                  .form-group
                    %label.control-label
                      Start date
                    .select
                      = bc.text_field :pr_start_date, class: "pr_start_date", placeholder: "DD/MM/YYYY"
                .col-md-6
                  .form-group
                    %label.control-label
                      End date
                    .select
                      = bc.text_field :pr_end_date, class: "pr_end_date", placeholder: "DD/MM/YYYY"
                .col-md-12
                  .form-groupc
                    %label.control-label
                      USCIS Rate
                      %sup.text-danger *
                    .select
                      .row
                        .col-md-6
                          = bc.number_field :uscis_rate, class: "form-control"
            #tab-buy-ts.tab-pane.padding-top-15
              .row
                .col-md-12
                  .form-group
                    .row
                      .col-md-4
                        %label.control-label
                          Time sheet
                        .select
                          .plain-select
                            = text_field_tag :bc_timesheet, '', class: 'form-control',readonly: true
                            = bc.hidden_field :time_sheet, value: 'immediately'
                      .col-md-6
                        .b-ts-set
                          %div{:class => "form-group daily #{bc.object.time_sheet != 'daily' ? 'hidden' : ''}"}
                            %label.control-label
                              Select Time
                              = bc.text_field :ts_day_time, class: "form-contro con-time", readonly: true
                          %div{:class => "form-group week #{bc.object.time_sheet != 'weekly' ? 'hidden' : ''}"}
                            %label.control-label
                              Select day of week
                            .select
                              .plain-select
                                = text_field_tag :bc_ts_day_of_week,'', class: 'form-control',readonly: true
                                = bc.hidden_field :ts_day_of_week
                          %div{:class => "form-group month #{['twice a month', 'monthly'].include?(bc.object.time_sheet) ? '' : 'hidden'}"}
                            %label.control-label
                              Select date
                              = bc.text_field :ts_date_1, class: "form-control", readonly: true
                          %div{:class => "form-group twice-month #{bc.object.time_sheet != 'twice a month' ? 'hidden' : ''}"}
                            %label.control-label
                              Select second date
                            .select
                              = bc.text_field :ts_date_2, class: "form-control", readonly: true
                          %span{:class => "form-group month #{['twice a month', 'monthly'].include?(bc.object.time_sheet) ? '' : 'hidden'}"} OR
                          / = bc.check_box :ts_end_of_month, class: "month #{['twice a month', 'monthly'].include?(bc.object.time_sheet) ? '' : 'hidden'}"

                          = check_box_tag :sc_ts_end_of_month, '1', false, class: 'month hidden', disabled: true
                          = bc.label :ts_end_of_month, "End of month", class: "month #{['twice a month', 'monthly'].include?(bc.object.time_sheet) ? '' : 'hidden'}"
                          = bc.hidden_field :ts_end_of_month
            #tab-buy-ta.tab-pane.padding-top-15
              .row
                .col-md-12
                  .form-group
                    .row
                      .col-md-4
                        %label.control-label
                          Timesheet Approve
                        .select
                          .plain-select
                            = text_field_tag :sc_ts_approve, '', class: 'form-control', readonly: true 
                            = bc.hidden_field :ts_approve, value: 'immediately'
                      .col-md-6
                        .b-ts-apv-set
                          %div{:class => "form-group daily #{bc.object.ts_approve != 'daily' ? 'hidden' : ''}"}
                            %label.control-label
                              Select Time
                              = bc.text_field :ta_day_time, class: "form-contro con-time", readonly: true
                          %div{:class => "form-group week #{bc.object.ts_approve != 'weekly' ? 'hidden' : ''}"}
                            %label.control-label
                              Select day of week
                            .select
                              .plain-select
                                = bc.hidden_field :ta_day_of_week
                                = text_field_tag :sc_ta_day_of_week, '', class: 'form-control', readonly: true
                          %div{:class => "form-group month #{['twice a month', 'monthly'].include?(bc.object.ts_approve) ? '' : 'hidden'}"}
                            %label.control-label
                              Select date
                            .select
                              = bc.text_field :ta_date_1, class: "form-control", readonly: true 
                          %div{:class => "form-group twice-month #{bc.object.ts_approve != 'twice a month' ? 'hidden' : ''}"}
                            %label.control-label
                              Select second date
                            .select
                              = bc.text_field :ta_date_2, class: "form-control", readonly: true
                          %span{:class => "form-group month #{['twice a month', 'monthly'].include?(bc.object.ts_approve) ? '' : 'hidden'}"} OR
                          = check_box_tag :sc_ta_end_of_month, '1', false, class: 'month hidden', disabled: true
                          = bc.label :ta_end_of_month, "End of month", class: "month #{['twice a month', 'monthly'].include?(bc.object.ts_approve) ? '' : 'hidden'}"
                          = bc.hidden_field :ta_end_of_month

            #tab-buy-ir.tab-pane.padding-top-15
              .row
                .col-md-12
                  .form-group
                    .row
                      .col-md-4
                        %label.control-label
                          Invoice Receipt
                        .select
                          .plain-select
                            = bc.select :invoice_recepit, Contract.time_sheet_frequencies.map { |key, value| [key.humanize, key] }, {},{class: "form-control buy-invoice-recepit" }
                      .col-md-6
                        .b-in-re-set
                          %div{:class => "form-group daily #{bc.object.invoice_recepit != 'daily' ? 'hidden' : ''}"}
                            %label.control-label
                              Select Time
                              = bc.text_field :ir_day_time, class: "form-contro con-time"
                          %div{:class => "form-group week #{bc.object.invoice_recepit != 'weekly' ? 'hidden' : ''}"}
                            %label.control-label
                              Select day of week
                            .select
                              .plain-select
                                = bc.select :ir_day_of_week, [["Every Monday", "mon"], ["Every Tuesday", "tue"], ["Every Wednesday", "wed"], ["Every Thursday", "thu"], ["Every Friday", "fri"], ["Every Saturday", "sat"], ["Every Sunday", "sun"]], {},{class: "form-contro" }
                          %div{:class => "form-group month #{['twice a month', 'monthly'].include?(bc.object.invoice_recepit) ? '' : 'hidden'}"}
                            %label.control-label
                              Select date
                            .select
                              = bc.text_field :ir_date_1, class: "date_1", placeholder: "DD/MM/YYYY"
                          %div{:class => "form-group twice-month #{bc.object.invoice_recepit != 'twice a month' ? 'hidden' : ''}"}
                            %label.control-label
                              Select second date
                            .select
                              = bc.text_field :ir_date_2, class: "date_1", placeholder: "DD/MM/YYYY"
                          %span{:class => "form-group month #{['twice a month', 'monthly'].include?(bc.object.invoice_recepit) ? '' : 'hidden'}"} OR
                          = bc.check_box :ir_end_of_month, class: "month #{['twice a month', 'monthly'].include?(bc.object.invoice_recepit) ? '' : 'hidden'}"
                          = bc.label :ir_end_of_month, "End of month", class: "month #{['twice a month', 'monthly'].include?(bc.object.invoice_recepit) ? '' : 'hidden'}"
                .col-md-6
                  .form-group
                    %label.control-label
                      Payment Term
                      %sup.text-danger *
                    .select
                      = bc.number_field :payment_term
            #tab-buy-sc.tab-pane.padding-top-15
              .row
                .col-md-12
                  .form-group
                    .row
                      .col-md-4
                        %label.control-label
                          Salary Calculation
                        .select
                          .plain-select
                            = bc.select :salary_calculation, Contract.time_sheet_frequencies.map { |key, value| [key.humanize, key] }, {},{class: "form-control buy-sal-cal" }
                      .col-md-6
                        .b-sal-cal
                          %div{:class => "form-group daily #{bc.object.salary_calculation != 'daily' ? 'hidden' : ''}"}
                            %label.control-label
                              Select Time
                              = bc.text_field :sc_day_time, class: "form-contro con-time"
                          %div{:class => "form-group week #{bc.object.salary_calculation != 'weekly' ? 'hidden' : ''}"}
                            %label.control-label
                              Select day of week
                            .select
                              .plain-select
                                = bc.select :sc_day_of_week, [["Every Monday", "mon"], ["Every Tuesday", "tue"], ["Every Wednesday", "wed"], ["Every Thursday", "thu"], ["Every Friday", "fri"], ["Every Saturday", "sat"], ["Every Sunday", "sun"]], {},{class: "form-contro" }
                          %div{:class => "form-group month #{['twice a month', 'monthly'].include?(bc.object.salary_calculation) ? '' : 'hidden'}"}
                            %label.control-label
                              Select date
                            .select
                              = bc.text_field :sc_date_1, class: "date_1", placeholder: "DD/MM/YYYY"
                          %div{:class => "form-group twice-month #{bc.object.salary_calculation != 'twice a month' ? 'hidden' : ''}"}
                            %label.control-label
                              Select second date
                            .select
                              = bc.text_field :sc_date_2, class: "date_1", placeholder: "DD/MM/YYYY"
                          %span{:class => "form-group month #{['twice a month', 'monthly'].include?(bc.object.salary_calculation) ? '' : 'hidden'}"} OR
                          = bc.check_box :sc_end_of_month, class: "month #{['twice a month', 'monthly'].include?(bc.object.salary_calculation) ? '' : 'hidden'}"
                          = bc.label :sc_end_of_month, "End of month", class: "month #{['twice a month', 'monthly'].include?(bc.object.salary_calculation) ? '' : 'hidden'}"
            #tab-buy-cc.tab-pane.padding-top-15
              .row
                .col-md-12.add-commission
                  .form-group
                    =bc.fields_for :contract_sale_commisions do |custom_field|
                      = render 'company/contracts/contract_sale_commisions_fields', f: custom_field
                  %strong
                    .links
                      = link_to_add_association '+ Add Sale Comission', bc, :contract_sale_commisions, class: 'bttn text-info pull-left', partial: 'company/contracts/contract_sale_commisions_fields'
                      %br/
                .col-md-4
                  .form-group
                    %label.control-label
                      Payroll Date
                      %sup.text-danger *
                    .select
                      .row
                        = bc.text_field :payroll_date, class: "date_1"

            #tab-buy-vb.tab-pane.padding-top-15
              .row
                .col-md-12
                  .form-group
                    .row
                      .col-md-4
                        %label.control-label
                          Vendor Bill
                        .select
                          .plain-select
                            = bc.select :vendor_bill, Contract.time_sheet_frequencies.map { |key, value| [key.humanize, key] }, {},{class: "form-control buy-vendor-bill" }
                      .col-md-6
                        .b-vb-set
                          %div{:class => "form-group daily #{bc.object.vendor_bill != 'daily' ? 'hidden' : ''}"}
                            %label.control-label
                              Select Time
                              = bc.text_field :vb_day_time, class: "form-contro con-time"
                          %div{:class => "form-group week #{bc.object.vendor_bill != 'weekly' ? 'hidden' : ''}"}
                            %label.control-label
                              Select day of week
                            .select
                              .plain-select
                                = bc.select :vb_day_of_week, [["Every Monday", "mon"], ["Every Tuesday", "tue"], ["Every Wednesday", "wed"], ["Every Thursday", "thu"], ["Every Friday", "fri"], ["Every Saturday", "sat"], ["Every Sunday", "sun"]], {},{class: "form-contro" }
                          %div{:class => "form-group month #{['twice a month', 'monthly'].include?(bc.object.vendor_bill) ? '' : 'hidden'}"}
                            %label.control-label
                              Select date
                            .select
                              = bc.text_field :vb_date_1, class: "date_1", placeholder: "DD/MM/YYYY"
                          %div{:class => "form-group twice-month #{bc.object.vendor_bill != 'twice a month' ? 'hidden' : ''}"}
                            %label.control-label
                              Select second date
                            .select
                              = bc.text_field :vb_date_2, class: "date_1", placeholder: "DD/MM/YYYY"
                          %span{:class => "form-group month #{['twice a month', 'monthly'].include?(bc.object.vendor_bill) ? '' : 'hidden'}"} OR
                          = bc.check_box :vb_end_of_month, class: "month #{['twice a month', 'monthly'].include?(bc.object.vendor_bill) ? '' : 'hidden'}"
                          = bc.label :vb_end_of_month, "End of month", class: "month #{['twice a month', 'monthly'].include?(bc.object.vendor_bill) ? '' : 'hidden'}"

            #tab-buy-cp.tab-pane.padding-top-15
              .row
                .col-md-12
                  .form-group
                    .row
                      .col-md-4
                        %label.control-label
                          Client Bill Payment
                        .select
                          .plain-select
                            = bc.select :client_bill_payment, Contract.time_sheet_frequencies.map { |key, value| [key.humanize, key] }, {},{class: "form-control buy-client-bill-payment" }
                      .col-md-6
                        .b-cp-set
                          %div{:class => "form-group daily #{bc.object.client_bill_payment != 'daily' ? 'hidden' : ''}"}
                            %label.control-label
                              Select Time
                              = bc.text_field :cp_day_time, class: "form-contro con-time"
                          %div{:class => "form-group week #{bc.object.client_bill_payment != 'weekly' ? 'hidden' : ''}"}
                            %label.control-label
                              Select day of week
                            .select
                              .plain-select
                                = bc.select :cp_day_of_week, [["Every Monday", "mon"], ["Every Tuesday", "tue"], ["Every Wednesday", "wed"], ["Every Thursday", "thu"], ["Every Friday", "fri"], ["Every Saturday", "sat"], ["Every Sunday", "sun"]], {},{class: "form-contro" }
                          %div{:class => "form-group month #{['twice a month', 'monthly'].include?(bc.object.client_bill_payment) ? '' : 'hidden'}"}
                            %label.control-label
                              Select date
                            .select
                              = bc.text_field :cp_date_1, class: "date_1", placeholder: "DD/MM/YYYY"
                          %div{:class => "form-group twice-month #{bc.object.client_bill_payment != 'twice a month' ? 'hidden' : ''}"}
                            %label.control-label
                              Select second date
                            .select
                              = bc.text_field :cp_date_2, class: "date_1", placeholder: "DD/MM/YYYY"
                          %span{:class => "form-group month #{['twice a month', 'monthly'].include?(bc.object.client_bill_payment) ? '' : 'hidden'}"} OR
                          = bc.check_box :cp_end_of_month, class: "month #{['twice a month', 'monthly'].include?(bc.object.client_bill_payment) ? '' : 'hidden'}"
                          = bc.label :cp_end_of_month, "End of month", class: "month #{['twice a month', 'monthly'].include?(bc.object.client_bill_payment) ? '' : 'hidden'}"

            #tab-buy-cb.tab-pane.padding-top-15
              .row
                .col-md-12
                  .form-group
                    .row
                      .col-md-4
                        %label.control-label
                          Client Bill
                        .select
                          .plain-select
                            = bc.select :client_bill, Contract.time_sheet_frequencies.map { |key, value| [key.humanize, key] }, {},{class: "form-control buy-client-bill" }
                      .col-md-6
                        .b-cb-set
                          %div{:class => "form-group daily #{bc.object.client_bill != 'daily' ? 'hidden' : ''}"}
                            %label.control-label
                              Select Time
                              = bc.text_field :cb_day_time, class: "form-contro con-time"
                          %div{:class => "form-group week #{bc.object.client_bill != 'weekly' ? 'hidden' : ''}"}
                            %label.control-label
                              Select day of week
                            .select
                              .plain-select
                                = bc.select :cb_day_of_week, [["Every Monday", "mon"], ["Every Tuesday", "tue"], ["Every Wednesday", "wed"], ["Every Thursday", "thu"], ["Every Friday", "fri"], ["Every Saturday", "sat"], ["Every Sunday", "sun"]], {},{class: "form-contro" }
                          %div{:class => "form-group month #{['twice a month', 'monthly'].include?(bc.object.client_bill) ? '' : 'hidden'}"}
                            %label.control-label
                              Select date
                            .select
                              = bc.text_field :cb_date_1, class: "date_1", placeholder: "DD/MM/YYYY"
                          %div{:class => "form-group twice-month #{bc.object.client_bill != 'twice a month' ? 'hidden' : ''}"}
                            %label.control-label
                              Select second date
                            .select
                              = bc.text_field :cb_date_2, class: "date_1", placeholder: "DD/MM/YYYY"
                          %span{:class => "form-group month #{['twice a month', 'monthly'].include?(bc.object.client_bill) ? '' : 'hidden'}"} OR
                          = bc.check_box :cb_end_of_month, class: "month #{['twice a month', 'monthly'].include?(bc.object.client_bill) ? '' : 'hidden'}"
                          = bc.label :cb_end_of_month, "End of month", class: "month #{['twice a month', 'monthly'].include?(bc.object.client_bill) ? '' : 'hidden'}"

            / #tab-buy-cp.tab-pane.padding-top-15
            /   .row
            /     .col-md-6
            /       .form-group
            /         %label.control-label
            /           Commission payment term
            /           %sup.text-danger *
            /         .select
            /           .row
            /             / = bc.number_field :commission_payment_term
    / .row.contract-Accounting
    /   .col-md-6
    /     .form-group
    /       %label.control-label
    /       .select
    /         / = bc.check_box :show_accounting_to_employee
    /         %span
    /           Show Accounting term to employee ?

- content_for :scripts do
  :javascript
    $('#bc_timesheet').val($('#contract_buy_contracts_attributes_0_time_sheet').val());
    $('.add-commission').on('cocoon:after-insert', function(e, insertedItem) {
      set_commission_user_select(".commission-user:not([class*='added']", "Select Commssion User");
      $(".commission-user:not([class*='added']").addClass('added');
    });


-#:javascript
-#  $( document ).ready(function() {
-#     $(".multi-select2-company-docs").select2({
-#     placeholder: "Select a Doc(s)",
-#      tokenSeparators: [',', ' ']
-#     });
-#  });