%fieldset
  .row
    .col-md-6
      .form-group
        %label.control-label  Jobs
        = link_to "+ Add Job", new_job_path, class: "pull-right add-link"
        .contract-fild
          .plain-select
            = select_tag 'contract[job_id]', nil, id: "select_jobs", class: "form-control"
    .col-md-6
      .form-group
        %label.control-label  Client
        = link_to "+ Add Client", new_company_company_path, class: "pull-right add-link"
        .contract-fild
          .plain-select
            = select_tag  "contract[client_id]", nil, id: "select_clients", required: true

  .row
    .col-md-6
      .form-group
        %label.control-label  Work location
        .contract-fild
          = f.text_field :work_location, class: "form-control", placeholder: "Contract Work location"
    .col-md-6
      .form-group
        %label.control-label  Candidate
        = link_to "+ Apply candidate", jobs_path, class: "pull-right add-link"
        .contract-fild
          .plain-select
            = select_tag "contract[candidate_id]", nil, id: "select_candidates", required: true


  .row
    .col-md-6
      .form-group
        %label.control-label
          Start Date
          %sup.text-danger *
        .contract-fild
          = f.text_field :start_date ,class: "form-control" , required: 'required', placeholder: "Contract Start Date"
    .col-md-6
      .form-group
        %label.control-label
          End Date
          %sup.text-danger *
        .contract-fild
          = f.text_field :end_date ,class: "form-control" , required: 'required', placeholder: "Contract End Date"









