%fieldset
  -#= f.fields_for :job do |j|
  -#  .form-group
  -#    %label.col-md-2.control-label
  -#      Job Title
  -#      %sup.text-danger *
  -#    .col-md-10
  -#      = j.text_field :title , class: 'form-control' , placeholder: 'Job ' , required: true
  .form-group
    %label.col-md-2.control-label  Jobs
    .col-md-10
      = select_tag 'contract[job_id]', options_for_select(current_company.jobs.collect { |c|[c.title, c.id] })  , class: "form-control"

  .form-group
    %label.col-md-2.control-label  Client
    .col-md-10
      = hidden_field_tag "contract[client_id]", nil, id: "select_clients", required: true
      =# f.text_field :client_name, class: "form-control", placeholder: "Contract Client name"

  .form-group
    %label.col-md-2.control-label  Candidate
    .col-md-10
      = hidden_field_tag "contract[candidate_id]", nil, id: "select_candidates", required: true
      =# f.text_field :candidate_name, class: "form-control", placeholder: "Contract Candidate name"

  .form-group
    %label.col-md-2.control-label  Work location
    .col-md-10
      = f.text_field :work_location, class: "form-control", placeholder: "Contract Work location"

  .form-group
    %label.col-md-2.control-label
      Start Date
      %sup.text-danger *
    .col-md-4
      = f.text_field :start_date ,class: "form-control" , required: 'required', placeholder: "Contract Start Date"
    %label.col-md-2.control-label
      End Date
      %sup.text-danger *
    .col-md-4
      = f.text_field :end_date ,class: "form-control" , required: 'required', placeholder: "Contract End Date"