- contract_sell_business_details.each do |user|
  %tr
    %td= user.company.domain
    %td
      = do_ellipsis(user.full_name,7)
      %input{id: user.id,:name => "contract[reporting_manager_ids][]", :value => user.id,hidden: "hidden"}/
    %td.no-wrap 
      = contact_widget(user.email,user.phone,user,chat_link: chat_link(user))
    %td= do_ellipsis(user.roles.pluck(:name).join(', '),40)
    %td= content_tag(:span, do_ellipsis(user.reminders.where(reminderable_id: user.id, reminderable_type: 'Admin')&.last&.title), class: 'bg-info badge mr-1').html_safe
    %td
      = link_to(content_tag(:i, nil, class: 'picons-thin-icon-thin-0014_notebook_paper_todo').html_safe, add_reminder_company_users_path(user_id: user.id), remote: :true, title: "Remind Me", class: 'data-table-icons')

