.row
  .col-md-2
    .form-group
      %label.control-label
        PayRate
      .col-sm-12.pl-0
        = f.number_field :rate,class: "form-control",placeholder: rates.present? ? rates.rate.to_s : "i.e 2.5 or 3"
  .col-md-2
    .form-group
      %label.control-label
        Expected Hrs
      .col-sm-12.pl-0
        = f.number_field :working_hrs,class: "form-control",placeholder: rates.present? ? rates.working_hrs.to_s : "i.e 2.5 or 3", max: 24, min: 1
  - if usics
    .col-md-2
      .form-group
        %label.control-label
          USCIS Rate
        .col-sm-12.pl-0
          = f.number_field :uscis,class: "form-control", placeholder: rates.present? ? rates.uscis.to_s : ""
  .col-md-2
    .form-group
      %label.control-label
        Rate Type
      .col-sm-12.pl-0
        = f.select :rate_type, ["hourly", "daily", "weekly", "monthly"],{}, class: "form-control"
  .col-md-2
    .form-group
      %label.control-label
        From Date
      .col-sm-12.pl-0
        = f.text_field :from_date, class: "form-control contract_rate_start_date", placeholder: "Pick From Date"
  .col-md-2  
    .form-group
      %label.control-label
        To Date
      .col-sm-12.pl-0
        = f.text_field :to_date, class: "form-control contract_rate_end_date", placeholder: "Pick To Date"
