.x_overflow_y_h
  = link_to 'Create New',create_contract_contracts_path ,class: 'btn btn-sm btn-secondary float-right'
  %table#company-contracts-datatable.table.table-bordered.table-lg.table-v2.table-striped
    %thead
      %tr
      %th Id
      %th Title
      %th Customer
      %th Rate
      %th Candidate
      %th Cost
      %th Created By
      %th Start date
      %th Contract
      %th Status
      %th Action
    %tbody
      - data.each do |contract|
        %tr{class: "#{set_background_status_color(contract.status)}"}
          %td=link_to contract.buy_contract.try(:number) , company_buy_contract_contract_path(contract),class: 'data-table-font'
          %td=contract.try(:title)
          %td= contract.client.try(:full_name)
          %td= contract.rate
          %td= contract.candidate.try(:full_name)
          %td not know
          %td= link_to contract.created_by.full_name , '#'
          %td= (contract.start_date)
          %td= contract.try(:number)
          %td= contract.status
          %td not know
.mt-3
  = digg_pagination(data, "buy_contract")

:css
  .form-control
  {
    background-color: white !important;
  }

