.table-responsive
  %table#resultTable.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th{style: "width:30px"} Pic
        %th Sender
        %th Company
        %th Job
        %th Email / Username
        %th Created By
        %th Phone
        %th Expiry
        %th Status
        %th
    %tbody
      - data.each do |d|
        %tr{class: "#{set_background_status_color(d.status)}"}
          %td= image_tag d.created_by.photo, alt: '', width: '20'
          %td= link_to d.created_by.full_name , '#'
          %td= link_to d.created_by.company.name , '#'
          %td= link_to d.job.title , job_path(d.job) , target: '_blank'
          %td
            = d.created_by.email
            %a.pull-right{:href => "javascript:void(0);"}
              %i.fa.fa-key
          %td= link_to d.created_by.full_name , '#'
          %td= #invitation.recipient.phone
          %td= #invitation.expiry
          %td
            %span.label.label-success= d.status
          %td= link_to 'View' , contract_path(d), target: '_blank'