
%body
  %section#widget-grid
    .row
      %article.col-xs-12.col-sm-12.col-md-12.col-lg-12.sortable-grid.ui-sortable
        = link_to 'NEW',new_contract_path ,class: 'btn btn-success btn-md pull-right header-btn'
        .table-responsive
          %table#company-contracts-datatable.table.text-center.table-bordered.table-lg.table-v2.table-striped.data-table-font
            %thead
              %tr
              %th Id
              %th Title
              %th Customer
              %th Rate
              %th Candidate
              %th Cost
              %th Created By
              %th Start date
              %th Sell Contract
              %th Buy Contract
              %th Status
              %th Action
            %tbody
              - data.each do |contract|
                %tr{class: "#{set_background_status_color(contract.status)}"}
                  %td=link_to contract.try(:number) ,contract_path(contract)
                  %td=contract.try(:title)
                  %td
                    = contract.client.try(:full_name)
                  %td
                    = contract.rate
                  %td= contract.candidate.try(:full_name)
                  %td not know
                  %td= link_to contract.created_by.full_name , '#'
                  %td= (contract.start_date)
                  %td
                    = link_to contract.sell_contracts.first.try(:number), company_sell_contract_path(contract.sell_contracts.first.try(:number))
                    %br
                    =contract.sell_contracts.first.try(:customer_rate)
                    %br
                    =contract.sell_contracts.first.try(:time_sheet)
                    %br
                    =contract.sell_contracts.first.try(:invoice_terms_period)
                    %br
                    =contract.sell_contracts.first.try(:show_accounting_to_employee)
                  %td
                    = link_to contract.buy_contracts.first.try(:number), company_buy_contract_path(contract.buy_contracts.first.try(:number))
                    %br
                    =contract.buy_contracts.first.try(:contract_type)
                    %br
                    =contract.buy_contracts.first.try(:payrate)
                    %br
                    =contract.buy_contracts.first.try(:time_sheet)
                    %br
                    =contract.buy_contracts.first.try(:payment_term)
                  %td
                    = label_status_color(contract.status)
                  %td not know
= digg_pagination(data)

:css
  .form-control
  {
    background-color: white !important;
  }

