.table-responsive{:style => "width:100"}
  %table#resultTable.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Pic
        %th Title
        %th Company/Candidate
        %th Created By
        %th Expiry
        %th Status
        %th Invoice
    %tbody
      - data.each do |contract|
        %tr{class: "#{set_background_status_color(contract.status)}"}
          %td=image_tag show_recipient_picture(contract.contractable), alt: '', width: '20'
          %td=link_to contract.title ,contract_path(contract)
          %td= link_to show_recipient_name(contract.contractable)
          %td= link_to contract.created_by.full_name , '#'
          %td= (contract.end_date)
          %td
            = label_status_color(contract.status)
          %td
            =link_to "Invoice",contract_invoices_path(contract)

  = digg_pagination(data)