.x_overflow_y_h
  = link_to 'Create New',create_contract_contracts_path ,class: 'btn btn-sm btn-secondary float-right'
  %table#company-contracts-datatable.table.table-bordered.table-lg.table-v2.table-striped
    %thead
      %tr
        %th Id
        %th Title
        %th Customer
        %th Rate
        %th Client
        %th Cost
        %th Created By
        %th Start date
        %th Contract
        %th Status
        %th Action
    %tbody
      - data.each do |contract|
        %tr{class: "#{set_background_status_color(contract.status)}"}
          %td=link_to contract.sell_contract.try(:number) , company_sell_contract_contract_path(contract),class: 'data-table-font'
          %td=contract.try(:title)
          %td= contract.sell_contract.company.try(:full_name)
          %td= contract.rate
          %td= contract.client.try(:full_name)
          %td not know
          %td= link_to contract.created_by.full_name , company_user_profile_path(contract.created_by.id),class: 'data-table-font'
          %td= (contract.start_date)
          %td= contract.try(:number)
          %td= colorfull_text(contract.status,contract.status=="draft" ? 'green' : 'orange')
          %td
.timesheet_pagination_wrap.pt-3
  .pagination_label
    = page_entries_info data
  = will_paginate(data, {params: params.merge(tab: 'sell_contract'),previous_label: "Previous",next_label: "Next",inner_window: 2,class: 'sell_contract_pagination_links'}.merge(link_options: {'data-remote': true}))

:css
  .form-control
  {
    background-color: white !important;
  }

