
.w-100.p-4.bg_white
  .contract-fields_wrapper.mb-4.bg-shade
    =render 'company/contracts/partials/contract_header',contract: @contract
  .contract_links.col-sm-12.mt-2.mb-2
    = render 'company/contracts/partials/contracts_links', contract: @contract
  .row
    .col-sm-6.col-md-6.col-lg-6
      = render 'company/contracts/partials/sell_side',editable: @contract.company == current_company
    - if current_company == @contract.company
      .col-sm-6.col-md-6.col-lg-6
        = render 'company/contracts/partials/buy_side',editable: @contract.company == current_company

- if @contract.pending? && !@contract.is_sent?(current_company)
  - content_for :modals do
    #ajax-modal
    = render 'company/contracts/partials/accept_contract_modal' , contract: @contract , status: 'accept'
    = render 'company/contracts/partials/accept_contract_modal' , contract: @contract , status: 'reject'

  - content_for :scripts do
    :javascript
      function openAccept(){
        $("#contract-accept-#{@contract.id}").modal('show');
      }
      $(".upload-doc-button").click(function(){
        file = '.'+$(this).attr('id');
        filepicker.setKey("#{ENV['filepicker_api_key']}");
        filepicker.pick({},function(blob){
          $(file).val(blob.url);
          $(file).parent().submit();
        });
      });
- content_for :scripts do
  :javascript

    $('.contract_progress').attr('data-content','0%');
    $('.contract_progress').css('left', '#{(((@contract.contract_progress.to_f*54)/100).to_f+21).round}%');
    $('.contract_progress').attr('data-content','#{@contract.contract_progress.to_f.round}%');

    $(document).on('click', '.buy-change-rate', function(){
      $('#buy-change-rate').toggleClass('hidden');
    });

    $(document).on('click', '.sell-change-rate', function(){
      $('#sell-change-rate').toggleClass('hidden');
    });



