= simple_form_for @admin ,html:{ class:'form-horizontal'} do |f|
  %fieldset
    .form-group
      %label.col-md-2.control-label
        First Name
        %sup.text-danger *
      .col-md-10
        = f.text_field :first_name , class: 'form-control' , placeholder: 'Enter First Name' , required: true
    .form-group
      %label.col-md-2.control-label
        Last Name
        %sup.text-danger *
      .col-md-10
        = f.text_field :last_name , class: 'form-control' , placeholder: 'Enter Last Name' , required: true
    .form-group
      %label.col-md-2.control-label
        Email
        %sup.text-danger *
      .col-md-10
        = f.email_field :email , class: 'form-control' , placeholder: 'Enter Email Address' , required: true
    .form-group
      %label.col-md-2.control-label
        Job Location
        %sup.text-danger *
      .col-md-10
        = select_tag "admin[location_id]", options_from_collection_for_select(@locations, "id", "name") , class: 'form-control'  , required: true
    .form-group
      %label.col-md-2.control-label
        Job Location
        %sup.text-danger *
      .col-md-10
        = f.collection_select :role_ids, @roles, :id, :name, {}, {:class=>"form-control input-lg multi-select2-role",:multiple => true,required: true}
  .form-actions
    .row
      .col-md-12
        = button_tag 'Cancel' , class: 'btn btn-default' , "data-dismiss": "modal"
        -#%button.btn.btn-default{:type => "submit"}
        -#  Cancel
        = f.submit "Submit", class: 'btn btn-primary'
