= f.email_field :email ,  placeholder: 'Email' , required: true, data: { email_field: true }, onblur: 'validate_email();'
.row
  .col-md-6
    = f.text_field :first_name ,  placeholder: "First Name"
  .col-md-6
    = f.text_field :last_name , placeholder: "Last Name"
= f.text_field :title ,  placeholder: 'Title '
= f.phone_field :phone , label: 'Mobile',  placeholder: 'Mobile Number ' , data: { phone_field: true }
