.modal{ id: company.new_record? ? "new_company":"company-#{company.id}","aria-hidden": "true", "aria-labelledby": "myModalLabel", :role => "dialog", :style => "display: none;", :tabindex => "-1"}
  .modal-dialog.modal-md
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
          ×
        %h2#myModalLabel.modal-title
          %strong Edit Company
      .modal-body
        = form_for company , url: company_path , method: :put,html:{ class:'form-horizontal'} do |f|
          %fieldset
            .form-group
              %label.col-md-2.control-label
                Name
                %sup.text-danger *
              .col-md-10
                = f.text_field :name , class: 'form-control' , placeholder: 'Enter Company Name' , required: true
            -#.form-group
            -#  %label.col-md-2.control-label
            -#    Domain
            -#    %sup.text-danger *
            -#  .col-md-10
            -#    = f.url_field :domain  ,:placeholder => "Domain", required: true,minlength: "3",class:'form-control'
                .note.text-muted
                  Please Enter Domain like https://address
            .form-group
              %label.col-md-2.control-label
                Phone
                %sup.text-danger *
              .col-md-10
                = f.text_field :phone , type: 'tel', class: 'form-control phone_field', id: 'phone' , placeholder: "PhoneOffice Number", required: true

            = f.fields_for :owner do |u|
              .form-group
                %label.col-md-2.control-label
                  First Name
                  %sup.text-danger *
                .col-md-4
                  = u.text_field :first_name ,class: "form-control" , required: 'required', placeholder: "First Name"
                %label.col-md-2.control-label
                  Last Name
                  %sup.text-danger *
                .col-md-4
                  = u.text_field :last_name ,class: "form-control" , required: 'required', placeholder: "Last Name"
              .form-group
                %label.col-md-2.control-label
                  Email
                  %sup.text-danger *
                .col-md-10
                  = u.text_field :email , class: 'form-control' , placeholder: 'Email' , required: true
              %br/
          .form-actions
            .row
              .col-md-12
                = button_tag 'Cancel' , class: 'btn btn-default' , "data-dismiss"=> "modal"
                = f.button "Submit".html_safe, data: {disable_with: disable_spinning("Saving...")} , class: 'btn btn-primary'
