.tabbable.tabs-below
  %table.table.table-striped
    %thead
      %tr
        %th{style:'width:20%'}
          Name
        %th{style:'width:20%'}
          Email
        %th{style:'width:20%'}
          Phone
        %th{style:'width:20%'}
          Type
        %th{style:'width:20%'}
          Actions
    %tbody
      %tr
        %td
          = owner_data.full_name
        %td
          = owner_data.email
        %td
          = owner_data.phone
        %td
          owner
      -admins.each do |admin|
        %tr
          %td
            = admin.full_name
          %td
            = admin.email
          %td
            = admin.phone
          %td
            = admin.type
          %td
            = link_to 'Make Owner' ,'#' , method: :post ,remote: true,  class: 'btn btn-xs btn-default btn-success'