#content
  %section#widget-grid
    / row
    .row
      .col-sm-6.col-lg-12
        .panel.panel-default
          .panel-body.status
            .who.clearfix
              .row
                .col-xs-6.col-sm-3.col-md-3.col-lg-3.pull-left
                  %h4= @chat.try(:chatable).try(:title).try(:titleize)
                .col-xs-6.col-sm-3.col-md-3.col-lg-3.pull-right
                  -if @chat.try(:chatable).try(:created_by) == current_user
                    = link_to "Invite Users" ,"#", class: 'btn btn-success btn-md pull-right header-btn',"data-target" => "#add_users", "data-toggle" => "modal"
            .row
              .text
                .col-sm-4.col-md-4.col-lg-2
                  .well.text-center.connect
                    %img.margin-bottom-5.margin-top-5{:alt => "img", :height => "20px;", :src => "/assets/avatars/male-6fdb3297a97307d20273866196068e696682f523355db573e7d5bd8581ab763e.png", :width => "20px;"}/
                    %br/
                    %span.font-xs
                      %b
                        %span.badge.bg-color-blueDark.txt-color-white
                          = @chat.try(:chatable).try(:job_applications).try(:pending_review).try(:count)
                        %br
                        Pending
                .col-sm-4.col-md-4.col-lg-2
                  .well.text-center.connect
                    %img.margin-bottom-5.margin-top-5{:alt => "img", :height => "20px;", :src => "/assets/avatars/male-6fdb3297a97307d20273866196068e696682f523355db573e7d5bd8581ab763e.png", :width => "20px;"}/
                    %br/
                    %span.font-xs
                      %b
                        %span.badge.bg-color-blueDark.txt-color-white
                          = @chat.try(:chatable).try(:job_applications).try(:rejected ).try(:count)
                        %br
                        Rejected
                .col-sm-4.col-md-4.col-lg-2
                  .well.text-center.connect
                    %img.margin-bottom-5.margin-top-5{:alt => "img", :height => "20px;", :src => "/assets/avatars/male-6fdb3297a97307d20273866196068e696682f523355db573e7d5bd8581ab763e.png", :width => "20px;"}/
                    %br/
                    %span.font-xs
                      %b
                        %span.badge.bg-color-blueDark.txt-color-white
                          = @chat.try(:chatable).try(:job_applications).try(:short_listed).try(:count)
                        %br
                        Shortlisted
                .col-sm-4.col-md-4.col-lg-2
                  .well.text-center.connect
                    %img.margin-bottom-5.margin-top-5{:alt => "img", :height => "20px;", :src => "/assets/avatars/male-6fdb3297a97307d20273866196068e696682f523355db573e7d5bd8581ab763e.png", :width => "20px;"}/
                    %br/
                    %span.font-xs
                      %b
                        %span.badge.bg-color-blueDark.txt-color-white
                          = @chat.try(:chatable).try(:job_applications).try(:interviewing).try(:count)
                        %br
                        Interviewed
                .col-sm-4.col-md-4.col-lg-2
                  .well.text-center.connect
                    %img.margin-bottom-5.margin-top-5{:alt => "img", :height => "20px;", :src => "/assets/avatars/male-6fdb3297a97307d20273866196068e696682f523355db573e7d5bd8581ab763e.png", :width => "20px;"}/
                    %br/
                    %span.font-xs
                      %b
                        %span.badge.bg-color-blueDark.txt-color-white
                          = @chat.try(:chatable).try(:job_applications).try(:hired).try(:count)
                        %br
                        Hired
                .col-sm-4.col-md-4.col-lg-2
                  .well.text-center.connect
                    %img.margin-bottom-5.margin-top-5{:alt => "img", :height => "20px;", :src => "/assets/avatars/male-6fdb3297a97307d20273866196068e696682f523355db573e7d5bd8581ab763e.png", :width => "20px;"}/
                    %br/
                    %span.font-xs
                      %b
                        %span.badge.bg-color-blueDark.txt-color-white
                          = @chat.try(:chatable).try(:job_applications).try(:count)
                        %br
                        Total
            #chat-body.chat-body.custom-scroll{style: "height: 500px !important"}
              .widget-body
                .row
                  .col-md-3.center
                    .who.clearfix.right
                      %h4 Your Chats
                    %br
                    - @chats.take(10).each do |c|
                      .margin-bottom-10.padding-10.bg-color-white.fa-border
                        = link_to  c.try(:chatable).try(:title).try(:titleize) , company_chat_path(c)
                  .col-md-9
                    %ol.discussion{id: "chat-#{@chat.channel_name}"}
                      - @messages.each do |m|
                        = render 'company/messages/partials/message' ,m: m
                    -#%ul
                      - @messages.each do |m|
                        = render 'company/messages/partials/message' ,m: m

            .chat-footer
              / CHAT TEXTAREA
              = form_for [:company ,Message.new] , remote: true do |f|
                = f.hidden_field :chat_id , value: @chat.id
                .textarea-div
                  .typearea
                    = f.text_area :body ,class: "textarea-div custom-scroll" , id:"textarea-expand" , :placeholder => "Write a reply..." ,required: true
                %span.textarea-controls
                  = f.submit "Reply" , class: "button btn btn-sm btn-primary pull-right"
                  -#%span.pull-right.smart-form{:style => "margin-top: 3px; margin-right: 10px;"}
                    %label.checkbox.pull-right
                      %input#subscription{:name => "subscription", :type => "checkbox"}/
                      = succeed "Press" do
                        %i
                      %strong ENTER
                      to send
                  = filepicker_field_tag "" ,class: "hidden  file", onchange:"uploadFile(event)"
                  = link_to raw("<i class='fa fa-file fa-fw fa-lg '></i>") ,"#", class: 'btn btn-success pull-left btn-sm',"data-target" => "#upload_document", "data-toggle" => "modal"

%script{:src => "https://js.pusher.com/4.0/pusher.min.js"}

-content_for :modals do
  = render 'company/chats/partials/add_users' , chat: @chat
  = render "company/messages/partials/upload_document" ,chat: @chat
-content_for :head do
  = stylesheet_link_tag 'chats'




-content_for :scripts do
  :javascript
    $(document).ready(function() {
      $(".select2").select2({placeholder: "Select a User(s)"});
      $(".file_select").select2({placeholder: "Select Company Document"});
      $('.fileUpload').on("click",function(){
        $(".file").trigger("click");
        $('.fp__overlay').css({'z-index':'99999'});
      });
      var chatBody = $('#chat-body') ;
      chatBody.scrollTop(5000000000);
    });
    var pusher = new Pusher("#{ENV['pusher_key']}");
    var channel = pusher.subscribe("#{@chat.channel_name}");
    channel.bind('send-message', function(data) {

      $.post("#{render_message_company_messages_path}" , {id: data.message , chat_id: #{@chat.id} , authenticity_token: window._token});
    });
    function uploadFile(event){
      file_url = event.fpfile.url
      file_name = event.fpfile.filename;
      $.post("#{file_message_path}",{ file_url: file_url,file_name: file_name,file_url: file_url ,chat_id: "#{@chat.id}",authenticity_token: window._token })

    }


