%h2
  job details
.job-info
  .job-title
    %div.job-header.clearfix
      = image_tag @job.company.logo,  style:"width:50px;height:50px", fit: 'clip'
      %p.job_title
        = @job.title
      %p.job_title
        %i.fa.fa-usd
        =@job.price
    .job-location
      %span
        %i.fa.fa-map-marker
        = @job.location
      %span
        %i.fa.fa-user
        =@job.created_by.full_name
  .job-description
    .job-info
      %strong
        Description
      %span
        = @job.description.html_safe
    .job-info
      %strong
        Skill
      %span
        %ul
          -@job.tag_list.each do |tl|
            %li=tl
    .job-info
      %strong
        Education
      %span
        %ul
          -@job.education_list.each do |el|
            %li=el
    = link_to 'Apply',apply_bench_path(@job, candidate_id: current_candidate.id), class: "btn btn-sm btn-primary margin-bottom-5 #{'disableClick' if current_candidate.already_applied?(@job.id)}",title: "Assign Groups", method: :post, remote: true, disabled: current_candidate.already_applied?(@job.id)
