.row{style: "padding: 15px;"}
  = form_for @user,as: "user",url: company_user_path(@user.id),method: :put do |f|
    .row
      .col-md-6
        .form-group
          = f.text_field :first_name ,placeholder: "first Name",class: 'form-control'
      .col-md-6
        .form-group
          = f.text_field :last_name ,placeholder: "last Name",class: 'form-control'
    .row
      .col-md-12
        .form-group
      %label.col-md-2.control-label Resume
      .col-md-10
        = f.filepicker_field :resume , class: 'btn btn-primary file-pick'  , id: 'accept-filepiker',"data-fp-extensions" => ".pdf,.doc,.docx,.txt"
    .row
      .col-md-9
        .form-group
          = f.text_field :phone ,placeholder: "first Name",class: 'form-control'
      .col-md-3
        .form-group
          = f.text_field :phone ,placeholder: "last Name",class: 'form-control'
    .row
      .col-md-6
        .form-group
          = f.email_field :email ,placeholder: "email",class: 'form-control'
      .col-md-6
        .form-group
          = f.number_field :age ,placeholder: "age",class: 'form-control'
    = f.fields_for :address do |b|
      .row
        .col-md-12
          .form-group
            = b.text_field :address_1 ,placeholder: "current address",class: 'form-control'
        .col-md-12
          .form-group
            = b.text_field :address_2, placeholder: "line2",class: 'form-control'

    .row
      .col-lg-12
        %button.btn.pull-left{:type => "button"}
          Back
        %button.btn.btn-primary.pull-right{:type => "button", style: "margin-left: 20px"}
          Next
        %button.btn.btn-primary.pull-right{:type => "submit"}
          Saved