.panel.panel-default
  .panel-body.status
    %h6.padding-5 Contact
    .who.clearfix
      %span.pull-right.font-xs.text-muted
        %ul.list-inline.friends-list
          %li
            / = link_to (image_tag data.company.logo ,class:'',alt: "Logo" ,style: "width: 60px !important; height: 60px !important;") ,profile_company_path(data.company),title: "#{data.try(:company).try(:name) } Profile",'data-toggle'=>"tooltip" ,'data-placement'=>"top"
      -if data.photo.nil?
        default_user_img(data.first_name,data.last_name)
      -else      
        = image_tag data.photo,class:'',alt: "job",style:"width: 60px !important ; height: 60px !important; "
      %h6.text-muted #{data.full_name.humanize}
      %h6.text-muted #{data.company ? data.company.name.humanize : ''}
      %span.name.font-sm.text-muted.margin-top-10
        Email: #{data.email}
      .row
        .col-md-12.margin-top-5
          -#= link_to raw("<i class='fa fa-comment '></i>"), company_company_create_chat_path(data.company),remote: true,method: :get,class: 'btn btn-default btn-xs',title:"Chat with Company  #{d.prefer_vendor.name}",'data-toggle'=>"tooltip" ,'data-placement'=>"top"

          -#= link_to raw("<i class='fa fa-sticky-note '></i>")    ,company_assign_status_path(data.company) ,class: 'btn btn-default btn-xs margin-bottom-5', remote: :true,title:"Assign Status",'data-toggle'=>"tooltip" ,'data-placement'=>"top"
          -#= link_to raw("<i class='fa fa-bell '></i>")    ,company_company_add_reminder_path(data.company)   ,class: 'btn btn-default btn-xs margin-bottom-5', remote: :true ,title:"Remind Me",'data-toggle'=>"tooltip" ,'data-placement'=>"top"
          -#= link_to "Contacts" ,company_contacts_path(data.try(:company)), class: 'btn btn-xs btn-default btn-primary'
          -#= link_to raw("<i class='fa fa-edit '></i>") , edit_company_path(data.company) , class: 'btn btn-xs btn-default  margin-bottom-5',remote: :true ,title:"Edit #{data.company.name}",'data-toggle'=>"tooltip" ,'data-placement'=>"top"
