.panel.panel-default
  .panel-body.status
    .who.clearfix
      %span.pull-right.font-xs.text-muted
        %ul.list-inline.friends-list
          %li
            = link_to (image_tag data.created_by.photo,class:'',alt: "Photo",style: 'width: 60px !important;height: 60px !important' ) ,'#'
      = image_tag 'jobs.png',class:'',alt: "job",style: "width: 60px !important; height: 60px !important;"
      %h4 Title-#{data.title.humanize}
      %span.name.font-sm.text-muted
        Location: #{data.location.humanize}
      %p= raw(data.description)
      %i.fa.fa-tags
      - data.tags.each do |tag|
        %span
          .label-info.badge
            = tag.name
      .row
        .col-md-12.margin-top-5
          - if current_company == data.company
            = link_to raw("<i class='fa fa-share-alt '></i>") ,send_invitation_job_path(data) , method: :post ,remote: true,  class: 'btn btn-xs btn-default',title: "Send invitation" ,'data-toggle'=>"tooltip" ,'data-placement'=>"top"
            = link_to raw("<i class='fa fa-comments '></i>") ,company_chat_path(data.chat),class: "btn btn-xs btn-default",title: " #{data.title} Chat", 'data-toggle'=>"tooltip" ,'data-placement'=>"top"