    <div class="footer-w">
      <div class="fade3">
      </div>
      <div class="os-container">
        <div class="footer-i">
          <div class="row">
            <div class="col-sm-7 col-lg-4 b-r padded">
              <h3 class="heading-big">eTyme</h3>
              <h6 class="heading-small">Total Contract Management</h6>
              <p>eTyme is a complete contract/temp staffing management solutions platform. Recruiting, vetting, hiring, HR management, invoicing, and more, all from a single dashboard. <b>We make the gig economy work for you!</b></p>
            </div>
            <div class="col-sm-5 col-lg-8">
              <div class="row">
                <div class="col-lg-4 b-r padded">
                  <h6 class="heading-small">Company</h6>
                  <p><%= link_to "Home", static_index_path %></p>
                  <p><%= link_to "About", "" %></p>
                  <p><%= link_to "Jobs", static_jobs_path %></p>
                  <p><%= link_to "Candidates", "" %></p>
                  <p><%= link_to "How it Works", "" %></p>
                  <p><%= link_to "Contact", "/contact_us" %></p>
                </div>
                <div class="col-lg-4 b-r padded">
                  <h6 class="heading-small">Other Services</h6>
                  <p><%= link_to "Privacy Policy", "/privacy_policy" %></p>
                  <p><%= link_to "Terms of Use", "/terms_of_use" %></p>
                  <p><%= link_to "FAQ", "" %></p>
                </div>
                <div class="col-lg-4 padded">
                  <h6 class="heading-small"><%= t('.follow_us') %></h6>
                  <ul class="social-links">
                    <li><a href=""><i class="icon-social-facebook"></i></a></li>
                    <li><a href=""><i class="icon-social-twitter"></i></a></li>
                    <li><a href=""><i class="icon-social-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="deep-footer">&copy; <%= Date.today.year %> The Etyme.</div>
      </div>
    </div>
