<div class="fade1"></div>
<div class="desktop-menu menu-top-w menu-activated-on-hover relative" style="z-index: 1000">
  <div class="menu-top-i os-container">
    <ul class="main-menu">
      <li>
        <%= link_to image_tag(image_path('etyme-logo-dark.png'), style: "height:30px"), root_path %>
      </li>
    </ul>
    <ul class="small-menu">
<!--      <li>-->
        <%#= link_to "Company Jobs", static_company_jobs_path %>
<!--      </li>-->
      <li><%= link_to "Jobs", static_jobs_path %></li>
      <li>
        <div class="dropdown">
          <a class="dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Login
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="z-index: 9999;">
            <a class="dropdown-item" href="<%= signin_path %>">Company</a>
            <% if candidate_signed_in? %>
              <%= link_to current_candidate.full_name.present? ? current_candidate.full_name : 'Dashboard', candidate_candidate_dashboard_path, class: 'dropdown-item' %>
            <% else %>
              <a class="dropdown-item" href="<%= new_candidate_session_path %>">Candidate</a>
            <% end %>
          </div>
        </div>
      </li>
      <li>
        <div class="dropdown oval">
          <a class="dropdown-toggle highlight" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Register
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="<%= register_path %>">Company</a>
            <a class="dropdown-item" href="<%= new_candidate_registration_path %>">Candidate</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="mobile-menu-w menu-mobile">
  <div class="mobile-menu-holder color-scheme-dark menu-and-user">
    <ul class="mobile-menu">
      <li>
        <%= link_to "Home", root_path %>
      </li>
      <li>
        <%= link_to "Jobs", static_jobs_path %>
      </li>
      <li>
        <%= link_to "Login as Company", signin_path %>
      </li>
      <li>
        <% if candidate_signed_in? %>
          <%= link_to current_candidate.full_name.present? ? current_candidate.full_name : 'Dashboard', candidate_candidate_dashboard_path %>
        <% else %>
          <%= link_to "Login as Candidate", new_candidate_session_path %>
        <% end %>
      </li>
      <li>
        <%= link_to "Register as Company", register_path %>
      </li>
      <li>
        <%= link_to "Register as Candidate", new_candidate_registration_path %>
      </li>
    </ul>
  </div>
  <div class="mobile-menu-i">
    <div class="mobile-logo-w">
      <div class="logo-element">
        <%= link_to image_tag(image_path('etyme-logo-dark.png'), style: "height:30px"), root_path %>

      </div>
    </div>
    <div class="mobile-menu-trigger">
      <i class="os-icon os-icon-hamburger-menu-1">
      </i></div>
  </div>
</div>
