<div class="sidebar-right col-xl-3 d-block align-right">
  <div class="talent-pool">
    <div class="row mb-3 align-items-center justify-content-between">
      <div class="sidebar-right-header col-8">
        <p class="m-0 f-18 f-mon-sembol">Talent Pool</p>
      </div>
      <div class="sidebar-right-view-all col text-right">
        <p class="m-0 f-12 f-mon-sembol"><a href="<%= static_people_path %>">View All</a></p>
      </div>
    </div>
    <% if @candidates_hot.present? %>
      <div class="row justify-content-start">
        <% @candidates_hot.each do |c| %>
          <div class="col-4">
            <figure class="figure">
              <div class="d-flex justify-content-center"><%= link_to user_avatar(c&.candidate), public_profile_static_candidates_path(c&.candidate), target: "_blank" %></div>
              <figcaption class="figure-caption text-center">
                <h5 class="candidate-name mt-0"><%= link_to c&.candidate&.full_name, public_profile_static_candidates_path(c&.candidate), target: "_blank" %></h5>
                <% if is_verify(!!c.candidate.confirmed_at) == "verified" %>
                  <%= image_tag 'verified.svg' ,class: "img-fluid ml-2", alt: "verified" %>
                <% end %>
                <% if c&.candidate&.candidate_title.present? %>
                  <p class="candidate-title m-0"  title="<%= c.candidate.candidate_title %>"><%= do_ellipsis(c&.candidate&.candidate_title,20) %></p>
                <% end %>
              </figcaption>
            </figure>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="open-jobs mb-3">
    <div class="row align-items-center justify-content-between">
      <div class="sidebar-right-header col-8">
        <p class="m-0 f-18 f-mon-sembol">Open Jobs</p>
      </div>
      <div class="sidebar-right-view-all col text-right">
        <p class="m-0 f-12 f-mon-sembol"><a href="<%= static_jobs_path %>">View All</a></p>
      </div>
    </div>
    <% if @jobs_hot.present? %>
      <div class="col-12 p-0 follower-list">
        <ul class="list-unstyled mt-3">
          <% @jobs_hot.each do |c_job| %>
            <li class="d-block mb-3">
              <div class="media follower-block">
                <%# if c_job&.files.present? %>
                  <%#= image_tag(c_job.files, class: "mr-3 align-self-center") %>
                <%# elsif c_job&.created_by&.photo.present? %>
                  <%#= image_tag(c_job&.created_by&.photo, class: "mr-3 align-self-center") %>
                <%# else %>
                  <%#= image_tag 'static-job.png' ,class: "mr-3 align-self-center"%>
                <%# end %>
                <%#= image_tag 'follower-user.png' ,class: "mr-3 align-self-center", alt: "user" %>
                <div class="media-body ">
                  <h5 class="job-title my-0" title="<%= c_job.title %>"><%= link_to do_ellipsis(c_job.title,20),static_job_path(c_job)%>
                    <%#= image_tag 'verified.svg' ,class: "img-fluid ml-2", alt: "verified" %>
                  </h5>
                  <% if c_job.job_category.present? %>
                    <p class="job-category m-0"><%#= image_tag 'black-suitcase.svg' ,class: "img-fluid mr-2", alt: "suitcase" %><%= c_job&.job_category %></p>
                  <% end %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
