<!-- Side Wrapper Start -->
<section class="side-wrapper" id="side-wrapper">
  <div class="left-navbar pl-3 pr-2">
    <div style="height: 80vh;">
      <div class="sidenav-items p-0">
        <div class="nav flex-column nav-pills">
          <%unless request.subdomain == "app"%>
            <a class="nav-link sidebar-link <%= (params[:controller] == "static/jobs" && params[:selected_categories] != "Training" &&  (params[:action] == "static_feeds" || (params[:action] == "show" && params[:type] == 'feed'))) ? "active" : ""  %>" href="<%= root_static_feeds_path %>" href="#">
              <%= image_tag(image_path('feed.png'), class: "mr-3") %>
              <%= image_tag(image_path('feed-active.png'), class: "mr-3") %>
              Feed
            </a>
          <%end%>
          <a class="nav-link sidebar-link <%= params[:controller] == "static/jobs" &&  (params[:action] == "index" || (params[:action] == "show" && params[:type] == 'job')) ? "active" : ""  %>" href="<%= static_jobs_path %>">
            <%= image_tag(image_path('sidebar-jobs.svg'), class: "mr-3") %>
            <%= image_tag(image_path('sidebar-jobs-active.svg'), class: "mr-3") %>
            Jobs
          </a>
          <a class="nav-link sidebar-link <%= (params[:controller] == "static/jobs" &&  params[:action] == "people") || (params[:controller] == "static/candidates" &&  params[:action] == "candidate_profile") ? "active" : ""  %>" href="<%= static_people_path %>">
            <%= image_tag(image_path('sidebar-people.svg'), class: "mr-3") %>
            <%= image_tag(image_path('sidebar-people-active.svg'), class: "mr-3") %>
            Bench
          </a>
          <%unless request.subdomain == "app"%>
            <a class="nav-link sidebar-link <%= (params[:controller] == "static/jobs" &&  (params[:action] == "static_feeds") && params[:selected_categories] == "Training") ? "active" : ""  %>" href="<%= root_static_feeds_path %>?selected_categories=Training&input_search=">
              <%= image_tag(image_path('presentation.png'), class: "mr-3") %>
              <%= image_tag(image_path('presentation-active.png'), class: "mr-3") %>
              Trainings
            </a>
          <%end%>
        </div>
      

        <% if !current_candidate.present? && !current_user.present? %>
          <div class="roadmap">
              <ul>
                  <li><i class="roadmap-border"></i>Step 1</li>
                  <span>Join our Tribe</span>
                  <li><i class="roadmap-border"></i>Step 2</li>
                  <span>Ask and Engage</span>
                  <li><i class="roadmap-border"></i>Step 3</li>
                  <span>Hire, apply for jobs, & services</span>
              </ul>
          </div>
        <% else %>
          <div class="my-5 py-5 w-100"></div>
        <% end %>
      </div>
    </div> 
    <div>
      <div class="text-center">
        <% if current_candidate.present? %>
          <%= link_to '<i class="fa fa-user mx-3"></i>'.html_safe, my_profile_url(subdomain: 'app'), title: 'Profile', style: "color:#5555A5"%>
          <%= link_to '<i class="fa fa-gear mx-3"></i>'.html_safe, onboarding_profile_url(subdomain: 'app'), title: 'Onboarding', style: "color:#5555A5"%>
          <%= link_to '<i class="fa fa-home mx-3"></i>'.html_safe, candidate_candidate_dashboard_url(subdomain: 'app'), title: 'Dashboard', style: "color:#5555A5"%>
          <%= link_to '<i class="fa fa-shopping-bag mx-3"></i>'.html_safe, root_url(subdomain: 'app'), title: 'Marketplace', style: "color:#5555A5"%>
        <% elsif current_user.present? %>

          <%= link_to '<i class="fa fa-user mx-3"></i>'.html_safe, white_labled_company_user_url(current_user, current_company, request), title: 'Profile', style: "color:#5555A5"%>
          <%= link_to '<i class="fa fa-gear mx-3"></i>'.html_safe, company_path(current_user.company.id), title: 'Company Settings', style: "color:#5555A5"%>
          <%= link_to '<i class="fa fa-home mx-3"></i>'.html_safe, white_labled_dashboard_url(current_user, current_company, request), title: 'Dashboard', style: "color:#5555A5"%>
          <% marketplace = request.subdomain=='app' ? root_url(subdomain: (current_user&.company&.domain or 'app')) : root_url(subdomain: 'app') %>
          <%= link_to '<i class="fa fa-shopping-bag mx-3"></i>'.html_safe, marketplace, title: (request.subdomain=='app' ? 'The Hub' : 'Marketplace'), style: "color:#5555A5"%>
        <% else %>

          <%= link_to '<i class="fa fa-user mx-3"></i>'.html_safe, "#", title: 'Profile', style: "color:#5555A5", class: "shortcut_link"%>
          <%= link_to '<i class="fa fa-gear mx-3"></i>'.html_safe, "#", title: 'Settings', style: "color:#5555A5", class: "shortcut_link"%>
          <%= link_to '<i class="fa fa-home mx-3"></i>'.html_safe, "#", title: 'Dashboard', style: "color:#5555A5", class: "shortcut_link"%>
          <%= link_to '<i class="fa fa-shopping-bag mx-3"></i>'.html_safe, root_url(subdomain: 'app'), title: 'Marketplace', style: "color:#5555A5"%>
          <script type="text/javascript" charset="utf-8">
            $('.shortcut_link').click(function (){
                flash_error('You must be logged in.');
            })
          </script>
        <% end %>

      </div>
      <hr style="margin-bottom: 0px;">
      <div class="footer text-center">
        <%= link_to 'About us', '/static/'%>
        <%= link_to 'Contact', '/contact_us/'%>
        <%= link_to 'Terms', '/terms_of_use/'%>
        <%= link_to 'Privacy', '/privacy_policy/'%>
      </div>
      <hr style="margin-top: 0px;">
      <div class="powerby text-center">
        <div class="col-12 position-absolute fixed-bottom mb-3">
          <p class="m-0">Powered by
            <%= image_tag(image_path('powerby-logo.png'), class: "img-fluid ml-2") %>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Side Wrapper End -->
<style type="text/css">
  .left-navbar {
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
  }
  .left-navbar .start {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .left-navbar .footer a{
    font-weight: bold;
    font-size: x-small;
    color:#B3B3B3
  }

  .nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    color: #5555A5 !important;
    background-color: white;
  }
  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: white!important;
  }
</style>
<script type="text/javascript">
  <% if params[:controller] == "static/jobs" &&  (params[:action] == "index" || (params[:action] == "show" && params[:type] == 'job')) || (params[:controller] == "static/jobs" &&  (params[:action] == "static_feeds") && params[:selected_categories] == "Training") %>
    $("#candidate_menu").click();
  <%end%>
</script>