<!-- Side Wrapper Start -->
<section class="side-wrapper" id="side-wrapper">
    <div class="pl-3 pr-2">
     <div style="height: 80vh;">
        <div class="sidenav-items p-0">
            <div class="nav flex-column nav-pills">
                <a class="nav-link sidebar-link <%= (params[:controller] == "static/jobs" &&  ((params[:action] == "show" && params[:type] == 'feed'))) ? "active" : ""  %>" href="<%= root_static_feeds_path %>" href="#">
                    <%= image_tag(image_path('sidebar-home.svg'), class: "mr-3") %>
                    <%= image_tag(image_path('sidebar-home-active.svg'), class: "mr-3") %>
                    Feed
                </a>
                <a class="nav-link sidebar-link <%= params[:controller] == "static/jobs" &&  (params[:action] == "index" || (params[:action] == "show" && params[:type] == 'job')) ? "active" : ""  %>" href="<%= static_jobs_path %>">
                    <%= image_tag(image_path('sidebar-jobs.svg'), class: "mr-3") %>
                    <%= image_tag(image_path('sidebar-jobs-active.svg'), class: "mr-3") %>
                    Jobs
                </a>
                <a class="nav-link sidebar-link <%= (params[:controller] == "static/jobs" &&  params[:action] == "people") || (params[:controller] == "static/candidates" &&  params[:action] == "candidate_profile") ? "active" : ""  %>" href="<%= static_people_path %>">
                    <%= image_tag(image_path('sidebar-people.svg'), class: "mr-3") %>
                    <%= image_tag(image_path('sidebar-people-active.svg'), class: "mr-3") %>
                    Talent Pool
                </a>

                <a class="nav-link sidebar-link <%= (params[:controller] == "static/jobs" &&  (params[:action] == "static_feeds")) ? "active" : ""  %>" href="<%= root_static_feeds_path %>?selected_categories=&input_search=">
                    <%= image_tag(image_path('presentation.png'), class: "mr-3") %>
                    <%= image_tag(image_path('presentation_active.png'), class: "mr-3") %>
                    Trainings
                </a>
            </div>
        

        <% if !current_candidate.present? && !current_user.present? %>
        <div class="roadmap">
            <ul>
                <li><i class="roadmap-border"></i>Step 1</li>
                <span>Join our Tribe</span>
                <li><i class="roadmap-border"></i>Step 2</li>
                <span>Ask and Engage</span>
                <li><i class="roadmap-border"></i>Step 3</li>
                <span>Hire, apply for jobs, & services</span>
            </ul>
        </div>
        <% else %>
        <div class="my-5 py-5 w-100">
        </div>
        <% end %>
       </div>
      </div> 
        <div class="d-flex flex-column justify-content-end" style="height: 20vh;">
            <!--<ul class="sidebar-left-links">
          <li>About</li>
          <li>Terms</li>
          <li>Privacy</li>
          <li>Contact</li>
          <li>Help</li>
        </ul>-->
            <div class="powerby text-center">
                <div class="col-12 position-absolute fixed-bottom mb-3">
                    <p class="m-0">Powered by
                        <!-- <img src="images/powerby-logo.png" class="img-fluid ml-2" alt="powerby"> -->
                        <%= image_tag(image_path('powerby-logo.png'), class: "img-fluid ml-2") %>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Side Wrapper End -->