<div class="feed-top">
  <div class="d-none d-md-flex row">
    <div class="col-12">
      <div class="feed-banner d-flex flex-column justify-content-between p-4">
        <div>
          <div class="feed-banner-title">
            <%= current_company&.banner_title %>
          </div>
          <div class="feed-banner-text">
            <%= current_company&.banner_text %>
          </div>
        </div>
        <div>
          <% if current_company&.banner_btn_label %>
            <a href="<%= current_company&.banner_btn_url %>" class="feed-banner-button"><%= current_company&.banner_btn_label %></a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 px-0 category-list">
    <div class="dropdown dropdown-container col-6 d-flex justify-content-start">
      <button class="dropdown-toggle dropdown-button" id="dropdownMenuFilters" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span>Filters</span><%= image_tag "login-drop-arrow.svg", class: "pr-2" %>
      </button>
      <ul class="list-unstyled dropdown-menu dropdown-content" id="main_feed_id" aria-labelledby="dropdownMenuFilters">
        <label class="check-main mr-2">
          <input type="checkbox" class="selected_feed_category" id="Blog" checked>Blog
          <span class="checkmark">
          </span>
        </label>
        <label class="check-main mr-2">
          <input type="checkbox" class="selected_feed_category" id= "Product" checked>Product
          <span class="checkmark">
          </span>
        </label>
        <label class="check-main mr-2">
          <input type="checkbox" class="selected_feed_category" id= "Service" checked>Service
          <span class="checkmark">
          </span>
        </label>
        <label class="check-main mr-2">
          <input type="checkbox" class="selected_feed_category" id= "Training" checked>Training
          <span class="checkmark">
          </span>
        </label>
      </ul>
    </div>
    <div class="dropdown dropdown-container col-6 d-flex justify-content-end">
      <button class="dropdown-toggle dropdown-button" id="dropdownMenuSort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span>Sort</span><%= image_tag "login-drop-arrow.svg", class: "pr-2" %>
      </button>
      <ul class="list-unstyled dropdown-menu dropdown-content" id="main_feed_id" aria-labelledby="dropdownMenuSort">
        Under Construction
      </ul>
    </div>
  </div>
  <div class="d-flex col-12">
    <button class="btn btn-ask-a-question" data-toggle="modal" data-target="#feedPostModal">
      + Post Question or Job
    </button>
    <%# <%= render 'static/shared/webflow_feed_post_modal' %1> %>
  </div>
</div>
<%= render 'static/shared/webflow_feed_post_modal' %>