<!-- Modal -->
<div class="modal fade webflow-modal" id="feedPostModal" tabindex="-1" role="dialog" aria-labelledby="feedPostModalLabel" aria-hidden="true">
  <div class="modal-dialog webflow-modal-dialog" role="document">
    <div class="modal-content webflow-modal-content">
      <div class="webflow-modal-header">
        <h5 class="webflow-modal-title" id="feedPostModalLabel">New Question</h5>
      </div>
      <%= form_with url: static_post_question_path, method: :post do |form| %>
        <div class="webflow-modal-body">
          <%= form.text_field 'job[title]', placeholder: 'Topic', class: 'webflow-input-text-field' %>
          <%= form.text_area 'job[description]', placeholder: 'Write your post here...', class: 'webflow-input-text-area' %>
          <%= form.hidden_field 'job[files]', class: 'webflow-hidden-field-job-files'%>
          <%= link_to 'Upload a Cover Image', '#',  onclick: "upload_file_ajax(uploadBanner)", class: 'f-12 l-17'%>
          <div class="webflow-question-banner-container">
          </div>
          <%= link_to 'Upload Additional Images', '#',  onclick: "upload_file_ajax(uploadAttachment)", class: 'f-12 l-17'%>
          <div class="webflow-question-images-container d-flex">
          </div>
        </div>
        <div class="webflow-modal-footer">
          <button type="button" class="webflow-btn-link f-12 l-17" data-dismiss="modal">Cancel</button>
          <%= form.submit "Post", class: 'webflow-btn-primary f-12 l-17' %>
        </div>
      <% end %>
      </form>
    </div>
  </div>
</div>

<script>
  function uploadBanner(url, type) {
    $('.webflow-question-banner-container').first().html(
      `<div class="webflow-question-banner py-3"><img src="${url}"/></div>`
    );
    
    let fileString = "";
    fileString = fileString.concat($(".webflow-question-banner").first().children().first().attr('src'));
    $('.webflow-question-images-container').children().each((i, e) => { fileString = fileString.concat(",", $(e).children().first().attr('src') ); });
    console.log(fileString);
    $('.webflow-hidden-field-job-files').attr("value", fileString);
  }

  function uploadAttachment(url, type) {
    $('.webflow-question-images-container').first().append(
      `<div class="webflow-thumbnail-170-105 p-3"><img src="${url}"/></div>`
    );

    let fileString = "";
    fileString = fileString.concat($(".webflow-question-banner").first().children().first().attr('src'));
    $('.webflow-question-images-container').children().each((i, e) => { fileString = fileString.concat(",", $(e).children().first().attr('src') ); });
    console.log(fileString);
    $('.webflow-hidden-field-job-files').attr("value", fileString);
  }
</script>
