%body
  #wid-id-7#content.jarviswidget.jarviswidget-color-teal{"data-widget-attstyle" => "jarviswidget-color-teal", "data-widget-custombutton" => "false", "data-widget-editbutton" => "false", "data-widget-fullscreenbutton" => "false", "data-widget-sortable" => "false", :role => "widget", :style => ""}
    %header{:role => "heading"}
      %ul.nav.nav-tabs.pull-left.in
        %li.active
          %a{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#hr1"}
            %i.fa.fa-lg.fa-arrow-circle-o-down
            %span.hidden-mobile.hidden-tablet Company Info
        %li
          %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#hr2"}
            %i.fa.fa-lg.fa-arrow-circle-o-up
            %span.hidden-mobile.hidden-tablet
              Locations
      %span.jarviswidget-loader
        %i.fa.fa-refresh.fa-spin
    / widget div
    %div{:role => "content"}
      / widget edit box
      .jarviswidget-editbox
      / This area used as dropdown edit box
      / end widget edit box
      / widget content
      .widget-body
        .tab-content
          #hr1.tab-pane.active
            .tabbable.tabs-below
              .tab-content.padding-10
                %table.table.table-striped
                  %tbody
                    %tr
                      %th
                        Name
                      %td
                        = best_in_place current_company, :name, :as => :input
                    %tr
                      %th
                        Email
                      %td
                        = best_in_place current_company,:email, :as => :input
                    %tr
                      %th
                        Phone
                      %td
                        = best_in_place current_company,:phone, :as => :input
                    %tr
                      %th
                        Description
                      %td
                        = best_in_place current_company,:description, :as => :textarea
                    %tr
                      %th
                        Time Zone
                      %td
                        = best_in_place current_company,:time_zone, :as => :input
                    %tr
                      %th
                        Twitter URl
                      %td
                        = best_in_place current_company,:twitter_url, :as => :input
                    %tr
                      %th
                        LinkedIn URl
                      %td
                        = best_in_place current_company,:linkedin_url, :as => :input
                    %tr
                      %th
                        Google URl
                      %td
                        = best_in_place current_company,:google_url, :as => :input

          #hr2.tab-pane
            %button.btn.btn-primary.btn-lg{"data-target" => "#myModal", "data-toggle" => "modal"}
              Add Location
            .tabbable.tabs-below
              .tab-content.padding-10
                %table.table.table-striped
                  - current_company.locations.each do |location|
                    - next if location.new_record?
                    %tbody
                      %tr
                        %th
                          Name
                        %td
                          = best_in_place location, :name, :as => :input
                      %tr
                        %th
                          Country
                        %td
                          = best_in_place location.address,:country, :as => :input
                      %tr
                        %th
                          City
                        %td
                          = best_in_place location.address,:city, :as => :input
                      %tr
                        %th
                          State
                        %td
                          = best_in_place location.address,:state, :as => :input
                      %tr
                        %th
                          ZipCode
                        %td
                          = best_in_place location.address,:zip_code, :as => :input
            #myModal.modal.fade.in{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :style => "display: none;", :tabindex => "-1"}
              .modal-dialog
                .modal-content
                  .modal-header
                    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
                      ×
                    %h4#myModalLabel.modal-title Add New Location
                  .modal-body
                    =form_for @location , url: locations_path, method: 'post' do |location|
                      =location.fields_for :address do |address|
                        .row
                          .col-md-12
                            .form-group
                              =location.text_field :name,:placeholder => "Name",class: "form-control"
                            .form-group
                              =address.text_field :country,:placeholder => "Country",class: "form-control"
                        .row
                          .col-md-6
                            .form-group
                              %label{:for => "category"} City
                              %select#category.form-control
                                %option Articles
                                %option Tutorials
                                %option Freebies
                          .col-md-6
                            .form-group
                              %label{:for => "tags"} Zip Code
                              =address.text_field :zip_code,:placeholder => "Zip Code",class:"form-control"

                      .modal-footer
                        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
                          Cancel
                        %button.btn.btn-primary{:type => "submit"}
                          Create Location
