%body
  %header.header-login
    .container
      .content
        .row
          %h1.revealOnScroll{"data-animation" => "fadeInDown"}
            %i.fa.fa-coffee
            Register
          %p New Here? Create Account.
%section.banner-login
  .container
    .row
      %main.main.main-signup.col-lg-12
        .col-lg-6.col-lg-offset-3.text-center
          .form-sign
            = form_for @company , html: {id: 'smart-form-register' , class: 'vertical-form lockscreen animated flipInY' }  do |f|
              - if params[:register].present?
                = hidden_field_tag 'register_company', true
              = f.fields_for :owner, @user do |u|
                .form-head
                  %h3 Register
                .form-body
                  - flash.each do |key, value|
                    = flash_message(key,value)

                  - if params[:show_selector].present?
                    .form-row
                      .form-controls
                        .plain-select
                          = f.select :company_type , [["Staffing/Training/Vendors", 'vendor'], ["Client/Implementation Patner", 'hiring_manager']],{include_blank: '-- Select Type --'} ,:class => 'form-control company_type', required: true ,onchange: "showNote();"
                      .note#company_type{style: "float:left !important ;color: antiquewhite"}
                  -#.form-row
                    -#.form-controls
                    -#  .plain-select
                        #= f.select :company_sub_type , ["Client","Implementation Patner"],{include_blank: '-- Select Type --'} ,:class => 'form-control company_type', required: true ,onchange: "showNote();"
                  .form-row
                    .form-controls
                      = u.email_field :email, :placeholder => "Your Email", required: true, email: true, class: 'field', value: params[:email]
                  - if params[:show_input].present?
                    .form-row
                      .form-controls
                        = u.text_field :first_name, :placeholder => "Firstname", required: true,class: 'field'

                    .form-row
                      .form-controls
                        = u.text_field :last_name, :placeholder => "Lastname", required: true,class: 'field'

                    .form-row
                      .form-controls
                        = u.password_field :password, :placeholder => "Password", required: true,minlength: "6",class: 'field'
                    .form-row
                      .form-controls
                        = u.password_field :password_confirmation, :placeholder => "Confirm password", "data-rule-equalTo": "#company_owner_attributes_password",class: 'field'
                    .form-row
                      .form-controls
                        = f.text_field :domain  ,:placeholder => "Domain", required: true,minlength: "3",class:'field', id: "domain-field", value: params[:site], readonly: true
                      .note.text-muted.errors.text-danger
                      .note.text-muted{style: "float:left !important ;color: antiquewhite"}
                        Please Enter Domain like https://address
                  -#.form-row
                    .form-controls
                      %input#terms{:name => "terms",class:"field", :type => "checkbox" ,required: true}/
                      = succeed "I agree with the " do
                        %i
                      %a{"data-target" => "#myModal", "data-toggle" => "modal", :href => "#"} Terms and Conditions
                .form-foot
                  .form-actions
                    %input.form-btn{:type => "submit", :value => "Register"}/
                  .form-head
                    = link_to "Already have Account?",signin_path ,class: "more-link"

- content_for :scripts do
  :javascript
    jQuery.validator.addMethod("checkurl", function(value, element) {
      // now check if valid url
      return /^(www\.)[A-Za-z0-9_-]+\.+[A-Za-z0-9.\/%&=\?_:;-]+$/.test(value);
      }, "Please enter a valid URL."
      );
      jQuery.validator.addClassRules({
      checkurl : { checkurl : true }
        });
      $( "#myform" ).validate({
        rules: {
          field: {
            checkurl: true
          }
        }
      });

    function showNote() {
      text=$('.company_type').val();
      if(text=="vendor")
      {
        $('#company_type').text("Corp-corp/1099/Self-Employed");
      }else if (text=="hiring_manager")
      {
        $('#company_type').text("Hiring mananger/implementation partner/Client ")
      }else
      {
        $('#company_type').text("");
      }
    }
