%fieldset
  .form-group
    %label.col-md-2.control-label
      Designation
      %sup.text-danger *
    .col-md-10
      = p.text_field :designation , class: 'form-control' , placeholder: "Enter Designation" , required: true
  -#%input#wphone.form-control.input-lg{"data-mask" => "+99 (999) 999-9999", "data-mask-placeholder" => "X", :name => "wphone", :placeholder => "+1", :type => "text"}/

  .form-group
    %label.col-md-2.control-label
      Joining Date
      %sup.text-danger *
    .col-md-10
      = p.text_field :joining_date , class: 'form-control ' , placeholder: "Enter Joining Date" , required: true
  .form-group
    %label.col-md-2.control-label
      Employement Type
      %sup.text-danger *
    .col-md-10
      = p.select :employment_type, [['Full Time (30 hours or more)','full_time'],['Part Time (30 hours or less)','part_time'],['Temp or Intern','temp_intern']], {}, {:class=>"form-control "}
  .form-group
    %label.col-md-2.control-label
      Working Hours
      %sup.text-danger *
    .col-md-10
      = e.number_field :temp_working_hours ,value: e.object.max_working_hours/3600.0, class: 'form-control ' , placeholder: "Enter Max Daily Working Hours" , required: true
  .form-group
    %label.col-md-2.control-label
      Employee Type
      %sup.text-danger *
    .col-md-10
      = p.select :salary_type, [['Salaried','salaried'],['Hourly','hourly']], {}, {:class=>"form-control"}
  .form-group
    %label.col-md-2.control-label
      Salary $
      %sup.text-danger *
    .col-md-10
      = p.number_field :salary , class: 'form-control ' , placeholder: "Enter Salary" , required: true
