
%jumbotron.home-search
  .container
    .row
      = search_form_for @search , url: search_static_jobs_path , method: :get do |f|
        .col-sm-12
          %br/
          %p.main_description{style:'    font-size: 20px;font-weight: 200;'} Search thousands of jobs
          %br/
          %br/
          .row
            .col-sm-8.col-sm-offset-2{:style => "text-align: center"}
              .row
                .col-sm-10.col-sm-offset-1
                  %ul.nav.tabs-pull-right
                    %br
                    .input-group-md.hidden-mobile
                      .col-sm-2
                        %span.input-group-addon-text Search Job
                      .col-sm-6
                        = f.text_field :title_or_job_category_cont, class: "form-control input-md ", placeholder: "By Job..."
                        .help-block.pull-left job title, category
                      -#.input-group-btn
                      -#  = f.select :job_category_eq , WORK_CATEGORIES.each { |key, value| [key.humanize, value] }, {} , {class: "btn btn-default dropdown-toggle" , style:'width: 140px', onChange: "this.form.submit();"}
                      .col-sm-4{style: "padding-left: 0px"}
                        .form-group
                          = f.text_field :location_cont , class: "form-control input-md",placeholder: "By location"
                          .help-block.pull-left country,state,city

              %br/
            .row
              .col-sm-12{:style => "text-align: center"}
                = f.submit 'Search',class: 'btn btn-primary search-btn'
            %br/
            %br/
            .row
              .col-sm-12{:style => "text-align: center"}
                #quotes
                  .text-item{:style => "display: none;"}
                    Etyme!
                    %strong has
                    Removed
                    %strong the frustration of hosting
                    and
                    %strong  creating web sites.
                  .text-item{:style => "display: none;"}
                    %strong Newsfeed,
                    %strong Bulk Email,
                    Activity feed
                    %strong & HR Networking.
                  .text-item{:style => "display: none;"}
                    Success!
                    %strong Setup Automation,
                    Notifications,  RSS feeds.
                    %strong tasks, messaging,
                    in
                    %strong Etyme
                  .text-item{:style => "display: none;"}
                    Hey,
                    %strong Etyme
                    has
                    %strong Employees Timesheets,
                    %strong Leave & expense management.
.row
  .col-sm-12.col-md-8
    .row.directory
      .col-sm-12
        %h2
          %span= link_to 'Jobs',static_jobs_path
    .row.directory
      .col-xs-12
        - @jobs.each do |category,jobs|
          .directory-block.col-sm-4.col-xs-6
            .row
              .col-sm-3
                %i.fa.fa-home
              .col-sm-9
                %h4=link_to category,static_jobs_path(category: category)
                %p
                - jobs.take(5).each_with_index  do |job,index|
                  = index>0 ? "," :""
                  = link_to job.title ,static_job_path(job)


  .col-xs-12.col-md-4
    .row
      .col-xs-12.col-sm-3.col-md-12.col-lg-11.pull-right
        %br.hidden-sm.hidden-xs/
        %br.hidden-sm.hidden-xs/
        %br.hidden-sm.hidden-xs/
        .panel.panel-default
          .panel-heading Quick guide
          %ul.list-group
            %li.list-group-item
              %a{:href => "#"} Our tips to Etyme
            %li.list-group-item
              %a{:href => "#"} How to Apply for Job
            %li.list-group-item
              %a{:href => "#"} How to Manage Contracts , Timesheets and other
            %li.list-group-item
              %a{:href => "#"} Help and contact us
            %li.list-group-item
              %a{:href => "#"} Frequently asked questions



-content_for :scripts do
  :javascript
    $(document).ready(function() {
        $('.equal-height').equalHeights();

    });