
%jumbotron.home-search
  .container
    .row
      = search_form_for @search , url: search_static_jobs_path , method: :get do |f|
        .col-sm-12
          %br/
          %p.main_description{style:'    font-size: 20px;font-weight: 200;'} Search thousands of jobs
          %br/
          %br/
          .row
            .col-sm-8.col-sm-offset-2{:style => "text-align: center"}
              .row
                .col-sm-10.col-sm-offset-1
                  %ul.nav.tabs-pull-right
                    %br
                    .input-group.input-group-md.hidden-mobile
                      %span.input-group-addon.input-group-addon-text Search Job
                      = f.text_field :title_or_job_category_cont, class: "form-control input-md col-sm-3", placeholder: "Search Jobs..."
                      -#.input-group-btn
                      -#  = f.select :job_category_eq , WORK_CATEGORIES.each { |key, value| [key.humanize, value] }, {} , {class: "btn btn-default dropdown-toggle" , style:'width: 140px', onChange: "this.form.submit();"}

              %br/
              %br/
            .row
              .col-sm-12{:style => "text-align: center"}
                = f.submit 'Search',class: 'btn btn-primary search-btn'
            %br/
            %br/
            .row
              .col-sm-12{:style => "text-align: center"}
                #quotes
                  .text-item{:style => "display: none;"}
                    Etyme!
                    %strong is
                    just sold a
                    %strong Washing Machine
                    in
                    %strong Sheffield
                  .text-item{:style => "display: none;"}
                    %strong Julia
                    is availiable for
                    %strong home cleaning
                    in
                    %strong Manchester
                  .text-item{:style => "display: none;"}
                    Success!
                    %strong Paul
                    has just sold a
                    %strong Mercedes-Benz E-class
                    in
                    %strong Liverpool
                  .text-item{:style => "display: none;"}
                    Hey,
                    %strong Uber
                    has a
                    %strong job opening
                    in
                    %strong London
.row
  .col-sm-12.col-md-8
    .row.directory
      .col-sm-12
        %h2
          %span= link_to 'Jobs',static_jobs_path
    .row.directory
      .col-xs-12
        - @jobs.each do |category,jobs|
          .directory-block.col-sm-4.col-xs-6
            .row
              .col-sm-3
                %i.fa.fa-home
              .col-sm-9
                %h4=link_to category,static_jobs_path(category: category)
                %p
                - jobs.take(5).each_with_index  do |job,index|
                  = index>0 ? "," :""
                  = link_to job.title ,static_job_path(job)


  .col-xs-12.col-md-4
    .row
      .col-xs-12.col-sm-3.col-md-12.col-lg-11.pull-right
        %br.hidden-sm.hidden-xs/
        %br.hidden-sm.hidden-xs/
        %br.hidden-sm.hidden-xs/
        .panel.panel-default
          .panel-heading Quick guide
          %ul.list-group
            %li.list-group-item
              %a{:href => "#"} Our tips to stay safe
            %li.list-group-item
              %a{:href => "#"} How to buy guide
            %li.list-group-item
              %a{:href => "#"} How to sell guide
            %li.list-group-item
              %a{:href => "#"} Help and contact us
            %li.list-group-item
              %a{:href => "#"} Frequently asked questions



-content_for :scripts do
  :javascript
    $(document).ready(function() {
        $('.equal-height').equalHeights();

    });