- provide(:body_class, 'full-screen')

#sectionIntro.intro-w.layout-v1
  .os-container
    .fade2
    .call-to-action
      .h3.cta-header
        #{current_company.name} Jobs
  %section.jobslist
    .container
      .row
        .col-lg-4
          .list.element-box.gray-background
            .list-group
              .list-group-item.active.cat-top
                %em.fa.fa-fw.fa-coffee.text-white>
                   Categories
                %span.badge= @jobs.count
              - @jobs_group.each do |category,jobs|
                %a.list-group-item.cat-list{:href => static_company_jobs_path(category: category)}
                  %em.fa.fa-fw.fa-code.text-muted
                   #{truncate(category,length: 20)}
                  %span.badge.badge-success.text-red-bg= jobs.count
                %br
        .col-lg-8.element-box.gray-background

          - @jobs.each do |job|
            .job
              .row.top-sec
                .col-lg-2.col-xs-12
                  %a{:href => "#"}
                    - unless job.created_by&.photo.blank?
                      = image_tag job.created_by&.photo ,class: "img-responsive"
                    - else
                      = image_tag 'https://etyme.club/static/js/jobs.png' ,class: "img-responsive"

                .col-lg-10.col-xs-12
                  %h4
                    = link_to truncate(job.title,length: 50) ,static_job_path(job)
                  %h5
                    = job.company.name.humanize
                    %small= job.company.email
              .row.mid-sec
                .col-lg-12
                  %hr.small-hr/
                  %p= truncate(strip_tags(job.description),length: 250)
                  - job.tags.each do |tag|
                    %span.label.label-success= tag.name
              .row.bottom-sec
                .col-lg-12
                  %hr.small-hr/
                .col-lg-2
                  %h5 Posted
                  %p #{time_ago_in_words(job.created_at)} ago
                .col-lg-2
                  %h5 Location
                  %p
                    %i.fa.fa-map-marker
                    = job.location
                .col-lg-2
                  %h5 Category
                  %p= job.job_category
                -#.col-lg-2
                  %h5 Applicants
                  %p 15
                .col-lg-4
                  = link_to raw("<i class= 'fa fa-align-left'> Apply</i>") ,static_job_apply_path(job,status: candidate_signed_in?)   , method: :post , remote: true ,  class: " kafe-btn kafe-btn-mint-small   #{current_candidate.present? ? (current_candidate.already_applied?(job.id) ? "disabled " : "" ) : "" } ", data: { trigger_modal: true }
          .mt-3
            = will_paginate @jobs


-content_for :scripts do
  :javascript
    ''

= javascript_include_tag 'shared/hide_show_toggler'
