#content
  #wid-id-5.no-border.jarviswidget
    / .col-md-12.pull-left{style: 'border-bottom-color: #fff !important;'}
    /   = search_form_for @sent_vendors , url: search_prefer_vendors_path , method: :get do |f|
    /     %ul#internal-tab-1.nav.nav-tabs.tabs-pull-right.sub-tab
    /       %br
    /       .input-group.input-group-lg.hidden-mobile
    /         -#.input-group-btn.select
    /           = f.text_field :status_eq , Contract.statuses.map { |key, value| [key.humanize, value] }.push(['All', '']).reverse.to_h, {} , {class: "btn btn-default dropdown-toggle" ,  onChange: "this.form.submit();"}
    /         = f.text_field :company_name_cont, class: "form-control input-lg bg-white", placeholder: "Search Network..."
    /         .input-group-btn
    /           = f.button raw("<i class='fa fa-fw fa-search fa-lg'></i>") , class: 'btn btn-default'
    %div
      .widget-body
        %ul#myTab1.nav.nav-tabs.smaller{style: "border-bottom: 0px;"}
          %li.nav-item.cumstom_nav-tab.active
            %a{"data-toggle" => "tab", :href => "#tab-r1",class: "nav-link cumstom_nav-tab display-flex"}
              %span.badge.bg-color-blue.txt-color-white
              Sent Invitation(s)
              %span.badge.bg-color-blue.txt-color-white= @vendors.count
          %li.nav-item.cumstom_nav-tab
            %a{"data-toggle" => "tab", :href => "#tab-r2",class: "nav-link cumstom_nav-tab display-flex"}
              %span.badge.bg-color-blueDark.txt-color-white
              Received Invitation(s)
              %span.badge.bg-color-blueDark.txt-color-white= @recived_vendors.count
        .col-md-12
          .tab-content
            #tab-r1.tab-pane.padding-top-15.active.in
              = render 'company/prefer_vendors/partials/send_request' , data: @vendors
            #tab-r2.tab-pane.padding-top-15
              = render 'company/prefer_vendors/partials/received_request' , data: @recived_vendors

- content_for :modals do
  #job_invitation
  = render 'company/prefer_vendors/partials/new_vendor'
