.marketplacebody{style: "overflow-x: hidden;"}
  = form_tag marketplace_path, :method => :get , id: "market_place_form" do
    .row.container
      .col-md-5.offset-md-3.pt-3
        .element-search.autosuggest-search-activator
          = text_field_tag :search_by_skills, params[:search_by_skills],placeholder: "search by skills", autofocus: false,class: "market_place_field form-control form-control-sm bright p-3"
      .col-md-4.pt-3.end-flex
        %i.picons-social-icon-periscope.mr-3{style: "font-size: 30px;"}
        %i.ti-layout-grid2-thumb{style: "font-size: 30px;"}
    .row.pt-2.end-flex
      .col-md-2
        %input{:type => "checkbox", :name => "company",class: "market_place_field" }Agency/Vendor
      .col-md-2
        %input{:type => "checkbox", :name => "candidate",class: "market_place_field"}Candidates(S)
      .col-md-1
        %input{:type => "checkbox", :name => "job",class: "market_place_field"}Jobs
      .col-md-2
        %input{:type => "checkbox", :name => "product",class: "market_place_field"}Products
      .col-md-2
        %input{:type => "checkbox", :name => "service",class: "market_place_field"}Services
      .col-md-2
        %input{:type => "checkbox", :name => "training",class: "market_place_field"}Trainings
    .row
      .col-md-10.offset-md-1.pt-2
        .element-search.autosuggest-search-activator
          = text_field_tag :search_by_skills_and_tag, params[:search_by_skills_and_tag],placeholder: "search by skills & tag", autofocus: false,class: "market_place_field form-control form-control-sm bright market_place_field p-3"
    - @prefer_vendors.each do |prefer_vendor|
      .container.mb-md-2.mb-xxl-3.mt-4.end-flex
        .col-sm-3
          %a.element-box.el-tablo.centered.trend-in-corner.padded.bold-label{:href => "#"}
            .label= prefer_vendor.company.name
            .trending
              %i.picons-thin-icon-thin-0709_user_profile_avatar_man_male{style: "font-size: 40px;"}
        .col-sm-3
          %a.element-box.el-tablo.centered.trend-in-corner.padded.bold-label{:href => "#"}
            .label Candidate Name
            .trending.trending-down-basic
              %i.picons-thin-icon-thin-0709_user_profile_avatar_man_male{style: "font-size: 40px;"}
        .col-sm-3
          %a.element-box.el-tablo.centered.trend-in-corner.padded.bold-label{:href => "#"}
            .label Job Title
            .trending
              %i.picons-thin-icon-thin-0709_user_profile_avatar_man_male{style: "font-size: 40px;"}
        .col-sm-3
          %a.element-box.el-tablo.centered.trend-in-corner.padded.bold-label{:href => "#"}
            .label Service Title
            .trending
              %i.picons-thin-icon-thin-0709_user_profile_avatar_man_male{style: "font-size: 40px;"}

  .timesheet_pagination_wrap.pt-3.m-3
    .pagination_label
      = page_entries_info @prefer_vendors
    = will_paginate(@prefer_vendors, {previous_label: "Previous",next_label: "Next",inner_window: 2,class: 'public_job_des_pagination_links'}.merge(link_options: {'data-remote': true}))

    .popup-custom.hidden



-content_for :scripts do
  :javascript
    $(document).ready(function(){
    $(".market_place_field").change(function() {

      $("#market_place_form").submit()

    });
    $(".ti-layout-grid2-thumb").click(function(){
      $(".popup-custom").fadeToggle("slow");

    });
      default_active_nav('.ln-4');
    })