.controls-above-table.mt-3
  .row.mr-1.ml-1
    .col-sm-12
      .form-inline.justify-content-sm-end
        %input.form-control.form-control-sm.rounded.bright{placeholder: "Search", type: "text", type: 'search', id: 'network_prefer_vendors_table-search'}
  .table-responsive
    %table#network_prefer_vendors_table.table.table-striped.table-bordered.table-v2.table-lg
      %thead
        %tr
          %th Name
          %th Owner
          %th Owner Email
          %th Domain
          %th Phone
          %th Status
          %th Actions
      %tbody
        - @network.each do |d|
          %tr
            %td.no-wrap.pr-4
              = user_image(d.prefer_vendor, class: 'data-table-image mr-1',title: "#{d.prefer_vendor&.full_name}")
              = link_to do_ellipsis(d.prefer_vendor.name,8) ,profile_company_path(d.prefer_vendor)
            %td.no-wrap
              = user_image(d.prefer_vendor.owner, class: 'data-table-image mr-1',title: "#{d.prefer_vendor.owner&.full_name}")
              = do_ellipsis(d.prefer_vendor.owner.full_name,15)  rescue "  --"
            %td= do_ellipsis(d.prefer_vendor.owner.try(:email),15)
            %td= d.company.domain rescue "  --"
            %td= d.company.phone rescue "  --"
            %td= colorfull_text(d.status.capitalize, d.rejected? ? 'red' : 'green')
            %td
              = link_to raw("<i class='fa fa-comment-o '></i>"), chat_link(d.prefer_vendor.owner),remote: true,method: :get,class: 'data-table-icons',title:"Chat with Company  #{d.prefer_vendor.name}",'data-toggle'=>"tooltip" ,'data-placement'=>"top"
              = link_to raw("<i class='picons-thin-icon-thin-0703_users_profile_group_two'></i>"), company_company_hot_candidates_path(d.prefer_vendor) , class:'data-table-icons' ,title:"Bench of  #{d.prefer_vendor.name}",'data-toggle'=>"tooltip" ,'data-placement'=>"top"

-content_for :scripts do
  :javascript
    $(document).ready(function(){
      default_active_nav('.ln-4');
    })