= simple_form_for @company_doc ,html:{ class:'form-horizontal'} do |f|
  %fieldset
    .form-group
      %label.col-md-2.control-label Name
      .col-md-10
        = f.text_field :name , class: 'form-control' , placeholder: 'Enter Document Name'
    .form-group
      %label.col-md-2.control-label File
      .col-md-10
        =f.fields_for :attachment ,id:"attachment" do |attach|
          = attach.filepicker_field :file , class: 'btn btn-primary file-pick', onChange: 'onUpload(event)'
          = attach.hidden_field :file_type,id:"type"
          = attach.hidden_field :file_size,id:"size"
          = attach.hidden_field :file_name,id:"name"
          = attach.hidden_field :company_id, value: current_company.id
    .form-group
      %label.checkbox.col-md-2.control-label Is Required Signature
      .col-md-10
        =f.check_box :is_required_signature
        -#%p.note
        -#  %strong Note:
        -#  works in Chrome, Firefox, Opera and IE10.
    .form-group
      %label.col-md-2.control-label Tags
      .col-md-10
        = f.text_field :tag_list , class: 'tagsinput form-control' ,"data-role" => "tagsinput" , placeholder: 'Enter Tags comma seperated'
  .form-actions
    .row
      .col-md-12
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
          Cancel
        = f.submit "Submit", class: 'btn btn-primary'
- content_for :scripts do
  :javascript

    $(document).ready(function() {

      $( ".file-pick" ).on('click',function() {

       $('.fp__overlay').css({'z-index':'99999'})});


      pageSetUp();


    });
    function onUpload(event) {
      var file=event.fpfile;
      var name = file.filename;
      var size=file.size;
      var type=file.mimetype;
      $('#name').val(name);
      $('#size').val(size);
      $('#type').val(type);

    }