<!-- Comments -->
  <div class="webflow-comments-header d-flex justify-content-between">
    <div class="webflow-comments-title">Reviews
      <span>(<%= @candidate.candidate_reviews.count %>)</span></div>
  </div>
  <div>
    <div>
      <%
=begin%>
 <div class="row">
        <div class="col">
          <div class="webflow-comments-card-author">
            Seller communication
            <br>
            <br>
            <span class="public-profile-rating">
              <i class="fa fa-star" aria-hidden="true" style="color: #FFC100;"></i>
              <span style="color: #FFC100;"><%= @candidate.candidate_reviews.average(:communication_rating).round || 0 %></span>
            </span>
          </div>
        </div>
        <div class="col">
          <div class="webflow-comments-card-author">
            Service as described
            <br>
            <br>
            <span class="public-profile-rating">
              <i class="fa fa-star" aria-hidden="true" style="color: #FFC100;"></i>
              <span style="color: #FFC100;"><%= @candidate.candidate_reviews.average(:service_rating).round || 0 %></span>
            </span>
          </div>
        </div>
        <div class="col">
          <div class="webflow-comments-card-author">
            Would recommend
            <br>
            <br>
            <span class="public-profile-rating">
              <i class="fa fa-star" aria-hidden="true" style="color: #FFC100;"></i>
              <span style="color: #FFC100;"><%= @candidate.candidate_reviews.average(:recommend_rating).round || 0 %></span>
            </span>
          </div>
        </div>
      </div>
      <hr> 
<%
=end%>
    </div>
    <% if @candidate.candidate_reviews.blank? %>
      No Reviews
    <% end %>
    <div id="static-profile-review">
      <%= render "static/candidates/webflow_candidate_rate" %>
    </div>
  </div>
  
