.row.mr-1.ml-1
  .col-sm-6
  .col-sm-6
    .form-inline.justify-content-sm-end
      %input.form-control.form-control-sm.rounded.bright{placeholder: "Search", type: "search", id: 'job_sent_inv_dataTable-search'}
      %button.btn.btn-sm.btn-secondary{type: "button", id: 'job_sent_inv_dataTable-search-btn'} Search
.table-responsive
  %table#job_sent_inv_dataTable.table.table-striped.table-bordered.table-v2.table-lg.dataTable.no-footer{"aria-describedby" => "datatable_fixed_column_info", :role => "grid", :style => "width: 100%;", :width => "100%"}
    %thead
      %tr{:role => "row"}
        %th.sorting{} Recipient Name
        %th.sorting{} Company
        %th.sorting{} Job
        %th.sorting{} Email / Username
        %th.sorting{} Created By
        %th.sorting{} Phone
        %th.sorting{} Expiry
        %th.sorting{} Status
        %th.sorting{} Actions
    %tbody
      - data.each_with_index  do |invitation,index|
        %tr.even{:role => "row"}
          %td
            =user_image(invitation.recipient, style: 'width: 35px; height: 35px;', class: 'data-table-image mr-2',title: "#{invitation.recipient&.full_name}" )
            = link_to bind_initials(invitation.recipient.first_name,invitation.recipient.last_name), public_profile_static_candidates_path(invitation.recipient.id) if invitation.recipient.present?
          %td.no-wrap.pr-5
            = link_to image_tag(invitation.recipient.company.logo,class: 'data-table-image') , profile_company_path(invitation.recipient.company.id) if invitation.recipient.present? && invitation.recipient_type != "Candidate"
            =link_to do_ellipsis(invitation.recipient.company.name,5), profile_company_path(invitation.recipient.company.id) if invitation.recipient.present? && invitation.recipient_type != "Candidate"
          %td= link_to do_ellipsis(invitation.job.title), job_path(invitation.job)
          %td= do_ellipsis(invitation.recipient.email,15) if invitation.recipient.present?
          %td
            -if invitation.created_by.try(:photo).nil? || invitation.created_by.try(:photo).empty?
              =default_user_img(invitation.created_by.first_name,invitation.created_by.last_name) if invitation.created_by
            -else
              = image_tag(invitation.created_by.photo, class: 'data-table-image').html_safe if invitation.created_by.present?
            - if invitation.created_by.present?
              = link_to bind_initials(invitation.created_by.first_name,invitation.created_by.last_name),public_profile_static_candidates_path(invitation.created_by.id) if invitation.recipient.present?
          %td= invitation.recipient.phone if invitation.recipient.present?
          %td= colorfull_text(invitation.expiry.strftime("%d of %B, %Y"),'#1AAE9F')
          %td= colorfull_text(invitation.status,'orange')
          %td= link_to raw("<i class='fa fa-eye '></i>") , job_invitation_path(invitation),title:"Detail of #{invitation.job.title}",class:"btn btn-xs btn-default",'data-toggle'=>"tooltip" ,'data-placement'=>"top"




= digg_pagination(data)

:css
  .form-control
  {
    background-color: white !important;
  }
  .dt-toolbar-footer{
  display:flex !important;
  }
-content_for :scripts do
  :javascript
    $(document).ready(function() {
     pageSetUp();

    });
