%body
  %div{:role => "content"}
    .jarviswidget-editbox
    .widget-body.no-padding
      #datatable_fixed_column_wrapper.dataTables_wrapper.form-inline.dt-bootstrap.no-footer
        %table#datatable_fixed_column2.table.table-striped.table-bordered.dataTable.no-footer{"aria-describedby" => "datatable_fixed_column_info", :role => "grid", :style => "width: 100%;", :width => "100%"}
          %thead
            %tr{:role => "row"}
              %th.hasinput{ :style => "width:10%"}
                %input.form-control{:placeholder => "Pic", :type => "text"}/
              %th.hasinput{ :style => "width:10%"}
                .input-group
                  %input.form-control{:placeholder => "Sender", :type => "text"}/
              %th.hasinput{:style => "width:10%"}
                %input.form-control{:placeholder => "Company", :type => "text"}/
              %th.hasinput{ :style => "width:10%"}
                %input.form-control{:placeholder => "Job", :type => "text"}/
              %th.hasinput{ :style => "width:10%"}
                %input.form-control{:placeholder => "Email / Username", :type => "text"}/
              %th.hasinput{ :style => "width:10%"}
                %input.form-control{:placeholder => "Created By", :type => "text"}/
              %th.hasinput{ :style => "width:10%"}
                %input.form-control{:placeholder => " Phone", :type => "text"}/
              %th.hasinput.icon-addon
                %input#dateselect_filter.form-control.datepicker.hasDatepicker{"data-dateformat" => "yy/mm/dd", :placeholder => "Filter Date", :type => "text"}/
                %label.glyphicon.glyphicon-calendar.no-margin.padding-top-15{"data-original-title" => "Expiry", :for => "dateselect_filter", :rel => "tooltip", :title => ""}
              %th.hasinput{:style => "width:10%"}
                %input.form-control{:placeholder => "Status", :type => "text"}/
              %th.hasinput{:style => "width:10%"}
                %input.form-control{:placeholder => "Actions", :type => "text"}/
            %tr{:role => "row"}
              %th.expand.sorting_asc Pic
              %th Sender
              %th Company
              %th Job
              %th Email / Username
              %th Created By
              %th Phone
              %th Expiry
              %th Status
              %th Actions
          %tbody
            - data.each_with_index  do |invitation,index|
              %tr.even{:role => "row"}
                %td= image_tag invitation.created_by.photo, alt: '', width: '20'
                %td= link_to invitation.created_by.full_name , '#'
                %td= link_to invitation.created_by.company.name , '#' if invitation.created_by.type!="Candidate"
                %td= link_to invitation.job.title ,invitation.job.is_public ? job_path(invitation.job) : "#"
                %td
                  = invitation.created_by.email
                %td= link_to invitation.created_by.full_name , '#'
                %td= invitation.recipient.phone
                %td= invitation.expiry
                %td= invitation_status_color( invitation.status )
                %td= link_to raw("<i class='fa fa-eye '></i>") , job_invitation_path(invitation),title:"Detail of #{invitation.job.title}",class:"btn btn-xs btn-default",'data-toggle'=>"tooltip" ,'data-placement'=>"top"
  
= digg_pagination(data)

:css
  .form-control
  {
    background-color: white !important;
  }

-content_for :scripts do
  :javascript
    $(document).ready(function() {
     pageSetUp();
      var responsiveHelper_dt_basic = undefined;
      var responsiveHelper_datatable_fixed_column2 = undefined;
      var responsiveHelper_datatable_col_reorder = undefined;
      var responsiveHelper_datatable_tabletools = undefined;
      var otable = $('#datatable_fixed_column2').DataTable({
            "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6 hidden-xs'f><'col-sm-6 col-xs-12 hidden-xs'<'toolbar'>>r>"+
                    "t"+
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
            "autoWidth" : true,
            "oLanguage": {
                "sSearch": '<span class="input-group-addon"><i class="icon-feather-search"></i></span>'
            }

        });

      // Apply the filter
      $("#datatable_fixed_column2 thead th input[type=text]").on( 'keyup change', function () {
        otable
            .column( $(this).parent().index()+':visible' )
            .search( this.value )
            .draw();

      } );

    });

