= render 'company/invoices/partials/invoice_header', invoice: @invoice
- if [:pending_invoice, :open].include?(@invoice.status.to_sym)
  = form_for @invoice do |f|
    .table-responsive.p-4
      %b.mb-1 Add Timesheet(s)
      %table.table.table-striped.table-bordered.table-v2.table-lg
        %thead
          %tr
            %th= "<input type='checkbox' name='select_all' id='ts_select_all'>".html_safe
            %th Ts ID
            %th Ts Type
            %th Contract ID & Title - Client
            %th Client
            %th From & To Date
            %th Plan. Hr
            %th Act. Hr
        %tbody
          - @timesheets.each do |ts|
            %tr
              - user = ts.contract_cycle.cycle_of.company
              %td= "<input type='checkbox' id='ts_ids' name='ids[]' value='#{ts.id}'>".html_safe
              %td= ts.id
              %td= ts.contract_cycle.cycle_frequency.capitalize
              %td= ts.contract.title
              %td=user_image(user, style: 'width: 35px; height: 35px;', class: 'data-table-image mr-2',title: "#{user.full_name}" )
              %td= "#{ts.start_date} - #{ts.end_date}"
              %td= ts.contract_cycle.cycle_of.get_rate(ts.start_date)&.working_hrs
              %td= ts.calculate_total_time
      = f.submit 'Add Timesheets', class: 'btn btn-primary pull-right'

