-#-if params["contract_id"].present?
-#  #content
-#  %section.margin-top-10.padding-10
-#    #wid-id-5.no-border
-#      %div
-#        %br/
-#        %br/
-#        .table{:style => "width:100"}
-#          %table#resultTable.table.table-striped.table-bordered.table-hover
-#            %thead
-#              %tr
-#                %th id
-#                %th Contract
-#                %th Start Date
-#                %th End Date
-#                %th Status
-#                %th Detail
-#            %tbody
-#              - @invoices.each_with_index do |invoice , index|
-#                %tr
-#                  %td= index+1
-#                  %td= invoice.contract.title.humanize
-#                  %td= invoice.start_date
-#                  %td= invoice.end_date
-#                  %td= invoice.status.humanize
-#                  %td
-#                    = link_to raw("<i class='fa fa-eye '></i>") , contract_invoice_path(invoice.contract , invoice) , target: '_blank' ,class: 'btn btn-md btn-default btn-primary',title: "View Detail"
-#
-#-elsif params[:sent_invoice]
-#  #content
-#    %body
-#      %section#widget-grid
-#        .row
-#          %article.col-xs-12.col-sm-12.col-md-12.col-lg-12.sortable-grid.ui-sortable
-#            #wid-id-1.jarviswidget.jarviswidget-color-blueDark.jarviswidget-sortable{"data-widget-editbutton" => "false", :role => "widget"}
-#              %header{:role => "heading"}
-#                %span.widget-icon
-#                  %i.fa.fa-table
-#                %h2 Sent Invoices
-#              / widget div
-#              %div{:role => "content"}
-#                .jarviswidget-editbox
-#                .widget-body.no-padding
-#                  #datatable_fixed_column_wrapper.dataTables_wrapper.form-inline.dt-bootstrap.no-footer
-#                    .dt-toolbar
-#                      .col-xs-12.col-sm-6.hidden-xs
-#                        #datatable_fixed_column_filter.dataTables_filter
-#                          %label
-#                            %span.input-group-addon{style: "background-color:#eee;"}
-#                              %i.glyphicon.glyphicon-search
-#                            %input.form-control{"aria-controls" => "datatable_fixed_column", :placeholder => "", :type => "search"}/
-#                      .col-sm-6.col-xs-12.hidden-xs
-#                        .toolbar
-#                          .text-right
-#                    -#= button_tag 'NEW' ,class: 'btn btn-success btn-md pull-right header-btn margin-top-5' , "data-toggle": "modal" , "data-target":"#new-job"
-#                    %table#datatable_fixed_column.table.table-striped.table-bordered.dataTable.no-footer{"aria-describedby" => "datatable_fixed_column_info", :role => "grid", :style => "width: 100%;", :width => "100%"}
-#                      %thead
-#                        %tr{:role => "row"}
-#                          %th.hasinput{ :style => "width:10%"}
-#                            %input.form-control{:placeholder => "id", :type => "text"}/
-#                          %th.hasinput{ :style => "width:10%"}
-#                            %input.form-control{:placeholder => "Contract", :type => "text"}/
-#                          %th.hasinput{ :style => "width:10%"}
-#                            %input.form-control{:placeholder => "Start Date", :type => "text"}/
-#                          %th.hasinput{ :style => "width:10%"}
-#                            %input.form-control{:placeholder => "End Date", :type => "text"}/
-#                          %th.hasinput{ :style => "width:10%"}
-#                            %input.form-control{:placeholder => "Status", :type => "text"}/
-#                          %th.hasinput{ :style => "width:10%"}
-#                            %input.form-control{:placeholder => "Actions", :type => "text"}/
-#                        %tr{:role => "row"}
-#                          %th id
-#                          %th Contract
-#                          %th Start Date
-#                          %th End Date
-#                          %th Status
-#                          %th Actions
-#                      %tbody
-#                        -  @send_contract_invoices.each_with_index do |invoice , index|
-#                          %tr
-#                            %td= index+1
-#                            %td= invoice.contract.title.humanize
-#                            %td= invoice.start_date
-#                            %td= invoice.end_date
-#                            %td= invoice.status.humanize
-#                            %td
-#                              = link_to raw("<i class='fa fa-eye '></i>") , contract_invoice_path(@contract , invoice) , target: '_blank' ,class: 'btn btn-xs btn-default ',title: "View Detail",'data-toggle'=>"tooltip" ,'data-placement'=>"top"
-#-elsif params[:received_invoice]
-#  #content
-#    %body
-#      %section#widget-grid
-#        .row
-#          %article.col-xs-12.col-sm-12.col-md-12.col-lg-12.sortable-grid.ui-sortable
-#            #wid-id-1.jarviswidget.jarviswidget-color-blueDark.jarviswidget-sortable{"data-widget-editbutton" => "false", :role => "widget"}
-#              %header{:role => "heading"}
-#                %span.widget-icon
-#                  %i.fa.fa-table
-#                %h2 Received Invoices
-#              / widget div
-#              %div{:role => "content"}
-#                .jarviswidget-editbox
-#                .widget-body.no-padding
-#                  #datatable_fixed_column_wrapper.dataTables_wrapper.form-inline.dt-bootstrap.no-footer
-#                    .dt-toolbar
-#                      .col-xs-12.col-sm-6.hidden-xs
-#                        #datatable_fixed_column_filter.dataTables_filter
-#                          %label
-#                            %span.input-group-addon{style: "background-color:#eee;"}
-#                              %i.glyphicon.glyphicon-search
-#                            %input.form-control{"aria-controls" => "datatable_fixed_column", :placeholder => "", :type => "search"}/
-#                      .col-sm-6.col-xs-12.hidden-xs
-#                        .toolbar
-#                          .text-right
-#                    -#= button_tag 'NEW' ,class: 'btn btn-success btn-md pull-right header-btn margin-top-5' , "data-toggle": "modal" , "data-target":"#new-job"
-#                    %table#datatable_fixed_column.table.table-striped.table-bordered.dataTable.no-footer{"aria-describedby" => "datatable_fixed_column_info", :role => "grid", :style => "width: 100%;", :width => "100%"}
-#                      %thead
-#                        %tr{:role => "row"}
-#                          %th.hasinput{ :style => "width:10%"}
-#                            %input.form-control{:placeholder => "id", :type => "text"}/
-#                          %th.hasinput{ :style => "width:10%"}
-#                            %input.form-control{:placeholder => "Contract", :type => "text"}/
-#                          %th.hasinput{ :style => "width:10%"}
-#                            %input.form-control{:placeholder => "Start Date", :type => "text"}/
-#                          %th.hasinput{ :style => "width:10%"}
-#                            %input.form-control{:placeholder => "End Date", :type => "text"}/
-#                          %th.hasinput{ :style => "width:10%"}
-#                            %input.form-control{:placeholder => "Status", :type => "text"}/
-#                          %th.hasinput{ :style => "width:10%"}
-#                            %input.form-control{:placeholder => "Actions", :type => "text"}/
-#                        %tr{:role => "row"}
-#                          %th id
-#                          %th Contract
-#                          %th Start Date
-#                          %th End Date
-#                          %th Status
-#                          %th Actions
-#                      %tbody
-#                        -  @rec_contract_invoices.each_with_index do |invoice , index|
-#                          %tr
-#                            %td= index+1
-#                            %td= invoice.contract.title.humanize
-#                            %td= invoice.start_date
-#                            %td= invoice.end_date
-#                            %td= invoice.status.humanize
-#                            %td
-#                              = link_to raw("<i class='fa fa-eye '></i>") , contract_invoice_path(invoice.contract , invoice) , target: '_blank' ,class: 'btn btn-md btn-default btn-primary',title: "View Detail"
-#
-#-else
-#  #content
-#    #wid-id-5.no-border.jarviswidget
-#      %div
-#        .widget-body
-#          %ul#myTab1.nav.nav-tabs.no-border
-#            %li.active
-#              %a{"data-toggle" => "tab", :href => "#tab-r1"}
-#                %span.badge.bg-color-blue.txt-color-white= @send_contract_invoices.count
-#                Sent Invoices
-#            %li
-#              %a{"data-toggle" => "tab", :href => "#tab-r2"}
-#                %span.badge.bg-color-blueDark.txt-color-white= @rec_contract_invoices.count
-#                Received Invoices
-#          .col-md-12
-#            .tab-content
-#              #tab-r1.tab-pane.padding-top-15.active.in
-#                = render 'company/invoices/partials/sent_invoices' , data: @send_contract_invoices
-#              #tab-r2.tab-pane.padding-top-15
-#                = render 'company/invoices/partials/receive_inovices' , data: @rec_contract_invoices
-#
-#:css
-#  .form-control
-#  {
-#    background-color: white !important;
-#  }
-#
-#
-#
-#
-#
-#
-#
-#
-#
-#
-#
-#
-#
-#
-#
-#
-#
-#
-#
-#
-#
-#
-#
-#
-#
-#
-#
-#
-#
-#
-#
-#
-#
-#
-#
-#
-#
-#
-#
-#
-#-#              -##content
-#-#  %section{style: 'margin-top: 10px;'}
-#-#    .row
-#-#      %article.col-xs-12.col-sm-12.col-md-12.col-lg-12
-#-#        #wid-id-0.jarviswidget
-#-#          %header
-#-#            %span.widget-icon
-#-#              %i.fa.fa-table
-#-#            %h2 #{@contract.title}
-#-#          %div
-#-#            .jarviswidget-editbox
-#-#            .widget-body.no-padding
-#-#              %table#dt_basic.table.table-striped.table-bordered.table-hover{:width => "100%"}
-#-#                %thead
-#-#                  %tr
-#-#                    %th{"data-hide" => "phone"} #
-#-#                    %th{"data-class" => "expand"}
-#-#                      %i.fa.fa-fw.fa-calendar.txt-color-blue.hidden-md.hidden-sm.hidden-xs
-#-#                      Start-Date
-#-#                    %th{"data-class" => "expand"}
-#-#                      %i.fa.fa-fw.fa-calendar.txt-color-blue.hidden-md.hidden-sm.hidden-xs
-#-#                      Last-Date
-#-#                    %th{"data-hide" => "phone,tablet"}
-#-#                %tbody
-#-#                  -@contract_invoices.each_with_index do |invoice , index|
-#-#                    %tr
-#-#                      %td= index + 1
-#-#                      %td= invoice.start_date
-#-#                      %td= invoice.end_date
-#-#                      %td
-#-#                        = link_to 'View Detail' , contract_invoice_path(@contract , invoice) , target: '_blank' ,class: 'btn btn-xs btn-default btn-primary'
-#-#                        -#= link_to raw("<i class='fa fa-times '></i>") , job_path(job) , method: :delete ,  class: 'btn btn-xs btn-default btn-danger'
-#-#                        -#= link_to 'Send Invitation' ,send_invitation_job_path(job) , method: :post ,remote: true,  class: 'btn btn-xs btn-default btn-success'
-#-#- content_for :modals do
-#-#  #job_invitation
-#-#-#
-#-#-#- content_for :scripts do
-#-#-#  :javascript
-#-#    // DO NOT REMOVE : GLOBAL FUNCTIONS!
-#-#
-#-#    $(document).ready(function() {
-#-#
-#-#      pageSetUp();
-#-#
-#-#      /* // DOM Position key index //
-#-#
-#-#       l - Length changing (dropdown)
-#-#       f - Filtering input (search)
-#-#       t - The Table! (datatable)
-#-#       i - Information (records)
-#-#       p - Pagination (paging)
-#-#       r - pRocessing
-#-#       < and > - div elements
-#-#       <"#id" and > - div with an id
-#-#       <"class" and > - div with a class
-#-#       <"#id.class" and > - div with an id and class
-#-#
-#-#       Also see: http://legacy.datatables.net/usage/features
-#-#       */
-#-#
-#-#      /* BASIC ;*/
-#-#      var responsiveHelper_dt_basic = undefined;
-#-#      var responsiveHelper_datatable_fixed_column = undefined;
-#-#      var responsiveHelper_datatable_col_reorder = undefined;
-#-#      var responsiveHelper_datatable_tabletools = undefined;
-#-#
-#-#      var breakpointDefinition = {
-#-#        tablet : 1024,
-#-#        phone : 480
-#-#      };
-#-#
-#-#      $('#dt_basic').dataTable({
-#-#        "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+
-#-#        "t"+
-#-#        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
-#-#        "autoWidth" : true,
-#-#        "oLanguage": {
-#-#          "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
-#-#        },
-#-#        "preDrawCallback" : function() {
-#-#          // Initialize the responsive datatables helper once.
-#-#          if (!responsiveHelper_dt_basic) {
-#-#            responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_basic'), breakpointDefinition);
-#-#          }
-#-#        },
-#-#        "rowCallback" : function(nRow) {
-#-#          responsiveHelper_dt_basic.createExpandIcon(nRow);
-#-#        },
-#-#        "drawCallback" : function(oSettings) {
-#-#          responsiveHelper_dt_basic.respond();
-#-#        }
-#-#      });
-#-#
-#-#      /* END BASIC */
-#-#
-#-#      /* COLUMN FILTER  */
-#-#      var otable = $('#datatable_fixed_column').DataTable({
-#-#        //"bFilter": false,
-#-#        //"bInfo": false,
-#-#        //"bLengthChange": false
-#-#        //"bAutoWidth": false,
-#-#        //"bPaginate": false,
-#-#        //"bStateSave": true // saves sort state using localStorage
-#-#        "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6 hidden-xs'f><'col-sm-6 col-xs-12 hidden-xs'<'toolbar'>>r>"+
-#-#        "t"+
-#-#        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
-#-#        "autoWidth" : true,
-#-#        "oLanguage": {
-#-#          "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
-#-#        },
-#-#        "preDrawCallback" : function() {
-#-#          // Initialize the responsive datatables helper once.
-#-#          if (!responsiveHelper_datatable_fixed_column) {
-#-#            responsiveHelper_datatable_fixed_column = new ResponsiveDatatablesHelper($('#datatable_fixed_column'), breakpointDefinition);
-#-#          }
-#-#        },
-#-#        "rowCallback" : function(nRow) {
-#-#          responsiveHelper_datatable_fixed_column.createExpandIcon(nRow);
-#-#        },
-#-#        "drawCallback" : function(oSettings) {
-#-#          responsiveHelper_datatable_fixed_column.respond();
-#-#        }
-#-#
-#-#      });
-#-#    });

-#%section#widget-grid
-#  .row
-#    %article.col-xs-12.col-sm-12.col-md-12.col-lg-12
-#      %table#jqgrid
-#      #pjqgrid
-#
-#- @temp = []
-#-@invoices.each do |inv|
-#  -@temp.push({transaction_id: inv.id, creation_date: inv.created_at, contract: inv.contract.number, client: inv.contract.sell_contracts.first.company.full_name,
-#                tax_type: inv.contract.contract_type, candidate: inv.contract.buy_contracts.first.candidate.full_name, company_customer: inv.contract.buy_contracts.first.company.present? ? inv.contract.buy_contracts.first.company.full_name : '',
-#                sell_rate: inv.contract.sell_contracts.first.customer_rate, cycle_date: "#{inv.start_date} - #{inv.end_date}", hours: inv.total_approve_time,
-#                recieved_date: inv.created_at, due_date: inv.created_at, pending: "#{rand(999)}",
-#                amount: inv.total_amount, attachment: "02/02/2018", status: inv.status})
-#
-#
-#/ END SHORTCUT AREA
-#/ ==================================================
-#%script{"data-pace-options" => "{ \"restartOnRequestAfter\": true }", :src => "js/plugin/pace/pace.min.js"}
-#%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"}
-#%script{:src => "https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"}
-#:javascript
-#  $(document).ready(function() {
-#    pageSetUp();
-#    var jqgrid_data = #{raw(@temp.to_json)};
-#
-#    jQuery("#jqgrid").jqGrid({
-#      data : jqgrid_data,
-#      datatype : "local",
-#      height : 'auto',
-#      colNames : ['Transaction ID', 'Creation Date', 'Contract', 'Client', 'Tax Type', 'candidate',
-#                  'Company Customer', 'Sell Rate', 'Timesheet Cycle', 'Hours', 'Received Date',
-#                  'Due Date', 'Pending', 'Amount', 'Attachment', 'status', 'Actions'],
-#      colModel : [ {
-#        name : 'transaction_id',
-#        index : 'transaction_id'
-#      },{
-#        name : 'creation_date',
-#        index : 'creation_date'
-#      }, {
-#        name : 'contract',
-#        index : 'contract',
-#        editable : true
-#      }, {
-#        name : 'client',
-#        index : 'client',
-#        editable : true
-#      }, {
-#        name : 'tax_type',
-#        index : 'tax_type',
-#        align : "right",
-#        editable : true
-#      }, {
-#        name : 'candidate',
-#        index : 'candidate',
-#        align : "right",
-#        editable : true
-#      }, {
-#        name : 'company_customer',
-#        index : 'company_customer',
-#        align : "right",
-#        editable : true
-#      },{
-#        name : 'sell_rate',
-#        index : 'sell_rate',
-#        sortable : false
-#      },{
-#        name : 'cycle_date',
-#        index : 'cycle_date',
-#        sortable : false
-#      },{
-#        name : 'hours',
-#        index : 'hours',
-#        sortable : false
-#      },{
-#        name : 'recieved_date',
-#        index : 'recieved_date',
-#        sortable : false
-#      },{
-#        name : 'due_date',
-#        index : 'due_date',
-#        sortable : false
-#      },{
-#        name : 'pending',
-#        index : 'pending',
-#        sortable : false
-#      },{
-#        name : 'amount',
-#        index : 'amount',
-#        sortable : false
-#      },{
-#        name : 'attachment',
-#        index : 'attachment',
-#        sortable : false
-#      },{
-#        name : 'status',
-#        index : 'status',
-#        sortable : false
-#      },{
-#        name : 'act',
-#        index : 'act',
-#        sortable : false
-#      }],
-#      rowNum : 10,
-#      rowList : [10, 20, 30],
-#      pager : '#pjqgrid',
-#      sortname : 'id',
-#      toolbarfilter : true,
-#      viewrecords : true,
-#      sortorder : "asc",
-#      gridComplete : function() {
-#        var ids = jQuery("#jqgrid").jqGrid('getDataIDs');
-#        for (var i = 0; i < ids.length; i++) {
-#           var cl = ids[i];
-#          var inv_id = $("#jqgrid").jqGrid('getCell', cl, "transaction_id");
-#
-#          ba = "<a href='/contracts/0/invoices/"+ inv_id +"/submit_invoice' ' class='btn btn-xs btn-default' title='Accept' rel='tooltip' 'data-placement'= 'top'> <i class='fa fa-check '></i> </a> " ;
-#          jQuery("#jqgrid").jqGrid('setRowData', ids[i], {
-#            act : ba
-#          });
-#
-#        }
-#      },
-#      editurl : "dummy.html",
-#      caption : "Timesheet",
-#      multiselect : true,
-#      autowidth : true,
-#
-#    });
-#    jQuery("#jqgrid").jqGrid('navGrid', "#pjqgrid", {
-#      edit : false,
-#      add : false,
-#      del : true
-#    });
-#    jQuery("#jqgrid").jqGrid('inlineNav', "#pjqgrid");
-#    /* Add tooltips */
-#    $('.navtable .ui-pg-button').tooltip({
-#      container : 'body'
-#    });
-#
-#    jQuery("#m1").click(function() {
-#      var s;
-#      s = jQuery("#jqgrid").jqGrid('getGridParam', 'selarrrow');
-#      alert(s);
-#    });
-#    jQuery("#m1s").click(function() {
-#      jQuery("#jqgrid").jqGrid('setSelection', "13");
-#    });
-#
-#    // remove classes
-#    $(".ui-jqgrid").removeClass("ui-widget ui-widget-content");
-#    $(".ui-jqgrid-view").children().removeClass("ui-widget-header ui-state-default");
-#    $(".ui-jqgrid-labels, .ui-search-toolbar").children().removeClass("ui-state-default ui-th-column ui-th-ltr");
-#    $(".ui-jqgrid-pager").removeClass("ui-state-default");
-#    $(".ui-jqgrid").removeClass("ui-widget-content");
-#
-#    // add classes
-#    $(".ui-jqgrid-htable").addClass("table table-bordered table-hover");
-#    $(".ui-jqgrid-btable").addClass("table table-bordered table-striped");
-#
-#    $(".ui-pg-div").removeClass().addClass("btn btn-sm btn-primary");
-#    $(".ui-icon.ui-icon-plus").removeClass().addClass("fa fa-plus");
-#    $(".ui-icon.ui-icon-pencil").removeClass().addClass("fa fa-pencil");
-#    $(".ui-icon.ui-icon-trash").removeClass().addClass("fa fa-trash-o");
-#    $(".ui-icon.ui-icon-search").removeClass().addClass("fa fa-search");
-#    $(".ui-icon.ui-icon-refresh").removeClass().addClass("fa fa-refresh");
-#    $(".ui-icon.ui-icon-disk").removeClass().addClass("fa fa-save").parent(".btn-primary").removeClass("btn-primary").addClass("btn-success");
-#    $(".ui-icon.ui-icon-cancel").removeClass().addClass("fa fa-times").parent(".btn-primary").removeClass("btn-primary").addClass("btn-danger");
-#
-#    $(".ui-icon.ui-icon-seek-prev").wrap("<div class='btn btn-sm btn-default'></div>");
-#    $(".ui-icon.ui-icon-seek-prev").removeClass().addClass("fa fa-backward");
-#
-#    $(".ui-icon.ui-icon-seek-first").wrap("<div class='btn btn-sm btn-default'></div>");
-#    $(".ui-icon.ui-icon-seek-first").removeClass().addClass("fa fa-fast-backward");
-#
-#    $(".ui-icon.ui-icon-seek-next").wrap("<div class='btn btn-sm btn-default'></div>");
-#    $(".ui-icon.ui-icon-seek-next").removeClass().addClass("fa fa-forward");
-#
-#    $(".ui-icon.ui-icon-seek-end").wrap("<div class='btn btn-sm btn-default'></div>");
-#    $(".ui-icon.ui-icon-seek-end").removeClass().addClass("fa fa-fast-forward");
-#
-#  })
-#
-#  $(window).on('resize.jqGrid', function() {
-#    $("#jqgrid").jqGrid('setGridWidth', $("#content").width());
-#  })
-#:javascript
-#  var _gaq = _gaq || [];
-#  _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
-#  _gaq.push(['_trackPageview']);
-#
-#  (function() {
-#    var ga = document.createElement('script');
-#    ga.type = 'text/javascript';
-#    ga.async = true;
-#    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
-#    var s = document.getElementsByTagName('script')[0];
-#    s.parentNode.insertBefore(ga, s);
-#  })();


#content
  %body
    %section#widget-grid
      .row
        %article.col-xs-12.col-sm-12.col-md-12.col-lg-12.sortable-grid.ui-sortable
          #wid-id-1.jarviswidget.jarviswidget-color-blueDark.jarviswidget-sortable{"data-widget-editbutton" => "false", :role => "widget"}
            %header{:role => "heading"}
              %span.widget-icon
                %i.fa.fa-table
              %h2 Received Invoices
            / widget div
            %div{:role => "content"}
              .jarviswidget-editbox
              .widget-body.no-padding
                #datatable_fixed_column_wrapper.dataTables_wrapper.form-inline.dt-bootstrap.no-footer
                  .dt-toolbar
                    .col-xs-12.col-sm-6.hidden-xs
                      #datatable_fixed_column_filter.dataTables_filter
                        %label
                          %span.input-group-addon{style: "background-color:#eee;"}
                            %i.glyphicon.glyphicon-search
                          %input.form-control{"aria-controls" => "datatable_fixed_column", :placeholder => "", :type => "search"}/
                    .col-sm-6.col-xs-12.hidden-xs
                      .toolbar
                        .text-right
                  -#= button_tag 'NEW' ,class: 'btn btn-success btn-md pull-right header-btn margin-top-5' , "data-toggle": "modal" , "data-target":"#new-job"
                  %table#datatable_fixed_column.table.table-striped.table-bordered.dataTable.no-footer{"aria-describedby" => "datatable_fixed_column_info", :role => "grid", :style => "width: 100%;", :width => "100%"}
                    %thead
                      -#%tr{:role => "row"}
                      -#  %th.hasinput{ :style => "width:10%"}
                      -#    %input.form-control{:placeholder => "id", :type => "text"}/
                      -#  %th.hasinput{ :style => "width:10%"}
                      -#    %input.form-control{:placeholder => "Contract", :type => "text"}/
                      -#  %th.hasinput{ :style => "width:10%"}
                      -#    %input.form-control{:placeholder => "Start Date", :type => "text"}/
                      -#  %th.hasinput{ :style => "width:10%"}
                      -#    %input.form-control{:placeholder => "End Date", :type => "text"}/
                      -#  %th.hasinput{ :style => "width:10%"}
                      -#    %input.form-control{:placeholder => "Hours", :type => "text"}/
                      -#  %th.hasinput{ :style => "width:10%"}
                      -#    %input.form-control{:placeholder => "Rate", :type => "text"}/
                      -#  %th.hasinput{ :style => "width:10%"}
                      -#    %input.form-control{:placeholder => "Status", :type => "text"}/
                      -#  %th.hasinput{ :style => "width:10%"}
                      -#    %input.form-control{:placeholder => "Actions", :type => "text"}/
                      %tr{:role => "row"}
                        %th id
                        %th Contract
                        %th Start Date
                        %th End Date
                        %th Hours
                        %th Rate
                        %th Status
                        %th Actions
                    %tbody
                      -  @invoices.each_with_index do |invoice , index|
                        %tr
                          %td= index+1
                          %td= invoice.contract.title.humanize
                          %td= invoice.start_date
                          %td= invoice.pending_submission? ? (best_in_place invoice,:end_date, :as => :date, :place_holder => "Click me to add content!") : invoice.end_date
                          %td= invoice.total_approve_time
                          %td= invoice.rate
                          %td= invoice.status.humanize
                          %td
                            = link_to raw("<i class='fa fa-eye'></i>"), timesheet_check_invoice_path(invoice), remote: true, class: 'btn btn-md btn-default btn-primary',title: "Details"
                            = link_to raw("<i class='fa fa-fax'></i>"), accept_invoice_contract_invoice_path(invoice.contract, invoice), class: 'btn btn-md btn-default btn-primary',title: "Submit Invoice", method: "POST", data: {confirm:  'Are you sure?'} if invoice.pending_submission?
                            = link_to raw("<i class='fa fa-dollar'></i>"), paid_invoice_contract_invoice_path(invoice.contract, invoice), class: 'btn btn-md btn-default btn-primary',title: "Paid Invoice", data: {confirm:  'Are you sure?'} if invoice.submitted?
                            =# link_to raw("<i class='fa fa-fax'></i>") , timesheet_check_invoice_path(invoice), target: '_blank', class: 'btn btn-md btn-default btn-primary',title: "Submit Invoice"

.modal.fade{id: "invoice-confirmation-model"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
          ×
        %h4.modal-title
          %strong Invoice Details
      #invoice-confirmation-model-body.modal-body


:css
  .form-control
  {
    background-color: white !important;
  }

- content_for :scripts do
  :javascript
    $(document).ready(function() {
      $(".best_in_place").best_in_place();
      $(".best_in_place").bind("ajax:success", function(){ location.reload() });
    });