.element-wrapper.m-2
  .element-box
    =render('company/invoices/partials/purchase_table_filter')

    #tab-r2.tab-pane.padding-top-15
      .table-responsive.p-3
        %table.table.table-striped.table-bordered.table-v2.table-lg
          %thead
            %tr{:role => "row"}
              %th id
              %th Contract
              %th Sender
              %th Created at - Due
              %th Hours
              %th Type
              %th Total
              %th Paid
              %th Status
              %th Actions
          %tbody
            -  @receive_invoices.each_with_index do |invoice , index|
              %tr
                %td= invoice.id
                %td.no-wrap.pr-3
                  = link_to do_ellipsis(invoice.contract.title,15),  company_sell_contract_contract_path(invoice.contract)
                %td.no-wrap.pr-5
                  =user_image(invoice.sender_company, style: 'width: 35px; height: 35px;', class: 'data-table-image mr-2',title: "#{invoice.sender_company.full_name}" )

                  =link_to(do_ellipsis(invoice.sender_company.full_name), profile_company_path(invoice.sender_company))
                %td= invoice.start_date.to_s + " - " + invoice.end_date.to_s
                %td= invoice.total_approve_time
                %td= snake_to_words(invoice.invoice_type)
                %td= invoice.total_amount
                %td= invoice.billing_amount
                %td= invoice.status.humanize
                %td.no-wrap
                  = link_to raw("<i class='fa fa-eye'></i>"), timesheet_check_invoice_path(invoice), remote: true, class: 'data-table-icons',title: "Details"
                  = link_to raw("<i class='fa fa-file-pdf-o'></i>"), contract_invoice_path(contract_id: invoice.contract_id,id: invoice.id, format: :pdf), class: 'data-table-icons',title: "Details" if invoice.submitted?
                  -#= link_to raw("<i class='fa fa-fax'></i>"), submit_invoice_contract_invoice_path(contract_id: invoice.contract,id: invoice), class: 'data-table-icons',title: "Submit Invoice", data: {confirm:  'Do you want to submit this invoice?'} if invoice.open?
                  -#= link_to raw("<i class='fa fa-edit'></i>"), invoice.timesheet_invoice? ? edit_invoice_path( invoice) : client_expense_invoice_invoice_path(invoice) , class: 'data-table-icons',title: "Add Timesheet(s)" if invoice.open?
        .timesheet_pagination_wrap
          .pagination_label
            = page_entries_info @receive_invoices
          = will_paginate(@receive_invoices, {params: {tab: 'sale'},previous_label: "Previous",next_label: "Next",inner_window: 2,class: 'invoices_pagination_links'})

.modal{id: "invoice-confirmation-model"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h4.modal-title
          %strong Invoice Details
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
          ×
      #invoice-confirmation-model-body.modal-body


:css
  .form-control
  {
    background-color: white !important;
  }

- content_for :scripts do
  :javascript
    $(document).ready(function() {
      default_active_nav('.ln-9');
    });