= simple_form_for @employee ,url: employees_path ,method: 'post' , html: {id: 'wizard-1' ,novalidate: "novalidate" } do |e|
  = e.simple_fields_for :employee_profile do |p|
    #bootstrap-wizard-1.col-sm-12
      .form-bootstrapWizard
        %ul.bootstrapWizard.form-wizard
          %li.active{"data-target" => "#step1"}
            %a{"data-toggle" => "tab", :href => "#tab1"}
              %span.step 1
              %span.title Basic information
          %li{"data-target" => "#step2"}
            %a{"data-toggle" => "tab", :href => "#tab2"}
              %span.step 2
              %span.title Employment Detail
          -#%li{"data-target" => "#step3"}
          -#  %a{"data-toggle" => "tab", :href => "#tab3"}
          -#    %span.step 3
          -#    %span.title Address
          %li{"data-target" => "#step4"}
            %a{"data-toggle" => "tab", :href => "#tab4"}
              %span.step 3
              %span.title Save Form
        .clearfix
      .tab-content
        #tab1.tab-pane.active
          %br/
          %h3
            %strong Step 1
            \- Basic Information
          .row
            .col-sm-6
              .form-group
                .input-group
                  %span.input-group-addon
                    %i.fa.fa-user.fa-lg.fa-fw
                  = e.text_field :first_name , class: 'form-control input-lg' , id: 'fname' , placeholder: "First Name" , required: true
            -#%input#fname.form-control.input-lg{:name => "fname", :placeholder => "First Name", :type => "text"}/
            .col-sm-6
              .form-group
                .input-group
                  %span.input-group-addon
                    %i.fa.fa-user.fa-lg.fa-fw
                  = e.text_field :last_name , class: 'form-control input-lg' , id: 'lname' , placeholder: "Last Name" , required: true
          .row
            .col-sm-12
              .form-group
                .input-group
                  %span.input-group-addon
                    %i.fa.fa-envelope.fa-lg.fa-fw
                  = e.email_field :email , class: 'form-control input-lg' , id: 'email' , placeholder: "email@address.com" , required: true
          .row
            .col-sm-12
              .form-group
                .input-group
                  %span.input-group-addon
                    %i.fa.fa-envelope.fa-lg.fa-fw
                  -#= p.select :role_ids, options_for_select(@roles.collect{ |role| [role.name, role.id]})
                  = e.collection_select :role_ids, @roles, :id, :name, {}, {:class=>"form-control input-lg multi-select2-role",:multiple => true,required: true}
        #tab2.tab-pane
          %br/
          %h3
            %strong Step 2
            \- Employment Detail
          .row
            .col-sm-6
              .form-group
                .input-group
                  %span.input-group-addon
                    %i.fa.fa-user.fa-lg.fa-fw
                  = p.text_field :designation , class: 'form-control input-lg' , placeholder: "Enter Designation" , required: true
            -#%input#wphone.form-control.input-lg{"data-mask" => "+99 (999) 999-9999", "data-mask-placeholder" => "X", :name => "wphone", :placeholder => "+1", :type => "text"}/

            .col-sm-6
              .form-group
                .input-group
                  %span.input-group-addon
                    %i.fa.fa-user.fa-lg.fa-fw
                  = p.text_field :joining_date , class: 'form-control input-lg' , placeholder: "Enter Joining Date" , required: true
          .row
            .col-sm-12
              .form-group
                .input-group
                  %span.input-group-addon
                    %i.fa.fa-mobile.fa-lg.fa-fw
                  = p.select :employment_type, [['Full Time (30 hours or more)','full_time'],['Part Time (30 hours or less)','part_time'],['Temp or Intern','temp_intern']], {}, {:class=>"form-control input-lg"}
          .row
            .col-sm-6
              .form-group
                .input-group
                  %span.input-group-addon
                    %i.fa.fa-mobile.fa-lg.fa-fw
                  = p.select :salary_type, [['Salaried','salaried'],['Hourly','hourly']], {}, {:class=>"form-control input-lg"}
            .col-sm-6
              .form-group
                .input-group
                  %span.input-group-addon
                    %i.fa.fa-mobile.fa-lg.fa-fw
                  = p.text_field :salary , class: 'form-control input-lg' , placeholder: "Enter Salary" , required: true

        #tab4.tab-pane
          %br/
          %h3
            %strong Step 4
            \- Save Form
          %br/
          %h1.text-center.text-success
            %strong
              %i.fa.fa-check.fa-lg
              Complete
          %h4.text-center Click next to finish
          %br/
          %br/
        .form-actions
          .row
            .col-sm-12
              %ul.pager.wizard.no-margin
                %li.previous.disabled
                  %a.btn.btn-lg.btn-default{:href => "javascript:void(0);"} Previous
                %li.next
                  %a.btn.btn-lg.txt-color-darken{:href => "javascript:void(0);"} Next
                %li.pull-right.finish{:style=>"di"}
                  %a.btn.btn-lg.btn-default{:href => "javascript:;"} Finish