<div class="top-bar color-scheme-transparent" style="z-index: 10000;">
  <!--------------------START - Top Menu Controls-------------------->
  <div class="top-menu-controls">
    <div class="element-search autosuggest-search-activator">
      <input placeholder="Find reports and more" type="text">
    </div>
    <!--   START Notifications -->

    <div class="messages-notifications os-dropdown-trigger os-dropdown-position-left">
      <a href="<%= notify_notifications_candidates_path(status: "unread", notification_type: "all_notifications") %>"><i class="ti-bell"></i></a>
      <% if current_candidate.notifications.unread.count > 0 %>
        <div class="new-messages-count"><%= current_candidate.notifications.unread.count %></div>
      <% end %>
    </div>

    <!--   END Notifications -->
    <!--------------------START - Messages Link in secondary top menu-------------------->
    <div class="messages-notifications os-dropdown-trigger os-dropdown-position-left">
      <a href="<%= candidate_conversations_path %>"><i class="os-icon os-icon-mail-14"></i></a>
      <!-- Below is message count icon. Uncomment to add back in. -->
      <!--div class="new-messages-count">1</div-->
      <!--      <div class="os-dropdown light message-list">-->
      <!--        <ul>-->
      <!--          <li>-->
      <!--            <a href="#">-->
      <!--              <div class="user-avatar-w">-->
      <%#= image_tag "avatars/m_sunny_big.png" %>
      <!--              </div>-->
      <!--              <div class="message-content">-->
      <!--                <h6 class="message-from">John Mayers</h6>-->
      <!--                <h6 class="message-title">Sample Message</h6>-->
      <!--              </div>-->
      <!--            </a>-->
      <!--          </li>-->
      <!--        </ul>-->
      <!--      </div>-->
    </div>
    <!--------------------END - Messages Link in secondary top menu-------------------->
    <!--------------------START - Features Link in secondary top menu-------------------->
    <div class="top-icon btn-header transparent pull-right open" id="quick-add">
      <i class="ti-plus"></i>
      <ul class="dropdown-menu project-dropdown" style="right: 120px !important; left: initial;">
        <li>
          <div class=".sub-title">Timer(s)</div>
          <ul>
            <li>
              <a href="<%= timeline_candidate_contracts_path(cycle_type: "timesheet") %>"><span>Add Timesheets</span></a>
            </li>
          </ul>
        </li>
        <li>
          <div class=".sub-title">Expense(s)</div>
          <ul>
            <li>
              <a href="<%= new_candidate_expense_path(cycle_type: "timesheet") %>"><span>Request Expenses</span></a>
            </li>
          </ul>
        </li>
      </ul>
    </div>


    <!--------------------END - Features Link in secondary top menu-------------------->
    <!--------------------START - User Link in secondary top menu-------------------->
    <div class="top-icon top-settings os-dropdown-trigger os-dropdown-position-left">
      <div class="logged-user-w" style="padding-left: 0px; padding-right: 0px;">
        <div class="logged-user-i">
          <div class="avatar-w">
            <%= link_to my_profile_path do %>
              <%= user_image(current_candidate, style: 'width: 35px; height: 35px;', class: 'data-table-image mr-1', title: "#{current_candidate.full_name}") %>
            <% end %>
          </div>
          <div class="os-dropdown">
            <div class="icon-w">
              <i class="os-icon os-icon-ui-46"></i>
            </div>
            <%= link_to "", destroy_candidate_session_path, method: :delete, class: 'hidden', id: 'logout-hidden' %>
            <ul>
              <li>
                <%= link_to(destroy_candidate_session_path, title: 'Sign Out', data: {action: 'userLogout', 'logout-msg' => 'You can improve your security further after logging out by closing this opened browser'}) do %>
                  <i class="os-icon os-icon-signs-11"></i>
                  <span>Logout</span>
                <% end %>
              </li>
              <li>
                <a href="<%= onboarding_profile_path %>">
                  <i class="os-icon os-icon-user-male-circle2"></i>
                  <span>Onboarding</span>
                </a>
              </li>
              <li>
                <a href="<%= my_profile_path %>">
                  <i class="os-icon os-icon-user-male-circle2"></i>
                  <span>Profile</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--------------------END - User Link in secondary top menu-------------------->
  </div>
  <!--------------------END - Top Menu Controls-------------------->
</div>