<div id="togglebutton" onclick="toglleMenu()" class="togglebtncontainer">
  <div class="os-icon os-icon-hamburger-menu-1"></div>
</div>
<script>
    function toglleMenu() {
        var menu = document.querySelector('#toggledmenubar').classList.toggle("displayblock");
        document.querySelector('#togglebutton').classList.toggle('leftChanged')
    }
</script>
<div id="toggledmenubar" class="menu-w color-scheme-light fixed-height color-style-default menu-position-side menu-side-left menu-layout-compact sub-menu-style-flyout sub-menu-color-light selected-menu-color-light menu-activated-on-hover menu-has-selected-link">
  <div class="logged-user-w avatar-inline p-1 m-1">
    <div class="logged-user-i">
      <div class="avatar-w">
        <% if current_candidate.associated_company %>
          <%= link_to image_tag(current_candidate.associated_company.photo, alt: 'me'), '#' %>
        <% else %>
          <%= image_tag 'default_logo.png' %>
        <% end %>
      </div>
      <div class="logged-user-info-w">
        <div class="logged-user-name">
          <% if current_candidate.associated_company %>
            <%= link_to current_candidate.associated_company.name, '#', class: "text-muted" %>
          <% else %>
            <a href="#" class="text-muted"> freelancer</a>
          <% end %>
        </div>
        <!--div class="logged-user-role">My Team</div-->
      </div>
    </div>
  </div>
  <div class="candidate_nav logged-user-w avatar-inline pl-4 pt-0 pr-0">
    <div class="side-bar_nav w-100 pr-2" style="height: calc(100vh - 136px);overflow-y: auto;">
      <a href="/candidate" class="side-bar_tab side-bar_links">
        <div class="icon-w">
          <i class="ti-home"></i>
        </div>
        <span>Dashboard</span>
      </a>
      <a href="<%= candidate_conversations_path %>" class="side-bar_tab side-bar_links">
        <div class="icon-w">
          <i class="ti-email"></i>
        </div>
        <span>Inbox</span>
      </a>
      <!--      <a href="<%#= %>" class="side-bar_tab side-bar_links">-->
      <!--        <div class="icon-w">-->
      <!--          <i class="ti-pulse"></i>-->
      <!--        </div>-->
      <!--        <span>Activity Log</span>-->
      <!--      </a>-->

      <a class="sidebar_collapsible side-bar_tab">
        <div class="icon-w">
          <i class="ti-world"></i>
        </div>
        <span>Network</span>
      </a>
      <div class="pl-4 w-100 text-justify nav-sidebar-collaps">
        <a href="<%= "#" %>" class="l2 side-bar_links nested_tab boarder_bottom">Company</a>
        <a href="<%= "#" %>" class="l2 side-bar_links nested_tab boarder_bottom">Contacts</a>
        <a href="<%= "#" %>" class="l2 side-bar_links nested_tab boarder_bottom">Groups</a>
        <a href="<%= "#" %>" class="l2 side-bar_links nested_tab boarder_bottom">Lists</a>
        <a href="<%= "#" %>" class="l2 side-bar_links nested_tab boarder_bottom">Directory</a>
      </div>

      <a class="sidebar_collapsible side-bar_tab">
        <div class="icon-w">
          <i class="icon-graduation"></i>
        </div>
        <span>Bench</span>
      </a>
      <div class="pl-4 w-100 text-justify nav-sidebar-collaps">
        <a href="<%= candidate_invitations_bench_path %>" class="l2 side-bar_links nested_tab boarder_bottom">My Company</a>
        <a href="<%= candidate_jobs_path %>" class="l2 side-bar_links nested_tab boarder_bottom">Public Jobs</a>
        <a href="<%= "#" %>" class="l2 side-bar_links nested_tab boarder_bottom">Bench Jobs</a>
        <a href="<%= "#" %>" class="l2 side-bar_links nested_tab boarder_bottom">Add Bench Job</a>
      </div>
      <a class="sidebar_collapsible side-bar_tab">
        <div class="icon-w">
          <i class="icon-people"></i>
        </div>
        <span>Jobs</span>
      </a>
      <div class="pl-4 w-100 text-justify nav-sidebar-collaps">
        <a href="<%= candidate_job_invitations_path %>" class="l2 side-bar_links nested_tab boarder_bottom">Invited
          Jobs</a>
        <a href="<%= candidate_jobs_path %>" class="l2 side-bar_links nested_tab boarder_bottom">Public Jobs</a>
      </div>
      <a class="sidebar_collapsible side-bar_tab">
        <div class="icon-w">
          <i class="fa fa-id-card-o"></i>
        </div>
        <span>Applications</span>
      </a>
      <div class="pl-4 w-100 text-justify nav-sidebar-collaps">
        <a class="l2 side-bar_links nested_tab boarder_bottom" href="<%= candidate_job_applications_path %>">My
          Applications</a>
        <a class="l2 side-bar_links nested_tab boarder_bottom" href="<%= "#" %>">Rate confirmations</a>
        <a class="l2 side-bar_links nested_tab boarder_bottom" href="<%= "#" %>">Pre-interview</a>
        <a class="l2 side-bar_links nested_tab boarder_bottom" href="<%= "#" %>">Client interview</a>
      </div>
      <a class="sidebar_collapsible side-bar_tab">
        <div class="icon-w">
          <i class="os-icon os-icon-hierarchy-structure-2"></i>
        </div>
        <span>HR</span>
      </a>
      <div class="pl-4 w-100 text-justify nav-sidebar-collaps">
        <a class="l2 side-bar_links nested_tab boarder_bottom" href="<%= candidate_contracts_path %>">Contracts</a>
        <a class="l2 side-bar_links nested_tab boarder_bottom" href="<%= timeline_candidate_contracts_path %>">Timeline</a>
        <a class="l2 side-bar_links nested_tab boarder_bottom" href="<%= candidate_document_signs_path %>">Doduments
          Request</a>
      </div>
      <a class="sidebar_collapsible side-bar_tab">
        <div class="icon-w">
          <i class="icon-plane"></i>
        </div>
        <span>Expenses</span>
      </a>
      <div class="pl-4 w-100 text-justify nav-sidebar-collaps">
        <a href="#" class="side-bar_links nested_tab boarder_bottom">Open Bills</a>
        <a href="#" class="side-bar_links nested_tab boarder_bottom">Bill Payments</a>
        <a href="#" class="side-bar_links nested_tab boarder_bottom">Expense Payments</a>
      </div>

      <a class="sidebar_collapsible side-bar_tab">
        <div class="icon-w">
          <i class="picons-thin-icon-thin-0417_calculator"></i>
        </div>
        <span>Accounting</span>
      </a>
      <div class="pl-4 w-100 text-justify nav-sidebar-collaps">
        <a class="sidebar_collapsible nested_tab">
          <div class="icon-w">
            <i class="icon-handbag"></i>
          </div>
          <span>Sales</span>
        </a>
        <div class="pl-4 w-100 text-justify l3 nav-sidebar-collaps">
          <a href="<%= "#" %>" class="side-bar_links nested_tab boarder_bottom">Open Invoices</a>
          <a href="<%= "#" %>" class="side-bar_links nested_tab boarder_bottom">Cleared
            Invoices</a>
          <a href="<%= "#" %>" class="side-bar_links nested_tab boarder_bottom">Payments</a>
        </div>
        <a class="sidebar_collapsible nested_tab">
          <div class="icon-w">
            <i class="ti-shopping-cart"></i>
          </div>
          <span>Purchasing</span>
        </a>
        <div class="pl-4 w-100 l3 text-justify nav-sidebar-collaps">
          <a href="<%= "#" %>" class="side-bar_links nested_tab boarder_bottom">Open
            Bills</a>
          <a href="<%= "#" %>" class="side-bar_links nested_tab boarder_bottom">Vendor
            Bills</a>
          <a href="<%= "#" %>" class="side-bar_links nested_tab boarder_bottom">Bill
            Pay</a>
        </div>
        <a class="sidebar_collapsible nested_tab">
          <div class="icon-w">
            <i class="picons-thin-icon-thin-0420_money_cash_coins_payment_dollars"></i>
          </div>
          <span>Salaries</span>
        </a>
        <div class="pl-4 w-100 l3 text-justify nav-sidebar-collaps">
          <a href="<%= "#" %>" class="side-bar_links nested_tab boarder_bottom">Salary
            to Pay</a>
          <a href="<%= "#" %>" class="side-bar_links nested_tab boarder_bottom">Salary Advance</a>
          <a href="<%= "#" %>" class="side-bar_links nested_tab boarder_bottom">Salary Calculations</a>
          <a href="#" class="side-bar_links nested_tab boarder_bottom">Salary Payments</a>
        </div>
      </div>

      <a href="<%= candidate_timesheets_path %>" class="side-bar_tab side-bar_links">
        <div class="icon-w">
          <i class="ti-timer"></i>
        </div>
        <span>Timesheets</span>
      </a>
    </div>
    <div class="side-bar_icons">
      <a class="">
        <div class="icon-w">
          <i class="os-icon os-icon-search"></i>
        </div>
      </a>
      <a class="">
        <div class="icon-w">
          <i class="ti-world"></i>
        </div>
      </a>
      <a class="">
        <div class="icon-w">
          <i class="ti-settings"></i>
        </div>
      </a>
    </div>
  </div>
</div>