<div id="togglebutton" onclick="toglleMenu()" class="togglebtncontainer">
  <div class="os-icon os-icon-hamburger-menu-1"></div>
</div>
<script>
  function toglleMenu () {
    var menu = document.querySelector('#toggledmenubar').classList.toggle("displayblock");
    document.querySelector('#togglebutton').classList.toggle('leftChanged')
  }
</script>
<div id="toggledmenubar" class="menu-w color-scheme-light fixed-height color-style-default menu-position-side menu-side-left menu-layout-compact sub-menu-style-flyout sub-menu-color-light selected-menu-color-light menu-activated-on-hover menu-has-selected-link">
  <div class="logged-user-w avatar-inline p-1 m-1">
    <div class="logged-user-i">
      <div class="avatar-w">
        <% if current_candidate.associated_company %>
          <%= link_to image_tag(current_candidate.associated_company.photo, alt: 'me'), '#' %>
        <% else %>
          <%= image_tag 'default_logo.png' %>
        <% end %>
      </div>
      <div class="logged-user-info-w">
        <div class="logged-user-name">
          <% if current_candidate.associated_company %>
            <%= link_to current_candidate.associated_company.name, '#', class: "text-muted" %>
          <% else %>
            <a href="#" class="text-muted"> freelancer</a>
          <% end %>
        </div>
        <!--div class="logged-user-role">My Team</div-->
      </div>
    </div>
  </div>
  <div class="logged-user-w avatar-inline pl-4 pt-0 pr-0">
    <div class="side-bar_nav w-100 pr-2" style="height: calc(100vh - 136px);overflow-y: auto;">
      <a href="/candidate" class="side-bar_tab side-bar_links">
        <div class="icon-w">
          <i class="ti-home"></i>
        </div>
        <span>Dashboard</span>
      </a>
      <a href="<%= candidate_conversations_path %>" class="side-bar_tab side-bar_links">
        <div class="icon-w">
          <i class="ti-email"></i>
        </div>
        <span>Inbox</span>
      </a>
      <a href="<%= %>" class="side-bar_tab side-bar_links">
        <div class="icon-w">
          <i class="ti-pulse"></i>
        </div>
        <span>Activity Log</span>
      </a>
      <a class="sidebar_collapsible side-bar_tab">
        <div class="icon-w">
          <i class="ti-world"></i>
        </div>
        <span>Network</span>
      </a>
      <div class="pl-4 w-100 text-justify nav-sidebar-collaps">
        <a href="<%= "#" %>" class="l2 side-bar_links nested_tab boarder_bottom">Company</a>
        <a href="<%= "#" %>" class="l2 side-bar_links nested_tab boarder_bottom">Contacts</a>
        <a href="<%= "#" %>" class="l2 side-bar_links nested_tab boarder_bottom">Groups</a>
        <a href="<%= "#" %>" class="l2 side-bar_links nested_tab boarder_bottom">Lists</a>
        <a href="<%= "#" %>" class="l2 side-bar_links nested_tab boarder_bottom">Directory</a>
      </div>

      <a class="sidebar_collapsible side-bar_tab">
        <div class="icon-w">
          <i class="icon-graduation"></i>
        </div>
        <span>Bench</span>
      </a>
      <div class="pl-4 w-100 text-justify nav-sidebar-collaps">
        <a href="<%= "#" %>" class="l2 side-bar_links nested_tab boarder_bottom">My Company/Contacts</a>
        <a href="<%= candidate_jobs_path %>" class="l2 side-bar_links nested_tab boarder_bottom">Public Jobs</a>
        <a href="<%= "#" %>" class="l2 side-bar_links nested_tab boarder_bottom">Bench Jobs</a>
        <a href="<%= "#" %>" class="l2 side-bar_links nested_tab boarder_bottom">Add Bench Job</a>
      </div>
      <a href="<%= candidate_job_invitations_path %>" class="side-bar_tab side-bar_links">
        <div class="icon-w">
          <i class="ti-email"></i>
        </div>
        <span>Invitations</span>
      </a>
      <a class="sidebar_collapsible side-bar_tab">
        <div class="icon-w">
          <i class="icon-people"></i>
        </div>
        <span>Jobs</span>
      </a>
      <div class="pl-4 w-100 text-justify nav-sidebar-collaps">
        <a href="<%= "#" %>" class="l2 side-bar_links nested_tab boarder_bottom">My Jobs</a>
        <a href="<%= "#" %>" class="l2 side-bar_links nested_tab boarder_bottom">Invited</a>
        <a href="<%= candidate_jobs_path %>" class="l2 side-bar_links nested_tab boarder_bottom">Public Jobs</a>
      </div>
      <a class="sidebar_collapsible side-bar_tab">
        <div class="icon-w">
          <i class="fa fa-id-card-o"></i>
        </div>
        <span>HR</span>
      </a>
      <div class="pl-4 w-100 text-justify nav-sidebar-collaps">
        <a class="l2 side-bar_links nested_tab boarder_bottom" href="<%= candidate_contracts_path %>">Buy Contract</a>
        <a class="l2 side-bar_links nested_tab boarder_bottom" href="<%= "#" %>">Sell contract</a>
      </div>
      <a class="sidebar_collapsible side-bar_tab">
        <div class="icon-w">
          <i class="fa fa-id-card-o"></i>
        </div>
        <span>Applications</span>
      </a>
      <div class="pl-4 w-100 text-justify nav-sidebar-collaps">
        <a class="l2 side-bar_links nested_tab boarder_bottom" href="<%= candidate_job_applications_path %>">My
          Applications</a>
        <a class="l2 side-bar_links nested_tab boarder_bottom" href="<%= "#" %>">Rate confirmations</a>
        <a class="l2 side-bar_links nested_tab boarder_bottom" href="<%= "#" %>">Pre-interview</a>
        <a class="l2 side-bar_links nested_tab boarder_bottom" href="<%= "#" %>">Client interview</a>
      </div>
      <a class="sidebar_collapsible side-bar_tab">
        <div class="icon-w">
          <i class="ti-timer"></i>
        </div>
        <span>Timesheets</span>
      </a>
      <div class="pl-4 w-100 text-justify nav-sidebar-collaps">
        <a class="l2 side-bar_links nested_tab boarder_bottom" href="<%= candidate_timesheets_path %>">Timesheets</a>
        <a class="l2 side-bar_links nested_tab boarder_bottom" href="<%= submitted_timesheets_candidate_timesheets_path %>">Submitted</a>
        <a class="l2 side-bar_links nested_tab boarder_bottom" href="<%= approve_timesheets_candidate_timesheets_path %>">Approved</a>
      </div>
      <a class="sidebar_collapsible side-bar_tab">
        <div class="icon-w">
          <i class="icon-plane"></i>
        </div>
        <span>Client Expenses</span>
      </a>
      <div class="pl-4 w-100 text-justify nav-sidebar-collaps">
        <a class="l2 side-bar_links nested_tab boarder_bottom" href="<%= candidate_client_expenses_path %>">Expenses</a>
        <a class="l2 side-bar_links nested_tab boarder_bottom" href="<%= submitted_client_expenses_candidate_client_expenses_path %>">Submitted</a>
        <a class="l2 side-bar_links nested_tab boarder_bottom" href="<%= approve_client_expenses_candidate_client_expenses_path %>">Approved</a>
      </div>
      <a class="sidebar_collapsible side-bar_tab">
        <div class="icon-w">
          <i class="picons-thin-icon-thin-0417_calculator"></i>
        </div>
        <span>Accounting</span>
      </a>
      <div class="pl-4 w-100 text-justify nav-sidebar-collaps">
          <a href="<%= "#" %>" class="side-bar_links nested_tab boarder_bottom">Open Invoices</a>
          <a href="<%= "#" %>" class="side-bar_links nested_tab boarder_bottom">Cleared Invoices</a>
          <a href="<%= "#" %>" class="side-bar_links nested_tab boarder_bottom">Received Payment</a>
          <a href="<%= "#" %>" class="side-bar_links nested_tab boarder_bottom">Bill To Pay</a>
          <a href="<%= "#" %>" class="side-bar_links nested_tab boarder_bottom">Bill Received</a>
          <a href="<%= "#" %>" class="side-bar_links nested_tab boarder_bottom">Bill Pay</a>
          <a href="<%= "#" %>" class="side-bar_links nested_tab boarder_bottom">Salary to Pay</a>
          <a href="<%= "#" %>" class="side-bar_links nested_tab boarder_bottom">Salary Advance</a>
          <a href="<%= "#" %>" class="side-bar_links nested_tab boarder_bottom">Salary Calculations</a>
          <a href="#" class="side-bar_links nested_tab boarder_bottom">Open Bills</a>
          <a href="#" class="side-bar_links nested_tab boarder_bottom">Bill Payments</a>
          <a href="#" class="side-bar_links nested_tab boarder_bottom">Expense Payments</a>
        </div>
    </div>
    <div class="side-bar_icons">
      <a class="">
        <div class="icon-w">
          <i class="os-icon os-icon-search"></i>
        </div>
      </a>
      <a class="">
        <div class="icon-w">
          <i class="ti-world"></i>
        </div>
      </a>
      <a class="">
        <div class="icon-w">
          <i class="ti-settings"></i>
        </div>
      </a>
    </div>
  </div>
</div>