<div id="togglebutton" onclick="toglleMenu()" class="<%= is_inbox_path ? 'togglebtncontainerinbox' : 'togglebtncontainer' %>">
  <div class="os-icon os-icon-hamburger-menu-1"></div>
</div>
<script>
    function toglleMenu() {
        var menu = document.querySelector('#toggledmenubar').classList.toggle("displayblock");
        document.querySelector('#togglebutton').classList.toggle('leftChanged')
    }
</script>
<div id="toggledmenubar" style="<%= "display: none;" if is_inbox_path %>" class="menu-w color-scheme-light fixed-height color-style-default menu-position-side menu-side-left menu-layout-compact sub-menu-style-flyout sub-menu-color-light selected-menu-color-light menu-activated-on-hover menu-has-selected-link">
  <div class="logged-user-w avatar-inline p-1 m-1">
    <div class="logged-user-i">
      <div class="avatar-w">
        <%= user_image(current_candidate&.associated_company, style: 'width: 35px; height: 35px;', class: 'data-table-image mr-2', title: "#{current_candidate&.associated_company&.full_name}") %>
      </div>
      <div class="logged-user-info-w">
        <div class="logged-user-name">
          <% if current_candidate.associated_company %>
            <%= link_to current_candidate.associated_company.name.capitalize, '#', class: "text-muted" %>
            <%= link_to "<i class='os-icon os-icon-ui-49'></i>".html_safe, "#candidate-bench_req", :class => "", "data-toggle" => "modal" %>

          <% else %>
            <a href="#" class="text-muted"> freelancer</a>
          <% end %>
        </div>
        <!--div class="logged-user-role">My Team</div-->
      </div>
    </div>
  </div>
  <div class="candidate_nav logged-user-w avatar-inline pl-4 pt-0 pr-0">
    <div class="side-bar_nav w-100 pr-2" style="height: calc(100vh - 136px);overflow-y: auto;">
      <a href="/candidate" class="side-bar_tab side-bar_links">
        <div class="icon-w">
          <i class="ti-home"></i>
        </div>
        <span>Dashboard</span>
      </a>
<!--      <a href="<%#= candidate_conversations_path %>" class="side-bar_tab side-bar_links" target="_blank">-->
<!--        <div class="icon-w">-->
<!--          <i class="os-icon os-icon-mail-14"></i>-->
<!--        </div>-->
<!--        <span>Inbox</span>-->
<!--      </a>-->
<!--      <a class="ln-1 sidebar_collapsible side-bar_tab">-->
<!--        <div class="icon-w">-->
<!--          <i class="ti-world"></i>-->
<!--        </div>-->
<!--        <span>Network</span>-->
<!--      </a>-->
<!--      <div class="pl-4 w-100 text-justify nav-sidebar-collaps">-->
<!--        <a href="<%#= companies_candidates_path %>" class="l2 side-bar_links nested_tab boarder_bottom">Companies</a>-->
<!--        <a href="<%#= contacts_candidates_path %>" class="l2 side-bar_links nested_tab boarder_bottom">Contacts</a>-->
<!--        <a href="<%#= groups_candidates_path %>" class="l2 side-bar_links nested_tab boarder_bottom">Groups</a>-->
<!--      </div>-->

      <a class="ln-2 sidebar_collapsible side-bar_tab">
        <div class="icon-w">
          <i class="icon-graduation"></i>
        </div>
        <span>Talent pool</span>
      </a>
      <div class="pl-4 w-100 text-justify nav-sidebar-collaps">
        <%= link_to 'Bench', candidate_invitations_bench_path, class: "l2 side-bar_links nested_tab boarder_bottom" %>
        <%= link_to 'Subscriptions', '#', class: 'l2 side-bar_links nested_tab boarder_bottom' %>
      </div>
      <a class="ln-3 sidebar_collapsible side-bar_tab">
        <div class="icon-w">
          <i class="icon-people"></i>
        </div>
        <span>Job(s)</span>
      </a>
      <div class="pl-4 w-100 text-justify nav-sidebar-collaps">
        <a href="<%= candidate_job_invitations_path %>" class="l2 side-bar_links nested_tab boarder_bottom">Invited Jobs</a>
        <a href="<%= candidate_jobs_path %>" class="l2 side-bar_links nested_tab boarder_bottom">Public Jobs</a>
      </div>
      <a class="side-bar_tab side-bar_links" href="<%= candidate_job_applications_path %>">
        <div class="icon-w">
          <i class="fa fa-id-card-o"></i>
        </div>
        <span>Applications</span>
      </a>
      <a class="ln-5 sidebar_collapsible side-bar_tab">
        <div class="icon-w">
          <i class="os-icon os-icon-hierarchy-structure-2"></i>
        </div>
        <span>HR</span>
      </a>
      <div class="pl-4 w-100 text-justify nav-sidebar-collaps">
        <a class="l2 side-bar_links nested_tab boarder_bottom" href="<%= candidate_contracts_path %>">Contracts</a>
        <a class="l2 side-bar_links nested_tab boarder_bottom" href="<%= timeline_candidate_contracts_path %>">Timeline</a>
        <a class="l2 side-bar_links nested_tab boarder_bottom" href="<%= candidate_document_signs_path %>">Document Requests</a>
        <a href="<%= candidate_legal_docs_path %>" class="l2 side-bar_links nested_tab boarder_bottom">My Documents</a>
      </div>
      <a class="ln-6 sidebar_collapsible side-bar_tab">
        <div class="icon-w">
          <i class="ti-timer"></i>
        </div>
        <span>Timer(s)</span>
      </a>
      <div class="pl-4 w-100 text-justify nav-sidebar-collaps">
        <a href="<%= candidate_timesheets_path %>" class=" l2 side-bar_links nested_tab boarder_bottom">Timesheets</a>
        <a href="<%= expenses_candidates_path %>" class=" l2 side-bar_links nested_tab boarder_bottom">Expenses</a>
        <a href="<%= new_candidate_expense_path(cycle_type: "timesheet") %>" class=" l2 side-bar_links nested_tab boarder_bottom">Add Expenses</a>
      </div>
      <a class="ln-7 sidebar_collapsible side-bar_tab">
        <div class="icon-w">
          <i class="picons-thin-icon-thin-0417_calculator"></i>
        </div>
        <span>Accounting</span>
      </a>
      <div class="pl-4 w-100 text-justify nav-sidebar-collaps">
        <a href="<%= salaries_candidates_path %>" class=" l2 side-bar_links nested_tab boarder_bottom">Salaries</a>
      </div>

    </div>
    <div class="side-bar_icons">
      <a class="">
        <div class="icon-w">
          <i class="os-icon os-icon-search"></i>
        </div>
      </a>
      <a class="">
        <div class="icon-w">
          <i class="fa fa-users"></i>
        </div>
      </a>
      <a class="">
        <div class="icon-w">
          <i class="ti-settings"></i>
        </div>
      </a>
    </div>
    <div style="color: lightgrey">
      <p><i>Powered by  <%= image_tag 'etyme-logo-dark.png', class: "img-responsive", width: "76", height: "30" %></i>
      </p>
    </div>
  </div>
</div>
<%= render 'shared/candidate_bench_req_form' %>
