#shortcut
  %ul
    %li
      = link_to profile_path, class: 'jarvismetro-tile big-cubes bg-color-blueDark' do
        %span.iconbox
          %i.fa.fa-user.fa-4x
          %span
            Profile
    %li
      = link_to edit_educations_candidates_path, class: 'jarvismetro-tile big-cubes bg-color-blueDark' do
        %span.iconbox
          %i.fa.fa-user.fa-4x
          %span
            Educations
    %li
      = link_to edit_skills_candidates_path, class: 'jarvismetro-tile big-cubes bg-color-blueDark' do
        %span.iconbox
          %i.fa.fa-user.fa-4x
          %span
            Skills
    %li
      = link_to edit_client_info_candidates_path, class: 'jarvismetro-tile big-cubes bg-color-blueDark' do
        %span.iconbox
          %i.fa.fa-user.fa-4x
          %span
            Client Information
    %li
      = link_to edit_designate_candidates_path, class: 'jarvismetro-tile big-cubes bg-color-blueDark' do
        %span.iconbox
          %i.fa.fa-user.fa-4x
          %span
            Designate
    -#%li
    -#  = link_to '', class: 'jarvismetro-tile big-cubes bg-color-blueDark' do
    -#    %span.iconbox
    -#      %i.fa.fa-wechat.fa-4x
    -#      %span Messages
    -#      %span.label.pull-right.bg-color-darken 99
    -#%li
    -#  = link_to '/', class: 'jarvismetro-tile big-cubes bg-color-blueDark' do
    -#    %span.iconbox
    -#      %i.fa.fa-money.fa-4x
    -#      %span Upcoming Invoices
    -#%li
    -#  = link_to '/', class: 'jarvismetro-tile big-cubes bg-color-blueDark' do
    -#    %span.iconbox
    -#      %i.fa.fa-dollar.fa-4x
    -#      %span
    -#        Billing
    -#%li
    -#  = link_to '/', class: 'jarvismetro-tile big-cubes bg-color-blueDark' do
    -#    %span.iconbox
    -#      %i.fa.fa-gears.fa-4x
    -#      %span Settings
    -#%li
    -#  = link_to '/', class: 'jarvismetro-tile big-cubes bg-color-blueDark' do
    -#    %span.iconbox
    -#      %i.fa.fa-gears.fa-4x
    -#      %span Roles
    -#%li
    -#  = link_to company_path(current_company), class: 'jarvismetro-tile big-cubes selected bg-color-blueDark' do
    -#    %span.iconbox
    -#      %i.fa.fa-user.fa-4x
    -#      %span My Profile
