.row{style: "padding: 15px;"}
  = form_for @company,as: "company",url: company_company_path(@company.id),method: :put do |f|
    .row.form-group
      .col-lg-12.multi-field-wrapper
        %p
          %b Custom Domain
        .row
          .col-md-12
            .form-group
              = f.text_field :custom_domain, placeholder: "Custom Domain", class: 'form-control'
        .row
          .col-md-12
            %p
              Further Steps:  
            %p
              1. Please add a CNAME record with host
              %span.text-light.bg-info
                www
              &nbsp;pointing to
              %span.text-light.bg-info
                business.etyme.com
            %p
              2. Add a DNS redirect from your main domain to
              %span.text-light.bg-info
                www
              &nbsp;subdomain
    .row.form-group
      .col-lg-12.multi-field-wrapper
        %p
          %b Banner
        .row
          .col-md-12
            .form-group
              = f.text_field :banner_title, placeholder: "Banner Title", class: 'form-control'
            .form-group
              = f.text_field :banner_text, placeholder: "Banner Text", class: 'form-control'
            .form-group
              = label_tag :banner_color, "Background Color:"
              = f.color_field :banner_color
        %p
          %b Button 1
        .row
          .col-md-12
            .form-group
              = f.text_field :banner_btn_label, placeholder: "Call to Action Label", class: 'form-control'
            .form-group
              = f.text_field :banner_btn_url, placeholder: "Call to Action URL", class: 'form-control'
        %p
          %b Button 2
        .row
          .col-md-12
            .form-group
              = f.text_field :banner_two_btn_label, placeholder: "Call to Action Label", class: 'form-control'
            .form-group
              = f.text_field :banner_two_btn_url, placeholder: "Call to Action URL", class: 'form-control'
    .row
      .col-lg-12
        %button.btn.btn-primary.pull-right{:type => "submit"}
          Save
