%body
  %header.header-login
    .container
      .content
        .row
          %h1.revealOnScroll{"data-animation" => "fadeInDown"}
            %i.fa.fa-coffee
            Forgot Password
          %p Log in and get to work.
  %section.banner-login
    .container
      .row
        %main.main.main-signup.col-lg-12
          .col-lg-6.col-lg-offset-3.text-center
            .form-sign
              = form_for(resource, as: resource_name, url: password_path(resource_name), html: {id: 'forgot-password-form', class: 'lockscreen animated flipInY',method: :post }) do |f|
                = devise_error_messages!
                .form-head
                  %h3 Forgot Password
                / /.form-head
                .form-body
                  .form-row
                    .form-controls
                      = f.email_field :email, autofocus: true,class:' field',placeholder:"Enter Email",required: true
                .form-foot
                  .form-actions
                    = f.submit 'Reset Password',class:'form-btn'
                  / /.form-actions
                  .form-head
                    = link_to 'Remember password?', new_user_session_path ,class: "more-link"

-content_for :scripts do
  :javascript
    $('#forgot-password-form').validate();