.content-i
  .content-box
    .row
      .col-sm-12
        .element-wrapper
          .element-box-tp
            .controls-above-table
              .row.mr-1.ml-1
                .col-sm-12
                  .form-inline.justify-content-sm-end
                    %input.form-control.form-control-sm.rounded.bright{placeholder: "Search", type: "text", type: 'search', id: "candidate_job_invite_datatable-search_#{id}"}
            .table-responsive
              %table.table.table-striped.table-bordered.table-hover.table-lg{id: "candidate_job_invite_datatable_#{id}"}
                %thead
                  %tr
                    %th Sender
                    %th Company
                    %th Job
                    %th Email / Username
                    %th Created By
                    %th Phone
                    %th Expiry
                    %th Status
                %tbody
                  - data.each do |invitation|
                    %tr{class: "#{set_background_status_color(invitation.status)}"}
                      %td.no-wrap
                        =user_image(invitation.created_by, style: 'width: 35px; height: 35px;', class: 'data-table-image mr-2',title: "#{invitation.created_by.full_name}" )

                        = link_to(do_ellipsis(invitation.created_by.full_name), '#')
                      %td= link_to invitation.created_by.company.name , '#' if invitation.created_by.type!="Candidate"
                      %td= link_to  do_ellipsis(invitation.job.title) , static_job_path(invitation.job)
                      %td
                        = do_ellipsis(invitation.created_by.email)
                      %td= link_to do_ellipsis(invitation.created_by.full_name) , '#'
                      %td= invitation.recipient.phone
                      %td= invitation.expiry
                      %td
                        - if invitation.pending? && invitation.is_active?
                          = link_to 'Accept' , candidate_job_invitation_show_invitation_path( invitation , status: 'accept') , method: :get , remote: true , class: ''
                          = link_to 'Reject' , candidate_job_invitation_show_invitation_path(invitation , status: 'reject') , method: :get , remote: true ,  class: ''
                        -else
                          %span.label.label-success= invitation.status