.table-responsive
  %table#resultTable.table.table-striped.table-bordered.table-hover.table-lg
    %thead
      %tr
        %th Sender
        %th Company
        %th Job
        %th Email / Username
        %th Created By
        %th Phone
        %th Expiry
        %th Status
    %tbody
      - data.each do |invitation|
        %tr{class: "#{set_background_status_color(invitation.status)}"}
          %td.no-wrap
            =user_image(invitation.created_by, style: 'width: 35px; height: 35px;', class: 'data-table-image mr-1',title: "#{invitation.created_by.full_name}" )

            = link_to(do_ellipsis(invitation.created_by.full_name), '#', class: 'data-table-font')
          %td= link_to invitation.created_by.company.name , '#' if invitation.created_by.type!="Candidate"
          %td= link_to  do_ellipsis(invitation.job.title) , static_job_path(invitation.job)
          %td
            = do_ellipsis(invitation.created_by.email)
          %td= link_to do_ellipsis(invitation.created_by.full_name) , '#'
          %td= invitation.recipient.phone
          %td= invitation.expiry
          %td
            - if invitation.pending? && invitation.is_active?
              = link_to 'Accept' , candidate_job_invitation_show_invitation_path( invitation , status: 'accept') , method: :get , remote: true , class: ''
              = link_to 'Reject' , candidate_job_invitation_show_invitation_path(invitation , status: 'reject') , method: :get , remote: true ,  class: ''
            -else
              %span.label.label-success= invitation.status