<% user = conversation.chatable_type == "Group" ? conversation.chatable : (conversation.senderable == current_user ? conversation.recipientable : conversation.senderable) %>
<div class="row mt-4 ml-2 mr-2" id="collapsible_job_application">
  <div class="col-sm-12">
    <div class="element-wrapper pb-0">
      <div class="element-content">
        <div class="mt-2">
          <div class="collapsible">
            <h6 class="collapsible-click"><%= job_application.job.title %></h6>
          </div>
          <div class="element-box w-100 text-justify job-application-collaps">
            <div class="col-lg-12">
              <%= render partial: 'partials/job_show', locals: {job: job_application.job} %>
            </div>
          </div>
        </div>
        <div class="mt-2">
          <div class="collapsible">
            <h6 class="collapsible-click">Job Application</h6>
            <hr/>
            <%= render 'company/job_applications/partials/job_status_links', app: job_application,conversation: conversation, btn_size_class: 'btn-link mt-12 margin-right-5' %>
          </div>
          <div class="element-box w-100 text-justify chat-collaps">
            <div class="row">
              <div class="col-sm-12">
                <%= content_for :links do %>
                  <% if job_application.applicant_resume %>
                    <%= link_to "#{job_application.applicant_resume}", class: 'btn btn-primary mt-1 pull-right', download: true do %>
                      <i class="os-icon os-icon-arrow-down6"></i>
                      Resume
                    <% end %>
                  <% end %>
                  <% if job_application.share_key %>
                    <%= button_tag('Client Submission', class: 'btn btn-primary pull-right mr-1 mt-1', "data-toggle": "modal", "data-target": "#share_application_#{job_application.id}") %>
                  <% end %>
                <% end %>
                <%= render partial: 'partials/job_application_show', locals: {job_application: job_application,conversation: conversation}
                %>
              </div>
            </div>
          </div>
        </div>
        <% if local_assigns[:messages] && messages %>
          <div class="mt-2">
            <div class="collapsible">
              <h6 class="collapsible-click">Messages</h6>
            </div>
            <div class="element-box w-100 text-justify chat-collaps">
              <%= render "company/conversations/job_conversation_box", conversation: conversation, nested_colap: nested_col%>
              <%#= render 'company/job_applications/partials/job_status_links', btn_size_class: 'btn-sm', app: @conversation.chatable %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= content_for :modals do %>
  <div id="candidate_pre_screen_modal">
    <%= render 'shared/prescreen_modal', job_application: job_application, conversation: conversation %>
  </div>
  <div id="candidate_rate_confirmation_modal">
    <%= render 'shared/rate_confirmation_modal', job_application: job_application, conversation: conversation %>
  </div>
  <div id="candidate_interview_modal">
    <%= render 'shared/interview_modal', job_application: job_application, conversation: conversation %>
  </div>
<% end %>

