.modal{ id: "job-invitation-multiple-#{job.id}"}
  .modal-dialog.modal-md
    .modal-content
      .modal-header
        %h2#myModalLabel.modal-title
          %strong Job Application - #{job.title}
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
          ×

      .modal-body
        = form_for [JobApplication.new],url: job_create_multiple_for_candidate_path(job), html: {class: 'form-horizontal', remote: (defined? for_remote)},method: :post do |f|
          %fieldset
            -#.form-group
            -#  %label.col-md-2.control-label Cover Letter
            -#  .col-md-10
            -#    =  f.text_area :cover_letter , class: "form-control tinymce", rows: 8, cols: 25, placeholder: 'Cover Letter'
            -#    =  tinymce :default
            -#.form-group
            -#  %label.col-md-2.control-label Resume
            -#  .col-md-10
            -#    = f.filepicker_field :applicant_resume , class: 'btn btn-primary file-pick'  , id: 'accept-filepiker' ,"data-fp-extensions" => ".pdf,.doc,.docx,.txt"
            .form-group
              %label.col-md-6.control-label 
                Select Candidates
                %sup.text-danger *
              .col-md-10.temp_select_candidates
                = select_tag 'temp_candidates', options_for_select(current_company.candidates.uniq.reverse.collect{ |c| [c.full_name,c.id]}.compact),class: 'form-control job_select2' , required: true, onchange: 'set_hr();'
            -if job.status == "Bench"
              .form-group
                %label.col-md-6.control-label
                  HR Partner
                  %sup.text-danger
                .col-md-10
                  = f.text_field :message, class: "form-control hr_field", disabled: true, value: current_company.email
              .form-group
                %label.col-md-6.control-label
                  Select Resume
                  %sup.text-danger *
                %label.col-md-4.control-label.pull-right
                  = render 'shared/file_attachement',f:f,attr_name: :id, required_field: true, button_name: 'Add New'
                .contract-fild
                  .plain-select.col-md-10
                    = f.select :applicant_resume, {}, {}, class: '', id: "select_candidate_resumes", required: true
              .form-group
                %label.col-md-6.control-label
                  Work Type
                .col-md-10.temp_select_candidates
                  = select_tag 'job_application[work_type]', options_for_select(["Remote", "On-site", "Hybrid", "Off-shore"]),class: 'form-control job_select2'
              .form-group
                %label.col-md-6.control-label
                  Client Name
                  %sup.text-danger
                .col-md-10
                  = f.text_field :client_name, class: "form-control", placeholder: "Enter Client Name"
              .form-group
                %label.col-md-6.control-label
                  Client Partner Email
                %label.col-md-4.control-label.pull-right
                  = link_to 'Add New', new_company_company_path,target:'_blank', class: 'btn btn-sm btn-primary'
                .contract-fild
                  -# if @contract.new_record? or @contract.company_id.nil?
                  .plain-select.col-md-10
                    = f.select :company_contact_id, {}, {}, class: '', id: "select_client_partner"

              .form-group
                %label.col-md-6.control-label
                  End Client Job Title
                  %sup.text-danger
                .col-md-10
                  = f.text_field :end_client_job_title, class: "form-control", placeholder: "Enter End Client Job Title"
              .form-group
                %label.col-md-6.control-label
                  Client Job Location
                  %sup.text-danger
                .col-md-10
                  = f.text_field :client_job_location , class: 'form-control pac-target-input' , id: 'location' , placeholder: "eg.1806 Beechwood Drive, Pittsburgh"

            -else
              .form-group
              %label.col-md-6.control-label
                Memo
                %sup.text-danger
              .col-md-10
                = f.text_area :message ,class: "form-control" ,row: '3' , placeholder: "Enter Description"

            .nested-fields
              = f.fields_for :custom_fields do |custom|
                .form-group
                  %label.col-md-2.control-label #{custom.object.name}
                  .col-md-10
                    = custom.hidden_field  :name , value: custom.object.name
                    = custom.text_field  :value, class: "form-control", placeholder: custom.object.name
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", id: 'close_modal', :type => "button"}
              Cancel
            = f.button "Save".html_safe , class: 'btn btn-primary', onclick: 'hide_modal()', id: 'save_job_candidate',data: {disable_with: disable_spinning('Saving...')}

:css
  .job_select2{
    width: 300px;
    }
