<label class="toggle" for="toggle"></label>
<div class="mx-2 mb-md-0 login-btns text-right d-flex justify-content-around">
  <% if current_candidate.present? %>
      <button class="btn-header" type="button">
        <%= link_to candidate_candidate_dashboard_path do %>
          <%= image_tag(image_path('bell.svg')) %>
        <% end %>
      </button>
      <button class="btn-header" type="button">
        <%= link_to candidate_candidate_dashboard_path do %>
          <%= image_tag(image_path('messages.svg')) %>
        <% end %>
      </button>
      <button class="btn-header" type="button">
        <%= link_to candidate_candidate_dashboard_path do %>
          <%= image_tag(image_path('plus.svg')) %>
        <% end %>
      </button>
      <button class="btn-header" type="button">
        <%= link_to candidate_candidate_dashboard_path do %>
          <%= image_tag(image_path('dashboard.svg')) %>
        <% end %>
      </button>
    <div class="d-inline-block mx-1 dropdown">
      <div class="avatar-header" data-toggle="dropdown">
        <div class="avatar-50">
          <%= user_avatar(current_candidate) %>
        </div>
        <div class="avatar-button">
          <%= image_tag(image_path('avatar-arrow-down.svg')) %>
        </div>
      </div>
      <div class="dropdown-menu">
        <%= link_to 'Onboarding', onboarding_profile_path , class: 'dropdown-item' %>
        <%= link_to 'Profile', my_profile_path , class: 'dropdown-item' %>
        <%= link_to "Logout", destroy_candidate_session_path, method: :delete, class: 'dropdown-item' %>
      </div>
    </div>
  <% elsif current_user.present? %>
      <button class="btn-header" type="button">
        <%= link_to dashboard_path do %>
          <%= image_tag(image_path('bell.svg')) %>
        <% end %>
      </button>
      <button class="btn-header" type="button">
        <%= link_to dashboard_path do %>
          <%= image_tag(image_path('messages.svg')) %>
        <% end %>
      </button>
      <button class="btn-header" type="button">
        <%= link_to dashboard_path do %>
          <%= image_tag(image_path('plus.svg')) %>
        <% end %>
      </button>
      <button class="btn-header" type="button">
        <%= link_to dashboard_path do %>
          <%= image_tag(image_path('dashboard.svg')) %>
        <% end %>
      </button>
    <div class="d-inline-block mx-1 dropdown">
      <div class="avatar-header" data-toggle="dropdown">
        <div class="avatar-50">
          <%= user_avatar(current_user) %>
        </div>
        <div class="avatar-button">
          <%= image_tag(image_path('avatar-arrow-down.svg')) %>
        </div>
      </div>
      <div class="dropdown-menu">
        <%= link_to 'Onboarding', company_path(current_company,onboarding: true) , class: 'dropdown-item' %>
        <%= link_to 'Profile', company_user_path(current_user) , class: 'dropdown-item' %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
      </div>
    </div>
  <% else %>
    <div class="d-flex">
      <div class="mx-1 dropdown">
        <button class="btn btn-login f-16 f-mon-sembol dropdown-toggle" type="button" data-toggle="dropdown">
          Login
        </button>
        <div class="dropdown-menu">
          <%= link_to 'Company', request.subdomain.present? ? new_user_session_path : signin_path , class: 'dropdown-item' %>
          <% if current_candidate.present? %>
            <%= link_to  current_candidate.full_name.present?  ? current_candidate.full_name : 'Dashboard',candidate_candidate_dashboard_path, class: 'dropdown-item' %>
          <% else %>
            <%= link_to 'Candidate', new_candidate_session_path , class: 'dropdown-item' %>
          <% end %>
        </div>
      </div>
      <div class="d-inline-block mx-1 dropdown">
        <button class="btn btn-signup text-white f-16 f-mon-sembol dropdown-toggle" type="button" data-toggle="dropdown">
          Sign Up
        </button>
        <div class="dropdown-menu">
          <%= link_to 'Company', register_path , class: 'dropdown-item' %>
          <%= link_to 'Candidate', new_candidate_registration_path , class: 'dropdown-item' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
