<div class="col-12 col-md-8 col-lg-6 mb-2 mb-md-0 login-btns text-right">
  <% if current_candidate.present? %>
    <div class="d-inline-block mx-2 mx-lg-3 dropdown">
      <button class="btn btn-register text-white f-18 f-mon-sembol dropdown-toggle" type="button" data-toggle="dropdown">
        <%= link_to "Dashboard", candidate_candidate_dashboard_path, class: "text-white" %>
      </button>
    </div>
    <div class="d-none d-md-inline-block log-prof">
      <%= link_to candidate_candidate_dashboard_path do %>
        <%= user_image(current_candidate, style: 'width: 35px; height: 35px; margin-top: 10px;', class: 'data-table-image mr-2', title: "#{current_candidate.full_name}") %>
      <% end %>
      <div class="log-drop">
        <%= image_tag(image_path('drop.svg'), class: "img-fluid") %>
      </div>
    </div>
  <% elsif current_user.present? %>
    <div class="d-inline-block mx-2 mx-lg-3 dropdown">
      <button class="btn btn-register text-white f-18 f-mon-sembol dropdown-toggle" type="button" data-toggle="dropdown">
        <%= link_to "Dashboard", dashboard_path, class: "text-white" %>
      </button>
    </div>
    <div class="d-none d-md-inline-block log-prof">
      <%= link_to dashboard_path do %>
        <%= user_image(current_user, style: 'width: 35px; height: 35px; margin-top: 10px;', class: 'data-table-image mr-2', title: "#{current_user.full_name}") %>
      <% end %>
      <div class="log-drop">
        <%= image_tag(image_path('drop.svg'), class: "img-fluid") %>
      </div>
    </div>
  <% else %>
    <div class="d-inline-block  dropdown">
      <button class="btn txt-dark f-18 f-mon-sembol dropdown-toggle bg-transparent" type="button" data-toggle="dropdown">
        Login
        <%= image_tag(image_path('login-drop-arrow.svg'), class: "img-fluid ml-1") %>
      </button>
      <div class="dropdown-menu">
        <%= link_to 'Company', request.subdomain.present? ? new_user_session_path : signin_path , class: 'dropdown-item' %>
        <% if current_candidate.present? %>
          <%= link_to  current_candidate.full_name.present?  ? current_candidate.full_name : 'Dashboard',candidate_candidate_dashboard_path, class: 'dropdown-item' %>
        <% else %>
          <%= link_to 'Candidate', new_candidate_session_path , class: 'dropdown-item' %>
        <% end %>
      </div>
    </div>
    <div class="d-inline-block mx-2 mx-lg-3 dropdown">
      <button class="btn btn-register text-white f-18 f-mon-sembol dropdown-toggle" type="button" data-toggle="dropdown">
        Register
        <%= image_tag(image_path('register-drop-arrow.svg'), class: "img-fluid ml-1") %>
      </button>
      <div class="dropdown-menu">
        <%= link_to 'Company', register_path , class: 'dropdown-item' %>
        <%= link_to 'Candidate', new_candidate_registration_path , class: 'dropdown-item' %>
      </div>
    </div>
  <% end %>
</div>