<label class="toggle" for="toggle"></label>
<div class="mx-2 mb-md-0 login-btns text-right d-flex justify-content-around">
  <% if current_candidate.present? %>
    <%  cc = current_candidate.candidate_company(current_company&.id) %>

    <div class="dropdown dropdown-container d-flex justify-content-end">
      <% if cc.nil? || cc&.unsubscribed? %>
        <button class="dropdown-toggle dropdown-sort job-feed-plus-icon" onclick="alert('Subscribe to this space first')">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </button>
      <% else  %>
        <button class="dropdown-toggle dropdown-sort job-feed-plus-icon" id="dropdownMenuPost" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </button>
      <% end  %>

      <ul class="list-unstyled dropdown-menu dropdown-content-right px-0 py-2" id="main_feed_id" aria-labelledby="dropdownMenuPost">
        <button class="btn btn-ask-a-question" data-toggle="modal" data-target="#feedPostModal">
          Add Post
        </button>
        <button class="btn btn-ask-a-question" data-toggle="modal" data-target="#feedPostJobModal">
          Add Job
        </button>
      </ul>
    </div>
<!--  subscribe-->
    <div>

      <% if cc %>
        <% if cc.unsubscribed? %>
        <a href="<%= candidate_subscribe_path(company_id:current_company&.id) %>"
           class="btn orange_btn filter6" data-method="post" >Subscribe</a>
        <% end %>
        <% else %>
        <a href="<%= candidate_subscribe_path(company_id:current_company&.id) %>"
           class="btn orange_btn filter6" data-method="post" >Subscribe</a>
      <% end %>
    </div>
    <div class="d-inline-block mx-1 dropdown">

      <div class="avatar-header" data-toggle="dropdown">
        <div class="webflow-avatar-32-32">
          <%= user_avatar(current_candidate) %>
        </div>

        <div class="avatar-button">
          <%= image_tag(image_path('avatar-arrow-down.svg')) %>
        </div>
      </div>
      <div class="dropdown-menu">
        <%= link_to 'Dashboard', candidate_candidate_dashboard_url(subdomain: 'app') , class: 'dropdown-item' %>
        <%= link_to 'Onboarding', onboarding_profile_url(subdomain: 'app') , class: 'dropdown-item' %>
        <% if current_candidate.candidate_company(current_company&.id) %>
          <% if cc.subscribed?%>
            <%= link_to 'unsubscribe',
                        candidate_unsubscribe_path(company_id:current_company&.id),
                        class: 'dropdown-item' , method: :post %>
            <% end %>
          <% end %>

        <%= link_to 'Profile',my_profile_url, class: 'dropdown-item' %>
        <%= link_to "Logout", destroy_candidate_session_path, method: :delete, class: 'dropdown-item' %>
      </div>
    </div>

  <% elsif current_user.present? %>
    <%  company_contact = current_user.user_company(current_company&.id) %>

    <div class="dropdown dropdown-container d-flex justify-content-end">
<!--      TOOD: if company_contact is nill or unsubscribed user must subscribe-->
      <% if company_contact.nil? || company_contact&.unsubscribed? %>
          <button class="dropdown-toggle dropdown-sort job-feed-plus-icon" onclick="alert('Subscribe to this space first')">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
          </button>

      <% else  %>
        <button class="dropdown-toggle dropdown-sort job-feed-plus-icon" id="dropdownMenuPost" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </button>
      <% end  %>

      <ul class="list-unstyled dropdown-menu dropdown-content-right px-0 py-2" id="main_feed_id" aria-labelledby="dropdownMenuPost">
        <button class="btn btn-ask-a-question" data-toggle="modal" data-target="#feedPostModal">
          Add Post
        </button>
        <button class="btn btn-ask-a-question" data-toggle="modal" data-target="#feedPostJobModal">
          Add Job
        </button>
      </ul>
    </div>
<!--    subscribed-->
    <div>

      <%# unless current_user.company.domain == "support" %>
        <% if company_contact %>
          <% if company_contact.unsubscribed? %>
            <a href="<%= users_subscribe_path(company_id:current_company&.id) %>"
               class="btn orange_btn filter6" data-method="post" >Subscribe</a>
          <% end %>
        <% else %>
          <a href="<%= users_subscribe_path(company_id:current_company&.id) %>"
             class="btn orange_btn filter6" data-method="post" >Subscribe</a>
        <% end %>
      <%# end %>

    </div>
    <div class="d-inline-block mx-1 dropdown">
      <div class="avatar-header" data-toggle="dropdown">
        <div class="webflow-avatar-32-32">
          <%= user_avatar(current_user) %>
        </div>
        <div class="avatar-button">
          <%= image_tag(image_path('avatar-arrow-down.svg')) %>
        </div>
      </div>
      <div class="dropdown-menu">
        <%#= link_to 'Dashboard', marketplace_url(subdomain: current_user.domain, company: 'on', 'search_by[term]': '', 'search_scope': ''), target: '_blank', class: 'dropdown-item' %>
        <%= link_to 'Dashboard', dashboard_url(subdomain: current_user.domain), class: 'dropdown-item' %>
        <%#= link_to 'Onboarding', company_url(current_company,onboarding: true, subdomain: current_user.domain), class: 'dropdown-item' %>
        <%# unless current_user.company.domain == "support" %>
          <% if company_contact&.subscribed?%>
            <%= link_to 'unsubscribe',
                        users_unsubscribe_path(company_id:current_company&.id),
                        class: 'dropdown-item' , method: :post %>
          <% end %>
        <%# end %>

        <%= link_to 'Profile', company_user_url(current_user, subdomain: current_user.domain), class: 'dropdown-item' %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
      </div>
    </div>
  <% else %>
    <div class="d-none d-md-flex">
      <div class="mx-1 dropdown">
        <button class="btn btn-login f-16 f-mon-sembol dropdown-toggle" type="button" data-toggle="dropdown">
          Login
        </button>
        <div class="dropdown-menu">
          <%= link_to 'Company', request.subdomain.present? ? new_user_session_path : signin_path , class: 'dropdown-item' %>
          <% if current_candidate.present? %>
            <%= link_to  current_candidate.full_name.present?  ? current_candidate.full_name : 'Dashboard',candidate_candidate_dashboard_path, class: 'dropdown-item' %>
          <% else %>
            <%= link_to 'Candidate', new_candidate_session_path , class: 'dropdown-item' %>
          <% end %>
        </div>
      </div>
      <div class="d-inline-block mx-1 dropdown">
        <button class="btn btn-signup text-white f-16 f-mon-sembol dropdown-toggle" type="button" data-toggle="dropdown">
          Sign Up
        </button>
        <div class="dropdown-menu">
          <%= link_to 'Company', register_path , class: 'dropdown-item' %>
          <%= link_to 'Candidate', new_candidate_registration_path , class: 'dropdown-item' %>
        </div>
      </div>
    </div>

    <div class="d-flex d-md-none">
      <div class="dropdown">
        <button class="dropdown-login dropdown-toggle" type="button" data-toggle="dropdown">
          <i class="fa fa-sign-in" aria-hidden="true"></i>
        </button>
        <div class="dropdown-menu">
          <%= link_to 'Login as Company', request.subdomain.present? ? new_user_session_path : signin_path , class: 'dropdown-item' %>
          <% if current_candidate.present? %>
            <%= link_to  current_candidate.full_name.present?  ? current_candidate.full_name : 'Dashboard',candidate_candidate_dashboard_path, class: 'dropdown-item' %>
          <% else %>
            <%= link_to 'Login as Candidate', new_candidate_session_path , class: 'dropdown-item' %>
          <% end %>
          <%= link_to 'Sign Up as Company', register_path , class: 'dropdown-item' %>
          <%= link_to 'Sign Up as Candidate', new_candidate_registration_path , class: 'dropdown-item' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
