%h2
  job details
.job-info
  .job-title
    %div.job-header.clearfix
      = image_tag @job.company.logo,  style:"width:50px;height:50px", fit: 'clip'
      %p.job_title
        = @job.title
      %p.job_title
        %i.fa.fa-usd
        =@job.price
    .job-location
      %span
        %i.fa.fa-map-marker
        = @job.location
      %span
        %i.fa.fa-user
        =@job.created_by.full_name
  .job-description
    .job-info
      %strong
        Description
      %span
        = @job.description.html_safe
    .job-info
      %strong
        Skill
      %span
        %ul
          -@job.tag_list.each do |tl|
            %li=tl
    .job-info
      %strong
        Educatio
      %span
        %ul
          -@job.education_list.each do |el|
            %li=el
  .job-match-candidates
    %strong
    - job_skills = @job.tags.pluck(:name)
    - count = (job_skills.count * 80 / 100.00).ceil
    %table#datatable_fixed_column.table.table-striped.table-bordered.dataTable.no-footer{"aria-describedby" => "datatable_fixed_column_info", :role => "grid", :style => "width: 100%;", :width => "100%"}
      %thead
        %tr{:role => "row"}
          %th Name
          %th Role, Title
          %th Skills
          %th Location
          %th Visa
          %th Recuiter Name
      %tbody
        - current_company.candidates.each do |c|
          - if (job_skills & c.skills.pluck(:name)).count >= count
            %tr
              %td
                = link_to c.try(:full_name).try(:titleize),"#","data-content" => "<p class= 'text-center' ><image style='border-radius:50%;' src=#{image_url(c.photo)}/></br><div class='well well-sm'>#{c.full_name}</br>Email : #{c.email} </div></p>", "data-placement" => "top",:rel => "hover"
              %td
                - if c.try(:roles).present?
                  - c.try(:roles).each do |role|
                    %span
                      .label-info.badge
                        = role.try(:name)
              %td
                - c.skills.each do |skill|
                  %span
                    .label-info.badge.margin-bottom-5
                      = skill.name
              %td
                = c.try(:location)
              %td
                = c.visa
              %td
                - c.companies.each do |com|
                  %span
                    .label-info.badge.margin-bottom-5
                      = com.name