.controls-above-table
  .row.mr-1.ml-1
    .col-sm-12
      .form-inline.justify-content-sm-end
        %input.form-control.form-control-sm.rounded.bright{placeholder: "Search", type: "text", type: 'search', id: 'receive_prefer_vendors_table-search'}
        %button.btn.btn-sm.btn-secondary{type: "button", id: 'receive_prefer_vendors_table-search-btn'} Search
  .table-responsive
    %table#receive_prefer_vendors_table.table.table-striped.table-bordered.table-v2.table-lg
      %thead
        %tr
          %th Name
          %th Owner
          %th Owner Email
          %th Domain
          %th Phone
          %th Status
          %th Actions
      %tbody
        - data.each do |d|
          %tr
            %td
              = user_image(d.prefer_vendor, class: 'data-table-image mr-2',title: "#{d.prefer_vendor&.full_name}")
              = link_to do_ellipsis(d.prefer_vendor.name,8) ,profile_company_path(d.prefer_vendor)
            %td
              = user_image(d.prefer_vendor.owner, class: 'data-table-image mr-2',title: "#{d.prefer_vendor.owner&.full_name}")
              = do_ellipsis(d.prefer_vendor.owner.full_name,15)  rescue "  --"
            %td= d.prefer_vendor.owner.try(:email)
            %td= d.company.domain rescue "  --"
            %td= d.company.phone rescue "  --"
            %td=invitation_status_color( d.status) rescue "  --"
            %td
              -if d.pending?
                = link_to raw("<i class='fa fa-check '></i>") , accept_vendor_path(company_id: d.company) ,class: 'c_green',method: :post,remote: :true ,title:"Accept #{d.company.name} Request",data: {confirm: "Are you sure you want to Accept this Request ? Once Accepted the company will be able to see your company contacts and in return you will be able to access theirs.", verify: 'Accept', verify_text: "Type 'Accept' to Continue"},'data-toggle'=>"tooltip" ,'data-placement'=>"top"
                = link_to raw("<i class='fa fa-times '></i>") , reject_vendor_path(company_id: d.company) ,class: 'c_red',method: :post ,remote: :true,title:"Reject #{d.company.name} Request",data: {confirm: "Are you sure you want to Reject this Request ?", verify: 'Reject', verify_text: "Type 'Reject' to Continue"},'data-toggle'=>"tooltip" ,'data-placement'=>"top"

