%table#dt_basic.table.table-striped.table-bordered.table-hover{:width => "100%"}
  %thead
    %tr
      %th{"data-hide" => "phone"} Pic
      %th Name
      %th Owner
      %th Owner Email
      %th Domain
      %th Phone
      %th Status
      %th Actions
  %tbody
    -data.each do |d|
      %tr
        %td= image_tag show_recipient_picture(d.company.logo) , alt: '', width: '40'
        %td= link_to d.company.name ,profile_company_path(d.company)
        %td= d.company.owner.full_name  rescue "  --"
        %td= d.company.owner.try(:email)
        %td= d.company.domain
        %td= d.company.phone
        %td= d.status.titleize
        %td
          -if d.pending?
            = link_to 'Accept' , accept_vendor_path(company_id: d.company) ,method: :post,class: 'btn btn-xs btn-default btn-primary',remote: :true ,title:"Accept #{d.company.name} Request",data: {confirm: "Are you sure you want to Accept this Request ?", verify: 'Accept', verify_text: "Type 'Accept' to Continue"}
            = link_to 'Reject' , reject_vendor_path(company_id: d.company) ,method: :post, class: 'btn btn-xs btn-default btn-danger' ,remote: :true,title:"Reject #{d.company.name} Request",data: {confirm: "Are you sure you want to Reject this Request ?", verify: 'Reject', verify_text: "Type 'Reject' to Continue"}

