.controls-above-table
  .row.mr-1.ml-1
    .col-sm-12
      .form-inline.justify-content-sm-end
        %input.form-control.form-control-sm.rounded.bright{placeholder: "Search", type: "text", type: 'search', id: 'prefer_vendors_table-search'}
  .table-responsive
    %table#prefer_vendors_table.table.table-striped.table-bordered.table-v2.table-lg
      %thead
        %tr
          %th Name
          %th Owner
          %th Owner Email
          %th Domain
          %th Status
          %th Phone
      %tbody
        - data.each do |d|
          %tr
            %td.no-wrap.pr-4
              = user_image(d.prefer_vendor, class: 'data-table-image mr-2',title: "#{d.prefer_vendor&.full_name}")
              = link_to do_ellipsis(d.prefer_vendor.name,8) ,profile_company_path(d.prefer_vendor)
            %td.no-wrap
              = user_image(d.prefer_vendor.owner, class: 'data-table-image mr-2',title: "#{d.prefer_vendor.owner&.full_name}")
              = do_ellipsis(d.prefer_vendor.owner.full_name,15)  rescue "  --"
            %td= do_ellipsis(d.prefer_vendor.owner.try(:email),15)
            %td= d.prefer_vendor.domain  rescue "  --"
            %td= invitation_status_color( d.status) rescue "  --"
            %td= d.prefer_vendor.phone rescue "  --"

  
