.controls-above-table
  .row.mr-1.ml-1
    .col-sm-12
      .form-inline.justify-content-sm-end
        %input.form-control.form-control-sm.rounded.bright{placeholder: "Search", type: "text", type: 'search', id: 'prefer_vendors_table-search'}
  .table-responsive
    %table#prefer_vendors_table.table.table-striped.table-bordered.table-v2.table-lg
      %thead
        %tr
          %th Name
          %th Owner
          %th Owner Email
          %th Domain
          %th Phone
          %th Status
      %tbody
        - data.each do |d|
          %tr
            %td
              = user_image(d.prefer_vendor, class: 'data-table-image mr-1',title: "#{d.prefer_vendor&.full_name}")
              = link_to d.prefer_vendor.name ,profile_company_path(d.prefer_vendor)
            %td
              = user_image(d.prefer_vendor.owner, class: 'data-table-image mr-1',title: "#{d.prefer_vendor.owner&.full_name}")
              = d.prefer_vendor.owner.full_name  rescue "  --"
            %td= d.prefer_vendor.owner.try(:email)
            %td= d.prefer_vendor.domain  rescue "  --"
            %td= invitation_status_color( d.status) rescue "  --"
            %td= d.prefer_vendor.phone rescue "  --"

  
