%table#dt_basic.table.table-striped.table-bordered.table-hover{:width => "100%"}
  %thead
    %tr
      %th{"data-hide" => "phone"} Pic
      %th Name
      %th Owner
      %th Owner Email
      %th Domain
      %th Status
      %th Phone
  %tbody
    -data.each do |d|
      %tr
        %td= image_tag show_recipient_picture(d.prefer_vendor.logo) , alt: '', width: '40'
        %td= link_to d.prefer_vendor.name ,profile_company_path(d.prefer_vendor)
        %td= d.prefer_vendor.owner.full_name  rescue "  --"
        %td= d.prefer_vendor.owner.try(:email)
        %td= d.prefer_vendor.domain
        %td= d.status.titleize
        %td= d.prefer_vendor.phone
