.nested-fields
  .row
    .col-sm-2
      Name
      = f.text_field :file_name,class:"name hidden" , disable: true
    .col-sm-8.d-flex.pt-4
      .file_selector{style: "display: flex;"}
      .form-group.d-inline-block
        = render 'shared/file_attachement',f:f,attr_name: :file,button_name: "Attach Resume", name_selector: ".uploaded_file_name",cstm_style: "border-radius: 0; height:38px;"
      %p.d-inline-block.uploaded_file_name  No File Selected

      = f.hidden_field :file_type,class:"type"
      = f.hidden_field :file_size,class:"size"
      = f.hidden_field :company_id , value: current_company.id
    .col-md-2.margin-top-5.d-flex.align-item-center
      = link_to_remove_association "Remove", f, class: "btn btn-danger remove pull-right"

:javascript
    $(document).ready(function() {

        pageSetUp();

      });
      function onUpload(event) {
        var file = event.fpfile;
        var name = file.filename;
        var size = file.size;
        var type = file.mimetype;
        $('.name:last').val(name);
        $('.size:last').val(size);
        $('.type:last').val(type);
        if($('.name:last').hasClass('hidden')){$('.name:last').removeClass('hidden');}


      }
