.nested-fields
  .form-group
    %label.col-md-2.control-label
      File
      %sup.text-danger *
    .col-md-2
      = f.text_field :file_name,class:"name hidden" , disable: true , readonly: true
      = f.filepicker_field :file, :button_text => "Pick File", disable: true , class: 'file-pick btn btn-primary filepicker-attachment', onChange: 'onUpload(event)'
      = f.hidden_field :file_type,class:"type"
      = f.hidden_field :file_size,class:"size"
    .col-md-2.margin-top-5
      = link_to_remove_association "Remove", f, class: "text-danger remove pull-right"

:javascript
    $(document).ready(function() {

        pageSetUp();

      });
      function onUpload(event) {
        var file = event.fpfile;
        var name = file.filename;
        var size = file.size;
        var type = file.mimetype;
        $('.name:last').val(name);
        $('.size:last').val(size);
        $('.type:last').val(type);
        if($('.name:last').hasClass('hidden')){$('.name:last').removeClass('hidden');}


      }
