.modal{id: "commissionUserModal#{buy_contract.id}","aria-hidden" => "true", "aria-labelledby" => "commissionUserModalLabel", :role => "dialog" }
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h5#commissionUserModalLabel.modal-title Commission User
        %button.close.close-modal{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        = form_for commission, url: company_buy_contract_contract_sale_commissions_path(buy_contract),method: :post, remote: true do |f|
          .contract-fields_wrapper.mt-4
            .row
              .col-md-6.d-flex
                .w-50
                  Select type of User
                .w-25
                  = label :commission_user, 'Admin'
                  = radio_button_tag 'commission_user', 'Admin', false, class: 'commission-user-type'
                .w-25
                  = label :commission_user, 'Candidate'
                  = radio_button_tag 'commission_user', 'Candidate', false, class: 'commission-user-type'
            .row
              .col-md-3.assign_commission_user
                .form-group
                  %label.control-label Select User
                  =f.nested_fields_for :csc_accounts,f.object.csc_accounts.build do |csca|
                    %div.accountable_user
                      %div.set_commission_user
                      = csca.hidden_field :accountable_type, id: 'accountable_type'
                      = csca.select :accountable_id, {},{},class: 'commission_user'
              .col-md-2
                .form-group
                  %label.control-label
                    Name
                  .contract-fild
                    = f.text_field :name, class: "form-control height-45"
              .col-md-2
                .form-group
                  %label.control-label
                    Rate
                  .contract-fild
                    = f.text_field :rate, class: "form-control height-45"
              .col-md-2
                .form-group
                  %label.control-label
                    Frequency
                  .contract-fild
                    = f.select :frequency , Contract.commission_types.map { |key, value| [key.humanize, key] }, {include_blank: 'Select Frequency Type'} , {class: "form-control height-45" }
              .col-md-3
                .form-group
                  %label.control-label
                    Max. Comission Amount
                  .contract-fild
                    = f.text_field :limit ,class: "form-control height-45" , placeholder: ""
          =f.submit 'Create Commission', class: 'btn btn-primary pull-right mt-2'
