.nested-fields
  .form-group
    %label.col-md-2.control-label
      Documents
    .col-md-10
      = f.filepicker_field :doc_file, :button_text => "Pick File", disable: true , class: 'file-pick btn btn-primary filepicker-attach'

  .form-group
    %label.col-md-2.control-label
      expire date
    .col-md-10
      = f.text_field :when_expire ,class: "form-control exp_date" , placeholder: ""

  .form-group
    %label.col-md-2.control-label
      is_sign_required
    .col-md-10
      = f.check_box :is_sign_required ,class: "form-control is-require-sign" , placeholder: ""
      = f.hidden_field :creatable_type, class: "form-control", value: "Company"
      = f.hidden_field :creatable_id, class: "form-control", value: current_company.id

    .form-group.assign_signable.hidden
      -f.object.document_signs.build
      =f.fields_for :document_signs do |ds|
        = link_to_add_fields 'available_tour_fields', f, :document_signs, {partial: 'company/contracts/contract_document_users_fields'}, {class: 'doc-user-generater'}
        =# link_to_add_association '+ Add Signable user', f, :document_signs, class: 'text-info hidde1n doc-user-generater', partial: 'company/contracts/contract_document_users_fields'
        = ds.hidden_field :signable ,class: "form-control whois_sign" , placeholder: ""


    .col-md-2.margin-top-5
      = link_to_remove_association "Remove", f, class: "btn btn-danger remove pull-right"