.nested-fields
  .contract_box
    .row
      .col-md-2
        .form-group
          %label.control-label
            Documents
          .contract-fild
            = render "shared/file_attachement", f:f,attr_name: :doc_file,button_name: "Pick File",multiple: false, required_field: false
            -#= f.filepicker_field :doc_file, :button_text => "Pick File", disable: true , class: 'file-pick btn btn-primary filepicker-attach filepicker-attach-doc'
            = f.hidden_field :file_name, class: "doc-file-name"
            = f.hidden_field :file_size, class: "doc-file-size"
            = f.hidden_field :file_type, class: "doc-file-type"
      .col-md-5
        .form-group
          %label.control-label
            expire date
          .contract-fild
            = f.text_field :when_expire ,class: "form-control exp_date" , placeholder: "DD/MM/YYYY"
      .col-md-5
        .form-group
          %label.control-label
            = f.check_box :is_sign_required ,class: "form-control is-require-sign" , placeholder: ""
            = f.hidden_field :creatable_type, class: "form-control", value: "Company"
            = f.hidden_field :creatable_id, class: "form-control", value: current_company.id

          .form-group.assign_signable.hidden
            -f.object.document_signs.build
            =f.fields_for :document_signs do |ds|
              = link_to_add_fields 'available_tour_fields', f, :document_signs, {partial: 'company/contracts/contract_document_users_fields'}, {class: 'doc-user-generater hidden'}
              = ds.select :signable, {}, {}, class: "form-control whois_sign" , placeholder: ""


          .margin-top-5
            = link_to_remove_association "X", f, class: "btn btn-danger remove pull-right"
:javascript
    $(document).ready(function() {
        pageSetUp();
        $(".filepicker-attach-doc").on("change", function(e){
          var name = e["originalEvent"]["fpfile"]["filename"];
          var size = e["originalEvent"]["fpfile"]["size"];
          var type = e["originalEvent"]["fpfile"]["mimetype"];
          $(this).siblings(".doc-file-name" ).val(name);
          $(this).siblings( ".doc-file-size" ).val(size);
          $(this).siblings( ".doc-file-type" ).val(type);
        })
      });