.modal#request_document
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
          ×
        %h2#myModalLabel.modal-title
          %strong Request Document
      .modal-body
        = form_for(SellRequestDocument.new, as: :document, url: create_document_request_contracts_path, remote: true)  do |srd|
          = srd.hidden_field :sell_contract_id, value: @contract.sell_contracts.first.id
          = srd.hidden_field :creatable_type, class: "form-control", value: "Company"
          = srd.hidden_field :creatable_id, class: "form-control", value: current_company.id
          %fieldset
            .form-group
              %label.col-md-2.control-label Request
              .col-md-10
                = srd.text_area :request , class: 'form-control tinymce'
                %sup.text-danger *
          .modal-footer
            %a.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
              Cancel
            = link_to 'Save', class: 'btn btn-primary'

- content_for :scripts do
  :javascript
    $(document).ready(function() {
      $( ".file-pick" ).on('click',function() {
      $('.fp__overlay').css({'z-index':'99999'})});
    });
