#content
  .row
    .col-xs-12.col-sm-3.col-md-3.col-lg-3.pull-right
      = link_to 'NEW',new_contract_path ,class: 'btn btn-success btn-lg pull-right header-btn hidden-mobile'
  #wid-id-5.no-border.jarviswidget{"data-widget-colorbutton" => "false", "data-widget-custombutton" => "false", "data-widget-editbutton" => "false", "data-widget-fullscreenbutton" => "false", "data-widget-sortable" => "false"}
    %div
      .jarviswidget-editbox
      .widget-body
        %ul#myTab1.nav.nav-tabs.bordered
          %li.active
            %a{"data-toggle" => "tab", :href => "#tab-r1"}
              %span.badge.bg-color-blue.txt-color-white= @sent_contracts.count
              Sent Contracts
          %li
            %a{"data-toggle" => "tab", :href => "#tab-r2"}
              %span.badge.bg-color-blueDark.txt-color-white= @received_contracts.count
              Received Contracts
        .col-md-12
          .tab-content
            #tab-r1.tab-pane.active
              #hb2.tab-pane.active
                %ul#internal-tab-1.nav.nav-tabs.tabs-pull-right.sub-tab
                  %br
                  .input-group.input-group-lg.hidden-mobile
                    .input-group-btn
                      %button.btn.btn-default.dropdown-toggle.textbtn{"data-toggle" => "dropdown", :type => "button"}
                        All
                        %span.caret
                      %ul.dropdown-menu
                        %li.active
                          %a{:href => "javascript:void(0)"}
                            All
                        %li.divider
                        - Contract.statuses.reverse_each do |value , key|
                          %li
                            %a{:href => "javascript:void(0)"} #{value.titleize}
                    %input#search-project.form-control.input-lg{:placeholder => "Search Contract...", :type => "text"}/
                    .input-group-btn
                      %button.btn.btn-default{:type => "submit"}
                        \   
                        %i.fa.fa-fw.fa-search.fa-lg>
                        \  
                  %br 
                  - Contract.statuses.reverse_each do |value , key|
                    %li
                      %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#is#{key}"} #{value.titleize}
                  %li.active
                    %a{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#isall"} All
                .tab-content.padding-10
                  - Contract.statuses.reverse_each do |value , key|
                    .tab-pane{id: "is#{key}"}
                      = render 'company/contracts/partials/contract_table'  , data: @sent_contracts.where(status: key)
                  #isall.tab-pane.fade.active.in
                    = render 'company/contracts/partials/contract_table' , data: @sent_contracts

            #tab-r2.tab-pane
              #hb22.tab-pane.active
              %ul#internal-tab-2.nav.nav-tabs.tabs-pull-right.sub-tab
                %br
                .input-group.input-group-lg.hidden-mobile
                  .input-group-btn
                    %button.btn.btn-default.dropdown-toggle.textbtn{"data-toggle" => "dropdown", :type => "button"}
                      All
                      %span.caret
                    %ul.dropdown-menu
                      %li.active
                        %a{:href => "javascript:void(0)"}
                          All
                      %li.divider
                      - Contract.statuses.reverse_each do |value , key|
                        %li
                          %a{:href => "javascript:void(0)"} #{value.titleize}
                  %input#search-project.form-control.input-lg{:placeholder => "Search Contract...", :type => "text"}/
                  .input-group-btn
                    %button.btn.btn-default{:type => "submit"}
                      \   
                      %i.fa.fa-fw.fa-search.fa-lg>
                      \  
                %br
                - Contract.statuses.reverse_each do |value , key|
                  %li
                    %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#is-#{key}"} #{value.titleize}
                %li.active
                  %a{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#is-all"} All
              .tab-content.padding-10
                - Contract.statuses.reverse_each do |value , key|
                  .tab-pane{id: "is-#{key}"}
                    = render 'company/contracts/partials/receive_contract_table'  , data: @received_contracts.where(status: key)
                #is-all.tab-pane.fade.active.in
                  = render 'company/contracts/partials/receive_contract_table' , data: @received_contracts
- content_for :modals do
  #ajax-modal
- content_for :scripts do
  :javascript
    // DO NOT REMOVE : GLOBAL FUNCTIONS!

    $(document).ready(function() {

    $('#myTab1 a[href="' + localStorage.getItem('mainActiveTab') + '"]').tab('show');

    $('.sub-tab a[href="' + localStorage.getItem('subActiveTab') + '"]').tab('show');
    });

    $('#myTab1').on('show.bs.tab', function(e) {
      localStorage.setItem('mainActiveTab', $(e.target).attr('href'));
    });

    $('.sub-tab').on('show.bs.tab', function(e) {
      localStorage.setItem('subActiveTab', $(e.target).attr('href'));
    });
