#content
  .row
  %section
    .row
      %article.col-sm-12.col-md-12.col-lg-12
        #wid-id-0.jarviswidget{"data-widget-deletebutton" => "false", "data-widget-editbutton" => "false"}
          %header
            %span.widget-icon
              %i.fa.fa-check
            %h2 Pay Bill
          %div
            .jarviswidget-editbox
            .widget-body
              .row
                .col-md-3
                  %label Treasury Account
                  = select_tag "contracts",options_for_select(['Bank of America', 'Texas Bank']),{class: 'form-control select2',required: true, prompt: 'Select a Bank' }

                .col-md-3
                  %br
                  %label
                    %b Balance:
                    $542,123.50
                    %br
                    = link_to 'Bank Reconciliation', bank_reconciliation_contracts_path 
                .col-md-3
                  %label  Payment Date
                  = date_field_tag 'pay_date', Date.today, class: 'form-control' 

  

              %br
              .row
                .col-md-2
                  %label Account details

              %br
              .row
                .col-md-12 
                  %table.table.table-bordered.account_detail
                    %thead
                      %tr
                        %th Contract
                        %th Bill no/ Item description
                        %th Status
                        %th Due date
                        %th Open Balance
                        %th Expense Type
                        %th Payment
                        %th Balance due
                        %th Check/Transaction no.
                        %th Action
                    %tbody
                      - ExpenseAccount.includes(expense: :contract).all.each do |ex|
                        %tr
                          %td
                            = ex.expense.contract.id
                          %td
                            = ex.expense.bill_no + '-' + ex.description
                          %td
                            = Expense.statuses.key(ex.status)
                          %td
                            = ex.expense.due_date
                          %td
                            = ex.amount
                          %td
                            = ex.expense_type
                          %td
                          %td
                          %td
                          %td


                .col-md-4
                  Total    $0.00

