#content.newsfeed.contracts{style:"overflow-y: hidden;"}
  %container
    %section#widget-grid.clearfix
      .newsfeed-right
        .job-title
          .contract-top.clearfix.row
            %div.col-sm-6
              %b
                %span Contract ID: 
                =@contract.number
              %h1.clearfix
                %b
                  =@contract.job.title
              %h5
                %b Contract type:
                %span
                  = @contract&.buy_contracts&.first&.contract_type
            %div.col-sm-6.text-right
              %h5{:class => "#{@contract.status=='is_ended' || @contract.status == 'pending' || @contract.status == 'cancelled' ? 'text-danger' : 'text-success'}"}
                = @contract.status == "is_ended" ? "Ended" : @contract.status == 'pending'  ? 'Pending Activation'  :  @contract.status == 'accepted'  ? 'Active' : @contract.status&.titleize 
              %h6
                %span Contract Date:
                =@contract.created_at.strftime("%d %B %Y")
              / =link_to "Tree View", tree_view_contract_path(@contract.number)
          .row
            %div.job-header.clearfix.col-sm-4
              = image_tag "avatars/m_sunny_big.png"
              %p.job_title
                %b
                  =@contract.client.try(:full_name)
            %div.col-sm-4.job-header
              = image_tag "avatars/m_sunny_big.png"
              %p.job_title
                %b
                  =@contract.candidate.try(:full_name)
          %br
          %div.row
            %div.col-sm-6.col-md-6.col-lg-6
              .job-location
                %span
                  %i.fa.fa-map-marker
                  =@contract.work_location
            %div.col-sm-6.col-md-6.col-lg-6
              %div.divided
                %span.date_box
                  %span
                    Start Date
                  %br
                  %span
                    = @contract.start_date.strftime('%d %B %Y')
                %span.contract_progress
                %span.divider
                %span.date_box
                  %span
                    End Date
                  %br
                  %span
                    = @contract.end_date.strftime('%d %B %Y')
        %div.text-center.col-sm-12
          =link_to_if @contract.pending?, "Activate", update_contract_status_contract_path(@contract, status: "accepted"), method: :patch, class: "btn btn-success" do; end
          =link_to_if @contract.is_ended?, "Re-Activate Now", update_contract_status_contract_path(@contract, status: "accepted"), method: :patch, class: "btn btn-success" do; end
          =link_to_if @contract.accepted? || @contract.in_progress? , "End Contract", update_contract_status_contract_path(@contract, status: "is_ended"),method: :patch, class: "btn btn-danger" do; end
          =link_to_if @contract.accepted? || @contract.in_progress?, "Cancel Contract", update_contract_status_contract_path(@contract, status: "cancelled"),method: :patch, class: "btn btn-primary" do; end
          / =link_to_if @contract.accepted?, "Pause Contract", update_contract_status_contract_path(@contract, status: "paused"),method: :patch, class: "btn btn-primary" do; end
          =link_to "Timeline", "#", class: "btn btn-primary"
          =link_to "Tree View", tree_view_contract_path(@contract.number), class: "btn btn-primary"
          =link_to 'Download', download_contract_path(@contract), class: 'btn btn-primary'
        .col-sm-6.col-md-6.col-lg-6
          %h2.contract_heading
            sell
          %br
          %h3.contract_sub_heading
            Company Details
          %div.sell-side.box
            %div.contract-custome-details.line-bottom
              %h5
                Company Name : #{@contract.sell_contracts.first.try(:company).try(:full_name)}
              %div.row
                .col-sm-6.col-md-6.col-lg-6
                  %strong
                    Website :
                  %span
                    =@contract.sell_contracts&.first&.company&.website
                  %br
                  %strong
                    Location :
                  %span
                    - @contract.sell_contracts&.first&.company&.addresses.each do |address|
                      =address.address_1
                .col-sm-6.col-md-6.col-lg-6.text-center
                  %div.rate_info
                    %h5 
                      Customer Rate
                    %span
                      = @contract.sell_contracts&.first&.customer_rate.present? ? '$' + @contract.sell_contracts.first.customer_rate.to_s + " / " + @contract.sell_contracts.first.customer_rate_type.to_s : ""
            %div
              %div.contract-custome-details
                %h5
                  Business Contact Name
                %div.row
                  -@contract.sell_contracts.first.contract_sell_business_details.each do |contract_sell_business_detail|
                    .col-sm-6.col-md-6.col-lg-6
                      %div
                        %b
                          =contract_sell_business_detail.company_contact&.full_name
                        %div
                          =contract_sell_business_detail.company_contact&.department
                        %div
                          =contract_sell_business_detail.company_contact&.phone
                        %div
                          =contract_sell_business_detail.company_contact&.email
          %br
          %div
            / %div.contract-custome-details.line-bottom
            %h3.contract_sub_heading
              Accounting & Work hours terms
            %div.sell-side.box
              %div.row
                .col-sm-12.col-md-12.col-lg-12
                  %div
                    %span
                      Customer Rate:
                    %span
                      =@contract.sell_contracts&.first&.customer_rate.present? ? '$' + @contract.sell_contracts.first.customer_rate.to_s + " / " + @contract.sell_contracts.first.customer_rate_type.to_s : ""

                  %div.row
                    .col-sm-12.col-md-12.col-lg-12

                  %br
                  %div.row
                    .col-sm-4.col-md-4.col-lg-4
                      %div.sell-side.contract_box
                        %p
                          Submit Timesheet
                        %h5
                          =@contract.sell_contracts&.first&.time_sheet
                        %p
                          =sell_contract_time_sheet('time_sheet', @contract.sell_contracts&.first&.time_sheet)
                    .col-sm-4.col-md-4.col-lg-4
                      %div.sell-side.contract_box
                        %p
                          Approve Timesheet
                        %h5
                          =@contract.sell_contracts&.first&.ts_approve
                        %p
                          =sell_contract_time_sheet('ts_approve', @contract.sell_contracts&.first&.ts_approve)

                    .col-sm-4.col-md-4.col-lg-4
                      %div.sell-side.contract_box
                        %p
                          Invoice Timesheet
                        %h5
                          =@contract.sell_contracts&.first&.invoice_terms_period
                        %p
                          =sell_contract_time_sheet('invoice_terms_period', @contract.sell_contracts&.first&.invoice_terms_period)
                        %strong
                          Payment Terms:
                        %span
                          =@contract.sell_contracts&.first&.payment_term
                  %div.row
                    .col-sm-12.col-md-12.col-lg-12
                      %span
                        %b 
                          Show Accounting to employee:
                          = @contract.sell_contracts.first.show_accounting_to_employee == true ? "Yes" : "No" 
          %br
          %div.contract-custome-details
            %h3.contract_sub_heading
              Send Documents
            %div.sell-side.box
              %div.row
                .col-sm-6.col-md-6.col-lg-6
                  %span
                    %b
                      Documents
                .col-sm-2.col-md-2.col-lg-2
                  %span
                    %b
                      Expire
                .col-sm-2.col-md-2.col-lg-2
                  %span
                    %b
                      Owner
                .col-sm-2.col-md-2.col-lg-2
                  %span
                    %b
                      Signature
                %br
              %div.row
                -@contract.sell_contracts.first.sell_send_documents.each do |ssd|
                  .col-sm-6.col-md-6.col-lg-6
                    %span
                      %i.fa.fa-paperclip
                      =link_to ssd.file_name, ssd.doc_file, target: "_blank", class: 'text-break'
                  .col-sm-2.col-md-2.col-lg-2
                    %span
                      =ssd.when_expire&.strftime('%d/%m/%Y')
                  .col-sm-2.col-md-2.col-lg-2
                    %span
                      =ssd.creatable.full_name
                  .col-sm-2.col-md-2.col-lg-2
                    %span
                      - ssd.document_signs.each do |ds|
                        = ds.signable.full_name
          %br
          %div.contract-custome-details
            %h3.contract_sub_heading
              Request Documents
            %div.sell-side.box
              %div.row
                .col-sm-6.col-md-6.col-lg-6
                  %span
                    %b 
                      Documents
                .col-sm-2.col-md-2.col-lg-2
                  %span
                    %b
                      Expire
                .col-sm-2.col-md-2.col-lg-2
                  %span
                    %b
                      Owner
                .col-sm-2.col-md-2.col-lg-2
                  %span
                    %b
                      Signature
              %br
              -@contract.sell_contracts.first.sell_request_documents.each do |srd|
                %div.row
                  .col-sm-6.col-md-6.col-lg-6
                    %span
                      %i.fa.fa-paperclip
                      =link_to srd.file_name, srd.doc_file, target: "_blank", class: 'text-break'
                  .col-sm-2.col-md-2.col-lg-2
                    %span
                      =srd.when_expire&.strftime('%d/%m/%Y')
                  .col-sm-2.col-md-2.col-lg-2
                    %span
                      =srd.creatable.full_name
                  .col-sm-2.col-md-2.col-lg-2
                    %span
                      - srd.document_signs.each do |ds|
                        = ds.signable.full_name
           
        .col-sm-6.col-md-6.col-lg-6
          %h2.contract_heading
            Buy
          %br
          %h3.contract_sub_heading
            Company Details
          %div.contract-custome-details.box
            %h5
              = @contract.candidate.full_name+' ($'+@contract.buy_contracts&.first&.payrate&.to_i.to_s+' / '+@contract.buy_contracts&.first&.payrate_type+')'
            %div.contract-custome-details.line-bottom
              .row
                .col-sm-6.col-md-6.col-lg-6
                  %strong
                    Contract type :
                  %span
                    =@contract.buy_contracts.first.try(:contract_type)
                  %br
                  %strong
                    Candidate Address :
                  %span
                    =@contract.candidate&.addresses&.first&.address_1 if @contract.candidate && @contract.candidate.addresses.present?
                .col-sm-6.col-md-6.col-lg-6.rate_info.text-center
                  %h5
                    Freelancer rate
                  %span
                    = '$'+@contract.buy_contracts&.first&.payrate.to_i.to_s+' / '+@contract.buy_contracts&.first&.payrate_type
              %br
              %h5
                Company Name : #{@contract.buy_contracts&.first&.candidate&.companies&.first&.full_name}
              %strong
                Website:
              %span
                =@contract.buy_contracts&.first&.candidate&.companies&.first&.website
              %br
              %strong
                Location :
              %span
                =@contract.buy_contracts&.first&.candidate&.companies&.first&.addresses&.first&.address_1

            %div.contract-custome-details
              %h5
                Business Contact Name
              %div.row
                -@contract.sell_contracts.first.contract_sell_business_details.each do |csbd|
                  .col-sm-6.col-md-6.col-lg-6
                    %b
                      =csbd.company_contact.full_name
                    %div
                      =csbd.company_contact.phone
                    %div
                      =csbd.company_contact.email
                    %div
                      =csbd.company_contact.department
          %br
          %div.contract-accounting
            %h3.contract_sub_heading
              Accounting & Work hours terms
            %div.contract-custome-details.box
              %div
                %strong
                  FreeLancer Rate :
                %span
                  = '$ '+@contract.buy_contracts.try(:first).payrate.to_s+' / '+@contract.buy_contracts.try(:first).payrate_type
              %br
                %div
                  %strong
                    Period :
                  %span
                    = @contract.buy_contracts.try(:first).pr_start_date&.try(:strftime, "#{@contract&.buy_contracts.try(:first).pr_start_date&.day&.ordinalize} %b %Y ").to_s+' to '+@contract&.buy_contracts.try(:first).pr_end_date&.strftime("#{@contract.buy_contracts.try(:first).pr_end_date&.day&.ordinalize} %b %Y ").to_s
                %br
                %div
                  %strong
                    USCIS Rate :
                  %span
                    = '$'+@contract.buy_contracts.try(:first).uscis_rate.to_s
                %div.row
                  .col-sm-4.col-md-4.col-lg-4
                    %div.sell-side.contract_box
                      %p
                        Submit Timesheet
                      %h5
                        =@contract.buy_contracts&.first&.time_sheet
                      %p
                        =buy_contract_time_sheet('time_sheet', @contract.buy_contracts&.first&.time_sheet)
                  .col-sm-4.col-md-4.col-lg-4
                    %div.buy-side.contract_box
                      %p
                        Approve Timesheet
                      %h5
                        =@contract.buy_contracts&.first&.ts_approve
                      %p
                        =buy_contract_time_sheet('ts_approve',@contract.buy_contracts&.first&.ts_approve)

                  .col-sm-4.col-md-4.col-lg-4
                    %div.buy-side.contract_box
                      %p
                        Salary Calculation
                      %h5
                        =@contract.buy_contracts&.first&.salary_calculation
                      %p
                        =buy_contract_time_sheet('salary_calculation', @contract.buy_contracts&.first&.salary_calculation)
                %h5
                  Salary Date:
                  = @contract&.company&.payroll_infos&.first&.payroll_date.try(:strftime, '%d %B %Y')
            %br
            %div.table-responsive
              %h3.contract_sub_heading
                Comission
              %div.contract-custome-details.box
                %table.table.table-bordered
                  %thead
                    %tr
                      %th Name
                      %th Rate
                      %th Frequency
                      %th Limit
                    -@contract.buy_contracts.first.contract_sale_commisions.each do |csc|
                      %tr
                        %td
                          =csc.csc_accounts.map{ |a|  a.accountable.full_name}.join(', ')
                        %td
                          =csc.rate
                        %td
                          =csc.frequency
                        %td
                          =csc.limit
                %div.contract-custome-details.line-bottom
                  %strong
                    Payroll date:
                  %span
                    = @contract.buy_contracts.try(:first).payroll_date&.try(:strftime, '%e').to_s+' of each month'
                %div.contract-custome-details
                  %strong
                    Comissiom Payment terms:
                  %span
                    = @contract.buy_contracts.try(:first).commission_payment_term
            %br
            %div.contract-custome-details
              %h3.contract_sub_heading
                Send Documents
              %div.contract-custome-details.box
                %div.row
                  .col-sm-6.col-md-6.col-lg-6
                    %span
                      %b
                        Documents
                  .col-sm-2.col-md-2.col-lg-2
                    %span
                      %b
                        Expire
                  .col-sm-2.col-md-2.col-lg-2
                    %span
                      %b
                        Owner
                  .col-sm-2.col-md-2.col-lg-2
                    %span
                      %b
                        Signature
                %br
                %div.row
                  -@contract.buy_contracts.first.buy_send_documents.each do |bsd|
                    .col-sm-6.col-md-6.col-lg-6
                      %span
                        %i.fa.fa-paperclip
                        =link_to bsd.file_name, bsd.doc_file, target: "_blank", class: 'text-break'
                    .col-sm-2.col-md-2.col-lg-2
                      %span
                        = bsd.when_expire&.strftime('%d/%m/%Y')
                    .col-sm-2.col-md-2.col-lg-2
                      %span
                        =bsd.creatable.full_name
                    .col-sm-2.col-md-2.col-lg-2
                      %span
                        - bsd.document_signs.each do |ds|
                          = ds.signable.full_name

            %br
            %div.contract-custome-details
              %h3.contract_sub_heading
                Request Documents
              %div.contract-custome-details.box
                %div.row
                  .col-sm-6.col-md-6.col-lg-6
                    %span
                      %b 
                        Documents
                  .col-sm-2.col-md-2.col-lg-2
                    %span
                      %b
                        Expire
                  .col-sm-2.col-md-2.col-lg-2
                    %span
                      %b
                        Owner
                  .col-sm-2.col-md-2.col-lg-2
                    %span
                      %b
                        Signature
                %br
                %div.row
                  -@contract.buy_contracts.first.buy_emp_req_docs.each do |berd|
                    .col-sm-6.col-md-6.col-lg-6
                      %span
                        %i.fa.fa-paperclip
                        =link_to berd.file_name, berd.doc_file, target: "_blank", class: 'text-break'
                    .col-sm-2.col-md-2.col-lg-2
                      %span
                        = berd.when_expire&.strftime('%d/%m/%Y')
                    .col-sm-2.col-md-2.col-lg-2
                      %span
                        =berd.creatable.full_name
                    .col-sm-2.col-md-2.col-lg-2
                      %span
                        - berd.document_signs.each do |ds|
                          = ds.signable.full_name
                %div.row 
                  -@contract.buy_contracts.first.buy_ven_req_docs.each do |bvrd|
                    .col-sm-6.col-md-6.col-lg-6
                      %span
                        %i.fa.fa-paperclip
                        =link_to bvrd.file_name, bvrd.doc_file, target: "_blank", class: 'text-break'
                    .col-sm-2.col-md-2.col-lg-2
                      %span
                        = bvrd.when_expire&.strftime('%d/%m/%Y')
                    .col-sm-2.col-md-2.col-lg-2
                      %span
                        =bvrd.creatable.full_name
                    .col-sm-2.col-md-2.col-lg-2
                      %span
                        - bvrd.document_signs.each do |ds|
                          = ds.signable.full_name

                    
- if @contract.pending? && !@contract.is_sent?(current_company)
  - content_for :modals do
    #ajax-modal
    = render 'company/contracts/partials/accept_contract_modal' , contract: @contract , status: 'accept'
    = render 'company/contracts/partials/accept_contract_modal' , contract: @contract , status: 'reject'
  - content_for :scripts do
    :javascript
      function openAccept(){
        $("#contract-accept-#{@contract.id}").modal('show');
      }
      $(".upload-doc-button").click(function(){
        file = '.'+$(this).attr('id');
        filepicker.setKey("#{ENV['filepicker_api_key']}");
        filepicker.pick({},function(blob){
          $(file).val(blob.url);
          $(file).parent().submit();
        });
      });
- content_for :scripts do
  :javascript
    $('.contract_progress').attr('data-content','0%');
    $('.contract_progress').css('left', '#{(((@contract.contract_progress.to_f*54)/100).to_f+21).round}%');
    $('.contract_progress').attr('data-content','#{@contract.contract_progress.to_f.round}%');

      

