#content.newsfeed.contracts{style:"overflow-y: hidden;"}
  -#.row
    -#.col-sm-12.col-md-12.col-lg-12
    -#  .product-content.product-wrap.clearfix.product-deatil
    -#    .row
    -#      .col-md-12.col-sm-12.col-xs-12
    -#        - if @contract.pending? && !@contract.is_sent?(current_company)
    -#          .btn-group.pull-right
    -#            = button_tag 'Accept' , class: 'btn btn-primary btn-default margin-right-5' , disabled: @contract.signature_required_docs? , onclick: 'openAccept();'
    -#            = button_tag 'Reject' ,  class: 'btn btn-default margin-right-5' , "data-toggle": "modal" , "data-target":"#contract-reject-#{@contract.id}"
    -#        %h2.name
    -#          = @contract.try(:title)
    -#          %small
    -#            Created by
    -#            = link_to @contract.created_by.full_name , '#'
    -#          %i.fa.fa-star.fa-2x.text-primary
    -#          %i.fa.fa-star.fa-2x.text-primary
    -#          %i.fa.fa-star.fa-2x.text-primary
    -#          %i.fa.fa-star.fa-2x.text-primary
    -#          %i.fa.fa-star.fa-2x.text-muted
    -#          %span.badge= @contract.status.humanize
    -#        %hr/
    -#        -#%h3.price-container
    -#          -#%small *includes tax
    -#        - if @contract.signature_required_docs? && @contract.pending? && !@contract.is_sent?(current_company)
    -#          .alert.alert-danger.alert-block
    -#            %h4.alert-heading Required Documents
    -#            Please upload the following required documents.
    -#            - @contract.attachable_docs.each_with_index do |doc , index|
    -#              %ul.margin-top-5
    -#                - if doc.company_doc.is_required_signature? && @contract.pending? && !@contract.is_sent?(current_company) && !doc.is_file?
    -#                  %li
    -#                    = form_for [@contract , doc] , url: update_attachable_doc_contract_path(@contract) , method: :post  do |f|
    -#                      = f.hidden_field :file , class: "attachment-file-upload-field-#{doc.id}"
    -#                      = f.hidden_field :id
    -#                    %p
    -#                      Please upload a signed copy of #{link_to doc.company_doc.name , doc.orignal_file , class: 'text-white' , download: true },To upload now please #{link_to 'click here ' , '#' , id: "attachment-file-upload-field-#{doc.id}"  , class: 'upload-doc-button'}.
    -#        %h5.price-container.margin-bottom-10
    -#          Quick Details
    -#        .certified
    -#          %ul
    -#            %li
    -#              %a{:href => "javascript:void(0);"}
    -#                Current Rate
    -#                %span $#{@contract.rate}
    -#            %li
    -#              %a{:href => "javascript:void(0);"}
    -#                Invoices Frequency
    -#                %span= @contract.billing_frequency.humanize
    -#            %li
    -#              %a{:href => "javascript:void(0);"}
    -#                Timesheet Frequency
    -#                %span= @contract.time_sheet_frequency.humanize
    -#            - if @contract.assignee?
    -#              %li
    -#                %a{:href => "javascript:void(0);"}
    -#                  Assignee
    -#                  %span= @contract.assignee.full_name
    -#            - if @contract.is_commission
    -#              %li
    -#                %a{:href => "javascript:void(0);"}
    -#                  Commission
    -#                  %span=  @contract.fixed? ? '$'+ @contract.commission_amount.to_s : @contract.commission_amount.to_s + '%'
    -#              %li
    -#                %a{:href => "javascript:void(0);"}
    -#                  Max Commission
    -#                  %span $#{@contract.max_commission}
    -#            %li
    -#              %a{:href => "javascript:void(0);"}
    -#                Start/End Date
    -#                %span= @contract.start_date.to_s + "   /   " + @contract.end_date.to_s
    -#
    -#        - if @contract.is_sent?(current_company)
    -#          -#%button.pull-right.btn.btn-white.btn-default.margin-right-5
    -#          -#  Change Terms
    -#          = link_to 'Change Terms', edit_contract_path(@contract), remote: true , class:"pull-right btn btn-white btn-default margin-right-5"
    -#        %p
    -#          %b
    -#            Current Terms:
    -#          = raw @contract.terms_and_conditions
    -#        - if @contract.attachable_docs.present?
    -#          %h5.price-container.margin-bottom-10
    -#            #{@contract.attachable_docs.count} Contract Document(s)
    -#          .table-responsive
    -#            %table.table.table-bordered.table-condensed
    -#              %thead
    -#                %tr
    -#                  %th{:style => "width:50%"} Name
    -#                  %th{:style => "width:50%;"} Action
    -#              %tbody
    -#                -@contract.attachable_docs.each_with_index do |doc , index|
    -#                  %tr
    -#                    %td= doc.company_doc.name
    -#                    %td
    -#                      = link_to 'Download Orignal',doc.orignal_file,target:'_blank', class: 'margin-right-10 btn btn-default' , download: true
    -#                      - if doc.is_file?
    -#                        = link_to 'Download Signed',doc.file,target:'_blank', class: 'margin-right-10 btn btn-default' , download: true
    -#        - if @contract.attachments.present?
    -#          %h3.price-container
    -#            #{@contract.attachments.size} Attachment(s)
    -#          .forum-attachment
    -#            -#%a{:href => "javascript:void(0);"} Download all attachments
    -#            %ul.list-inline.margin-top-10
    -#              - @contract.attachments.each do |attachment|
    -#                %li.well.well-sm.padding-5
    -#                  %strong= attachment.file_name.nil? ? '--'  : attachment.file_name.truncate(15)
    -#                  %br/
    -#                  = number_to_human_size(attachment.file_size)
    -#                  %br/
    -#                  = link_to 'Download' , attachment.file , download: true
    -#                  |
    -#                  = link_to 'View' , attachment.file , target: '_blank'
    -#        - if @contract.message_from_hiring.present?
    -#          %br
    -#            %b
    -#              Message:
    -#            %br
    -#            = raw(@contract.message_from_hiring)
    -#        %hr/
    -#        .description.description-tabs
    -#          %ul#myTab.nav.nav-pills
    -#            %li.active
    -#              %a.no-margin{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#application"}Job Application
    -#            - if @contract.invoices?
    -#              %li
    -#                %a{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#invoices"} Invoices
    -#            %li
    -#              = link_to 'Teams' , '#teams' , {"aria-expanded" => "true", "data-toggle" => "tab"}
    -#            %li
    -#              = link_to 'Comments' , '#comments' , {"aria-expanded" => "true", "data-toggle" => "tab"}
    -#          #myTabContent.tab-content
    -#            #teams.tab-pane.fade.in
    -#              = render 'company/contracts/partials/teams', application: @contract.job_application
    -#            #application.tab-pane.fade.active.in
    -#              = render 'company/contracts/partials/application' , application: @contract.job_application
    -#            - if not @contract.job_application_id.nil?
    -#              #comments.tab-pane.fade
    -#                = render 'company/contracts/partials/comments' , application: @contract.job_application
    -#            -if @contract.invoices?
    -#              #invoices.tab-pane.fade.in
    -#                %table#dt_basic.table.table-striped.table-bordered.table-hover{:width => "100%"}
    -#                  %thead
    -#                    %tr
    -#                      %th{"data-hide" => "phone"} #
    -#                      %th{"data-class" => "expand"}
    -#                        %i.fa.fa-fw.fa-calendar.txt-color-blue.hidden-md.hidden-sm.hidden-xs
    -#                        Start-Date
    -#                      %th{"data-class" => "expand"}
    -#                        %i.fa.fa-fw.fa-calendar.txt-color-blue.hidden-md.hidden-sm.hidden-xs
    -#                        Last-Date
    -#                      %th{"data-hide" => "phone,tablet"}
    -#                  %tbody
    -#                    -@contract.invoices.each_with_index do |invoice , index|
    -#                      %tr
    -#                        %td= index + 1
    -#                        %td= invoice.start_date
    -#                        %td= invoice.end_date
    -#                        %td
    -#                          = link_to 'View Detail' , contract_invoice_path(@contract , invoice) , target: '_blank' ,class: 'btn btn-xs btn-default btn-primary'
  %container
    %section#widget-grid.clearfix
      .newsfeed-right
        .job-title
          .contract-top.clearfix
            %span.pull-left
              %b
                %span Contract ID: 
                =@contract.number
                %span              
                  =@contract.status&.titleize
            %span.pull-right
              %i.fa.fa-calendar-o
              =@contract.created_at.strftime("%d/%m/%Y")
              %br
              =link_to "Tree View", tree_view_contract_path(@contract.number)
          %div.job-header.clearfix
            = image_tag "avatars/m_sunny_big.png"
            %p.job_title
              %b
                %i.fa.fa-user
                =@contract.client.try(:full_name)
          %p.divided
            %span.date_box
              %span
                Start Date
              %span
                = @contract.start_date.strftime('%d %B %Y')
            %span.contract_progress
            %span.divider
            %span.date_box
              %span
                End Date
              %span
                = @contract.end_date.strftime('%d %B %Y')
          .job-location
            %p.job_title
              =@contract.job.title
            %span
              %i.fa.fa-map-marker
              =@contract.work_location
            %span
              %i.fa.fa-user
              =@contract.candidate.try(:full_name)
            %span
              %i.fa.fa-calendar-o
              =@contract.start_date
              To
              %i.fa.fa-calendar-o
              =@contract.end_date
        .col-sm-6.col-md-6.col-lg-6
          %h3
            sell
          %div.sell-side.box
            %div.contract-custome-details.line-bottom
              %h5
                Company Name : #{@contract.sell_contracts.first.try(:company).try(:full_name)}
              %div.row
                .col-sm-6.col-md-6.col-lg-6
                  %strong
                    Website :
                  %span
                    =@contract.sell_contracts&.first&.company&.website
                  %strong
                    Location :
                    %span
                      - @contract.sell_contracts&.first&.company&.addresses.each do |address|
                        =address.address_1
                .col-sm-6.col-md-6.col-lg-6.text-center
                  %div
                    %h5 
                      Customer Rate
                    %span
                      = @contract.sell_contracts&.first&.customer_rate.present? ? '$' + @contract.sell_contracts.first.customer_rate.to_s + " / " + @contract.sell_contracts.first.customer_rate_type.to_s : ""
            %div
              %div.contract-custome-details.line-bottom
                %h5
                  Business Contact Name
                %div.row
                  -@contract.sell_contracts.first.contract_sell_business_details.each do |contract_sell_business_detail|
                    .col-sm-6.col-md-6.col-lg-6
                      %div
                        %b
                          =contract_sell_business_detail.company_contact&.full_name
                        %p
                          =contract_sell_business_detail.company_contact&.department
                        %p
                          =contract_sell_business_detail.company_contact&.phone
                        %p
                          =contract_sell_business_detail.company_contact&.email
            %div
              %div.contract-custome-details.line-bottom
                %h5
                  Accounting & Work hours terms
                %div.row
                  .col-sm-12.col-md-12.col-lg-12
                    %div
                      %span
                        Customer Rate:
                      %span
                        =@contract.sell_contracts&.first&.customer_rate.present? ? '$' + @contract.sell_contracts.first.customer_rate.to_s + " / " + @contract.sell_contracts.first.customer_rate_type.to_s : ""

                %div.row
                  .col-sm-12.col-md-12.col-lg-12
                    %div
                      %span
                        Payment Terms:
                      %span
                        =@contract.sell_contracts&.first&.payment_term
                %br
                %div.row
                  .col-sm-4.col-md-4.col-lg-4
                    %div.sell-side.contract_box
                      %p
                        Submit Timesheet
                      %h5
                        =@contract.sell_contracts&.first&.time_sheet
                      %p
                        =sell_contract_time_sheet('time_sheet', @contract.sell_contracts&.first&.time_sheet)
                  .col-sm-4.col-md-4.col-lg-4
                    %div.sell-side.contract_box
                      %p
                        Approve Timesheet
                      %h5
                        =@contract.sell_contracts&.first&.ts_approve
                      %p
                        =sell_contract_time_sheet('ts_approve', @contract.sell_contracts&.first&.ts_approve)

                  .col-sm-4.col-md-4.col-lg-4
                    %div.sell-side.contract_box
                      %p
                        Invoice Timesheet
                      %h5
                        =@contract.sell_contracts&.first&.invoice_terms_period
                      %p
                        =sell_contract_time_sheet('invoice_terms_period', @contract.sell_contracts&.first&.invoice_terms_period)
                %div.row
                  .col-sm-12.col-md-12.col-lg-12
                    %span
                      %b 
                        Show Accounting to employee:
                        = @contract.sell_contracts.first.show_accounting_to_employee == "true" ? "Yes" : "No" 
            %div.contract-custome-details.line-bottom
              %h5
                Send Documents
              %div.row
                .col-sm-6.col-md-6.col-lg-6
                  %span
                    %b
                      Documents
                .col-sm-2.col-md-2.col-lg-2
                  %span
                    %b
                      Expire
                .col-sm-2.col-md-2.col-lg-2
                  %span
                    %b
                      Owner
                .col-sm-2.col-md-2.col-lg-2
                  %span
                    %b
                      Signature
              %br
              %div.row
                -@contract.sell_contracts.first.sell_send_documents.each do |ssd|
                  .col-sm-6.col-md-6.col-lg-6
                    %span
                      %i.fa.fa-paperclip
                      =link_to ssd.file_name, ssd.doc_file, target: "_blank", class: 'text-break'
                  .col-sm-2.col-md-2.col-lg-2
                    %span
                      =ssd.when_expire&.strftime('%d/%m/%Y')
                  .col-sm-2.col-md-2.col-lg-2
                    %span
                      =ssd.creatable.full_name
                  .col-sm-2.col-md-2.col-lg-2
                    %span
                      - ssd.document_signs.each do |ds|
                        = ds.signable.full_name
            
            %div.contract-custome-details.line-bottom
              %h5
                Request Documents
              %div.row
                .col-sm-6.col-md-6.col-lg-6
                  %span
                    %b 
                      Documents
                .col-sm-2.col-md-2.col-lg-2
                  %span
                    %b
                      Expire
                .col-sm-2.col-md-2.col-lg-2
                  %span
                    %b
                      Owner
                .col-sm-2.col-md-2.col-lg-2
                  %span
                    %b
                      Signature
              %br
              -@contract.sell_contracts.first.sell_request_documents.each do |srd|
                %div.row
                  .col-sm-6.col-md-6.col-lg-6
                    %span
                      %i.fa.fa-paperclip
                      =link_to srd.file_name, srd.doc_file, target: "_blank", class: 'text-break'
                  .col-sm-2.col-md-2.col-lg-2
                    %span
                      =srd.when_expire&.strftime('%d/%m/%Y')
                  .col-sm-2.col-md-2.col-lg-2
                    %span
                      =srd.creatable.full_name
                  .col-sm-2.col-md-2.col-lg-2
                    %span
                      - srd.document_signs.each do |ds|
                        = ds.signable.full_name
           
        .col-sm-6.col-md-6.col-lg-6
          %h3
            buy side
          %div.contract-custome-details.box
            %h5.text-center
              = @contract.candidate.full_name+' ($'+@contract.buy_contracts.first.payrate.to_i.to_s+' / '+@contract.buy_contracts.first.payrate_type+')'
            %div.contract-custome-details.line-bottom
              %div
                %strong
                  Contract type :
                %span
                  =@contract.buy_contracts.first.try(:contract_type)
              %br
              %div
                %strong
                  Candidate Address :
                %span
                  =@contract.candidate.addresses.first.address_1 if @contract.candidate && @contract.candidate.addresses.present?

              %h6
                Company Name : #{@contract.buy_contracts.first.candidate.companies.first.full_name}
              %strong
                Website:
              %span
                =@contract.buy_contracts.first.candidate.companies.first.website
              %br
              %strong
                Location :
              %span
                =@contract.buy_contracts.first.candidate.companies.first.addresses.first.address_1

            %div.contract-custome-details.line-bottom
              %h5
                Business Contact Name
              %div.row
                -@contract.sell_contracts.first.contract_sell_business_details.each do |csbd|
                  .col-sm-6.col-md-6.col-lg-6
                    %p
                      =csbd.company_contact.full_name
                    %p
                      =csbd.company_contact.phone
                    %p
                      =csbd.company_contact.email
                    %p
                      =csbd.company_contact.department
            
            %div.contract-accounting
              %h5
                Accounting & Work hours terms
              %div
                %strong
                  FreeLancer Rate :
                %span
                  = '$ '+@contract.buy_contracts.try(:first).payrate.to_s+' / '+@contract.buy_contracts.try(:first).payrate_type
              %br
              %div
                %strong
                  Period :
                %span
                  = @contract.buy_contracts.try(:first).pr_start_date.strftime("#{@contract.buy_contracts.try(:first).pr_start_date.day.ordinalize} %b %Y ").to_s+' to '+@contract.buy_contracts.try(:first).pr_end_date.strftime("#{@contract.buy_contracts.try(:first).pr_end_date.day.ordinalize} %b %Y ").to_s
              %br
              %div
                %strong
                  USCIS Rate :
                %span
                  = '$'+@contract.buy_contracts.try(:first).uscis_rate.to_s
              %div.row
                .col-sm-4.col-md-4.col-lg-4
                  %div.sell-side.contract_box
                    %p
                      Submit Timesheet
                    %h5
                      =@contract.buy_contracts&.first&.time_sheet
                    %p
                      =buy_contract_time_sheet('time_sheet', @contract.buy_contracts&.first&.time_sheet)
                .col-sm-4.col-md-4.col-lg-4
                  %div.buy-side.contract_box
                    %p
                      Approve Timesheet
                    %h5
                      =@contract.buy_contracts&.first&.ts_approve
                    %p
                      =buy_contract_time_sheet('ts_approve',@contract.buy_contracts&.first&.ts_approve)

                .col-sm-4.col-md-4.col-lg-4
                  %div.buy-side.contract_box
                    %p
                      Salary Calculation
                    %h5
                      =@contract.buy_contracts&.first&.salary_calculation
                    %p
                      =buy_contract_time_sheet('salary_calculation', @contract.buy_contracts&.first&.salary_calculation)
            %hr
            %div.table-responsive
              Comission:
              %table.table.table-bordered
                %thead
                  %tr
                    %th Name
                    %th Rate
                    %th Frequency
                    %th Limit
                  -@contract.buy_contracts.first.contract_sale_commisions.each do |csc|
                    %tr
                      %td
                        =csc.csc_accounts.map{ |a|  a.accountable.full_name}.join(', ')
                      %td
                        =csc.rate
                      %td
                        =csc.frequency
                      %td
                        =csc.limit
            %div.contract-custome-details.line-bottom
              %strong
                Payroll date:
              %span
                = @contract.buy_contracts.try(:first).payroll_date&.try(:strftime, '%e').to_s+' of each month'
            %div.contract-custome-details.line-bottom
              %strong
                Comissiom Payment terms:
              %span
                = @contract.buy_contracts.try(:first).commission_payment_term
            %div.contract-custome-details.line-bottom
              %h5
                Send Documents
              %div.row
                .col-sm-6.col-md-6.col-lg-6
                  %span
                    %b
                      Documents
                .col-sm-2.col-md-2.col-lg-2
                  %span
                    %b
                      Expire
                .col-sm-2.col-md-2.col-lg-2
                  %span
                    %b
                      Owner
                .col-sm-2.col-md-2.col-lg-2
                  %span
                    %b
                      Signature
              %br
              %div.row
                -@contract.buy_contracts.first.buy_send_documents.each do |bsd|
                  .col-sm-6.col-md-6.col-lg-6
                    %span
                      %i.fa.fa-paperclip
                      =link_to bsd.file_name, bsd.doc_file, target: "_blank", class: 'text-break'
                  .col-sm-2.col-md-2.col-lg-2
                    %span
                      =bsd.creatable.full_name
                  .col-sm-2.col-md-2.col-lg-2
                    %span
                      - bsd.document_signs.each do |ds|
                        = ds.signable.full_name


            %div.contract-custome-details.line-bottom
              %h5
                Request Documents
              %div.row
                .col-sm-6.col-md-6.col-lg-6
                  %span
                    %b 
                      Documents
                .col-sm-2.col-md-2.col-lg-2
                  %span
                    %b
                      Expire
                .col-sm-2.col-md-2.col-lg-2
                  %span
                    %b
                      Owner
                .col-sm-2.col-md-2.col-lg-2
                  %span
                    %b
                      Signature
              %br
              %div.row
                -@contract.buy_contracts.first.buy_emp_req_docs.each do |berd|
                  .col-sm-6.col-md-6.col-lg-6
                    %span
                      %i.fa.fa-paperclip
                      =link_to berd.file_name, berd.doc_file, target: "_blank", class: 'text-break'
                  .col-sm-2.col-md-2.col-lg-2
                    %span
                      =berd.creatable.full_name
                  .col-sm-2.col-md-2.col-lg-2
                    %span
                      - berd.document_signs.each do |ds|
                        = ds.signable.full_name

            %div.row 
              -@contract.buy_contracts.first.buy_ven_req_docs.each do |bvrd|
                .col-sm-6.col-md-6.col-lg-6
                  %span
                    %i.fa.fa-paperclip
                    =link_to bvrd.file_name, bvrd.doc_file, target: "_blank", class: 'text-break'
                .col-sm-2.col-md-2.col-lg-2
                  %span
                    =bvrd.creatable.full_name
                .col-sm-2.col-md-2.col-lg-2
                  %span
                    - bvrd.document_signs.each do |ds|
                      = ds.signable.full_name

                    
- if @contract.pending? && !@contract.is_sent?(current_company)
  - content_for :modals do
    #ajax-modal
    = render 'company/contracts/partials/accept_contract_modal' , contract: @contract , status: 'accept'
    = render 'company/contracts/partials/accept_contract_modal' , contract: @contract , status: 'reject'
  - content_for :scripts do
    :javascript
      function openAccept(){
        $("#contract-accept-#{@contract.id}").modal('show');
      }
      $(".upload-doc-button").click(function(){
        file = '.'+$(this).attr('id');
        filepicker.setKey("#{ENV['filepicker_api_key']}");
        filepicker.pick({},function(blob){
          $(file).val(blob.url);
          $(file).parent().submit();
        });
      });
- content_for :scripts do
  :javascript
    $('.contract_progress').css('left', '#{@contract.contract_progress.to_i+10}%');

      

