%section
  .container
    .row
      %hr
      = form_tag filter_timeline_contracts_path, remote: true, method: :get, class: 'filter_timeline' do
        .col-md-2
          .form-group
            %label Contract
            = select_tag "contracts", options_from_collection_for_select(@contracts, 'id', 'title'),{class: "form-control contract_list", prompt: "All"}
        .col-md-2
          .form-group
            %label Consultant
            = select_tag "consultants", options_from_collection_for_select(@candidates, 'id', 'full_name'),{class: "form-control candidate_list", prompt: "All"}
        .col-md-2
          .form-group
            %label Action
            = select_tag 'cycle_actions', options_for_select(['Timesheet submit', 'Timesheet Approve', 'Invoice Generate', 'Salary calculation', 'Salary process', 'Salary clear', 'Commission calculation', 'Commission process', 'Commission clear']), {class: 'form-control cycle_action', prompt: 'All'}
        .col-md-2
          .form-group
            %label Search by relevance
            = select_tag 'view_type', options_for_select(['Overall View', 'Invoice View', 'Salary View']), {class: 'form-control'}
        .col-md-2
          .form-group
            %label Sort By
            = select_tag 'sort_by', options_for_select(['Date', 'Actions']), {class: 'form-control'}
    .row
      .col-xs-12
        %p.mb-0
          Showing Tasks for you from : All Contracts, All Freelancers and All Actions
    .row.timeline-wrap
      / = render "timeline", todo_contract_cycles: @todo_contract_cycles, completed_contract_cycles: @completed_contract_cycles, overdue_contract_cycles: @overdue_contract_cycles
      = render 'timeline', contract_cycles: @contract_cycles


- content_for :scripts do
  :javascript

    $('.contract_list').on('change', function(){
      var contract_id = $(this).val();
      var candidate_id = $('.candidate_list').val();
      var note = $('.cycle_action').val();
      filter_timeline(contract_id, candidate_id, note)
    })

    $('.candidate_list').on('change', function(){
      var candidate_id = $(this).val();
      var contract_id = $('.contract_list').val();
      var note = $('.cycle_action').val();
      filter_timeline(contract_id, candidate_id, note)
    })

    $('.cycle_action').on('change', function(){
      var candidate_id = $('.candidate_list').val();
      var contract_id = $('.contract_list').val();
      var note = $(this).val();
      filter_timeline(contract_id, candidate_id, note)
    })

    function filter_timeline(contract_id, candidate_id, note){
      $.ajax({
        url: "/contracts/filter_timeline",
        type: "GET",
        data: { contract_id: contract_id, candidate_id: candidate_id, note: note },
        dataType: "script"
      });
    }