.content-box
  .element-wrapper
    .element-box
      %section
        .container
          .contract-fields_wrapper
            .row.space-evenly
              .col-md-2
                .form-group
                  %label Contract
                  = select_tag "contracts", options_from_collection_for_select(@contracts, 'id', 'title'),{class: "form-control contract_list", prompt: "All"}
              .col-md-2
                .form-group
                  %label Consultant
                  = select_tag "consultants", options_from_collection_for_select(@candidates, 'id', 'full_name'),{class: "form-control candidate_list", prompt: "All"}
              .col-md-2
                .form-group
                  %label Action
                  = select_tag 'cycle_actions', options_for_select(['Timesheet submit', 'Timesheet Approve', 'Invoice Generate', 'Salary calculation', 'Salary process', 'Salary clear', 'Commission calculation', 'Commission process', 'Commission clear', 'VendorBill calculation', 'VendorPayment process', 'VendorBill clear', 'ClientBill calculation', 'ClientPayment process', 'ClientBill clear', 'ClientExpense calculation', 'ClientExpense Approve', 'ClientExpense Invoice' ]), {class: 'form-control cycle_action', prompt: 'All'}
              -#.col-md-2
              -#  .form-group
              -#    %label Search by relevance
              -#    = select_tag 'view_type', options_for_select(['Overall View', 'Invoice View', 'Salary View']), {class: 'form-control'}
              .col-md-2
                .form-group
                  %label Sort By
                  = select_tag 'sort_by', options_for_select(['Date', 'Actions']), {class: 'form-control'}
          .row.timeline-wrap.margin-bottom-10.margin-top-10
            -#= render "timeline", todo_contract_cycles: @todo_contract_cycles, completed_contract_cycles: @completed_contract_cycles, overdue_contract_cycles: @overdue_contract_cycles
            = render 'timeline', contract_cycles: @contract_cycles

          -#  = form_tag filter_timeline_contracts_path, remote: true, method: :get, class: 'filter_timeline' do
          -#  .row
          -#    .col-md-5
          -#      = radio_button_tag :duration, class: 'form-control'
          -#      = label_tag :weekly, "Weekly", class: 'label-form'
          -#      = radio_button_tag :duration, class: 'form-control'
          -#      = label_tag :monthly, "Monthly", class: 'label-form'
          -#    .col-md-4
          -#      %input{class: 'pull-right nav-link', id: 'custom_range', plceholder: 'Custom Rage Search', "data-date-format" => "DD/MM/YYYY"}
          -#
          -#%br
          -#%br
          -#%hr
          -#%div
          -#.widget-body
          -#  .row
          -#    .col-md-6
          -#      %ul#myTab1.nav.nav-tabs.smaller{style: "border-bottom: 0px;"}
          -#        %li.nav-item.active.cumstom_nav-tab
          -#          %a{"data-toggle" => "tab", :href => "#tab-r1", class: "nav-link cumstom_nav-tab display-flex"}
          -#            %span.badge.bg-color-blue.txt-color-white
          -#            Upcoming
          -#            %span.badge.bg-color-blue.txt-color-white
          -#        %li.nav-item.cumstom_nav-tab
          -#          %a{"data-toggle" => "tab", :href => "#tab-r2",class: "nav-link cumstom_nav-tab display-flex"}
          -#            %span.badge.bg-color-blue.txt-color-white
          -#            Submitted
          -#            %span.badge.bg-color-blue.txt-color-white
          -#        %li.nav-item.cumstom_nav-tab
          -#          %a{"data-toggle" => "tab", :href => "#tab-r3",class: "nav-link cumstom_nav-tab display-flex"}
          -#            %span.badge.bg-color-blue.txt-color-white
          -#            Approved
          -#            %span.badge.bg-color-blueDark.txt-color-white
          -#        %li.nav-item.cumstom_nav-tab
          -#          %a{"data-toggle" => "tab", :href => "#tab-r4",class: "nav-link cumstom_nav-tab display-flex"}
          -#            %span.badge.bg-color-blueDark.txt-color-white
          -#            Rejected
          -#            %span.badge.bg-color-blueDark.txt-color-white
          -#        %li.nav-item.cumstom_nav-tab
          -#          %a{"data-toggle" => "tab", :href => "#tab-r5",class: "nav-link cumstom_nav-tab display-flex"}
          -#            %span.badge.bg-color-blueDark.txt-color-white
          -#            All
          -#            %span.badge.bg-color-blueDark.txt-color-white
          -#    .col-md-6
          -#      %div.pull-right
          -#        .row
          -#          .col-md-12.margin-bottom-10
          -#            = link_to '#', class: 'btn btn-sm btn-secondary' do
          -#              <i class="fa fa-th-large" aria-hidden="true"></i>
          -#            = link_to 'Export', '#', class: 'btn btn-sm btn-secondary'
          -#            = link_to 'Print', '#', class: 'btn btn-sm btn-secondary'
          -#        .row
          -#          .col-12
          -#            %div.search_bar
          -#              = button_tag raw("<i class='fa fa-fw fa-search fa-lg'></i>") , class: 'btn btn-default btn-search-bar'
          -#              = text_field_tag :job_title_cont,"", class: "form-control input-lg bg-white search-form search_input", placeholder: "Search Contracts..."
          -#  .col-md-12
          -#    .tab-content
          -#      #tab-r1.tab-pane.padding-top-15.active.in
          -#        1
          -#      #tab-r2.tab-pane.padding-top-15
          -#        2
          -#      #tab-r3.tab-pane.padding-top-15
          -#        3
          -#      #tab-r4.tab-pane.padding-top-15
          -#        4
          -#      #tab-r5.tab-pane.padding-top-15
          -#        5


- content_for :scripts do
  :javascript

    $('#custom_range').daterangepicker({
        startDate: moment().startOf('month'),
        endDate: moment().endOf('month'),
        locale: {
          format: 'DD/MM/YYYY'
        }
      });

    $('.contract_list').on('change', function(){
      var contract_id = $(this).val();
      var candidate_id = $('.candidate_list').val();
      var note = $('.cycle_action').val();
      filter_timeline(contract_id, candidate_id, note)
    })

    $('.candidate_list').on('change', function(){
      var candidate_id = $(this).val();
      var contract_id = $('.contract_list').val();
      var note = $('.cycle_action').val();
      filter_timeline(contract_id, candidate_id, note)
    })

    $('.cycle_action').on('change', function(){
      var candidate_id = $('.candidate_list').val();
      var contract_id = $('.contract_list').val();
      var note = $(this).val();
      filter_timeline(contract_id, candidate_id, note)
    })

    function filter_timeline(contract_id, candidate_id, note){
      $.ajax({
        url: "/contracts/filter_timeline",
        type: "GET",
        data: { contract_id: contract_id, candidate_id: candidate_id, note: note },
        dataType: "script"
      });
    }