.content-box
  .element-wrapper
    .element-box
      %section
        .container
          .contract-fields_wrapper
            .row.space-evenly
              .col-md-2
                .form-group
                  %label Contract
                  = select_tag "contracts", options_from_collection_for_select(@contracts, 'id', 'title',@contract&.id),{class: "form-control contract_list", prompt: "All"}
              .col-md-2
                .form-group
                  %label Consultant
                  = select_tag "consultants", options_from_collection_for_select(@candidates, 'id', 'full_name'),{class: "form-control candidate_list", prompt: "All"}
              .col-md-2
                .form-group
                  %label Action
                  = select_tag 'cycle_actions', options_for_select(ContractCycle.get_cycle_types.map{|type| [type.tableize.singularize.split("_").join(" "),type]}), {class: 'form-control cycle_action', prompt: 'All'}
              -#.col-md-2
              -#  .form-group
              -#    %label Search by relevance
              -#    = select_tag 'view_type', options_for_select(['Overall View', 'Invoice View', 'Salary View']), {class: 'form-control'}
              .col-md-2
                .form-group
                  %label Sort By
                  = select_tag 'sort_by', options_for_select(['Date', 'Actions']), {class: 'form-control'}
          .row.timeline-wrap.margin-bottom-10.margin-top-10
            -#= render "timeline", todo_contract_cycles: @todo_contract_cycles, completed_contract_cycles: @completed_contract_cycles, overdue_contract_cycles: @overdue_contract_cycles
            = render 'timeline', contract_cycles: @contract_cycles
  .cyclable_modals

- content_for :scripts do
  :javascript
    $('#custom_range').daterangepicker({
        startDate: moment().startOf('month'),
        endDate: moment().endOf('month'),
        locale: {
          format: 'DD/MM/YYYY'
        }
      });
    default_active_nav('.ln-7');
    $('.contract_list').on('change', function(){
      var contract_id = $(this).val();
      var candidate_id = $('.candidate_list').val();
      var note = $('.cycle_action').val();
      filter_timeline(contract_id, candidate_id, note)
    })

    $('.candidate_list').on('change', function(){
      var candidate_id = $(this).val();
      var contract_id = $('.contract_list').val();
      var note = $('.cycle_action').val();
      filter_timeline(contract_id, candidate_id, note)
    })

    $('.cycle_action').on('change', function(){
      var candidate_id = $('.candidate_list').val();
      var contract_id = $('.contract_list').val();
      var note = $(this).val();
      filter_timeline(contract_id, candidate_id, note)
    })

    function filter_timeline(contract_id, candidate_id, note){
      $.ajax({
        url: "/contracts/filter_timeline",
        type: "GET",
        data: { contract_id: contract_id, candidate_id: candidate_id, note: note },
        dataType: "script"
      });
    }