<% content_for :google_address_search_api do %>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['google_search_location_api_key'] %>&libraries=places" type="text/javascript"></script>
<% end %>

<%= form_with(model: [@job], local: true) do |form| %>
  <%= render 'company/jobs/partials/forms/errors', form: form %>
  <% if params[:type] == "Blog" %>
    <%= render 'company/jobs/partials/forms/field', form: form, attribute: :title, field_type: :text_field, field_attributes: {autofocus: true} %>
    <div class="row">
      <div class="col-lg-6">
        <%= render 'company/jobs/partials/forms/select', form: form, attribute: :status, options: [" ","Draft", "Bench", "Published", "Archived", "Cancelled"], field_attributes: {} %>
      </div>
      <div class="col-lg-6">
        <%= render 'company/jobs/partials/forms/select', form: form, attribute: :listing_type, options: ["Job", "Training", "Service", "Product", "Blog"], field_attributes: {}, select_option: {selected: params[:type] || "Job"}, note: "If you choose \"Published\", We will show this job to all candidates in your system and will be posted on etyme. So anyone can apply. To control job applications by invitations only" %>
      </div>
    </div>
    <div class="d-flex">
      <%= render 'shared/file_attachement', f: form, attr_name: :files, button_name: "Attach Images", name_selector: ".uploaded_file_name", cstm_style: "border-radius: 0; height:38px;", multiple: true %>
      <p class="d-inline-block uploaded_file_name">No Image(s) Selected</p>
    </div>
    <label>Description</label>
    <%= form.trix_editor :description, required: true, autofocus: true,class: "trix-content trix-description" %>
    <%#= render 'company/jobs/partials/forms/field', form: form, attribute: :description, field_type: :text_area, field_attributes: {} %>
  <% else %>
    <%= render 'company/jobs/partials/forms/field', form: form, attribute: :title, field_type: :text_field, field_attributes: {autofocus: true} %>
    <label>Description</label>
    <%= form.trix_editor :description, required: true, autofocus: true,class: "trix-content trix-description" %>
    <div class="row">
      <div class="col-md-6">
        <%= render 'company/jobs/partials/forms/field', form: form, attribute: :education_list, field_type: :text_field, field_attributes: {"data-role": "tagsinput", placeholder: "Educations and Certification", class: "form-control tagsinput", value: @job.education_list.join(", ")}, note: "Education are separated with comma" %>
      </div>
      <div class="col-md-6">
       <%= render 'company/jobs/partials/forms/field', form: form, attribute: :tag_list, title: "Skills", field_type: :text_field, field_attributes: {"data-role": "tagsinput", placeholder: "Skills are separated with comma", class: "form-control tagsinput", value: @job.tag_list.join(", ")}, note: "Skills are separated with comma" %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
      <%= render 'company/jobs/partials/forms/select', form: form, attribute: :status, options: ["","Draft", "Bench", "Published", "Archived", "Cancelled"], field_attributes: {} %>
      </div>
      <div class="col-lg-12 hidden">
        <%= render 'company/jobs/partials/forms/select', form: form, attribute: :listing_type, options: ["Job", "Training", "Service", "Product", "Blog"], field_attributes: {}, select_option: {selected: params[:type] || "Job"}, note: "If you choose \"Published\", We will show this job to all candidates in your system and will be posted on etyme. So anyone can apply. To control job applications by invitations only" unless form.object.persisted?%>

      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <%= render 'company/jobs/partials/forms/field', form: form, attribute: :location, field_type: :text_field, field_attributes: {id: 'google_search_location',autocomplete: 'off'} %>
      </div>
      <div class="col-lg-6">
        <%= render 'company/jobs/partials/forms/select', form: form, attribute: :job_category, options: WORK_CATEGORIES.keys.unshift(""), field_attributes: {label:'Category'} %>

      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <%= render 'company/jobs/partials/forms/select', form: form, attribute: :industry, options: industry_list.unshift(''), field_attributes: {} %>
      </div>
      <div class="col-lg-6">
        <%= render 'company/jobs/partials/forms/select', form: form, attribute: :department, options: department_list.unshift(''), field_attributes: {} %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <%= render 'company/jobs/partials/forms/field', form: form, attribute: :start_date, field_type: :text_field, field_attributes: {id: "job_start_date"} %>
      </div>
      <div class="col-lg-6">
        <%= render 'company/jobs/partials/forms/field', form: form, attribute: :end_date, field_type: :text_field, field_attributes: {id: "job_end_date"} %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <%= render 'company/jobs/partials/forms/field', form: form, attribute: :price, title: "Rate", field_type: :text_field, field_attributes: {} %>
      </div>
      <div class="col-lg-6">
        <%= render 'company/jobs/partials/forms/select', form: form, attribute: :job_type, options: ["","Contract", "Full Time", "Contract To Hire"], field_attributes: {} %>
      </div>
    </div>
    <div class="d-flex">
      <%= render 'shared/file_attachement', f: form, attr_name: :files, button_name: "Cover Image", name_selector: ".uploaded_file_name", cstm_style: "border-radius: 0; height:38px;", multiple: true %>
      <p class="d-inline-block uploaded_file_name">No Image Selected</p>
    </div>
    <div class="mt-2"></div>
    <%#= render 'company/jobs/partials/forms/field', form: form, attribute: :description, field_type: :text_area, field_attributes: {} %>
 <%= render 'company/jobs/partials/forms/field', form: form, attribute: :source,title: "Source", field_type: :text_field, field_attributes: {autofocus: true}, note: "Please Add Original Link" %>
    <div class="custome">
      <legend><span>Add Additional Requirements</span></legend>
      <div class="row">
        <div class="col-md-12">
          <div class="custome-filed-item">
            <div class="clearfix">
              <div class="form-group">
                <% form.fields_for :job_requirements do |jr| %>
                  <%= render 'company/jobs/partials/job_requirement_fields', f: jr %>
                <% end %>
              </div>
              <strong>
                <div class="links col-sm-12">
                  <%= link_to_add_association '+ Add another requirement', form, :job_requirements, class: 'text-info add-other-req', partial: 'company/jobs/partials/job_requirement_fields' %>
                </div>
              </strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="form-buttons-w">
    <%= form.submit (form.object.persisted? ? "Update" : "Create"), class: "btn btn-primary" %>
    <% if form.object.persisted? %>
      <%= link_to t('global.buttons.cancel'), job_path(thing), class: "btn btn-link" %>
    <% else %>
      <%= link_to t('global.buttons.cancel'), jobs_path, class: "btn btn-link" %>
    <% end %>
  </div>

<% end %>
