<%= form_with(model: [@job], local: true) do |form| %>
  <%= render 'company/jobs/partials/forms/errors', form: form %>

  <%= render 'company/jobs/partials/forms/field', form: form, attribute: :title, field_type: :text_field, field_attributes: {autofocus: true} %>
  <%= render 'company/jobs/partials/forms/field', form: form, attribute: :source, field_type: :text_field, field_attributes: {autofocus: true} %>
  <div class="row">
    <div class="col-lg-6">
      <%= render 'company/jobs/partials/forms/select', form: form, attribute: :listing_type, options: ["Job", "Training", "Service", "Product", "Blog"], field_attributes: {}, note: "If you choose \"Published\", We will show this job to all candidates in your system and will be posted on etyme. So anyone can apply. To control job applications by invitations only" %>
    </div>
    <div class="col-lg-6">
      <%= render 'company/jobs/partials/forms/select', form: form, attribute: :status, options: ["Draft", "Bench", "Published", "Archived", "Cancelled"], field_attributes: {} %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <%= render 'company/jobs/partials/forms/field', form: form, attribute: :location, field_type: :text_field, field_attributes: {} %>
    </div>
    <div class="col-lg-6">
      <%= render 'company/jobs/partials/forms/select', form: form, attribute: :job_category, options: WORK_CATEGORIES, field_attributes: {} %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <%= render 'company/jobs/partials/forms/select', form: form, attribute: :industry, options: industry_list, field_attributes: {} %>
    </div>
    <div class="col-lg-6">
      <%= render 'company/jobs/partials/forms/select', form: form, attribute: :department, options: department_list, field_attributes: {} %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <%= render 'company/jobs/partials/forms/field', form: form, attribute: :start_date, field_type: :text_field, field_attributes: {id: "job_start_date"} %>
    </div>
    <div class="col-lg-6">
      <%= render 'company/jobs/partials/forms/field', form: form, attribute: :end_date, field_type: :text_field, field_attributes: {id: "job_end_date"} %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <%= render 'company/jobs/partials/forms/field', form: form, attribute: :price, field_type: :text_field, field_attributes: {} %>
    </div>
    <div class="col-lg-6">
      <%= render 'company/jobs/partials/forms/select', form: form, attribute: :job_type, options: ["Contract", "Full Time", "Contract To Hire"], field_attributes: {} %>
    </div>
  </div>
  <%= render 'company/jobs/partials/forms/field', form: form, attribute: :description, field_type: :text_area, field_attributes: {} %>
  <%= render 'company/jobs/partials/forms/field', form: form, attribute: :education_list, field_type: :text_field, field_attributes: {"data-role": "tagsinput", placeholder: "Educations and Certification", class: "form-control tagsinput", value: @job.education_list.join(", ")}, note: "Education are separated with comma" %>
  <%= render 'company/jobs/partials/forms/field', form: form, attribute: :tag_list, title: "Skills", field_type: :text_field, field_attributes: {"data-role": "tagsinput", placeholder: "Skills are separated with comma", class: "form-control tagsinput", value: @job.tag_list.join(", ")}, note: "Skills are separated with comma" %>

  <div class="custome">
    <legend><span>Tell Your Applicant What You Need To Get Hire</span></legend>
    <div class="row">
      <div class="col-md-12">
        <div class="custome-filed-item">
          <div class="clearfix">
            <div class="form-group">
              <% form.fields_for :job_requirements do |jr| %>
                <%= render 'company/jobs/partials/job_requirement_fields', f: jr %>
              <% end %>
            </div>
            <strong>
              <div class="links col-sm-12">
                <%= link_to_add_association '+ Add another requirement', form, :job_requirements, class: 'text-info add-other-req', partial: 'company/jobs/partials/job_requirement_fields' %>
              </div>
            </strong>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-buttons-w">
    <%= form.submit (form.object.persisted? ? "Update" : "Create"), class: "btn btn-primary" %>
    <% if form.object.persisted? %>
    <%= link_to t('global.buttons.cancel'), job_path(thing), class: "btn btn-link" %>
    <% else %>
    <%= link_to t('global.buttons.cancel'), jobs_path, class: "btn btn-link" %>
    <% end %>
  </div>

<% end %>
