= simple_form_for @company_job ,html:{ class:'form-horizontal'} do |f|
  %fieldset
    -#%legend Company Jobs
    .form-group
      %label.col-md-2.control-label
        Title
        %sup.text-danger *
      .col-md-10
        = f.text_field :title , class: 'form-control' , placeholder: 'Enter Job Title' , required: true
    .form-group
      %label.col-md-2.control-label
        Job Location
        %sup.text-danger *
      .col-md-10
        = select_tag "job[location_id]", options_from_collection_for_select(@locations, "id", "name") , class: 'form-control'  , required: true
    .form-group
      %label.col-md-2.control-label
        Start Date
        %sup.text-danger *
      .col-md-10
        = f.text_field :start_date , class: 'form-control' , placeholder: 'Enter Start Date' , required: true
    .form-group
      %label.col-md-2.control-label
        End Date
        %sup.text-danger *
      .col-md-10
        = f.text_field :end_date , class: 'form-control' , placeholder: 'Enter End Date' , required: true
        %p.note
          %strong Note:
          works in Chrome, Firefox, Opera and IE10.
    .form-group
      %label.col-md-2.control-label Description
      .col-md-10
        =  f.text_area :description , class: 'form-control',:class => "tinymce", :rows => 6, :cols => 60, placeholder: 'Enter Job Description'
        = tinymce :default
  .form-actions
    .row
      .col-md-12
        %button.btn.btn-default{:type => "submit"}
          Cancel
        = f.submit "Submit", class: 'btn btn-primary'

- content_for :scripts do
  :javascript
    // DO NOT REMOVE : GLOBAL FUNCTIONS!
    $(document).ready(function() {
      pageSetUp();
      // Job End Date
      $('#job_end_date , #job_start_date').datepicker({
        dateFormat : 'dd/mm/yy'

      });
    });
