= form_for @job ,html:{ class:'form-horizontal'} do |f|
  %fieldset
    .form-group
      %label.col-md-2.control-label
        Title
        %sup.text-danger *
      .col-md-10
        = f.text_field :title , class: 'form-control' , placeholder: 'Enter Job Title' , required: true
    .form-group
      %label.col-md-2.control-label
        Job Location
        %sup.text-danger *
      .col-md-10
        = f.text_field :location , class: 'form-control' , placeholder: 'Enter Job Location' , required: true
    .form-group
      %label.col-md-2.control-label
        Category
        %sup.text-danger *
      .col-md-10
        =f.select :job_category, WORK_CATEGORIES,{include_blank: true},{class: "form-control" ,required: true}
    .form-group
      %label.col-md-2.control-label
        Start Date
        %sup.text-danger *
      .col-md-10
        = f.text_field :start_date , class: 'form-control' , placeholder: 'Enter Start Date' , required: true
    .form-group
      %label.col-md-2.control-label
        End Date
        %sup.text-danger *
      .col-md-10
        = f.text_field :end_date , class: 'form-control' , placeholder: 'Enter End Date' , required: true
    .form-group
      %label.col-md-2.control-label
        Tags
        %sup.text-danger
      .col-md-10
        = f.text_field :tag_list , class: 'form-control tagsinput','data-role'=>'tagsinput' , placeholder: 'Tags are separated with comma' , value: @job.tag_list.join(", ")
        %p.note
          %strong Note:
          Tags are separated with comma
    .form-group
      %label.col-md-2.control-label Description
      .col-md-10
        =  f.text_area :description , class: 'form-control',:class => "tinymce", :rows => 6, :cols => 60, placeholder: 'Enter Job Description'
        = tinymce :default
    .form-group
      %label.checkbox.col-md-2.control-label Should we keep this job public ?
      .col-md-10
        =f.check_box :is_public
        %p.note
          %strong Note:
          If checked, We will show this job to all candidates in your system and will be posted on etyme. So anyone can apply. To control job applications by invitations only, Please make this private.
    .row
      .col-md-12
        .form-group
          =f.fields_for :custom_fields do |custom_field|
            = render 'company/jobs/partials/custom_fields', f: custom_field
        %strong
          .links.col-sm-12
            = link_to_add_association '+ Add Custom Field', f, :custom_fields, class: 'text-info pull-right', partial: 'company/jobs/partials/custom_fields'
            %br/
  .form-actions
    .row
      .col-md-12
        = button_tag 'Cancel' , class: 'btn btn-default' , "data-dismiss"=> "modal"
        = f.button "Submit".html_safe, class: 'btn btn-primary' , data: {disable_with: disable_spinning('Submitting...')}

- content_for :scripts do
  :javascript
    // DO NOT REMOVE : GLOBAL FUNCTIONS!
    $(document).ready(function() {
      pageSetUp();
      // Job End Date
      $('#job_end_date , #job_start_date').datepicker({
        dateFormat : 'dd/mm/yy'

      });
    });
