#content
  .row
    - if has_permission?("manage_job")
      .col-xs-12.col-sm-3.col-md-3.col-lg-3.pull-right
        = button_tag 'NEW' ,class: 'btn btn-success btn-lg pull-right header-btn hidden-mobile' , "data-toggle": "modal" , "data-target":"#new-job"
  %section{style: 'margin-top: 10px;'}
    / row
    .row
      #wid-id-5.no-border.jarviswidget{"data-widget-colorbutton" => "false", "data-widget-custombutton" => "false", "data-widget-editbutton" => "false", "data-widget-fullscreenbutton" => "false", "data-widget-sortable" => "false"}
        %div
          .jarviswidget-editbox
          .widget-body
            .col-md-12
              .tab-content
                #tab-r1.tab-pane.active
                  #hb2.tab-pane.active
                    = search_form_for @search , url: search_jobs_path , method: :post do |f|
                      %ul#internal-tab-1.nav.nav-tabs.tabs-pull-right
                        %br
                        .input-group.input-group-lg.hidden-mobile
                          -#.input-group-btn
                          -#  %button.btn.btn-default.dropdown-toggle.textbtn{"data-toggle" => "dropdown", :type => "button"}
                          -#    All
                          -#    %span.caret
                          -#  %ul.dropdown-menu
                          -#    %li.active
                          -#      %a{:href => "javascript:void(0)"}
                          -#        All
                          = f.text_field :title_or_location_or_job_category_cont, class: "form-control input-lg", placeholder: "Search Jobs..."
                          .input-group-btn
                            = f.button raw("<i class='fa fa-fw fa-search fa-lg'></i>") , class: 'btn btn-default' do
                              %i.fa.fa-fw.fa-search.fa-lg
                    %br 
                    %table#dt_basic.table.table-striped.table-bordered.table-hover{:width => "100%"}
                      %thead
                        %tr
                          = content_tag :th, sort_link(@search, :title)
                          %th{"data-hide" => "phone"} Category
                          %th{"data-class" => "expand"}
                            %i.fa.fa-fw.fa-calendar.txt-color-blue.hidden-md.hidden-sm.hidden-xs
                            Last-Date
                          %th Location
                          %th Posted By
                          %th{"data-hide" => "phone,tablet"}
                            Actions
                      %tbody
                        - @company_jobs.each_with_index do |job , index|
                          %tr
                            %td= link_to_if(has_permission?("manage_job"), job.title , job_path(job) , target: '_blank')
                            %td= job.job_category
                            %td= job.end_date
                            %td= job.location
                            %td= job.created_by.full_name  rescue "  --"
                            %td
                              - if has_permission?("manage_job")
                                = link_to raw("<i class='fa fa-pencil '></i>") , edit_job_path(job) , class: 'btn btn-xs btn-default btn-primary'
                                = link_to raw("<i class='fa fa-times '></i>") , job_path(job) , method: :delete ,  class: 'btn btn-xs btn-default btn-danger'
                                = link_to "Candidate", job_create_multiple_for_candidate_path(job),remote: true ,method: :get ,class: 'btn btn-xs btn-default btn-success'

                              - if(job.is_active?)
                                -if has_permission?("send_job_invitations")
                                  = link_to 'Send Invitation' ,send_invitation_job_path(job) , method: :post ,remote: true,  class: 'btn btn-xs btn-default btn-success'
- content_for :modals do
  #job_invitation
  = render 'company/jobs/partials/new_modal'
