<div class="content-box">
  <div class="element-wrapper">
    <h6 class="element-header">
      Job Details<span class="text-muted small">View and edit the details of the job with other collaborators</span>
    </h6>
    <div class="row">
      <div class="col-md-8">
        <div class="element-box element-box-show">
          <div class="form-group">
            <h4>
              <%= @job.title %>
            </h4>
          </div>
          <div class="form-desc"></div>
          <div class="form-desc">
            <div class="row">
              <div class="col-lg-6">
                <div class="">
                  Job Category
                </div>
                <div class="h6">
                  <%= @job.job_category %>
                </div>
                <div class="">
                  Date
                </div>
                <div class="h6">
                  <%= @job.start_date&.strftime("%B %d, %Y") %>
                  <% if @job.end_date %>
                    to <%= @job.end_date.strftime("%B %d, %Y") %>
                  <% end %>
                </div>
                <div class="">
                  Location
                </div>
                <div class="h6">
                  <%= @job.location %>
                </div>
                <% if @job.job_type.present? %>
                  <div class="">
                    Type
                  </div>
                  <div class="h6">
                    <%= @job.job_type %>
                  </div>
                <% end %>
              </div>
              <div class="col-lg-6">
                <div class="">
                  Industry
                </div>
                <div class="h6">
                  <%= @job.industry %>
                </div>
                <div class="">
                  Status
                </div>
                <div class="h6">
                  <%= @job.status %>
                </div>
                  <div class="">
                    Rate
                  </div>
                <div class="h6">
                  <% if @job.price == 0.0 || @job.price.blank? %>
                    Open
                  <% else %>
                    <%= sprintf("$%0.2f", @job.price) %>
                  <% end %>
                </div>
                <div class="">
                  Work Type
                </div>
                <div class="h6">
                  <%= @job.work_type.humanize %>
                </div>
              </div>
            </div>
          </div>
          <div class="form-desc"></div>
          <div class="form-desc">
            <div class="">
              Educations
              <% @job.education.each do |ed| %>
                <span class="badge badge-warning ml-2"><%= ed.name %></span>
              <% end %>
            </div>
          </div>
          <div class="form-desc">
            <div class="">
              Skills
              <% @job.tags.each do |tag| %>
                <span class="badge badge-warning ml-2"><%= tag.name %></span>
              <% end %>
            </div>
          </div>
        </div>
        <div class="form-group element-box element-box-show">
          <h5 class="form-header">Description </h5>
          <%= raw(@job.description) %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="element-box element-box-show">
          <h5 class="form-header">Quick Actions</h5>
          <div style="display: flex;flex-direction: column;">
            <%= link_to "Edit", edit_job_path(@job, type: @job.listing_type), class: "mb-1 btn btn-primary" %>
            <% if has_permission?("send_job_invitations") %>
              <%= link_to 'Send Invitation', send_invitation_job_path(@job), method: :post, remote: true, class: 'mb-1 btn btn-primary' %>
            <% end %>
            <% if @conversation.present? %>
              <%= link_to "View Conversation", company_conversations_path(conversation: @conversation.id), class: "mb-1 btn btn-primary", method: :post %>
            <% end %>
            <%= link_to "Apply my Candidates", job_create_multiple_for_candidate_path(@job), remote: true, method: :get, class: "mb-1 btn btn-primary" %>
            <br>
            <!-- <div class="sharethis-inline-share-buttons" data-url="<%#= static_job_url(@job).to_s %>" style="z-index: auto"></div> -->
          </div>
        </div>
        <div class="element-box element-box-show">
          <h5 class="form-header">Collaborators</h5>
            <div class="users-list-w">
              <div class="user-w with-status">
                <div class="user-avatar-w">
                  <div class="user-avatar">
                    <%=user_image(@job.created_by, style: 'width: 35px; height: 35px;', class: 'data-table-image mr-2',title: "#{@job.created_by.full_name}" )%>
                  </div>
                </div>
                <div class="user-name">
                  <h6 class="user-title"><%= @job.created_by.full_name %></h6>
                  <div class="user-role"><%= @job.created_by.try(:type) %></div>
                </div>
                <em class="icon icon-star"></em>
                <!-- <div class="user-action">
                  <div class="os-icon os-icon-email-forward"></div>
                </div> -->
              </div>
              <% if @conversation.chatable_type == "Group" %>
                <% @conversation.chatable.groupables.each do |g| %>
                  <% next if @job.created_by == g.groupable %>
                  <div class="user-w with-status">
                    <div class="user-avatar-w">
                      <div class="user-avatar">
                        <%=user_image(g.groupable, style: 'width: 35px; height: 35px;', class: 'data-table-image mr-2',title: "#{g&.groupable&.full_name}" )%>
                      </div>
                    </div>
                    <div class="user-name">
                      <h6 class="user-title"><%= g.groupable&.full_name %></h6>
                      <div class="user-role"><%= g.groupable.try(:type) %></div>
                    </div>
                    <%= link_to "", remove_from_chat_company_conversations_path(groupable_id: g.id), class: "icon icon-cross", method: :post, data: {confirm: 'This will remove the collaborator.'} %>
                    <!-- <div class="user-action">
                      <div class="os-icon os-icon-email-forward"></div>
                    </div> -->
                  </div>
                <% end %>
              <% else %>
                <div class="user-w with-status">
                  <div class="user-avatar-w">
                    <div class="user-avatar">
                      <img alt="" src="<%= current_user.photo %>">
                    </div>
                  </div>
                  <div class="user-name">
                    <h6 class="user-title"><%= "#{current_user.first_name} #{current_user.last_name}" %></h6>
                    <div class="user-role"><%= current_user.type %></div>
                  </div>
                </div>
              <% end %>
            </div>
          <div class="ci-header">
            <a href="#" class="w-100 btn btn-default btn-primary add-to-conversation" data-conid=<%= @conversation.id %> data-cid=<%= @conversation.chatable.id %> data-ctype=<%= @conversation.chatable.class.to_s %>>Add
              Collaborators</a>
          </div>
        </div>
        <div class="element-box element-box-show">
          <h5 class="form-header">Share Job</h5>
          <div class="sharethis-inline-share-buttons" data-title="<%= @job.title %>" data-url="<%= static_job_url(@job).to_s %>" data-image="<%= static_job_url(@job).to_s %>" style="z-index: auto"></div>
          <!-- <div class="form-group">
            <%# if @job.files.present? %>
              <%# @job.files.split(',').each do |file| %>
                <a href="<%#= file %>" target="_blank" class="mb-1">
                  <%#= image_tag(file, size: "50x50") %>
                </a>
              <%# end %>
            <%# end %>
          </div>
          <div class="form-group">
            <%#= filepicker_field_tag "", class: "hidden media-file", onchange: "mediaUpload(event)", "data-fp-crop-ratio" => "2/2" %>
            <button type="button" class="w-100 btn btn-default btn-primary btn-upload-images" onclick="upload_multi_file_ajax(imagesUpload,false,true)">Upload
              Images
            </button>
          </div> -->
        </div>
     <!--    <div class="element-box element-box-show">
          <button onclick="open_chat(<%#=@conversation.id %>)" class="w-100 btn btn-default btn-primary open_chat">Conversation</button>
        </div> -->
      </div>
    </div>
    <div class="row" style="max-width: 1400px;">
      <div class="col-md-12">
        <div class="element-box element-box-show">
          <div class="row">
            <div><h5 class="form-header">Applications</h5></div>
            <div><div style="margin: auto; padding: 10px;">
              <a title='Change Layout' href='#', onclick='change_layout();'><i class='fa fa-columns'></i></a>
            </div></div>
            <div class="ml-auto">
              <input class="form-control form-control-sm rounded bright" placeholder="Search" type="text" id='job_application_datatable-search'>
            </div>
          </div>
          <div class="table-responsive">
            <% if @job_applications.count > 0 %>
              <%= render 'company/jobs/partials/job_applications_table' %>
            <% else %>
              <i>Currently, there is no application</i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
<!--    <div class="row">-->
<!--      <div class="col-md-8">-->
<!--        <div class="form-group element-box element-box-show">-->
          <%#= raw(@job.description) %>
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--      <div class="col-md-12">-->
<!--        <div class="element-box element-box-show p-2">-->
<!--          <h5 class="form-header">Applications</h5>-->
<!--          <div class="table-responsive">-->
            <%# if @job_applications.count > 0 %>
              <%#= render 'company/jobs/partials/job_applications_table' %>
            <%# else %>
<!--              <i>Currently, there is no application</i>-->
            <%# end %>
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</div>
<div class="floated-chat-btn">
  <i class="os-icon os-icon-mail-07"></i>
  <span></span>
 <a onclick="open_chat(<%=@conversation.id %>)" class=" open_chat ChatBtn" id="ChatBtn">Conversation</a>
</div>


<%= javascript_tag do %>
  // document.addEventListener('DOMContentLoaded', function(){
  //     $(".open_chat").trigger('click');
  // }, false);

  function change_layout() {
    $('.remote_container').html("<%= j (render partial: 'company/jobs/partials/change_application_table_layout_modal') %>");
    $('#change-application-table-layout-modal').modal('toggle');
    $(".select2").select2({placeholder: "Select Group(s)"});
  }

  function open_chat(id){$.get(`/company/conversations/mini_chat?conversation_id=${id}`)}
  function imagesUpload(url){
  media_url = url
  $.ajax({
  type: 'POST',
  contentType: 'application/json; charset=utf-8', //dataType: 'json',
  url: "/jobs/update_images",
  data: JSON.stringify({ job_id: <%= @job.id %>, files: media_url,authenticity_token: window._token }),
    success: function (data) {
      console.log("reload!")
      window.location.reload(true);
    },
    done: function (data) {
      console.log("done!");
      window.location.reload(true);
    }
  });
  }
  function mediaUpload(url,type) {
  media_url = url
  media_type= type
  $('.btn-upload-media').html('');
  $.ajax({
  type: 'POST',
  contentType: 'application/json; charset=utf-8', //dataType: 'json',
  url: "/jobs/update_media",
  data: JSON.stringify({ job_id: <%= @job.id %>, media: media_url,authenticity_token: window._token, media_type:
  media_type }),
  success: function (data) {
  console.log("reload!")
  window.location.reload(true);
  },
  done: function (data) {
  console.log("done!");
  window.location.reload(true);
  }
  });
  }
<% end %>
