.container.c-color
  .col-sm-12.animated.fadeInRightBig
    %section.panel.mt-20s
      %header.panel-heading
        -#%a.pull-right.btn.btn-primary.right.mt-12{href:"#",}  Apply Now
        -#- if @job_application.is_active?
        -#  = link_to 'Apply Now' , apply_candidate_job_path(@job) , method: :post , remote: true ,  class: 'btn btn-md btn-default btn-success pull-right'
        %h1
          = link_to @job_application.job.title,candidate_job_path(@job_application.job)
        - @job_application.job.tags.each do |tag|
          %span.h4.badge
            =tag.name
        %br
        %br
        .row
          .col-md-3
            %h2.highlighted
              = @job_application.user.full_name.titleize
        .row
          .col-lg-3.col-md-3
            %span.text-muted.fs-13 Job Location
            =# @job_application.job.location.name.titleize if @job_application.job.location.present?
          .col-lg-3.col-md-3
            %span.text-muted.fs-13 Job Catagory
            - @job_application.job.tags.each do |tag|
              %span.h4.badge
                =tag.name
          .col-lg-3.col-md-3
            %span.text-muted.fs-13 Date
            = @job_application.job.start_date.to_s + " - "
            = @job_application.job.end_date.to_s
          .col-lg-3.col-md-3
            %span.text-muted.fs-13 Company
            = @job_application.job.company.name.titleize
      %ul.ul-s
        %li.list-group-item.list-p-15
          %span.text-muted Cover Letter
          %br
          = raw(@job_application.cover_letter)
        %li.list-group-item.list-p-15
          %span.text-muted Message
          %br
          = raw(@job_application.message)
          %br
          %hr
