#content
  .row
    .col-xs-12.col-sm-3.col-md-3.col-lg-3.pull-right
      = link_to 'NEW' , new_admin_path , remote: true , class: 'btn btn-success btn-lg pull-right header-btn hidden-mobile'
  %section.margin-top-10.padding-10
    .row
      #wid-id-5.no-border
        %div
          .widget-body
            .col-md-12
              = search_form_for @search , url: search_admins_path , method: :post do |f|
                %ul#internal-tab-1.nav.nav-tabs.tabs-pull-right
                  %br
                  .input-group.input-group-lg.hidden-mobile
                    = f.text_field :first_name_or_last_name_or_email_cont, class: "form-control input-lg", placeholder: "Search Admins..."
                    .input-group-btn
                      = f.button raw("<i class='fa fa-fw fa-search fa-lg'></i>") , class: 'btn btn-default'
              %br/
              %br/
              .table{:style => "width:100"}
                %table#resultTable.table.table-striped.table-bordered.table-hover
                  %thead
                    %tr
                      %th Pic
                      %th{"data-hide" => "phone"} Name
                      %th Email
                      %th Roles
                      %th Last Login
                      %th{"data-hide" => "phone,tablet"}
                        Actions
                  %tbody
                  - @admins.each_with_index do |admin , index|
                    %tr
                      %td= image_tag admin.photo, alt: '', width: '20'
                      %td= link_to admin.full_name , '#' , target: '_blank'
                      %td= admin.email
                      %td= admin.roles.map(&:name).join(", ").gsub("_"," ").upcase
                      %td= admin.roles.map(&:name).join(", ").gsub("_"," ").upcase
                      %td= admin.last_sign_in_at.localtime.strftime("%I:%M")
                        = link_to raw("<i class='fa fa-pencil '>""</i>") , edit_admin_path(admin) , class: 'btn btn-xs btn-default btn-primary' ,remote: true,title: "Edit #{admin.full_name}"
                        -#= link_to raw("<i class='fa fa-times '></i>") , admin_path(admin) , method: :delete ,  class: 'btn btn-xs btn-default btn-danger' ,title: "Delete #{admin.full_name}" ,data: {confirm: 'Are you sure?', verify: 'Confirm', verify_text: 'Type "Confirm" to confirm'}
          = digg_pagination(@consultants)




