#content
  .row
    .col-xs-12.col-sm-3.col-md-3.col-lg-3.pull-right
      = link_to 'NEW' , new_consultant_path , class: 'btn btn-success btn-lg pull-right header-btn hidden-mobile'
  %section.margin-top-10.padding-10
    .row
      #wid-id-5.no-border
        %div
          .widget-body
            .col-md-12
              -#= search_form_for @search , url: '#' , method: :get do |f|
                %ul#internal-tab-1.nav.nav-tabs.tabs-pull-right
                  %br
                  .input-group.input-group-lg.hidden-mobile
                    = f.text_field :first_name_or_last_name_or_email_cont, class: "form-control input-lg", placeholder: "Search Consultant..."
                    .input-group-btn
                      = f.button raw("<i class='fa fa-fw fa-search fa-lg'></i>") , class: 'btn btn-default'
              %br/
              %br/
              .table{:style => "width:100"}
                %table#resultTable.table.table-striped.table-bordered.table-hover
                  %thead
                    %tr
                      %th Pic
                      %th{"data-hide" => "phone"} Name
                      %th Email
                      %th Roles
                      %th{"data-hide" => "phone,tablet"}
                        Actions
                  %tbody
                  - @admins.each_with_index do |admin , index|
                    %tr
                      %td= image_tag admin.photo, alt: '', width: '20'
                      %td= link_to admin.full_name , '#' , target: '_blank'
                      %td= admin.email
                      %td= admin.roles.map(&:name).join(", ").gsub("_"," ").upcase
                      %td
                        = link_to raw("<i class='fa fa-pencil '></i>") , '#' , class: 'btn btn-xs btn-default btn-primary'
                        = link_to raw("<i class='fa fa-times '></i>") , '#' , method: :delete ,  class: 'btn btn-xs btn-default btn-danger'
          = digg_pagination(@consultants)

- content_for :modals do
  = render 'company/admins/partials/new_modal'


