<div class="content-box">
  <div class="element-wrapper">
    <div class="element-box">
      <%= form_tag charges_path do %>
          <article>
            <% if flash[:error].present? %>
              <div id="error_explanation">
                <p><%= flash[:error] %></p>
              </div>
            <% end %>

            <label class="amount">
              <span>Amount: $9.99</span>
            </label>
          </article>

          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-description="Upgrade Account"
                  data-amount="999"
                  data-locale="auto"></script>
      <% end %>
      
      <hr>
      
      <%= form_tag add_coupon_path do %>
        <div class="row">
          <div class="col-md-12">
            <title style="display: block;margin-top: 15px;">Coupon Name: </title>
            <%= text_field_tag :name, "", class: 'form-control' %>
          </div>
          <div class="col-md-12" style="margin-top: 10px;">
            <%= submit_tag "Add Coupon",class: "btn btn-primary" %>
          </div>
        </div>
        
      <% end %>
    </div>
  </div>
</div>

