!!!
%html{:id => "#{yield :html_id}"}
  %head
    -#%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Etyme
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{:class => "#{yield :body_class}"}
    = render partial: 'shared/header'
    = yield
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = filepicker_js_include_tag

