!!!
%html{:id => "#{yield :html_id}"}
  %head
    -#%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Etyme
    = stylesheet_link_tag    'application'
    = csrf_meta_tags
  %body{:class => "#{yield :body_class}"}
    = render partial: 'shared/header'
    #main{:role => "main"}
      -##ribbon
      -#  %ol.breadcrumb
      -#    = render_breadcrumbs tag: :li, separator: ""
      = yield
    = javascript_include_tag 'application'
    = filepicker_js_include_tag
    = yield(:scripts).present? ? yield(:scripts) : render(partial: 'shared/scripts')
    = yield :modals
