!!!
%html{:id => "#{yield :html_id}", class: "#{yield :html_class}"}
  %head
    #load
    %meta{:charset => "utf-8"}/
    %title Etyme
    = csrf_meta_tags
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %meta{:content => "#{candidate_signed_in? ? current_candidate.id : ''}", :name => "user-id"}
    %meta{:content => "#{candidate_signed_in? ? current_candidate.class.to_s : ''}", :name => "user-type"}
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    = stylesheet_link_tag 'candidate', media: 'screen'

    / FAVICONS
    = favicon_link_tag 'favicon/favicon12.ico'
    = favicon_link_tag 'favicon/favicon12.ico', rel: 'icon'
    = action_cable_meta_tag
    / GOOGLE FONT
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700'
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Rubik:300,400,500'
    / PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)
    -#= javascript_include_tag 'plugin/pace/pace.min', 'data-pace-options' => '{ "restartOnRequestAfter": true }'
    /
    -#= favicon_link_tag 'splash/sptouch-icon-iphone.png', type: 'image/png', rel: 'apple-touch-icon'
    -#= favicon_link_tag 'splash/touch-icon-ipad.png', type: 'image/png', sizes: '76x76', rel: 'apple-touch-icon'
    -#= favicon_link_tag 'splash/touch-icon-iphone-retina.png', type: 'image/png', sizes: '120x120', rel: 'apple-touch-icon'
    -#= favicon_link_tag 'splash/touch-icon-ipad-retina.png', type: 'image/png', sizes: '152x152', rel: 'apple-touch-icon'
    / iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "black", :name => "apple-mobile-web-app-status-bar-style"}/
    / Startup image for web apps
    -#= favicon_link_tag 'splash/ipad-landscape.png', type: 'image/png', rel: 'apple-touch-startup-image', media: 'screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)'
    -#= favicon_link_tag 'splash/ipad-portrait.png', type: 'image/png', rel: 'apple-touch-startup-image', media: 'screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)'
    -#= favicon_link_tag 'splash/iphone.png', type: 'image/png', rel: 'apple-touch-startup-image', media: 'screen and (max-device-width: 320px)'
    = yield :head

  %body.smart-style-6{class: "#{yield :body_class} menu-position-side menu-side-left full-screen"}
    .all-wrapper
      .layout-w
        = render partial: 'candidate/shared/left_panel'
        .content-w.candidate-layout.cont-comany#candidate_panel
          = render partial: 'candidate/shared/header'
          #main{:role => "main",style: ""}
            -##ribbon
            -#  %ol.breadcrumb
            -#    = render_breadcrumbs tag: :li, separator: " / "
            -#= yield :ribbon
            = yield
          #modals
            = yield :modals
          = render partial: 'candidate/shared/footer'
          = render partial: 'candidate/shared/tiles'
          = render partial: 'shared/add_to_chat_from_candidate'
    / END SHORTCUT AREA
    / ==================================================
    / PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)
    -#= javascript_include_tag 'plugin/pace/pace.min', 'data-pace-options' => '{ "restartOnRequestAfter": true }'
    = javascript_include_tag 'candidate'
    %script{ type: 'text/javascript', src: 'https://www.uploader.win/js/latest/app.js' }
    = filepicker_js_include_tag
    = render partial: 'shared/flash_messages'
    /[if IE 8]
= yield(:scripts).present? ? yield(:scripts) : render(partial: 'shared/scripts')


- content_for :scripts do
  :javascript

    $(".switch").on("click", function(){


      var switch_status = $("#myonoffswitch").attr("checked");

      console.log("11111111111111111111111");
      console.log(switch_status);
      console.log("11111111111111111111111");

      if(switch_status == "checked"){
        switch_status = true;

        console.log("--------------------------")

        $("#myonoffswitch").removeAttr("checked");
      }else{
          console.log("+++++++++++++++++++++++++++")
        //$("#myonoffswitch").click();
        $("#myonoffswitch").attr("checked", "chacked");
        //$("#myonoffswitch").removeAttr("checked");
        switch_status = false;
      }
    });
