!!!
%html{:id => "#{yield :html_id}"}
  %head
    %meta{:content=> "width=device-width, initial-scale=1", :name=>"viewport" }/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "#{user_signed_in? ? current_user.id : ''}", :name => "user-id"}
    %meta{:content => "#{user_signed_in? ? current_user.class.to_s == "Candidate" ? "Candidate" : "User" : ''}", :name => "user-type"}
    %title Etyme
    = stylesheet_link_tag    'home'
    = action_cable_meta_tag
    = javascript_include_tag 'home'

    = csrf_meta_tags
    = yield :head
    :javascript
       function(w,r){w._rwq=r;w[r]=w[r]||function(){(w[r].q=w[r].q||[]).push(arguments)}})(window,'rewardful');
    %script{async: "async", src:'https://r.wdfl.co/rw.js', "data-rewardful":'afe750'}
  %body.p-0{class: "#{yield :body_class}"}

    .all-wrapper
      = render 'static/shared/header'
      .modals
      #modals
      = yield
      = render 'static/shared/footer'
    = javascript_include_tag 'static'
    -#= tinymce_assets
    = yield(:scripts).present? ? yield(:scripts) : render(partial: 'shared/scripts')
  = render 'shared/flash_messages'
