<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="user-id" content='<%= "#{user_signed_in? ? current_user.id : ''}" %>'/>
    <meta name="user-type" content='<%= "#{user_signed_in? ? current_user.class.to_s == 'Candidate' ? 'Candidate' : 'User' : ''}" %>'/>

    <meta content="Etyme" property="og:title">
    <meta content="<%= request.original_url %>" property="og:url"/>
    <meta content="website" property="og:type"/>
    <meta content="cloudepa.etyme.com" property="og:site_name"/>
    <meta content="Etymw" property="og:description"/>
  
    <% if params[:controller] == "static/jobs" && params[:action] ==  "index" && request.subdomain.present? %>
      <title><%= "#{request.subdomain} :: Jobs" %></title>
    <% elsif params[:controller] == "static/jobs" && params[:action] ==  "show" && request.subdomain.present? %>
      <title><%= "#{request.subdomain} :: #{@job&.title}" %></title>
    <% elsif params[:controller] == "static/jobs" && params[:action] ==  "people" && request.subdomain.present? %>
      <title><%= "#{request.subdomain} :: People" %></title>
    <% elsif params[:controller] == "static/candidates" &&  params[:action] == "candidate_profile" %>
      <title><%= "#{@candidate&.full_name} - Etyme" %> </title>
    <% elsif params[:controller] == "static/jobs" &&  params[:action] == "static_feeds" %>
      <title>Home - Etyme </title>
    <% else %>
      <title><%= "Etyme" %></title>
    <% end %>
    <%= stylesheet_link_tag "kulkakit" %>
    <%= stylesheet_link_tag 'webflow' %>
    <%= action_cable_meta_tag %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
    <!-- <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.scss"> -->
    <!-- <title>Jobs - Etyme </title> -->
    <script async="async" src='https://platform-api.sharethis.com/js/sharethis.js#property=5f48045b584ea10012677add&product=inline-share-buttons' type="text/javascript"></script>
  </head>
  <body>
    <%= javascript_include_tag "kulkakit" %>
    <script type="text/javascript" src="https://www.uploader.win/js/latest/app.js"></script>
    <%= render 'static/shared/webflow_sidebar_left' %>
    <%= render 'static/shared/webflow_feed_post_question_modal' %>
    <%= render 'static/shared/webflow_feed_post_job_modal' %>
    <div class="modals"></div>
    <div id="modals" ></div>
    <%= yield %>
  </body>
  <%= render 'shared/flash_messages'%>
</html>
