!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title Etyme

    = stylesheet_link_tag    'landing', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'static/shared/header'
    -#= yield :top_bar
    .container
      - if notice
        .alert.alert-success.fade.in
          %button.close{"data-dismiss" => "alert"}
            ×
          %i.fa-fw.fa.fa-check
          = notice
        - if alert
          .alert.alert-warning.fade.in
            %button.close{"data-dismiss" => "alert"}
              ×
            %i.fa-fw.fa.fa-warning
            = alert
      .row
        .col-sm-12.funky-text
          %ol.breadcrumb
            = render_breadcrumbs :tag => :li, :separator => ""

      = yield
    = filepicker_js_include_tag
    = render 'static/shared/footer'
    .modals


    = javascript_include_tag 'landing', 'data-turbolinks-track' => true
    = yield(:scripts).present? ? yield(:scripts) : render(partial: 'shared/scripts')


