!!!
%html{:id => "#{yield :html_id}"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Etyme
    = stylesheet_link_tag    'landing2'
    = csrf_meta_tags
    = yield :head
  %body#page-top{"data-spy" => "scroll", "data-target" => ".navbar-fixed-top"}
    = yield
    = render partial: 'static/shared/landing2/header'
    = render partial: 'static/shared/landing2/footer'
    -##main{:role => "main"}
    -#  = yield :ribbon
    -#  - if notice
    -#    .alert.alert-success.fade.in
    -#      %button.close{"data-dismiss" => "alert"}
    -#        ×
    -#      %i.fa-fw.fa.fa-check
    -#      = notice
    -#  - if alert
    -#    .alert.alert-warning.fade.in
    -#      %button.close{"data-dismiss" => "alert"}
    -#        ×
    -#      %i.fa-fw.fa.fa-warning
    -#      = alert

    = javascript_include_tag 'landing2'
    -#= filepicker_js_include_tag
    -#= tinymce_assets
    = yield(:scripts).present? ? yield(:scripts) : render(partial: 'shared/scripts')
    .modals

