!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title Etyme

    = stylesheet_link_tag    'landing', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'static/shared/header'
    -#= yield :top_bar
    .container
      - flash.each do |key, value|
        .alert.fade.in{:class => "alert alert-#{key}"}
          %button.close{"data-dismiss" => "alert"}
            ×
          %i.fa-fw.fa.fa-check
          = [value].join(',')

      -#- if notice
      -#  .alert.alert-success.fade.in
      -#    %button.close{"data-dismiss" => "alert"}
      -#      ×
      -#    %i.fa-fw.fa.fa-check
      -#    = notice
      -#- if success
      -#  .alert.alert-success.fade.in
      -#    %button.close{"data-dismiss" => "alert"}
      -#      ×
      -#    %i.fa-fw.fa.fa-check
      -#    = success
      -#- if info
      -#  .alert.alert-info.fade.in
      -#    %button.close{"data-dismiss" => "alert"}
      -#      ×
      -#    %i.fa-fw.fa.fa-check
      -#    = info
      -#- if alert || warning
      -#  .alert.alert-warning.fade.in
      -#    %button.close{"data-dismiss" => "alert"}
      -#      ×
      -#    %i.fa-fw.fa.fa-warning
      -#    = alert || warning
      .row
        .col-sm-12.funky-text
          %ol.breadcrumb
            = render_breadcrumbs :tag => :li, :separator => ""

      = yield
    = filepicker_js_include_tag
    = render 'static/shared/footer'
    .modals


    = javascript_include_tag 'landing', 'data-turbolinks-track' => true
    = yield(:scripts).present? ? yield(:scripts) : render(partial: 'shared/scripts')


:css
  .alert-alert {
    background-image: -webkit-linear-gradient(top, #ff7518 0%, #f16100 100%);
    background-image: linear-gradient(to bottom, #ff7518 0%, #f16100 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff7518', endColorstr='#fff16100', GradientType=0);
    border-color: #cb5200;
    background: #ff7518;
  }
  .alert-error {
    background-image: -webkit-linear-gradient(top, #D2160A 0%, #D2160A 100%);
    background-image: linear-gradient(to bottom,#D2160A 0%, #D2160A 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff7518', endColorstr='#fff16100', GradientType=0);
    border-color: #cb5200;
    background: #D2160A;
    color: #fff;
  }
  .alert-errors {
    background-image: -webkit-linear-gradient(top, #D2160A 0%, #D2160A 100%);
    background-image: linear-gradient(to bottom,#D2160A 0%, #D2160A 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff7518', endColorstr='#fff16100', GradientType=0);
    border-color: #cb5200;
    background: #D2160A;
    color: #fff;
  }