!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title Etyme

    = stylesheet_link_tag    'landing', media: 'all', 'data-turbolinks-track' => true
    / #FAVICONS
    = favicon_link_tag 'favicon/favicon.ico'
    = favicon_link_tag 'favicon/favicon.ico', rel: 'icon'
    / #GOOGLE FONT
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700'
  %body
    = yield
    .modals
    = render 'static/footer'
    = javascript_include_tag 'application'
    = javascript_include_tag 'landing', 'data-turbolinks-track' => true

    = yield(:scripts).present? ? yield(:scripts) : render(partial: 'shared/scripts')

    :javascript
      jQuery(document).ready(function() {
        jQuery('.tp-banner').show().revolution({
          dottedOverlay : "none",
          delay : 8000,
          startwidth : 1170,
          startheight : 700,
          hideThumbs : 200,
          thumbWidth : 100,
          thumbHeight : 50,
          thumbAmount : 5,
          navigationType : "bullet",
          navigationArrows : "solo",
          navigationStyle : "preview4",
          touchenabled : "on",
          onHoverStop : "off",
          swipe_velocity : 0.7,
          swipe_min_touches : 1,
          swipe_max_touches : 1,
          drag_block_vertical : false,
          parallax : "mouse",
          parallaxBgFreeze : "on",
          parallaxLevels : [7, 4, 3, 2, 5, 4, 3, 2, 1, 0],
          keyboardNavigation : "off",
          navigationHAlign : "center",
          navigationVAlign : "bottom",
          navigationHOffset : 0,
          navigationVOffset : 20,
          soloArrowLeftHalign : "left",
          soloArrowLeftValign : "center",
          soloArrowLeftHOffset : 20,
          soloArrowLeftVOffset : 0,
          soloArrowRightHalign : "right",
          soloArrowRightValign : "center",
          soloArrowRightHOffset : 20,
          soloArrowRightVOffset : 0,
          shadow : 0,
          fullWidth : "off",
          fullScreen : "on",
          spinner : "spinner4",
          stopLoop : "off",
          stopAfterLoops : -1,
          stopAtSlide : -1,
          shuffle : "off",
          autoHeight : "off",
          forceFullWidth : "off",
          hideThumbsOnMobile : "off",
          hideNavDelayOnMobile : 1500,
         hideBulletsOnMobile : "off",
         hideArrowsOnMobile : "off",
         hideThumbsUnderResolution : 0,
         hideSliderAtLimit : 0,
         hideCaptionAtLimit : 0,
         hideAllCaptionAtLilmit : 0,
         startWithSlide : 0,
         fullScreenOffsetContainer : ""
        });

      });
      //ready

      $.scrollUp();
