!!!
%html{:id => "#{yield :html_id}"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Etyme
    = stylesheet_link_tag    'static'
    = action_cable_meta_tag
    = javascript_include_tag 'https://platform-api.sharethis.com/js/sharethis.js#property=5899b27937570f0011ac3636&product=inline-share-buttons'
    = javascript_include_tag 'application'
    :javascript
       function(w,r){w._rwq=r;w[r]=w[r]||function(){(w[r].q=w[r].q||[]).push(arguments)}})(window,'rewardful');
    %script{async: "async", src:'https://r.wdfl.co/rw.js', "data-rewardful":'afe750'}
    = csrf_meta_tags
    = yield :head
  %body{class: "#{yield :body_class}"}

    .all-wrapper
      -#= render 'static/shared/header'
      .modals
      = yield
      -#= render 'static/shared/footer'
    = javascript_include_tag 'static'
    = filepicker_js_include_tag
    -#= tinymce_assets
    = yield(:scripts).present? ? yield(:scripts) : render(partial: 'shared/scripts')
  = render 'shared/flash_messages'
:css
  .error{
    color: red;
    float: left;
  }
  .alert-error{
    color: #1D2026;
    background-color: #F76523;
    border-color: #bce8f1;
  }
  .modal-dialog {
  width: 40% !important;
  height: 50%;
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  left: 30%;
  }
  .modal-header
  {
    padding: 7px !important;
  }

  .modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
    padding: 5px !important;
  }

:javascript
  $(document).ready(function(){
    $(window).scrollTop(0);
  });


