!!!
%html{:id => "#{yield :html_id}"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Etyme
    = stylesheet_link_tag    'static'
    = csrf_meta_tags
    = yield :head
  %body{class: "#{yield :body_class}"}

    = render 'static/shared/header'
    = yield
    = render 'static/shared/footer'
    -##main{:role => "main"}
    -#  = yield :ribbon
    -#  - if notice
    -#    .alert.alert-success.fade.in
    -#      %button.close{"data-dismiss" => "alert"}
    -#        ×
    -#      %i.fa-fw.fa.fa-check
    -#      = notice
    -#  - if alert
    -#    .alert.alert-warning.fade.in
    -#      %button.close{"data-dismiss" => "alert"}
    -#        ×
    -#      %i.fa-fw.fa.fa-warning
    -#      = alert

    = javascript_include_tag 'static'
    = filepicker_js_include_tag
    -#= tinymce_assets
    = yield(:scripts).present? ? yield(:scripts) : render(partial: 'shared/scripts')
  .modals
:css
  .error{
    color: red;
    float: left;
  }

:javascript
  $(document).ready(function(){
    $(window).scrollTop(0);
  });

